<div class="colored-slider swiper-container @@if(context.customClass){@@customClass}" data-brk-library="component__pricing_table,slider__swiper,component__button">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="brk-pricing-colored">
        <div class="brk-pricing-colored__layer lazyload" data-bg="img/bg-patterns-12.png">
          <div class="brk-pricing-colored__overlay brk-base-bg-gradient-50deg-a"></div>
          <div class="brk-pricing-colored__content text-center">
            <div class="brk-pricing-colored__title font__family-open-sans font__weight-bold">Gold Package</div>
            <div class="brk-pricing-colored__price">
              <span class="font__family-montserrat font__weight-ultralight">$134</span>
              <div class="period font__family-open-sans font__weight-bold @@if(context.customClassPeriod){@@customClassPeriod}">Per Month</div>
            </div>
            <div class="brk-pricing-colored__description font__family-open-sans">
              <ul>
                <li>Express Service</li>
                <li>Customs Clearance</li>
                <li>Time-Critical Services</li>
                <li>Assembly</li>
                <li>Re-distribution</li>
              </ul>
            </div>
            
            <button class="brk-pricing-colored__btn btn font__family-open-sans font__weight-bold">
              <i class="fas fa-shopping-basket"></i>
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="brk-pricing-colored">
        <div class="brk-pricing-colored__layer lazyload" data-bg="img/bg-patterns-12.png">
          <div class="brk-pricing-colored__overlay brk-base-bg-gradient-50deg-a"></div>
          <div class="brk-pricing-colored__content text-center">
            <div class="brk-pricing-colored__title font__family-open-sans font__weight-bold">Gold Package</div>
            <div class="brk-pricing-colored__price">
              <span class="font__family-montserrat font__weight-ultralight">$134</span>
              <div class="period font__family-open-sans font__weight-bold @@if(context.customClassPeriod){@@customClassPeriod}">Per Month</div>
            </div>
            <div class="brk-pricing-colored__description font__family-open-sans">
              <ul>
                <li>Consolidation Services</li>
                <li>Express Service</li>
                <li>Warehousing & Distribution</li>
                <li>Time-Critical Services</li>
                <li>Temperature Control</li>
              </ul>
            </div>
            
            <button class="brk-pricing-colored__btn btn font__family-open-sans font__weight-bold">
              <i class="fas fa-shopping-basket"></i>
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="brk-pricing-colored">
        <div class="brk-pricing-colored__layer lazyload" data-bg="img/bg-patterns-12.png">
          <div class="brk-pricing-colored__overlay brk-base-bg-gradient-50deg-a"></div>
          <div class="brk-pricing-colored__content text-center">
            <div class="brk-pricing-colored__title font__family-open-sans font__weight-bold">Gold Package</div>
            <div class="brk-pricing-colored__price">
              <span class="font__family-montserrat font__weight-ultralight">$134</span>
              <div class="period font__family-open-sans font__weight-bold @@if(context.customClassPeriod){@@customClassPeriod}">Per Month</div>
            </div>
            <div class="brk-pricing-colored__description font__family-open-sans">
              <ul>
                <li>Temperature Control</li>
                <li>E-commerce Solutions</li>
                <li>Express Service</li>
                <li>Direct service</li>
                <li>Rack Storage</li>
              </ul>
            </div>
           
            <button class="brk-pricing-colored__btn btn font__family-open-sans font__weight-bold">
              <i class="fas fa-shopping-basket"></i>
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="brk-pricing-colored">
        <div class="brk-pricing-colored__layer lazyload" data-bg="img/bg-patterns-12.png">
          <div class="brk-pricing-colored__overlay brk-base-bg-gradient-50deg-a"></div>
          <div class="brk-pricing-colored__content text-center">
            <div class="brk-pricing-colored__title font__family-open-sans font__weight-bold">Gold Package</div>
            <div class="brk-pricing-colored__price">
              <span class="font__family-montserrat font__weight-ultralight">$134</span>
              <div class="period font__family-open-sans font__weight-bold @@if(context.customClassPeriod){@@customClassPeriod}">Per Month</div>
            </div>
            <div class="brk-pricing-colored__description font__family-open-sans">
              <ul>
                <li>Time-Critical Services</li>
                <li>Consolidation Services</li>
                <li>Customs Clearance</li>
                <li>Assembly, Re-distribution</li>
                <li>Express Service</li>
              </ul>
            </div>
            
            <button class="brk-pricing-colored__btn btn font__family-open-sans font__weight-bold">
              <i class="fas fa-shopping-basket"></i>
              Buy now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-base-arrow button-prev"><i class="fas fa-long-arrow-alt-left"></i></div>
  <div class="swiper-base-arrow button-next"><i class="fas fa-long-arrow-alt-right"></i></div>
</div>
