<div class="col-lg-4">
  <article class="brk-pricing-rounded text-center @@if(context.customClass){@@customClass}"
           data-brk-library="component__pricing_table,component__button">
    <div class="brk-pricing-rounded__icon">
      <span class="before"></span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.1 121.1">
        <path
                d="M121.1,60.55,117.72,64l2.94,3.84-3.77,3L119.35,75l-4.11,2.55L117.18,82l-4.39,2,1.38,4.63-4.6,1.49.81,4.76-4.74.92.23,4.83-4.82.35-.35,4.82-4.83-.23-.92,4.74-4.76-.81-1.49,4.6-4.63-1.38-2,4.38-4.43-1.93L75,119.35l-4.16-2.45-3,3.76L64,117.72l-3.46,3.38-3.46-3.37-3.84,2.94-3-3.76-4.16,2.45-2.55-4.11-4.43,1.93-2-4.38-4.63,1.38-1.49-4.6-4.77.81-.92-4.74-4.83.23L20,101l-4.82-.35.23-4.83-4.74-.92.81-4.76-4.6-1.49,1.38-4.63L3.92,82l1.93-4.43L1.75,75,4.2,70.88l-3.77-3L3.38,64,0,60.55l3.38-3.46L.44,53.25l3.77-3L1.75,46.06,5.85,43.5,3.92,39.07l4.39-2L6.93,32.4l4.6-1.49-.81-4.76,4.74-.93-.23-4.83L20,20l.35-4.82,4.83.23.92-4.74,4.76.81,1.49-4.6L37,8.3l2-4.38L43.5,5.85l2.55-4.11L50.22,4.2l3-3.77,3.84,2.94L60.55,0,64,3.38,67.85.44l3,3.77L75,1.74,77.6,5.85,82,3.92l2,4.39L88.7,6.93l1.49,4.6L95,10.71l.92,4.74,4.83-.23.35,4.82,4.82.35-.23,4.83,4.74.92-.81,4.77,4.6,1.49L112.8,37l4.38,2-1.93,4.43,4.1,2.55-2.46,4.16,3.77,3-2.94,3.84Z"
                style="fill:var(--brand-primary)"/>
      </svg>
      <i class="fal fa-rocket font__size-36 center-absolute" aria-hidden="true"></i>
      <span class="after"></span>
    </div>

    <div class="brk-pricing-rounded__content brk-base-box-shadow">
      <span class="rd-circl-overlay"></span>
      <div class="rd-view">
        <div class="rd-view__title font__family-open-sans font__weight-bold font__size-16 line__height-24">Bronze Package</div>
        <div class="rd-view__price">
          <span class="font__family-montserrat font__weight-ultralight font__size-56 line__height-56">$124</span>
          <span class="old-price font__family-montserrat font__size-18">$200</span>
        </div>
      </div>

      <div class="rd-description">
        <ul class="rd-description__list font__family-open-sans font__size-14 line__height-48">
          <li>According to schedule</li>
          <li>Schedule a meeting</li>
          <li>Give the green light</li>
          <li>Start from scratch</li>
          <li>Define the phases</li>
        </ul>

        <button class="btn btn-md-2 btn-icon border-radius-25 font__family-open-sans font__weight-bold btn-inside-out">
          <i class="fal fa-shopping-cart icon-inside" aria-hidden="true"></i>
          <span class="before">Buy now</span>
          <span class="text">Buy now</span>
          <span class="after">Buy now</span>
        </button>
      </div>
    </div>
  </article>
</div>

<div class="col-lg-4">
  <article class="brk-pricing-rounded text-center @@if(context.customClass){@@customClass}"
           data-brk-library="component__pricing_table,component__button">
    <div class="brk-pricing-rounded__icon">
      <span class="before"></span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.1 121.1">
        <path
                d="M121.1,60.55,117.72,64l2.94,3.84-3.77,3L119.35,75l-4.11,2.55L117.18,82l-4.39,2,1.38,4.63-4.6,1.49.81,4.76-4.74.92.23,4.83-4.82.35-.35,4.82-4.83-.23-.92,4.74-4.76-.81-1.49,4.6-4.63-1.38-2,4.38-4.43-1.93L75,119.35l-4.16-2.45-3,3.76L64,117.72l-3.46,3.38-3.46-3.37-3.84,2.94-3-3.76-4.16,2.45-2.55-4.11-4.43,1.93-2-4.38-4.63,1.38-1.49-4.6-4.77.81-.92-4.74-4.83.23L20,101l-4.82-.35.23-4.83-4.74-.92.81-4.76-4.6-1.49,1.38-4.63L3.92,82l1.93-4.43L1.75,75,4.2,70.88l-3.77-3L3.38,64,0,60.55l3.38-3.46L.44,53.25l3.77-3L1.75,46.06,5.85,43.5,3.92,39.07l4.39-2L6.93,32.4l4.6-1.49-.81-4.76,4.74-.93-.23-4.83L20,20l.35-4.82,4.83.23.92-4.74,4.76.81,1.49-4.6L37,8.3l2-4.38L43.5,5.85l2.55-4.11L50.22,4.2l3-3.77,3.84,2.94L60.55,0,64,3.38,67.85.44l3,3.77L75,1.74,77.6,5.85,82,3.92l2,4.39L88.7,6.93l1.49,4.6L95,10.71l.92,4.74,4.83-.23.35,4.82,4.82.35-.23,4.83,4.74.92-.81,4.77,4.6,1.49L112.8,37l4.38,2-1.93,4.43,4.1,2.55-2.46,4.16,3.77,3-2.94,3.84Z"
                style="fill:var(--brand-primary)"/>
      </svg>
      <i class="fal fa-trophy font__size-36 center-absolute" aria-hidden="true"></i>
      <span class="after"></span>
    </div>

    <div class="brk-pricing-rounded__content brk-base-box-shadow">
      <span class="rd-circl-overlay"></span>
      <div class="rd-view">
        <div class="rd-view__title font__family-open-sans font__weight-bold font__size-16 line__height-24">Gold Package</div>
        <div class="rd-view__price">
          <span class="font__family-montserrat font__weight-ultralight font__size-56 line__height-56">$156</span>
          <span class="old-price font__family-montserrat font__size-18">$240</span>
        </div>
      </div>

      <div class="rd-description">
        <ul class="rd-description__list font__family-open-sans font__size-14 line__height-48">
          <li>Achieve the target</li>
          <li>Stay on budget</li>
          <li>Wrap up the project</li>
          <li>Outsource a task</li>
          <li>Review the plan</li>
        </ul>

        <button class="btn btn-md-2 btn-icon border-radius-25 font__family-open-sans font__weight-bold btn-inside-out">
          <i class="fal fa-shopping-cart icon-inside" aria-hidden="true"></i>
          <span class="before">Buy now</span>
          <span class="text">Buy now</span>
          <span class="after">Buy now</span>
        </button>
      </div>
    </div>
  </article>
</div>

<div class="col-lg-4">
  <article class="brk-pricing-rounded text-center @@if(context.customClass){@@customClass}"
           data-brk-library="component__pricing_table,component__button">
    <div class="brk-pricing-rounded__icon">
      <span class="before"></span>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 121.1 121.1">
        <path
                d="M121.1,60.55,117.72,64l2.94,3.84-3.77,3L119.35,75l-4.11,2.55L117.18,82l-4.39,2,1.38,4.63-4.6,1.49.81,4.76-4.74.92.23,4.83-4.82.35-.35,4.82-4.83-.23-.92,4.74-4.76-.81-1.49,4.6-4.63-1.38-2,4.38-4.43-1.93L75,119.35l-4.16-2.45-3,3.76L64,117.72l-3.46,3.38-3.46-3.37-3.84,2.94-3-3.76-4.16,2.45-2.55-4.11-4.43,1.93-2-4.38-4.63,1.38-1.49-4.6-4.77.81-.92-4.74-4.83.23L20,101l-4.82-.35.23-4.83-4.74-.92.81-4.76-4.6-1.49,1.38-4.63L3.92,82l1.93-4.43L1.75,75,4.2,70.88l-3.77-3L3.38,64,0,60.55l3.38-3.46L.44,53.25l3.77-3L1.75,46.06,5.85,43.5,3.92,39.07l4.39-2L6.93,32.4l4.6-1.49-.81-4.76,4.74-.93-.23-4.83L20,20l.35-4.82,4.83.23.92-4.74,4.76.81,1.49-4.6L37,8.3l2-4.38L43.5,5.85l2.55-4.11L50.22,4.2l3-3.77,3.84,2.94L60.55,0,64,3.38,67.85.44l3,3.77L75,1.74,77.6,5.85,82,3.92l2,4.39L88.7,6.93l1.49,4.6L95,10.71l.92,4.74,4.83-.23.35,4.82,4.82.35-.23,4.83,4.74.92-.81,4.77,4.6,1.49L112.8,37l4.38,2-1.93,4.43,4.1,2.55-2.46,4.16,3.77,3-2.94,3.84Z"
                style="fill:var(--brand-primary)"/>
      </svg>
      <i class="fal fa-shopping-cart font__size-36 center-absolute" aria-hidden="true"></i>
      <span class="after"></span>
    </div>

    <div class="brk-pricing-rounded__content brk-base-box-shadow">
      <span class="rd-circl-overlay"></span>
      <div class="rd-view">
        <div class="rd-view__title font__family-open-sans font__weight-bold font__size-16 line__height-24">Silver Package</div>
        <div class="rd-view__price">
          <span class="font__family-montserrat font__weight-ultralight font__size-56 line__height-56">$132</span>
          <span class="old-price font__family-montserrat font__size-18">$164</span>
        </div>
      </div>

      <div class="rd-description">
        <ul class="rd-description__list font__family-open-sans font__size-14 line__height-48">
          <li>Outsource a task</li>
          <li>Review the plan</li>
          <li>According to schedule</li>
          <li>Schedule a meeting</li>
          <li>Give the green light</li>
        </ul>

        <button class="btn btn-md-2 btn-icon border-radius-25 font__family-open-sans font__weight-bold btn-inside-out">
          <i class="fal fa-shopping-cart icon-inside" aria-hidden="true"></i>
          <span class="before">Buy now</span>
          <span class="text">Buy now</span>
          <span class="after">Buy now</span>
        </button>
      </div>
    </div>
  </article>
</div>
