<h3 class="font__family-montserrat font__size-21 font__weight-bold text-left mb-35" data-brk-library="component__accordions">02</h3>
<div class="accordion accordion-simple accordion-simple-bg mb-80" role="tablist" aria-multiselectable="true">
	<div class="card expanded">
		<div class="card-header card-header-sm text-left" role="tab" id="headingOne4">
			<span class="card-dash brk-base-bg-gradient-right"></span>
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title brk-base-font-color" data-toggle="collapse" data-parent=".accordion-simple-bg" href="#collapseOne4" aria-expanded="true"
				   aria-controls="collapseOne4">
					<i class="fab fa-delicious"></i> Some accordion
					title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-bg" href="#collapseOne4"
			   aria-expanded="true" aria-controls="collapseOne4">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="collapseOne4" class="collapse show" role="tabpanel" aria-labelledby="headingOne4">
			<div class="card-block text-left font__family-open-sans bg-position_bottom-right bg-norepeat line__height-25"
			     style="background-image: url(img/accordion-bg-image-01.jpg)">
				<div class="row">
					<div class="col-sm-8">
						<p class="mt-1 font__family-open-sans line__height-27 font__size-16">
							Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
							Aliquam lorem ante, dapibus in
						</p>
						<p class="mt-20 font__family-open-sans line__height-27 font__size-16">
							Viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Curabitur ullamcorper
							ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-sm text-left" role="tab" id="headingTwo4">
			<span class="card-dash brk-base-bg-gradient-right"></span>
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title brk-base-font-color" data-toggle="collapse" data-parent=".accordion-simple-bg" href="#collapseTwo4" aria-expanded="true"
				   aria-controls="collapseTwo4">
					<i class="far fa-gem"></i> Some accordion title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-bg" href="#collapseTwo4"
			   aria-expanded="true" aria-controls="collapseTwo4">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="collapseTwo4" class="collapse" role="tabpanel" aria-labelledby="headingTwo4">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-4">
						<img class="mb-10 lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/170_149_1.jpg">
					</div>

					<div class="col-sm-8">
						<p class="mt-1 font__family-open-sans line__height-27 font__size-16">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
							massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
						<p class="mt-30 font__family-open-sans line__height-27 font__size-16">
							Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
							consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-sm text-left" role="tab" id="headingThree4">
			<span class="card-dash brk-base-bg-gradient-right"></span>
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title brk-base-font-color" data-toggle="collapse" data-parent=".accordion-simple-bg" href="#collapseThree4" aria-expanded="true"
				   aria-controls="collapseThree4">
					<i class="fab fa-gg"></i> Some accordion title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-bg" href="#collapseThree4"
			   aria-expanded="true" aria-controls="collapseThree4">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-4">
						<img class="mb-10 lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/170_149_2.jpg">
					</div>

					<div class="col-sm-8">
						<p class="mt-1 font__family-open-sans line__height-27 font__size-16">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
							massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
						<p class="mt-30 font__family-open-sans line__height-27 font__size-16">
							Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
							consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-sm text-left" role="tab" id="headingFour4">
			<span class="card-dash brk-base-bg-gradient-right"></span>
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title brk-base-font-color" data-toggle="collapse" data-parent=".accordion-simple-bg" href="#collapseFour4" aria-expanded="true"
				   aria-controls="collapseFour4">
					<i class="fas fa-cube"></i> Some accordion title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-bg" href="#collapseFour4"
			   aria-expanded="true" aria-controls="collapseFour4">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-4">
						<img class="mb-10 lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/170_149_3.jpg">
					</div>

					<div class="col-sm-8">
						<p class="mt-1 font__family-open-sans line__height-27 font__size-16">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
							massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
						<p class="mt-30 font__family-open-sans line__height-27 font__size-16">
							Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
							consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>