<div class="filmstrip-slider timeline timeline--masonry @@if(context.white === "true"){timeline--masonry_white} @@if(context.customClass){@@customClass}" data-brk-library="component__timelines_css,slider__swiper">
	<div class="filmstrip-slider-container swiper-container">
		<div class="swiper-wrapper">
			<div class="post-filmstrip swiper-slide" data-caption="Feb, 2008">
				<div class="timeline__item">
					<div class="timeline__content text-left brk-dark-font-color">
						<div class="timeline__date">
							<div class="timeline__date-year font__family-montserrat font__size-19 font-weight-bold brk-black-font-color line__height-40">
								Feb, 2008
							</div>
						</div>

						<p class="mt-20 brk-dark-font-color font__family-roboto font__weight-light font__size-15 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
							ante, dapibus in, viverra quis.</p>
          </div>
          @@if(context.imgOverlay){
            <div class="position-relative d-inline-block mt-30 mb-60">
          }
          <img 
            class="@@if(!context.imgOverlay){mt-30} lazyload @@if(context.imgOverlay){my-0}" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="@@if(context.img_1){@@img_1}@@if(!context.img_1){img/timeline/timeline_content_06.jpg}" 
            alt="alt">
          @@if(context.imgOverlay){
            <span class="brk-abs-overlay @@imgOverlay"></span>
            </div>
          }
				</div>
			</div>

			<div class="post-filmstrip swiper-slide" data-caption="Apr, 2009">
				<div class="timeline__item">
					<div class="timeline__content text-left brk-dark-font-color">
						<div class="timeline__date">
							<div class="timeline__date-year font__family-montserrat font__size-19 font-weight-bold brk-black-font-color line__height-40">
								Apr, 2009
							</div>
						</div>

						<p class="mt-20 brk-dark-font-color font__family-roboto font__weight-light font__size-15 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
							ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
          </div>
          @@if(context.imgOverlay){
            <div class="position-relative d-inline-block mt-30 mb-60">
          }
          <img 
            class="@@if(!context.imgOverlay){mt-30} lazyload @@if(context.imgOverlay){my-0}" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="@@if(context.img_2){@@img_2}@@if(!context.img_2){img/timeline/timeline_content_07.jpg}" 
            alt="alt">
          @@if(context.imgOverlay){
            <span class="brk-abs-overlay @@imgOverlay"></span>
            </div>
          }
				</div>
			</div>

			<div class="post-filmstrip swiper-slide" data-caption="Jul, 2011">
				<div class="timeline__item">
					<div class="timeline__content text-left brk-dark-font-color">
						<div class="timeline__date">
							<div class="timeline__date-year font__family-montserrat font__size-19 font-weight-bold brk-black-font-color line__height-40">
								Jul, 2011
							</div>
						</div>

						<p class="mt-20 brk-dark-font-color font__family-roboto font__weight-light font__size-15 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim.</p>
          </div>
          @@if(context.imgOverlay){
            <div class="position-relative d-inline-block mt-30 mb-60">
          }
          <img 
            class="@@if(!context.imgOverlay){mt-30} lazyload @@if(context.imgOverlay){my-0}" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="@@if(context.img_3){@@img_3}@@if(!context.img_3){img/timeline/timeline_content_08.jpg}" 
            alt="alt">
          @@if(context.imgOverlay){
            <span class="brk-abs-overlay @@imgOverlay"></span>
            </div>
          }
				</div>
			</div>

			<div class="post-filmstrip swiper-slide" data-caption="Dec, 2013">
				<div class="timeline__item">
					<div class="timeline__content text-left brk-dark-font-color">
						<div class="timeline__date">
							<div class="timeline__date-year font__family-montserrat font__size-19 font-weight-bold brk-black-font-color line__height-40">
								Dec, 2013
							</div>
						</div>

						<p class="mt-20 brk-dark-font-color font__family-roboto font__weight-light font__size-15 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
							ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
          </div>
          @@if(context.imgOverlay){
            <div class="position-relative d-inline-block mt-30 mb-60">
          }
          <img 
            class="@@if(!context.imgOverlay){mt-30} lazyload @@if(context.imgOverlay){my-0}" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="@@if(context.img_4){@@img_4}@@if(!context.img_4){img/timeline/timeline_content_09.jpg}" 
            alt="alt">
          @@if(context.imgOverlay){
            <span class="brk-abs-overlay @@imgOverlay"></span>
            </div>
          }
				</div>
			</div>
			<div class="post-filmstrip swiper-slide" data-caption="Jan, 2014">
				<div class="timeline__item">
					<div class="timeline__content text-left brk-dark-font-color">
						<div class="timeline__date">
							<div class="timeline__date-year font__family-montserrat font__size-19 font-weight-bold brk-black-font-color line__height-40">
								Jan, 2014
							</div>
						</div>

						<p class="mt-20 brk-dark-font-color font__family-roboto font__weight-light font__size-15 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
							ante, dapibus in, viverra quis.</p>
          </div>
          @@if(context.imgOverlay){
            <div class="position-relative d-inline-block mt-30 mb-60">
          }
          <img 
            class="@@if(!context.imgOverlay){mt-30} lazyload @@if(context.imgOverlay){my-0}" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="@@if(context.img_5){@@img_5}@@if(!context.img_5){img/timeline/timeline_content_06.jpg}" 
            alt="alt">
          @@if(context.imgOverlay){
            <span class="brk-abs-overlay @@imgOverlay"></span>
            </div>
          }
				</div>
			</div>

			<div class="post-filmstrip swiper-slide" data-caption="Nov,2017">
				<div class="timeline__item">
					<div class="timeline__content text-left brk-dark-font-color">
						<div class="timeline__date">
							<div class="timeline__date-year font__family-montserrat font__size-19 font-weight-bold brk-black-font-color line__height-40">
								Nov,2017
							</div>
						</div>

						<p class="mt-20 brk-dark-font-color font__family-roboto font__weight-light font__size-15 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
							ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
          </div>
          @@if(context.imgOverlay){
            <div class="position-relative d-inline-block mt-30 mb-60">
          }
          <img 
            class="@@if(!context.imgOverlay){mt-30} lazyload @@if(context.imgOverlay){my-0}" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="@@if(context.img_6){@@img_6}@@if(!context.img_6){img/timeline/timeline_content_07.jpg}" 
            alt="alt">
          @@if(context.imgOverlay){
            <span class="brk-abs-overlay @@imgOverlay"></span>
            </div>
          }
				</div>
			</div>

			<div class="post-filmstrip swiper-slide" data-caption="Aug, 2018">
				<div class="timeline__item">
					<div class="timeline__content text-left brk-dark-font-color">
						<div class="timeline__date">
							<div class="timeline__date-year font__family-montserrat font__size-19 font-weight-bold brk-black-font-color line__height-40">
								Aug, 2018
							</div>
						</div>

						<p class="mt-20 brk-dark-font-color font__family-roboto font__weight-light font__size-15 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim.</p>
          </div>
          @@if(context.imgOverlay){
            <div class="position-relative d-inline-block mt-30 mb-60">
          }
          <img 
            class="@@if(!context.imgOverlay){mt-30} lazyload @@if(context.imgOverlay){my-0}" 
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
            data-src="@@if(context.img_7){@@img_7}@@if(!context.img_7){img/timeline/timeline_content_08.jpg}" 
            alt="alt">
          @@if(context.imgOverlay){
            <span class="brk-abs-overlay @@imgOverlay"></span>
            </div>
          }
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>