<div class="filmstrip-slider timeline timeline--strict mt-70" data-brk-library="component__timelines_css,slider__swiper,component__button">
	<div class="filmstrip-slider-container swiper-container">
		<div class="swiper-wrapper">
		<div class="post-filmstrip swiper-slide">
			<div class="timeline__item">
				<a href="#" class="timeline__link bg-cover lazyload" data-bg="@@if(context.demo === "true"){img/340x500_1.jpg}@@if(context.demo !== "true"){img/340x500_1.jpg}">
					<span class="overlay brk-base-bg-1"></span>
					<i class="icon fal fa-link"></i>
				</a>
				<div class="timeline__content text-left brk-dark-font-color">
					<div class="timeline__date">
						<div class="timeline__date-year font__family-montserrat-alt font__weight-semibold font__size-19 brk-base-font-color letter-spacing-100 line__height-19">
							1988
						</div>
						<div class="timeline__date-month font__family-oxygen font__weight-medium font__size-14 brk-black-font-color text-uppercase">
							Aug 06
						</div>
					</div>

					<p class="mt-15 font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
						ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
					<a href="#" class="btn btn--square font__family-oxygen font__size-16 brk-base-border-color brk-black-font-color mt-30">Read more <i class="angle brk-base-bg-1"></i></a>
				</div>
			</div>
		</div>

		<div class="post-filmstrip swiper-slide">
			<div class="timeline__item">
				<a href="#" class="timeline__link bg-cover lazyload" data-bg="@@if(context.demo === "true"){img/340x500_2.jpg}@@if(context.demo !== "true"){img/340x500_2.jpg}">
					<span class="overlay brk-base-bg-1"></span>
					<i class="icon fal fa-link"></i>
				</a>
				<div class="timeline__content text-left brk-dark-font-color">
					<div class="timeline__date">
						<div class="timeline__date-year font__family-montserrat-alt font__weight-semibold font__size-19 brk-base-font-color letter-spacing-100 line__height-19">
							1995
						</div>
						<div class="timeline__date-month font__family-oxygen font__weight-medium font__size-14 brk-black-font-color text-uppercase">
							Jan 29
						</div>
					</div>

					<p class="mt-15 font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
						ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
					<a href="#" class="btn btn--square font__family-oxygen font__size-16 brk-base-border-color brk-black-font-color mt-30">Read more <i class="angle brk-base-bg-1"></i></a>
				</div>
			</div>
		</div>

		<div class="post-filmstrip swiper-slide">
			<div class="timeline__item">
				<a href="#" class="timeline__link bg-cover lazyload" data-bg="@@if(context.demo === "true"){img/340x500_1.jpg}@@if(context.demo !== "true"){img/340x500_1.jpg}">
					<span class="overlay brk-base-bg-1"></span>
					<i class="icon fal fa-link"></i>
				</a>
				<div class="timeline__content text-left brk-dark-font-color">
					<div class="timeline__date">
						<div class="timeline__date-year font__family-montserrat-alt font__weight-semibold font__size-19 brk-base-font-color letter-spacing-100 line__height-19">
							2001
						</div>
						<div class="timeline__date-month font__family-oxygen font__weight-medium font__size-14 brk-black-font-color text-uppercase">
							Apr 16
						</div>
					</div>

					<p class="mt-15 font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
						ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
					<a href="#" class="btn btn--square font__family-oxygen font__size-16 brk-base-border-color brk-black-font-color mt-30">Read more <i class="angle brk-base-bg-1"></i></a>
				</div>
			</div>
		</div>

		<div class="post-filmstrip swiper-slide">
			<div class="timeline__item">
				<a href="#" class="timeline__link bg-cover lazyload" data-bg="@@if(context.demo === "true"){img/340x500_2.jpg}@@if(context.demo !== "true"){img/340x500_2.jpg}">
					<span class="overlay brk-base-bg-1"></span>
					<i class="icon fal fa-link"></i>
				</a>
				<div class="timeline__content text-left brk-dark-font-color">
					<div class="timeline__date">
						<div class="timeline__date-year font__family-montserrat-alt font__weight-semibold font__size-19 brk-base-font-color letter-spacing-100 line__height-19">
							2003
						</div>
						<div class="timeline__date-month font__family-oxygen font__weight-medium font__size-14 brk-black-font-color text-uppercase">
							Oct 03
						</div>
					</div>

					<p class="mt-15 font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
						ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
					<a href="#" class="btn btn--square font__family-oxygen font__size-16 brk-base-border-color brk-black-font-color mt-30">Read more <i class="angle brk-base-bg-1"></i></a>
				</div>
			</div>
		</div>

		<div class="post-filmstrip swiper-slide">
			<div class="timeline__item">
				<a href="#" class="timeline__link bg-cover lazyload" data-bg="@@if(context.demo === "true"){img/340x500_1.jpg}@@if(context.demo !== "true"){img/340x500_1.jpg}">
					<span class="overlay brk-base-bg-1"></span>
					<i class="icon fal fa-link"></i>
				</a>
				<div class="timeline__content text-left brk-dark-font-color">
					<div class="timeline__date">
						<div class="timeline__date-year font__family-montserrat-alt font__weight-semibold font__size-19 brk-base-font-color letter-spacing-100 line__height-19">
							2014
						</div>
						<div class="timeline__date-month font__family-oxygen font__weight-medium font__size-14 brk-black-font-color text-uppercase">
							Dec 15
						</div>
					</div>

					<p class="mt-15 font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
						ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
					<a href="#" class="btn btn--square font__family-oxygen font__size-16 brk-base-border-color brk-black-font-color mt-30">Read more <i class="angle brk-base-bg-1"></i></a>
				</div>
			</div>
		</div>

		<div class="post-filmstrip swiper-slide">
			<div class="timeline__item">
				<a href="#" class="timeline__link bg-cover lazyload" data-bg="@@if(context.demo === "true"){img/340x500_2.jpg}@@if(context.demo !== "true"){img/340x500_2.jpg}">
					<span class="overlay brk-base-bg-1"></span>
					<i class="icon fal fa-link"></i>
				</a>
				<div class="timeline__content text-left brk-dark-font-color">
					<div class="timeline__date">
						<div class="timeline__date-year font__family-montserrat-alt font__weight-semibold font__size-19 brk-base-font-color letter-spacing-100 line__height-19">
							2016
						</div>
						<div class="timeline__date-month font__family-oxygen font__weight-medium font__size-14 brk-black-font-color text-uppercase">
							May 11
						</div>
					</div>

					<p class="mt-15 font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
						ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
					<a href="#" class="btn btn--square font__family-oxygen font__size-16 brk-base-border-color brk-black-font-color mt-30">Read more <i class="angle brk-base-bg-1"></i></a>
				</div>
			</div>
		</div>

		<div class="post-filmstrip swiper-slide">
			<div class="timeline__item">
				<a href="#" class="timeline__link bg-cover lazyload" data-bg="@@if(context.demo === "true"){img/340x500_1.jpg}@@if(context.demo !== "true"){img/340x500_1.jpg}">
					<span class="overlay brk-base-bg-1"></span>
					<i class="icon fal fa-link"></i>
				</a>
				<div class="timeline__content text-left brk-dark-font-color">
					<div class="timeline__date">
						<div class="timeline__date-year font__family-montserrat-alt font__weight-semibold font__size-19 brk-base-font-color letter-spacing-100 line__height-19">
							2018
						</div>
						<div class="timeline__date-month font__family-oxygen font__weight-medium font__size-14 brk-black-font-color text-uppercase">
							Aug 26
						</div>
					</div>

					<p class="mt-15 font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim. Aliquam lorem
						ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
					<a href="#" class="btn btn--square font__family-oxygen font__size-16 brk-base-border-color brk-black-font-color mt-30">Read more <i class="angle brk-base-bg-1"></i></a>
				</div>
			</div>
		</div>
	</div>
		<div class="swiper-pagination"></div>
	</div>
</div>