<div class="brk-sc-masonry-one @@class" style="background-image: url(@@background)" data-brk-library="component__shop_masonry">
  <div class="brk-sc-masonry-one__layer">
    <div class="brk-sc-masonry-one__layer--before brk-bg-grad opacity-90"></div>
  </div>
  <div class="brk-sc-masonry-one__container">
    <div class="brk-sc-masonry-one__content brk-white-font-color">
      <div class="brk-sc-masonry-one__title text-center">
        <h4 class="font__family-montserrat font__weight-bold text-uppercase">@@title</h4>
      </div>
      <div class="brk-sc-masonry-one__price font__family-montserrat text-center">@@price</div>
    </div>
    <a href="#" class="brk-sc-masonry-one__link brk-bg-light-blue"><i class="fa fa-shopping-basket brk-white-font-color"></i></a>
  </div>
</div>