<div class="row brk-gutters-10">
  <div class="col-lg-6 pt-10 pb-10">
    <div class="brk-sc-masonry-two brk-sc-masonry_long brk-sc-masonry_main-590" data-brk-library="component__shop_masonry">
      <div class="brk-sc-masonry-two__thumbnail">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             data-src="@@if(context.img_1){@@img_1}@@if(!context.img_1){img/shop-masonry-1.jpg}" class="lazyload" alt="alt">
      </div>
      <div class="brk-sc-masonry-two__container d-flex align-content-between flex-wrap">
        <div class="brk-sc-masonry-two__top-content">
          <a href="#">
            <h4 class="font__family-montserrat font__weight-semibold text-uppercase font__size-25 line__height-27 letter-spacing-40">
              Phantom 3 4k</h4>
          </a>
          <div class="brk-sc-masonry-two__description brk-dark-font-color font__family-roboto font__weight-light">C 3
            drone Phantom 4K each
            able to remove material in the stunning 4K air regardless of whether GPS signal and even fly smokers.
          </div>
        </div>
        <div class="brk-sc-masonry-two__bottom-content">
          <div class="brk-sc-masonry-two__price">
            <div class="old-price font__family-montserrat font__weight-semibold font__size-16 brk-dark-font-color">
              $1750
            </div>
            <div class="price font__family-montserrat font__weight-bold font__size-30">$1550</div>
          </div>

          <div class="brk-sc-masonry-two__links @@if(context.primary !== "true"){brk-sc-masonry-two__links_colored}">
          @@include('../../buttons/templates/buttons.html',{
          "type": "btn-prime",
          "size": "md",
          "text": "More",
          "customClass": "border-radius-5 font__family-montserrat font__weight-bold"
          })

          @@include('../../buttons/templates/buttons.html',{
          "type": "btn-inside-out",
          "size": "md",
          "text": "Buy",
          "text_hover": "Now",
          "customClass": "border-radius-5 font__family-montserrat font__weight-bold",
          "icon": "<i class='fa fa-shopping-bag icon-inside'></i>"
          })

          <a href="#" class="wishlist"><i class="fa fa-heart brk-dark-font-color"></i></a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <div class="row brk-gutters-10">
    <div class="col-12 pt-10 pb-10">
      <div class="brk-sc-masonry-two brk-sc-masonry_long brk-sc-masonry_small-285" data-brk-library="component__shop_masonry">
        <div class="brk-sc-masonry-two__thumbnail">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
               data-src="@@if(context.img_2){@@img_2}@@if(!context.img_2){img/shop-masonry-2.jpg}" class="lazyload" alt="alt">
        </div>
        <div class="brk-sc-masonry-two__container d-flex align-content-between flex-wrap">
          <div class="brk-sc-masonry-two__top-content">
            <a href="#">
              <h4 class="font__family-montserrat font__weight-semibold text-uppercase font__size-16 line__height-27 letter-spacing-60">
                Series 200 Matrice
              </h4>
            </a>
            <div class="brk-sc-masonry-two__description brk-dark-font-color font__family-roboto font__weight-light">
              Drones Matrice 200 series - a universal solution for industrial aerial during inspections, rescue
              operations, etc.
            </div>
          </div>
          <div class="brk-sc-masonry-two__bottom-content">
            <div class="brk-sc-masonry-two__price d-flex flex-wrap align-items-center">
              <div class="price font__family-montserrat font__weight-bold font__size-20">$3400</div>
              <div class="brk-sc-masonry-two__links @@if(context.primary !== "true"){brk-sc-masonry-two__links_colored}">
              @@include('../../buttons/templates/buttons.html',{
              "type": "btn-inside-out",
              "size": "md",
              "text": "Buy",
              "text_hover": "Now",
              "customClass": "border-radius-5 font__family-montserrat font__weight-bold",
              "icon": "<i class='fa fa-shopping-bag icon-inside'></i>"
              })
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-6 pt-10 pb-10">
    <div class="brk-sc-masonry-two brk-sc-masonry_narrow brk-sc-masonry_small-285" data-brk-library="component__shop_masonry">
      <div class="brk-sc-masonry-two__container">
        <div class="brk-sc-masonry-two__thumbnail">
          <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
               data-src="@@if(context.img_3){@@img_3}@@if(!context.img_3){img/shop-masonry-3.png}" class="lazyload" alt="alt">
        </div>
        <div class="brk-sc-masonry-two__layer">
          <div class="brk-sc-masonry-two__title">
            <h4 class="font__family-montserrat font__weight-semibold text-uppercase font__size-16 line__height-27 letter-spacing-60 brk-white-font-color">
              Zenmuse X5S
            </h4>
          </div>
          <div class="brk-sc-masonry-two__description brk-dark-font-color font__family-roboto font__weight-light">
            Drones Matrice 200 series - a universal solution for industrial aerial during inspections, rescue
            operations, etc.
          </div>

          <div class="brk-sc-masonry-two__buy @@if(context.primary !== "true"){brk-sc-masonry-two__buy_colored} d-flex flex-wrap align-items-center">
          <div class="price font__family-montserrat font__weight-bold brk-white-font-color">$320</div>

          @@include('../../buttons/templates/buttons.html',{
          "type": "btn-prime",
          "size": "md",
          "text": "Buy",
          "text_hover": "Now",
          "customClass": "border-radius-5 font__family-montserrat font__weight-bold brk-white-font-color",
          "icon": "<i class='fa fa-shopping-bag'></i>"
          })
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-lg-6 pt-10 pb-10">
  <div class="brk-sc-masonry-two @@if(context.overlay){@@overlay}@@if(!context.overlay){brk-bg-secondary} brk-sc-masonry_narrow brk-sc-masonry_small-285" data-brk-library="component__shop_masonry">
    <div class="brk-sc-masonry-two__container">
      <div class="brk-sc-masonry-two__thumbnail">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
             data-src="@@if(context.img_4){@@img_4}@@if(!context.img_4){img/shop-masonry-4.png}"
        class="lazyload" alt="alt">
      </div>
      <div class="brk-sc-masonry-two__layer">
        <div class="brk-sc-masonry-two__title">
          <h4 class="font__family-montserrat font__weight-semibold text-uppercase font__size-16 line__height-27 letter-spacing-60 brk-white-font-color">
            Phantom Drone
          </h4>
        </div>
        <div class="brk-sc-masonry-two__description brk-dark-font-color font__family-roboto font__weight-light">
          Drones Matrice 200 series - a universal solution for industrial aerial during inspections, rescue operations,
          etc.
        </div>

        <div class="brk-sc-masonry-two__buy @@if(context.primary !== "true"){brk-sc-masonry-two__buy_colored} d-flex flex-wrap align-items-center">
        <div class="price font__family-montserrat font__weight-bold brk-white-font-color">$2100</div>

        @@include('../../buttons/templates/buttons.html',{
        "type": "btn-prime",
        "size": "md",
        "text": "Buy",
        "text_hover": "Now",
        "customClass": "border-radius-5 font__family-montserrat font__weight-bold brk-white-font-color",
        "icon": "<i class='fa fa-shopping-bag'></i>"
        })
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>