<ul class="list-inline-5 @@if(context.customClass){@@customClass}" data-brk-library="component__list">
  <li class="font__family-montserrat font__size-16 font__weight-bold list-counter">
    <span class="before"></span>
    <a href="#">Put a plan into action</a>
    <img src="img/shape-1.png" alt="alt" class="list-shape">
    <span class="after"></span>
  </li>
  <li class="font__family-montserrat font__size-16 font__weight-bold list-counter">
    <span class="before"></span>Achieve the target
    <img src="img/shape-1.png" alt="alt" class="list-shape">
    <span class="after"></span>
  </li>
  <li class="font__family-montserrat font__size-16 font__weight-bold list-counter">
    <span class="before"></span>Wrap up the project
    <img src="img/shape-1.png" alt="alt" class="list-shape">
    <span class="after"></span>
  </li>
  <li class="font__family-montserrat font__size-16 font__weight-bold list-counter">
    <span class="before"></span>According to schedule
    <img src="img/shape-1.png" alt="alt" class="list-shape">
    <span class="after"></span>
  </li>
</ul>