<ul class="list-inline-4 @@if(context.customClass){@@customClass}" data-brk-library="component__list">
  <li class="font__family-montserrat font__size-16">
    <span class="before"></span><a href="#">Boxed & Wide Layouts <i class="icon fa fa-angle-right"></i></a><span class="after"></span>
  </li>
  <li class="font__family-montserrat font__size-16">
    <span class="before"></span>Tons Color Schemes <i class="icon fa fa-angle-right"></i><span class="after"></span>
  </li>
  <li class="font__family-montserrat font__size-16">
    <span class="before"></span>Powerful Performance <i class="icon fa fa-angle-right"></i><span class="after"></span>
  </li>
</ul>