	<ul class="list-inline-2" data-brk-library="component__list">
		<li class="font__family-montserrat font__size-16 font__weight-bold"><a href="#"><span class="text"><span
			class="cirlce"><span class="before"></span><span class="after"></span></span> Some list item name</span></a>
		</li>
		<li class="font__family-montserrat font__size-16 font__weight-bold"><span class="text"><span
			class="cirlce"><span class="before"></span><span class="after"></span></span> Some list item name</span>
		</li>
		<li class="font__family-montserrat font__size-16 font__weight-bold"><span class="text"><span
			class="cirlce"><span class="before"></span><span class="after"></span></span> Some list item name</span>
		</li>
		<li class="font__family-montserrat font__size-16 font__weight-bold"><span class="text"><span
			class="cirlce"><span class="before"></span><span class="after"></span></span> Some list item name</span>
		</li>
		<li class="font__family-montserrat font__size-16 font__weight-bold"><span class="text"><span
			class="cirlce"><span class="before"></span><span class="after"></span></span> Some list item name</span>
		</li>
	</ul>