<footer class="brk-footer position-relative" @@if(context.id){id="@@id"} data-brk-library="component__footer,twitter_init">
  <div class="brk-footer__wrapper pt-40 pb-50 pseudo-border-bottom-3 brk-pseudo-gradient-1 brk-bg-center-cover @@if(context.animated === "true"){brk-footer__wrapper_animated}" @@if(context.img){style="background-image:url('@@img')"}>
    <span class="brk-abs-bg-overlay @@if(context.overlay){@@overlay} @@if(!context.overlay){brk-base-gradient-29}"></span>
    <div class="container">
      <h6 class="brk-white-font-color font__family-montserrat font__size-18 font__weight-semibold text-uppercase letter-spacing-100 mb-35">Tweets</h6>
      <div class="row">
        <div class="col-12">
          <div class="brk-styled-twitter brk-styled-twitter_horizontal brk-styled-twitter_dark-color mb-40">
            <a href="https://twitter.com/We_Nikadevs" class="twitter-timeline" data-tweet-limit="3" data-chrome="noheader,transparent,nofooter,noborders" data-theme="dark"></a>
          </div>
        </div>
      </div>

      <div class="brk-footer__light-bg pt-35 mt-20">
        <div class="row">
          <div class="col-12 col-lg-4">
            <h6 class="font__family-montserrat font__weight-semibold font__size-18 line__height-20 text-uppercase letter-spacing-100 mb-35 text-center text-sm-left">Categories</h6>
            <div class="row">
              <div class="col-12 col-lg-6">
                <nav>
                  <ul class="font__size-14 font__weight-normal line__height-18 brk-angle-list pt-1 text-sm-left text-center">
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Motors (3)</a>
                    </li>
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Boat Parts (12)</a>
                    </li>
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Car Electronics (7)</a>
                    </li>
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Manuals & Literature (2)</a>
                    </li>
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Wholesale Lots (3)</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-12 col-lg-6">
                <nav>
                  <ul class="font__size-14 font__weight-normal line__height-18 brk-angle-list pt-1 text-sm-left text-center">
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Motorcycle Parts (3)</a>
                    </li>
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Watercraft Parts (12)</a>
                    </li>
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Salvage Parts Cars (7)</a>
                    </li>
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Scooter Parts (2)</a>
                    </li>
                    <li class="mb-20">
                      <a href="#" class="brk-angle-list__item"><i class="fa fa-angle-right brk-base-font-color"></i>Other Vehicle Parts (3)</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <h6 class="font__family-montserrat font__weight-semibold font__size-18 line__height-20 text-uppercase letter-spacing-100 mb-35 text-center text-sm-left mt-xs-20">Our Partners</h6>
            @@include('../../widgets/templates/brand-filter.html',{
              "title":"false",
              "customContainerClass":"mb-30",
              "item1img":"",
              "item1text":"logo",
              "item2img":"",
              "item2text":"logo",
              "item3img":"",
              "item3text":"logo",
              "item4img":"",
              "item4text":"logo",
              "item5img":"",
              "item5text":"logo",
              "item6img":"",
              "item6text":"logo",
              "item7img":"",
              "item7text":"logo"
            })
          </div>
          <div class="col-12 col-lg-4">
            <h6 class="font__family-montserrat font__weight-semibold font__size-18 line__height-20 text-uppercase letter-spacing-100 mb-35 text-center text-sm-left mt-xs-20">Featured Items</h6>
            <ul>
              <li class="mb-20">
                @@if(context.demo === "true"){
                  @@include("../../shop-components-cards/templates/mini-card.html",{
                    "priceClass":"brk-base-font-color font__weight-bold",
                    "img": "img/100x100_1.jpg",
                    "title": "Polo shirt"
                  })
                }
                @@if(context.demo !== "true"){
                  @@include("../../shop-components-cards/templates/mini-card.html",{
                    "priceClass":"brk-base-font-color font__weight-bold",
                    "title": "Polo shirt"
                  })
                }
              </li>
              <li class="mb-20">
                @@if(context.demo === "true"){
                  @@include("../../shop-components-cards/templates/mini-card.html",{
                    "priceClass":"brk-base-font-color font__weight-bold",
                    "img": "img/100x100_2.jpg",
                    "title": "Polo shirt"
                  })
                }
                @@if(context.demo !== "true"){
                  @@include("../../shop-components-cards/templates/mini-card.html",{
                    "priceClass":"brk-base-font-color font__weight-bold",
                    "title": "Polo shirt"
                  })
                }
              </li>
            </ul>
          </div>
        </div>
        <hr class="dotted-line mb-20 mb-10">
        <div class="d-flex justify-content-sm-between justify-content-center flex-wrap pb-20 align-items-center">
          <p class="font__family-16 font__weight-normal line__height-18 pl-1 letter-spacing-40">
             © All Rights Reserved
          </p>
          @@include('../../social-links/templates/simple-social-links.html',{
            "socialIcon1":"<i class='fab fa-twitter'></i>",
            "socialIcon2":"<i class='fab fa-instagram'></i>",
            "socialIcon3":"<i class='fab fa-google-plus-g'></i>",
            "socialIcon4":"<i class='fab fa-youtube'></i>",
            "socialIcon5":"<i class='fab fa-vimeo-v'></i>",
            "socialIcon6":"<i class='fab fa-vk'></i>",
            "socialLink6":"",
            "socialIcon7":"",
            "customContainerClass":" brk-social-links_opacity font__size-13"
          })
        </div>
      </div>
    </div>
  </div>
</footer>