<div class="row align-items-center justify-content-center" data-brk-library="component__image_frames">
	<div class="col-lg-4">
    <div class="text-center text-lg-left">
      <a href="#" class="frame-image image-link rounded-all shadow">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/370x370_1.jpg" alt="alt" class="lazyload">
      </a>
    </div>
	</div>
	<div class="col-lg-8 text-center text-lg-left mt-30 mt-lg-0">
		<div class="show-flex align-items-center">
			<img src="img/letter.png" class="mr-20" alt="alt">
			<p class="font__family-open-sans font__size-16 line__height-26 @@if(context.textColor){@@textColor}@@if(!context.textColor){text-gray-light}">Aenean vulputate eleifend
				tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
				viverra quis, feugiat a, tellus.</p>
		</div>
		<div class="ml-30">
			<h2 class="font__family-montserrat font__weight-bold font__size-28 line__height-32 text-uppercase mt-30 @@if(context.titleColor){@@titleColor}@@if(!context.titleColor){text-gray-light}">Be
				Awesome & Be creative!</h2>
			<p class="font__family-open-sans font__size-16 line__height-26 mt-20 @@if(context.textColor){@@textColor}@@if(!context.textColor){text-gray-light}">
				Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
				Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
				laoreet. Quisque rutrum. Aenean imperdiet.
			</p>
      @@include("../../buttons/templates/buttons.html",{
        "type":"btn-prime",
        "customClass":"border-radius-30 font__weight-bold ml-0 mr-0 mt-30"
      })
		</div>
	</div>
</div>