<div class="row align-items-center justify-content-center" data-brk-library="component__image_frames">
  <div class="col-lg-4">
    <div class="text-center text-lg-left">
      <a href="#" class="frame-image image-link rounded-bottom-left shadow">
        <img src="img/370x370_1.jpg" alt="alt">
      </a>
    </div>
  </div>
  <div class="col-lg-8 text-center text-lg-left mt-30">
    <h2 class="font__family-montserrat font__weight-light font__size-36 line__height-42">Engaging, purposeful</h2>
    <h2 class="font__family-montserrat font__weight-bold font__size-36 line__height-42">& Creative</h2>
    <p class="font__family-open-sans font__size-15 line__height-24 text-gray-light mt-20">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim.
      <br>
      <br> Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
      vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
      nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.
    </p>
    @@include("../../buttons/templates/buttons.html",{ 
      "type":"btn-inside-out", 
      "text":"read more", 
      "customClass":" border-radius-25 font__weight-bold ml-0 mr-0 mt-30 btn-min-width-200" 
    })
  </div>
</div>