<div class="brk-tabs brk-tabs_tabbed-filter" data-index="1" data-brk-library="component__tabbed_contents">
  <ul class="brk-tabs-nav @@if(context.navDark === 'true'){brk-tabs-nav_dark}">
    <li class="brk-tab"><i class="far fa-gem" aria-hidden="true"></i><span>Diamond</span></li>
    <li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>Delicious</span></li>
    <li class="brk-tab"><i class="fab fa-gg" aria-hidden="true"></i><span>G & G</span></li>
    <li class="brk-tab"><i class="fab fa-codepen" aria-hidden="true"></i><span>Codepen</span></li>
  </ul>
  <div class="brk-tabs-content position-relative @@if(context.style){@@style} @@if(!context.bg){brk-bgi-3}" @@if(context.bg){style="background-image:url(@@bg);"}>

    @@if(!context.arr) {
    <div class="brk-tab-item">
			<div class="container">
				<div class="row">
					<div class="col-xl-4">
						<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">Foundation of the company</h4>
						<p class="font__size-16 line__height-26 text-xl-left text-center">Viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
					</div>
					<div class="col-xl-4">
						<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">Promoting products and services</h4>
						<p class="font__size-16 line__height-26 text-xl-left text-center mb-30">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
					</div>
					<div class="col-xl-4">
            <div class="text-center text-xl-left">
              <a href="img/320x320_1.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/320x320_1.jpg" alt="alt" class="lazyload">
                <span class="square"></span>
              </a>
            </div>
					</div>
				</div>
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				<div class="row">
					<div class="col-xl-4">
						<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">Foundation of the company</h4>
						<p class="font__size-16 line__height-26 text-xl-left text-center">Viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
					</div>
					<div class="col-xl-4">
						<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">Promoting products and services</h4>
						<p class="font__size-16 line__height-26 text-xl-left text-center mb-30">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
					</div>
					<div class="col-xl-4">
            <div class="text-center text-xl-left">
              <a href="img/320x320_2.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/320x320_2.jpg" alt="alt" class="lazyload">
                <span class="square"></span>
              </a>
            </div>
					</div>
				</div>
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				@@include("../../image-frames/templates/double-v1.html")
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-4">
						@@include("../../image-frames/templates/borders-v4-1.html")
					</div>
					<div class="col-sm-6 col-lg-4">
						@@include("../../image-frames/templates/borders-v4-2.html")
					</div>
					<div class="col-sm-6 col-lg-4">
             @@include("../../image-frames/templates/borders-v4-3.html")
					</div>
				</div>
			</div>
    </div>
    }
    @@if(context.arr) {
    @@for (var i = 0; i < arr.length; i++) {
    <div class="brk-tab-item">
      <div class="container">
        <div class="row">
          <div class="col-xl-4">
            <h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">`+arr[i].title1+`</h4>
            <p class="font__size-16 line__height-26 text-xl-left text-center">`+arr[i].text1+`</p>
          </div>
          <div class="col-xl-4">
            <h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">`+arr[i].title2+`</h4>
            <p class="font__size-16 line__height-26 text-xl-left text-center mb-30">`+arr[i].text2+`</p>
          </div>
          <div class="col-xl-4">
            <div class="text-center text-xl-left">
              <a href="`+arr[i].img+`" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="`+arr[i].img+`" alt="alt" class="lazyload">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    }}

    <div class="@@if(!context.gradientStyle){brk-base-bg-gradient-14 brk-layer position-absolute opacity-90}@@if(context.gradientStyle){@@gradientStyle}"></div>
  </div>
</div>