<div class="brk-tabs brk-tabs_tabbed-large-icon" data-index="1" data-brk-library="component__tabbed_contents">
  <ul class="brk-tabs-nav">
    <li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>Delicious</span></li>
    <li class="brk-tab"><i class="far fa-gem" aria-hidden="true"></i><span>Diamond</span></li>
    <li class="brk-tab"><i class="fab fa-gg" aria-hidden="true"></i><span>G & G</span></li>
    <li class="brk-tab"><i class="fab fa-codepen" aria-hidden="true"></i><span>Codepen</span></li>
    <li class="brk-tab"><i class="fa fa-cube" aria-hidden="true"></i><span>Cube</span></li>
  </ul>
  <div class="brk-tabs-content brk-base-bg-gradient-5 brk-bgi-3">
    <div class="brk-tab-item">
			<div class="container">
				@@include("../../image-frames/templates/rounded-corner.html")
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				@@include("../../image-frames/templates/double-v1.html")
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-4">
						@@include("../../image-frames/templates/borders-v4-1.html")
					</div>
					<div class="col-sm-6 col-lg-4">
						@@include("../../image-frames/templates/borders-v4-2.html")
					</div>
					<div class="col-sm-6 col-lg-4">
						@@include("../../image-frames/templates/borders-v4-3.html")
					</div>
				</div>
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				@@include("../../image-frames/templates/circle.html")
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				@@include("../../image-frames/templates/rounded-corner.html")
			</div>
    </div>
  </div>
</div>