<section>
    <div class="container mt-80 mb-60">
        <div class="row brk-gutters-5">
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_1.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_2.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_3.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_4.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_4.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_3.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_2.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_1.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_2.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_3.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_4.jpg" })
            </div>
            <div class="col-md-4 col-sm-6 col-lg-3 col-12 mb-10">
                @@include("../../portfolio-grid/templates/card.html",{ "imgSrc":"img/285x380_1.jpg" })
            </div>
        </div>
    </div>
</section>