<div class="slider-dark arrows-dark slick-loading fa-req" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": true, "autoplay": true, "autoplaySpeed": 3500}' data-brk-library="slider__slick">
  <div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/570x350_1.jpg" alt="alt" class="lazyload">
  </div>
  <div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/570x350_2.jpg" alt="alt" class="lazyload">
  </div>
  <div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/570x350_3.jpg" alt="alt" class="lazyload">
  </div>
  <div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/570x350_4.jpg" alt="alt" class="lazyload">
  </div>
</div>
