<div class="brk-carousel brk-carousel_project" data-brk-library="slider__slick,component__sliders">

  <div class="brk-carousel__bg">
    <div class="container">
      <div class="brk-carousel__items">
        <div class="brk-carousel__img-container">
          <img class="brk-carousel__img" src="img/portfolio-page/carousel-img.png" alt="alt">
        </div>
        <div class="brk-carousel__img-container">
          <img class="brk-carousel__img" src="img/portfolio-page/carousel-img.png" alt="alt">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="brk-carousel__about">

      <div class="brk-carousel__control">
        <div class="brk-carousel__btn-prev">
          <i class="fal fa-angle-left brk-carousel__btn-prev-icon"></i>
        </div>
        <span class="brk-carousel__current font__family-montserrat"></span>
        <span class="brk-carousel__count font__family-montserrat font__size-12 font__family-normal line__height-12 "></span>
        <div class="brk-carousel__btn-next">
          <i class="fal fa-angle-right  brk-carousel__btn-next-icon"></i>
        </div>
      </div>
      <div>
        <h2 class="text-uppercase brk-dark-font-color font__family-open-sans font__size-12 font__weight-normal letter-spacing-40 line__height-24">
          Duration</h2>
        <p class="font__family-open-sans font__weight-bold line__height-14 font__size-14 letter-spacing-40">
          12 Days</p>
        <p class="font__family-open-sans font__weight-semibold font__size-13 line__height-12 letter-spacing-40 mb-10">
          22.12.2018</p>
      </div>
      <div>
        <h2 class="text-uppercase brk-dark-font-color font__family-open-sans font__size-12 font__weight-normal letter-spacing-40 line__height-24">
          Budget</h2>
        <p class="font__family-open-sans font__weight-bold line__height-14 font__size-14 letter-spacing-40">
          $15 240</p>
        <p class="font__family-open-sans font__weight-semibold font__size-13 line__height-12 letter-spacing-40 mb-10">
          Sponsored</p>
      </div>
      <div>
        <h2 class="text-uppercase brk-dark-font-color font__family-open-sans font__size-12 font__weight-normal letter-spacing-40 line__height-24">
          Model</h2>
        <p class="font__family-open-sans font__weight-bold line__height-14 font__size-14 letter-spacing-40">
          Han Chue</p>
        <p class="font__family-open-sans font__weight-semibold font__size-13 line__height-12 letter-spacing-40 mb-10">
          Professional</p>
      </div>
      <div>
        <h2 class="text-uppercase brk-dark-font-color font__family-open-sans font__size-12 font__weight-normal letter-spacing-40 line__height-24">
          Photographer</h2>
        <p class="font__family-open-sans font__weight-bold line__height-14 font__size-14 letter-spacing-40">
          Mike Hogan</p>
        <p class="font__family-open-sans font__weight-semibold font__size-13 line__height-12 letter-spacing-40 mb-10">
          Amateur</p>
      </div>

      <a href="#" class="btn btn-lg brk-white-font-color  border-radius-0 font__family-montserrat font__size-14 font__weight-light btn-gradient">
        <span>View project</span>
        <i class="fal fa-angle-right icon"></i>
        <span class="after"></span>
      </a>



    </div>
  </div>


</div>