<div class="rotation-slider-min brk-services-slider-1 dots-base-skin dots-base-color slick-loading fa-req @@if(context.customClass){@@customClass}" 
  data-slick='{"slidesToShow": 5, "slidesToScroll": 1, "infinite": false, "dots": true,
              "responsive": [
              {"breakpoint": 1700, "settings": {"slidesToShow": 4}},
              {"breakpoint": 1500, "settings": {"slidesToShow": 3}},
              {"breakpoint": 1300, "settings": {"slidesToShow": 2}},
              {"breakpoint": 750, "settings": {"slidesToShow": 1}}
              ], "autoplay": true, "autoplaySpeed": 3000}'
     data-brk-library="slider__slick,component__services">
  <div>
    @@include('../../services/templates/architecture-bg.html',{
      "title": "36 Employees",
      "description": "Vestibulum fringilla pede sit amet augue. In turpis ntesque posuere. Praesent turpis. ",
      "icon": "far fa-thumbs-up",
      "titleStyle": "brk-white-font-color font__family-montserrat font__size-18 font__weight-bold text-uppercase line__height-24 mb-15",
      "descriptionStyle": "brk-white-font-color opacity-60 font__size-14 font__weight-normal line__height-24",
      "bg": "345x200_1.jpg",
      "overlay": "brk-bg-gradient-0deg-90",
      "wide": "true"
    })
  </div>
  <div>
    @@include('../../services/templates/architecture-bg.html',{
      "title": "36 Employees",
      "description": "Vestibulum fringilla pede sit amet augue. In turpis ntesque posuere. Praesent turpis. ",
      "icon": "fas fa-truck",
      "titleStyle": "brk-black-font-color font__family-montserrat font__size-18 font__weight-bold text-uppercase line__height-24 mb-15",
      "descriptionStyle": "brk-dark-font-color opacity-60 font__size-14 font__weight-normal line__height-24",
      "overlay": "false",
      "wide": "true"
    })
  </div>
  <div>
    @@include('../../services/templates/architecture-bg.html',{
      "title": "36 Employees",
      "description": "Vestibulum fringilla pede sit amet augue. In turpis ntesque posuere. Praesent turpis. ",
      "icon": "far fa-map",
      "titleStyle": "brk-white-font-color font__family-montserrat font__size-18 font__weight-bold text-uppercase line__height-24 mb-15",
      "descriptionStyle": "brk-white-font-color opacity-60 font__size-14 font__weight-normal line__height-24",
      "bg": "345x200_2.jpg",
      "overlay": "brk-bg-gradient-0deg-90",
      "wide": "true"
    })
  </div>
  <div>
    @@include('../../services/templates/architecture-bg.html',{
      "title": "36 Employees",
      "description": "Vestibulum fringilla pede sit amet augue. In turpis ntesque posuere. Praesent turpis. ",
      "icon": "far fa-chart-bar",
      "titleStyle": "brk-black-font-color font__family-montserrat font__size-18 font__weight-bold text-uppercase line__height-24 mb-15",
      "descriptionStyle": "brk-dark-font-color opacity-60 font__size-14 font__weight-normal line__height-24",
      "overlay": "false",
      "wide": "true"
    })
  </div>
  <div>
    @@include('../../services/templates/architecture-bg.html',{
      "title": "36 Employees",
      "description": "Vestibulum fringilla pede sit amet augue. In turpis ntesque posuere. Praesent turpis. ",
      "icon": "far fa-credit-card",
      "titleStyle": "brk-white-font-color font__family-montserrat font__size-18 font__weight-bold text-uppercase line__height-24 mb-15",
      "descriptionStyle": "brk-white-font-color opacity-60 font__size-14 font__weight-normal line__height-24",
      "bg": "345x200_3.jpg",
      "overlay": "brk-bg-gradient-0deg-90",
      "wide": "true"
    })
  </div>
  <div>
    @@include('../../services/templates/architecture-bg.html',{
      "title": "36 Employees",
      "description": "Vestibulum fringilla pede sit amet augue. In turpis ntesque posuere. Praesent turpis. ",
      "icon": "far fa-map",
      "titleStyle": "brk-black-font-color font__family-montserrat font__size-18 font__weight-bold text-uppercase line__height-24 mb-15",
      "descriptionStyle": "brk-dark-font-color opacity-60 font__size-14 font__weight-normal line__height-24",
      "overlay": "false",
      "wide": "true"
    })
  </div>
</div>
