<div class="slider-thumbnailed-full height-100vh" data-brk-library="slider__swiper">
  <div class="swiper-container slider-thumbnailed-full-for" data-brk-swiper='{"autoplay": {"delay": 4500}}'>
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_1.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_2.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_3.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_4.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_5.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_1.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_2.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_3.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_4.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/1920x1080_5.jpg"></div>
    </div>
    <!-- Add Arrows -->
    <div class="slider-thumbnailed-full-prev">Prev</div>
    <div class="slider-thumbnailed-full-next">Next</div>
  </div>

  <div class="slider-thumbnailed-full-nav">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url(img/120x80_2.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/120x80_6.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/120x80_3.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/120x80_7.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/120x80_1.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/120x80_2.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/120x80_6.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/120x80_3.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/120x80_7.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/120x80_1.jpg)"></div>
      </div>
    </div>
  </div>
</div>