<div class="slider-thumbnailed-full" data-brk-library="slider__swiper">
  <div class="swiper-container slider-thumbnailed-full-for" data-brk-swiper='{"autoplay": {"delay": 4500}}'>
    <div class="swiper-wrapper">
      <div class="swiper-slide swiper-lazy" data-background="img/gallary/1.jpg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/gallary/pexels-photo-307847.jpeg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/gallary/pexels-photo-314380.jpeg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/gallary/pexels-photo-323311.jpeg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/gallary/pexels-photo-368893.jpeg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/gallary/pexels-photo-373934.jpeg"></div>
      <div class="swiper-slide swiper-lazy" data-background="img/gallary/pexels-photo-297814.jpeg"></div>
    </div>
    <!-- Add Arrows -->
    <div class="slider-thumbnailed-full-prev">Prev</div>
    <div class="slider-thumbnailed-full-next">Next</div>
  </div>

  <div class="slider-thumbnailed-full-nav">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image:url(img/gallary/1-120.jpg)"></div>
        <div class="swiper-slide" style="background-image:url(img/gallary/pexels-photo-307847-120.jpeg)"></div>
        <div class="swiper-slide" style="background-image:url(img/gallary/pexels-photo-314380-120.jpeg)"></div>
        <div class="swiper-slide" style="background-image:url(img/gallary/pexels-photo-323311-120.jpeg)"></div>
        <div class="swiper-slide" style="background-image:url(img/gallary/pexels-photo-368893-120.jpeg)"></div>
        <div class="swiper-slide" style="background-image:url(img/gallary/pexels-photo-373934-120.jpeg)"></div>
        <div class="swiper-slide" style="background-image:url(img/gallary/pexels-photo-297814-120.jpeg)"></div>
      </div>
    </div>
  </div>
</div>
