<div class="brk-map brk-map_extra" data-height="420" data-brk-library="component__map">

  <div class="brk-map__canvas" data-address="412 Throop Ave, Brooklyn, NY 11221, USA" data-zoom="13" data-type="roadmap" data-marker="img/gm-3.png"
    data-offset-lat="" data-offset-lng="" data-style="silver" data-info-window=".info-map">
  </div>

  <div class="brk-map__subscribe brk-bg-grad">
    <div class="font__family-montserrat font__size-28 font__weight-light text-uppercase mb-35">Subscribe
      <span class="font__weight-bold">Now</span>
    </div>
    <form name="subscribe" action="#">
      <div class="brk-subscribe brk-subscribe-map">
        <input name="email" type="email" placeholder="enter-your@mail.com">
        <button type="submit">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </button>
      </div>
    </form>
    <ul class="brk-map__subscribe--contacts mt-20">
      <li>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <a href="mailto:info@domain.com">info@domain.com</a>
      </li>
      <li>
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span>Chicago, USA</span>
      </li>
      <li>
        <i class="fa fa-comments" aria-hidden="true"></i>
        <span>Contact Us</span>
      </li>
      <li>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <a href="tel:88001234567">8 800 12 34 567</a>
      </li>
    </ul>
  </div>

  <div class="info-map">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, distinctio, illum modi aspernatur fugiat iste!</div>
</div>