<div class="brk-map" data-height="350" data-brk-library="component__map">

  <div class="brk-map__opener brk-map__opener_simple font__family-montserrat font__weight-medium font__size-16">
    <span>Find Us</span>
    <div class="trigger">
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </div>
  </div>

  <div class="brk-map__section">
    <div class="brk-map__canvas" data-address="412 Throop Ave, Brooklyn, NY 11221, USA" data-zoom="13" data-type="roadmap" data-style="silver"
      data-info-window=".info-map">
    </div>
  </div>

  <div class="info-map">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, distinctio, illum modi aspernatur fugiat iste!</div>
</div>