<div class="brk-map @@if(context.customClass){@@customClass}" data-height="@@if(context.height){@@height}@@if(!context.height){433}" data-brk-library="component__map">

  <div class="brk-map__section">
    <div class="brk-map__canvas" data-address="412 Throop Ave, Brooklyn, NY 11221, USA" data-zoom="13" data-type="roadmap"
      data-marker="" data-offset-lat="-0.003" data-offset-lng="-0.0065" data-style="silver">
    </div>
  </div>

  <div class="brk-map__infoicon brk-map__infoicon_layout-five">
    <span class="marker">
      <img src="img/letter-white-mini.png" alt="alt">
    </span>
    <div class="brk-map__infoicon--text text-left">
      <h4 class="font__size-14 line__height-21">71 Pilgrim Avenue
        <br> Chevy Chase, MD 20815</h4>
    </div>
  </div>
</div>