<a href="/@@link" class="@@if(context.fullWidth === 'true'){col-12}@@if(context.fullWidth !== 'true'){col-6} brk-theme-options-pathname nohash-animat">
  <div class="brk-theme-options__check @@if(context.min === 'true'){brk-theme-options__check_60}@@if(context.min !== 'true'){brk-theme-options__check_120}"
       data-brk-bg-check="@@if(context.demo !== 'true'){@@img}@@if(context.demo ==='true'){../@@img}">
    <div class="brk-theme-options__before"><i class="fal fa-check"></i></div>
  </div>
</a>