<div class="brk-post-preview" data-brk-library="component__blog_page_css">
  <div class="brk-post-preview__img-wrapper">
    <img src="@@img-src" alt="alt" class="brk-post-preview__img">
    <div class="brk-post-preview__overlay brk-base-bg-gradient-10deg"></div>
    <a href="#" class="brk-post-preview__link font__family-open-sans fotn__size-16 font__weight-bold line__height-16 text-uppercase letter-spacing-40">
      Read More
    </a>
  </div>
  <div class="brk-post-preview__info text-center">
    <h6 class="font__family-montserrat font__size-19 font__weight-bold line__height-20 mb-20">@@title</h6>
    <p class="brk-dark-font-color font__family-open-sans font__size-16 line__height-28">
       @@info
    </p>
  </div>
</div>