<div class="brk-reply-item" data-brk-library="component__blog_page_css">
    @@include('../../forum-post/templates/post-header.html')
    <p class="brk-dark-font-color font__family-open-sans font__size-16 line__height-26">
        Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. 
    </p>
</div>