<div class="bg__style overlay__white mt-40" style="background-image: url(img/1920x440_1.jpg);">
  <div class="container">
    <div class="countdown__wrapper countdown__circle pt-70 pb-70" data-brk-library="component__countdown">
      <div class="countdown" data-format="
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-light countdown__amount day'>
                    %D
                    <div class='svg-wrap'>
                      <svg>
                        <circle stroke='url(#stroke_grad_1)' cx='103' cy='103' r='103' stroke-dashoffset='0'></circle>
                        <defs>
                          <linearGradient id='stroke_grad_1' x1='0%' y1='0%' x2='100%' y2='0%'>
                            <stop offset='0%'   stop-color='var(--brand-primary)'/>
                            <stop offset='100%' stop-color='var(--secondary)'/>
                          </linearGradient>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Days</span>
                </div>

                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-light countdown__amount hour'>
                    %H
                    <div class='svg-wrap'>
                      <svg>
                        <circle stroke='url(#stroke_grad_2)' cx='103' cy='103' r='103' stroke-dashoffset='0'></circle>
                        <defs>
                          <linearGradient id='stroke_grad_2' x1='0%' y1='0%' x2='100%' y2='0%'>
                            <stop offset='0%'   stop-color='var(--brand-primary)'/>
                            <stop offset='100%' stop-color='var(--secondary)'/>
                          </linearGradient>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Hours</span>
                </div>

                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-light countdown__amount min'>
                    %M
                    <div class='svg-wrap'>
                      <svg>
                        <circle stroke='url(#stroke_grad_3)' cx='103' cy='103' r='103' stroke-dashoffset='0'></circle>
                        <defs>
                          <linearGradient id='stroke_grad_3' x1='0%' y1='0%' x2='100%' y2='0%'>
                            <stop offset='0%'   stop-color='var(--brand-primary)'/>
                            <stop offset='100%' stop-color='var(--secondary)'/>
                          </linearGradient>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Minutes</span>
                </div>

                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-light countdown__amount sec'>
                    %S
                    <div class='svg-wrap'>
                      <svg>
                        <circle stroke='url(#stroke_grad_4)' cx='103' cy='103' r='103' stroke-dashoffset='0'></circle>
                        <defs>
                          <linearGradient id='stroke_grad_4' x1='0%' y1='0%' x2='100%' y2='0%'>
                            <stop offset='0%'   stop-color='var(--brand-primary)'/>
                            <stop offset='100%' stop-color='var(--secondary)'/>
                          </linearGradient>
                        </defs>
                      </svg>
                    </div>
                  </div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Seconds</span>
                </div>
              " data-type="until" data-time=""></div>
      <!-- 2018/12/31 12:00:00 data format -->
    </div>
  </div>
</div>