<div class="countdown__wrapper countdown__light @@if(context.white === "true"){countdown__light_white} @@if(context.customPadding){@@customPadding} @@if(!context.customPadding){pt-100 pb-100 pt-md-160 pb-md-160}" data-brk-library="component__countdown">
  <div class="countdown" data-format="
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%D</div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Days</span>
                  <span class='symbol'>:</span>
                </div>
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%H</div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Hours</span>
                  <span class='symbol'>:</span>
                </div>
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%M</div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Minutes</span>
                  <span class='symbol'>:</span>
                </div>
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%S</div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Seconds</span>
                  <span class='symbol'>:</span>
                </div>
              " data-type="until" data-time=""></div>
             <!-- 2018/12/31/12:00 data format -->
              
</div>