<section>
				<div class="bg__style overlay__gradient all-light pt-10" style="background-image: url(img/1920x327_1.jpg);" data-brk-library="component__call_to_action">
					<div class="container">
						<div class="cfa__wrapper cfa__email pt-70 pb-70 maxw-770 text-center">
							<h4 class="font__family-montserrat font__size-24 font__weight-bold text-uppercase">Call for action Block heading title goes here</h4>
							<p class="font__family-open-sans font__size-14 font__weight-light text-gray" style="color: #AFB4EC;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor nean massa. Cum sociis natoque penatibus et magnis dis parturient mnsectetes.</p>
							<form action="#" class="subscr__form brk-subscribe-mail"><input autocomplete="off" required type="email" name="EMAIL" id="email" class="form-control" placeholder="Your mail">
								<div><button type="submit" class="btn-subscr fa fa-paper-plane"></button></div>
							</form>
						</div>
					</div><span class="brk-abs-overlay brk-base-bg-gradient-90deg"></span>
				</div>
			</section>