<section>
  <div class="bg__style overlay__gradient all-light lazyload" style="background-image: url(img/1920_174_1.jpg)" data-brk-library="component__call_to_action">
				<div class="container">
					<div class="cfa__wrapper cfa__hot pt-50 pb-50 pl-20 pr-20">
						<div><span class="font__family-open-sans font__size-13 font__weight-bold hot-panel">HOT!</span></div>
						<h4 class="font__family-montserrat font__size-25 font__weight-bold text-uppercase">CALL FOR ACTION <span class="font__weight-ultralight">BLOCK HEADING TITLE GOES HERE</span></h4><a href="javascript:void(0)" class="btn btn-inside-out btn-lg btn-inside-out-invert border-radius-25 font__family-open-sans font__weight-bold btn-min-width-200" data-brk-library="component__button"><span class="before">buy now</span><span class="text">Purchase</span><span class="after">buy now</span></a>
					</div>
				</div>
				<div class="brk-abs-overlay brk-base-bg-gradient-14 opacity-87"></div>
			</div>
</section>