<section>
				<div class="bg__style overlay__gradient delimiter__angle pt-100" style="background-image: url(img/bg-1920_2.jpg);" data-brk-library="component__delimiters"><span class="overlay__delimiter-before"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 162">
							<defs>
								<style>.a3 {
            fill: url(#a3);
          }

          .a3,
          .b3 {
            fill-rule: evenodd;
          }

          .b3 {
            fill: #fff;
          }</style>
								<linearGradient id="a3" y1="240" x2="1787" y2="240" gradientUnits="userSpaceOnUse">
									<stop offset="0%" stop-color="var(--brk-base-5)" />
									<stop offset="50%" stop-color="var(--brk-base-2)" />
								</linearGradient>
							</defs>
							<polygon class="a3" points="1548 0 0 103 0 162 1920 162 1920 90.93 1548 0" />
							<path class="b3" d="M1548,0l372,135v27H0Z" />
						</svg> </span><span class="overlay__delimiter-after brk-base-bg-gradient-2"></span>
					<div class="container all-light">
						<div class="row align-items-center">
							<div class="col-md-4">
								<div class="text-center text-xl-left z-index-high">
									<div class="inline-wrap inline-wrap-second"><button class="icon__btn icon__btn-anim icon__btn-center icon__btn-md_1 flex-lg-last mr-20 icon__btn-svg" data-brk-library="component__button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.21 65.21">
												<defs>
													<style>.a {
                      fill: url(#i1);
                    }</style>
													<linearGradient id="i1" y1="65" y2="0" gradientUnits="userSpaceOnUse">
														<stop offset="0%" stop-color="var(--brk-base-5)" />
														<stop offset="50%" stop-color="var(--brk-base-2)" />
													</linearGradient>
												</defs>
												<path class="a" d="M65.21,32.6l-1.82,1.86L65,36.53l-2,1.63,1.32,2.24-2.21,1.37,1,2.39-2.36,1.1.74,2.5-2.48.8.44,2.57-2.55.5.12,2.6-2.6.19L54.22,57l-2.6-.12-.5,2.55L48.56,59l-.8,2.48-2.49-.74-1.1,2.36-2.39-1-1.37,2.21-2.24-1.32-1.63,2-2.07-1.58L32.6,65.21l-1.86-1.82L28.67,65l-1.63-2L24.8,64.27l-1.37-2.21L21,63.1l-1.1-2.36-2.49.74L16.65,59l-2.57.44-.5-2.55L11,57l-.19-2.6-2.6-.19.12-2.6-2.55-.5.44-2.57-2.48-.8.74-2.49-2.36-1.1,1-2.39L.94,40.41l1.32-2.24-2-1.63,1.58-2.07L0,32.6l1.82-1.86L.23,28.67l2-1.63L.94,24.8l2.21-1.38L2.11,21l2.36-1.1-.74-2.5,2.48-.8-.44-2.57,2.55-.5L8.2,11l2.6-.19L11,8.2l2.6.13.5-2.55,2.57.44.8-2.48,2.49.74L21,2.11l2.39,1L24.8.94,27,2.26l1.63-2,2.07,1.58L32.6,0l1.86,1.82L36.53.23l1.63,2L40.41.94l1.37,2.21,2.39-1,1.1,2.36,2.49-.74.8,2.48,2.57-.44.5,2.55,2.6-.13.19,2.6L57,11l-.12,2.6,2.55.5L59,16.65l2.48.8-.74,2.5L63.1,21l-1,2.39,2.21,1.37L62.95,27l2,1.63-1.58,2.07Z" />
											</svg> <i class="icon fal fa-magic" aria-hidden="true"></i></button>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Put a plan into action</h4>
										</div>
									</div>
								</div>
								<div class="text-center text-xl-left z-index-high">
									<div class="inline-wrap inline-wrap-second align-items-start">
										<div>
											<p class="font__family-open-sans font__size-16 line__height-26 text-gray mt-3 mb-5">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="text-center text-xl-left z-index-high">
									<div class="inline-wrap inline-wrap-second"><button class="icon__btn icon__btn-anim icon__btn-center icon__btn-md_1 flex-lg-last mr-20 icon__btn-svg" data-brk-library="component__button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.21 65.21">
												<defs>
													<style>.a {
                      fill: url(#i2);
                    }</style>
													<linearGradient id="i2" y1="65" y2="0" gradientUnits="userSpaceOnUse">
														<stop offset="0%" stop-color="var(--brk-base-5)" />
														<stop offset="50%" stop-color="ar(--brk-base-2)" />
													</linearGradient>
												</defs>
												<path class="a" d="M65.21,32.6l-1.82,1.86L65,36.53l-2,1.63,1.32,2.24-2.21,1.37,1,2.39-2.36,1.1.74,2.5-2.48.8.44,2.57-2.55.5.12,2.6-2.6.19L54.22,57l-2.6-.12-.5,2.55L48.56,59l-.8,2.48-2.49-.74-1.1,2.36-2.39-1-1.37,2.21-2.24-1.32-1.63,2-2.07-1.58L32.6,65.21l-1.86-1.82L28.67,65l-1.63-2L24.8,64.27l-1.37-2.21L21,63.1l-1.1-2.36-2.49.74L16.65,59l-2.57.44-.5-2.55L11,57l-.19-2.6-2.6-.19.12-2.6-2.55-.5.44-2.57-2.48-.8.74-2.49-2.36-1.1,1-2.39L.94,40.41l1.32-2.24-2-1.63,1.58-2.07L0,32.6l1.82-1.86L.23,28.67l2-1.63L.94,24.8l2.21-1.38L2.11,21l2.36-1.1-.74-2.5,2.48-.8-.44-2.57,2.55-.5L8.2,11l2.6-.19L11,8.2l2.6.13.5-2.55,2.57.44.8-2.48,2.49.74L21,2.11l2.39,1L24.8.94,27,2.26l1.63-2,2.07,1.58L32.6,0l1.86,1.82L36.53.23l1.63,2L40.41.94l1.37,2.21,2.39-1,1.1,2.36,2.49-.74.8,2.48,2.57-.44.5,2.55,2.6-.13.19,2.6L57,11l-.12,2.6,2.55.5L59,16.65l2.48.8-.74,2.5L63.1,21l-1,2.39,2.21,1.37L62.95,27l2,1.63-1.58,2.07Z" />
											</svg> <i class="fal fa-magic" aria-hidden="true"></i></button>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">According to schedule</h4>
										</div>
									</div>
								</div>
								<div class="text-center text-xl-left z-index-high">
									<div class="inline-wrap inline-wrap-second align-items-start">
										<div>
											<p class="font__family-open-sans font__size-16 line__height-26 text-gray mt-3 mb-5">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="text-center text-xl-left z-index-high">
									<div class="inline-wrap inline-wrap-second"><button class="icon__btn icon__btn-anim icon__btn-center icon__btn-md_1 flex-lg-last mr-20 icon__btn-svg" data-brk-library="component__button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 65.21 65.21">
												<defs>
													<style>.a {
                      fill: url(#i3);
                    }</style>
													<linearGradient id="i3" y1="65" y2="0" gradientUnits="userSpaceOnUse">
														<stop offset="0%" stop-color="var(--brk-base-5)" />
														<stop offset="50%" stop-color="var(--brk-base-2)" />
													</linearGradient>
												</defs>
												<path class="a" d="M65.21,32.6l-1.82,1.86L65,36.53l-2,1.63,1.32,2.24-2.21,1.37,1,2.39-2.36,1.1.74,2.5-2.48.8.44,2.57-2.55.5.12,2.6-2.6.19L54.22,57l-2.6-.12-.5,2.55L48.56,59l-.8,2.48-2.49-.74-1.1,2.36-2.39-1-1.37,2.21-2.24-1.32-1.63,2-2.07-1.58L32.6,65.21l-1.86-1.82L28.67,65l-1.63-2L24.8,64.27l-1.37-2.21L21,63.1l-1.1-2.36-2.49.74L16.65,59l-2.57.44-.5-2.55L11,57l-.19-2.6-2.6-.19.12-2.6-2.55-.5.44-2.57-2.48-.8.74-2.49-2.36-1.1,1-2.39L.94,40.41l1.32-2.24-2-1.63,1.58-2.07L0,32.6l1.82-1.86L.23,28.67l2-1.63L.94,24.8l2.21-1.38L2.11,21l2.36-1.1-.74-2.5,2.48-.8-.44-2.57,2.55-.5L8.2,11l2.6-.19L11,8.2l2.6.13.5-2.55,2.57.44.8-2.48,2.49.74L21,2.11l2.39,1L24.8.94,27,2.26l1.63-2,2.07,1.58L32.6,0l1.86,1.82L36.53.23l1.63,2L40.41.94l1.37,2.21,2.39-1,1.1,2.36,2.49-.74.8,2.48,2.57-.44.5,2.55,2.6-.13.19,2.6L57,11l-.12,2.6,2.55.5L59,16.65l2.48.8-.74,2.5L63.1,21l-1,2.39,2.21,1.37L62.95,27l2,1.63-1.58,2.07Z" />
											</svg> <i class="fal fa-magic" aria-hidden="true"></i></button>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Wrap up the project</h4>
										</div>
									</div>
								</div>
								<div class="text-center text-xl-left z-index-high">
									<div class="inline-wrap inline-wrap-second align-items-start">
										<div>
											<p class="font__family-open-sans font__size-16 line__height-26 text-gray mt-3 mb-5">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>