<section class="position-relative overflow-hid mb-40 mb-lg-0" style="padding-top: 300px; margin-top: -220px; z-index: 3;">
			<div class="brk-animated-circle brk-animated-circle-6" style="left:250px;top:165px;right:auto; bottom:auto" data-brk-library="component__backgrounds_css">
				<div class="brk-animated-circle__figure">
					<div class="brk-abs-overlay brk-bg-pattern brk-bgi-14"></div>
					<div class="brk-abs-overlay brk-base-bg-gradient-90deg"></div>
				</div>
				<div class="brk-animated-circle__container"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="79px" height="70px">
						<linearGradient id="backgrounds-id-1" x1="0%" y1="0%" x2="100%" y2="0%">
							<stop offset="0%" style="stop-color:var(--brk-base-2); stop-opacity:.92" />
							<stop offset="100%" style="stop-color:var(--brk-base-5); stop-opacity:.92" />
						</linearGradient>
						<path fill-rule="evenodd" fill-opacity="0" fill="transparent" stroke="url(#backgrounds-id-1)" stroke-width="4" d="M73.002,64.707 L5.693,45.499 L53.616,5.103 L73.002,64.707 Z" />
					</svg></div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-9" style="left:auto;top:345px;right:200px; bottom:auto" data-brk-library="component__backgrounds_css"><img class="lazyload" src="img/animated-triangle.png" alt="alt">
				<div class="brk-animated-circle__container"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="62px">
						<linearGradient id="backgrounds-id-3" x1="0%" y1="0%" x2="100%" y2="0%">
							<stop offset="0%" style="stop-color:var(--brand-primary); stop-opacity:.92" />
							<stop offset="100%" style="stop-color:var(--secondary); stop-opacity:.92" />
						</linearGradient>
						<path fill-rule="evenodd" fill-opacity="0" stroke="url(#backgrounds-id-3)" stroke-width="4" fill="transparent" d="M74.998,57.000 L5.002,57.000 L40.000,5.003 L74.998,57.000 Z" />
					</svg></div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-5" style="left:10px;top:720px;right:auto; bottom:auto" data-brk-library="component__backgrounds_css"><img class="lazyload" src="img/animated-circle-1.png" alt="alt">
				<div class="brk-animated-circle__container"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="77px" height="77px">
						<linearGradient id="backgrounds-id-5" x1="0%" y1="0%" x2="100%" y2="0%">
							<stop offset="0%" style="stop-color:var(--brand-primary); stop-opacity:.92" />
							<stop offset="100%" style="stop-color:var(--secondary); stop-opacity:.92" />
						</linearGradient>
						<path fill-rule="evenodd" fill-opacity="0" stroke="url(#backgrounds-id-5)" stroke-width="4" fill="transparent" d="M39.000,6.000 C57.225,6.000 72.000,20.774 72.000,39.000 C72.000,57.225 57.225,71.999 39.000,71.999 C20.775,71.999 6.000,57.225 6.000,39.000 C6.000,20.774 20.775,6.000 39.000,6.000 Z" />
					</svg></div>
			</div>
			<div class="brk-animated-dot brk-animated-dot-1" style="left:auto;top:820px;right:50px; bottom:auto" data-brk-library="component__backgrounds_css,component__backgrounds_js">
				<div class="brk-animated-dot__container">
					<div class="brk-animated-dot__figure"></div>
				</div>
			</div>
			<div class="brk-animated-dot brk-animated-dot-1" style="left:10px;top:auto;right:auto; bottom:200px" data-brk-library="component__backgrounds_css,component__backgrounds_js">
				<div class="brk-animated-dot__container">
					<div class="brk-animated-dot__figure"></div>
				</div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-3" style="left:auto;top:auto;right:30px; bottom:220px" data-brk-library="component__backgrounds_css"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="230" height="230" viewBox="0 0 230 230">
					<defs>
						<path id="backgrounds-id-12" d="M188.02 6501c63.52 0 115.01 51.49 115.01 115s-51.49 115-115.01 115S73 6679.51 73 6616s51.5-115 115.02-115z" />
						<clipPath id="backgrounds-id-11">
							<use fill="#fff" xlink:href="#backgrounds-id-12" />
						</clipPath>
					</defs>
					<g>
						<g opacity=".02" transform="translate(-73 -6501)">
							<use fill="#fff" fill-opacity="0" stroke="#000" stroke-miterlimit="50" stroke-width="24" clip-path="url(&quot;#backgrounds-id-11&quot;)" xlink:href="#backgrounds-id-12" />
						</g>
					</g>
				</svg>
				<div class="brk-animated-circle__container"><span class="brk-animated-circle__dot-1"><span class="brk-animated-circle__dot-2"></span></span></div>
			</div>
			<div class="container" id="products">
				<div class="text-center mb-80">
					<h3 class="font__family-montserrat brk-black-font-color font__size-54 line__height-64 text-uppercase mb-40"><span class="font__weight-thin">Check Our</span><br><span class="font__weight-bold">Merch for you</span></h3>
				</div>
				<div class="row">
					<div class="col-md-6 col-lg-4 mb-lg-20 text-center">
						<div class="flip-box text-center" data-brk-library="component__flip_box,component__elements,fancybox">
							<div class="flip flip_horizontal flip-box__split">
								<div class="flip__front">
									<div class="flip-box__split-img lazyload" style="background-image: url(img/demo_agency_animation/370x370_1.jpg)"></div>
									<div class="pt-30 pb-30 flip-box__split-info">
										<div class="font__family-montserrat font__weight-bold pl-20 pr-20 font__size-18">Polo shirt</div>
										<div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium"><span class="old-price font__size-16">$41.00 </span><span class="font__weight-semibold font__size-18">$21.30</span></div>
									</div>
								</div>
								<div class="flip__back brk-base-bg-gradient-10deg">
									<div class="pt-lg-30 pb-lg-30 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20 flip-box__split-title">
										<h4 class="font__family-montserrat font__weight-bold font__size-16">Polo shirt</h4>
										<div class="flip-box__split-price font__family-montserrat font__size-15"><span>$41.00 </span><span class="font__weight-bold"></span> $21.30</div>
									</div>
									<div class="flip-box__split-list">
										<ul class="font__family-open-sans font__size-15 line__height-30 font__weight-light text-left letter-spacing-40 pt-15 pb-15">
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
											<li><i class="far fa-check"></i>Fellentesque habitant morbi</li>
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
										</ul>
									</div>
									<div class="flip-box__split-actions"><a href="javascript:void(0)" class="add-cart d-flex align-items-center justify-content-center"><i class="fas fa-shopping-cart"></i> </a><a href="img/demo_agency_animation/370x370_1.jpg" class="add-search d-flex align-items-center justify-content-center fancybox"><i class="fas fa-search"></i> </a><a href="javascript:void(0)" class="add-wishlist d-flex align-items-center justify-content-center"><i class="fas fa-star"></i> </a><a href="javascript:void(0)" class="add-compare d-flex align-items-center justify-content-center"><i class="fas fa-exchange-alt"></i></a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 mb-lg-20 text-center">
						<div class="flip-box text-center" data-brk-library="component__flip_box,component__elements,fancybox">
							<div class="flip flip_horizontal flip-box__split">
								<div class="flip__front">
									<div class="flip-box__split-img lazyload" style="background-image: url(img/demo_agency_animation/370x370_2.png)"></div>
									<div class="pt-30 pb-30 flip-box__split-info">
										<div class="font__family-montserrat font__weight-bold pl-20 pr-20 font__size-18">Hugo Boss</div>
										<div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium"><span class="old-price font__size-16">$41.00 </span><span class="font__weight-semibold font__size-18">$21.30</span></div>
									</div>
								</div>
								<div class="flip__back brk-base-bg-gradient-10deg">
									<div class="pt-lg-30 pb-lg-30 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20 flip-box__split-title">
										<h4 class="font__family-montserrat font__weight-bold font__size-16">Hugo Boss</h4>
										<div class="flip-box__split-price font__family-montserrat font__size-15"><span>$41.00 </span><span class="font__weight-bold"></span> $21.30</div>
									</div>
									<div class="flip-box__split-list">
										<ul class="font__family-open-sans font__size-15 line__height-30 font__weight-light text-left letter-spacing-40 pt-15 pb-15">
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
											<li><i class="far fa-check"></i>Fellentesque habitant morbi</li>
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
										</ul>
									</div>
									<div class="flip-box__split-actions"><a href="javascript:void(0)" class="add-cart d-flex align-items-center justify-content-center"><i class="fas fa-shopping-cart"></i> </a><a href="img/demo_agency_animation/370x370_2.png" class="add-search d-flex align-items-center justify-content-center fancybox"><i class="fas fa-search"></i> </a><a href="javascript:void(0)" class="add-wishlist d-flex align-items-center justify-content-center"><i class="fas fa-star"></i> </a><a href="javascript:void(0)" class="add-compare d-flex align-items-center justify-content-center"><i class="fas fa-exchange-alt"></i></a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 mb-lg-20 text-center">
						<div class="flip-box text-center" data-brk-library="component__flip_box,component__elements,fancybox">
							<div class="flip flip_horizontal flip-box__split">
								<div class="flip__front">
									<div class="flip-box__split-img lazyload" style="background-image: url(img/demo_agency_animation/370x370_3.png)"></div>
									<div class="pt-30 pb-30 flip-box__split-info">
										<div class="font__family-montserrat font__weight-bold pl-20 pr-20 font__size-18">Tommy Hilfiger</div>
										<div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium"><span class="old-price font__size-16">$41.00 </span><span class="font__weight-semibold font__size-18">$21.30</span></div>
									</div>
									<div class="brk-sc-card-labels brk-sc-card-labels_top-labels">
										<div class="brk-sc-card-label"><span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">top</span> <span class="brk-sc-card-label__additional-1"></span> <span class="brk-sc-card-label__additional-2"></span> <span class="brk-sc-card-label__additional-3"></span></div>
									</div>
								</div>
								<div class="flip__back brk-base-bg-gradient-10deg">
									<div class="brk-sc-card-labels brk-sc-card-labels_top-labels">
										<div class="brk-sc-card-label"><span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">top</span> <span class="brk-sc-card-label__additional-1"></span> <span class="brk-sc-card-label__additional-2"></span> <span class="brk-sc-card-label__additional-3"></span></div>
									</div>
									<div class="pt-lg-30 pb-lg-30 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20 flip-box__split-title">
										<h4 class="font__family-montserrat font__weight-bold font__size-16">Tommy Hilfiger</h4>
										<div class="flip-box__split-price font__family-montserrat font__size-15"><span>$41.00 </span><span class="font__weight-bold"></span> $21.30</div>
									</div>
									<div class="flip-box__split-list">
										<ul class="font__family-open-sans font__size-15 line__height-30 font__weight-light text-left letter-spacing-40 pt-15 pb-15">
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
											<li><i class="far fa-check"></i>Fellentesque habitant morbi</li>
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
										</ul>
									</div>
									<div class="flip-box__split-actions"><a href="javascript:void(0)" class="add-cart d-flex align-items-center justify-content-center"><i class="fas fa-shopping-cart"></i> </a><a href="img/demo_agency_animation/370x370_3.png" class="add-search d-flex align-items-center justify-content-center fancybox"><i class="fas fa-search"></i> </a><a href="javascript:void(0)" class="add-wishlist d-flex align-items-center justify-content-center"><i class="fas fa-star"></i> </a><a href="javascript:void(0)" class="add-compare d-flex align-items-center justify-content-center"><i class="fas fa-exchange-alt"></i></a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 mb-lg-20 text-center">
						<div class="flip-box text-center" data-brk-library="component__flip_box,component__elements,fancybox">
							<div class="flip flip_horizontal flip-box__split">
								<div class="flip__front">
									<div class="flip-box__split-img lazyload" style="background-image: url(img/demo_agency_animation/370x370_2.png)"></div>
									<div class="pt-30 pb-30 flip-box__split-info">
										<div class="font__family-montserrat font__weight-bold pl-20 pr-20 font__size-18">Long-sleeve top</div>
										<div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium"><span class="old-price font__size-16">$41.00 </span><span class="font__weight-semibold font__size-18">$21.30</span></div>
									</div>
								</div>
								<div class="flip__back brk-base-bg-gradient-10deg">
									<div class="pt-lg-30 pb-lg-30 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20 flip-box__split-title">
										<h4 class="font__family-montserrat font__weight-bold font__size-16">Long-sleeve top</h4>
										<div class="flip-box__split-price font__family-montserrat font__size-15"><span>$41.00 </span><span class="font__weight-bold"></span> $21.30</div>
									</div>
									<div class="flip-box__split-list">
										<ul class="font__family-open-sans font__size-15 line__height-30 font__weight-light text-left letter-spacing-40 pt-15 pb-15">
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
											<li><i class="far fa-check"></i>Fellentesque habitant morbi</li>
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
										</ul>
									</div>
									<div class="flip-box__split-actions"><a href="javascript:void(0)" class="add-cart d-flex align-items-center justify-content-center"><i class="fas fa-shopping-cart"></i> </a><a href="img/demo_agency_animation/370x370_2.png" class="add-search d-flex align-items-center justify-content-center fancybox"><i class="fas fa-search"></i> </a><a href="javascript:void(0)" class="add-wishlist d-flex align-items-center justify-content-center"><i class="fas fa-star"></i> </a><a href="javascript:void(0)" class="add-compare d-flex align-items-center justify-content-center"><i class="fas fa-exchange-alt"></i></a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 mb-lg-20 text-center">
						<div class="flip-box text-center" data-brk-library="component__flip_box,component__elements,fancybox">
							<div class="flip flip_horizontal flip-box__split">
								<div class="flip__front">
									<div class="flip-box__split-img lazyload" style="background-image: url(img/demo_agency_animation/370x370_1.jpg)"></div>
									<div class="pt-30 pb-30 flip-box__split-info">
										<div class="font__family-montserrat font__weight-bold pl-20 pr-20 font__size-18">Burberry</div>
										<div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium"><span class="old-price font__size-16">$41.00 </span><span class="font__weight-semibold font__size-18">$21.30</span></div>
									</div>
								</div>
								<div class="flip__back brk-base-bg-gradient-10deg">
									<div class="pt-lg-30 pb-lg-30 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20 flip-box__split-title">
										<h4 class="font__family-montserrat font__weight-bold font__size-16">Burberry</h4>
										<div class="flip-box__split-price font__family-montserrat font__size-15"><span>$41.00 </span><span class="font__weight-bold"></span> $21.30</div>
									</div>
									<div class="flip-box__split-list">
										<ul class="font__family-open-sans font__size-15 line__height-30 font__weight-light text-left letter-spacing-40 pt-15 pb-15">
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
											<li><i class="far fa-check"></i>Fellentesque habitant morbi</li>
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
										</ul>
									</div>
									<div class="flip-box__split-actions"><a href="javascript:void(0)" class="add-cart d-flex align-items-center justify-content-center"><i class="fas fa-shopping-cart"></i> </a><a href="img/demo_agency_animation/370x370_1.jpg" class="add-search d-flex align-items-center justify-content-center fancybox"><i class="fas fa-search"></i> </a><a href="javascript:void(0)" class="add-wishlist d-flex align-items-center justify-content-center"><i class="fas fa-star"></i> </a><a href="javascript:void(0)" class="add-compare d-flex align-items-center justify-content-center"><i class="fas fa-exchange-alt"></i></a></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 mb-lg-20 text-center">
						<div class="flip-box text-center" data-brk-library="component__flip_box,component__elements,fancybox">
							<div class="flip flip_horizontal flip-box__split">
								<div class="flip__front">
									<div class="flip-box__split-img lazyload" style="background-image: url(img/demo_agency_animation/370x370_3.png)"></div>
									<div class="pt-30 pb-30 flip-box__split-info">
										<div class="font__family-montserrat font__weight-bold pl-20 pr-20 font__size-18">Sleeveless shirt</div>
										<div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium"><span class="old-price font__size-16">$41.00 </span><span class="font__weight-semibold font__size-18">$21.30</span></div>
									</div>
								</div>
								<div class="flip__back brk-base-bg-gradient-10deg">
									<div class="pt-lg-30 pb-lg-30 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20 flip-box__split-title">
										<h4 class="font__family-montserrat font__weight-bold font__size-16">Sleeveless shirt</h4>
										<div class="flip-box__split-price font__family-montserrat font__size-15"><span>$41.00 </span><span class="font__weight-bold"></span> $21.30</div>
									</div>
									<div class="flip-box__split-list">
										<ul class="font__family-open-sans font__size-15 line__height-30 font__weight-light text-left letter-spacing-40 pt-15 pb-15">
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
											<li><i class="far fa-check"></i>Fellentesque habitant morbi</li>
											<li><i class="far fa-check"></i>Maecenas vestibulum mollis</li>
											<li><i class="far fa-check"></i>Pellentesque ut neque</li>
										</ul>
									</div>
									<div class="flip-box__split-actions"><a href="javascript:void(0)" class="add-cart d-flex align-items-center justify-content-center"><i class="fas fa-shopping-cart"></i> </a><a href="img/demo_agency_animation/370x370_3.png" class="add-search d-flex align-items-center justify-content-center fancybox"><i class="fas fa-search"></i> </a><a href="javascript:void(0)" class="add-wishlist d-flex align-items-center justify-content-center"><i class="fas fa-star"></i> </a><a href="javascript:void(0)" class="add-compare d-flex align-items-center justify-content-center"><i class="fas fa-exchange-alt"></i></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>