<footer class="brk-footer brk-footer_no-overflow position-relative" id="contact" data-brk-library="component__footer">
		<div class="brk-footer__wrapper">
			<div class="brk-footer-map-overflow">
				<div class="brk-map brk-map_extra" data-height="420" data-brk-library="component__map">
					<div class="brk-map__canvas" data-address="412 Throop Ave, Brooklyn, NY 11221, USA" data-zoom="13" data-type="roadmap" data-marker="img/demo_freelance_blog/gm-3.png" data-offset-lat="" data-offset-lng="" data-style="silver" data-info-window=".info-map"></div>
				</div>
				<div class="brk-footer-map-overflow__info">
					<h2 class="brk-white-font-color font__family-montserrat font__size-28 text-uppercase"><span class="font__weight-light">Subscribe</span> <span class="font__weight-bold">Now</span></h2>
					<hr class="horiz-line">
					<form action="#" class="brk-subscribe-squared brk-subscribe-mail"><input type="text" name="EMAIL" placeholder="enter-your@mail.com" class="font__size-14 font__weight-normal"> <button type="submit"><i class="fas fa-envelope"></i></button></form>
					<hr class="horiz-line mb-10">
					<div class="d-flex flex-wrap brk-footer__info-grid flex-sm-row flex-column brk-white-font-color">
						<p class="font__family-open-sans font__weight-bold font__size-14 mt-10"><i class="icon text-middle mr-10 fa fa-envelope line__height-24"></i> <a href="mailto:info@domain.com" class="show-inline-block">info@domain.com</a></p>
						<p class="font__family-open-sans font__weight-bold font__size-14 mt-10"><i class="icon text-middle mr-10 fa fa-map-marker line__height-24"></i>Chicago, USA</p>
						<p class="font__family-open-sans font__weight-bold font__size-14 mt-10"><i class="icon text-middle mr-10 fa fa-comments line__height-24"></i>Contact Us</p>
						<p class="font__family-open-sans font__weight-bold font__size-14 mt-10"><i class="icon text-middle mr-10 fa fa-phone line__height-24"></i> <a href="javascript:void(0)" class="show-inline-block">8 800 12 34 567</a></p>
					</div>
				</div>
			</div>
			<div class="brk-base-bg-gradient-26 d-flex align-items-center justify-content-center pt-20 pb-20 brk-footer__border-gradient-1">
				<p class="brk-dark-font-color font__family-open-sans font__size-14">© 2018 <span class="brk-white-font-color font__weight-bold pl-1 pr-1">Berserk</span> All rights reserved</p>
			</div>
		</div>
	</footer>