<footer class="brk-footer position-relative" data-brk-library="component__footer">
			<div class="brk-footer__wrapper d-flex flex-column align-items-center border-bottom-3 brk-border-color-primary brk-bgi-1 brk-bg-pattern" data-bg=""><span class="brk-abs-bg-overlay brk-bg-gradient-40deg-92"></span> <span class="brk-svg-pattern-container brk-svg-pattern-container_top" style="height: 750px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2014 755" style="top: -10px; left: -65px; width: calc(100% + 100px);">
						<defs>
							<path id="footer-path-id-1" d="M-55 9101s-64.59 843.48 49.67 740.9c114.26-102.57 360.5-86.27 681.26-104.04 320.75-17.77 501.91-155.63 694.2-405.18C1562.42 9083.14 1940 9124.6 1940 9124.6V9096z" />
						</defs>
						<g>
							<g transform="translate(74 -9096)">
								<use fill="#fff" xlink:href="#footer-path-id-1" />
							</g>
						</g>
					</svg></span>
				<div class="position-relative z-index-3 mb-70 w-100">
					<div class="text-center">
						<h4 class="font__family-montserrat font__weight-light font__size-28 line__height-30 mb-10 brk-base-font-color">Read FAQ or</h4>
						<h3 class="font__family-montserrat font__size-42 font__weight-bold line__height-46 mb-100">Contact Us</h3>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-7">
								<div class="accordion accordion-rounded accordion-image mb-50" role="tablist" aria-multiselectable="true" data-brk-library="component__accordions">
									<div class="card expanded">
										<div class="card-header text-left" role="tab" id="headingOne2">
											<h5 class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 brk-base-font-color text-uppercase" data-brk-library="component__title"><a class="font__weight-medium card-title" data-toggle="collapse" data-parent=".accordion-image" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2"><i class="fab fa-delicious"></i> Boxed & Wide Layouts</a></h5><a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-image" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2"><span class="arrow"></span></a>
										</div>
										<div id="collapseOne2" class="collapse show" role="tabpanel" aria-labelledby="headingOne2">
											<div class="card-block text-left all-light font__family-open-sans brk-bgi-1 brk-bg-pattern"><span class="full__size-absolute brk-bg-grad opacity-90"></span>
												<div class="row">
													<div class="col-12">
														<h4 class="font__family-montserrat font__weight-semibold highlight-underline font__size-28 line__height-32 mt-0"><span class="before wow fadeInUp brk-base-bg-8" style="visibility: visible; animation-name: fadeInUp;"></span> Make business with us</h4>
														<p class="mt-25 font__family-open-sans font__size-16 line__height-26">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
														<p class="mt-25 font__family-open-sans font__size-16 line__height-26">Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header text-left" role="tab" id="headingTwo2">
											<h5 class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 brk-base-font-color text-uppercase"><a class="font__weight-medium card-title" data-toggle="collapse" data-parent=".accordion-image" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2"><i class="far fa-gem"></i> Extensive Documentation</a></h5><a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-image" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2"><span class="arrow"></span></a>
										</div>
										<div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2">
											<div class="card-block text-left all-light font__family-open-sans brk-bgi-1 brk-bg-pattern"><span class="full__size-absolute brk-bg-grad opacity-90"></span>
												<div class="row">
													<div class="col-sm-12">
														<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-24">Extensive Documentation</h4>
														<p class="mt-30">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
														<p class="mt-30">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card">
										<div class="card-header text-left" role="tab" id="headingThree2">
											<h5 class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 brk-base-font-color text-uppercase"><a class="font__weight-medium card-title" data-toggle="collapse" data-parent=".accordion-image" href="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2"><i class="fab fa-gg"></i> Parallax Support</a></h5><a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-image" href="#collapseThree2" aria-expanded="true" aria-controls="collapseThree2"><span class="arrow"></span></a>
										</div>
										<div id="collapseThree2" class="collapse" role="tabpanel" aria-labelledby="headingThree2">
											<div class="card-block text-left all-light font__family-open-sans brk-bgi-1 brk-bg-pattern"><span class="full__size-absolute brk-bg-grad opacity-90"></span>
												<div class="row">
													<div class="col-sm-12">
														<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-24">Parallax Support</h4>
														<p class="mt-30 font__size-16">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
														<p class="mt-30 font__size-16">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-5">
								<article class="brk-form_footer-14 mb-50">
									<p class="brk-white-font-color font__size-18 font__weight-bold line__height-18">Have a question?</p>
									<h6 class="brk-white-font-color font__family-montserrat font__size-36 font__weight-normal line__height-40 text-uppercase mb-10">Contact Us</h6>
									<form action="#" class="brk-subscribe-mail brk-form-strict brk-form-strict_transparent w-100" data-brk-library="component__form"><input type="text" placeholder="Your Name" name="FNAME"> <input type="text" placeholder="Your mail" name="EMAIL"> <textarea name="MESSAGE" id="footer14" placeholder="Your Questions" style="min-height: 107px"></textarea>
										<div class="text-center"><button class="btn btn-inside-out btn-lg pl-70 pr-70 btn-inside-out-invert btn-no-shadow border-radius-25 mt-30" data-brk-library="component__button"><span class="before">contact us</span><span class="text">Click Me</span><span class="after">contact us</span></button></div>
									</form>
								</article>
							</div>
						</div>
					</div>
				</div>
				<div class="position-relative z-index-3 w-100">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-4">
								<div class="text-center te d-flex flex-column mb-50">
									<div class="icon__cover" data-brk-library="component__services"><a href="javascript:void(0)" class="icon__btn icon__btn-sm icon__btn-anim icon__btn_clear" data-brk-library="component__button"><i class="fa fa-phone" aria-hidden="true"></i> <span class="before"></span><span class="after"></span></a></div>
									<p class="brk-white-font-color font__family-montserrat font__size-24 line__height-24 mb-15 font__weight-semibold">Phone</p><a href="javascript:void(0)" class="brk-white-font-color font__family-open-sans font__size-24 line__height-32">8 800 12 34 567</a>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="text-center d-flex flex-column mb-50">
									<div class="icon__cover" data-brk-library="component__services"><a href="javascript:void(0)" class="icon__btn icon__btn-sm icon__btn-anim icon__btn_clear" data-brk-library="component__button"><i class="fa fa-map-marker" aria-hidden="true"></i> <span class="before"></span><span class="after"></span></a></div>
									<p class="brk-white-font-color font__family-montserrat font__size-24 line__height-24 mb-15 font__weight-semibold">Address</p>
									<p class="brk-white-font-color font__family-open-sans font__size-24 line__height-32">123 6th St. Melbourne,<br>FL 32904</p>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="text-center d-flex flex-column mb-50">
									<div class="icon__cover" data-brk-library="component__services"><a href="javascript:void(0)" class="icon__btn icon__btn-sm icon__btn-anim icon__btn_clear" data-brk-library="component__button"><i class="fa fa-envelope" aria-hidden="true"></i> <span class="before"></span><span class="after"></span></a></div>
									<p class="brk-white-font-color font__family-montserrat font__size-24 line__height-24 mb-15 font__weight-semibold">Email</p><a href="mailto:info@domain.com" class="brk-white-font-color font__family-open-sans font__size-24 line__height-32">info@domain.com</a>
								</div>
							</div>
							<hr class="horiz-line mt-0 mb-20">
							<div class="text-center mb-25 w-100">
								<p class="brk-white-font-color font__family-open-sans font__size-14">© 2018 <span class="font__weight-bold">Berserk</span> All rights reserved</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>