<section class="bg-cover position-relative pt-70 pb-50 lazyload" style="background-image: url(img/demo_construction/1920x1080_2.jpg)">
  <div class="brk-layer brk-bg-black position-absolute opacity-70"></div>
  <div class="container position-relative brk-z-index-10">
    <div class="row align-items-center justify-content-lg-between justify-content-center flex-lg-row flex-column mb-70 mb-lg-100">
      <div class="col-auto">
        <div class="font__family-montserrat font__size-64 line__height-68 text-white mb-xs-20"><span class="font__weight-light">Our</span> <span class="font__weight-bold">Gallery</span></div>
      </div>
      <div class="col-auto">
        <div class="brk-social-links-round" data-brk-library="component__social_links"><a href="#" class="brk-social-links-round__link">
            <div class="brk-social-links-round__icon"><i class="fab fa-twitter"></i></div>
            <div class="brk-social-links-round__title">Twitter</div>
          </a><a href="#" class="brk-social-links-round__link">
            <div class="brk-social-links-round__icon"><i class="fab fa-facebook-f"></i></div>
            <div class="brk-social-links-round__title">Facebook</div>
          </a><a href="#" class="brk-social-links-round__link">
            <div class="brk-social-links-round__icon"><i class="fab fa-instagram"></i></div>
            <div class="brk-social-links-round__title">Instagram</div>
          </a></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_1.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_1.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_2.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_2.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_3.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_3.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_4.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_4.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_5.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_5.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_6.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_6.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_7.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_7.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_8.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_8.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_9.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_9.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_10.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_10.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_11.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_11.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
      <div class="col-xl-3 col-md-4 col-sm-6">
        <div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_construction/270x270_12.jpg" alt="alt" class="brk-gallery-card__img lazyload">
          <a href="img/demo_construction/270x270_12.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
      </div>
    </div>
    <div class="text-center"><a href="#" class="btn btn-inside-out btn-md btn-icon-abs border-radius-25 font__family-open-sans font__weight-bold mt-30" data-brk-library="component__button"><span class="before">Load More</span><span class="text">Click
          Me</span><span class="after">Load More</span></a></div>
  </div>
</section>