<section>
  <div class="brk-header-mobile">
    <div class="brk-header-mobile__open"><span></span></div>
    <div class="brk-header-mobile__logo"><a href="javascript:void(0)"><img class="brk-header-mobile__logo-1 lazyload" src="img/logo-dark-2.png" alt="alt"> <img
          class="brk-header-mobile__logo-2 lazyload" src="img/logo-dark-2.png" alt="alt"></a></div>
  </div>
  <header class="brk-header brk-header_style-1 brk-header_color-dark brk-header_skin-1 position-fixed d-flex flex-column" data-logo-src="img/logo-dark-2.png" data-bg-mobile="img/brk-bg-mobile-menu.jpg" data-brk-library="component__header">
    <div class="brk-header__top-bar order-lg-1 order-2 font__family-montserrat brk-header__top-bar_scroll" style="height: 46px;">
      <div class="brk-header__title font__family-montserrat font__weight-bold">Contact Us</div>
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-6 align-self-lg-stretch text-left">
            <div class="brk-header__element brk-header__element_skin-2 brk-header__item"><a href="tel:88002003040" class="brk-header__element--wrap"><i class="fa fa-phone"></i> <span class="brk-header__element--label font__weight-semibold">8 800 200
                  30 40</span></a></div>
            <div class="brk-header__element brk-header__element_skin-2 brk-header__item"><a href="#" class="brk-header__element--wrap"><i class="fa fa-envelope"></i> <span class="brk-header__element--label font__weight-medium">hello@berserk.com</span></a></div>
          </div>
          <div class="col-lg-6 align-self-lg-stretch text-left text-lg-right">
            <div class="brk-mini-cart brk-header__item">
              <div class="brk-mini-cart__open text-white"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="brk-mini-cart__label font__family-montserrat font__weight-medium text-uppercase letter-spacing-60 font__size-10 opacity-80">My
                  cart</span> <span class="brk-mini-cart__title">Shopping Cart</span> <span class="brk-mini-cart__count brk-mini-cart__count_skin-1 brk-mini-cart__count_white">4</span></div>
              <div class="brk-mini-cart__menu">
                <div class="brk-mini-cart__header"><span class="font__family-montserrat font__weight-bold font__size-18">Your Cart</span></div>
                <div class="brk-mini-cart__products">
                  <div class="brk-mini-cart__product">
                    <div class="brk-mini-cart__product--img"><img class="lazyload" src="img/shop/shop-setout-2.png" alt="alt"></div>
                    <div class="brk-mini-cart__product--title-price"><a href="javascript:void(0)">
                        <h4 class="font__family-montserrat font__size-16 line__height-21 font__weight-semibold text-truncate">Some shop item</h4>
                      </a><span class="brk-mini-cart__product--old-price font__family-montserrat">$26.00</span> <span class="brk-mini-cart__product--price font__family-montserrat">$16.00</span></div>
                    <div class="brk-quantity"><span class="brk-quantity__arrows minus"></span> <input class="brk-quantity__value" name="quantity" type="text" value="2"> <span class="brk-quantity__arrows plus"></span></div><a href="javascript:void(0)"
                      class="brk-mini-cart__product--remove remove"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                  </div>
                  <div class="brk-mini-cart__product">
                    <div class="brk-mini-cart__product--img"><img class="lazyload" src="img/shop/shop-setout-2.png" alt="alt"></div>
                    <div class="brk-mini-cart__product--title-price"><a href="javascript:void(0)">
                        <h4 class="font__family-montserrat font__size-16 line__height-21 font__weight-semibold text-truncate">Some shop item</h4>
                      </a><span class="brk-mini-cart__product--old-price font__family-montserrat">$26.00</span> <span class="brk-mini-cart__product--price font__family-montserrat">$16.00</span></div>
                    <div class="brk-quantity"><span class="brk-quantity__arrows minus"></span> <input class="brk-quantity__value" name="quantity" type="text" value="2"> <span class="brk-quantity__arrows plus"></span></div><a href="javascript:void(0)"
                      class="brk-mini-cart__product--remove remove"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                  </div>
                  <div class="brk-mini-cart__product">
                    <div class="brk-mini-cart__product--img"><img class="lazyload" src="img/shop/shop-setout-2.png" alt="alt"></div>
                    <div class="brk-mini-cart__product--title-price"><a href="javascript:void(0)">
                        <h4 class="font__family-montserrat font__size-16 line__height-21 font__weight-semibold text-truncate">Some shop item</h4>
                      </a><span class="brk-mini-cart__product--old-price font__family-montserrat">$26.00</span> <span class="brk-mini-cart__product--price font__family-montserrat">$16.00</span></div>
                    <div class="brk-quantity"><span class="brk-quantity__arrows minus"></span> <input class="brk-quantity__value" name="quantity" type="text" value="2"> <span class="brk-quantity__arrows plus"></span></div><a href="javascript:void(0)"
                      class="brk-mini-cart__product--remove remove"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                  </div>
                  <div class="brk-mini-cart__product">
                    <div class="brk-mini-cart__product--img"><img class="lazyload" src="img/shop/shop-setout-2.png" alt="alt"></div>
                    <div class="brk-mini-cart__product--title-price"><a href="javascript:void(0)">
                        <h4 class="font__family-montserrat font__size-16 line__height-21 font__weight-semibold text-truncate">Some shop item</h4>
                      </a><span class="brk-mini-cart__product--old-price font__family-montserrat">$26.00</span> <span class="brk-mini-cart__product--price font__family-montserrat">$16.00</span></div>
                    <div class="brk-quantity"><span class="brk-quantity__arrows minus"></span> <input class="brk-quantity__value" name="quantity" type="text" value="2"> <span class="brk-quantity__arrows plus"></span></div><a href="javascript:void(0)"
                      class="brk-mini-cart__product--remove remove"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                  </div>
                </div>
                <div class="brk-mini-cart__links">
                  <div class="brk-mini-cart__links--wrap"><a class="brk-mini-cart__links--cart" href="javascript:void(0)"><i class="fa fa-shopping-basket"></i> Cart</a> <a class="brk-mini-cart__links--checkout" href="javascript:void(0)">Proceed to
                      checkout <i class="far fa-arrow-right"></i></a></div>
                </div>
              </div>
            </div>
            <div class="brk-header__element brk-header__element_skin-2 text-white brk-header__item"><a href="#" class="brk-header__element--wrap"><i class="fa fa-heart"></i> <span class="brk-header__element--label font__weight-medium">My wishlist</span>
                <span class="brk-header__compare brk-header__compare_white brk-header__compare_skin-1">12</span></a></div>
            <div class="brk-lang brk-lang_interactive brk-header__item"><span class="brk-lang__selected text-white">US <i class="fa fa-caret-down" aria-hidden="true"></i></span> <span class="brk-lang__open"><i class="fa fa-language"></i> Language
                <span class="brk-lang__active-lang text-white brk-bg-primary">US</span></span>
              <ul class="brk-lang__option">
                <li><a href="javascript:void(0)">UA</a></li>
                <li><a href="javascript:void(0)">US</a></li>
                <li><a href="javascript:void(0)">PL</a></li>
                <li><a href="javascript:void(0)">ES</a></li>
              </ul>
            </div>
            <div class="brk-header__element brk-header__element_skin-2 text-white brk-header__item"><a href="#" class="brk-header__element--wrap"><i class="fa fa-user"></i> <span class="brk-header__element--label font__weight-medium">Login</span></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="brk-header__main-bar brk-header_border-top-dark order-lg-2 order-1" style="height: 72px;">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-2 align-self-lg-center d-none d-lg-block ml-10"><a href="/" class="brk-header__logo brk-header__item"><img class="brk-header__logo-1 lazyload" src="img/demo_agency_modern/logo-color-1.png" alt="alt"> <img class="brk-header__logo-2 lazyload" src="img/demo_agency_modern/logo-color-1.png"
                alt="alt"></a></div>
          <div class="col-lg align-self-lg-stretch">
            <nav class="brk-nav brk-header__item">
              <ul class="brk-nav__menu">
                <li class="brk-nav__children brk-nav__drop-down-effect brk-nav__children_clear"><a href="#about"><span>About</span></a></li>
                <li class="brk-nav__children brk-nav__drop-down-effect brk-nav__children_clear"><a href="#prices"><span>Prices</span></a></li>
                <li class="brk-nav__children brk-nav__drop-down-effect brk-nav__children_clear"><a href="#portfolio"><span>Portfolio</span></a></li>
                <li class="brk-nav__children brk-nav__drop-down-effect brk-nav__children_clear"><a href="#testimonials"><span>Testimonials</span></a></li>
                <li class="brk-nav__children brk-nav__drop-down-effect brk-nav__children_clear"><a href="#shop"><span>Shop</span></a></li>
                <li class="brk-nav__children brk-nav__drop-down-effect brk-nav__children_clear"><a href="#team"><span>Team</span></a></li>
                <li class="brk-nav__children brk-nav__drop-down-effect brk-nav__children_clear"><a href="#contact"><span>Contact Us</span></a></li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 align-self-lg-stretch text-lg-right">
            <div class="brk-header__title font__family-montserrat font__weight-bold">Info</div>
            <div class="brk-search brk-header__item">
              <div class="brk-search__open text-white"><i class="fal fa-search" aria-hidden="true"></i>
                <div class="brk-search__title">Search website</div>
              </div>
              <div class="brk-search__block">
                <div class="brk-search__header"><span class="font__family-montserrat font__weight-bold font__size-18">Search</span></div>
                <form class="brk-search__form" role="search" method="get" action="#"><input name="s" maxlength="50" type="text" value="" placeholder="Enter search text"> <button type="submit"><i class="fas fa-search"></i></button></form><span class="brk-search__close font__family-montserrat font__weight-medium">Close
                  <i class="fas fa-times"></i></span>
              </div>
            </div><a href="javascript:void(0)" class="btn btn-inside-out btn- brk-header__item brk-header__btn brk-header__btn_white btn-sm-1 brk-base-box-shadow border-radius-25 font__family-open-sans font__weight-bold pl-50 pr-50" data-brk-library="component__button"><span
                class="before">Buy now <span class="font__family-times-new-roman text-lowercase font__style-italic">for</span> 39$</span><span class="text">Click Me</span><span class="after">Buy now <span class="font__family-times-new-roman text-lowercase font__style-italic">for</span>
                39$</span></a>
            <div class="brk-info-menu-open brk-info-menu-open_skin-2 brk-header__item"><span class="brk-lines brk-info-menu-open_white"><span class="brk-center-line"></span></span>
              <div class="brk-info-menu-open__title">Side Menu</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="brk-info-menu">
      <div class="brk-info-menu__bar">
        <div class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">More info <button class="brk-info-menu__close"><i class="fa fa-times" aria-hidden="true"></i></button></div>
        <ul class="list-inline-7 mt-10 mb-10">
          <li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our Features <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
          <li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our Clients <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
          <li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our News <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
          <li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our Partners <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
          <li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our History <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
        </ul>
        <div class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">Our instagram</div>
        <div class="default-slider dots-base-skin dots-base-color slick-loading mt-15" data-slick="{&quot;slidesToShow&quot;: 1, &quot;slidesToScroll&quot;: 1, &quot;dots&quot;: true, &quot;autoplay&quot;: false, &quot;autoplaySpeed&quot;: 4000}"
          data-brk-library="slider__slick">
          <div>
            <div class="brk-header-slider">
              <div class="brk-header-slider__img brk-base-box-shadow"><img src="img/309x206_1.jpg" alt="alt"></div>
              <div class="brk-header-slider__content"><img class="lazyload" src="img/head-icon.png" alt="alt">
                <div class="brk-header-slider__content--title">
                  <h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4><span class="font__size-14">17 Hours ago</span>
                </div>
              </div>
              <p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra</p>
            </div>
          </div>
          <div>
            <div class="brk-header-slider">
              <div class="brk-header-slider__img brk-base-box-shadow"><img class="lazyload" src="img/309x206_2.jpg" alt="alt"></div>
              <div class="brk-header-slider__content"><img class="lazyload" src="img/head-icon.png" alt="alt">
                <div class="brk-header-slider__content--title">
                  <h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4><span class="font__size-14">17 Hours ago</span>
                </div>
              </div>
              <p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra</p>
            </div>
          </div>
          <div>
            <div class="brk-header-slider">
              <div class="brk-header-slider__img brk-base-box-shadow"><img class="lazyload" src="img/309x206_3.jpg" alt="alt"></div>
              <div class="brk-header-slider__content"><img class="lazyload" src="img/head-icon.png" alt="alt">
                <div class="brk-header-slider__content--title">
                  <h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4><span class="font__size-14">17 Hours ago</span>
                </div>
              </div>
              <p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>