<section>
  	<div class="brk-header-mobile">
		<div class="brk-header-mobile__open brk-header-mobile__open_white"><span></span></div>
		<div class="brk-header-mobile__logo"><a href="javascript:void(0)"><img class="brk-header-mobile__logo-1 lazyload" src="img/logo-2.png" alt="alt"> <img class="brk-header-mobile__logo-2 lazyload" src="img/logo-dark-2.png" alt="alt"></a></div>
	</div>
	<header class="brk-header brk-header_style-1 brk-header_color-dark brk-header_skin-1 d-flex flex-column brk-header_not-fixed" data-logo-src="img/logo-dark-2.png" data-bg-mobile="img/brk-bg-mobile-menu.jpg" data-sticky-hide="1" data-brk-library="component__header">
		<div class="brk-header__main-bar bg-white" style="height: 76px;">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-lg-2 align-self-lg-center d-none d-lg-block">
						<div class="text-center"><a href="/demo_construction.html" class="brk-header__logo brk-header__item"><img src="img/logo-dark-1.png" alt=""></a></div>
					</div>
					<div class="col-lg align-self-lg-stretch text-lg-right">
						<nav class="brk-nav brk-nav_modifier-bold brk-header__item">
							<ul class="brk-nav__menu">
								<li><a href="/demo_construction.html"><span>Home</span></a></li>
								<li class="brk-nav__children brk-nav__drop-down-effect"><a href="/demo_construction_about.html"><span>About</span></a>
									<ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
										<li class="dd-effect"><a href="/demo_construction_about.html">About Us</a></li>
										<li class="dd-effect"><a href="/demo_construction_history.html">History</a></li>
										<li class="dd-effect"><a href="/demo_construction_team.html">Team</a></li>
										<li class="dd-effect"><a href="/demo_construction_partners.html">Partners</a></li>
										<li class="dd-effect"><a href="/demo_construction_testimonials.html">Testimonials</a></li>
									</ul>
								</li>
								<li><a href="/demo_construction_projects.html"><span>Projects</span></a></li>
								<li><a href="/demo_construction_services.html"><span>Services</span></a></li>
								<li><a href="/demo_construction_news.html"><span>News</span></a></li>
								<li><a href="/demo_construction_contact.html"><span>Contact</span></a></li>
							</ul>
						</nav>
					</div>
					<div class="col-lg-1 align-self-lg-stretch text-lg-right">
						<div class="brk-info-menu-open brk-info-menu-open_skin-3 brk-header__item"><span class="brk-lines"><span class="brk-center-line"></span></span>
							<div class="brk-info-menu-open__title">Side Menu</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="brk-info-menu">
			<div class="brk-info-menu__bar">
				<div class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">More info <button class="brk-info-menu__close"><i class="fa fa-times" aria-hidden="true"></i></button></div>
				<ul class="list-inline-7 mt-10 mb-10">
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our Features <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our Clients <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our News <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our Partners <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our History <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
				</ul>
				<div class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">Our instagram</div>
				<div class="default-slider dots-base-skin dots-base-color slick-loading mt-15" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "autoplay": false, "autoplaySpeed": 4000}' data-brk-library="slider__slick">
					<div>
						<div class="brk-header-slider">
							<div class="brk-header-slider__img brk-base-box-shadow"><img src="img/309x206_1.jpg" alt="alt"></div>
							<div class="brk-header-slider__content"><img class="lazyload" src="img/head-icon.png" alt="alt">
								<div class="brk-header-slider__content--title">
									<h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4><span class="font__size-14">17 Hours ago</span>
								</div>
							</div>
							<p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra</p>
						</div>
					</div>
					<div>
						<div class="brk-header-slider">
							<div class="brk-header-slider__img brk-base-box-shadow"><img class="lazyload" src="img/309x206_2.jpg" alt="alt"></div>
							<div class="brk-header-slider__content"><img class="lazyload" src="img/head-icon.png" alt="alt">
								<div class="brk-header-slider__content--title">
									<h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4><span class="font__size-14">17 Hours ago</span>
								</div>
							</div>
							<p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra</p>
						</div>
					</div>
					<div>
						<div class="brk-header-slider">
							<div class="brk-header-slider__img brk-base-box-shadow"><img class="lazyload" src="img/309x206_3.jpg" alt="alt"></div>
							<div class="brk-header-slider__content"><img class="lazyload" src="img/head-icon.png" alt="alt">
								<div class="brk-header-slider__content--title">
									<h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4><span class="font__size-14">17 Hours ago</span>
								</div>
							</div>
							<p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</section>