	<section>
	<div class="brk-header-mobile">
		<div class="brk-header-mobile__open brk-header-mobile__open_white"><span></span></div>
		<div class="brk-header-mobile__logo"><a href="javascript:void(0)"><img class="brk-header-mobile__logo-1 lazyload" src="img/logo-2.png" alt="alt"> <img class="brk-header-mobile__logo-2 lazyload" src="img/logo-dark-2.png" alt="alt"></a></div>
	</div>
	<header class="brk-header brk-header_vertical brk-header_style-2 brk-header_color-white brk-header_skin-2 position-fixed" data-logo-src="img/logo-dark-2.png" data-bg-mobile="img/brk-bg-mobile-menu.jpg" data-brk-library="component__header">
		<div class="brk-header__main-bar brk-header_border-bottom-20" style="height: 70px;">
			<div class="row justify-content-lg-between flex-lg-row-reverse">
				<div class="col-lg-auto d-lg-flex flex-lg-row-reverse">
					<div class="brk-info-menu-open brk-info-menu-open_skin-5 brk-header_border-bottom-20 brk-header__item"><span class="brk-lines"><span class="brk-center-line"></span></span>
						<div class="brk-info-menu-open__title">Side Menu</div>
					</div>
					<div class="brk-search brk-header_border-bottom-20 brk-header__item">
						<div class="brk-search__open"><i class="fal fa-search" aria-hidden="true"></i>
							<div class="brk-search__title">Search website</div>
						</div>
						<div class="brk-search__block">
							<div class="brk-search__header"><span class="font__family-montserrat font__weight-bold font__size-18">Search</span></div>
							<form class="brk-search__form" role="search" method="get" action="#"><input name="s" maxlength="50" type="text" value="" placeholder="Enter search text"> <button type="submit"><i class="fas fa-search"></i></button></form><span class="brk-search__close font__family-montserrat font__weight-medium">Close <i class="fas fa-times"></i></span>
						</div>
					</div>
				</div>
				<div class="col-lg-auto">
					<div class="brk-header-popup-menu">
						<div class="brk-header-popup-menu__open-close font__family-montserrat font__weight-light font__size-14 letter-spacing-40">
							<div class="brk-open"><i class="fal fa-bars"></i> Menu</div>
							<div class="brk-close"><i class="fal fa-times"></i> Close</div>
						</div>
						<div class="brk-header-popup-menu__menu text-lg-center font__family-roboto font__weight-thin">
							<ul>
								<li><a href="javascript:void(0)">Portfolio</a></li>
								<li><a href="javascript:void(0)">About</a>
									<ul>
										<li><a href="javascript:void(0)">About 1</a></li>
										<li><a href="javascript:void(0)">About 2</a></li>
										<li><a href="javascript:void(0)">About 3</a></li>
									</ul>
								</li>
								<li><a href="javascript:void(0)">Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-auto d-lg-flex flex-lg-row-reverse">
					<div class="brk-header__title font__family-montserrat font__weight-bold">Info</div>
					<div class="brk-social-links brk-social-links_no-open brk-header_border-right-20 brk-social-links_link-14 brk-header__item">
						<div class="brk-social-links__open"><i class="fa fa-share-alt"></i>
							<div class="brk-social-links__title">Share our website</div>
						</div>
						<div class="brk-social-links__block">
							<div class="brk-social-links__header"><span class="font__family-montserrat font__weight-bold font__size-18">Share our website</span></div>
							<div class="brk-social-links__content"><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-instagram" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-youtube" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-vimeo-square" aria-hidden="true"></i></a></div>
						</div>
					</div>
					<div class="brk-totop brk-header_border-top-20"><i class="fal fa-arrow-up"></i></div>
				</div>
			</div>
		</div>
		<div class="brk-info-menu">
			<div class="brk-info-menu__bar">
				<div class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">More info <button class="brk-info-menu__close"><i class="fa fa-times" aria-hidden="true"></i></button></div>
				<ul class="list-inline-7 mt-10 mb-10">
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our Features <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our Clients <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our News <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our Partners <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
					<li class="font__family-open-sans font__size-14"><a href="javascript:void(0)">Our History <span class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
				</ul>
				<div class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">Our instagram</div>
				<div class="default-slider dots-base-skin dots-base-color slick-loading mt-15" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "autoplay": false, "autoplaySpeed": 4000}' data-brk-library="slider__slick">
					<div>
						<div class="brk-header-slider">
							<div class="brk-header-slider__img brk-base-box-shadow"><img src="img/309x206_1.jpg" alt="alt"></div>
							<div class="brk-header-slider__content"><img class="lazyload" src="img/head-icon.png" alt="alt">
								<div class="brk-header-slider__content--title">
									<h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4><span class="font__size-14">17 Hours ago</span>
								</div>
							</div>
							<p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra</p>
						</div>
					</div>
					<div>
						<div class="brk-header-slider">
							<div class="brk-header-slider__img brk-base-box-shadow"><img class="lazyload" src="img/309x206_2.jpg" alt="alt"></div>
							<div class="brk-header-slider__content"><img class="lazyload" src="img/head-icon.png" alt="alt">
								<div class="brk-header-slider__content--title">
									<h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4><span class="font__size-14">17 Hours ago</span>
								</div>
							</div>
							<p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra</p>
						</div>
					</div>
					<div>
						<div class="brk-header-slider">
							<div class="brk-header-slider__img brk-base-box-shadow"><img class="lazyload" src="img/309x206_3.jpg" alt="alt"></div>
							<div class="brk-header-slider__content"><img class="lazyload" src="img/head-icon.png" alt="alt">
								<div class="brk-header-slider__content--title">
									<h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4><span class="font__size-14">17 Hours ago</span>
								</div>
							</div>
							<p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	</section>