<section class="overflow-hid brk-bg-center-cover lazyload" style="background-image: url(img/demo_freelance_blog/1920x480_1.jpg)" data-brk-library="component__parallax">
	<div class="container">
					<div class="row row-no-gutter triangle__wrap triangle__wrap-double scroll-show content__side-right"><span class="parallax__bg-shape-sm brk-parallax__bg-color"></span> <span class="parallax__bg-shape-lg brk-parallax__bg-gradient"></span>
						<div class="col-md-6"></div>
						<div class="col-md-6">
							<div class="all-light text-left pt-lg-210 pt-50 pb-lg-210 pb-50">
								<h4 class="font__family-montserrat font__weight-medium font__size-24 line__height-32 text-uppercase highlight-underline mt-0 show-inline-block text-middle"><span class="before wow fadeInUp"></span>Start with us right now</h4><a href="javascript:void(0)" class="btn btn-sm btn-simple border-radius-50 ml-30 mt-1"><i class="icon-inside icon-inline fa fa-angle-right font__size-24 mr-0" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
</section>