<section class="overflow-hid brk-bg-center-cover lazyload" data-bg="img/demo_freelance_blog/1920x800_2.jpg" data-brk-library="component__parallax">
	<div class="container">
					<div class="row triangle__wrap triangle__wrap-double scroll-show content__side-right flex-row-reverse"><span class="parallax__bg-shape-sm brk-parallax__bg-gradient"></span> <span class="parallax__bg-shape-lg brk-parallax__bg-color"></span>
						<div class="col-md-5">
							<div class="text-left pt-lg-100 pt-30 pb-lg-100 pb-30">
								<h2 class="font__family-montserrat font__weight-ultralight font__size-48"><span class="font__weight-bold">Be</span> in Business</h2>
								<p class="font__family-open-sans font__size-16 line__height-24 text-gray-light mt-10">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor Aliquam lorem ante, dapibus in, viverra quis.</p>
								<div class="progress__wrapper progress__gradient mt-50" data-brk-library="component__progress_bar">
									<div class="progress">
										<div data-valuemax="100" data-valuemin="0" data-valuenow="100" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">100</span>
									</div>
									<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Hard Work</h5>
								</div>
								<div class="progress__wrapper progress__gradient" data-brk-library="component__progress_bar">
									<div class="progress">
										<div data-valuemax="100" data-valuemin="0" data-valuenow="80" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">80</span>
									</div>
									<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Projects Delivery</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
</section>