<section>
<div class="parallax-bg overflow-hid mt-30" style="background-image: url(img/demo_agency_modern/1920x1080_1.jpg)" data-brk-library="component__parallax">
				<div class="container">
					<div class="row round__wrap scroll-show content__side-right"><span class="parallax__bg-shape-lg brk-parallax__bg-gradient-md"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1787 480">
								<defs>
									<style>.b {
              fill-rule: evenodd;
              fill: url(#a2);
            }</style>
									<linearGradient id="a2" y1="240" x2="1787" y2="240" gradientUnits="userSpaceOnUse">
										<stop offset="0%" stop-color="var(--brand-primary)" />
										<stop offset="50%" stop-color="var(--secondary)" />
									</linearGradient>
								</defs>
								<path class="b" d="M0,480c132.55,0,240-107.45,240-240S132.55,0,0,0H1787V480Z" />
							</svg></span>
						<div class="col-md-7"></div>
						<div class="col-md-5">
							<div class="all-light text-md-left text-center pt-md-140 pb-md-140 pt-40 pb-40 pl-30">
								<div class="d-flex flex-column flex-md-row align-items-center"><img src="img/letter-white.png" class="pr-md-30 pb-20 pb-md-0" alt="alt" style="margin-left: -26px;">
									<p class="font__family-open-sans font__size-15 line__height-24 brk-white-font-color opacity-60">Aenean vulputate eleifend tellus. Aenean leo ula,<br>porttitor eu, consequat vitae, eleifend ac.</p>
								</div>
								<div class="ml-md-30">
									<h4 class="font__family-montserrat font__weight-bold font__size-28 text-uppercase mt-20">Flexible & Customizable</h4><a href="javascript:void(0)" class="btn btn-prime btn-lg border-radius-5 font__weight-normal btn-prime-white ml-0 mr-0 mt-20 pl-50 pr-50 pt-10 pb-10" data-brk-library="component__button"><span class="before"></span><span class="after"></span><span class="border-btn"></span>Button</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</section>