<section class="brk-light-gradient-0deg-100 brk-border-btn pb-120" data-brk-library="component__portfolio_masonry">
			<div class="container">
				<div class="row">
					<ul class="brk-filters brk-filters_style-2 font__size-14 font__weight-bold line__height-16 text-uppercase mx-auto d-inline-flex brk-base-font-color pl-35 pr-35 mt-70 mt-lg-0 mb-40 mb-lg-70">
						<li class="brk-filters__item active" data-filter="*"><span>All</span></li>
						<li class="brk-filters__item" data-filter=".logotypes"><span>Logotypes</span></li>
						<li class="brk-filters__item" data-filter=".magazines"><span>magazines</span></li>
						<li class="brk-filters__item" data-filter=".albums"><span>Photo albums</span></li>
						<li class="brk-filters__item" data-filter=".design"><span>Graphic Design</span></li>
					</ul>
				</div>
				<div class="brk-grid" data-grid-cols="3" data-grid-cols-tablet="3">
					<div class="brk-grid__sizer"></div>
					<div class="brk-grid__item magazines design">
						<div class="post-filmstrip text-center brk-base-box-shadow lazyload" data-bg="img/demo_creative_agency/400x400_1.jpg" data-brk-library="component__content_slider,fancybox">
							<div class="post-filmstrip__content brk-base-bg-gradient-50deg text-center">
								<h3 class="font__family-montserrat font__weight-semibold font__size-21 line__height-24">7 Signs Your Website is Boring</h3>
								<div class="post-filmstrip__excerpt font__family-open-sans font__size-16 line__height-26">The web is both an interactive and virtually unlimited medium, meaning that your own little corner of it has great potential.</div>
								<div class="links"><a href="javascript:void(0)" class="links__permalink"><i class="fas fa-link"></i> </a><a href="img/demo_creative_agency/400x400_1.jpg" class="links__view fancybox"><i class="fas fa-search"></i></a></div>
							</div>
						</div>
					</div>
					<div class="brk-grid__item brk-grid__item_width-2 brk-grid__item_height-2 logotypes magazines">
						<div class="post-filmstrip text-center brk-base-box-shadow lazyload" data-bg="img/demo_creative_agency/800x800_1.jpg" data-brk-library="component__content_slider,fancybox">
							<div class="post-filmstrip__content brk-base-bg-gradient-50deg text-center">
								<h3 class="font__family-montserrat font__weight-semibold font__size-21 line__height-24">Smartly Coded & Maintained.</h3>
								<div class="post-filmstrip__excerpt font__family-open-sans font__size-16 line__height-26">The web is both an interactive and virtually unlimited medium, meaning that your own little corner of it has great potential.</div>
								<div class="links"><a href="javascript:void(0)" class="links__permalink"><i class="fas fa-link"></i> </a><a href="img/demo_creative_agency/800x800_1.jpg" class="links__view fancybox"><i class="fas fa-search"></i></a></div>
							</div>
						</div>
					</div>
					<div class="brk-grid__item brk-grid__item_height-2 albums design">
						<div class="post-filmstrip text-center brk-base-box-shadow lazyload" data-bg="img/demo_creative_agency/400x800_1.jpg" data-brk-library="component__content_slider,fancybox">
							<div class="post-filmstrip__content brk-base-bg-gradient-50deg text-center">
								<h3 class="font__family-montserrat font__weight-semibold font__size-21 line__height-24">Scalable on Devices</h3>
								<div class="post-filmstrip__excerpt font__family-open-sans font__size-16 line__height-26">The web is both an interactive and virtually unlimited medium, meaning that your own little corner of it has great potential.</div>
								<div class="links"><a href="javascript:void(0)" class="links__permalink"><i class="fas fa-link"></i> </a><a href="img/demo_creative_agency/400x800_1.jpg" class="links__view fancybox"><i class="fas fa-search"></i></a></div>
							</div>
						</div>
					</div>
					<div class="brk-grid__item brk-grid__item_width-2 logotypes albums">
						<div class="brk-hosted-video" data-brk-library="component__media_embeds,fancybox">
							<div class="d-none brk-abs-bg-overlay"></div><img src="img/demo_creative_agency/800x400_1.jpg " alt="alt" class="brk-hosted-video__img lazyload">
							<div class="brk-hosted-video__body"><a class="icon__btn icon__btn_reverse icon__btn-circled icon__btn-lg brk-hosted-video__btn fancybox" href="" data-brk-library="component__button"><span class="before"></span> <i class="fa fa-play" aria-hidden="true"></i> <span class="after"></span></a></div><video class="brk-hosted-video__video-container" controls id="video-id">
								<source src="http://dev.nikadevs.com/berserk-data/Placeholder_Video.mp4" type="video/mp4"></video>
						</div>
					</div>
				</div>
				<div class="text-center"><button class="btn btn-inside-out btn-lg btn-inside-out-invert pr-50 pl-50 ml-auto mr-auto mt-0 mb-0 border-radius-25 brk-load-button" data-brk-library="component__button"><span class="before">load more</span><span class="text">Click Me</span><span class="after">load more</span></button></div>
			</div>
</section>