<section class="pt-70 pb-70 pb-lg-0" id="portfolio">
			<div class="container">
				<div class="text-center mb-40 mb-lg-70">
					<h4 class="font__family-montserrat font__weight-light font__size-28 line__height-30 mb-10 brk-base-font-color">Check our space</h4>
					<h3 class="font__family-montserrat font__size-42 font__weight-bold line__height-46">Our Workspace</h3>
				</div>
				<div class="brk-grid" data-grid-cols="4" data-grid-cols-tablet="2">
					<div class="brk-grid__sizer"></div>
					<div class="brk-grid__item brk-grid__item_width-2 brk-grid__item_height-2">
						<div class="brk-simple-card" data-brk-library="component__portfolio_isotope">
							<div class="brk-simple-card__animation-wrapper"><img class="brk-simple-card__img lazyload" src="img/demo_agency_fluid/570x570_1.jpg" alt="alt">
								<div class="brk-simple-card__overlay brk-base-bg-gradient-10deg"></div>
								<div class="brk-simple-card__info"><a href="javascript:void(0)" class="font__family-montserrat font__weight-bold font__size-24 text-uppercase text-center text-white brk-simple-card__title">Put a plan into action</a> <a href="javascript:void(0)" class="font__familt-montserrat font__weight-bold font__size-14 text-uppercase text-center text-light-soft brk-simple-card__category">Achieve the target</a></div><a href="javascript:void(0)" class="brk-simple-card__link font__family-montserrat font__weight-bold font__size-18 text-white brk-bg-primary">+</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item">
						<div class="brk-simple-card" data-brk-library="component__portfolio_isotope">
							<div class="brk-simple-card__animation-wrapper"><img class="brk-simple-card__img lazyload" src="img/demo_agency_fluid/270x270_1.jpg" alt="alt">
								<div class="brk-simple-card__overlay brk-base-bg-gradient-10deg"></div>
								<div class="brk-simple-card__info"><a href="javascript:void(0)" class="font__family-montserrat font__weight-bold font__size-24 text-uppercase text-center text-white brk-simple-card__title">Stay on budget</a> <a href="javascript:void(0)" class="font__familt-montserrat font__weight-bold font__size-14 text-uppercase text-center text-light-soft brk-simple-card__category">Wrap up the project</a></div><a href="javascript:void(0)" class="brk-simple-card__link font__family-montserrat font__weight-bold font__size-18 text-white brk-bg-primary">+</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item">
						<div class="brk-simple-card" data-brk-library="component__portfolio_isotope">
							<div class="brk-simple-card__animation-wrapper"><img class="brk-simple-card__img lazyload" src="img/demo_agency_fluid/270x270_2.jpg" alt="alt">
								<div class="brk-simple-card__overlay brk-base-bg-gradient-10deg"></div>
								<div class="brk-simple-card__info"><a href="javascript:void(0)" class="font__family-montserrat font__weight-bold font__size-24 text-uppercase text-center text-white brk-simple-card__title">Outsource a task</a> <a href="javascript:void(0)" class="font__familt-montserrat font__weight-bold font__size-14 text-uppercase text-center text-light-soft brk-simple-card__category">Review the plan</a></div><a href="javascript:void(0)" class="brk-simple-card__link font__family-montserrat font__weight-bold font__size-18 text-white brk-bg-primary">+</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item brk-grid__item_width-2">
						<div class="brk-simple-card" data-brk-library="component__portfolio_isotope">
							<div class="brk-simple-card__animation-wrapper"><img class="brk-simple-card__img lazyload" src="img/demo_agency_fluid/570x270_2.jpg" alt="alt">
								<div class="brk-simple-card__overlay brk-base-bg-gradient-10deg"></div>
								<div class="brk-simple-card__info"><a href="javascript:void(0)" class="font__family-montserrat font__weight-bold font__size-24 text-uppercase text-center text-white brk-simple-card__title">According to schedule</a> <a href="javascript:void(0)" class="font__familt-montserrat font__weight-bold font__size-14 text-uppercase text-center text-light-soft brk-simple-card__category">Schedule a meeting</a></div><a href="javascript:void(0)" class="brk-simple-card__link font__family-montserrat font__weight-bold font__size-18 text-white brk-bg-primary">+</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item brk-grid__item_width-2">
						<div class="brk-simple-card" data-brk-library="component__portfolio_isotope">
							<div class="brk-simple-card__animation-wrapper"><img class="brk-simple-card__img lazyload" src="img/demo_agency_fluid/570x270_1.jpg" alt="alt">
								<div class="brk-simple-card__overlay brk-base-bg-gradient-10deg"></div>
								<div class="brk-simple-card__info"><a href="javascript:void(0)" class="font__family-montserrat font__weight-bold font__size-24 text-uppercase text-center text-white brk-simple-card__title">Give the green light</a> <a href="javascript:void(0)" class="font__familt-montserrat font__weight-bold font__size-14 text-uppercase text-center text-light-soft brk-simple-card__category">Start from scratch</a></div><a href="javascript:void(0)" class="brk-simple-card__link font__family-montserrat font__weight-bold font__size-18 text-white brk-bg-primary">+</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item">
						<div class="brk-simple-card" data-brk-library="component__portfolio_isotope">
							<div class="brk-simple-card__animation-wrapper"><img class="brk-simple-card__img lazyload" src="img/demo_agency_fluid/270x270_3.jpg" alt="alt">
								<div class="brk-simple-card__overlay brk-base-bg-gradient-10deg"></div>
								<div class="brk-simple-card__info"><a href="javascript:void(0)" class="font__family-montserrat font__weight-bold font__size-24 text-uppercase text-center text-white brk-simple-card__title">Schedule a meeting</a> <a href="javascript:void(0)" class="font__familt-montserrat font__weight-bold font__size-14 text-uppercase text-center text-light-soft brk-simple-card__category">Review the plan</a></div><a href="javascript:void(0)" class="brk-simple-card__link font__family-montserrat font__weight-bold font__size-18 text-white brk-bg-primary">+</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item">
						<div class="brk-simple-card" data-brk-library="component__portfolio_isotope">
							<div class="brk-simple-card__animation-wrapper"><img class="brk-simple-card__img lazyload" src="img/demo_agency_fluid/270x270_4.jpg" alt="alt">
								<div class="brk-simple-card__overlay brk-base-bg-gradient-10deg"></div>
								<div class="brk-simple-card__info"><a href="javascript:void(0)" class="font__family-montserrat font__weight-bold font__size-24 text-uppercase text-center text-white brk-simple-card__title">Wrap up the project</a> <a href="javascript:void(0)" class="font__familt-montserrat font__weight-bold font__size-14 text-uppercase text-center text-light-soft brk-simple-card__category">Put a plan</a></div><a href="javascript:void(0)" class="brk-simple-card__link font__family-montserrat font__weight-bold font__size-18 text-white brk-bg-primary">+</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>