<section class="pt-50 pb-35">
				<div class="container">
					<div class="brk-grid" data-grid-cols="3" data-grid-cols-tablet="3">
						<div class="brk-grid__sizer"></div>
						<div class="brk-grid__item">
							<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
								<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_art/370x370_1.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-black-60-overlay"></span>
									<div class="brk-btn-swipe-card__caption">
										<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Boxed & Wide</h2>
										<h2 class="brk-white-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">Layouts</h2>
									</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn brk-white-font-color font__size-14 font__weight-bold text-uppercase btn-no-shadow">View more <i class="fas fa-long-arrow-alt-right font__size-14 ml-10"></i></a>
								</div>
							</div>
						</div>
						<div class="brk-grid__item brk-grid__item_height-2">
							<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
								<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_art/370x770_1.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-black-60-overlay"></span>
									<div class="brk-btn-swipe-card__caption">
										<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Extensive Documentation</h2>
										<h2 class="brk-white-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">Parallax Support</h2>
									</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn brk-white-font-color font__size-14 font__weight-bold text-uppercase btn-no-shadow">View more <i class="fas fa-long-arrow-alt-right font__size-14 ml-10"></i></a>
								</div>
							</div>
						</div>
						<div class="brk-grid__item">
							<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
								<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_art/370x370_3.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-black-60-overlay"></span>
									<div class="brk-btn-swipe-card__caption">
										<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Tons Color Schemes</h2>
										<h2 class="brk-white-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">Endless Possibilities</h2>
									</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn brk-white-font-color font__size-14 font__weight-bold text-uppercase btn-no-shadow">View more <i class="fas fa-long-arrow-alt-right font__size-14 ml-10"></i></a>
								</div>
							</div>
						</div>
						<div class="brk-grid__item">
							<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
								<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_art/370x370_3.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-black-60-overlay"></span>
									<div class="brk-btn-swipe-card__caption">
										<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">HTML5 Video</h2>
										<h2 class="brk-white-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">Powerful Performance</h2>
									</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn brk-white-font-color font__size-14 font__weight-bold text-uppercase btn-no-shadow">View more <i class="fas fa-long-arrow-alt-right font__size-14 ml-10"></i></a>
								</div>
							</div>
						</div>
						<div class="brk-grid__item brk-grid__item_height-2">
							<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
								<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_art/370x770_2.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-black-60-overlay"></span>
									<div class="brk-btn-swipe-card__caption">
										<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Smartly Coded</h2>
										<h2 class="brk-white-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">& Maintained</h2>
									</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn brk-white-font-color font__size-14 font__weight-bold text-uppercase btn-no-shadow">View more <i class="fas fa-long-arrow-alt-right font__size-14 ml-10"></i></a>
								</div>
							</div>
						</div>
						<div class="brk-grid__item brk-grid__item_width-2">
							<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
								<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_art/770x370_1.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-black-60-overlay"></span>
									<div class="brk-btn-swipe-card__caption">
										<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Responsive</h2>
										<h2 class="brk-white-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">& Retina</h2>
									</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn brk-white-font-color font__size-14 font__weight-bold text-uppercase btn-no-shadow">View more <i class="fas fa-long-arrow-alt-right font__size-14 ml-10"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>