<section id="prices" class="position-relative pb-140 pb-xs-50 z-index-2 mb-80 mb-lg-0" style="padding-top: 310px; margin-top: -243px;">
			<div class="brk-abs-overlay brk-base-bg-gradient-90deg"></div><span class="brk-svg-pattern-container brk-svg-pattern-container-15-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 237">
					<defs>
						<path id="svg-id-1" d="M0 6912s132.83-133.73 460.72-81.1c327.9 52.63 536.48 71.78 808.73-25.2 272.26-96.97 541.5-46.48 650.55-130.7H0z" />
					</defs>
					<g>
						<g transform="translate(0 -6675)">
							<use fill="#fff" xlink:href="#svg-id-1" />
						</g>
					</g>
				</svg> </span><span class="brk-svg-pattern-container brk-svg-pattern-container-15-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 137">
					<defs>
						<path id="svg-id-2" d="M1920 8215H0v-80.78c25.76 8.63 67.3 19.24 133 29.1 144 21.64 208.92-49.01 388-50.29 179.08-1.27 262.24 117 496 61.32 215.22-51.26 328.47-96.35 483-96.35 154.53 0 339.96 98.05 420 98.05z" />
					</defs>
					<g>
						<g transform="translate(0 -8078)">
							<use fill="#fff" xlink:href="#svg-id-2" />
						</g>
					</g>
				</svg></span>
			<div class="text-center">
				<h3 class="font__family-montserrat brk-white-font-color font__size-54 line__height-64 text-uppercase mb-60"><span class="font__weight-thin">Check</span><br><span class="font__weight-bold">All APP Prices</span></h3>
			</div>
			<div class="container">
				<article class="brk-pricing-horizontal brk-base-box-shadow" data-brk-library="component__pricing_table,component__button">
					<div class="brk-pricing-horizontal__container">
						<h2 class="sr-only">Pricing package</h2>
						<div class="brk-pricing-horizontal__viewed">
							<h3 class="font__family-montserrat font__weight-bold font__size-12">Basic</h3>
						</div>
						<div class="brk-pricing-horizontal__info">
							<div class="brk-pricing-horizontal__img-icon"><img class="img-icon lazyload" src="img/195x91_1.png" alt="alt"></div>
							<div class="brk-pricing-horizontal__price"><span class="sign">$</span> <span class="font__family-montserrat font__weight-bold font__size-40 line__height-50">149</span></div>
							<div class="brk-pricing-horizontal__list-options font__family-roboto font__weight-light font__size-15 line__height-28"><span class="options-active"><i class="fal fa-check"></i> 12 High-Res Photos</span> <span class="options-active"><i class="fal fa-check"></i> 48 Hour Delivery</span> <span class="options-deactive"><i class="fal fa-minus"></i> 6 Video Clips</span> <span class="options-deactive"><i class="fal fa-minus"></i> 30 Sec Video</span> <span class="options-deactive"><i class="fal fa-minus"></i> Listing Address</span> <span class="options-deactive"><i class="fal fa-minus"></i> Music</span></div>
						</div><button class="h-button btn font__family-montserrat font__weight-bold"><span class="before brk-bg-grad"></span> <strong>Buy now</strong> <i class="fa fa-angle-right"></i></button>
					</div>
				</article>
				<article class="brk-pricing-horizontal brk-base-box-shadow" data-brk-library="component__pricing_table,component__button">
					<div class="brk-pricing-horizontal__container">
						<h2 class="sr-only">Pricing package</h2>
						<div class="brk-pricing-horizontal__viewed">
							<h3 class="font__family-montserrat font__weight-bold font__size-12">Popular</h3>
						</div>
						<div class="brk-pricing-horizontal__info">
							<div class="brk-pricing-horizontal__img-icon"><img class="img-icon lazyload" src="img/193x118_1.png" alt="alt"></div>
							<div class="brk-pricing-horizontal__price"><span class="sign">$</span> <span class="font__family-montserrat font__weight-bold font__size-40 line__height-50">199</span></div>
							<div class="brk-pricing-horizontal__list-options font__family-roboto font__weight-light font__size-15 line__height-28"><span class="options-active"><i class="fal fa-check"></i> 12 High-Res Photos</span> <span class="options-active"><i class="fal fa-check"></i> 48 Hour Delivery</span> <span class="options-active"><i class="fal fa-check"></i> 6 Video Clips</span> <span class="options-active"><i class="fal fa-check"></i> 30 Sec Video</span> <span class="options-deactive"><i class="fal fa-minus"></i> Listing Address</span> <span class="options-deactive"><i class="fal fa-minus"></i> Music</span></div>
						</div><button class="h-button btn font__family-montserrat font__weight-bold"><span class="before brk-bg-grad"></span> <strong>Buy now</strong> <i class="fa fa-angle-right"></i></button>
					</div>
				</article>
				<article class="brk-pricing-horizontal brk-base-box-shadow" data-brk-library="component__pricing_table,component__button">
					<div class="brk-pricing-horizontal__container">
						<h2 class="sr-only">Pricing package</h2>
						<div class="brk-pricing-horizontal__viewed">
							<h3 class="font__family-montserrat font__weight-bold font__size-12">Premium</h3>
						</div>
						<div class="brk-pricing-horizontal__info">
							<div class="brk-pricing-horizontal__img-icon"><img class="img-icon lazyload" src="img/153x91_1.png" alt="alt"></div>
							<div class="brk-pricing-horizontal__price"><span class="sign">$</span> <span class="font__family-montserrat font__weight-bold font__size-40 line__height-50">249</span></div>
							<div class="brk-pricing-horizontal__list-options font__family-roboto font__weight-light font__size-15 line__height-28"><span class="options-active"><i class="fal fa-check"></i> 12 High-Res Photos</span> <span class="options-active"><i class="fal fa-check"></i> 48 Hour Delivery</span> <span class="options-active"><i class="fal fa-check"></i> 6 Video Clips</span> <span class="options-active"><i class="fal fa-check"></i> 30 Sec Video</span> <span class="options-active"><i class="fal fa-check"></i> Listing Address</span> <span class="options-active"><i class="fal fa-check"></i> Music</span></div>
						</div><button class="h-button btn font__family-montserrat font__weight-bold"><span class="before brk-bg-grad"></span> <strong>Buy now</strong> <i class="fa fa-angle-right"></i></button>
					</div>
				</article>
			</div>
			<div class="container">
				<hr class="brk-wave-line mt-90 mb-60">
				<div class="row">
					<div class="col-lg-4">
						<h5 class="d-flex align-items-center mb-30"><span class="font__family-montserrat font__size-42 font__weight-semibold text-uppercase brk-color-base-2 mr-10">01</span> <span class="brk-white-font-color font__family-montserrat font__size-25 font__weight-light">Basic</span></h5>
						<p class="brk-white-font-color font__size-16 line__height-26 font__weight-normal mb-50">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
					</div>
					<div class="col-lg-4">
						<h5 class="d-flex align-items-center mb-30"><span class="font__family-montserrat font__size-42 font__weight-semibold text-uppercase brk-color-base-2 mr-10">02</span> <span class="brk-white-font-color font__family-montserrat font__size-25 font__weight-light">Popular</span></h5>
						<p class="brk-white-font-color font__size-16 line__height-26 font__weight-normal mb-50">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
					</div>
					<div class="col-lg-4">
						<h5 class="d-flex align-items-center mb-30"><span class="font__family-montserrat font__size-42 font__weight-semibold text-uppercase brk-color-base-2 mr-10">03</span> <span class="brk-white-font-color font__family-montserrat font__size-25 font__weight-light">Premium</span></h5>
						<p class="brk-white-font-color font__size-16 line__height-26 font__weight-normal mb-50">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
					</div>
				</div>
			</div>
		</section>