<section class="pb-50">
				<div class="bg-cover bg-norepeat bg-position_center bg-white bg-norepeat bg-position_center bg-white position-relative" style="background-image: url(img/bg-1920_1.jpg)" data-brk-library="component__progress_circle">
					<div class="brk-abs-bg-overlay bg-white opacity-90"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="chart__wrapper chart-icon align-items-center flex-row">
									<div class="chart mx-auto">
										<div class="chart__circle mb-20" data-valuenow="75" data-color="var(--secondary)" data-color-end="var(--brand-primary)"><span class="icon icon__centered"><i class="fal fa-rocket" aria-hidden="true"></i></span></div>
										<h5 class="font__family-montserrat font__size-16 chart__title text-center">Hard Work</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="chart__wrapper chart-icon align-items-center flex-row">
									<div class="chart mx-auto">
										<div class="chart__circle mb-20" data-valuenow="87" data-color="var(--secondary)" data-color-end="var(--brand-primary)"><span class="icon icon__centered"><i class="fal fa-trophy" aria-hidden="true"></i></span></div>
										<h5 class="font__family-montserrat font__size-16 chart__title text-center">Donates</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="chart__wrapper chart-icon align-items-center flex-row">
									<div class="chart mx-auto">
										<div class="chart__circle mb-20" data-valuenow="75" data-color="var(--secondary)" data-color-end="var(--brand-primary)"><span class="icon icon__centered"><i class="fal fa-thumbs-up" aria-hidden="true"></i></span></div>
										<h5 class="font__family-montserrat font__size-16 chart__title text-center">Hard Work</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="chart__wrapper chart-icon align-items-center flex-row">
									<div class="chart mx-auto">
										<div class="chart__circle mb-20" data-valuenow="87" data-color="var(--secondary)" data-color-end="var(--brand-primary)"><span class="icon icon__centered"><i class="fal fa-paper-plane" aria-hidden="true"></i></span></div>
										<h5 class="font__family-montserrat font__size-16 chart__title text-center">Donates</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>