<section class="pt-md-170 pb-md-70 pt-md-70 pb-20 brk-bg-light-gray position-relative" id="about"><span class="brk-svg-pattern-container brk-svg-pattern-container-17 brk-svg-pattern-container_top" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 180">
				<g id="path-id-17-1">
					<g>
						<polygon fill="#FFFFFF" points="0,0 1920,180 1920,0" />
					</g>
				</g>
			</svg></span>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-6">
					<div class="brk-img-double-wide" data-brk-library="component__image_frames">
						<div class="brk-img-double-wide__container"><img src="img/demo_creative_agency/548x635_1.png" alt="alt" class="lazyload"></div>
						<div class="brk-img-double-wide__container"><img src="img/demo_creative_agency/370x550_1.jpg" alt="alt" class="lazyload"></div>
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="pl-lg-35">
						<h3 class="font__family-montserrat font__size-56 font__weight-bold line__height-64 mb-sm-25 mt-sm-150 mt-35 mb-30 text-center text-lg-left">About Us</h3>
						<p class="brk-dark-font-color font__size-16 line__height-26 mb-lg-70 mb-40 text-center text-lg-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
						<div class="progress__wrapper progress__gradient" data-brk-library="component__progress_bar">
							<div class="progress">
								<div data-valuemax="100" data-valuemin="0" data-valuenow="100" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">100</span>
							</div>
							<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Hard Work</h5>
						</div>
						<div class="progress__wrapper progress__gradient" data-brk-library="component__progress_bar">
							<div class="progress">
								<div data-valuemax="100" data-valuemin="0" data-valuenow="80" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">80</span>
							</div>
							<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Projects Delivery</h5>
						</div>
						<div class="progress__wrapper progress__gradient mb-xs-25" data-brk-library="component__progress_bar">
							<div class="progress">
								<div data-valuemax="100" data-valuemin="0" data-valuenow="40" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">40</span>
							</div>
							<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Customers Love</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>