<section class="pt-100">
				<div class="text-center mb-100">
					<div class="z-index-high" data-brk-library="component__title">
						<h2 class="title__heading-02 title__heading-main font__family-roboto font__size-36 font__weight-bold">Heading here</h2><span class="title__heading-02 title__heading-sub wow font__family-roboto font__size-50 line__height-68 font__weight-thin fadeIn">Some subtitle here</span>
					</div>
					<div class="divider-lines"><span></span><span></span></div>
				</div>
				<div class="mb-60">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-xl-3">
								<figure class="shape-box__wrapper-half" data-brk-library="component__shape_box"><img src="img/300x460_1.jpg " alt="alt" class="lazyload">
									<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
									<figcaption>
										<div class="show-cont">
											<h3 class="font__family-montserrat font__size-36 brk-base-font-color">01</h3>
											<h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title">Design</h4>
										</div>
										<p class="font__family-open-sans font__size-14 text-gray">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 font__weight-bold" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
									</figcaption><span class="after"></span>
								</figure>
							</div>
							<div class="col-md-6 col-xl-3">
								<figure class="shape-box__wrapper-half" data-brk-library="component__shape_box"><img src="img/300x460_2.jpg " alt="alt" class="lazyload">
									<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
									<figcaption>
										<div class="show-cont">
											<h3 class="font__family-montserrat font__size-36 brk-base-font-color">02</h3>
											<h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title">Develop</h4>
										</div>
										<p class="font__family-open-sans font__size-14 text-gray">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 font__weight-bold" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
									</figcaption><span class="after"></span>
								</figure>
							</div>
							<div class="col-md-6 col-xl-3">
								<figure class="shape-box__wrapper-half" data-brk-library="component__shape_box"><img src="img/300x460_3.jpg " alt="alt" class="lazyload">
									<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
									<figcaption>
										<div class="show-cont">
											<h3 class="font__family-montserrat font__size-36 brk-base-font-color">03</h3>
											<h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title">Research</h4>
										</div>
										<p class="font__family-open-sans font__size-14 text-gray">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 font__weight-bold" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
									</figcaption><span class="after"></span>
								</figure>
							</div>
							<div class="col-md-6 col-xl-3">
								<figure class="shape-box__wrapper-half" data-brk-library="component__shape_box"><img src="img/300x460_1.jpg " alt="alt" class="lazyload">
									<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
									<figcaption>
										<div class="show-cont">
											<h3 class="font__family-montserrat font__size-36 brk-base-font-color">04</h3>
											<h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title">Promotion</h4>
										</div>
										<p class="font__family-open-sans font__size-14 text-gray">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 font__weight-bold" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
									</figcaption><span class="after"></span>
								</figure>
							</div>
						</div>
					</div>
				</div>
			</section>