<section class="pt-60" id="gallery">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-6">
							<h2 class="font__family-montserrat-alt font__size-96 font__weight-bold line__height-96 text-uppercase pt-50 mb-15 text-center text-lg-left">Our<br>Gallery</h2>
								<p class="brk-dark-font-color font__family-oxygen font__size-16 font__weight-light line__height-26 mb-30 text-center text-lg-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
						</div>
						<div class="col-12 col-lg-6">
							<div class="brk-hosted-video mb-90" data-brk-library="component__media_embeds,fancybox">
								<div class="brk-hosted-video__before brk-base-bg-gradient-50deg-opacity-28 brk-abs-bg-overlay"></div><img src="img/demo_art/570x360.jpg " alt="alt" class="brk-hosted-video__img lazyload">
								<div class="brk-hosted-video__body"><a class="icon__btn icon__btn_reverse icon__btn-circled icon__btn-lg brk-hosted-video__btn fancybox" href="" data-brk-library="component__button"><span class="before"></span> <i class="fa fa-play" aria-hidden="true"></i> <span class="after"></span></a></div><video class="brk-hosted-video__video-container" controls id="video-id">
									<source src="http://dev.nikadevs.com/berserk-data/Placeholder_Video.mp4" type="video/mp4"></video>
							</div>
						</div>
					</div>
					<div class="brk-gradien-carousel position-relative brk-z-index-10" data-brk-library="component__gallery_sliders,fancybox">
						<ul class="brk-sort-list font__family-montserrat font__size-15 font__weight-bold text-uppercase letter-spacing-20 brk-sort-list_full-width brk-sort-list_bottom-indicators mb-40" data-brk-library="component__gallery_sliders_css">
							<li class="brk-sort-list__item active" data-filter="all"><span>All</span> <span class="brk-sort-list__item-counter brk-base-font-color font__weight-light">8</span></li>
							<li class="brk-sort-list__item" data-filter="branding"><span>Branding</span> <span class="brk-sort-list__item-counter brk-base-font-color font__weight-light">6</span></li>
							<li class="brk-sort-list__item" data-filter="photography"><span>Photography</span> <span class="brk-sort-list__item-counter brk-base-font-color font__weight-light">2</span></li>
						</ul>
						<div class="brk-square-dots pb-90">
							<div class="brk-gradien-carousel__items slick-loading">
								<div>
									<div class="brk-gradient-card brk-gradient-card_hover-sizer" data-filter="photography" data-brk-library="component__gallery_sliders_css"><img class="brk-gradient-card__img lazyload" alt="alt" src="img/demo_art/970x600_1.jpg">
										<div class="brk-gradient-card__overlay brk-base-bg-gradient-6-black"></div>
										<div class="brk-gradient-card__body"><a href="img/demo_art/970x600_1.jpg" class="brk-gradient-card__img-frame fancybox"><i class="fal fa-plus font__size-23 brk-base-font-color"></i> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-heart font__size-17"></i> <span class="font__size-15 font__weight-light">12</span> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-long-arrow-right font__size-17"></i></a></div>
									</div>
								</div>
								<div>
									<div class="brk-gradient-card brk-gradient-card_hover-sizer" data-filter="branding" data-brk-library="component__gallery_sliders_css"><img class="brk-gradient-card__img lazyload" alt="alt" src="img/demo_art/970x600_2.jpg">
										<div class="brk-gradient-card__overlay brk-base-bg-gradient-6-black"></div>
										<div class="brk-gradient-card__body"><a href="img/demo_art/970x600_2.jpg" class="brk-gradient-card__img-frame fancybox"><i class="fal fa-plus font__size-23 brk-base-font-color"></i> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-heart font__size-17"></i> <span class="font__size-15 font__weight-light">12</span> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-long-arrow-right font__size-17"></i></a></div>
									</div>
								</div>
								<div>
									<div class="brk-gradient-card brk-gradient-card_hover-sizer" data-filter="branding" data-brk-library="component__gallery_sliders_css"><img class="brk-gradient-card__img lazyload" alt="alt" src="img/demo_art/970x600_3.jpg">
										<div class="brk-gradient-card__overlay brk-base-bg-gradient-6-black"></div>
										<div class="brk-gradient-card__body"><a href="img/demo_art/970x600_3.jpg" class="brk-gradient-card__img-frame fancybox"><i class="fal fa-plus font__size-23 brk-base-font-color"></i> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-heart font__size-17"></i> <span class="font__size-15 font__weight-light">12</span> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-long-arrow-right font__size-17"></i></a></div>
									</div>
								</div>
								<div>
									<div class="brk-gradient-card brk-gradient-card_hover-sizer" data-filter="photography" data-brk-library="component__gallery_sliders_css"><img class="brk-gradient-card__img lazyload" alt="alt" src="img/demo_art/970x600_1.jpg">
										<div class="brk-gradient-card__overlay brk-base-bg-gradient-6-black"></div>
										<div class="brk-gradient-card__body"><a href="img/demo_art/970x600_1.jpg" class="brk-gradient-card__img-frame fancybox"><i class="fal fa-plus font__size-23 brk-base-font-color"></i> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-heart font__size-17"></i> <span class="font__size-15 font__weight-light">12</span> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-long-arrow-right font__size-17"></i></a></div>
									</div>
								</div>
								<div>
									<div class="brk-gradient-card brk-gradient-card_hover-sizer" data-filter="branding" data-brk-library="component__gallery_sliders_css"><img class="brk-gradient-card__img lazyload" alt="alt" src="img/demo_art/970x600_2.jpg">
										<div class="brk-gradient-card__overlay brk-base-bg-gradient-6-black"></div>
										<div class="brk-gradient-card__body"><a href="img/demo_art/970x600_2.jpg" class="brk-gradient-card__img-frame fancybox"><i class="fal fa-plus font__size-23 brk-base-font-color"></i> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-heart font__size-17"></i> <span class="font__size-15 font__weight-light">12</span> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-long-arrow-right font__size-17"></i></a></div>
									</div>
								</div>
								<div>
									<div class="brk-gradient-card brk-gradient-card_hover-sizer" data-filter="branding" data-brk-library="component__gallery_sliders_css"><img class="brk-gradient-card__img lazyload" alt="alt" src="img/demo_art/970x600_3.jpg">
										<div class="brk-gradient-card__overlay brk-base-bg-gradient-6-black"></div>
										<div class="brk-gradient-card__body"><a href="img/demo_art/970x600_3.jpg" class="brk-gradient-card__img-frame fancybox"><i class="fal fa-plus font__size-23 brk-base-font-color"></i> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-heart font__size-17"></i> <span class="font__size-15 font__weight-light">12</span> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-long-arrow-right font__size-17"></i></a></div>
									</div>
								</div>
								<div>
									<div class="brk-gradient-card brk-gradient-card_hover-sizer" data-filter="branding" data-brk-library="component__gallery_sliders_css"><img class="brk-gradient-card__img lazyload" alt="alt" src="img/demo_art/970x600_4.jpg">
										<div class="brk-gradient-card__overlay brk-base-bg-gradient-6-black"></div>
										<div class="brk-gradient-card__body"><a href="img/demo_art/970x600_4.jpg" class="brk-gradient-card__img-frame fancybox"><i class="fal fa-plus font__size-23 brk-base-font-color"></i> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-heart font__size-17"></i> <span class="font__size-15 font__weight-light">12</span> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-long-arrow-right font__size-17"></i></a></div>
									</div>
								</div>
								<div>
									<div class="brk-gradient-card brk-gradient-card_hover-sizer" data-filter="branding" data-brk-library="component__gallery_sliders_css"><img class="brk-gradient-card__img lazyload" alt="alt" src="img/demo_art/970x600_1.jpg">
										<div class="brk-gradient-card__overlay brk-base-bg-gradient-6-black"></div>
										<div class="brk-gradient-card__body"><a href="img/demo_art/970x600_1.jpg" class="brk-gradient-card__img-frame fancybox"><i class="fal fa-plus font__size-23 brk-base-font-color"></i> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-heart font__size-17"></i> <span class="font__size-15 font__weight-light">12</span> </a><a href="javascript:void(0)" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color"><i class="fal fa-long-arrow-right font__size-17"></i></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>