<section class="pt-lg-40 pt-70" id="team">
				<div class="container">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-12 col-md-6">
							<div class="text-center mb-lg-150 mb-100">
								<h2 class="font__family-montserrat font__size-56 font__weight-ultralight line__height-60 mb-25">Our Team</h2>
								<h3 class="brk-dark-font-color font__size-15 font__weight-normal line__height-24 title-lines-solid title-lines-main" data-brk-library="component__title"><span class="line" style="background:rgba(var(--brand-primary-rgb), 0.2)"></span> <span class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing<br>elit. Aenean commodo ligula eget dolor.</span> <span class="line" style="background:rgba(var(--brand-primary-rgb), 0.2)"></span></h3>
							</div>
						</div>
					</div>
				</div>
				<div class="position-relative bg__style pb-60" style="background-image: url(img/demo_agency_modern/1920x1080_3.jpg)"><span class="brk-svg-pattern-container brk-svg-pattern-container-7-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 144">
							<defs>
								<path id="svg-pattern-id-5-1" d="M0 657.88s316.8-72.16 689-15.96c256.8 38.77 524.63 105.83 756 116.7 218.56 10.27 420.43-40.37 475-63.95V616H0z" />
							</defs>
							<g>
								<g transform="translate(0 -616)">
									<use fill="#fff" xlink:href="#svg-pattern-id-5-1" />
								</g>
							</g>
						</svg> </span><span class="brk-svg-pattern-container brk-svg-pattern-container-7-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 144">
							<defs>
								<path id="svg-pattern-id-5-2" d="M1920 1489.12s-316.8 72.16-689 15.96c-256.8-38.77-524.63-105.83-756-116.7-218.56-10.27-420.43 40.37-475 63.95V1531h1920z" />
							</defs>
							<g>
								<g transform="translate(0 -1387)">
									<use fill="#fff" xlink:href="#svg-pattern-id-5-2" />
								</g>
							</g>
						</svg> </span><span class="brk-abs-bg-overlay brk-bg-gradient-40deg-72"></span>
					<div class="position-relative" style="top: -70px; z-index: 5">
						<div class="container">
							<div class="row">
								<div class="col-lg-3 col-sm-6">
									<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
										<div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
											</a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
										<div class="brk-team-persone-circle__bg lazyload" style="background-image: url(img/demo_agency_modern/270x350_1.jpg)"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
													<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" /></svg></span>
											<ul class="brk-team-persone-circle__contacts">
												<li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
												<li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
												<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
												<li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
											</ul>
										</div>
										<div class="brk-team-persone-circle__social-links">
											<ul>
												<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</article>
								</div>
								<div class="col-lg-3 col-sm-6">
									<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
										<div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
											</a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
										<div class="brk-team-persone-circle__bg lazyload" style="background-image: url(img/demo_agency_modern/270x350_2.jpg)"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
													<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" /></svg></span>
											<ul class="brk-team-persone-circle__contacts">
												<li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
												<li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
												<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
												<li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
											</ul>
										</div>
										<div class="brk-team-persone-circle__social-links">
											<ul>
												<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</article>
								</div>
								<div class="col-lg-3 col-sm-6">
									<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
										<div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
											</a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
										<div class="brk-team-persone-circle__bg lazyload" style="background-image: url(img/demo_agency_modern/270x350_3.jpg)"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
													<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" /></svg></span>
											<ul class="brk-team-persone-circle__contacts">
												<li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
												<li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
												<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
												<li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
											</ul>
										</div>
										<div class="brk-team-persone-circle__social-links">
											<ul>
												<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</article>
								</div>
								<div class="col-lg-3 col-sm-6">
									<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
										<div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
											</a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
										<div class="brk-team-persone-circle__bg lazyload" style="background-image: url(img/demo_agency_modern/270x350_4.jpg)"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
													<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" /></svg></span>
											<ul class="brk-team-persone-circle__contacts">
												<li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
												<li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
												<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
												<li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
											</ul>
										</div>
										<div class="brk-team-persone-circle__social-links">
											<ul>
												<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
												<li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
											</ul>
										</div>
									</article>
								</div>
							</div>
							<div class="text-center mt-25"><a href="javascript:void(0)" class="btn btn-inside-out btn-lg btn-inside-out-invert border-radius-25 font__weight-light pl-60 pr-60 brk-black-font-color" data-brk-library="component__button"><span class="before">Contact Us</span><span class="text">Click Me</span><span class="after">Contact Us</span></a></div>
						</div>
					</div>
				</div>
			</section>