<section class="pt-80 pb-70">
				<div class="text-center mb-60 position-relative">
					<h5 class="font__family-montserrat font__weight-light text-uppercase font__size-18 text-blue" data-brk-library="component__title">We are Awesome</h5>
					<h2 class="font__family-roboto font__weight-thin line__height-52 font__size-46 text-uppercase letter-spacing-60 mt-20" data-brk-library="component__title">Check out info</h2>
					<h2 class="font__family-roboto font__weight-normal line__height-52 font__size-46 text-uppercase letter-spacing-60" data-brk-library="component__title">in OUR FAQ</h2>
					<hr class="divider wow zoomIn" data-brk-library="component__title">
				</div>
				<div class="container">
					<div class="panel__wrapper-icon mb-100" data-brk-library="component__panel">
						<div class="panel__head all-light">
							<h4 class="font__family-montserrat font__weight-medium font__size-21">Panel heading</h4>
							<p class="font__family-open-sans font__size-14 text-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
						</div>
						<ul class="panel__list">
							<li><span class="line"></span> <i class="icon far fa-gem"></i>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus sollicitudin urrna</li>
							<li><span class="line"></span> <i class="icon fab fa-gg"></i>Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor</li>
							<li><span class="line"></span> <i class="icon far fa-gem"></i>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus sollicitudin urrna</li>
							<li><span class="line"></span> <i class="icon fab fa-gg"></i>Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor</li>
							<li><span class="line"></span> <i class="icon far fa-gem"></i>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus sollicitudin urrna</li>
							<li><span class="line"></span> <i class="icon fab fa-gg"></i>Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-12 col-lg-5">
							<div class="text-center text-lg-left">
								<ul class="list-inline-4 mb-35" data-brk-library="component__list">
									<li class="font__family-montserrat font__size-16"><span class="before"></span><a href="javascript:void(0)">Boxed & Wide Layouts <i class="icon fa fa-angle-right"></i></a><span class="after"></span></li>
									<li class="font__family-montserrat font__size-16"><span class="before"></span>Tons Color Schemes <i class="icon fa fa-angle-right"></i><span class="after"></span></li>
									<li class="font__family-montserrat font__size-16"><span class="before"></span>Powerful Performance <i class="icon fa fa-angle-right"></i><span class="after"></span></li>
								</ul>
								<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25 pr-20 pr-xs-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
							</div>
						</div>
						<div class="col-lg-1"></div>
						<div class="col-12 col-lg-6">
							<div class="text-center text-lg-left">
								<div class="text-center text-lg-left">
									<h5 class="font__family-montserrat font__weight-light text-uppercase font__size-18 text-blue" data-brk-library="component__title">We are Awesome</h5>
									<h2 class="font__family-roboto font__weight-thin line__height-52 font__size-46 text-uppercase letter-spacing-60 mt-20" data-brk-library="component__title">Our Best Features</h2>
									<h2 class="font__family-roboto font__weight-normal line__height-52 font__size-46 text-uppercase letter-spacing-60" data-brk-library="component__title">& Skills</h2>
									<hr class="divider wow zoomIn ml-md-0" data-brk-library="component__title">
								</div>
								<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 pt-10">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
							</div>
						</div>
					</div>
				</div>
			</section>