<section class="brk-bg-center-cover pt-lg-100 pt-70 mt-80" style="background-image: url(img/bg-15.jpg); padding-bottom: 380px; margin-bottom: -345px"><span class="brk-abs-bg-overlay brk-bg-light-white-2"></span>
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8">
							<div class="progress__wrapper progress__minimal" data-brk-library="component__progress_bar">
								<div><span class="font__family-open-sans font__size-13 font__weight-bold progress__bar-counter hide">56</span></div>
								<div class="progress">
									<div data-valuemax="100" data-valuemin="0" data-valuenow="56" class="progress__bar"><span class="circle"></span></div>
								</div>
								<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Hard Work</h5>
							</div>
							<div class="progress__wrapper progress__minimal" data-brk-library="component__progress_bar">
								<div><span class="font__family-open-sans font__size-13 font__weight-bold progress__bar-counter hide">82</span></div>
								<div class="progress">
									<div data-valuemax="100" data-valuemin="0" data-valuenow="82" class="progress__bar"><span class="circle"></span></div>
								</div>
								<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Projects Delivery</h5>
							</div>
							<div class="progress__wrapper progress__minimal" data-brk-library="component__progress_bar">
								<div><span class="font__family-open-sans font__size-13 font__weight-bold progress__bar-counter hide">36</span></div>
								<div class="progress">
									<div data-valuemax="100" data-valuemin="0" data-valuenow="36" class="progress__bar"><span class="circle"></span></div>
								</div>
								<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Customers Love</h5>
							</div>
							<div class="progress__wrapper progress__minimal mb-60 mb-md-0" data-brk-library="component__progress_bar">
								<div><span class="font__family-open-sans font__size-13 font__weight-bold progress__bar-counter hide">92</span></div>
								<div class="progress">
									<div data-valuemax="100" data-valuemin="0" data-valuenow="92" class="progress__bar"><span class="circle"></span></div>
								</div>
								<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Ended Projects</h5>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<h3 class="font__family-montserrat font__size-21 font__weight-bold mt-2 mb-25">How to hire us?</h3>
							<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-20">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
							<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-30">Penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
						</div>
					</div>
				</div>
				<div class="container z-index-high" data-brk-library="component__call_to_action">
					<div class="maxw-770">
						<div class="embed-responsive embed-responsive-16by9 border-radius-30 video-wrap">
							<div class="overlay-image"><a href="javascript:void(0)" class="icon__btn icon__btn-anim icon__btn-lg"><span class="before"></span> <i class="fa fa-play" aria-hidden="true"></i> <span class="after"></span></a></div><iframe class="yt-iframe" src="https://www.youtube.com/embed/6v2L2UGZJAM?rel=0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<div class="cfa__wrapper cfa__video bg__style overlay__gradient all-light" style="background-image: url(img/bg-1920_1.jpg);">
					<div class="container">
						<div class="maxw-770">
							<h4 class="font__family-montserrat font__size-24 font__weight-bold text-uppercase border-left">Call for action Block heading title</h4><a href="javascript:void(0)" class="btn btn-md border-radius-25 font__family-open-sans font__weight-bold btn-inside-out btn-inside-out-invert" data-brk-library="component__button"><span class="before">Read More</span> <span class="text">Read More</span> <span class="after">Read More</span></a>
						</div>
					</div><span class="overlay_after brk-base-bg-gradient-14 opacity-90"></span>
				</div>
			</section>