<section class="pt-90 pt-xs-20" id="about">
			<div class="container">
				<div style="margin-bottom: -65px">
					<div class="" data-brk-library="component__title">
						<div class="text-left">
							<h2><span class="font__family-montserrat font__size-64 line__height-68 text-uppercase">Give the</span><br><span class="font__family-montserrat font__weight-bold font__size-64 line__height-68 text-uppercase">green light</span></h2>
							<h4 class="font__family-montserrat highlight-underline line__height-26 font__size-21 font__weight-light"><span class="before wow fadeInUp"></span> <span class="before wow fadeInUp"></span>Put a plan<br><span class="font__weight-bold">into action</span></h4>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-lg-6">
						<div class="pr-30">
							<div class="progress__wrapper progress__count mt-130" data-brk-library="component__progress_bar">
								<div class="progress__descr">
									<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Hard Work</h5>
									<div class="count"><span class="font__family-montserrat font__weight-regular count-value">16</span> <span class="font__family-montserrat font__weight-regular count-amount">22</span></div>
								</div>
								<div class="progress">
									<div class="progress__bar"><span class="circle"></span></div>
								</div>
							</div>
							<div class="progress__wrapper progress__count" data-brk-library="component__progress_bar">
								<div class="progress__descr">
									<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Projects Delivery</h5>
									<div class="count"><span class="font__family-montserrat font__weight-regular count-value">18</span> <span class="font__family-montserrat font__weight-regular count-amount">30</span></div>
								</div>
								<div class="progress">
									<div class="progress__bar"><span class="circle"></span></div>
								</div>
							</div>
							<div class="progress__wrapper progress__count mb-30" data-brk-library="component__progress_bar">
								<div class="progress__descr">
									<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Customers Love</h5>
									<div class="count"><span class="font__family-montserrat font__weight-regular count-value">9</span> <span class="font__family-montserrat font__weight-regular count-amount">10</span></div>
								</div>
								<div class="progress">
									<div class="progress__bar"><span class="circle"></span></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="frame-image img-double-bigger" data-brk-library="component__image_frames">
							<div class="img"><img src="img/demo_agency_urban/370x540_1.jpg" alt="alt" class="lazyload"></div>
							<div class="img"><img src="img/demo_agency_urban/540x370_1.jpg" alt="alt" class="lazyload"></div>
						</div>
					</div>
					<div class="col-12 col-lg-8">
						<div class="position-static position-lg-relative pt-5 pt-lg-0" style="top: -90px">
							<h3 class="font__family-montserrat font__size-28 line__height-32 font__weight-bold text-uppercase mb-15 text-center text-lg-left">Wrap up the project</h3>
							<p class="brk-dark-font-color font__size-16 line__height-26 font__weight-normal pr-lg-50 mb-30 text-center text-lg-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
						</div>
					</div>
				</div>
			</div>
		</section>