<section class="pt-lg-100 position-relative"><span class="brk-svg-pattern-container brk-svg-pattern-container-13 brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 330">
					<defs>
						<path id="svg-id-3" d="M0 2966s98.3-115.46 548.31-154.15c450.02-38.68 466.35-101.9 834.23-153.11 367.89-51.2 537.46 0 537.46 0V2966z" />
					</defs>
					<g>
						<g transform="translate(0 -2636)">
							<use fill="#fff" xlink:href="#svg-id-3" />
						</g>
					</g>
				</svg> </span><span class="brk-abs-overlay brk-bg-grad"></span>
			<div class="position-relative z-index-3">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-7">
							<div class="brk-testimonials-dash-three pr-lg-70 mb-70" style="background-color: transparent;">
								<div class="dash-three-slider dash-three-slider_single swiper-container" data-brk-library="component__testimonials,slider__swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="brk-testimonials-dash-three__item">
												<div class="brk-testimonials-dash-three__img"><img src="img/48x48_1.jpg" alt="alt" class="lazyload"></div>
												<div class="brk-testimonials-dash-three__caption">
													<div class="brk-testimonials-dash-three__name font__family-montserrat font__weight-semibold letter-spacing-100">Sarah Kranz</div>
													<div class="brk-testimonials-dash-three__classes font__family-playfair font__style-italic">Client manager at Twitter</div>
												</div>
												<div class="brk-testimonials-dash-three__desc font__family-open-sans line__height-28">This is the most AMAZING theme I have ever worked with. I love it! The design is beautiful and unique one. I haven't seen such a gorgeous design. The response to questions from the Dynamic Frameworks team is fast! They've been able to handle anything I've thrown at them. Awesome theme - very flexible and customizable!</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-testimonials-dash-three__item">
												<div class="brk-testimonials-dash-three__img"><img src="img/48x48_2.jpg" alt="alt" class="lazyload"></div>
												<div class="brk-testimonials-dash-three__caption">
													<div class="brk-testimonials-dash-three__name font__family-montserrat font__weight-semibold letter-spacing-100">Mike Paterson</div>
													<div class="brk-testimonials-dash-three__classes font__family-playfair font__style-italic">Client manager at Google</div>
												</div>
												<div class="brk-testimonials-dash-three__desc font__family-open-sans line__height-28">My proudest moment was two days before coming home. My commander called me out in front of our company formation and presented me with a coin for my work as a lead gunner during my deployment. It was the first time in my life that I was actually proud of something I had done.</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-testimonials-dash-three__item">
												<div class="brk-testimonials-dash-three__img"><img src="img/48x48_3.jpg" alt="alt" class="lazyload"></div>
												<div class="brk-testimonials-dash-three__caption">
													<div class="brk-testimonials-dash-three__name font__family-montserrat font__weight-semibold letter-spacing-100">Anna Kranz</div>
													<div class="brk-testimonials-dash-three__classes font__family-playfair font__style-italic">ArtDirector Yahoo</div>
												</div>
												<div class="brk-testimonials-dash-three__desc font__family-open-sans line__height-28">If you are looking for an emotional connection or hugs, a vet is probably not the right person for you. But, if you're looking for someone to get you results and get them quickly, then vets are the route you should take. The best way I can say it is this: Do you want a puppy to cuddle with and make you feel good, or do you want a wolf who will hunt for you and keep you fed?</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-testimonials-dash-three__item">
												<div class="brk-testimonials-dash-three__img"><img src="img/48x48_2.jpg" alt="alt" class="lazyload"></div>
												<div class="brk-testimonials-dash-three__caption">
													<div class="brk-testimonials-dash-three__name font__family-montserrat font__weight-semibold letter-spacing-100">Ostin Paterson</div>
													<div class="brk-testimonials-dash-three__classes font__family-playfair font__style-italic">Client manager at Twitter</div>
												</div>
												<div class="brk-testimonials-dash-three__desc font__family-open-sans line__height-28">I am Andrew O'Brien, Founder of Vetpreneur Tribe, a business that brings military veteran entrepreneurs together to help each other grow and scale businesses. I employ five people.</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-testimonials-dash-three__item">
												<div class="brk-testimonials-dash-three__img"><img src="img/48x48_1.jpg" alt="alt" class="lazyload"></div>
												<div class="brk-testimonials-dash-three__caption">
													<div class="brk-testimonials-dash-three__name font__family-montserrat font__weight-semibold letter-spacing-100">Anna Jonson</div>
													<div class="brk-testimonials-dash-three__classes font__family-playfair font__style-italic">Client manager at Twitter</div>
												</div>
												<div class="brk-testimonials-dash-three__desc font__family-open-sans line__height-28">This is the most AMAZING theme I have ever worked with. I love it! The design is beautiful and unique one. I haven't seen such a gorgeous design. The response to questions from the Dynamic Frameworks team is fast! They've been able to handle anything I've thrown at them. Awesome theme - very flexible and customizable!</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-testimonials-dash-three__item">
												<div class="brk-testimonials-dash-three__img"><img src="img/48x48_2.jpg" alt="alt" class="lazyload"></div>
												<div class="brk-testimonials-dash-three__caption">
													<div class="brk-testimonials-dash-three__name font__family-montserrat font__weight-semibold letter-spacing-100">Lia Mit</div>
													<div class="brk-testimonials-dash-three__classes font__family-playfair font__style-italic">Client manager at Twitter</div>
												</div>
												<div class="brk-testimonials-dash-three__desc font__family-open-sans line__height-28">This is the most AMAZING theme I have ever worked with. I love it! The design is beautiful and unique one. I haven't seen such a gorgeous design. The response to questions from the Dynamic Frameworks team is fast! They've been able to handle anything I've thrown at them. Awesome theme - very flexible and customizable!</div>
											</div>
										</div>
									</div>
									<div class="swiper-pagination-base"></div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-5 mb-70">
							<h3 class="font__family-montserrat brk-white-font-color font__size-54 line__height-64 text-uppercase mb-40 text-center text-lg-left"><span class="font__weight-thin">Check Our</span><br><span class="font__weight-thin">clients on</span><br><span class="font__weight-bold">Youtube</span></h3>
							<div class="text-center text-lg-left"><button class="btn-backgrounds btn-backgrounds_left-icon btn-backgrounds_white font__family-montserrat font__weight-bold text-uppercase font__size-13">Play Showreel <span class="before"><i class="fas fa-caret-right"></i></span></button></div>
						</div>
					</div>
					<hr class="brk-wave-line mt-0 mb-lg-60 mb-10">
					<div class="row" id="apps">
						<div class="col-12 col-lg-4">
							<div class="text-center text-lg-left">
								<h3 class="font__family-montserrat brk-white-font-color font__size-54 line__height-64 text-uppercase mb-1 mt-30"><span class="font__weight-thin">APP</span><br><span class="font__weight-bold">Screens</span><br></h3>
									<p class="brk-white-font-color font__family-montserrat font__size-25 font__weight-light line__height-26 mb-40">We can optimize your life</p>
									<div class="divider-cross ml-xs-auto" style="margin-left: 80px"><span></span> <span></span></div>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="text-center text-lg-left mb-30"><img src="img/demo_agency_animation/570x300_1.png" class="lazyload" alt="alt"></div>
						</div>
						<div class="col-12 col-lg-2">
							<div class="text-center text-lg-left d-lg-flex h-100 align-items-end"><img src="img/demo_agency_animation/170x260_1.png" class="lazyload mb-30" alt="alt"></div>
						</div>
						<div class="col-lg-3"></div>
						<div class="col-12 col-lg-3">
							<div class="text-center text-lg-left mb-30"><img src="img/demo_agency_animation/270x270_1.png" class="lazyload" alt="alt"></div>
						</div>
						<div class="col-12 col-lg-3">
							<div class="text-center text-lg-left mb-30"><img src="img/demo_agency_animation/270x270_2.png" class="lazyload" alt="alt"></div>
						</div>
						<div class="col-12 col-lg-3">
							<div class="text-center text-lg-left mb-30"><img src="img/demo_agency_animation/270x270_3.png" class="lazyload" alt="alt"></div>
						</div>
						<div class="col-lg-5"></div>
						<div class="col-12 col-lg-2">
							<div class="text-center text-lg-left mb-30"><img src="img/demo_agency_animation/268x358_1.png" class="lazyload" alt="alt"></div>
						</div>
						<div class="col-12 col-lg-5">
							<div class="text-center text-lg-left mb-30"><img src="img/demo_agency_animation/470x220_1.png" class="lazyload" alt="alt"></div>
						</div>
					</div>
				</div>
			</div>
		</section>