<section class="pt-lg-50 pt-70 pb-30" id="about">
				<div class="container">
					<div class="mb-40">
						<div class="row">
							<div class="col-lg-7 col-xl-6 col-12">
								<h2 class="font__family-montserrat-alt font__size-96 line__height-96 font__weight-bold text-uppercase text-center text-lg-left mb-10 mb-lg-0">About Us</h2>
							</div>
							<div class="col-lg-5 col-xl-6 col-12">
								<p class="font__family-oxygen font__size-16 font__weight-light line__height-26 d-flex h-100 align-items-center brk-dark-font-color text-center text-lg-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
							</div>
						</div>
					</div>
					<div class="row no-gutters">
						<div class="col-12 col-lg-7">
							<div class="pt-110 pl-95 pb-120 mb-25 position-relative z-index-1 mt-lg-70 lazyload" style="background-image: url(img/demo_art/1170x548.jpg)">
								<div class="brk-abs-overlay bg-white opacity-90"></div>
								<h2 class="font__family-oxygen font__size-72 line__height-78">THE MOST<br>BEAUTIFUL<br>THINKS</h2>
							</div>
							<p class="pr-30 pr-xs-0 font__family-oxygen font__size-16 font__weight-light line__height-28 brk-dark-font-color mb-5 mb-lg-0 text-center text-lg-left">Squat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia</p>
						</div>
						<div class="col-12 col-lg-5">
							<div class="position-relative"><img src="img/demo_art/470x600_1.jpg" alt="alt" class="w-100 lazyload">
								<div class="brk-abs-bg-overlay bg-black opacity-60"></div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6"><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-0 w-100 mx-0 mt-20 mb-0" data-brk-library="component__button"><span class="before">Donate Us</span><span class="text">Click Me</span><span class="after">Donate Us</span></a></div>
								<div class="col-12 col-md-6"><a href="javascript:void(0)" class="btn btn--square font__family-oxygen font__size-16 brk-base-border-color brk-black-font-color mt-20 w-100">Read more <i class="angle brk-base-bg-1"></i></a></div>
							</div>
						</div>
					</div>
				</div>
			</section>