<section class="brk-sc-item-page-header mb-130" data-brk-library="component__shop_item_page">
				<div class="brk-sc-item-page-header__carousel pt-150 pt-xs-30">
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-5">
								<div class="brk-sc-item-page-header__carousel-labels">
									<div class="brk-sc-card-labels brk-sc-card-labels_rounded d-flex align-items-center justify-content-center brk-base-bg-gradient-20" data-brk-library="component__shop_cards"><span class="brk-sc-card-labels__title font__family-open-sans font__size-16 font__weight-bold text-uppercase brk-white-font-color">sale</span></div>
									<div class="brk-sc-card-labels brk-sc-card-labels_rounded d-flex align-items-center justify-content-center brk-base-bg-gradient-21" data-brk-library="component__shop_cards"><span class="brk-sc-card-labels__title font__family-open-sans font__size-16 font__weight-bold text-uppercase brk-white-font-color"><i class="fas fa-leaf"></i> ECO</span></div>
								</div>
								<div class="slider-thumbnailed brk-sc-item-page-header__carousel-items slick-loading fa-req">
									<div class="slider-thumbnailed-for arrows-modern" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true, "arrows": true, "autoplay": false, "autoplaySpeed": 4200}' data-brk-library="slider__slick">
										<div><img src="img/demo_product_landing/470x670_1.png" alt="alt" class="lazyload"></div>
										<div><img src="img/demo_product_landing/470x670_2.png" alt="alt" class="lazyload"></div>
										<div><img src="img/demo_product_landing/470x670_3.png" alt="alt" class="lazyload"></div>
										<div><img src="img/demo_product_landing/470x670_1.png" alt="alt" class="lazyload"></div>
										<div><img src="img/demo_product_landing/470x670_2.png" alt="alt" class="lazyload"></div>
									</div>
									<div class="slider-thumbnailed-nav" data-slick='{"slidesToShow": 4, "slidesToScroll": 1}'>
										<div class="brk-slid"><img src="img/demo_product_landing/470x670_1.png" class="brk-slid__img lazyload" alt="alt"> <span class="brk-slid__overlay"></span> <i class="fal fa-plus font__size-24 brk-slid__icon"></i></div>
										<div class="brk-slid"><img src="img/demo_product_landing/470x670_2.png" class="brk-slid__img lazyload" alt="alt"> <span class="brk-slid__overlay"></span> <i class="fal fa-plus font__size-24 brk-slid__icon"></i></div>
										<div class="brk-slid"><img src="img/demo_product_landing/470x670_3.png" class="brk-slid__img lazyload" alt="alt"> <span class="brk-slid__overlay"></span> <i class="fal fa-plus font__size-24 brk-slid__icon"></i></div>
										<div class="brk-slid"><img src="img/demo_product_landing/470x670_1.png" class="brk-slid__img lazyload" alt="alt"> <span class="brk-slid__overlay"></span> <i class="fal fa-plus font__size-24 brk-slid__icon"></i></div>
										<div class="brk-slid"><img src="img/demo_product_landing/470x670_2.png" class="brk-slid__img lazyload" alt="alt"> <span class="brk-slid__overlay"></span> <i class="fal fa-plus font__size-24 brk-slid__icon"></i></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="brk-sc-item-page-header__info pt-150"><img src="img/demo_product_landing/1920x686_1.jpg" alt="alt" class="brk-sc-item-page-header__img lazyload"> <span class="brk-sc-item-page-header__overlay"></span> <span class="brk-sc-item-page-header__svg"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1920 176" enable-background="new 0 0 1920 176" xml:space="preserve">
							<g id="Shape_1_3_" enable-background="new    ">
								<g id="Shape_1">
									<g>
										<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="88.0386" x2="1920" y2="88.0386">
											<stop offset="0" style="stop-color: var(--brand-primary)" />
											<stop offset="1" style="stop-color: var(--brk-secondary-6)" />
										</linearGradient>
										<path fill="url(#SVGID_1_)" d="M1474,3.999C1242.633,14.896,945.797,39.185,689,78.04C316.793,134.359,0,0.078,0,0.078v175.921
              h1920c0,0,0-55.483,0-118.001C1865.432,34.371,1692.556-6.294,1474,3.999z" />
									</g>
								</g>
							</g>
							<g id="Shape_1_2_" enable-background="new    ">
								<g id="Shape_1_1_">
									<g>
										<path fill="#FFFFFF" d="M1421,27.998c-231.366,10.897-475.203,49.169-732,88.024C316.793,172.341,0,100.03,0,100.03v75.969h1920
              c0,0,0-34.484,0-97C1865.432,55.371,1639.556,17.706,1421,27.998z" />
									</g>
								</g>
							</g>
						</svg></span>
					<div class="container">
						<div class="row">
							<div class="col-lg-5"></div>
							<div class="col-12 col-lg-7">
								<div class="d-flex flex-column brk-sc-item-page-header__info-main">
									<h2 class="font__family-montserrat brk-white-font-color font__size-46 font__weight-light line__height-52 mb-20">Really Awesome, ECO<br><span class="font__weight-bold letter-spacing--20">& Creative Bag</span></h2>
									<div class="brk-sc-tags font__family-open-sans font__size-16 font__weight-normal line__height-26 d-flex align-items-center flex-wrap mb-15 brk-sc-item-page-header__tags" data-brk-library="component__widgets"><a href="javascript:void(0)" class="brk-sc-tags__item">T-Shirts</a> <a href="javascript:void(0)" class="brk-sc-tags__item">Branding</a> <a href="javascript:void(0)" class="brk-sc-tags__item">WooCommerce</a></div>
									<div class="d-flex flex-wrap mb-20">
										<div class="d-flex flex-column mr-35">
											<div class="brk-sc-item-page-header__price-container"><span class="brk-white-font-color font__family-montserrat font__weight-ultralight font__size-36 line__height-38">1,200$</span> <span class="brk-sc-item-page-header__old-price brk-dark-font-color font__family-montserrat font__size-14 font__weight-medium pl-1 mb-25">$26.00</span></div>
											<div class="brk-color-filter brk-sc-item-page-header__color-filter" data-brk-library="component__elements">
												<h3 class="brk-color-filter__title brk-white-font-color font__family-montserrat font__weight-bold font__size-14 line__height-14 text-uppercase text-center"><span class="brk-color-filter__title-text">choose color</span></h3>
												<div class="brk-color-filter__container"><a href="javascript:void(0)" class="brk-color-filter__item"><span class="brk-color-filter__item-bg brk-bg-blue"></span> <i class="fal fa-check brk-color-filter__item-icon"></i> </a><a href="javascript:void(0)" class="brk-color-filter__item"><span class="brk-color-filter__item-bg brk-bg-green"></span> <i class="fal fa-check brk-color-filter__item-icon"></i> </a><a href="javascript:void(0)" class="brk-color-filter__item"><span class="brk-color-filter__item-bg brk-bg-yellow"></span> <i class="fal fa-check brk-color-filter__item-icon"></i> </a><a href="javascript:void(0)" class="brk-color-filter__item"><span class="brk-color-filter__item-bg brk-bg-orange"></span> <i class="fal fa-check brk-color-filter__item-icon"></i></a></div>
											</div>
										</div>
										<div class="d-flex flex-column mr-auto mb-20 pt-2 pl-1"><span class="brk-white-font-color font__family-montserrat font__size-14 font__weight-normal">Rating:</span>
											<div class="brk-sc-item-page-header__rating mb-40">
												<div class="brk-rating" data-brk-library="component__elements">
													<div class="brk-rating__layer"><i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i></div>
													<div class="brk-rating__imposition" style="width: 80%">
														<div class="visible"><i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i></div>
													</div>
												</div>
											</div>
											<div class="brk-size-chooser d-flex flex-column"><span class="brk-size-chooser__title brk-white-font-color font__family-montserrat font__size-14 font__weight-bold line__height-14 text-uppercase" data-brk-library="component__elements">Choose size</span>
												<div class="brk-size-chooser__items d-flex"><a href="javascript:void(0)" class="brk-size-chooser__item">S </a><a href="javascript:void(0)" class="brk-size-chooser__item">L </a><a href="javascript:void(0)" class="brk-size-chooser__item">XL</a></div>
											</div>
										</div>
										<div class="d-flex brk-sc-item-page-header__btn-container"><a href="javascript:void(0)" class="btn btn-prime btn-lg border-radius-30 font__family-open-sans font__weight-semibold mt-auto brk-sc-item-page-header__btn" data-brk-library="component__button"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="before"></span><span class="after"></span><span class="border-btn"></span>Add to cart</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-5"></div>
						<div class="col-12 col-lg-7">
							<div class="brk-sc-item-page-header__info-secondary">
								<div class="d-flex flex-wrap">
									<div class="d-flex flex-column mr-60 mb-40 font__family-open-sans"><span class="font__size-12 font__weight-normal brk-dark-font-color line__height-16 text-uppercase mb-1">SKU</span> <span class="font__size-14 font__weight-bold line__height-14">5149 8422</span> <span class="font__size-13 font__weight-semibold line__height-14">Code</span></div>
									<div class="d-flex flex-column mr-60 mb-40 font__family-open-sans"><span class="font__size-12 font__weight-normal brk-dark-font-color line__height-16 text-uppercase mb-1">Material</span> <span class="font__size-14 font__weight-bold line__height-14">Lether</span> <span class="font__size-13 font__weight-semibold line__height-14">Black</span></div>
									<div class="d-flex flex-column mr-60 mb-40 font__family-open-sans"><span class="font__size-12 font__weight-normal brk-dark-font-color line__height-16 text-uppercase mb-1">Country</span> <span class="font__size-14 font__weight-bold line__height-14">China</span> <span class="font__size-13 font__weight-semibold line__height-14">Warehouse</span></div>
									<div class="d-flex flex-column mr-60 mb-40 font__family-open-sans"><span class="font__size-12 font__weight-normal brk-dark-font-color line__height-16 text-uppercase mb-1">shipment</span> <span class="font__size-14 font__weight-bold line__height-14">2 Days</span> <span class="font__size-13 font__weight-semibold line__height-14">Working days</span></div>
									<p class="w-100 brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26">Phasellus dolor. Maecenas vestibulum mollis diam. Pellentesque ut neque esque habitant morbi tristique senectus et netus et malesuada fames ac turpis gestas. In dui magna, posuere eget, vestibulum et, tempor auctor, justo.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>