<section class="container">
  <div class="row align-items-center pt-90 pb-50 text-center text-md-left">
    <div class="col-xl-3 col-md-6 col-12">
      <div class="font__family-montserrat font__size-36 line__height-42 mb-30">
        <div class="font__weight-light text-center text-md-left">Our Team &amp;</div>
        <div class="font__weight-bold text-center text-md-left">Partners</div>
      </div>
      <p class="font__size-16 line__height-28 brk-dark-font-color mb-30 text-center text-md-left">With over fifty years of experience, Berserk builder NikaDevs and his two sons Ber and Serk strive for perfection in all aspects of their work. It is
        their sole</p><a href="#" class="btn btn-inside-out btn-md btn-icon-abs border-radius-25 font__family-open-sans font__weight-bold mb-xs-20 m-0" data-brk-library="component__button"><span class="before">View team page</span><span class="text">Open
          team page</span><span class="after">View team page</span></a>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
        <div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
            <h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
          </a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
        <div class="brk-team-persone-circle__bg lazyload" style="background-image: url(img/demo_construction/270x350_1.jpg)"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
              <path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)"></path>
            </svg></span>
          <ul class="brk-team-persone-circle__contacts">
            <li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
            <li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
            <li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
            <li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
          </ul>
        </div>
        <div class="brk-team-persone-circle__social-links">
          <ul>
            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </article>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
        <div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
            <h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
          </a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
        <div class="brk-team-persone-circle__bg lazyload" data-bg="img/demo_construction/270x350_2.jpg"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
              <path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)"></path>
            </svg></span>
          <ul class="brk-team-persone-circle__contacts">
            <li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
            <li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
            <li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
            <li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
          </ul>
        </div>
        <div class="brk-team-persone-circle__social-links">
          <ul>
            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </article>
    </div>
    <div class="col-xl-3 col-md-6 col-12">
      <article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
        <div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
            <h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
          </a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
        <div class="brk-team-persone-circle__bg lazyload" data-bg="img/demo_construction/270x350_3.jpg"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
              <path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)"></path>
            </svg></span>
          <ul class="brk-team-persone-circle__contacts">
            <li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
            <li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
            <li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
            <li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
          </ul>
        </div>
        <div class="brk-team-persone-circle__social-links">
          <ul>
            <li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </article>
    </div>
  </div>
  <div class="border-top pt-40 pb-50">
    <div class="row">
      <div class="col-lg-3 col-sm-6"><a href="javascript:void(0)" class="logo-set" data-brk-library="component__widgets"><img class="logo-set__img lazyload" src="img/demo-logo-set-dark.png"
            alt="alt"></a></div>
      <div class="col-lg-3 col-sm-6"><a href="javascript:void(0)" class="logo-set" data-brk-library="component__widgets"><img class="logo-set__img lazyload" src="img/demo-logo-set-dark.png"
            alt="alt"></a></div>
      <div class="col-lg-3 col-sm-6"><a href="javascript:void(0)" class="logo-set" data-brk-library="component__widgets"><img class="logo-set__img lazyload" src="img/demo-logo-set-dark.png"
            alt="alt"></a></div>
      <div class="col-lg-3 col-sm-6"><a href="javascript:void(0)" class="logo-set" data-brk-library="component__widgets"><img class="logo-set__img lazyload" src="img/demo-logo-set-dark.png"
            alt="alt"></a></div>
    </div>
  </div>
</section>