<section class="pt-md-80">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="text-center text-md-left mb-60">
								<div class="text-md-left pt-80">
									<h5 class="font__family-montserrat font__weight-light text-uppercase font__size-18 text-blue" data-brk-library="component__title">We are Awesome</h5>
									<h2 class="font__family-roboto font__weight-thin line__height-52 font__size-46 text-uppercase letter-spacing-60 mt-20" data-brk-library="component__title">Our Best Features</h2>
									<h2 class="font__family-roboto font__weight-normal line__height-52 font__size-46 text-uppercase letter-spacing-60" data-brk-library="component__title">& Skills</h2>
									<hr class="divider wow zoomIn mt-30 mb-50 ml-md-0" data-brk-library="component__title">
									<p class="font__family-roboto font__size-16 font__weight-light brk-dark-font-color pr-md-60 line__height-26" data-brk-library="component__title">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="text-center text-md-left pl-md-3"><a href="javascript:void(0)" class="frame-image image-link angle-shadow-2 rotate-right mb-80" data-brk-library="component__image_frames"><img src="img/390x390_1.jpg" class="image-border-1" alt="alt"> <span class="angle-shadow"></span></a></div>
						</div>
						<div class="col-12 col-md-6">
							<div class="text-center text-md-left pt-10 pl-70 pl-xs-0"><a href="javascript:void(0)" class="frame-image image-link angle-shadow-2 rotate-left mb-80" data-brk-library="component__image_frames"><img src="img/390x390_2.jpg" class="image-border-1" alt="alt"> <span class="angle-shadow"></span></a></div>
						</div>
						<div class="col-12 col-md-6">
							<div class="text-center text-md-left mb-100 mb-lg-0">
								<div class="text-md-left text-center pt-md-60">
									<h2 class="font__family-roboto font__weight-normal line__height-52 font__size-28 text-uppercase letter-spacing-60" data-brk-library="component__title">Our Exprience</h2>
									<hr class="divider wow zoomIn mt-10 ml-md-0" data-brk-library="component__title">
								</div>
								<div class="progress__wrapper progress__inline mt-60" data-brk-library="component__progress_bar">
									<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Hard Work</h5>
									<div class="progress">
										<div data-valuemax="100" data-valuemin="0" data-valuenow="56" class="progress__bar">
											<div class="progress__bar-counter_wrap"><span class="before"></span> <span class="font__family-open-sans font__size-16 font__weight-bold progress__bar-counter hide">56</span></div>
										</div>
									</div>
								</div>
								<div class="progress__wrapper progress__inline" data-brk-library="component__progress_bar">
									<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Projects Delivery</h5>
									<div class="progress">
										<div data-valuemax="100" data-valuemin="0" data-valuenow="82" class="progress__bar">
											<div class="progress__bar-counter_wrap"><span class="before"></span> <span class="font__family-open-sans font__size-16 font__weight-bold progress__bar-counter hide">82</span></div>
										</div>
									</div>
								</div>
								<div class="progress__wrapper progress__inline" data-brk-library="component__progress_bar">
									<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Customers Love</h5>
									<div class="progress">
										<div data-valuemax="100" data-valuemin="0" data-valuenow="86" class="progress__bar">
											<div class="progress__bar-counter_wrap"><span class="before"></span> <span class="font__family-open-sans font__size-16 font__weight-bold progress__bar-counter hide">86</span></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>