<section class="pt-30">
				<div class="text-center mb-110">
					<h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52 mt-30" data-brk-library="component__title">OUR TEAM</h2>
					<div class="divider-cross wow zoomIn" data-brk-library="component__title"><span></span> <span></span></div>
				</div>
				<div class="container">
					<div class="brk-team-persone-table mb-100" data-brk-library="component__team">
						<div class="row no-gutters">
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" style="background-image: url(img/390x390_1.jpg)"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_dark">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Leana K.A</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Design</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" style="background-image: url(img/390x390_2.jpg)"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_white">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Samanta J.D</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Developer</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" style="background-image: url(img/390x390_3.jpg)"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_dark">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Marry W.S</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Director</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" style="background-image: url(img/390x390_4.jpg)"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_white">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Gerar Q.W</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Design</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" style="background-image: url(img/390x390_5.jpg)"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_dark">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Mark Heffner</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Mark Heffner</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" style="background-image: url(img/390x390_6.jpg)"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_white">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Bernard Show</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Developer</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
						</div>
						<div class="ptable-top"></div>
						<div class="ptable-bottom"></div>
						<div class="ptable-right"></div>
						<div class="ptable-left"></div>
					</div>
				</div>
			</section>