<section class="brk-bg-light-dark-2">
		<div class="container position-relative">
			<div class="row no-gutters">
				<div class="col-xl-6">
					<div class="pt-xl-100 pt-70 pb-100 text-center text-xl-left">
						<div class="font__family-montserrat font__size-64 line__height-68 mb-40">
							<div class="font__weight-light">One of the</div>
							<div class="font__weight-bold">latest projects</div>
						</div><a href="javascript:void(0)" class="font__family-montserrat font__weight-bold line__height-28"><i class="fas fa-share-alt line__height-26"></i> <span class="font__size-14 d-inline-block ml-10">Share it</span></a>
					</div>
				</div>
				<div class="col-xl-6">
					<div class="brk-hosted-video brk-hosted-video_inner overflow-hid" data-brk-library="component__media_embeds,fancybox">
						<div class="brk-bg-primary opacity-80 brk-abs-bg-overlay"></div><img src="img/demo_construction/770x440_1.jpg " alt="alt" class="brk-hosted-video__img lazyload">
						<div class="brk-hosted-video__body"><button class="icon__btn icon__btn_reverse icon__btn-circled icon__btn-lg brk-hosted-video__btn" type="button" data-brk-library="component__button"><span class="before"></span> <i class="fa fa-play" aria-hidden="true"></i> <span class="after"></span></button></div><video class="brk-hosted-video__video-container" controls id="video-id">
							<source src="http://dev.nikadevs.com/berserk-data/Placeholder_Video.mp4" type="video/mp4"></video>
					</div>
				</div>
			</div>
		</div>
	</section>