<section class="position-relative pt-lg-220 pt-60 pb-lg-220 pb-60 brk-bgi-1 brk-bgi-1 brk-bg-pattern"><span class="brk-abs-bg-overlay" style="background-color: rgba(249, 251, 255, 0.96);"></span> <span class="brk-svg-pattern-container brk-svg-pattern-container-7-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 144">
						<defs>
							<path id="svg-pattern-id-4-1" d="M0 657.88s316.8-72.16 689-15.96c256.8 38.77 524.63 105.83 756 116.7 218.56 10.27 420.43-40.37 475-63.95V616H0z" />
						</defs>
						<g>
							<g transform="translate(0 -616)">
								<use fill="#fff" xlink:href="#svg-pattern-id-4-1" />
							</g>
						</g>
					</svg> </span><span class="brk-svg-pattern-container brk-svg-pattern-container-7-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 144">
						<defs>
							<path id="svg-pattern-id-4-2" d="M1920 1489.12s-316.8 72.16-689 15.96c-256.8-38.77-524.63-105.83-756-116.7-218.56-10.27-420.43 40.37-475 63.95V1531h1920z" />
						</defs>
						<g>
							<g transform="translate(0 -1387)">
								<use fill="#fff" xlink:href="#svg-pattern-id-4-2" />
							</g>
						</g>
					</svg></span>
				<div class="container-fluid">
					<div class="row">
						<div class="col-12 col-xl-4">
							<div class="pl-xl-110 pt-50 pt-xs-20 pr-xl-4 text-center text-xl-left mb-50 mb-xl-0">
								<h3 class="font__family-montserrat font__size-56 line__height-60 mb-50"><span class="font__weight-ultralight">Our Best</span><br><span class="font__weight-bold">Results</span></h3>
								<p class="brk-dark-font-color font__size-16 line__height-26 font__weight-normal mb-30">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg ml-0 border-radius-25 btn-shadow font__weight-light pl-60 pr-60" data-brk-library="component__button"><span class="before">Contact Us</span><span class="text">Click Me</span><span class="after">Contact Us</span></a>
							</div>
						</div>
						<div class="col-12 col-xl-8"><img src="img/demo_agency_modern/chart.jpg" class="shadow" alt=""></div>
					</div>
				</div>
			</section>