<section class="pt-90 pb-110 position-relative overflow-hid" style="background-color: #f7f9fd;"><img src="img/wave-bg-1.png" alt="alt" style="position: absolute; left: 0; top: -73px;"> <img src="img/wave-bg-2.png" alt="alt" style="position: absolute; right: -50px; top: 120px">
				<div class="container">
					<div class="text-center mb-100 position-relative">
						<h5 class="font__family-montserrat font__weight-light text-uppercase font__size-18 text-blue" data-brk-library="component__title">We are Awesome</h5>
						<h2 class="font__family-roboto font__weight-thin line__height-52 font__size-46 text-uppercase letter-spacing-60 mt-20" data-brk-library="component__title">Our Best Features</h2>
						<h2 class="font__family-roboto font__weight-normal line__height-52 font__size-46 text-uppercase letter-spacing-60" data-brk-library="component__title">& Skills</h2>
						<hr class="divider wow zoomIn" data-brk-library="component__title">
					</div>
					<div class="row">
						<div class="col-12 col-lg-8">
							<div class="row">
								<div class="col-12 col-sm-4">
									<div class="chart__wrapper mt-10 chart__wrapper_single chart-minimal align-items-center flex-row text-center" data-brk-library="component__progress_circle">
										<div class="chart mx-auto">
											<div class="chart__circle" data-valuenow="75" data-color="var(--brand-primary)" data-color-end="var(--brk-base-1)"><span class="font__family-montserrat font__size-21 chart__circle-counter"><span class="percents">0</span>%</span>
												<h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title">Hard Work</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-4">
									<div class="chart__wrapper mt-10 chart__wrapper_single chart-minimal align-items-center flex-row text-center" data-brk-library="component__progress_circle">
										<div class="chart mx-auto">
											<div class="chart__circle" data-valuenow="90" data-color="var(--brand-primary)" data-color-end="var(--brk-base-1)"><span class="font__family-montserrat font__size-21 chart__circle-counter"><span class="percents">0</span>%</span>
												<h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title">Donates</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="col-12 col-sm-4">
									<div class="chart__wrapper mt-10 chart__wrapper_single chart-minimal align-items-center flex-row text-center" data-brk-library="component__progress_circle">
										<div class="chart mx-auto">
											<div class="chart__circle" data-valuenow="75" data-color="var(--brand-primary)" data-color-end="var(--brk-base-1)"><span class="font__family-montserrat font__size-21 chart__circle-counter"><span class="percents">0</span>%</span>
												<h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title">Hard Work</h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<h3 class="font__family-montserrat font__size-21 font__weight-bold mb-25">How to hire me?</h3>
							<p class="brk-dark-font-color font__size-16 line__height-26 font__weight-normal mb-20">Maecenas nec odio et ante tincidunt tempus. Donecbero vitae sapien ut libero nenatis.</p>
							<p class="brk-dark-font-color font__size-16 line__height-26 font__weight-normal mb-20">Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna</p>
						</div>
					</div>
				</div>
			</section>