<section class="pt-50 pb-70">
				<div class="text-center mb-50">
					<h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52 mt-30" data-brk-library="component__title">OUR FEATURES</h2>
					<div class="divider-cross wow zoomIn" data-brk-library="component__title"><span></span> <span></span></div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-5">
							<h2 class="font__family-montserrat font__size-48 line__height-54 mb-10 mt-10"><span class="font__weight-bold">Be </span><span class="font__weight-ultralight">in Business</span></h2>
							<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-50">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor Aliquam lorem ante, dapibus in, viverra quis.</p>
							<div class="progress__wrapper progress__gradient" data-brk-library="component__progress_bar">
								<div class="progress">
									<div data-valuemax="100" data-valuemin="0" data-valuenow="100" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">100</span>
								</div>
								<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Hard Work</h5>
							</div>
							<div class="progress__wrapper progress__gradient mb-50 mb-md-0" data-brk-library="component__progress_bar">
								<div class="progress">
									<div data-valuemax="100" data-valuemin="0" data-valuenow="80" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">80</span>
								</div>
								<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Projects Delivery</h5>
							</div>
						</div>
						<div class="col-md-1"></div>
						<div class="col-12 col-md-6">
							<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">Phasellus dolor. Maecenas vestibulum mollis pellentesque ut neque esque habitant morbi tristique senectus et netus et malesuada fames ac turpis gestas. In dui magna. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum rutrum nunc. Nunc nonummy metus.</p>
							<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">Vestibulum volutpat pretium libero. Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis.</p>
						</div>
					</div>
				</div>
			</section>