<section class="pt-50">
			<div class="container">
				<div class="mb-80" data-brk-library="component__title">
					<div class="text-left d-md-flex justify-content-between align-items-center">
						<h2><span class="font__family-montserrat font__size-64 line__height-68"><span class="font__weight-light text-uppercase">Stay </span><span class="font__weight-bold text-uppercase">on budget</span></span></h2>
						<h4 class="font__family-montserrat highlight-underline line__height-26 font__size-21 font__weight-light mt-0 mb-0 mr-50"><span class="before wow fadeInUp"></span> <span class="before wow fadeInUp"></span>Achieve the target<br><span class="font__weight-bold">Review the plan</span></h4>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-6">
						<article class="brk-tiles-simple lazyload" style="background-image: url(img/demo_agency_urban/585x292_4.jpg)" data-brk-library="component__tiles">
							<div class="before"></div>
							<div class="brk-tiles-simple__content">
								<h4 class="font__family-montserrat font__weight-semibold font__size-21">Define the phases</h4>
								<p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a class="brk-tiles-simple__link" href="javascript:void(0)" data-brk-library="component__button"><span class="before"></span> <i class="far fa-angle-right"></i> <span class="after"></span></a>
							</div>
						</article>
					</div>
					<div class="col-md-6">
						<article class="brk-tiles-simple lazyload" style="background-image: url(img/demo_agency_urban/585x292_3.jpg)" data-brk-library="component__tiles">
							<div class="before"></div>
							<div class="brk-tiles-simple__content">
								<h4 class="font__family-montserrat font__weight-semibold font__size-21">Start from scratch</h4>
								<p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a class="brk-tiles-simple__link" href="javascript:void(0)" data-brk-library="component__button"><span class="before"></span> <i class="far fa-angle-right"></i> <span class="after"></span></a>
							</div>
						</article>
					</div>
					<div class="col-md-6">
						<article class="brk-tiles-simple brk-tiles-simple_left lazyload" style="background-image: url(img/demo_agency_urban/585x292_2.jpg)" data-brk-library="component__tiles">
							<div class="before"></div>
							<div class="brk-tiles-simple__content">
								<h4 class="font__family-montserrat font__weight-semibold font__size-21">Give the green light</h4>
								<p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a class="brk-tiles-simple__link" href="javascript:void(0)" data-brk-library="component__button"><span class="before"></span> <i class="far fa-angle-right"></i> <span class="after"></span></a>
							</div>
						</article>
					</div>
					<div class="col-md-6">
						<article class="brk-tiles-simple brk-tiles-simple_left lazyload" style="background-image: url(img/demo_agency_urban/585x292_1.jpg)" data-brk-library="component__tiles">
							<div class="before"></div>
							<div class="brk-tiles-simple__content">
								<h4 class="font__family-montserrat font__weight-semibold font__size-21">Schedule a meeting</h4>
								<p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a class="brk-tiles-simple__link" href="javascript:void(0)" data-brk-library="component__button"><span class="before"></span> <i class="far fa-angle-right"></i> <span class="after"></span></a>
							</div>
						</article>
					</div>
				</div>
			</div>
		</section>