<section class="pt-90 pb-70" id="contact" data-brk-library="component__form">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-6">
							<form action="#" class="brk-subscribe-mail brk-subscribe-mail_dark brk-form brk-form-strict pt-20">
								<div class="row">
									<div class="col-12 col-md-6"><input type="text" placeholder="Your Name" name="FNAME"></div>
									<div class="col-12 col-md-6"><input type="text" placeholder="Your Email" name="EMAIL"></div>
									<div class="col-12"><textarea name="QUESTION" placeholder="Your Question" style="min-height: 110px"></textarea></div>
									<div class="col-12">
										<div class="text-center"><button class="btn btn-inside-out btn-md border-radius-25 btn-no-shadow pl-90 pr-90 mt-30" data-brk-library="component__button"><span class="before">Contact Us</span><span class="text">Click Me</span><span class="after">Contact Us</span></button></div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-lg-1"></div>
						<div class="col-12 col-lg-5">
							<h3 class="font__family-montserrat font__size-56 line__height-60 mb-25 text-center text-lg-left"><span class="font__weight-ultralight">Need Help?</span><br><span class="font__weight-bold">Contact Us</span></h3>
							<p class="brk-dark-font-color font__size-16 line__height-26 mb-40 text-center text-lg-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
							<div class="mb-15 d-flex align-items-center justify-content-center justify-content-lg-start"><i class="far fa-envelope font__size-13 mr-15 brk-base-font-color"></i> <a href="mailto:info@domain.com" class="font__size-14 font__weight-bold">info@domain.com</a></div>
							<div class="mb-15 d-flex align-items-center justify-content-center justify-content-lg-start"><i class="far fa-map-marker font__size-13 mr-15 brk-base-font-color"></i>
								<p class="font__size-14 font__weight-bold">Chicago, USA</p>
							</div>
							<div class="mb-15 d-flex align-items-center justify-content-center justify-content-lg-start"><i class="far fa-phone font__size-13 mr-15 brk-base-font-color"></i> <a href="tel:88001234567" class="font__size-14 font__weight-bold">8 800 12 34 567</a></div>
						</div>
					</div>
				</div>
			</section>