<section class="pt-35">
				<div class="text-center mb-70">
					<h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52 mt-30" data-brk-library="component__title">LATEST POSTS</h2>
					<div class="divider-cross wow zoomIn" data-brk-library="component__title"><span></span> <span></span></div>
				</div>
				<div class="container">
					<div class="row no-gutters">
						<div class="col-md-6">
							<article class="brk-tiles-simple lazyload" style="background-image: url(img/tiles-simple-1.jpg)" data-brk-library="component__tiles">
								<div class="before"></div>
								<div class="brk-tiles-simple__content">
									<h4 class="font__family-montserrat font__weight-semibold font__size-21">Define the phases</h4>
									<p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a class="brk-tiles-simple__link" href="javascript:void(0)" data-brk-library="component__button"><span class="before"></span> <i class="far fa-angle-right"></i> <span class="after"></span></a>
								</div>
							</article>
						</div>
						<div class="col-md-6">
							<article class="brk-tiles-simple lazyload" style="background-image: url(img/tiles-simple-2.jpg)" data-brk-library="component__tiles">
								<div class="before"></div>
								<div class="brk-tiles-simple__content">
									<h4 class="font__family-montserrat font__weight-semibold font__size-21">Start from scratch</h4>
									<p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a class="brk-tiles-simple__link" href="javascript:void(0)" data-brk-library="component__button"><span class="before"></span> <i class="far fa-angle-right"></i> <span class="after"></span></a>
								</div>
							</article>
						</div>
						<div class="col-md-6">
							<article class="brk-tiles-simple brk-tiles-simple_left lazyload" style="background-image: url(img/tiles-simple-3.jpg)" data-brk-library="component__tiles">
								<div class="before"></div>
								<div class="brk-tiles-simple__content">
									<h4 class="font__family-montserrat font__weight-semibold font__size-21">Give the green light</h4>
									<p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a class="brk-tiles-simple__link" href="javascript:void(0)" data-brk-library="component__button"><span class="before"></span> <i class="far fa-angle-right"></i> <span class="after"></span></a>
								</div>
							</article>
						</div>
						<div class="col-md-6">
							<article class="brk-tiles-simple brk-tiles-simple_left lazyload" style="background-image: url(img/tiles-simple-4.jpg)" data-brk-library="component__tiles">
								<div class="before"></div>
								<div class="brk-tiles-simple__content">
									<h4 class="font__family-montserrat font__weight-semibold font__size-21">Schedule a meeting</h4>
									<p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a class="brk-tiles-simple__link" href="javascript:void(0)" data-brk-library="component__button"><span class="before"></span> <i class="far fa-angle-right"></i> <span class="after"></span></a>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>