<section>
				<div class="brk-sc-row-three" style="background-image: url(img/bg-1920_1.jpg)" data-brk-library="component__shop_row">
					<div class="brk-sc-row-three__before brk-base-bg-gradient-right"></div>
					<div class="brk-sc-row-three__after brk-post-brick-gradient-1"></div>
					<div class="brk-sc-row-three__container container">
						<div class="swiper-container" data-brk-library="slider__swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide brk-sc-row-three__slide brk-white-font-color">
									<div class="row align-items-lg-center align-content-start align-content-lg-stretch">
										<div class="col-xl-4 col-lg-3 align-self-stretch order-xl-1">
											<div class="brk-sc-row-three__thumb"><img src="img/sc-tiles-3.png" alt="alt"></div>
										</div>
										<div class="col-xl-7 col-lg-8">
											<div class="brk-sc-row-three__desc">
												<h4 class="font__family-montserrat text-uppercase"><span class="font__weight-light">Smartly Coded </span><span class="font__weight-bold">& Maintained</span></h4>
												<div class="brk-sc-row-three__desc--text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor nean massa. Cum sociis natoque penatibus et magnis dis parturient mnsectetes.Lorem ipsum dolor sit amet, consectetuer.</div>
												<div class="brk-sc-row-three__price"><a href="javascript:void(0)" class="btn btn-inside-out btn-inside-out-invert btn-lg btn-icon border-radius-25 font__family-open-sans font__weight-bold" data-brk-library="component__button"><i class="fa fa-shopping-basket icon-inside icon-inline" aria-hidden="true"></i> <span class="before">Add to cart</span><span class="text">Add to cart</span><span class="after">Add to cart</span> </a><span class="brk-sc-row-three__price--price font__family-montserrat font__weight-ultralight">1,200$</span></div>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide brk-sc-row-three__slide brk-white-font-color">
									<div class="row align-items-lg-center align-content-start align-content-lg-stretch">
										<div class="col-xl-4 col-lg-3 align-self-stretch order-xl-1">
											<div class="brk-sc-row-three__thumb"><img src="img/sc-tiles-3.png" alt="alt"></div>
										</div>
										<div class="col-xl-7 col-lg-8">
											<div class="brk-sc-row-three__desc">
												<h4 class="font__family-montserrat text-uppercase"><span class="font__weight-light">Vacheron </span><span class="font__weight-bold">Constantin</span></h4>
												<div class="brk-sc-row-three__desc--text">One of the most expensive brands. The ownership of any Vacheron Constantin model is an indicator of the status and wealth of a person. This company does not produce any available offers.</div>
												<div class="brk-sc-row-three__price"><a href="javascript:void(0)" class="btn btn-inside-out btn-inside-out-invert btn-lg btn-icon border-radius-25 font__family-open-sans font__weight-bold" data-brk-library="component__button"><i class="fa fa-shopping-basket icon-inside icon-inline" aria-hidden="true"></i> <span class="before">Add to cart</span><span class="text">Add to cart</span><span class="after">Add to cart</span> </a><span class="brk-sc-row-three__price--price font__family-montserrat font__weight-ultralight">9,000$</span></div>
											</div>
										</div>
									</div>
								</div>
								<div class="swiper-slide brk-sc-row-three__slide brk-white-font-color">
									<div class="row align-items-lg-center align-content-start align-content-lg-stretch">
										<div class="col-xl-4 col-lg-3 align-self-stretch order-xl-1">
											<div class="brk-sc-row-three__thumb"><img src="img/sc-tiles-3.png" alt="alt"></div>
										</div>
										<div class="col-xl-7 col-lg-8">
											<div class="brk-sc-row-three__desc">
												<h4 class="font__family-montserrat text-uppercase"><span class="font__weight-light">Audemars </span><span class="font__weight-bold">Piguet</span></h4>
												<div class="brk-sc-row-three__desc--text">A unique brand that does not belong to any one-hour holding holding onto the top of the industry thanks to its own achievements and efforts.</div>
												<div class="brk-sc-row-three__price"><a href="javascript:void(0)" class="btn btn-inside-out btn-inside-out-invert btn-lg btn-icon border-radius-25 font__family-open-sans font__weight-bold" data-brk-library="component__button"><i class="fa fa-shopping-basket icon-inside icon-inline" aria-hidden="true"></i> <span class="before">Add to cart</span><span class="text">Add to cart</span><span class="after">Add to cart</span> </a><span class="brk-sc-row-three__price--price font__family-montserrat font__weight-ultralight">4,200$</span></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="brk-sc-row-three__pagination"></div>
					</div>
				</div>
			</section>