<section class="pt-lg-110 pt-40 text-center position-relative" data-brk-library="component__social_block,component__button"><img src="img/demo_freelance_blog/1920x650_1.jpg" alt="alt" class="brk-abs-img lazyload grayscale-100"> <span class="brk-abs-overlay brk-black-76-overlay"></span>
				<div class="container all-light">
					<div class="text-center">
						<div class="heading-style-left" data-brk-library="component__title">
							<h2 class="font__family-roboto font__weight-thin font__size-86 line__height-64 heading-style-left-h">Follow Me</h2><span class="title__heading-05 opacity-60 title__heading-sub wow fadeInLeft heading-style-left-span font__family-roboto font__size-18 font__weight-bold pl-2">I think you will like it</span>
						</div>
					</div>
					<div class="row row-no-gutter mt-lg-150 mt-50">
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-square social__icon-square_dark"><a href="javascript:void(0)"><i class="icon slide-bg-wrap fab fa-facebook-f"><span class="slide-bg"></span></i></a>
								<h4 class="font__family-montserrat font__size-16 text">Facebook</h4>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-square social__icon-square_dark"><a href="javascript:void(0)"><i class="icon slide-bg-wrap fab fa-twitter"><span class="slide-bg"></span></i></a>
								<h4 class="font__family-montserrat font__size-16 text">Twitter</h4>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-square social__icon-square_dark"><a href="javascript:void(0)"><i class="icon slide-bg-wrap fab fa-instagram"><span class="slide-bg"></span></i></a>
								<h4 class="font__family-montserrat font__size-16 text">Instagram</h4>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-square social__icon-square_dark"><a href="javascript:void(0)"><i class="icon slide-bg-wrap fab fa-youtube"><span class="slide-bg"></span></i></a>
								<h4 class="font__family-montserrat font__size-16 text">YouTube</h4>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-square social__icon-square_dark"><a href="javascript:void(0)"><i class="icon slide-bg-wrap fab fa-google"><span class="slide-bg"></span></i></a>
								<h4 class="font__family-montserrat font__size-16 text">Google +</h4>
							</div>
						</div>
						<div class="col-6 col-md-4 col-lg-2">
							<div class="social__icon-square social__icon-square_dark"><a href="javascript:void(0)"><i class="icon slide-bg-wrap fab fa-vimeo-v"><span class="slide-bg"></span></i></a>
								<h4 class="font__family-montserrat font__size-16 text">Vimeo</h4>
							</div>
						</div>
					</div>
				</div>
			</section>