<section>
<div class="brk-tabs brk-tabs_tabbed-filter" data-index="1" data-brk-library="component__tabbed_contents">
		<ul class="brk-tabs-nav">
			<li class="brk-tab"><i class="far fa-gem" aria-hidden="true"></i><span>Diamond</span></li>
			<li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>Delicious</span></li>
			<li class="brk-tab"><i class="fab fa-gg" aria-hidden="true"></i><span>G & G</span></li>
			<li class="brk-tab"><i class="fab fa-codepen" aria-hidden="true"></i><span>Codepen</span></li>
		</ul>
		<div class="brk-tabs-content position-relative bg-cover bg-repeat bg-position_center" style="background-image:url(img/demo_construction/1920x450_1.jpg);">
			<div class="brk-tab-item">
				<div class="container">
					<div class="row">
						<div class="col-xl-4">
							<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">Foundation of the company</h4>
							<p class="font__size-16 line__height-26 text-xl-left text-center">The review of fire safety rules undertaken in the wake of Grenfell tower has proposed the creation of 'less prescriptive' regulation and cutting out private sector Approved Inspectors from performing building control on high rise buildings.</p>
						</div>
						<div class="col-xl-4">
							<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">Promoting products and services</h4>
							<p class="font__size-16 line__height-26 text-xl-left text-center mb-30">The final report by Dame Judith Hackitt, published this morning, recommends the creation of a new organisation, made up of Local Authority Building Control (LABC), Fire and Rescue Authorities (FRAs) and the Health and Safety Executive (HSE), to oversee the approval and regulation of buildings higher than 10-storeys.</p>
						</div>
						<div class="col-xl-4">
							<div class="text-center text-xl-left"><a href="img/demo_construction/370x370_1.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox"><img src="img/demo_construction/370x370_1.jpg" alt="alt" class="lazyload"></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="brk-tab-item">
				<div class="container">
					<div class="row">
						<div class="col-xl-4">
							<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">BUJ Architects and Ash Sakula Architects</h4>
							<p class="font__size-16 line__height-26 text-xl-left text-center">BUJ Architects and Ash Sakula Architects have won planning permission for a huge mixed-use development near the Olympic Park that falls under the remit of the London Legacy Development Corporation.</p>
						</div>
						<div class="col-xl-4">
							<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">The practices’ Wickside project will deliver 475 homes</h4>
							<p class="font__size-16 line__height-26 text-xl-left text-center mb-30">The development will deliver 39 new buildings of up to eight storeys in height, including a craft brewery, a foundry, an art gallery, a food quarter and a canalside park. Final report recommends new approval body for buildings over 10 storeys but no ban on flammable materials</p>
						</div>
						<div class="col-xl-4">
							<div class="text-center text-xl-left"><a href="img/demo_construction/370x370_3.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox"><img src="img/demo_construction/370x370_3.jpg" alt="alt" class="lazyload"></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="brk-tab-item">
				<div class="container">
					<div class="row">
						<div class="col-xl-4">
							<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">The final report by Dame Judith Hackitt</h4>
							<p class="font__size-16 line__height-26 text-xl-left text-center">Published this morning, recommends the creation of a new organisation, made up of Local Authority Building Control (LABC), Fire and Rescue Authorities (FRAs) and the Health and Safety Executive (HSE), to oversee the approval and regulation of buildings higher than 10-storeys.</p>
						</div>
						<div class="col-xl-4">
							<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">A Keller joint venture has snagged</h4>
							<p class="font__size-16 line__height-26 text-xl-left text-center mb-30">The A$11bn (?6.2bn) Metro Tunnel Project in Melbourne is set to see the creation of a second underground train route through the central business district and the creation of five new underground stations.</p>
						</div>
						<div class="col-xl-4">
							<div class="text-center text-xl-left"><a href="img/demo_construction/370x370_5.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox"><img src="img/demo_construction/370x370_5.jpg" alt="alt" class="lazyload"></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="brk-tab-item">
				<div class="container">
					<div class="row">
						<div class="col-xl-4">
							<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">The team carrying out the job will be a 50:50</h4>
							<p class="font__size-16 line__height-26 text-xl-left text-center">Joint venture between Keller and ground engineering and foundation works specialist Intrafor, which is part of Bouygues Construction.</p>
						</div>
						<div class="col-xl-4">
							<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center mb-20 mt-10">Dame Judith Hackitt’s</h4>
							<p class="font__size-16 line__height-26 text-xl-left text-center mb-30">Final report has made a number of recommendations that will have significant implications for the construction industry if or when they are passed into law.</p>
						</div>
						<div class="col-xl-4">
							<div class="text-center text-xl-left"><a href="img/demo_construction/370x370_7.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox"><img src="img/demo_construction/370x370_7.jpg" alt="alt" class="lazyload"></a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="brk-bg-black brk-layer position-absolute opacity-80"></div>
		</div>
</div>
</section>