<section class="position-relative z-index-2 overflow-hid" style="padding-top: 465px; margin-top: -400px"><span class="brk-svg-pattern-container brk-svg-pattern-container-1 brk-svg-pattern-container_top" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1922 149">
					<defs>
						<path id="svg-pattern-id-5" d="M0 4050.12s200.64 67.84 459 61.88c371.06-8.57 855.17-71.9 984-71.9 252.85 0 422.43 53.4 477 77.06V4033H0z" />
					</defs>
					<g>
						<g transform="translate(1 -4032)">
							<use fill="#fff" xlink:href="#svg-pattern-id-5" />
						</g>
					</g>
				</svg></span>
			<div class="pt-250 pb-250 brk-abs-overlay opacity-10 brk-bg-pattern"><span class="brk-abs-bg-overlay"></span></div>
			<div class="text-center mb-lg-50 mb-40">
				<h2 class="title__heading-06 title__heading-sub font__family-montserrat font__size-56 font__weight-bold wow zoomIn" data-brk-library="component__title"><span class="brk-base-font-color opacity-10 text-capitalize">Our Review</span></h2>
				<h2 class="title__heading-06 title__heading-main font__family-montserrat font__size-40 font__weight-ultra-light" data-brk-library="component__title"><span class="font__weight-light">Team Members</span></h2>
			</div>
			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="mb-30">
							<div class="staff-slider" data-perwiew="5" data-brk-library="slider__swiper">
								<div class="staff-slider-container swiper-container">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
												<div class="brk-team-staff__img lazyload" data-bg="img/270x270_13.jpg"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
												<div class="brk-team-staff__description">
													<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">Web Developer</span></h4>
													<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
												<div class="brk-team-staff__img lazyload" data-bg="img/270x270_14.jpg"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
												<div class="brk-team-staff__description">
													<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">Web Developer</span></h4>
													<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
												<div class="brk-team-staff__img lazyload" data-bg="img/270x270_15.jpg"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
												<div class="brk-team-staff__description">
													<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bentley Diana </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">CEO & Manager</span></h4>
													<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
												<div class="brk-team-staff__img lazyload" data-bg="img/270x270_16.jpg"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
												<div class="brk-team-staff__description">
													<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Mathef Julia </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">UI/UX Designer</span></h4>
													<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
												<div class="brk-team-staff__img lazyload" data-bg="img/270x270_17.jpg"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
												<div class="brk-team-staff__description">
													<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">CEO & Manager</span></h4>
													<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
												<div class="brk-team-staff__img lazyload" data-bg="img/270x270_15.jpg"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
												<div class="brk-team-staff__description">
													<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bentley Diana </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">CEO & Manager</span></h4>
													<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
												<div class="brk-team-staff__img lazyload" data-bg="img/270x270_14.jpg"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
												<div class="brk-team-staff__description">
													<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">Web Developer</span></h4>
													<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
												<div class="brk-team-staff__img lazyload" data-bg="img/270x270_17.jpg"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
												<div class="brk-team-staff__description">
													<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">CEO & Manager</span></h4>
													<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
												</div>
											</div>
										</div>
										<div class="swiper-slide">
											<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
												<div class="brk-team-staff__img lazyload" data-bg="img/270x270_14.jpg"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
												<div class="brk-team-staff__description">
													<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">Web Developer</span></h4>
													<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="dots-base-staff-skin">
									<div class="swiper-arrow button-prev"><i class="far fa-angle-left" aria-hidden="true"></i></div>
									<ul class="pagination"></ul>
									<div class="swiper-arrow button-next"><i class="far fa-angle-right" aria-hidden="true"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>