<section class="position-relative pt-250 pb-70 z-index-2 mt-xs-0 pt-xs-80" style="margin-top: -280px;" id="team"><span class="brk-svg-pattern-container brk-svg-pattern-container-10-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2123 205">
					<defs>
						<path id="path-id-10-2" d="M1977 7276.22s35.04 26.84-286-46.9c-321.04-73.75-358.86-84.98-552-44.06-193.14 40.93-347.67 83.47-530 52.63-182.33-30.83-231-21.97-411 17.74-180 39.7-270-116.13-270-116.13l-13-63.5h2123z" />
					</defs>
					<g>
						<g transform="translate(85 -7076)">
							<use fill="#fff" xlink:href="#path-id-10-2" />
						</g>
					</g>
				</svg> </span><span class="brk-svg-pattern-container brk-svg-pattern-container-10-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2278 381">
					<defs>
						<path id="path-id-10-1" d="M-71 8011s-44.44-43.87 271-2 565.56-160.95 1014-84c448.44 76.95 538.56 78.04 704-102 165.44-180.04 286-183 286-183l-156 381H-69z" />
					</defs>
					<g>
						<g transform="translate(74 -7640)">
							<use fill="#fff" xlink:href="#path-id-10-1" />
						</g>
					</g>
				</svg> </span><span class="brk-abs-overlay brk-light-gradient-0deg-100"></span>
			<div class="container">
				<div class="postion-relative z-index-3">
					<div class="text-center mb-50">
						<h4 class="font__family-montserrat brk-white-font-color font__weight-light font__size-28 line__height-30 mb-10">Our staff</h4>
						<h3 class="font__family-montserrat brk-white-font-color font__size-42 font__weight-bold line__height-46">Best Team Ever</h3>
					</div>
				</div>
			</div>
			<div class="position-relative z-index-3">
				<div class="staff-slider" data-brk-library="slider__swiper">
					<div class="staff-slider-container swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
									<div class="brk-team-staff__img lazyload" style="background-image: url(img/270x270_13.jpg)"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
									<div class="brk-team-staff__description">
										<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">Web Developer</span></h4>
										<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
									<div class="brk-team-staff__img lazyload" style="background-image: url(img/270x270_14.jpg)"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
									<div class="brk-team-staff__description">
										<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">Web Developer</span></h4>
										<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
									<div class="brk-team-staff__img lazyload" style="background-image: url(img/270x270_15.jpg)"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
									<div class="brk-team-staff__description">
										<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bentley Diana </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">CEO & Manager</span></h4>
										<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
									<div class="brk-team-staff__img lazyload" style="background-image: url(img/270x270_16.jpg)"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
									<div class="brk-team-staff__description">
										<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Mathef Julia </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">UI/UX Designer</span></h4>
										<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
									<div class="brk-team-staff__img lazyload" style="background-image: url(img/270x270_17.jpg)"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
									<div class="brk-team-staff__description">
										<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">CEO & Manager</span></h4>
										<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
									<div class="brk-team-staff__img lazyload" style="background-image: url(img/270x270_15.jpg)"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
									<div class="brk-team-staff__description">
										<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bentley Diana </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">CEO & Manager</span></h4>
										<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
									<div class="brk-team-staff__img lazyload" style="background-image: url(img/270x270_14.jpg)"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
									<div class="brk-team-staff__description">
										<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">Web Developer</span></h4>
										<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
									<div class="brk-team-staff__img lazyload" style="background-image: url(img/270x270_17.jpg)"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
									<div class="brk-team-staff__description">
										<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">CEO & Manager</span></h4>
										<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
									<div class="brk-team-staff__img lazyload" style="background-image: url(img/270x270_14.jpg)"></div><a href="javascript:void(0)" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
									<div class="brk-team-staff__description">
										<h4><a href="javascript:void(0)" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">Bernard Show </a><span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">Web Developer</span></h4>
										<div class="brk-team-staff__social-links sl-2x"><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="dots-base-staff-skin">
						<div class="swiper-arrow button-prev"><i class="far fa-angle-left" aria-hidden="true"></i></div>
						<ul class="pagination"></ul>
						<div class="swiper-arrow button-next"><i class="far fa-angle-right" aria-hidden="true"></i></div>
					</div>
				</div>
			</div>
		</section>