<section class="pt-25 pb-25">
				<div class="container">
					<div class="brk-testimonials-dash-six" data-brk-library="component__testimonials,slider__swiper">
						<div class="brk-testimonials-dash-six__title-slider font__family-oxygen font__weight-light">Our Reviews</div>
						<div class="dash-six-slider swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<div class="brk-testimonials-dash-six__item font__family-oxygen">
										<div class="brk-testimonials-dash-six__comment font__weight-light">Many businesses further utilize Trello to manage their content marketing.</div>
										<div class="brk-testimonials-dash-six__photo lazyload" style="background-image: url(img/120x120_1.jpg)"></div>
										<div class="brk-testimonials-dash-six__name font__weight-bold">Jon Jonson,</div>
										<div class="brk-testimonials-dash-six__job"><i class="fal fa-minus"></i> Volunteer</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="brk-testimonials-dash-six__item font__family-oxygen">
										<div class="brk-testimonials-dash-six__comment font__weight-light">If you're serious about boosting productivity within your business, begin building trust with.</div>
										<div class="brk-testimonials-dash-six__photo lazyload" style="background-image: url(img/120x120_2.jpg)"></div>
										<div class="brk-testimonials-dash-six__name font__weight-bold">Sarah Kranz,</div>
										<div class="brk-testimonials-dash-six__job"><i class="fal fa-minus"></i> Volunteer</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="brk-testimonials-dash-six__item font__family-oxygen">
										<div class="brk-testimonials-dash-six__comment font__weight-light">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim.</div>
										<div class="brk-testimonials-dash-six__photo lazyload" style="background-image: url(img/120x120_3.jpg)"></div>
										<div class="brk-testimonials-dash-six__name font__weight-bold">Mike Paterson,</div>
										<div class="brk-testimonials-dash-six__job"><i class="fal fa-minus"></i> Volunteer</div>
									</div>
								</div>
								<div class="swiper-slide">
									<div class="brk-testimonials-dash-six__item font__family-oxygen">
										<div class="brk-testimonials-dash-six__comment font__weight-light">Embrace and invest in the technology that can help you automate, organize, manage and create.</div>
										<div class="brk-testimonials-dash-six__photo lazyload" style="background-image: url(img/120x120_2.jpg)"></div>
										<div class="brk-testimonials-dash-six__name font__weight-bold">Lia Mit,</div>
										<div class="brk-testimonials-dash-six__job"><i class="fal fa-minus"></i> Volunteer</div>
									</div>
								</div>
							</div>
						</div>
						<div class="dash-six-arrow">
							<div class="dash-six-arrow-prev"><i class="fa fa-angle-left"></i></div>
							<div class="dash-six-arrow-next"><i class="fa fa-angle-right"></i></div>
						</div>
					</div>
				</div>
			</section>