<section class="pb-60">
				<div class="row no-gutters">
					<div class="col-md-6">
						<article class="brk-tiles-full" data-brk-library="component__tiles">
							<div class="brk-tiles-full__thumb" style="background-image: url(img/370x370_1.jpg)"></div>
							<div class="brk-tiles-full__content">
								<div class="brk-tiles-full__content-layer">
									<h4 class="font__family-montserrat font__size-16 line__height-26 font__weight-medium">Our Staff</h4>
									<p class="font__family-open-sans font__size-15 line__height-24">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p><a class="brk-tiles-full__link" href="javascript:void(0)"><i class="far fa-angle-right"></i></a>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-6">
						<article class="brk-tiles-full" data-brk-library="component__tiles">
							<div class="brk-tiles-full__thumb" style="background-image: url(img/370x370_2.jpg)"></div>
							<div class="brk-tiles-full__content">
								<div class="brk-tiles-full__content-layer">
									<h4 class="font__family-montserrat font__size-16 line__height-26 font__weight-medium">Join to Us</h4>
									<p class="font__family-open-sans font__size-15 line__height-24">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p><a class="brk-tiles-full__link" href="javascript:void(0)"><i class="far fa-angle-right"></i></a>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-6">
						<article class="brk-tiles-full brk-tiles-full_left" data-brk-library="component__tiles">
							<div class="brk-tiles-full__thumb" style="background-image: url(img/370x370_3.jpg)"></div>
							<div class="brk-tiles-full__content">
								<div class="brk-tiles-full__content-layer">
									<h4 class="font__family-montserrat font__size-16 line__height-26 font__weight-medium">Reach & Healthy</h4>
									<p class="font__family-open-sans font__size-15 line__height-24">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p><a class="brk-tiles-full__link" href="javascript:void(0)"><i class="far fa-angle-right"></i></a>
								</div>
							</div>
						</article>
					</div>
					<div class="col-md-6">
						<article class="brk-tiles-full brk-tiles-full_left" data-brk-library="component__tiles">
							<div class="brk-tiles-full__thumb" style="background-image: url(img/370x370_4.jpg)"></div>
							<div class="brk-tiles-full__content">
								<div class="brk-tiles-full__content-layer">
									<h4 class="font__family-montserrat font__size-16 line__height-26 font__weight-medium">Keep Calm</h4>
									<p class="font__family-open-sans font__size-15 line__height-24">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p><a class="brk-tiles-full__link" href="javascript:void(0)"><i class="far fa-angle-right"></i></a>
								</div>
							</div>
						</article>
					</div>
				</div>
			</section>