<section class="position-relative overflow-hid z-index-3 text-center">
			<div class="brk-animated-circle brk-animated-circle-9" style="left:162px;top:271px;right:auto; bottom:auto" data-brk-library="component__backgrounds_css"><img class="lazyload" src="img/animated-triangle.png" alt="alt">
				<div class="brk-animated-circle__container"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="80px" height="62px">
						<linearGradient id="backgrounds-id-13" x1="0%" y1="0%" x2="100%" y2="0%">
							<stop offset="0%" style="stop-color:var(--brand-primary); stop-opacity:.92" />
							<stop offset="100%" style="stop-color:var(--secondary); stop-opacity:.92" />
						</linearGradient>
						<path fill-rule="evenodd" fill-opacity="0" stroke="url(#backgrounds-id-13)" stroke-width="4" fill="transparent" d="M74.998,57.000 L5.002,57.000 L40.000,5.003 L74.998,57.000 Z" />
					</svg></div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-7" style="left:auto;top:38px;right:-128px; bottom:auto" data-brk-library="component__backgrounds_css"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="436" height="408" viewBox="0 0 436 408">
					<defs>
						<path id="backgrounds-id-15" d="M1990.07 5023.04c91.51 123.02 63.33 268.04-76.93 323.71-120.72 47.92-281.2-4.33-302.4-153.9-35.78-252.38 287.82-292.83 379.33-169.81z" />
						<linearGradient id="backgrounds-id-16" x1="1825.98" x2="1824.99" y1="5363.99" y2="4955.99" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="var(--brand-primary)" stop-opacity=".9" />
							<stop offset="1" stop-color="var(--brk-base-5)" stop-opacity=".9" />
						</linearGradient>
					</defs>
					<g>
						<g transform="translate(-1607 -4956)">
							<use xlink:href="#backgrounds-id-15" />
							<use fill="url(#backgrounds-id-16)" xlink:href="#backgrounds-id-15" />
						</g>
					</g>
				</svg></div>
			<div class="brk-animated-circle brk-animated-circle-8" style="left:-395px;top:390px;right:auto; bottom:auto" data-brk-library="component__backgrounds_css"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="569" height="452" viewBox="0 0 569 452">
					<defs>
						<path id="backgrounds-id-17" d="M-400 5576c5.93-190.96 231.5-282.42 358.39-269.39C85.1 5319.62 209.89 5395.82 153 5620c-56.9 224.18-558.93 146.96-553-44z" />
						<linearGradient id="backgrounds-id-18" x1="-400.05" x2="166.95" y1="5530.93" y2="5531.39" gradientUnits="userSpaceOnUse">
							<stop offset="0" stop-color="var(--brand-primary)" stop-opacity=".9" />
							<stop offset="1" stop-color="var(--secondary)" stop-opacity=".9" />
						</linearGradient>
					</defs>
					<g>
						<g transform="translate(401 -5305)">
							<use xlink:href="#backgrounds-id-17" />
							<use fill="url(#backgrounds-id-18)" xlink:href="#backgrounds-id-17" />
						</g>
					</g>
				</svg></div>
			<div class="brk-animated-dot brk-animated-dot-1" style="left:228px;top:50%;right:auto; bottom:auto" data-brk-library="component__backgrounds_css,component__backgrounds_js">
				<div class="brk-animated-dot__container">
					<div class="brk-animated-dot__figure"></div>
				</div>
			</div>
			<div class="brk-animated-dot brk-animated-dot-1" style="left:auto;top:50%;right:228px; bottom:auto" data-brk-library="component__backgrounds_css,component__backgrounds_js">
				<div class="brk-animated-dot__container">
					<div class="brk-animated-dot__figure"></div>
				</div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-3" style="left:60px;top:auto;right:auto; bottom:422px" data-brk-library="component__backgrounds_css"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="230" height="230" viewBox="0 0 230 230">
					<defs>
						<path id="backgrounds-id-24" d="M188.02 6501c63.52 0 115.01 51.49 115.01 115s-51.49 115-115.01 115S73 6679.51 73 6616s51.5-115 115.02-115z" />
						<clipPath id="backgrounds-id-23">
							<use fill="#fff" xlink:href="#backgrounds-id-24" />
						</clipPath>
					</defs>
					<g>
						<g opacity=".02" transform="translate(-73 -6501)">
							<use fill="#fff" fill-opacity="0" stroke="#000" stroke-miterlimit="50" stroke-width="24" clip-path="url(&quot;#backgrounds-id-23&quot;)" xlink:href="#backgrounds-id-24" />
						</g>
					</g>
				</svg>
				<div class="brk-animated-circle__container"><span class="brk-animated-circle__dot-1"><span class="brk-animated-circle__dot-2"></span></span></div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-6" style="left:auto;top:auto;right:70px; bottom:400px" data-brk-library="component__backgrounds_css">
				<div class="brk-animated-circle__figure">
					<div class="brk-abs-overlay brk-bg-pattern brk-bgi-14"></div>
					<div class="brk-abs-overlay brk-base-bg-gradient-90deg"></div>
				</div>
				<div class="brk-animated-circle__container"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="79px" height="70px">
						<linearGradient id="backgrounds-id-25" x1="0%" y1="0%" x2="100%" y2="0%">
							<stop offset="0%" style="stop-color:var(--brk-base-2); stop-opacity:.92" />
							<stop offset="100%" style="stop-color:var(--brk-base-5); stop-opacity:.92" />
						</linearGradient>
						<path fill-rule="evenodd" fill-opacity="0" fill="transparent" stroke="url(#backgrounds-id-25)" stroke-width="4" d="M73.002,64.707 L5.693,45.499 L53.616,5.103 L73.002,64.707 Z" />
					</svg></div>
			</div>
			<div class="container">
				<div class="text-center mb-60">
					<div class="position-relative d-flex align-items-center justify-content-center pt-60 pb-60 mb-35 mt-40 mt-lg-25"><svg xmlns="http://www.w3.org/2000/svg" class="position-absolute" xmlns:xlink="http://www.w3.org/1999/xlink" width="170" height="170" viewBox="0 0 170 170">
							<defs>
								<path id="qhh9a" d="M960 4956a85 85 0 1 1 0 170 85 85 0 0 1 0-170z" />
								<clipPath id="qhh9b">
									<use fill="#fff" xlink:href="#qhh9a" />
								</clipPath>
								<linearGradient id="path-id-50" x1="1825.98" x2="1824.99" y1="5363.99" y2="4955.99" gradientUnits="userSpaceOnUse">
									<stop offset="0" stop-color="var(--brand-primary)" stop-opacity=".9" />
									<stop offset="1" stop-color="var(--secondary)" stop-opacity=".9" />
								</linearGradient>
							</defs>
							<g>
								<g transform="translate(-875 -4956)">
									<use fill="transparent" fill-opacity="0" stroke="url(#path-id-50)" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="50" stroke-width="8" clip-path="url(&quot;#qhh9b&quot;)" xlink:href="#qhh9a" />
								</g>
							</g>
						</svg> <i class="fas fa-mobile-alt font__size-64"></i></div>
					<h3 class="font__family-montserrat brk-black-font-color font__size-54 line__height-64 text-uppercase mb-20"><span class="font__weight-thin">HOT OFFER</span><br><span class="font__weight-bold">WE CAN MAKE TO YOU</span></h3>
					<h4 class="font__family-montserrat font__size-36 line__height-40"><span class="font__weight-bold brk-color-base-2">-20%</span> <span class="font__weight-light">till</span> <span class="font__weight-bold">20.08.2018</span></h4>
				</div>
				<div class="text-center position-relative pb-30 pb-md-0"><a href="https://play.google.com/store/apps/details?id=jp.konami.pesam&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" style="width: 240px; display: inline-block; margin: 0 7px;"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"> </a><a href="https://itunes.apple.com/us/app/netflix/id363590051?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:214px;height:70px;background-size:contain;margin:16px 7px 0 7px;"></a>
					<hr class="brk-wave-line-blue position-absolute d-none d-sm-block" style="top: 28px; z-index: -1;">
				</div>
				<div class="countdown__wrapper countdown__massive pt-30 pb-80 pb-lg-140" data-brk-library="component__countdown">
					<div class="countdown" data-format="
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%D</div>
                  <span class='font__family-montserrat font__size-18 font__weight-light font__size-14 countdown__period'>Dys</span>
                </div>
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%H</div>
                  <span class='font__family-montserrat font__size-18 font__weight-light font__size-14 countdown__period'>Hrs</span>
                </div>
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%M</div>
                  <span class='font__family-montserrat font__size-18 font__weight-light font__size-14 countdown__period'>Min</span>
                </div>
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%S</div>
                  <span class='font__family-montserrat font__size-18 font__weight-light font__size-14 countdown__period'>Sec</span>
                </div>
              " data-type="until" data-time=""></div>
				</div>
				<div class="text-center mb-80">
					<h3 class="font__family-montserrat brk-black-font-color font__size-54 line__height-64 text-uppercase"><span class="font__weight-thin">We glad</span><br><span class="font__weight-bold">to work for you</span></h3>
				</div>
				<div class="brk-team-persone-table" data-brk-library="component__team">
					<div class="row no-gutters">
						<div class="col-lg-4 col-sm-6">
							<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_1.jpg"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
								<div class="brk-team-persone-table__title brk-team-persone-table__title_dark">
									<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
											<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Leana K.A</h4>
										</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Design</span></div>
								</div>
								<ul class="brk-team-persone-table__contacts">
									<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
									<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
									<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
								</ul>
								<div class="brk-elev brk-elev-1"></div>
								<div class="brk-elev brk-elev-2"></div>
								<div class="brk-elev brk-elev-3"></div>
								<div class="brk-elev brk-elev-4"></div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_2.jpg"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
								<div class="brk-team-persone-table__title brk-team-persone-table__title_white">
									<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
											<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Samanta J.D</h4>
										</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Developer</span></div>
								</div>
								<ul class="brk-team-persone-table__contacts">
									<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
									<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
									<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
								</ul>
								<div class="brk-elev brk-elev-1"></div>
								<div class="brk-elev brk-elev-2"></div>
								<div class="brk-elev brk-elev-3"></div>
								<div class="brk-elev brk-elev-4"></div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_3.jpg"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
								<div class="brk-team-persone-table__title brk-team-persone-table__title_dark">
									<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
											<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Marry W.S</h4>
										</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Director</span></div>
								</div>
								<ul class="brk-team-persone-table__contacts">
									<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
									<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
									<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
								</ul>
								<div class="brk-elev brk-elev-1"></div>
								<div class="brk-elev brk-elev-2"></div>
								<div class="brk-elev brk-elev-3"></div>
								<div class="brk-elev brk-elev-4"></div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_4.jpg"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
								<div class="brk-team-persone-table__title brk-team-persone-table__title_white">
									<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
											<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Gerar Q.W</h4>
										</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Design</span></div>
								</div>
								<ul class="brk-team-persone-table__contacts">
									<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
									<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
									<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
								</ul>
								<div class="brk-elev brk-elev-1"></div>
								<div class="brk-elev brk-elev-2"></div>
								<div class="brk-elev brk-elev-3"></div>
								<div class="brk-elev brk-elev-4"></div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_5.jpg"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
								<div class="brk-team-persone-table__title brk-team-persone-table__title_dark">
									<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
											<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Mark Heffner</h4>
										</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Mark Heffner</span></div>
								</div>
								<ul class="brk-team-persone-table__contacts">
									<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
									<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
									<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
								</ul>
								<div class="brk-elev brk-elev-1"></div>
								<div class="brk-elev brk-elev-2"></div>
								<div class="brk-elev brk-elev-3"></div>
								<div class="brk-elev brk-elev-4"></div>
							</div>
						</div>
						<div class="col-lg-4 col-sm-6">
							<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_6.jpg"><span class="brk-base-gradient-persone-table brk-team-persone-table__overlay"></span>
								<div class="brk-team-persone-table__title brk-team-persone-table__title_white">
									<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
											<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Bernard Show</h4>
										</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Developer</span></div>
								</div>
								<ul class="brk-team-persone-table__contacts">
									<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
									<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
									<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
								</ul>
								<div class="brk-elev brk-elev-1"></div>
								<div class="brk-elev brk-elev-2"></div>
								<div class="brk-elev brk-elev-3"></div>
								<div class="brk-elev brk-elev-4"></div>
							</div>
						</div>
					</div>
					<div class="ptable-top"></div>
					<div class="ptable-bottom"></div>
					<div class="ptable-right"></div>
					<div class="ptable-left"></div>
				</div>
			</div>
		</section>