<section class="filmstrip-slider slider--scroll timeline timeline--mosaic default-bg-1" style="padding-top: 14%" data-brk-library="component__timelines_css">
				<div class="timeline--mosaic__svg-container"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1922 178" class="z-index-2">
						<defs>
							<path id="timelines-id-1" d="M0 1681.08s316.8 134.28 689 77.96c256.8-38.85 522.63-97.05 754-107.95 218.56-10.29 422.43 53.34 477 76.97V1644H0z" />
						</defs>
						<g>
							<g transform="translate(1 -1639)">
								<use fill="#fff" xlink:href="#timelines-id-1" />
							</g>
						</g>
					</svg> <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1922 207" class="z-index-2" style="margin-top: 25px">
						<defs>
							<path id="yof1a" d="M0 1751.03s316.8 102.31 689 46c256.8-38.86 524.63-106.06 756-116.95 218.56-10.3 420.43 50.45 475 74.08V1810s-194.6-118.95-470-112c-285.7 7.2-657.01 120.7-913 143-368.4 32.1-537-25-537-25z" />
							<linearGradient id="yof1b" x1="888" x2="1032" y1="1850.79" y2="1678.92" gradientUnits="userSpaceOnUse">
								<stop offset="0" stop-color="var(--brand-primary)" stop-opacity=".94" />
								<stop offset="1" stop-color="var(--brk-base-2)" stop-opacity=".94" />
							</linearGradient>
						</defs>
						<g>
							<g transform="translate(1 -1668)">
								<use fill="transparent" xlink:href="#yof1a" />
								<use fill="url(#yof1b)" xlink:href="#yof1a" />
							</g>
						</g>
					</svg></div><span class="full__size-absolute brk-base-bg-gradient-50deg-92"></span>
				<div class="filmstrip-slider-container swiper-container" data-brk-library="slider__swiper,component__content_slider">
					<div class="swiper-wrapper">
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_freelance_portfolio/330x330_1.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">1993</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">University</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_freelance_portfolio/330x330_2.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2003</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Self Education</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_freelance_portfolio/330x330_3.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2007</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Google Junior Developer</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_freelance_portfolio/330x330_4.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2018</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Android Middle Developer</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_freelance_portfolio/330x330_5.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2011</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Team Leader in Apple</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_freelance_portfolio/330x330_2.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Senior Android Developer</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/330x330_2.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/330x330_3.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/330x330_4.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
						<div class="post-filmstrip swiper-slide">
							<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/330x330_5.jpg" alt="alt"></a>
								<div class="timeline__content text-left">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
									</div>
									<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
									<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="brk-scrollbar">
					<div class="brk-scrollbar-track"></div>
				</div>
</section>