<div class="brk-gradient-circle brk-base-bg-gradient--30deg" data-brk-library="component__portfolio_page,component__tabbed_contents">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 136">
    <path d="M1920,136A3691.84,3691.84,0,0,0,0,136V0H1920Z" />
  </svg>
  <div class="brk-tabs brk-tabs_tabbed-icons-gradient" data-index="1">
    <div class="container">
      <ul class="brk-tabs-nav font__family-montserrat">
        <li class="brk-tab">
          <i class="fal fa-home" aria-hidden="true"></i>
          <span>Current Location</span>
        </li>
        <li class="brk-tab">
          <i class="fal fa-list-ul" aria-hidden="true"></i>
          <span>Best Skills</span>
        </li>
        <li class="brk-tab">
          <i class="far fa-cog" aria-hidden="true"></i>
          <span>Preferences</span>
        </li>
        <li class="brk-tab">
          <i class="fal fa-calendar" aria-hidden="true"></i>
          <span>Deadlines</span>
        </li>
      </ul>
    </div>
    <div class="brk-tabs-content pb-110">
      <div class="brk-tab-item">
        <div class="container text-center">
          <h3 class="font__family-montserrat font__size-28 font__weight-light brk-white-font-color opacity-60 text-center">Some description goes here</h3>
          <h2 class="font__family-montserrat font__weight-bold line__height-60 brk-white-font-color mb-30 text-center">Some main title goes here</h2>

          <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-10 col-md-12">
              <p class="line__height-26 font__size-16 mb-30 text-left">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
                sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                nec, pellentesque eu, pretium quis, sem.</p>
            </div>
          </div>

          <button class="btn btn-lg border-radius-25 font__family-open-sans font__weight-bold btn-inside-out btn-inside-out-invert" data-brk-library="component__button">
            <span class="before">Read More</span>
            <span class="text">Read More</span>
            <span class="after">Read More</span>
          </button>
        </div>
      </div>
      <div class="brk-tab-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <img class="brk-base-box-shadow" src="img/tabbed-bg-3.jpg" alt="alt">
            </div>
            <div class="col-lg-6 pl-35 pt-40">
              <h4 class="font__family-montserrat font__weight-light font__size-48 text-left brk-white-font-color">
                Working with</h4>
              <h4 class="font__family-montserrat font__weight-bold font__size-48 text-left brk-white-font-color pb-30">
                Our Team</h4>
              <p class="line__height-26 font__size-16 text-left pb-40">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, nsequ vitae, eleifend ac, enim. Aliquam
                lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laeers.
                Quisque rutrum. Aenean imperdiet. </p>

              @@include("tags.html")
            </div>
          </div>
        </div>
      </div>
      <div class="brk-tab-item">
        <div class="container">
          <div class="row">
            <div class="col-xl-4">
              <h4 class="font__family-montserrat font__weight-semibold font__size-28 text-left brk-white-font-color mb-20 mt-10">
                Foundation of the company</h4>
              <p class="font__size-16 line__height-26 text-left">Viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam
                lorem ante, dapibus in.</p>
            </div>
            <div class="col-xl-4">
              <h4 class="font__family-montserrat font__weight-semibold font__size-28 text-left brk-white-font-color mb-20 mt-10">
                Promoting products and services</h4>
              <p class="font__size-16 line__height-26 text-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam
                lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                Quisque rutrum. Aenean imperdiet.</p>
            </div>
            <div class="col-xl-4">
              <a href="img/370x370_1.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                <img src="img/370x370_1.jpg" alt="alt">
                <span class="square"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="brk-tab-item">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-4">
              @@include("../../image-frames/templates/borders-v4-1.html")
            </div>
            <div class="col-sm-6 col-lg-4">
              @@include("../../image-frames/templates/borders-v4-2.html")
            </div>
            <div class="col-sm-6 col-lg-4">
              @@include("../../image-frames/templates/borders-v4-3.html")
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="pt-50 pr-20 pb-50 pl-10 mb-100 brk-base-bg-white-transparent shadow">

      <div style="background: url('img/portfolio-page/info-box.png') no-repeat 56px 9px">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-9">
            <h3 class="font__family-montserrat font__weight-semibold font__size-14 line__height-14 brk-white-font-color opacity-60 text-uppercase mb-20">cinema</h3>
            <p class="brk-white-font-color font__family-montserrat font__size-16 line__height-26">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
              penatibus et magnis dis dapibus in parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
              pellentesque eu, pretium quis, sem.
            </p>
          </div>
        </div>
      </div>

    </div>

    <div class="mb-20">
      <div class="row">
        <div class="col-12 col-lg-6 pt-35 mb-30 text-left">
          <h3 class="font__family-montserrat font__size-48 line__height-50 letter-spacing--20 mb-30 brk-white-font-color">
            <span class="font__weight-ultralight">Looking for our</span>
            <br>
            <span class="font__weight-bold">Progress</span>
          </h3>
          <p class="font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-25 pr-35 brk-text-white-60">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
            neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante
            tincidunt tempus. Donec vitae sapien ut</p>
          <p class="font__family-open-sans font__size-16 font__weight-normal line__height-26 pr-35 brk-text-white-60">Libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla
            mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum.
          </p>
        </div>

        <div class="col-12 col-lg-6">
          @@include('logos.html',{
            "customClass":"pl-10 pr-15"
          })
        </div>
      </div>
    </div>

    <div class="brk-bottom-m100">
      <div class="brk-tabs__title-container mb-40 text-center">
        <h3 class="brk-tabs__title font__family-montserrat font__size-48 font__weight-bold line__height-52">
          Recent Projects</h3>
        <div class="divider-cross wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
          <span></span>
          <span></span>
        </div>
      </div>

      <div class="brk-slider-cards">
        <div class="brk-slider__items">
          <div>
            @@include("../../portfolio-grid/templates/card.html",{ 
              "imgSrc":"img/285x380_1.jpg" 
            })
          </div>
          <div>
            @@include("../../portfolio-grid/templates/card.html",{ 
              "imgSrc":"img/285x380_2.jpg" 
            })
          </div>
          <div>
            @@include("../../portfolio-grid/templates/card.html",{ 
              "imgSrc":"img/285x380_3.jpg" 
            })
          </div>
          <div>
            @@include("../../portfolio-grid/templates/card.html",{ 
              "imgSrc":"img/285x380_4.jpg" 
            })
          </div>
          <div>
            @@include("../../portfolio-grid/templates/card.html",{ 
              "imgSrc":"img/285x380_1.jpg" 
            }) 
          </div>
          <div>
            @@include("../../portfolio-grid/templates/card.html",{ 
              "imgSrc":"img/285x380_2.jpg" 
            })
          </div>
          <div>
            @@include("../../portfolio-grid/templates/card.html",{ 
              "imgSrc":"img/285x380_3.jpg" 
            })
          </div>

        </div>

        <div class="brk-slider__control">
          <div class="brk-slider__control-prev">
            <i class="fal fa-angle-left"></i>
          </div>
          <div class="brk-slider__control-next">
            <i class="fal fa-angle-right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>