<div class="brs-portfolio-carousel-item dots-rounded-skin" data-brk-library="slider__slick">
    <div>
        @@include("portfolio-categories-item.html",{ "imgSrc" : "img/370x370_1.jpg" })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ "imgSrc" : "img/370x370_2.jpg" })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ "imgSrc" : "img/370x370_3.jpg" })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ "imgSrc" : "img/370x370_4.jpg" })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ "imgSrc" : "img/370x370_5.jpg" })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ "imgSrc" : "img/370x370_6.jpg" })
    </div>
</div>