<div class="brk-lang @@if(context.interactive){@@interactive} brk-header__item">
  <span class="brk-lang__selected @@if(context.styleSelect){@@styleSelect}">US <i class="fa fa-caret-down" aria-hidden="true"></i></span>
  <span class="brk-lang__open"><i class="fa fa-language"></i> Language <span class="brk-lang__active-lang text-white brk-bg-primary">US</span></span>
  <ul class="brk-lang__option">
    <li><a href="#">UA</a></li>
    <li><a href="#">US</a></li>
    <li><a href="#">PL</a></li>
    <li><a href="#">ES</a></li>
  </ul>
</div>