<div class="brk-header-popup-menu">
  <div class="brk-header-popup-menu__open-close font__family-montserrat font__weight-light font__size-14 letter-spacing-40">
    <div class="brk-open"><i class="fal fa-bars"></i> Menu</div>
    <div class="brk-close"><i class="fal fa-times"></i> Close</div>
  </div>
  <div class="brk-header-popup-menu__menu text-lg-center font__family-roboto font__weight-thin">
    <ul>
      <li><a href="#">Portfolio</a></li>
      <li>
        <a href="#">About</a>
        <ul>
          <li>
            <a href="#">About 1</a>
          </li>
          <li>
            <a href="#">About 2</a>
          </li>
          <li>
            <a href="#">About 3</a>
          </li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
