<div class="brk-sc-honeycomb" data-brk-library="component__shop_honeycomb">

  <div class="brk-sc-honeycomb-five brk-sc-honeycomb-five_center">
    <div class="brk-sc-honeycomb-five__thumb lazyload" data-bg="@@if(context.demo === "true"){img/460x389_1.jpg}@@if(context.demo !== "true"){img/370x370_1.jpg}"></div>
    @@if(context.demo === "true"){
      @@include("hexagon.html",{
        "img": "img/460x389_1.jpg"
      })
    }
    @@if(context.demo !== "true"){
      @@include("hexagon.html",{
        "img": "img/370x370_1.jpg"
      })
    }
    <div class="brk-sc-honeycomb-five__content d-flex flex-wrap flex-column justify-content-center align-items-center text-center">
      <div class="brk-sc-honeycomb-five__link-sticker">
        <a href="#" class="brk-sc-honeycomb-five__read-more"><i class="far fa-angle-right"></i></a>
        <div class="sticker brk-white-font-color brk-base-bg-gradient-14">-30%</div>
      </div>

      <a href="#">
        <h4 class="brk-sc-honeycomb-five__title brk-white-font-color font__family-montserrat font__weight-bold text-uppercase">Collection #2</h4>
        <div class="brk-sc-honeycomb-five__desc brk-blue-font-color">
          @@if(context.description_1){@@description_1}@@if(!context.description_1){Some Description}
        </div>
      </a>
    </div>
  </div>

  <div class="brk-sc-honeycomb-five brk-sc-honeycomb-five_white-style brk-sc-honeycomb-five_center">
    <div class="brk-sc-honeycomb-five__thumb lazyload" data-bg="@@if(context.demo === "true"){img/460x389_2.jpg}@@if(context.demo !== "true"){img/370x370_2.jpg}"></div>
    @@if(context.demo === "true"){
      @@include("hexagon.html",{
        "img": "img/460x389_1.jpg",
        "light": "true"
      })
    }
    @@if(context.demo !== "true"){
      @@include("hexagon.html",{
        "img": "img/370x370_1.jpg",
        "light": "true"
      })
    }
    <div class="brk-sc-honeycomb-five__content d-flex flex-wrap flex-column justify-content-center align-items-center text-center">
      <h4 class="brk-sc-honeycomb-five__title font__family-montserrat font__weight-bold text-uppercase">Collection #1</h4>
      <div class="brk-sc-honeycomb-five__desc brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu. Aenean vulputate. Aenean vulputate eleifend tellus. Aenean leo ligula</div>
      @@include('../../buttons/templates/buttons.html',{
      "tag": "a",
      "type": "btn-inside-out",
      "customClass": "border-radius-25 font__family-open-sans font__weight-bold",
      "text": "Read More",
      "href": "#",
      "size": "md"
      })
    </div>
  </div>

  <div class="brk-sc-honeycomb-five brk-sc-honeycomb-five_center">
    <div class="brk-sc-honeycomb-five__thumb lazyload" data-bg="@@if(context.demo === "true"){img/460x389_3.jpg}@@if(context.demo !== "true"){img/370x370_3.jpg}"></div>
    @@if(context.demo === "true"){
      @@include("hexagon.html",{
        "img": "img/460x389_1.jpg"
      })
    }
    @@if(context.demo !== "true"){
      @@include("hexagon.html",{
        "img": "img/370x370_1.jpg"
      })
    }
    <div class="brk-sc-honeycomb-five__content d-flex flex-wrap flex-column justify-content-center align-items-center text-center">
      <div class="brk-sc-honeycomb-five__link-sticker">
        <a href="#" class="brk-sc-honeycomb-five__read-more"><i class="far fa-angle-right"></i></a>
      </div>

      <a href="#">
        <h4 class="brk-sc-honeycomb-five__title brk-white-font-color font__family-montserrat font__weight-bold text-uppercase">Collection #3</h4>
        <div class="brk-sc-honeycomb-five__desc brk-blue-font-color">
          @@if(context.description_2){@@description_2}@@if(!context.description_2){Some Description}
        </div>
      </a>
    </div>
  </div>

  <div class="brk-sc-honeycomb-five brk-sc-honeycomb-five_left-top">
    <div class="brk-sc-honeycomb-five__thumb lazyload" data-bg="@@if(context.demo === "true"){img/460x389_4.jpg}@@if(context.demo !== "true"){img/370x370_4.jpg}"></div>
    @@if(context.demo === "true"){
      @@include("hexagon.html",{
        "img": "img/460x389_1.jpg"
      })
    }
    @@if(context.demo !== "true"){
      @@include("hexagon.html",{
        "img": "img/370x370_1.jpg"
      })
    }
    <div class="brk-sc-honeycomb-five__content d-flex flex-wrap flex-column justify-content-center align-items-center text-center">
      <div class="brk-sc-honeycomb-five__link-sticker">
        <a href="#" class="brk-sc-honeycomb-five__read-more"><i class="far fa-angle-right"></i></a>
      </div>

      <a href="#">
        <h4 class="brk-sc-honeycomb-five__title brk-white-font-color font__family-montserrat font__weight-bold text-uppercase">Collection #4</h4>
        <div class="brk-sc-honeycomb-five__desc brk-blue-font-color">
          @@if(context.description_3){@@description_3}@@if(!context.description_3){Some Description}
        </div>
      </a>
    </div>
  </div>

  <div class="brk-sc-honeycomb-five brk-sc-honeycomb-five_left-bottom">
    <div class="brk-sc-honeycomb-five__thumb lazyload" data-bg="@@if(context.demo === "true"){img/460x389_5.jpg}@@if(context.demo !== "true"){img/370x370_5.jpg}"></div>
    @@if(context.demo === "true"){
      @@include("hexagon.html",{
        "img": "img/460x389_1.jpg"
      })
    }
    @@if(context.demo !== "true"){
      @@include("hexagon.html",{
        "img": "img/370x370_1.jpg"
      })
    }
    <div class="brk-sc-honeycomb-five__content d-flex flex-wrap flex-column justify-content-center align-items-center text-center">
      <div class="brk-sc-honeycomb-five__link-sticker">
        <a href="#" class="brk-sc-honeycomb-five__read-more"><i class="far fa-angle-right"></i></a>
      </div>

      <a href="#">
        <h4 class="brk-sc-honeycomb-five__title brk-white-font-color font__family-montserrat font__weight-bold text-uppercase">Collection #5</h4>
        <div class="brk-sc-honeycomb-five__desc brk-blue-font-color">
          @@if(context.description_4){@@description_4}@@if(!context.description_4){Some Description}
        </div>
      </a>
    </div>
  </div>

  <div class="brk-sc-honeycomb-five brk-sc-honeycomb-five_right-top">
    <div class="brk-sc-honeycomb-five__thumb lazyload" data-bg="@@if(context.demo === "true"){img/460x389_6.jpg}@@if(context.demo !== "true"){img/370x370_6.jpg}"></div>
    @@if(context.demo === "true"){
      @@include("hexagon.html",{
        "img": "img/460x389_1.jpg"
      })
    }
    @@if(context.demo !== "true"){
      @@include("hexagon.html",{
        "img": "img/370x370_1.jpg"
      })
    }
    <div class="brk-sc-honeycomb-five__content d-flex flex-wrap flex-column justify-content-center align-items-center text-center">
      <div class="brk-sc-honeycomb-five__link-sticker">
        <a href="#" class="brk-sc-honeycomb-five__read-more"><i class="far fa-angle-right"></i></a>
        <div class="sticker brk-white-font-color brk-base-bg-gradient-left-blue">-30%</div>
      </div>

      <a href="#">
        <h4 class="brk-sc-honeycomb-five__title brk-white-font-color font__family-montserrat font__weight-bold text-uppercase">Collection #6</h4>
        <div class="brk-sc-honeycomb-five__desc brk-blue-font-color">
          @@if(context.description_5){@@description_5}@@if(!context.description_5){Some Description}
        </div>
      </a>
    </div>
  </div>

  <div class="brk-sc-honeycomb-five brk-sc-honeycomb-five_right-bottom">
    <div class="brk-sc-honeycomb-five__thumb lazyload" data-bg="@@if(context.demo === "true"){img/460x389_7.jpg}@@if(context.demo !== "true"){img/370x370_1.jpg}"></div>
    @@if(context.demo === "true"){
      @@include("hexagon.html",{
        "img": "img/460x389_1.jpg"
      })
    }
    @@if(context.demo !== "true"){
      @@include("hexagon.html",{
        "img": "img/370x370_1.jpg"
      })
    }
    <div class="brk-sc-honeycomb-five__content d-flex flex-wrap flex-column justify-content-center align-items-center text-center">
      <div class="brk-sc-honeycomb-five__link-sticker">
        <a href="#" class="brk-sc-honeycomb-five__read-more"><i class="far fa-angle-right"></i></a>
      </div>

      <a href="#">
        <h4 class="brk-sc-honeycomb-five__title brk-white-font-color font__family-montserrat font__weight-bold text-uppercase">Collection #7</h4>
        <div class="brk-sc-honeycomb-five__desc brk-blue-font-color">
          @@if(context.description_6){@@description_6}@@if(!context.description_6){Some Description}
        </div>
      </a>
    </div>
  </div>


</div>