<div class="brk-sc-honeycomb brk-sc-honeycomb_line" data-brk-library="component__shop_honeycomb">

  <div class="brk-sc-honeycomb-three">
    <div class="brk-sc-honeycomb-three__thumb"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/124x215_1.png" alt="alt"></div>
    <div class="brk-sc-honeycomb-three__content d-flex flex-column justify-content-center text-center">
      <h4 class="brk-sc-honeycomb-three__title brk-white-font-color font__family-montserrat">Sleeveless shirt</h4>
      <div class="brk-sc-honeycomb-three__desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</div>
    </div>

    <div class="brk-sc-honeycomb-three__sticker brk-bg-primary font__family-montserrat">-40%</div>

    <a href="#" class="brk-sc-honeycomb-three__buy font__family-montserrat">
      <span class="price">$24.00</span>
      <span class="buy"><i class="fa fa-shopping-basket"></i>Buy</span>
    </a>

    <div class="brk-sc-honeycomb-three__layer brk-base-bg-1"></div>
    <div class="brk-sc-honeycomb-three__hex-1"></div>
    <div class="brk-sc-honeycomb-three__hex-2"></div>
    <div class="brk-sc-honeycomb-three__before"></div>
    <div class="brk-sc-honeycomb-three__after"></div>
  </div>

  <div class="brk-sc-honeycomb-three">
    <div class="brk-sc-honeycomb-three__thumb"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/124x215_1.png" alt="alt"></div>
    <div class="brk-sc-honeycomb-three__content d-flex flex-column justify-content-center text-center">
      <h4 class="brk-sc-honeycomb-three__title brk-white-font-color font__family-montserrat">Long-sleeve top</h4>
      <div class="brk-sc-honeycomb-three__desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</div>
    </div>

    <div class="brk-sc-honeycomb-three__sticker brk-bg-primary font__family-montserrat">Sale</div>

    <a href="#" class="brk-sc-honeycomb-three__buy font__family-montserrat">
      <span class="price">$24.00</span>
      <span class="buy"><i class="fa fa-shopping-basket"></i>Buy</span>
    </a>

    <div class="brk-sc-honeycomb-three__layer brk-base-bg-1"></div>
    <div class="brk-sc-honeycomb-three__hex-1"></div>
    <div class="brk-sc-honeycomb-three__hex-2"></div>
    <div class="brk-sc-honeycomb-three__before"></div>
    <div class="brk-sc-honeycomb-three__after"></div>
  </div>

  <div class="brk-sc-honeycomb-three">
    <div class="brk-sc-honeycomb-three__thumb"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/124x215_1.png" alt="alt"></div>
    <div class="brk-sc-honeycomb-three__content d-flex flex-column justify-content-center text-center">
      <h4 class="brk-sc-honeycomb-three__title brk-white-font-color font__family-montserrat">Tommy Hilfiger</h4>
      <div class="brk-sc-honeycomb-three__desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</div>
    </div>

    <a href="#" class="brk-sc-honeycomb-three__buy font__family-montserrat">
      <span class="price">$24.00</span>
      <span class="buy"><i class="fa fa-shopping-basket"></i>Buy</span>
    </a>

    <div class="brk-sc-honeycomb-three__layer brk-base-bg-1"></div>
    <div class="brk-sc-honeycomb-three__hex-1"></div>
    <div class="brk-sc-honeycomb-three__hex-2"></div>
    <div class="brk-sc-honeycomb-three__before"></div>
    <div class="brk-sc-honeycomb-three__after"></div>
  </div>

  <div class="brk-sc-honeycomb-three">
    <div class="brk-sc-honeycomb-three__thumb"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/124x215_1.png" alt="alt"></div>
    <div class="brk-sc-honeycomb-three__content d-flex flex-column justify-content-center text-center">
      <h4 class="brk-sc-honeycomb-three__title brk-white-font-color font__family-montserrat">Ralph Lauren</h4>
      <div class="brk-sc-honeycomb-three__desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</div>
    </div>

    <div class="brk-sc-honeycomb-three__sticker brk-bg-primary font__family-montserrat">Sale</div>

    <a href="#" class="brk-sc-honeycomb-three__buy font__family-montserrat">
      <span class="price">$24.00</span>
      <span class="buy"><i class="fa fa-shopping-basket"></i>Buy</span>
    </a>

    <div class="brk-sc-honeycomb-three__layer brk-base-bg-1"></div>
    <div class="brk-sc-honeycomb-three__hex-1"></div>
    <div class="brk-sc-honeycomb-three__hex-2"></div>
    <div class="brk-sc-honeycomb-three__before"></div>
    <div class="brk-sc-honeycomb-three__after"></div>
  </div>

</div>