<div class="text-center">
  @@include('../../titles/templates/trend.html',{
  "text": {
  "before": "We are Awesome",
  "main": "AWESOME SHOP",
  "secondary": "& Best items",
  "divider": "true",
  "after": ""
  }
  })
</div>

<div class="brk-sc-honeycomb brk-sc-honeycomb_line flex-column" style="margin-top: -90px;" data-brk-library="component__shop_honeycomb">

  <div class="brk-sc-honeycomb-four brk-sc-honeycomb-four_left">
    <div class="brk-sc-honeycomb-four__thumb"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/197x343_1.png" alt="alt"></div>

    <div class="brk-sc-honeycomb-four__content d-flex flex-column justify-content-center">
      <div class="brk-sc-honeycomb-four__sticker brk-white-font-color font__family-montserrat">
        <span class="category brk-bg-primary">Sport</span>
        <span class="stic scrollbar-range brk-bg-secondary">-30%</span>
      </div>
      <h4 class="brk-sc-honeycomb-four__title font__family-montserrat">Burberry</h4>
      @@include('../../elements/templates/rating.html', {
      "value": "80%"
      })
      <div class="brk-sc-honeycomb-four__price">
        <a href="#" class="font__family-montserrat brk-bg-primary brk-white-font-color">$24.00</a>
      </div>
    </div>

    <div class="brk-sc-honeycomb-four__layer">
      <div class="brk-sc-honeycomb-four__layer-over brk-bg-grad opacity-80"></div>
    </div>
  </div>

  <div class="brk-sc-honeycomb-four brk-sc-honeycomb-four_center">
    <div class="brk-sc-honeycomb-four__thumb"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/197x343_2.png" alt="alt"></div>

    <div class="brk-sc-honeycomb-four__content d-flex flex-column justify-content-center">
      <div class="brk-sc-honeycomb-four__sticker brk-white-font-color font__family-montserrat">
        <span class="category brk-bg-primary">Sport</span>
        <span class="stic scrollbar-range brk-bg-secondary">Sale</span>
      </div>
      <h4 class="brk-sc-honeycomb-four__title font__family-montserrat">Trench coat</h4>
      @@include('../../elements/templates/rating.html', {
      "value": "80%"
      })
      <div class="brk-sc-honeycomb-four__price">
        <a href="#" class="font__family-montserrat brk-bg-primary brk-white-font-color">$24.00</a>
      </div>
    </div>

    <div class="brk-sc-honeycomb-four__layer">
      <div class="brk-sc-honeycomb-four__layer-over brk-bg-grad opacity-80"></div>
    </div>  </div>

  <div class="brk-sc-honeycomb-four brk-sc-honeycomb-four_right">
    <div class="brk-sc-honeycomb-four__thumb"><img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/197x343_1.png" alt="alt"></div>

    <div class="brk-sc-honeycomb-four__content d-flex flex-column justify-content-center">
      <div class="brk-sc-honeycomb-four__sticker brk-white-font-color font__family-montserrat">
        <span class="category brk-bg-primary">Sport</span>
      </div>
      <h4 class="brk-sc-honeycomb-four__title font__family-montserrat">Polo shirt</h4>
      @@include('../../elements/templates/rating.html', {
      "value": "80%"
      })
      <div class="brk-sc-honeycomb-four__price">
        <a href="#" class="font__family-montserrat brk-bg-primary brk-white-font-color">$24.00</a>
      </div>
    </div>

    <div class="brk-sc-honeycomb-four__layer">
      <div class="brk-sc-honeycomb-four__layer-over brk-bg-grad opacity-80"></div>
    </div>  </div>

</div>