<span class="brk-svg-pattern-container brk-svg-pattern-container-16 brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 252">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){path-id-16-1}" d="M0 9008c-.22-.24 84.96-55.5 351-28.21 264.76 27.15 430.92 57.2 679-41.79 248.08-99 377.56-114.1 570.85-92.8C1794.14 8866.5 1920 8773 1920 8773v252H0z"
      />
      <linearGradient id="@@if(context.id2){@@id2}@@if(!context.id2){path-id-16-2}" x2="1920" y1="8899" y2="8899" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="var(--brand-primary)" stop-opacity=".92" />
        <stop offset="1" stop-color="var(--secondary)" stop-opacity=".92" />
      </linearGradient>
    </defs>
    <g>
      <g transform="translate(0 -8773)">
        <use xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){path-id-16-1}" />
        <use fill="url(#@@if(context.id2){@@id2}@@if(!context.id2){path-id-16-2})" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){path-id-16-1}" />
      </g>
    </g>
  </svg>
</span>