<span class="brk-svg-pattern-container  brk-svg-pattern-container-10-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2123 205">
    <defs>
      <path id="@@if(context.id2){@@id2}@@if(!context.id2){path-id-10-2}" d="M1977 7276.22s35.04 26.84-286-46.9c-321.04-73.75-358.86-84.98-552-44.06-193.14 40.93-347.67 83.47-530 52.63-182.33-30.83-231-21.97-411 17.74-180 39.7-270-116.13-270-116.13l-13-63.5h2123z"
      />
    </defs>
    <g>
      <g transform="translate(85 -7076)">
        <use fill="#fff" xlink:href="#@@if(context.id2){@@id2}@@if(!context.id2){path-id-10-2}" />
      </g>
    </g>
  </svg>
</span>
<span class="brk-svg-pattern-container brk-svg-pattern-container-10-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2278 381">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){path-id-10-1}" d="M-71 8011s-44.44-43.87 271-2 565.56-160.95 1014-84c448.44 76.95 538.56 78.04 704-102 165.44-180.04 286-183 286-183l-156 381H-69z"
      />
    </defs>
    <g>
      <g transform="translate(74 -7640)">
        <use fill="#fff" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){path-id-10-1}" />
      </g>
    </g>
  </svg>
</span>