<span class="brk-svg-pattern-container brk-svg-pattern-container-13 brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 330">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){path-id-13-1}" d="M0 2966s98.3-115.46 548.31-154.15c450.02-38.68 466.35-101.9 834.23-153.11 367.89-51.2 537.46 0 537.46 0V2966z"
      />
    </defs>
    <g>
      <g transform="translate(0 -2636)">
        <use fill="#fff" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){path-id-13-1}" />
      </g>
    </g>
  </svg>
</span>