<div class="parallax-bg overflow-hid @@if(context.customClass){@@customClass}" style="background-image: url(img/bg-1920_1.jpg)" data-brk-library="component__parallax">
  <div class="container">
    <div class="row triangle__wrap triangle__wrap-double scroll-show content__side-left">
      <span class="parallax__bg-shape-sm brk-parallax__bg-gradient"></span>
      <span class="parallax__bg-shape-lg brk-parallax__bg-color"></span>
      <div class="col-md-5">
        <div class="text-left pt-100 pb-100">
          <h2 class="font__family-montserrat font__weight-ultralight font__size-48">
            <span class="font__weight-bold">Be</span> in Business</h2>
          <p class="font__family-open-sans font__size-16 line__height-24 text-gray-light mt-10">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor Aliquam lorem ante, dapibus in, viverra quis.</p>

          @@include("../../progress-bars/templates/gradient.html",{ 
            "customClass":"mt-50" 
          }) 
          @@include("../../progress-bars/templates/gradient.html",{
          "title":"Projects Delivery", 
          "valueCur":"80" 
        })
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-bg overflow-hid mt-30" style="background-image: url(img/bg-1920_1.jpg)" data-brk-library="component__parallax">
  <div class="container">
    <div class="row row-no-gutter triangle__wrap triangle__wrap-double scroll-show content__side-right">
      <span class="parallax__bg-shape-sm brk-parallax__bg-color"></span>
      <span class="parallax__bg-shape-lg brk-parallax__bg-gradient"></span>

      <div class="col-md-6"></div>

      <div class="col-md-6">
        <div class="all-light text-left pt-210 pb-210">
          <h4
            class="font__family-montserrat font__weight-medium font__size-24 line__height-32 text-uppercase highlight-underline mt-0 show-inline-block text-middle">
            <span class="before wow fadeInUp"></span>Start with us right now
          </h4>
          <a href="#" class="btn btn-sm btn-simple border-radius-50 ml-30 mt-1">
            <i class="icon-inside icon-inline fa fa-angle-right font__size-24 mr-0" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
