<div class="parallax-bg overflow-hid mt-70 mt-md-140" style="background-image: url(img/bg-1920_3.jpg)" data-brk-library="component__parallax">
  <div class="container">
    <div class="row wing__wrap scroll-show content__side-left">

        <span class="parallax__bg-shape-lg brk-parallax__bg-color-md">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 790 170" xml:space="preserve" preserveAspectRatio="none" fill="#fff">
            <path d="M793.7,170.08H0V0H793.7ZM793.7,0H396.85c4.2,10.86,27.55,71.05,49.53,115.54,3.4,6.88,9.44,18.8,21.73,28.26,14.05,10.82,28.89,12.76,36.59,13.55,29.41,3,139.45,8.52,289,12.72Z"/>
          </svg>
        </span>

      <div class="col-md-5">
        <div class="pt-120 pb-120 text-center">
          <h2 class="font__family-montserrat font__weight-semibold font__size-82 line__height-96 letter-spacing-20 after-heading opacity-10"
              style="margin-bottom: -30px;">HOT
            DEAL</h2>
          <div class="countdown__wrapper countdown__medium" data-brk-library="component__countdown">
            <div class="countdown"
                 data-type="until"
                 data-time="2020/12/31 12:00"
                 data-format="
                      <div class='countdown__section'>
                        <div class='font__family-montserrat font__size-36 font__weight-bold countdown__amount'>%H</div>
                        <span class='font__family-montserrat font__size-16 font__weight-bold countdown__period'>Hours</span>
                      </div>
                      <div class='countdown__section'>
                        <div class='font__family-montserrat font__size-36 font__weight-bold countdown__amount'>%M</div>
                        <span class='font__family-montserrat font__size-16 font__weight-bold countdown__period'>Mins</span>
                      </div>
                      <div class='countdown__section'>
                        <div class='font__family-montserrat font__size-36 font__weight-bold countdown__amount'>%S</div>
                        <span class='font__family-montserrat font__size-16 font__weight-bold countdown__period'>Secs</span>
                      </div>
              ">
            </div>
          </div>

          <a href="#"
             class="btn btn-xl btn-shadow btn-icon border-radius-25 font__family-open-sans font__weight-bold btn-inside-out mt--30">
            <i class="far fa-shopping-cart icon-inside" aria-hidden="true"></i>
            <span class="before">Add To Cart</span>
            <span class="text">Add To Cart</span>
            <span class="after">Add To Cart</span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="parallax-bg overflow-hid mt-30" style="background-image: url(img/bg-1920_3.jpg)" data-brk-library="component__parallax">
  <div class="container">
    <div class="row wing__wrap scroll-show content__side-right">

        <span class="parallax__bg-shape-lg brk-parallax__bg-gradient-md">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 790 170" xml:space="preserve" preserveAspectRatio="none" fill="url(#gradient)">
            <defs>
                <linearGradient id="gradient" x1="0" y1="0" x2="1" y2="0">
                  <stop offset="0%" stop-color="var(--brand-primary)"/>
                  <stop offset="100%" stop-color="var(--secondary)"/>
                </linearGradient>
            </defs>
            <path d="M0,0H793.7V170.08H0ZM0,170.08c149.56-4.21,259.59-9.69,289-12.72,7.7-.79,22.53-2.73,36.59-13.55,12.29-9.47,18.34-21.39,21.73-28.26C369.3,71.05,392.65,10.86,396.85,0H0Z"/>
          </svg>
        </span>

      <div class="col-md-7"></div>

      <div class="col-md-5">
        <div class="all-light text-left pt-110 pb-110">

          <h2 class="font__family-montserrat-alt font__size-34 font__weight-bold line__height-34 text-uppercase">
            <span class="badge badge-primary font__size-13 font__weight-bold line__height-28 font__family-open-sans">Stay with us!</span>
            Subscribe now
          </h2>

          <form class="subscribe-form mt-20">
            <div class="form-control">
              <input type="email" title="email" placeholder="Your mail">
              <button class="btn" type="submit">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </form>

          <div class="divider-dashed"></div>

          <p class="line__height-24">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
            Aenean leo ligula,
            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra fequis, feugiat
            arutr, tellus. Phasellus viverra nulla ut metus varius laoreet. </p>

        </div>
      </div>

    </div>
  </div>
</div>
