<span class="brk-svg-pattern-container brk-svg-pattern-container-15-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 237">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){path-id-15-1}" d="M0 6912s132.83-133.73 460.72-81.1c327.9 52.63 536.48 71.78 808.73-25.2 272.26-96.97 541.5-46.48 650.55-130.7H0z"
      />
    </defs>
    <g>
      <g transform="translate(0 -6675)">
        <use fill="#fff" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){path-id-15-1}" />
      </g>
    </g>
  </svg>
</span>
<span class="brk-svg-pattern-container brk-svg-pattern-container-15-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 137">
    <defs>
      <path id="@@if(context.id2){@@id2}@@if(!context.id2){path-id-15-2}" d="M1920 8215H0v-80.78c25.76 8.63 67.3 19.24 133 29.1 144 21.64 208.92-49.01 388-50.29 179.08-1.27 262.24 117 496 61.32 215.22-51.26 328.47-96.35 483-96.35 154.53 0 339.96 98.05 420 98.05z"
      />
    </defs>
    <g>
      <g transform="translate(0 -8078)">
        <use fill="#fff" xlink:href="#@@if(context.id2){@@id2}@@if(!context.id2){path-id-15-2}" />
      </g>
    </g>
  </svg>
</span>