@@if(context.only_bottom !== "true"){
<span class="brk-svg-pattern-container brk-svg-pattern-container-7-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 144">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){path-id-7-1}" d="M0 657.88s316.8-72.16 689-15.96c256.8 38.77 524.63 105.83 756 116.7 218.56 10.27 420.43-40.37 475-63.95V616H0z"
      />
    </defs>
    <g>
      <g transform="translate(0 -616)">
        <use fill="#fff" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){path-id-7-1}" />
      </g>
    </g>
  </svg>
</span>
}
@@if(context.only_top !== "true"){
<span class="brk-svg-pattern-container brk-svg-pattern-container-7-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 144">
    <defs>
      <path id="@@if(context.id2){@@id2}@@if(!context.id2){path-id-7-2}" d="M1920 1489.12s-316.8 72.16-689 15.96c-256.8-38.77-524.63-105.83-756-116.7-218.56-10.27-420.43 40.37-475 63.95V1531h1920z"
      />
    </defs>
    <g>
      <g transform="translate(0 -1387)">
        <use fill="#fff" xlink:href="#@@if(context.id2){@@id2}@@if(!context.id2){path-id-7-2}" />
      </g>
    </g>
  </svg>
</span>
}