<span class="brk-svg-pattern-container brk-svg-pattern-container-9-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2149 668">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){path-id-9-1}" d="M-113 3591s160.39-76.16 383 66 421.43 37.9 599-93 323.7-156.49 564-121c240.3 35.49 380.2-14.24 400-151 19.8-136.76 27.99-208.27 194-226 166.01-17.73-2122 0-2122 0z"
      />
    </defs>
    <g>
      <g transform="translate(113 -3058)">
        <use fill="#fff" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){path-id-9-1}" />
      </g>
    </g>
  </svg>
</span>
<span class="brk-svg-pattern-container brk-svg-pattern-container-9-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2210 97">
    <defs>
      <path id="@@if(context.id2){@@id2}@@if(!context.id2){path-id-9-2}" d="M-101 4083s211.85 45.41 490 27c299.88-19.85 676.93-102.62 952-72 473.8 52.74 553.32 66.99 677 26 123.68-40.99 64 64 64 64H-113z"
      />
    </defs>
    <g>
      <g transform="translate(113 -4031)">
        <use fill="#fff" xlink:href="#@@if(context.id2){@@id2}@@if(!context.id2){path-id-9-2}" />
      </g>
    </g>
  </svg>
</span>
