<span class="brk-svg-pattern-container brk-svg-pattern-container-21 brk-svg-pattern-container_top brk-svg-pattern-container_top-outer" data-brk-library="component__svg_pattern">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 144" style="top: auto; bottom: 0; transform: rotateX(180deg)">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){path-id-21-1}" d="M0 657.88s316.8-72.16 689-15.96c256.8 38.77 524.63 105.83 756 116.7 218.56 10.27 420.43-40.37 475-63.95V616H0z" />
    </defs>
    <g>
      <g transform="translate(0 -616)">
        <use fill="@@fill" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){path-id-21-1}" />
      </g>
    </g>
  </svg>
</span>