
		<div class="cfa__wrapper cfa__outer border-radius-30 dark-shadow text-center" data-brk-library="component__call_to_action">
			<h4
				class="font__family-montserrat font__size-21 font__weight-light cfa__heading text-uppercase bg__style overlay__gradient letter-spacing-20 all-light violet-shadow"
				style="background-image: url(img/1170x103_1.jpg);">
				Call for action block heading title goes here
				<span class="overlay_after brk-base-bg-gradient-14 opacity-90"></span>
			</h4>
			<p class="font__family-open-sans font__size-14 font__weight-light text-gray">Aenean vulputate eleifend tellus.
				Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
				quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
				Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas
				tempus, tellus eget condimentum rhoncus, sem quam semper</p>
			<a href="#" class="btn btn-lg border-radius-25 font__family-open-sans font__weight-bold btn-inside-out">
				<span class="before">Read More</span>
				<span class="text">Read More</span>
				<span class="after">Read More</span>
			</a>
		</div>
