<div class="cfa__wrapper cfa__trend indent__1 text-left" data-brk-library="component__call_to_action">
  <span class="grad-border"></span>
  <div class="maxw-770">
    <h2 class="font__family-montserrat-alt font__weight-bold font__size-56 line__height-60 text-uppercase" data-brk-library="component__title">Engaging, purposeful
      <br>
      <span class="text-blue">&</span> Creative</h2>
    <div class="divider-layers">
      <span class="before"></span>
    </div>
    <p class="font__size-16 font__family-oxygen font__weight-light line__height-26 text-dark">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
      ante, dapibus in, viverra quis, feugiat a, tellus. </p>
    <a href="#" class="icon-go fas fa-long-arrow-alt-right"></a>
  </div>
  <span class="bg-after lazyload" data-bg="img/872x484_1.jpg"></span>
</div>
