
	<div class="container mt-50">
		<div class="row justify-content-center">
			<div class="col-sm-6 col-lg-4">
				<div class="counter__wrapper-clean gray text-center" data-brk-library="component__counter">
					<div class="counter-wrap">
						<svg>
							<linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1">
								<stop offset="0%" stop-color="#B2B2B2"></stop>
								<stop offset="40%" stop-color="#B2B2B2"></stop>
								<stop offset="60%" stop-color="#f1f1f1"></stop>
								<stop offset="100%" stop-color="#f1f1f1"></stop>
							</linearGradient>
							<circle r="115" cx="115" cy="115" class="external-circle" stroke-width="3" fill="none"
							        stroke="url(#linearColors1)"></circle>
						</svg>
						<div data-count-speed="3000" data-count-from="0" data-count-to="46" class="counter"></div>
					</div>
					<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-40">Some item title <br>goes
						here</h4>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="counter__wrapper-clean brown text-center" data-brk-library="component__counter">
					<div class="counter-wrap">
						<svg>
							<linearGradient id="linearColors2" x1="0" y1="0" x2="1" y2="1">
								<stop offset="0%" stop-color="#AB752B"></stop>
								<stop offset="40%" stop-color="#AB752B"></stop>
								<stop offset="60%" stop-color="#D5AA6F"></stop>
								<stop offset="100%" stop-color="#D5AA6F"></stop>
							</linearGradient>
							<circle r="115" cx="115" cy="115" class="external-circle" stroke-width="3" fill="none"
							        stroke="url(#linearColors2)"></circle>
						</svg>
						<div data-count-speed="2000" data-count-from="0" data-count-to="678" class="counter"></div>
					</div>
					<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-40">Some item title <br>goes
						here</h4>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="counter__wrapper-clean black text-center" data-brk-library="component__counter">
					<div class="counter-wrap">
						<svg>
							<linearGradient id="linearColors3" x1="0" y1="0" x2="1" y2="1">
								<stop offset="0%" stop-color="#000000"></stop>
								<stop offset="20%" stop-color="#000000"></stop>
								<stop offset="50%" stop-color="#383838"></stop>
								<stop offset="100%" stop-color="#383838"></stop>
							</linearGradient>
							<circle r="115" cx="115" cy="115" class="external-circle" stroke-width="3" fill="none"
							        stroke="url(#linearColors3)"></circle>
						</svg>
						<div data-count-speed="1000" data-count-from="0" data-count-to="1648" class="counter"></div>
					</div>
					<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-40">Some item title <br>goes
						here</h4>
				</div>
			</div>
		</div>
	</div>
