
	<div class="container mt-50">
		<div class="row justify-content-center">
			<div class="col-sm-6 col-lg-4">
				@@include('./filled-cart.html', {
        "countTo": "98",
        "countMax": "390",
        "title": "Some item title <br>goes here"
        })
			</div>
			<div class="col-sm-6 col-lg-4">
        @@include('./filled-cart.html', {
        "countTo": "972",
        "countMax": "2400",
        "title": "Some item title <br>goes here"
        })
			</div>
			<div class="col-sm-6 col-lg-4">
        @@include('./filled-cart.html', {
        "countTo": "1800",
        "countMax": "2000",
        "title": "Some item title <br>goes here"
        })
			</div>
		</div>
	</div>
