<div class="brk-tab-item brk-bg-center-cover pb-100 lazyload" data-bg="img/demo_travel_agency/1170x580_1.jpg">
  <div class="brk-abs-bg-overlay brk-base-gradient-34"></div>
  <div class="z-inder-2">
    <div class="row">
      <div class="col-12 col-md-10 col-xl-8 pl-xl-40">
        <h3 class="font__family-montserrat font__size-56 line__height-60 font__weight-bold text-white  mb-40">Lorem ipsum dolor sit amet, consec</h3>
        <p class="text-white font__size-16 font__weight-normal line__height-26 mb-40">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. </p>
        @@include("../../buttons/templates/buttons.html",{ 
          "type": "btn-inside-out",
          "text": "about us",
          "text_hover": "read more",
          "customClass": "font__family-montserrat font__size-14 font__weight-normal letter-spacing-80 mt-0 ml-0 mr-0"
        })
      </div>
    </div>
  </div>
</div>