<div class="extra__heading-1 text-center" data-brk-library="component__title_section">
  <h2 class='font__family-montserrat font__weight-ultralight font__size-72 @@if(context.white === "true"){brk-white-font-color}'>LOOK AT THE WORLD</h2>
  <h2 class='font__family-montserrat font__weight-bold font__size-72 @@if(context.white === "true"){brk-white-font-color}'>IN A NEW WAY</h2>
  <div class="video-btn mt-20">
    <a href="https://www.youtube.com/embed/fviFNrWKzZ8" class="icon__btn icon__btn-anim icon__btn-lg fancybox-media @@if(context.white ==="true"){icon__btn-white}">
      <span class="before"></span>
      <i class="fa fa-play" aria-hidden="true"></i>
      <span class="after"></span>
    </a>
    <p class='font__family-montserrat font__weight-bold font__size-12 letter-spacing-100 @@if(context.white === "true"){brk-white-font-color}'>VIEW PRESENTATION</p>
  </div>
</div>
