<footer class="brk-footer position-relative" @@if(context.id){id="@@id"} data-brk-library="component__footer">
  <div class="brk-footer__wrapper @@if(context.animated === "true"){brk-footer__wrapper_animated} d-flex flex-column align-items-center border-bottom-3 brk-border-color-primary @@if(context.customPadding){@@customPadding} @@if(!context.customPadding){pt-350}">
    <img src="@@if(context.img){@@img}@@if(!context.img){img/footer/bg-3.jpg}" alt="alt" class="brk-abs-img">
    @@if(!context.overlay){
      <span class="brk-abs-overlay brk-bg-gradient-40deg-60"></span>
      <span class="brk-abs-overlay brk-base-gradient-28 h-50"></span>
    }
    @@if(context.overlay){
      <span class="brk-abs-overlay @@overlay"></span>
    }
    <a href="#" class="d-inline-block mb-120">
      <img src="img/footer/brk-logo-2.png" alt="alt">
    </a>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="text-center d-flex flex-column mb-50">
            <div class="icon__cover" data-brk-library="component__services">
              @@include('../../buttons/templates/buttons.html',{
                "type":"icon__btn",
                "customClass":"icon__btn-anim icon__btn_clear",
                "size":"sm",
                "icon":"<i class='fa fa-phone' aria-hidden='true'></i>"
              })
            </div>              
            <p class="brk-white-font-color font__family-montserrat font__size-24 line__height-24 mb-15 font__weight-semibold">
              Phone
            </p>
            <a href="#" class="brk-white-font-color font__family-open-sans font__size-24 line__height-32">8 800 12 34 567</a>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="text-center d-flex flex-column mb-50">
            <div class="icon__cover" data-brk-library="component__services">
              @@include('../../buttons/templates/buttons.html',{
                "type":"icon__btn",
                "customClass":"icon__btn-anim icon__btn_clear",
                "size":"sm",
                "icon":"<i class='fa fa-map-marker' aria-hidden='true'></i>"
              })
            </div>  
            <p class="brk-white-font-color font__family-montserrat font__size-24 line__height-24 mb-15 font__weight-semibold">
              Address
            </p>
            <p class="brk-white-font-color font__family-open-sans font__size-24 line__height-32">
               123 6th St. Melbourne, <br>
               FL 32904
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="text-center d-flex flex-column mb-50">
            <div class="icon__cover" data-brk-library="component__services">
              @@include('../../buttons/templates/buttons.html',{
                "type":"icon__btn",
                "customClass":"icon__btn-anim icon__btn_clear",
                "size":"sm",
                "icon":"<i class='fa fa-envelope' aria-hidden='true'></i>"
              })
            </div>
            <p class="brk-white-font-color font__family-montserrat font__size-24 line__height-24 mb-15 font__weight-semibold">
              Email
            </p>
            <a href="mailto:info@domain.com" class="brk-white-font-color font__family-open-sans font__size-24 line__height-32">info@domain.com</a>
          </div>
        </div>
        <hr class="horiz-line mt-0 mb-20">
        <div class="text-center mb-25 w-100">
          <p class="brk-white-font-color font__family-open-sans font__size-14">© 2018 <span class="font__weight-bold">Berserk</span> All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>

