<footer class="brk-footer brk-footer-1 position-relative" @@if(context.id){id="@@id"} data-brk-library="component__footer,twitter_init">
  <div class="brk-footer__wrapper @@if(context.animated === "true"){brk-footer__wrapper_animated} brk-footer__wrapper_shadow @@if(context.containerClass){@@containerClass}">
    @@if(context.onlyBtm !== "true"){
    <div class="row no-gutters">
      <div class="col-xl-6 col-12">
        @@include('../../google-maps/templates/layout-1.html',{
          "customClass": "h-100",
          "canvasCustomClass": "h-100"
        })
      </div>
      <div class="col-xl-6 col-12">
        <div class="brk-base-bg-gradient-40-no-opacity h-100">
          <div class="row no-gutters">
            <div class="col-12 col-md-7">
              <div class="all-light text-center text-sm-left pt-md-80 pb-md-90 pt-40 pb-35 pl-md-60 pl-15 pr-15 pr-md-30">
                <a href="#" class="d-inline-block pt-1">
                  <img src="img/logo.png" alt="alt">
                </a>
                <hr class="horiz-line" style="margin-top: 20px; margin-bottom: 47px;">
                <p class="font__family-open-sans font__size-14 line__height-21 brk-white-font-color opacity-60">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
                  eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra fequis, feugiat arutr, tellus.
                  Phasellus viverra nulla ut metus varius laoreet. </p>
                <hr class="horiz-line" style="margin-bottom: 12px;">
                <div class="d-flex flex-wrap brk-footer__info-grid flex-sm-row flex-column">
                  <p class="font__family-open-sans font__weight-bold font__size-14 mt-10">
                    <i class="brk-footer-icon text-middle fa fa-map-marker line__height-24"></i>Chicago
                  </p>        
                  <p class="font__family-open-sans font__weight-bold font__size-14 mt-10">
                    <i class="brk-footer-icon text-middle fa fa-envelope line__height-24"></i>
                    <a href="mailto:i@nikadevs.com" class="show-inline-block">we@dev.com</a>
                  </p>
                  <p class="font__family-open-sans font__weight-bold font__size-14 mt-10">
                    <i class="brk-footer-icon text-middle fa fa-comments line__height-24"></i>Contact
                  </p>
                  <p class="font__family-open-sans font__weight-bold font__size-14 mt-10">
                    <i class="brk-footer-icon text-middle fa fa-phone line__height-24"></i>
                    <a href="#" class="show-inline-block">800 12 34 567</a>
                  </p>
                </div>
                <hr class="horiz-line mt-25 mb-25">
                <form action="#" name="subscribe" class="brk-subscribe-mail" data-brk-library="recaptcha">
                  <div class="brk-subscribe brk-subscribe-map">
                    <input name="EMAIL" type="email" placeholder="enter-your@mail.com">
                    <button type="submit">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-12 col-md-5">
              <div class="pt-80 pt-xs-20 pb-50 pr-30">
                <h6 class="brk-white-font-color text-center text-sm-left font__family-montserrat font__size-36 font__weight-bold line__height-36">
                  Our Twitter
                  
                </h6>
                <hr class="horiz-line mb-40" style="margin-top: 19px;">
                <div class="brk-styled-twitter-3 pr-xs-15 pl-xs-15">
                  <a href="https://twitter.com/We_Nikadevs" class="twitter-timeline" data-tweet-limit="2" data-chrome="noheader,transparent,nofooter,noborders" data-theme="dark"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    <div class="pt-60 brk-light-gradient-90deg-94 border-bottom-3 brk-border-color-light brk-shadow-light">
      <div class="container">
        <div class="brk-dashed-logo mb-20">
          <span class="brk-dashed-logo__line"></span>
          <a class="brk-dashed-logo__link ml-25 mr-25">
            <img src="img/logo.png" height="31" width="170" alt="logo">
          </a>
          <span class="brk-dashed-logo__line"></span>
        </div>
        @@include('../../social-links/templates/simple-social-links.html',{
          "socialIcon1":"<i class='fab fa-twitter'></i>",
          "socialIcon2":"<i class='fab fa-instagram'></i>",
          "socialIcon3":"<i class='fab fa-google-plus-g'></i>",
          "socialIcon4":"<i class='fab fa-youtube'></i>",
          "socialIcon5":"<i class='fab fa-vimeo'></i>",
          "socialIcon6":"<i class='fab fa-vk'></i>",
          "customContainerClass":"brk-white-font-color brk-social-links_opacity d-flex justify-content-center mb-40 font__size-12"
        })
        <div class="brk-footer__rights pt-15 pb-20 text-center">
          <p class="font__family-open-sans font__size-14 font__weight-normal line__height-14">© 2018  <span class="brk-white-font-color pl-1 pr-1 font__weight-bold">Berserk</span>  All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
</footer>
