<div class="brk-form brk-form-transparent" data-brk-library="component__form">
  <form enctype="multipart/form-data" method="POST">
    <div class="row">
      <div class="col-xl-4 col-md-6 mb-40">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light" for="brk-email-form-1">Email:</label>
          <input id="brk-email-form-1" class="brk-form-input-transparent" name="email" type="email" placeholder="enter-your@mail.com">
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-40">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light" for="brk-pass-form-1">Password:</label>
          <input id="brk-pass-form-1" class="brk-form-input-transparent" name="password" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-40">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light">Dropdown:</label>
          <select name="select" class="brk-form-select-transparent">
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
            <option value="Option 5">Option 5</option>
            <option value="Option 6">Option 6</option>
            <option value="Option 7">Option 7</option>
            <option value="Option 8">Option 8</option>
            <option value="Option 9">Option 9</option>
            <option value="Option 10">Option 10</option>
          </select>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-40">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light" for="brk-textarea-form-1">Text area:</label>
          <textarea id="brk-textarea-form-1" class="brk-form-textarea-transparent" name="textarea" placeholder="Text area"></textarea>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-40">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light">Select field:</label>
          <select name="multiselect" multiple="multiple" class="brk-form-multiselect-transparent">
            <option value="Option 1">Option 1</option>
            <option value="Option 2">Option 2</option>
            <option value="Option 3">Option 3</option>
            <option value="Option 4">Option 4</option>
            <option value="Option 5">Option 5</option>
            <option value="Option 6">Option 6</option>
            <option value="Option 7">Option 7</option>
            <option value="Option 8">Option 8</option>
            <option value="Option 9">Option 9</option>
            <option value="Option 10">Option 10</option>
          </select>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-40">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light">Choose file:</label>
          <input class="brk-form-file brk-form-file-transparent" type="file" name="file">
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-40">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light" for="brk-active-form-1">Active:</label>
          <input id="brk-active-form-1" class="brk-form-input-transparent" name="active" type="text" value="Active">
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-40">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light">Disabled</label>
          <input class="brk-form-input-transparent" name="disabled" type="text" placeholder="Disabled" disabled="disabled">
        </div>
      </div>
      <div class="col-xl-4 col-md-6 mb-40">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light">Readonly</label>
          <input class="brk-form-input-transparent" name="readonly" type="text" value="Readonly" placeholder="Readonly" readonly="readonly">
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="brk-form-wrap">
          <label class="brk-form-label font__family-montserrat font__weight-bold all-light">Datepicker:</label>
          <input id="date-id-transparent" class="brk-form-date brk-form-date-transparent" name="date-transparent" type="date">
        </div>
      </div>
      <div class="col-xl-2 col-md-3 text-left">
        <input id="checkbox-transparent-1" name="checkbox" type="checkbox" value="1" checked="checked">
        <label class="brk-form-checkbox-label" for="checkbox-transparent-1">Checked Option</label>
      </div>
      <div class="col-xl-2 col-md-3 text-left">
        <input id="checkbox-transparent-2" name="checkbox" type="checkbox" value="1">
        <label class="brk-form-checkbox-label" for="checkbox-transparent-2">Regular Option</label>
      </div>
      <div class="col-xl-2 col-md-3 text-left">
        <input id="radio-transparent-1" name="radio" type="radio" value="3" checked="checked">
        <label for="radio-transparent-1" class="brk-form-radio-label">Checked Option</label>
      </div>
      <div class="col-xl-2 col-md-3 text-left">
        <input id="radio-transparent-2" name="radio" type="radio" value="3">
        <label for="radio-transparent-2" class="brk-form-radio-label">Regular Option</label>
      </div>

    </div>
  </form>
</div>
