		<div class="accordion accordion-rounded accordion-image @@if(context.customClass){@@customClass}" role="tablist" aria-multiselectable="true" data-brk-library="component__accordions">
			<div class="card expanded">
				<div class="card-header text-left" role="tab" id="headingOne2">
					<h5
						class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 brk-base-font-color text-uppercase" data-brk-library="component__title">
						<a class="font__weight-medium card-title" data-toggle="collapse" data-parent=".accordion-image" href="#collapseOne2" aria-expanded="true"
						   aria-controls="collapseOne2">
							<i class="fab fa-delicious"></i> Boxed & Wide Layouts
						</a>
					</h5>
					<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-image" href="#collapseOne2"
					   aria-expanded="true" aria-controls="collapseOne2">
						<span class="arrow"></span>
					</a>
				</div>

				<div id="collapseOne2" class="collapse show" role="tabpanel" aria-labelledby="headingOne2">
					<div class="card-block text-left all-light font__family-open-sans @@if(context.bgPattern !== "true"){bg-cover default-bg-1} @@if(context.bgPattern === "true"){brk-bgi-1 brk-bg-pattern}">
            <span class="full__size-absolute brk-bg-grad opacity-90"></span>
            @@if(context.small !== "true"){            
						<div class="row">
							<div class="col-sm-4">
								<img class="mb-10 lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/343x301_1.jpg">
							</div>

							<div class="col-sm-8">
								<h4 class="font__family-montserrat font__weight-semibold highlight-underline font__size-28 line__height-32 mt-0">
									<span class="before wow fadeInUp brk-base-bg-8" style="visibility: visible; animation-name: fadeInUp;"></span>
									Make business with us
								</h4>
								<p class="mt-25 font__family-open-sans font__size-16 line__height-26">
									Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
									massa. Cum sociis natoque penatibus et magnis dis parturient montes.
								</p>
								<p class="mt-25 font__family-open-sans font__size-16 line__height-26">
									Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
									consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
								</p>

								<a href="#" class="mt-30 mr-2 ml-0 btn btn-lg border-radius-25 font__family-open-sans font__weight-bold btn-prime btn-invert">
									<span class="before"></span>
									<span class="after"></span>
									<span class="border-btn"></span><i class="fas fa-shopping-cart"></i> Buy now
								</a>
								<a href="#" class="mt-30 ml-0 mr-0 btn btn-simple btn-circle border-radius-50"><i class="icon-inside icon-inline fa fa-angle-right"></i></a>
							</div>
            </div>
            }
            @@if(context.small === "true"){
              <div class="row">
                <div class="col-12">
                  <h4 class="font__family-montserrat font__weight-semibold highlight-underline font__size-28 line__height-32 mt-0">
                    <span class="before wow fadeInUp brk-base-bg-8" style="visibility: visible; animation-name: fadeInUp;"></span>
                    Make business with us
                  </h4>
                  <p class="mt-25 font__family-open-sans font__size-16 line__height-26">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes.
                  </p>
                  <p class="mt-25 font__family-open-sans font__size-16 line__height-26">
                    Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                    consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                  </p>
							  </div>
              </div>
            }
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header text-left" role="tab" id="headingTwo2">
					<h5
						class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 brk-base-font-color text-uppercase">
						<a class="font__weight-medium card-title" data-toggle="collapse" data-parent=".accordion-image" href="#collapseTwo2" aria-expanded="true"
						   aria-controls="collapseTwo2">
							<i class="far fa-gem"></i> Extensive Documentation
						</a>
					</h5>
					<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-image" href="#collapseTwo2"
					   aria-expanded="true" aria-controls="collapseTwo2">
						<span class="arrow"></span>
					</a>
				</div>

				<div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2">
					<div class="card-block text-left all-light font__family-open-sans @@if(context.bgPattern !== "true"){bg-cover default-bg-1} @@if(context.bgPattern === "true"){brk-bgi-1 brk-bg-pattern}">
						<span class="full__size-absolute brk-bg-grad opacity-90"></span>
						<div class="row">
							<div class="col-sm-12">
								<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-24">Extensive Documentation</h4>
								<p class="mt-30">
									Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
									Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus
									varius laoreet.
								</p>
								<p class="mt-30">
									Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Aenean vulputate
									eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
									ante, dapibus in
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card-header text-left" role="tab" id="headingThree2">
					<h5
						class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 brk-base-font-color text-uppercase">
						<a class="font__weight-medium card-title" data-toggle="collapse" data-parent=".accordion-image" href="#collapseThree2" aria-expanded="true"
						   aria-controls="collapseThree2">
							<i class="fab fa-gg"></i> Parallax Support
						</a>
					</h5>
					<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-image" href="#collapseThree2"
					   aria-expanded="true" aria-controls="collapseThree2">
						<span class="arrow"></span>
					</a>
				</div>

				<div id="collapseThree2" class="collapse" role="tabpanel" aria-labelledby="headingThree2">
					<div class="card-block text-left all-light font__family-open-sans @@if(context.bgPattern !== "true"){bg-cover default-bg-1} @@if(context.bgPattern === "true"){brk-bgi-1 brk-bg-pattern}">
						<span class="full__size-absolute brk-bg-grad opacity-90"></span>
							<div class="row">
								<div class="col-sm-12">
									<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-24">Parallax Support</h4>
									<p class="mt-30 font__size-16">
										Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
										Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus
										varius laoreet.
									</p>
									<p class="mt-30 font__size-16">
										Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Aenean vulputate
										eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
										ante, dapibus in
									</p>
								</div>
						</div>
					</div>
				</div>
			</div>
		</div>
