<div class="@@if(context.customClass){@@customClass}@@if(!context.customClass){ml-20 mr-20}" data-brk-library="component__accordions">
	<div class="accordion accordion-simple accordion-simple-scale" role="tablist" aria-multiselectable="true">
		<div class="card expanded">
			<div class="card-header card-header-sm text-center" role="tab" id="headingOne6">
				<h5
					class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 position-relative">
					<span class="arrow"></span>
					<a data-toggle="collapse" href="#collapseOne6" aria-expanded="true"
					   aria-controls="collapseOne6">Put a plan into action
					</a>
				</h5>
				<a class="card-toggle-icon brk-base-font-color" data-toggle="collapse" href="#collapseOne6"
				   aria-expanded="true" aria-controls="collapseOne6">
					<i class="fab fa-delicious"></i>
				</a>
			</div>

			<div id="collapseOne6" class="collapse show" role="tabpanel" aria-labelledby="headingOne6">
				<div class="card-block text-center font__family-open-sans bg-position_bottom-right bg-norepeat">
					<div class="row">
						<div class="col-sm-12">
							<img class="mb-20 rounded-circle lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img){@@img}@@if(!context.img){img/accordion-bg-image-02.jpg}">
							<p class="mt-1 font__family-open-sans letter-spacing-40 font__size-16 line__height-26">
								Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header card-header-sm text-center" role="tab" id="headingTwo6">
				<h5
					class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 position-relative">
					<span class="arrow"></span>
					<a data-toggle="collapse" href="#collapseTwo6" aria-expanded="true"
					   aria-controls="collapseTwo6">Achieve the target
					</a>
				</h5>
				<a class="card-toggle-icon brk-base-font-color" data-toggle="collapse" href="#collapseTwo6"
				   aria-expanded="true" aria-controls="collapseTwo6">
           <i class="far fa-gem"></i>
				</a>
			</div>

			<div id="collapseTwo6" class="collapse" role="tabpanel" aria-labelledby="headingTwo6">
				<div class="card-block text-center font__family-open-sans bg-cover">
					<div class="row">
						<div class="col-sm-12">
							<p class="mt-1 font__family-open-sans font__size-16">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
								massa. Cum sociis natoque penatibus et magnis dis parturient montes.
							</p>
							<p class="mt-30 font__family-open-sans font__size-16">
								Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
								consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header card-header-sm text-center" role="tab" id="headingThree6">
				<h5
					class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 position-relative">
					<span class="arrow"></span>
					<a data-toggle="collapse" href="#collapseThree6" aria-expanded="true"
					   aria-controls="collapseThree6">Stay on budget
					</a>
				</h5>
				<a class="card-toggle-icon brk-base-font-color" data-toggle="collapse" href="#collapseThree6"
				   aria-expanded="true" aria-controls="collapseThree6">
					<i class="fab fa-gg"></i>
				</a>
			</div>

			<div id="collapseThree6" class="collapse" role="tabpanel" aria-labelledby="headingThree6">
				<div class="card-block text-center font__family-open-sans bg-cover">
					<div class="row">
						<div class="col-sm-12">
							<p class="mt-1 font__family-open-sans font__size-16">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
								massa. Cum sociis natoque penatibus et magnis dis parturient montes.
							</p>
							<p class="mt-30 font__family-open-sans font__size-16">
								Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
								consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header card-header-sm text-center" role="tab" id="headingFour6">
				<h5
					class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16 position-relative">
					<span class="arrow"></span>
					<a data-toggle="collapse" href="#collapseFour6" aria-expanded="true"
					   aria-controls="collapseFour6">Wrap up the project
					</a>
				</h5>
				<a class="card-toggle-icon brk-base-font-color" data-toggle="collapse" href="#collapseFour6"
				   aria-expanded="true" aria-controls="collapseFour6">
					<i class="fas fa-cube"></i>
				</a>
			</div>

			<div id="collapseFour6" class="collapse" role="tabpanel" aria-labelledby="headingFour6">
				<div class="card-block text-center font__family-open-sans bg-cover">
					<div class="row">
						<div class="col-sm-12">
							<p class="mt-1 font__family-open-sans font__size-16">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
								massa. Cum sociis natoque penatibus et magnis dis parturient montes.
							</p>
							<p class="mt-30 font__family-open-sans font__size-16">
								Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
								consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>