<h3 class="font__family-montserrat font__size-21 font__weight-bold text-left mb-35" data-brk-library="component__accordions">03</h3>
<div class="accordion accordion-simple accordion-simple-rainbow mb-80" role="tablist" aria-multiselectable="true">
	<div class="card expanded">
		<div class="card-header card-header-sm text-left brk-color-1" role="tab" id="headingOne5">
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title" data-toggle="collapse" data-parent=".accordion-simple-rainbow" href="#collapseOne5" aria-expanded="true"
				   aria-controls="collapseOne5">
					<i class="fab fa-delicious"></i> Some accordion title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-rainbow" href="#collapseOne5"
			   aria-expanded="true" aria-controls="collapseOne5">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="collapseOne5" class="collapse show" role="tabpanel" aria-labelledby="headingOne5">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-10">
						<p class="mt-1 font__family-open-sans font__size-16">
							Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor Aliquam lorem ante, dapibus in, viverra quis.
						</p>
					</div>
					<div class="col-sm-12">
						<div class="progress__wrapper progress__count mt-35" data-brk-library="component__progress_bar">
							<div class="progress__descr">
								<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Hard Work</h5>
								<div class="count">
									<span class="font__family-montserrat font__weight-regular count-value">16</span>
									<span class="font__family-montserrat font__weight-regular count-amount">22</span>
								</div>
							</div>
							<div class="progress">
								<div class="progress__bar">
									<span class="circle"></span>
								</div>
							</div>
						</div>
						<div class="progress__wrapper progress__count" data-brk-library="component__progress_bar">
							<div class="progress__descr">
								<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Projects Delivery</h5>
								<div class="count">
									<span class="font__family-montserrat font__weight-regular count-value">18</span>
									<span class="font__family-montserrat font__weight-regular count-amount">36</span>
								</div>
							</div>
							<div class="progress">
								<div class="progress__bar">
									<span class="circle"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-sm text-left brk-color-2" role="tab" id="headingTwo5">
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title" data-toggle="collapse" data-parent=".accordion-simple-rainbow" href="#collapseTwo5" aria-expanded="true"
				   aria-controls="collapseTwo5">
					<i class="far fa-gem"></i> Some accordion title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-rainbow" href="#collapseTwo5"
			   aria-expanded="true" aria-controls="collapseTwo5">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="collapseTwo5" class="collapse" role="tabpanel" aria-labelledby="headingTwo5">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-10">
						<p class="mt-1 font__family-open-sans font__size-16">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
							massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
						<p class="mt-30 font__family-open-sans font__size-16">
							Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
							consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-sm text-left brk-color-3" role="tab" id="headingThree5">
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title" data-toggle="collapse" data-parent=".accordion-simple-rainbow" href="#collapseThree5" aria-expanded="true"
				   aria-controls="collapseThree5">
					<i class="fab fa-gg"></i> Some accordion title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-rainbow" href="#collapseThree5"
			   aria-expanded="true" aria-controls="collapseThree5">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="collapseThree5" class="collapse" role="tabpanel" aria-labelledby="headingThree5">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-10">
						<p class="mt-1 font__family-open-sans font__size-16">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
							massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
						<p class="mt-30 font__family-open-sans font__size-16">
							Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
							consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-sm text-left brk-color-4" role="tab" id="headingFour5">
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title" data-toggle="collapse" data-parent=".accordion-simple-rainbow" href="#collapseFour5" aria-expanded="true"
				   aria-controls="collapseFour5">
					<i class="fas fa-cube"></i> Some accordion title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-rainbow" href="#collapseFour5"
			   aria-expanded="true" aria-controls="collapseFour5">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="collapseFour5" class="collapse" role="tabpanel" aria-labelledby="headingFour5">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-10">
						<p class="mt-1 font__family-open-sans font__size-16">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
							massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
						<p class="mt-30 font__family-open-sans font__size-16">
							Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
							consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>