<div class="accordion accordion-simple accordion-simple-image mb-80" role="tablist" aria-multiselectable="true" data-brk-library="component__accordions">
	<div class="card expanded">
		<div class="card-header card-header-sm text-left" role="tab" id="@@if(context.id){@@id-}headingOne3">
			<span class="card-dash brk-base-bg-gradient-right"></span>
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title @@if(context.linkStyle){@@linkStyle}@@if(!context.linkStyle){brk-base-font-color}"
           data-toggle="collapse"
           data-parent=".accordion-simple-image"
           href="#@@if(context.id){@@id-}collapseOne3"
           aria-expanded="true"
				   aria-controls="@@if(context.id){@@id-}collapseOne3">
					<i class="fab fa-delicious @@if(context.iconStyle){@@iconStyle}"></i> Some accordion Title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-image" href="#@@if(context.id){@@id-}collapseOne3"
			   aria-expanded="true" aria-controls="@@if(context.id){@@id-}collapseOne3">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="@@if(context.id){@@id-}collapseOne3" class="collapse show" role="tabpanel" aria-labelledby="@@if(context.id){@@id-}headingOne3">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-4">
						<img class="mb-10 lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img_1){@@img_1}@@if(!context.img_1){img/170x220_1.jpg}">
					</div>

					<div class="col-sm-8">
						<p class="mt-1 font__family-open-sans font__size-16 line__height-27">
							Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
							Aliquam lorem ante, dapibus in
						</p>
						<p class="mt-20 font__family-open-sans font__size-16 line__height-27">
							Viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Curabitur ullamcorper
							ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-sm text-left" role="tab" id="@@if(context.id){@@id-}headingTwo3">
			<span class="card-dash brk-base-bg-gradient-right"></span>
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title @@if(context.linkStyle){@@linkStyle}@@if(!context.linkStyle){brk-base-font-color}" data-toggle="collapse" data-parent=".accordion-simple-image" href="#@@if(context.id){@@id-}collapseTwo3" aria-expanded="true"
				   aria-controls="@@if(context.id){@@id-}collapseTwo3">
          <i class="far fa-gem @@if(context.iconStyle){@@iconStyle}"></i> Some accordion title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-image" href="#@@if(context.id){@@id-}collapseTwo3"
			   aria-expanded="true" aria-controls="@@if(context.id){@@id-}collapseTwo3">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="@@if(context.id){@@id-}collapseTwo3" class="collapse" role="tabpanel" aria-labelledby="@@if(context.id){@@id-}headingTwo3">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-4">
						<img class="mb-10 lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img_2){@@img_2}@@if(!context.img_2){img/170x220_1.jpg}">
					</div>

					<div class="col-sm-8">
						<p class="mt-1 font__size-16 font__family-open-sans line__height-27">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
							massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
						<p class="mt-30 font__size-16 font__family-open-sans line__height-27">
							Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
							consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header card-header-sm text-left" role="tab" id="@@if(context.id){@@id-}headingThree3">
			<span class="card-dash brk-base-bg-gradient-right"></span>
			<h5
				class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
				<a class="card-title @@if(context.linkStyle){@@linkStyle}@@if(!context.linkStyle){brk-base-font-color}" data-toggle="collapse" data-parent=".accordion-simple-image" href="#@@if(context.id){@@id-}collapseThree3" aria-expanded="true"
				   aria-controls="@@if(context.id){@@id-}collapseThree3">
          <i class="fab fa-gg @@if(context.iconStyle){@@iconStyle}"></i> Some accordion title
				</a>
			</h5>
			<a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-image" href="#@@if(context.id){@@id-}collapseThree3"
			   aria-expanded="true" aria-controls="@@if(context.id){@@id-}collapseThree3">
				<span class="arrow"></span>
			</a>
		</div>

		<div id="@@if(context.id){@@id-}collapseThree3" class="collapse" role="tabpanel" aria-labelledby="@@if(context.id){@@id-}headingThree3">
			<div class="card-block text-left font__family-open-sans bg-cover">
				<div class="row">
					<div class="col-sm-4">
						<img class="mb-10 lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img_3){@@img_3}@@if(!context.img_3){img/170x220_1.jpg}">
					</div>

					<div class="col-sm-8">
						<p class="mt-1 font__family-open-sans font__size-16 line__height-27">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
							massa. Cum sociis natoque penatibus et magnis dis parturient montes.
						</p>
						<p class="mt-30 font__family-open-sans font__size-16 line__height-27">
							Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
							consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
  @@if(context.triple !== "true"){
    <div class="card">
      <div class="card-header card-header-sm text-left" role="tab" id="@@if(context.id){@@id-}headingFour3">
        <span class="card-dash brk-base-bg-gradient-right"></span>
        <h5
          class="mb-0 font__family-montserrat font__weight-semibold letter-spacing-20 font__size-16 line__height-16">
          <a class="card-title brk-base-font-color" data-toggle="collapse" data-parent=".accordion-simple-image" href="#@@if(context.id){@@id-}collapseFour3" aria-expanded="true"
            aria-controls="@@if(context.id){@@id-}collapseFour3">
            <i class="fas fa-cube @@if(context.iconStyle){@@iconStyle}"></i> Some accordion title
          </a>
        </h5>
        <a class="card-toggle-icon" data-toggle="collapse" data-parent=".accordion-simple-image" href="#@@if(context.id){@@id-}collapseFour3"
          aria-expanded="true" aria-controls="@@if(context.id){@@id-}collapseFour3">
          <span class="arrow"></span>
        </a>
      </div>

      <div id="@@if(context.id){@@id-}collapseFour3" class="collapse" role="tabpanel" aria-labelledby="@@if(context.id){@@id-}headingFour3">
        <div class="card-block text-left font__family-open-sans bg-cover">
          <div class="row">
            <div class="col-sm-4">
              <img class="mb-10 lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img_4){@@img_4}@@if(!context.img_4){img/170x220_1.jpg}">
            </div>

            <div class="col-sm-8">
              <p class="mt-1 font__family-open-sans font__size-16 line__height-27">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes.
              </p>
              <p class="mt-30 font__family-open-sans font__size-16 line__height-27">
                Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla
                consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>