<div class="col-xl-3 col-lg-6">
  <div class="brk-pricing-strict text-center" data-brk-library="component__pricing_table,component__button">
    <div class="brk-pricing-strict__content">
      <div class="brk-pricing-strict__title font__family-open-sans font__weight-bold">
        <span class="before brk-bg-grad"></span>
        <span>@@if(context.title1){@@title1}@@if(!context.title1){Free}</span>
      </div>
      <div class="brk-pricing-strict__price font__family-montserrat">
        <span class="st-sign">$</span>
        <span class="st-price font__weight-ultralight">@@if(context.price1){@@price1}@@if(!context.price1){124}</span>
        <span class="st-sign">/ mo</span>
      </div>
      <div class="brk-pricing-strict__description">
        <ul class="font__family-open-sans font__size-14 line__height-48">
          @@if(context.list1){
          @@for (var i = 0; i < list1.length; i++) {
          <li>`+list1[i]+`</li>
          }
          }
          @@if(!context.list1){
          <li>Some item list goes here</li>
          <li>Some item list goes here large title</li>
          <li>Some item list goes here</li>
          <li>Some item list goes here large title</li>
          <li>Some item list goes here</li>
          }
        </ul>
      </div>

      <button
              class="brk-pricing-strict__btn btn btn-md-2 btn-icon border-radius-25 font__family-open-sans font__weight-bold btn-inside-out">
        <i class="fal fa-shopping-cart icon-inside" aria-hidden="true"></i>
        <span class="before">Buy now</span>
        <span class="text">Buy now</span>
        <span class="after">Buy now</span>
      </button>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-6">
  <div class="brk-pricing-strict text-center" data-brk-library="component__pricing_table,component__button">
    <div class="brk-pricing-strict__content">
      <div class="brk-pricing-strict__title font__family-open-sans font__weight-bold">
        <span class="before brk-bg-grad"></span>
        <span>@@if(context.title2){@@title2}@@if(!context.title2){Gold}</span>
      </div>
      <div class="brk-pricing-strict__price font__family-montserrat">
        <span class="st-sign">$</span>
        <span class="st-price font__weight-ultralight">@@if(context.price2){@@price2}@@if(!context.price2){167}</span>
        <span class="st-sign">/ mo</span>
      </div>
      <div class="brk-pricing-strict__description">
        <ul class="font__family-open-sans font__size-14 line__height-48">
          @@if(context.list2){
          @@for (var i = 0; i < list2.length; i++) {
          <li>`+list2[i]+`</li>
          }
          }
          @@if(!context.list2){
          <li>Some item list goes here</li>
          <li>Some item list goes here large title</li>
          <li>Some item list goes here</li>
          <li>Some item list goes here large title</li>
          <li>Some item list goes here</li>
          }
        </ul>
      </div>

      <button
              class="brk-pricing-strict__btn btn btn-md-2 btn-icon border-radius-25 font__family-open-sans font__weight-bold btn-inside-out">
        <i class="fal fa-shopping-cart icon-inside" aria-hidden="true"></i>
        <span class="before">Buy now</span>
        <span class="text">Buy now</span>
        <span class="after">Buy now</span>
      </button>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-6">
  <div class="brk-pricing-strict text-center" data-brk-library="component__pricing_table,component__button">
    <div class="brk-pricing-strict__content">
      <div class="brk-pricing-strict__title font__family-open-sans font__weight-bold">
        <span class="before brk-bg-grad"></span>
        <span>@@if(context.title3){@@title3}@@if(!context.title3){Silver}</span>
      </div>
      <div class="brk-pricing-strict__price font__family-montserrat">
        <span class="st-sign">$</span>
        <span class="st-price font__weight-ultralight">@@if(context.price3){@@price3}@@if(!context.price3){156}</span>
        <span class="st-sign">/ mo</span>
      </div>
      <div class="brk-pricing-strict__description">
        <ul class="font__family-open-sans font__size-14 line__height-48">
          @@if(context.list3){
          @@for (var i = 0; i < list3.length; i++) {
          <li>`+list3[i]+`</li>
          }
          }
          @@if(!context.list3){
          <li>Some item list goes here</li>
          <li>Some item list goes here large title</li>
          <li>Some item list goes here</li>
          <li>Some item list goes here large title</li>
          <li>Some item list goes here</li>
          }
        </ul>
      </div>

      <button
              class="brk-pricing-strict__btn btn btn-md-2 btn-icon border-radius-25 font__family-open-sans font__weight-bold btn-inside-out">
        <i class="fal fa-shopping-cart icon-inside" aria-hidden="true"></i>
        <span class="before">Buy now</span>
        <span class="text">Buy now</span>
        <span class="after">Buy now</span>
      </button>
    </div>
  </div>
</div>

<div class="col-xl-3 col-lg-6">
  <div class="brk-pricing-strict text-center" data-brk-library="component__pricing_table,component__button">
    <div class="brk-pricing-strict__content">
      <div class="brk-pricing-strict__title font__family-open-sans font__weight-bold">
        <span class="before brk-bg-grad"></span>
        <span>@@if(context.title4){@@title4}@@if(!context.title4){Bronze}</span>
      </div>
      <div class="brk-pricing-strict__price font__family-montserrat">
        <span class="st-sign">$</span>
        <span class="st-price font__weight-ultralight">@@if(context.price4){@@price4}@@if(!context.price4){144}</span>
        <span class="st-sign">/ mo</span>
      </div>
      <div class="brk-pricing-strict__description">
        <ul class="font__family-open-sans font__size-14 line__height-48">
          @@if(context.list4){
          @@for (var i = 0; i < list4.length; i++) {
          <li>`+list4[i]+`</li>
          }
          }
          @@if(!context.list4){
          <li>Some item list goes here</li>
          <li>Some item list goes here large title</li>
          <li>Some item list goes here</li>
          <li>Some item list goes here large title</li>
          <li>Some item list goes here</li>
          }
        </ul>
      </div>

      <button
              class="brk-pricing-strict__btn btn btn-md-2 btn-icon border-radius-25 font__family-open-sans font__weight-bold btn-inside-out">
        <i class="fal fa-shopping-cart icon-inside" aria-hidden="true"></i>
        <span class="before">Buy now</span>
        <span class="text">Buy now</span>
        <span class="after">Buy now</span>
      </button>
    </div>
  </div>
</div>
