<div class="container">
  <div class="row brk-gutters-5">
    <div class="col-xl-3 col-sm-6 col-12">
      @@include('./assorted-card.html',{
        "title":"Awesome for you",
        "subtitle":"Reach & Healthy"
      })
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      @@include('./assorted-card.html',{
        "title":"Join to us and",
        "subtitle":"Keep Calm",
        "bottom":"true"
      })
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      @@include('./assorted-card.html',{
        "title":"Make it better",
        "subtitle":"Our Office"
      })
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      @@include('./assorted-card.html',{
        "title":"Try to make it",
        "subtitle":"Join to Us",
        "bottom":"true"
      })
    </div>
  </div>
</div>
