
  <div class="row no-gutters">
    <div class="col-xl-3 col-md-6">
      <article class="brk-tiles-formats brk-tiles-formats_minimal format-image lazyload @@if(context.noMargin === 'true'){brk-tiles-formats_no-margin}" data-bg="@@if(context.img1){@@img1}@@if(!context.img1){img/370x370_1.jpg}" data-brk-library="component__tiles">
        <span class="before @@if(context.overlay1){@@overlay1}@@if(!context.overlay1){brk-base-bg-gradient-50deg}"></span>
        <span class="after @@if(context.overlay2){@@overlay2}@@if(!context.overlay2){brk-black-60-overlay}"></span>
        <div class='brk-tiles-formats__format-post @@if(context.label_custom_class){@@label_custom_class}'>@@if(context.label1){@@label1}@@if(!context.label1){Photo}</div>
        <div class="brk-tiles-formats__content">
           <a href="#" class="brk-tiles-formats__read-more" data-brk-library="component__button">Read more</a>
        </div>
      </article>
    </div>

    <div class="col-xl-3 col-md-6">
      <article class="brk-tiles-formats brk-tiles-formats_minimal format-quote lazyload @@if(context.noMargin === 'true'){brk-tiles-formats_no-margin}" data-bg="@@if(context.img2){@@img2}@@if(!context.img2){img/370x370_2.jpg}" data-brk-library="component__tiles">
        <span class="before @@if(context.overlay1){@@overlay1}@@if(!context.overlay1){brk-base-bg-gradient-50deg}"></span>
        <span class="after @@if(context.overlay2){@@overlay2}@@if(!context.overlay2){brk-black-60-overlay}"></span>
        <div class='brk-tiles-formats__format-post @@if(context.label_custom_class){@@label_custom_class}'>@@if(context.label2){@@label2}@@if(!context.label2){Quote}</div>
        <div class="brk-tiles-formats__content">
          <i class="fa fa-quote-right" aria-hidden="true"></i>
          <h4 class="font__family-montserrat-alt font__weight-bold font__size-26 line__height-32 text-center">@@if(context.title2){@@title2}@@if(!context.title2){Engaging, purposeful<br> & creative}</h4>
          <a href="#" class="brk-tiles-formats__read-more" data-brk-library="component__button">Read more</a>
        </div>
      </article>
    </div>

    <div class="col-xl-3 col-md-6">
      <article class="brk-tiles-formats brk-tiles-formats_minimal format-gallery lazyload @@if(context.noMargin === 'true'){brk-tiles-formats_no-margin}" data-bg="@@if(context.img3){@@img3}@@if(!context.img3){img/370x370_3.jpg}" data-brk-library="component__tiles">
        <span class="before @@if(context.overlay1){@@overlay1}@@if(!context.overlay1){brk-base-bg-gradient-50deg}"></span>
        <span class="after @@if(context.overlay2){@@overlay2}@@if(!context.overlay2){brk-black-60-overlay}"></span>
        <div class='brk-tiles-formats__format-post @@if(context.label_custom_class){@@label_custom_class}'>@@if(context.label3){@@label3}@@if(!context.label3){Image}</div>
        <div class="brk-tiles-formats__content">
          <a href="#" class="brk-tiles-formats__read-more" data-brk-library="component__button">Read more</a>
        </div>
      </article>
    </div>

    <div class="col-xl-3 col-md-6">
      <article class="brk-tiles-formats brk-tiles-formats_minimal format-standard lazyload @@if(context.noMargin === 'true'){brk-tiles-formats_no-margin}" data-bg="@@if(context.img4){@@img4}@@if(!context.img4){img/370x370_4.jpg}" data-brk-library="component__tiles">
        <span class="before @@if(context.overlay1){@@overlay1}@@if(!context.overlay1){brk-base-bg-gradient-50deg}"></span>
        <span class="after @@if(context.overlay2){@@overlay2}@@if(!context.overlay2){brk-black-60-overlay}"></span>
        <div class='brk-tiles-formats__format-post @@if(context.label_custom_class){@@label_custom_class}'>@@if(context.label4){@@label4}@@if(!context.label4){Post}</div>
        <div class="brk-tiles-formats__content">
          <h4 class="font__family-montserrat-alt font__weight-bold font__size-28 line__height-32 text-center">@@if(context.title4){@@title4}@@if(!context.title4){Reach & Healthy}</h4>
          <p class="font__size-16 line__height-26 mb-30 text-center">@@if(context.p4){p4}@@if(!context.p4){Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.Aenean vulputatend tellus.}</p>
          <a href="#" class="brk-tiles-formats__read-more" data-brk-library="component__button">Read more</a>
        </div>
      </article>
    </div>
  </div>
