<div class="brk-tables brk-tables-pedestal font__family-montserrat" data-brk-library="component__tables">
  <table>
    <thead>
    <tr>
      <th scope="col"><i class="fal fa-long-arrow-down"></i>Name</th>
      <th class="active" scope="col">Company</th>
      <th scope="col">Order Date</th>
      <th scope="col">Product</th>
      <th scope="col">Amount</th>
      <th scope="col">Total</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Yoshio W. Roach</td>
      <td>Lycos</td>
      <td>12/05/2015</td>
      <td>Product Six</td>
      <td>7</td>
      <td>$585.00</td>
    </tr>
    <tr>
      <td>Yoshio W. Roach</td>
      <td>Lycos</td>
      <td>12/05/2015</td>
      <td>Product Six</td>
      <td>7</td>
      <td>$585.00</td>
    </tr>
    <tr>
      <td>Yoshio W. Roach</td>
      <td>Lycos</td>
      <td>12/05/2015</td>
      <td>Product Six</td>
      <td>7</td>
      <td>$585.00</td>
    </tr>
    <tr>
      <td>Yoshio W. Roach</td>
      <td>Lycos</td>
      <td>12/05/2015</td>
      <td>Product Six</td>
      <td>7</td>
      <td>$585.00</td>
    </tr>
    <tr>
      <td>Yoshio W. Roach</td>
      <td>Lycos</td>
      <td>12/05/2015</td>
      <td>Product Six</td>
      <td>7</td>
      <td>$585.00</td>
    </tr>
    <tr>
      <td>Yoshio W. Roach</td>
      <td>Lycos</td>
      <td>12/05/2015</td>
      <td>Product Six</td>
      <td>7</td>
      <td>$585.00</td>
    </tr>
    </tbody>
  </table>
</div>
