<div class="brk-promo-crcl" data-brk-library="component__promo,waypoints">
  <div class="brk-promo-crcl__circles-container">
    <span class="brk-promo-crcl__circle"></span>
    <span class="brk-promo-crcl__circle"></span>
    <span class="brk-promo-crcl__circle"></span>
    <span class="brk-promo-crcl__circle"></span>
  </div>
  <img src="img/demo_saas/1012x586_1.png" alt="laptop" class="brk-promo-crcl__bg">
  <div class="brk-promo-crcl__content">
    @@include("../../media-embeds/templates/html5.html",{
      "overlay": "false",
      "img": "false",
      "only_btn": "true",
      "body": "false",
      "customClass": "px-o py-0 brk-box-shadow-none"
    })
  </div>
  <div class="brk-promo-crcl__cards-container">
    @@include("./01-1-promo-card.html")
    @@include("./01-1-promo-card.html",{
      "icon": "<i class='fas fa-shopping-basket'></i>",
      "title": "Basket"
    })
    @@include("./01-1-promo-card.html",{
      "icon": "<i class='fas fa-shoe-prints'></i>",
      "title": "Prints"
    })
    @@include("./01-1-promo-card.html",{
      "icon": "<i class='fas fa-video'></i>",
      "title": "Video"
    })
    @@include("./01-1-promo-card.html",{
      "icon": "<i class='fas fa-users'></i>",
      "title": "Users"
    })
    @@include("./01-1-promo-card.html",{
      "icon": "<i class='fas fa-briefcase'></i>",
      "title": "Briefcase"
    })
    @@include("./01-1-promo-card.html",{
      "icon": "<i class='fas fa-laptop'></i>",
      "title": "Laptop"
    })
    @@include("./01-1-promo-card.html",{
      "icon": "<i class='fas fa-box-open'></i>",
      "title": "Box"
    })
    @@include("./01-1-promo-card.html",{
      "icon": "<i class='fas fa-truck'></i>",
      "title": "Truck"
    })
  </div>
</div>