<div class="bg__style delimiter__circle all-light pt-100 pb-50 mt-80 position-relative" style="background-image: url(img/bg-1920_1.jpg);" data-brk-library="component__delimiters">
  <span class="overlay__delimiter-before">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 235.85">
      <defs>
        <style>
          .a1 {
            fill: #fff;
            fill-rule: evenodd;
          }
        </style>
      </defs>
      <path class="a1" d="M1920,235.85S1576.38,109.42,960,109.42,0,235.85,0,235.85V0H1920Z" />
    </svg>
  </span>
  <span class="overlay__delimiter-after brk-base-bg-gradient-50deg-a"></span>

  <div class="container">
    <div class="services__wrapper-main services__wrapper-honeycomb active__effect-main  all-light mt-0" data-brk-library="component__services">
      <div class="row">
        <div class="col-lg-4">
          <div class="services__wrapper active__effect text-center">
            <div class="icon__cover">
              <button class="icon__btn icon__btn-anim icon__btn-sm" data-brk-library="component__button">
                <span class="before"></span>
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="after"></span>
              </button>
            </div>
            <p class="font__family-open-sans font__weight-light font__size-14 text-uppercase letter-spacing-60">We are Awesome
            </p>
            <h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">
              <span class="font__family-montserrat-alt font__weight-regular">We are </span>cool</h4>
            <span class="divide"></span>
            <p class="font__family-open-sans font__size-14 main-text">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
            <a href="#" class="btn btn-width font__family-open-sans font__weight-bold font__size-16 mt-30">
              <span>Read more</span>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="services__wrapper active__effect active current center text-center">
            <div class="icon__cover">
              <button class="icon__btn icon__btn-anim icon__btn-sm" data-brk-library="component__button">
                <span class="before"></span>
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="after"></span>
              </button>
            </div>
            <p class="font__family-open-sans font__weight-light font__size-14 text-uppercase letter-spacing-60">We are Awesome
            </p>
            <h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">
              <span class="font__family-montserrat-alt font__weight-regular">We are </span>cool</h4>
            <span class="divide"></span>
            <p class="font__family-open-sans font__size-14 main-text">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
            <a href="#" class="btn btn-width font__family-open-sans font__weight-bold font__size-16 mt-30">
              <span>Read more</span>
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="services__wrapper active__effect text-center">
            <div class="icon__cover">
              <button class="icon__btn icon__btn-anim icon__btn-sm" data-brk-library="component__button">
                <span class="before"></span>
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span class="after"></span>
              </button>
            </div>
            <p class="font__family-open-sans font__weight-light font__size-14 text-uppercase letter-spacing-60">We are Awesome
            </p>
            <h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">
              <span class="font__family-montserrat-alt font__weight-regular">We are </span>cool</h4>
            <span class="divide"></span>
            <p class="font__family-open-sans font__size-14 main-text">Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
              consequat vitae, eleifend ac, enim.
            </p>
            <a href="#" class="btn btn-width font__family-open-sans font__weight-bold font__size-16 mt-30">
              <span>Read more</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="overlay_after"></span>
</div>
