<div class="bg__style overlay__gradient delimiter__curve pt-80 pb-10 mt-80" style="background-image: url(img/bg-1920_3.jpg);" data-brk-library="component__delimiters">
  <span class="overlay__delimiter-before">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 197.02">
      <defs>
        <style>
          .a5 {
            fill: url(#a5);
          }

          .a5,
          .b5 {
            fill-rule: evenodd;
          }

          .b5 {
            fill: #fff;
          }
        </style>
        <linearGradient id="a5" y1="240" x2="1787" y2="240" gradientUnits="userSpaceOnUse">
          <stop offset="0%" stop-color="var(--brand-primary)" />
          <stop offset="80%" stop-color="var(--secondary)" />
        </linearGradient>
      </defs>
      <path class="a5" d="M1231,109.07C974.2,70.21,708.37,12,477,1.12,258.44-9.18,54.57,54.45,0,78.08V197H1920V31.1S1603.21,165.38,1231,109.07Z"
      />
      <path class="b5" d="M1920,131.06s-316.79,72.31-689,16C974.2,108.19,706.37,41,475,30.1,256.44,19.81,54.57,70.55,0,94.18V197H1920Z"
      />
    </svg>
  </span>
  <span class="overlay__delimiter-after brk-base-bg-gradient-50deg-a"></span>
  <div class="container all-light">
    <div class="row">
      <div class="col-lg-7">
        <div class="mobile-case-4 z-index-high" style="background-image: url(img/app-case-3.png)">
          <div class="mobile-bg" style="background: url(img/app-inside-3.jpg) center center no-repeat; background-size: cover;"></div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="text-xl-left z-index-high mt-50 mt-xl-0">
          <div class="text-left mt-20" data-brk-library="component__title">
            <h2 class="font__family-montserrat font__weight-light font__size-46 line__height-52">Engaging, awesome
            </h2>
            <h2 class="font__family-montserrat font__weight-bold font__size-46 line__height-52">&amp; Creative</h2>
            <h4 class="font__family-montserrat font__weight-light highlight-underline font__size-21 line__height-26 ">
              <span class="before wow fadeInUp brk-base-bg-8" style="visibility: visible; animation-name: fadeInUp;"></span>Make business with us
              <br>
              <span class="font__weight-bold">&amp; become beautiful</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
