	<div class="bg__style overlay__gradient delimiter__rounded pt-50 pb-50 mt-80"
	     style="background-image: url(img/bg-1920_1.jpg);" data-brk-library="component__delimiters">
		<span class="overlay__delimiter-after brk-base-bg-gradient-4"></span>

		<div class="container">
			<div class="row row-no-gutter">
				<div class="col-md-7 all-light text-left">
					<h4 class="font__family-montserrat mt-60 font__size-28 line__height-32 text-uppercase highlight-underline" data-brk-library="component__title">
						<span class="before wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;"></span>Make
						business with us</h4>
					<p class="font__family-opensans font__size-16 line__height-26 mt-20">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean c ommodo ligula eget dolor. Aenean massa.
						Cum sociis natoque penatibus et magnis dis parturient montes.
					</p>
					<p class="font__family-opensans font__size-16 line__height-26 mt-30">
						Nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat
						massa quis enim. Donec pede justo, fringilla vel, aliquet nec
					</p>
					<div class="mt-20 text-center text-md-left mb-20">
						<a href="#" class="btn btn-lg border-radius-25 font__family-open-sans font__weight-bold btn-prime mh-0" data-brk-library="component__button">
							<span class="before"></span>
							<i class="fa fa-shopping-cart icon-inside" aria-hidden="true"></i>Buy now
							<span class="after"></span>
							<span class="border-btn"></span>
						</a>
						<a href="#" class="btn btn-simple btn-circle border-radius-50" data-brk-library="component__button"><i
							class="icon-inside icon-inline fa fa-angle-right"></i></a>
					</div>
				</div>

				<div class="col-md-1"></div>
				<div class="col-md-4">
					<div class="text-center">
            <img src="img/delimiter-phone.png" alt="alt">
          </div>
				</div>

			</div>
		</div>

		<span class="overlay__delimiter-before absolute-bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 365.6">
        <defs>
            <style>.a2 {
	            fill: url(#a2);
            }

            .a2, .b2 {
	            fill-rule: evenodd;
            }

            .b2 {
	            fill: #fff;
            }</style>
            <linearGradient id="a2" y1="240" x2="1787" y2="240" gradientUnits="userSpaceOnUse">
              <stop offset="0%" stop-color="var(--brand-primary)" stop-opacity=".5"/>
              <stop offset="50%" stop-color="var(--brk-base-2)" stop-opacity=".5"/>
            </linearGradient>
        </defs>
        <path class="a2" d="M1920,365.6H0V233.21C487.24,89,1095.45-106.63,1920,70.34Z"/>
        <path class="b2" d="M0,343.21V365.6H1920V89.6C1125.22-68.53,13.61,337.23,0,343.21Z"/>
      </svg>
    </span>
	</div>
