<div class="position-relative brk-bg-center-cover pt-180 lazyload"
     data-bg="@@if(context.bg){@@bg}@@if(!context.bg){img/bg-14.jpg}" data-brk-library="component__delimiters">
  <div class="brk-abs-bg-overlay @@if(context.overlay){@@overlay}@@if(!context.overlay){brk-base-bg-gradient-90deg}"></div>
  @@include('../../svg-pattern/templates/pattern-5.html')
  <div class="container">
    <h2 class="text-center brk-white-font-color font__family-montserrat font__size-21 font__weight-light line__height-22 text-uppercase mb-20">
      Featured
    </h2>
    <h2 class="text-center brk-white-font-color font__family-montserrat font__size-56 font__weight-bold line__height-56">
      Our Features
    </h2>
  </div>
  <div class="text-center z-index-3 position-relative" style="bottom: -75px">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/ipad.png" alt="alt" class="lazyload">
  </div>
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/case-1.png" class="position-absolute z-index-1 lazyload" style="left: 0; top: 0;" alt="alt">
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/case-2.png" class="position-absolute z-index-1 lazyload" style="right: 0; bottom: 0" alt="alt">
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/case-3.png" class="position-absolute z-index-1 lazyload" style="left: 14%; bottom: 0; max-width: 76%" alt="alt">
  @@include('../../svg-pattern/templates/pattern-6.html')

</div>