<div class="progress__wrapper progress__curve @@if(context.customClass){@@customClass}" data-value="@@if(context.valueCur){@@valueCur} @@if(!context.valueCur){85}" data-brk-library="component__progress_bar">
  <h4 class="font__family-montserrat font__size-21 font__weight-light progress__title">
     @@if(!context.title){Hard Work} @@if(context.title){@@title}
  </h4>
  <svg>
    <path class="path-after" d="M 0 130 L 600.6 130 Q 770 130 770 0" stroke-width="1" stroke="#000000" fill="transparent" />
    <path class="path" d="M 0 130 L 600.6 130 Q 770 130 770 0" stroke-width="1" stroke="#000000" fill="transparent" />
  </svg>
</div> 
