	<div class="breadcrumbs__section breadcrumbs__section-angle pt-70 pb-70 bg__style lazyload @@if(context.right === "true"){breadcrumbs__section-angle-right}"
	     data-bg="@@if(!context.img){img/1920x186_1.jpg}@@if(context.img){@@img}" data-brk-library="component__breadcrumbs_css">
		<div class="container">
			<div class="breadcrumbs__wrapper">
				<span class="breadcrumb__shape brk-base-bg-gradient-4"></span>
				<span class="breadcrumb-bg brk-base-bg-gradient-4 full__size-absolute"></span>
				<h2 class="font__size-38 line__height-46 font__family-montserrat font__weight-ultralight pull-right">@@if(context.title){@@title}@@if(!context.title){Title}</h2>
				<ol class="breadcrumb pull-left">
					<li>
						<span class="separator"></span>
						<a href="#">Bread</a>
					</li>
					<li class="active"><span class="separator"></span>Crumbs</li>
				</ol>
			</div>
		</div>
	</div>

