	<div class="breadcrumbs__section breadcrumbs__section-line brk-base-bg-5 mt-110 pt-80 pb-60 bg__style" data-brk-library="component__breadcrumbs_css">
		<div class="container">
			<div class="breadcrumbs__wrapper">
				<div class="pull-left text-left">
					<h4 class="font__family-montserrat highlight-underline font-weight-ultralight font__size-40 line__height-46">
						<span class="before wow fadeInUp brk-base-bg-2" style="visibility: visible; animation-name: fadeInUp;"></span>
						Some Page Title<br>
						<span class="font__weight-bold d-inline-block">Goes Here</span>
					</h4>
				</div>

				<ol class="breadcrumb pull-right font__family-montserrat font__weight-medium font__size-14">
					<li>
						<a href="#">Bread</a>
					</li>
					<li class="active">Crumbs</li>
				</ol>
			</div>
		</div>
	</div>
