<div class="breadcrumbs__section breadcrumbs__section-simple brk-bg-center-cover pt-120 pt-lg-60 pb-60 lazyload @@if(context.customClass){@@customClass}" data-bg="@@if(context.img){@@img}@@if(!context.img){img/1920x240_2.jpg}" data-brk-library="component__breadcrumbs_css">
  <span class="brk-abs-bg-overlay brk-base-gradient-32"></span>
  <div class="breadcrumbs__wrapper">
    <div class="container">
     <div class="d-flex flex-wrap justify-content-center justify-content-lg-between align-items-center">
       <h2 class="brk-white-font-color font__family-montserrat font__weight-thin font__size-40 line__height-46 mb-20 mb-lg-0">@@if(context.title){@@title}@@if(!context.title){Team}</h2>
        <ul class="breadcrumb brk-white-font-color font__family-montserrat font__size-15 line__height-21 d-flex align-items-center">
          <li>
            <a href="#">Bread</a>
            <i class="fal fa-chevron-right icon"></i>
          </li>
          <li>
            <a href="#">Crumbs</a>
            <i class="fal fa-chevron-right icon"></i>
          </li>
          <li class="active">
            Here
          </li>
        </ul>
     </div>
    </div>
  </div>
</div>