<div class="breadcrumbs__section breadcrumbs__section-squared pt-60 pb-60 bg__style" style="background-image: url(img/1920x298_1.jpg)" data-brk-library="component__breadcrumbs_css">
  <div class="brk-base-bg-6 breadcrumb-bg full__size-absolute"></div>
  <div class="container">
    <h2 class="font__size-64 line__height-64 font__family-montserrat font__weight-ultralight text-left">
      Some Page Title
      <br>
      <span class="font__weight-bold">Goes Here</span>
    </h2>

    <div class="breadcrumbs__wrapper">
      <ol class="breadcrumb font__family-montserrat  font__weight-medium font__size-12 letter-spacing-100">
        <li>
          <a href="#">Bread
            <i class="fas fa-long-arrow-alt-right breadcrumb__icon"></i>
          </a>
        </li>
        <li class="active">Crumbs</li>
      </ol>
    </div>
  </div>
</div>
