	<ul class="list-inline-1" data-brk-library="component__list">
		<li class="font__family-montserrat font__size-14 list-counter"><span class="before"></span><a href="#">Some
			list item name</a></li>
		<li class="font__family-montserrat font__size-15 list-counter"><span class="before"></span>Some list item name
		</li>
		<li class="font__family-montserrat font__size-16 list-counter"><span class="before"></span>Some list item name
		</li>
		<li class="font__family-montserrat font__size-17 list-counter"><span class="before"></span>Some list item name
		</li>
		<li class="font__family-montserrat font__size-18 list-counter"><span class="before"></span>Some list item name
		</li>
	</ul>