	<ul class="list-inline-3" data-brk-library="component__list">
		<li class="font__family-montserrat font__size-16"><span class="before"></span><a href="#">Some list item
			name</a> <span class="after"></span></li>
		<li class="font__family-montserrat font__size-16"><span class="before"></span>Some list item name <span
			class="after"></span></li>
		<li class="font__family-montserrat font__size-16"><span class="before"></span>Some list item name <span
			class="after"></span></li>
		<li class="font__family-montserrat font__size-16"><span class="before"></span>Some list item name <span
			class="after"></span></li>
	</ul>