	<ul class="list-inline-6" data-brk-library="component__list">
		<li class="font__family-montserrat font__size-16 font__weight-light"><a href="#">Some list item name</a>
			<span class="after"></span></li>
		<li class="font__family-montserrat font__size-16 font__weight-light">Some list item
			<span class="after"></span>
		</li>
		<li class="font__family-montserrat font__size-16 font__weight-light">Some list item
			<span class="after"></span>
		</li>
		<li class="font__family-montserrat font__size-16 font__weight-light">Some list item
			<span class="after"></span>
		</li>
		<li class="font__family-montserrat font__size-16 font__weight-light">Some list item
			<span class="after"></span>
		</li>
	</ul>