<ul class="list-inline-4" data-brk-library="component__list">
  <li class="font__family-montserrat font__size-16">
    <span class="before"></span><a href="#">Put a plan into action <i class="icon fa fa-angle-right"></i></a><span class="after"></span>
  </li>
  <li class="font__family-montserrat font__size-16">
    <span class="before"></span>Achieve the target <i class="icon fa fa-angle-right"></i><span class="after"></span>
    </li>
  <li class="font__family-montserrat font__size-16">
    <span class="before"></span>Wrap up the project <i class="icon fa fa-angle-right"></i><span class="after"></span>
  </li>
  <li class="font__family-montserrat font__size-16">
    <span class="before"></span>According to schedule <i class="icon fa fa-angle-right"></i><span class="after"></span>
  </li>
</ul>