<div 
  class="brk-social-links 
    @@if(context.customContainerClass){@@customContainerClass}
    @@if(context.wide === 'true'){brk-social-links_wide}" 
  data-brk-library="component__social_links">
  @@if(context.socialIcon1){
    <a href="#" 
      class="brk-social-links__item @@if(context.wowAnimated){wow fadeInUp}" 
      @@if(context.wowAnimated){
        data-wow-delay="1s" 
        data-wow-duration=".15s"}>
      @@socialIcon1
    </a>
  }
  @@if(context.socialIcon2){
    <a href="#" 
      class="brk-social-links__item @@if(context.wowAnimated){wow fadeInUp}" 
      @@if(context.wowAnimated){
        data-wow-delay="1.1s" 
        data-wow-duration=".35s"}>
      @@socialIcon2
    </a>
  }
  @@if(context.socialIcon3){
    <a href="#" 
      class="brk-social-links__item @@if(context.wowAnimated){wow fadeInUp}" 
      @@if(context.wowAnimated){
        data-wow-delay="1.2s" 
        data-wow-duration=".35s"}>
      @@socialIcon3
    </a>
  }
  @@if(context.socialIcon4){
    <a href="#" 
      class="brk-social-links__item @@if(context.wowAnimated){wow fadeInUp}" 
      @@if(context.wowAnimated){
        data-wow-delay="1.3s" 
        data-wow-duration=".35s"}>
      @@socialIcon4
    </a>
  }
  @@if(context.socialIcon5){
    <a href="#" 
      class="brk-social-links__item @@if(context.wowAnimated){wow fadeInUp}" 
      @@if(context.wowAnimated){
        data-wow-delay="1.4s" 
        data-wow-duration=".35s"}>
      @@socialIcon5
    </a>
  }
  @@if(context.socialIcon6){
    <a href="#" 
      class="brk-social-links__item @@if(context.wowAnimated){wow fadeInUp}" 
      @@if(context.wowAnimated){
        data-wow-delay="1.5s" 
        data-wow-duration=".35s"}>
      @@socialIcon6
    </a>
  }
  @@if(context.socialIcon7){
    <a href="#" 
      class="brk-social-links__item @@if(context.wowAnimated){wow fadeInUp}" 
      @@if(context.wowAnimated){
        data-wow-delay="1.6s" 
        data-wow-duration=".35s"}>
      @@socialIcon7
    </a>
  }
</div>