<div class="brk-pagination brk-pagination-center" data-brk-library="component__pagination">
  <!--<?php posts_nav_link('', '<span class="brk-prev-link"><i class="fa fa-long-arrow-left"></i>Prev</span>', '<span class="brk-next-link">Next<i class="fa fa-long-arrow-right"></i></span>'); ?>-->

  <a href="#" class="text-center">
    <span class="brk-prev-link">
      <i class="fas fa-arrow-left"></i>
      Prev
    </span>
  </a>
  <a href="#" class="text-center">
    <span class="brk-next-link">Next
      <i class="fas fa-arrow-right"></i>
    </span>
  </a>
</div>
