<div class="brk-portfolio-card" data-brk-library="component__portfolio_grid">
  <figure class="brk-portfolio-card__figure">
    <img class="brk-portfolio-card__image" src="@@imgSrc" alt="img03"/>
    <div class="brk-portfolio-card__deco brk-portfolio-card--overlay brk-base-bg-gradient-90deg"></div>
    <figcaption class="brk-portfolio-card__caption text-left">
      <span class="brk-portfolio-card__category font__family-montserrat font__size-11 font__weight-normal line__height-16">Category</span>
      <h3 class="brk-portfolio-card__title font__family-roboto font__size-36 font__weight-thin line__height-38">Some Title <br>Here</h3>
    </figcaption>
  </figure>
  <a href="#" class="font__family-montserrat font__size-14 font__weight-normal line__height-26 brk-portfolio-card__link">Item
    page</a>
  <a class="icon__btn icon__btn_reverse icon__btn-anim icon__btn-sm brk-portfolio-card__btn-reverse"
     data-brk-library="component__button">
    <span class="before"></span>
    <span class="after"></span>
    <i class="fal fa-plus brk-portfolio-card__btn-reverse__icon"></i>
  </a>
</div>