<div class="cfa__wrapper cfa__container bg__style overlay__gradient all-light text-center text-lg-left @@if(context.customClass){@@customClass} lazyload"
      data-bg="img/1170x108_2.jpg" data-brk-library="component__call_to_action">
  <h4 class="font__family-montserrat font__size-21 font__weight-bold no-wrap">@@if(context.title){@@title}@@if(!context.title){CFA Heading}</h4>
  <p class="font__family-open-sans font__size-14 brk-white-font-color opacity-70 text-center text-lg-left brk-dark-font-color">
    @@if(context.paragraph){@@paragraph}
    @@if(!context.paragraph){Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor nean massa. Cum sociis natoque penatibus et magnis dis parturient mnsectetes.}
  </p>
  @@if(context.btn !== "false" && context.btn !== "square"){
    @@include('../../buttons/templates/buttons.html',{
      "type":"btn-inside-out",
      "text":"read-more",
      "customClass":"border-radius-30 btn-inside-out-invert btn-min-width-200 font__weight-bold"
    })
  }
  @@if(context.btn === "square"){
    @@include('../../buttons/templates/buttons.html',{
      "type":"btn-inside-out",
      "text":"read-more",
      "customClass":"border-radius-0 btn-no-shadow btn-inside-out-invert btn-min-width-200 font__weight-bold"
    })
  }
  <span class="overlay_after @@if(context.overlay){@@overlay}@@if(!context.overlay){brk-base-bg-gradient-90deg-96}"></span>
</div>
