<div class="cfa-lined pl-20 pr-20 pl-md-60 pr-md-60  pt-50 pb-50 pl-lg-90 position-relative d-flex flex-column flex-lg-row align-items-center justify-content-between bg__style" style="background-image: url(img/demo_travel_agency/1250x160_1.jpg)" data-brk-library="component__call_to_action">
  <div class="brk-abs-bg-overlay brk-base-bg-gradient-90deg"></div>
  <span class="cfa-lined__line z-index-2 brk-base-bg-9 d-none d-lg-block"></span>
  <span class="brk-white-font-color font__family-montserrat font__weight-semibold font__size-28 text-uppercase z-index-2 pl-lg-10 text-center text-lg-left">Call for action Block heading title</span>
  @@include("../../buttons/templates/buttons.html",{
    "type": "btn-inside-out",
    "text": "Let’s get started",
    "text_hover": "Discover the journey",
    "customClass": "font__family-montserrat btn-inside-out_blue font__size-16 font__weight-normal letter-spacing-40 border-radius-5 mt-20 mt-lg-0 mb-0 pl-20 pr-20 mr-0 ml-0 ml-lg-25 z-index-2"
  })
</div>