<div class="brk-sc-tiles-split" data-brk-library="component__shop_tiles">

  <div class="brk-sc-tiles-split__product brk-sc-tiles-split_style-1">

    <div class="brk-sc-tiles-split__bg-thumb">
      <div class="brk-sc-tiles-split__bg-thumb--img" style="background-image: url(img/brk-split-1.png)"></div>
    </div>

    <div class="brk-sc-tiles-split__thumb">
      <img src="img/brk-split-1.png" alt="alt">
    </div>

    <div class="brk-sc-tiles-split__content">
      <div class="brk-sc-tiles-split__cat font__family-montserrat brk-white-font-color"><span class="brk-base-bg-gradient-14">Sport</span></div>
      <a class="brk-sc-tiles-split__link brk-black-font-color" href="#"><h4 class="font__family-montserrat text-uppercase font__weight-bold">Some Title Goes Here</h4></a>

      <div class="brk-sc-tiles-split__price font__family-montserrat">
        <span class="brk-sc-tiles-split__price--old brk-dark-font-color">$26.00</span>
        <span class="brk-sc-tiles-split__price--price brk-base-font-color">$24.00</span>
      </div>

      @@include('../../buttons/templates/buttons.html',{
      "type": "btn-gradient",
      "text": "Buy now",
      "size": "md",
      "customClass": "brk-sc-tiles-split__btn font__family-open-sans font__weight-bold"
      })
    </div>
  </div>

  <div class="brk-sc-tiles-split__product brk-sc-tiles-split_style-2">

    <div class="brk-sc-tiles-split__bg-thumb brk-sc-tiles-split-gradient" style="background-image: url(img/800x400_1.jpg)">
      <div class="brk-sc-tiles-split__bg-thumb--img" style="background-image: url(img/brk-split-2.png)"></div>
    </div>

    <div class="brk-sc-tiles-split__thumb">
      <img src="img/brk-split-2.png" alt="alt">
    </div>

    <div class="brk-sc-tiles-split__content">
      <div class="brk-sc-tiles-split__cat font__family-montserrat brk-white-font-color"><span class="brk-base-bg-gradient-left-blue">Sport</span></div>
      <a class="brk-sc-tiles-split__link brk-white-font-color" href="#"><h4 class="font__family-montserrat text-uppercase font__weight-bold">Some Title Goes Here</h4></a>

      <div class="brk-sc-tiles-split__price font__family-montserrat">
        <span class="brk-sc-tiles-split__price--old brk-dark-font-color">$26.00</span>
        <span class="brk-sc-tiles-split__price--price brk-white-font-color">$24.00</span>
      </div>

      @@include('../../buttons/templates/buttons.html',{
      "type": "btn-gradient",
      "text": "Buy now",
      "size": "md",
      "customClass": "brk-sc-tiles-split__btn font__family-open-sans font__weight-bold"
      })
    </div>
  </div>

</div>