<div class="brk-sc-row-one" style="background-image: url(img/bg-1920_1.jpg)" data-brk-library="component__shop_product_row">
  <div class="brk-sc-row-one__left wow fadeInLeft">
    <div class="brk-sc-row-one__left--container brk-base-bg-gradient-3 brk-white-font-color">
      <div class="brk-sc-row-one__left--content">
        <h3 class="font__family-montserrat text-uppercase">
          <span class="font__weight-ultralight">Some category</span><br>
          <span class="font__weight-bold">& Feature</span>
        </h3>
        <h4 class="font__family-montserrat font__weight-bold text-uppercase">Your Item</h4>
      </div>
    </div>
  </div>

  <div class="brk-sc-row-one__image d-flex justify-content-center align-items-center wow zoomIn">
    <img src="img/brk-sc-row-1.png" alt="alt">
  </div>

  <div class="brk-sc-row-one__right wow fadeInRight">
    <div class="brk-sc-row-one__right--container brk-base-bg-gradient-3 d-flex align-items-center justify-content-center">
      <div class="brk-sc-row-one__right--content text-center">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor nean massa. Cum
          sociis.</p>
        @@include('../../buttons/templates/buttons.html',{
        "type": "btn-inside-out btn-inside-out-invert",
        "customClass": "border-radius-25 font__family-open-sans font__weight-bold",
        "size": "lg",
        "text": "Add to cart",
        "icon": "<i class='fa fa-shopping-basket icon-inside icon-inline'></i>"
        })
      </div>
    </div>
  </div>

</div>