<div class="brk-sc-angle-post" data-brk-library="slider__slick,component__shop_row">
  <div class="brk-sc-angle-post__container lazyload" data-bg="img/@@bgImage">
    <div class="brk-sc-angle-post__container-before brk-base-bg-gradient-10deg"></div>
    <h4 class="brk-sc-angle-post__title brk-white-font-color">@@title</h4>
    <div class="brk-sc-angle-post__price brk-white-font-color brk-bg-primary font__family-montserrat">@@price <span>00</span></div>
    <a href="#" class="brk-sc-angle-post__buy brk-white-font-color brk-bg-primary font__family-montserrat"><i class="far fa-shopping-basket" aria-hidden="true"></i> Buy Now</a>
  </div>
</div>