<div class="brk-tables brk-tables-lines font__family-montserrat fa-req" data-brk-library="component__tables,component__form">
  <div class="brk-tables-lines__entries-search brk-form-strict">
    <form enctype="multipart/form-data" method="POST" action="#">
      <div class="brk-tables-lines__entries">
        <span class="first-title">Show:</span>
        <select name="entries">
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
        </select>
        <span class="second-title">entries</span>
      </div>

      <div class="brk-tables-lines__search">
        <span class="first-title">Search:</span>
        <input name="search" type="text" placeholder="Type here">
      </div>
    </form>
  </div>

  <div class="brk-tables-lines__table">
    <table>
      <thead>
      <tr>
        <th scope="col"><i class="fal fa-long-arrow-down"></i>Name</th>
        <th scope="col">Company</th>
        <th scope="col">Order Date</th>
        <th scope="col">Product</th>
        <th scope="col">Amount</th>
        <th scope="col">Total</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>Yoshio W. Roach</td>
        <td>Lycos</td>
        <td>12/05/2015</td>
        <td>Product Six</td>
        <td>7</td>
        <td>$585.00</td>
      </tr>
      <tr>
        <td>Yoshio W. Roach</td>
        <td>Lycos</td>
        <td>12/05/2015</td>
        <td>Product Six</td>
        <td>7</td>
        <td>$585.00</td>
      </tr>
      <tr>
        <td>Yoshio W. Roach</td>
        <td>Lycos</td>
        <td>12/05/2015</td>
        <td>Product Six</td>
        <td>7</td>
        <td>$585.00</td>
      </tr>
      <tr>
        <td>Yoshio W. Roach</td>
        <td>Lycos</td>
        <td>12/05/2015</td>
        <td>Product Six</td>
        <td>7</td>
        <td>$585.00</td>
      </tr>
      <tr>
        <td>Yoshio W. Roach</td>
        <td>Lycos</td>
        <td>12/05/2015</td>
        <td>Product Six</td>
        <td>7</td>
        <td>$585.00</td>
      </tr>
      <tr>
        <td>Yoshio W. Roach</td>
        <td>Lycos</td>
        <td>12/05/2015</td>
        <td>Product Six</td>
        <td>7</td>
        <td>$585.00</td>
      </tr>
      <tr>
        <td>Yoshio W. Roach</td>
        <td>Lycos</td>
        <td>12/05/2015</td>
        <td>Product Six</td>
        <td>7</td>
        <td>$585.00</td>
      </tr>
      <tr>
        <td>Yoshio W. Roach</td>
        <td>Lycos</td>
        <td>12/05/2015</td>
        <td>Product Six</td>
        <td>7</td>
        <td>$585.00</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="brk-tables-lines__sort brk-form-strict">
    <form enctype="multipart/form-data" method="POST" action="#">
      <div class="brk-tables-lines__sort-row">
        <div class="brk-tables-lines__sort-col-1">
          <input name="search" type="text" placeholder="Name">
        </div>
        <div class="brk-tables-lines__sort-col-1">
          <select name="entries">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
        <div class="brk-tables-lines__sort-col-1">
          <input name="search" type="text" placeholder="From">
        </div>
        <div class="brk-tables-lines__sort-col-1">
          <select name="entries">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
        <div class="brk-tables-lines__sort-col-1">
          <input name="search" type="text" placeholder="From">
        </div>
        <div class="brk-tables-lines__sort-col-1">
          <input name="search" type="text" placeholder="From">
        </div>
        <div class="brk-tables-lines__sort-col-2">
          <input name="search" type="text" placeholder="To">
        </div>
        <div class="brk-tables-lines__sort-col-1">
          <input name="search" type="text" placeholder="To">
        </div>
        <div class="brk-tables-lines__sort-col-1">
          <input name="search" type="text" placeholder="To">
        </div>
      </div>
    </form>
  </div>

  <div class="dataTables_info" id="table_3_info" role="status" aria-live="polite">Showing 1 to 10 of 41 entries</div>

  <div class="dataTables_paginate paging_full_numbers" id="table_3_paginate">
    <a class="paginate_button first disabled" aria-controls="table_3" data-dt-idx="0" tabindex="0" id="table_3_first">First</a>
    <a class="paginate_button previous disabled" aria-controls="table_3" data-dt-idx="1" tabindex="0"
       id="table_3_previous">Previous</a>
    <span>
          <a class="paginate_button current" aria-controls="table_3" data-dt-idx="2" tabindex="0">1</a>
          <a class="paginate_button " aria-controls="table_3" data-dt-idx="3" tabindex="0">2</a>
          <a class="paginate_button " aria-controls="table_3" data-dt-idx="4" tabindex="0">3</a>
          <a class="paginate_button " aria-controls="table_3" data-dt-idx="5" tabindex="0">4</a>
          <a class="paginate_button " aria-controls="table_3" data-dt-idx="6" tabindex="0">5</a>
        </span>
    <a class="paginate_button next" aria-controls="table_3" data-dt-idx="7" tabindex="0" id="table_3_next">Next</a>
    <a class="paginate_button last" aria-controls="table_3" data-dt-idx="8" tabindex="0" id="table_3_last">Last</a>
  </div>

</div>
