    <div class="brk-tables brk-tables-trend font__family-montserrat" data-brk-library="component__tables">
      <table>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th class="active" scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td data-title="#">01</td>
            <td data-title="First Name">Steave</td>
            <td data-title="Last Name">Lasonde</td>
            <td data-title="Username">@lasonde</td>
          </tr>
          <tr>
            <td data-title="#">02</td>
            <td data-title="First Name">Vaughn</td>
            <td data-title="Last Name">Espinoza</td>
            <td data-title="Username">@espinoza</td>
          </tr>
          <tr>
            <td data-title="#">03</td>
            <td data-title="First Name">Cortez</td>
            <td data-title="Last Name">Encarnation</td>
            <td data-title="Username">@encarnation</td>
          </tr>
          <tr>
            <td data-title="#">04</td>
            <td data-title="First Name">Napoleon</td>
            <td data-title="Last Name">Masdit</td>
            <td data-title="Username">@masdit</td>
          </tr>
          <tr>
            <td data-title="#">05</td>
            <td data-title="First Name">Alastair</td>
            <td data-title="Last Name">Nicoletti</td>
            <td data-title="Username">@nicoletti</td>
          </tr>
          <tr>
            <td data-title="#">06</td>
            <td data-title="First Name">Kristofer</td>
            <td data-title="Last Name">Salawitch</td>
            <td data-title="Username">@salawitch</td>
          </tr>
          <tr>
            <td data-title="#">07</td>
            <td data-title="First Name">Perry</td>
            <td data-title="Last Name">Bittner</td>
            <td data-title="Username">@bittner</td>
          </tr>
          <tr>
            <td data-title="#">08</td>
            <td data-title="First Name">Mona</td>
            <td data-title="Last Name">Margolis</td>
            <td data-title="Username">@margolis</td>
          </tr>
        </tbody>
      </table>
    </div>
