<div class="brk-theme-options" data-brk-library="brk-customizer">
  <div class="brk-theme-options__panel">
    <a href="#" class="panel-open brk-theme-options__panel-link"><i class="fal fa-cog"></i></a>
    <a href="https://themeforest.net/item/berserk-multipurpose-commerce-template-with-page-builder/22423538?ref=NikaDevs" target="_blank" class="brk-theme-options__panel-link"><i class="fal fa-shopping-cart"></i></a>
    <a href="https://www.youtube.com/watch?v=cZM8OoYu4So&feature=youtu.be" target="_blank" class="brk-theme-options__panel-link"><i class="fal fa-play-circle"></i></a>
    <a href="https://nikadevs.ticksy.com/" target="_blank" class="brk-theme-options__panel-link"><i class="fal fa-comment-alt"></i></a>
  </div>

  <div class="brk-theme-options__control">
    <div class="brk-theme-options__header">
      <span class="font__family-montserrat font__weight-bold font__size-21 pl-30">Demo Options</span>
      <div class="brk-theme-options__close panel-close"><i class="far fa-times"></i></div>
    </div>

    <div class="accordion accordion-slider-min" role="tablist" aria-multiselectable="true">

      <div class="card expanded">
        <a class="card-header" role="tab" id="heading_option_1" data-toggle="collapse"
           data-parent=".accordion-slider-min" href="#option_1" aria-expanded="true" aria-controls="option_1">
          <h5 class="mb-0 font__family-montserrat font__weight-light font__size-21 line__height-22">
            Layouts
          </h5>
          <div class="card-toggle-icon">
            <span class="before"></span>
            <span class="after"></span>
          </div>
        </a>

        <div id="option_1" class="collapse show" role="tabpanel" aria-labelledby="heading_option_1">
          <div class="card-block">
            <div class="brk-theme-options__wrap">
              <div class="row">

                @@loop('../templates/options-link.html', [
                {
                "link": "demo_creative_agency.html",
                "img": "img/page-intro/demo-creative-agency.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_minimalistic_portfolio.html",
                "img": "img/page-intro/demo_minimalistic_portfolio.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_freelance_blog.html",
                "img": "img/page-intro/demo-freelance-blog.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_agency_animation.html",
                "img": "img/page-intro/demo-agency-animation.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_winter_trip_agency.html",
                "img": "img/page-intro/demo_winter_trip.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_website_agency.html",
                "img": "img/page-intro/demo-website-agency.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_saas.html",
                "img": "img/page-intro/demo_saas.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_freelance_portfolio.html",
                "img": "img/page-intro/demo-freelance-portfolio.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_travel_agency.html",
                "img": "img/page-intro/demo-travel-agency.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_agency_fluid.html",
                "img": "img/page-intro/demo-agency-fluid.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_agency_modern.html",
                "img": "img/page-intro/demo-agency-modern.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_agency_urban.html",
                "img": "img/page-intro/demo-agency-urban.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_photography.html",
                "img": "img/page-intro/demo-photography.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_logistic.html",
                "img": "img/page-intro/demo-logistic.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_art.html",
                "img": "img/page-intro/demo-art.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_construction.html",
                "img": "img/page-intro/demo-construction.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_magazine.html",
                "img": "img/page-intro/demo-magazine.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_spa.html",
                "img": "img/page-intro/demo-spa.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_shop_drone.html",
                "img": "img/page-intro/demo-shop-drone.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_shop_video.html",
                "img": "img/page-intro/demo-shop-video.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_product_landing.html",
                "img": "img/page-intro/demo-product-landing.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_shop_modern.html",
                "img": "img/page-intro/demo-shop-modern.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_shop_electronics.html",
                "img": "img/page-intro/demo-shop-electronics.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_shop_clothes.html",
                "img": "img/page-intro/demo-shop-clothes.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_shop_trendy.html",
                "img": "img/page-intro/demo-shop-trendy.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                },
                {
                "link": "demo_product_sport.html",
                "img": "img/page-intro/demo-product-sport.jpg",
                "demo": "@@if(context.demo === "true"){true}"
                }
                ])

                <!--
                {
                "link": "",
                "bg": "",
                "demo": "@@if(context.demo === "true"){true}"
                }
                -->

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <a class="card-header collapsed" role="tab" id="heading_option_2" data-toggle="collapse"
           data-parent=".accordion-slider-min" href="#option_2" aria-expanded="false" aria-controls="option_2">
          <h5 class="mb-0 font__family-montserrat font__weight-light font__size-21 line__height-22">
            Headers
          </h5>
          <div class="card-toggle-icon">
            <span class="before"></span>
            <span class="after"></span>
          </div>
        </a>

        <div id="option_2" class="collapse" role="tabpanel" aria-labelledby="heading_option_2">
          <div class="card-block">
            <div class="brk-theme-options__wrap">
              <div class="row">

                @@loop('../templates/options-link.html', [
                {
                "link": "header-1.html",
                "img": "img/page-intro/thumb-header-01.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-2.html",
                "img": "img/page-intro/thumb-header-02.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-3.html",
                "img": "img/page-intro/thumb-header-03.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-4.html",
                "img": "img/page-intro/thumb-header-04.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-5.html",
                "img": "img/page-intro/thumb-header-05.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-6.html",
                "img": "img/page-intro/thumb-header-06.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-7.html",
                "img": "img/page-intro/thumb-header-07.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-8.html",
                "img": "img/page-intro/thumb-header-08.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-9.html",
                "img": "img/page-intro/thumb-header-09.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-10.html",
                "img": "img/page-intro/thumb-header-10.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-11.html",
                "img": "img/page-intro/thumb-header-11.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-12.html",
                "img": "img/page-intro/thumb-header-12.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "header-13.html",
                "img": "img/page-intro/thumb-header-13.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                }
                ])

                <!--
                {
                "link": "",
                "img": "img/page-intro/",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                }
                -->

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <a class="card-header collapsed" role="tab" id="heading_option_3" data-toggle="collapse"
           data-parent=".accordion-slider-min" href="#option_3" aria-expanded="false" aria-controls="option_3">
          <h5 class="mb-0 font__family-montserrat font__weight-light font__size-21 line__height-22">
            Footers
          </h5>
          <div class="card-toggle-icon">
            <span class="before"></span>
            <span class="after"></span>
          </div>
        </a>

        <div id="option_3" class="collapse" role="tabpanel" aria-labelledby="heading_option_3">
          <div class="card-block">
            <div class="brk-theme-options__wrap">
              <div class="row">
                @@loop('../templates/options-link.html', [
                {
                "link": "footer.html#footer_1",
                "img": "img/page-intro/thumb-footer-01.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_2",
                "img": "img/page-intro/thumb-footer-02.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_3",
                "img": "img/page-intro/thumb-footer-03.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_4",
                "img": "img/page-intro/thumb-footer-04.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_5",
                "img": "img/page-intro/thumb-footer-05.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_6",
                "img": "img/page-intro/thumb-footer-06.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_7",
                "img": "img/page-intro/thumb-footer-07.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_8",
                "img": "img/page-intro/thumb-footer-08.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_9",
                "img": "img/page-intro/thumb-footer-09.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_10",
                "img": "img/page-intro/thumb-footer-10.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_11",
                "img": "img/page-intro/thumb-footer-11.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                },
                {
                "link": "footer.html#footer_12",
                "img": "img/page-intro/thumb-footer-12.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                }
                ])

                <!--
                {
                "link": "footer.html#footer_1",
                "img": "img/page-intro/thumb-footer-01.jpg",
                "demo": "@@if(context.demo === "true"){true}",
                "fullWidth": "true",
                "min": "true"
                }
                -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <a class="card-header collapsed" role="tab" id="heading_option_4" data-toggle="collapse"
           data-parent=".accordion-slider-min" href="#option_4" aria-expanded="false" aria-controls="option_4">
          <h5 class="mb-0 font__family-montserrat font__weight-light font__size-21 line__height-22">
            Skin
          </h5>
          <div class="card-toggle-icon">
            <span class="before"></span>
            <span class="after"></span>
          </div>
        </a>

        <div id="option_4" class="collapse" role="tabpanel" aria-labelledby="heading_option_4">
          <div class="card-block">
            <div class="brk-theme-options__color">
              <div class="brk-theme-options__color-row">
                <div class="brk-theme-options__color-radio" data-skin="brk-blue" style="--oc: #3f96f7">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-dark-blue" style="--oc: #0f5ae0">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-dark-blue-1" style="--oc: #2067dc">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-green" style="--oc: #08d75f">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-green-1" style="--oc: #00e0dd">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-purple" style="--oc: #9f1dac">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-purple-pink" style="--oc: #815ce3">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-pink" style="--oc: #f83365">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-red" style="--oc: #ff2775">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-red-demo" style="--oc: #ef0000">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-yellow" style="--oc: #fdb415">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-gray-yellow" style="--oc: #d0a05e">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-black" style="--oc: #121212">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-cold-blue" style="--oc: #1d3268">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-cyan" style="--oc: #23dae8">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-orange" style="--oc: #ff9a1d">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-pink-purple" style="--oc: #cd2556">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
                <div class="brk-theme-options__color-radio" data-skin="brk-purple-1" style="--oc: #6d52c2">
                  <span></span>
                  <i class="fal fa-check"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <a class="card-header collapsed" role="tab" id="heading_option_5" data-toggle="collapse"
           data-parent=".accordion-slider-min" href="#option_5" aria-expanded="false" aria-controls="option_5">
          <h5 class="mb-0 font__family-montserrat font__weight-light font__size-21 line__height-22">
            Page Layout
          </h5>
          <div class="card-toggle-icon">
            <span class="before"></span>
            <span class="after"></span>
          </div>
        </a>

        <div id="option_5" class="collapse" role="tabpanel" aria-labelledby="heading_option_5">
          <div class="card-block">
            <div class="font__size-16 line__height-26 brk-dark-font-color mt-10">Direction</div>
            <div class="row pt-10">
              <a href="?dir=ltr" class="col-6" data-brk-direction="ltr">
                <div class="brk-theme-options__check brk-theme-options__check_45 brk-theme-options__check_title-on brk-theme-options__check_active">
                  <div class="brk-theme-options__before"><i class="fal fa-check"></i></div>
                  <div class="brk-theme-options__check-title">LTR</div>
                </div>
              </a>
              <a href="?dir=rtl" class="col-6" data-brk-direction="rtl">
                <div class="brk-theme-options__check brk-theme-options__check_45 brk-theme-options__check_title-on">
                  <div class="brk-theme-options__before"><i class="fal fa-check"></i></div>
                  <div class="brk-theme-options__check-title">RTL</div>
                </div>
              </a>
            </div>

            <div class="font__size-16 line__height-26 brk-dark-font-color mt-15">Corners Style</div>
            <div class="row pt-10">
              <a href="#" class="col-6" data-brk-options-border="0">
                <div class="brk-theme-options__check brk-theme-options__check_45 brk-theme-options__check_title-on brk-theme-options__check_active">
                  <div class="brk-theme-options__before"><i class="fal fa-check"></i></div>
                  <div class="brk-theme-options__check-title">Default</div>
                </div>
              </a>
              <a href="#" class="col-6" data-brk-options-border="30">
                <div class="brk-theme-options__check brk-theme-options__check_45 brk-theme-options__check_title-on">
                  <div class="brk-theme-options__before"><i class="fal fa-check"></i></div>
                  <div class="brk-theme-options__check-title">Square</div>
                </div>
              </a>
            </div>

            <div class="font__size-16 line__height-26 brk-dark-font-color mt-15">Layout</div>
            <div class="row pt-10">
              <a href="#" class="col-6" data-brk-layout="wide">
                <div class="brk-theme-options__check brk-theme-options__check_45 brk-theme-options__check_title-on brk-theme-options__check_active">
                  <div class="brk-theme-options__before"><i class="fal fa-check"></i></div>
                  <div class="brk-theme-options__check-title">Wide</div>
                </div>
              </a>
              <a href="#" class="col-6" data-brk-layout="boxed">
                <div class="brk-theme-options__check brk-theme-options__check_45 brk-theme-options__check_title-on">
                  <div class="brk-theme-options__before"><i class="fal fa-check"></i></div>
                  <div class="brk-theme-options__check-title">Boxed</div>
                </div>
              </a>
            </div>

            
          </div>
        </div>
      </div>

    </div>
  </div>
</div>