@@include('../../header-1/templates/brk-header-mobile.html', {
"white": "true"
})

<header class="brk-header brk-header_style-2 brk-header_color-white brk-header_skin-2 d-flex flex-column" data-logo-src="img/logo-dark-2.png" data-bg-mobile="img/brk-bg-mobile-menu.jpg" data-brk-library="component__header">

  <!-- TOP BAR
  brk-header__top-bar_hide
  brk-header__top-bar_scroll
  -->
  <div class="brk-header__top-bar order-lg-1 order-2 font__family-montserrat @@if(context.topBarPosition){@@topBarPosition}@@if(!context.topBarPosition){brk-header__top-bar_hide}"
       style="@@if(context.topBarHeight){height: @@topBarHeight;}
              @@if(!context.topBarHeight){height: 46px;}
              @@if(context.topBarStyle){@@topBarStyle}">
    <div class="brk-header__title font__family-montserrat font__weight-bold">Contact Us</div>

    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 align-self-lg-stretch text-left">
          @@include('../../header-1/templates/brk-header-element.html', {
          "classMod": "brk-header__element_skin-2",
          "tag": "a",
          "href": "tel:88002003040",
          "icon": "fa fa-phone",
          "text": "8 800 200 30 40",
          "compareStyle": "",
          "compare": ""
          })

          @@include('../../header-1/templates/brk-header-element.html', {
          "classMod": "brk-header__element_skin-2",
          "tag": "div",
          "href": "#",
          "icon": "far fa-clock",
          "text": "08:00 am − 20:00",
          "compareStyle": "",
          "compare": ""
          })

          @@include('../../header-1/templates/brk-header-element.html', {
          "classMod": "brk-header__element_skin-2",
          "tag": "a",
          "href": "#",
          "icon": "fa fa-envelope",
          "text": "hello@berserk.com",
          "compareStyle": "",
          "compare": ""
          })
        </div>

        <div class="col-lg-6 align-self-lg-stretch text-left text-lg-right">
          @@include('../../header-1/templates/brk-mini-cart.html', {
          "skinOpen": "skin-1",
          "openMod": "brk-mini-cart__open_skin-1",
          "countSkin": "brk-mini-cart__count_skin-1"
          })

          @@include('../../header-1/templates/brk-header-element.html', {
          "classMod": "brk-header__element_skin-2",
          "tag": "a",
          "href": "#",
          "icon": "fa fa-heart",
          "text": "My wishlist",
          "compareStyle": "brk-header__compare_dark brk-header__compare_skin-1",
          "compare": "12"
          })

          @@include('../../header-1/templates/brk-header-element.html', {
          "classMod": "brk-header__element_skin-2",
          "tag": "a",
          "href": "login.html",
          "icon": "fa fa-user",
          "text": "Login",
          "compareStyle": "",
          "compare": ""
          })

          @@include('../../header-1/templates/brk-lang.html', {
          "interactive": "brk-lang_interactive",
          "styleSelect": "opacity-80"
          })
        </div>
      </div>
    </div>
  </div>
  <!-- End TOP BAR -->

  <!-- MAIN BAR -->
  <div class="brk-header__main-bar brk-header_border-top order-lg-2 order-1"
       style="@@if(context.mainBarHeight){height: @@mainBarHeight;}
              @@if(!context.mainBarHeight){height: 94px;}
              @@if(context.mainBarStyle){@@mainBarStyle}"
       @@if(context.mainBarHeightScroll){data-height-scroll="@@mainBarHeightScroll"}>
    <div class="container">
      <div class="row align-items-center justify-content-between pl-lg-15 pr-lg-5">
        <div class="col-lg-auto align-self-lg-center d-none d-lg-block">
          <div class="text-left">
            @@include('../../header-1/templates/brk-header-logo.html', {
            "logo_1": "@@if(context.logo_1){@@logo_1}@@if(!context.logo_1){img/logo-1.png}",
            "logo_2": "@@if(context.logo_2){@@logo_2}@@if(!context.logo_2){img/logo-dark-1.png}"
            })
          </div>
        </div>
        <div class="col-lg-auto align-self-lg-stretch">
         @@if(context.customNav !== "true"){
            @@include('../../header-1/templates/brk-nav.html', {
              "quantity": "6"
            })
          }
          @@if(context.customNav === "true"){
            <nav class="brk-nav @@if(context.modifier){@@modifier} brk-header__item">
              <ul class="brk-nav__menu">
                @@if(context.homeNav === "true"){
                  @@if(context.homeNavLink){
                    @@include('../../header-1/templates/brk-nav-home.html',{
                      "link": "@@homeNavLink"
                    })
                  }
                  @@if(!context.homeNavLink){
                    @@include('../../header-1/templates/brk-nav-home.html')
                  }
                }

                @@if(context.title1){
                  <li class="brk-nav__children brk-nav__drop-down-effect @@if(!context.submenu1){brk-nav__children_clear}">
                    <a href="@@if(context.link1){@@link1}@@if(!context.link1){#}">
                      <span>@@title1</span>
                    </a>
                    @@if(context.submenu1){
                      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
                        @@if(context.submenu1.subtitle1){
                          <li class="dd-effect">
                            <a href="@@submenu1.sublink1">@@submenu1.subtitle1</a>
                          </li>
                        }
                        @@if(context.submenu1.subtitle2){
                          <li class="dd-effect">
                            <a href="@@submenu1.sublink2">@@submenu1.subtitle2</a>
                          </li>
                        }
                        @@if(context.submenu1.subtitle3){
                          <li class="dd-effect">
                            <a href="@@submenu1.sublink3">@@submenu1.subtitle3</a>
                          </li>
                        }
                        @@if(context.submenu1.subtitle4){
                          <li class="dd-effect">
                            <a href="@@submenu1.sublink4">@@submenu1.subtitle4</a>
                          </li>
                        }
                        @@if(context.submenu1.subtitle5){
                          <li class="dd-effect">
                            <a href="@@submenu1.sublink5">@@submenu1.subtitle5</a>
                          </li>
                        }
                        @@if(context.submenu1.subtitle6){
                          <li class="dd-effect">
                            <a href="@@submenu1.sublink6">@@submenu1.subtitle6</a>
                          </li>
                        }
                      </ul>
                    }
                  </li>
                }
                @@if(context.title2){
                  <li class="brk-nav__children brk-nav__drop-down-effect @@if(!context.submenu2){brk-nav__children_clear}">
                    <a href="@@if(context.link2){@@link2}@@if(!context.link2){#}">
                      <span>@@title2</span>
                    </a>
                    @@if(context.submenu2){
                      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
                        @@if(context.submenu2.subtitle1){
                          <li class="dd-effect">
                            <a href="@@submenu2.sublink1">@@submenu2.subtitle1</a>
                          </li>
                        }
                        @@if(context.submenu2.subtitle2){
                          <li class="dd-effect">
                            <a href="@@submenu2.sublink2">@@submenu2.subtitle2</a>
                          </li>
                        }
                        @@if(context.submenu2.subtitle3){
                          <li class="dd-effect">
                            <a href="@@submenu2.sublink3">@@submenu2.subtitle3</a>
                          </li>
                        }
                        @@if(context.submenu2.subtitle4){
                          <li class="dd-effect">
                            <a href="@@submenu2.sublink4">@@submenu2.subtitle4</a>
                          </li>
                        }
                        @@if(context.submenu2.subtitle5){
                          <li class="dd-effect">
                            <a href="@@submenu2.sublink5">@@submenu2.subtitle5</a>
                          </li>
                        }
                        @@if(context.submenu2.subtitle6){
                          <li class="dd-effect">
                            <a href="@@submenu2.sublink6">@@submenu2.subtitle6</a>
                          </li>
                        }
                      </ul>
                    }
                  </li>
                }
                @@if(context.title3){
                  <li class="brk-nav__children brk-nav__drop-down-effect @@if(!context.submenu3){brk-nav__children_clear}">
                    <a href="@@if(context.link3){@@link3}@@if(!context.link3){#}">
                      <span>@@title3</span>
                    </a>
                    @@if(context.submenu3){
                      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
                        @@if(context.submenu3.subtitle1){
                          <li class="dd-effect">
                            <a href="@@submenu3.sublink1">@@submenu3.subtitle1</a>
                          </li>
                        }
                        @@if(context.submenu3.subtitle2){
                          <li class="dd-effect">
                            <a href="@@submenu3.sublink2">@@submenu3.subtitle2</a>
                          </li>
                        }
                        @@if(context.submenu3.subtitle3){
                          <li class="dd-effect">
                            <a href="@@submenu3.sublink3">@@submenu3.subtitle3</a>
                          </li>
                        }
                        @@if(context.submenu3.subtitle4){
                          <li class="dd-effect">
                            <a href="@@submenu3.sublink4">@@submenu3.subtitle4</a>
                          </li>
                        }
                        @@if(context.submenu3.subtitle5){
                          <li class="dd-effect">
                            <a href="@@submenu3.sublink5">@@submenu3.subtitle5</a>
                          </li>
                        }
                        @@if(context.submenu3.subtitle6){
                          <li class="dd-effect">
                            <a href="@@submenu3.sublink6">@@submenu3.subtitle6</a>
                          </li>
                        }
                      </ul>
                    }
                  </li>
                }
                @@if(context.title4){
                  <li class="brk-nav__children brk-nav__drop-down-effect @@if(!context.submenu4){brk-nav__children_clear}">
                    <a href="@@if(context.link4){@@link4}@@if(!context.link4){#}">
                      <span>@@title4</span>
                    </a>
                    @@if(context.submenu4){
                      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
                        @@if(context.submenu4.subtitle1){
                          <li class="dd-effect">
                            <a href="@@submenu4.sublink1">@@submenu4.subtitle1</a>
                          </li>
                        }
                        @@if(context.submenu4.subtitle2){
                          <li class="dd-effect">
                            <a href="@@submenu4.sublink2">@@submenu4.subtitle2</a>
                          </li>
                        }
                        @@if(context.submenu4.subtitle3){
                          <li class="dd-effect">
                            <a href="@@submenu4.sublink3">@@submenu4.subtitle3</a>
                          </li>
                        }
                        @@if(context.submenu4.subtitle4){
                          <li class="dd-effect">
                            <a href="@@submenu4.sublink4">@@submenu4.subtitle4</a>
                          </li>
                        }
                        @@if(context.submenu4.subtitle5){
                          <li class="dd-effect">
                            <a href="@@submenu4.sublink5">@@submenu4.subtitle5</a>
                          </li>
                        }
                        @@if(context.submenu4.subtitle6){
                          <li class="dd-effect">
                            <a href="@@submenu4.sublink6">@@submenu4.subtitle6</a>
                          </li>
                        }
                      </ul>
                    }
                  </li>
                }
                @@if(context.title5){
                  <li class="brk-nav__children brk-nav__drop-down-effect @@if(!context.submenu5){brk-nav__children_clear}">
                    <a href="@@if(context.link5){@@link5}@@if(!context.link5){#}">
                      <span>@@title5</span>
                    </a>
                    @@if(context.submenu5){
                      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
                        @@if(context.submenu5.subtitle1){
                          <li class="dd-effect">
                            <a href="@@submenu5.sublink1">@@submenu5.subtitle1</a>
                          </li>
                        }
                        @@if(context.submenu5.subtitle2){
                          <li class="dd-effect">
                            <a href="@@submenu5.sublink2">@@submenu5.subtitle2</a>
                          </li>
                        }
                        @@if(context.submenu5.subtitle3){
                          <li class="dd-effect">
                            <a href="@@submenu5.sublink3">@@submenu5.subtitle3</a>
                          </li>
                        }
                        @@if(context.submenu5.subtitle4){
                          <li class="dd-effect">
                            <a href="@@submenu5.sublink4">@@submenu5.subtitle4</a>
                          </li>
                        }
                        @@if(context.submenu5.subtitle5){
                          <li class="dd-effect">
                            <a href="@@submenu5.sublink5">@@submenu5.subtitle5</a>
                          </li>
                        }
                        @@if(context.submenu5.subtitle6){
                          <li class="dd-effect">
                            <a href="@@submenu5.sublink6">@@submenu5.subtitle6</a>
                          </li>
                        }
                      </ul>
                    }
                  </li>
                }
                  
                @@if(context.blogNav === "true"){
                  @@include('../../header-1/templates/brk-nav-blog.html')
                }
                @@if(context.pagesNav === "true"){
                  @@include('../../header-1/templates/brk-nav-pages.html')
                }
                @@if(context.portfolioNav === "true"){
                  @@include('../../header-1/templates/brk-nav-portfolio.html')
                }
                @@if(context.shopNav === "true"){
                  @@include('../../header-1/templates/brk-nav-shop.html')
                }
                @@if(context.elementsNav === "true"){
                  @@include('../../header-1/templates/brk-nav-elements.html')
                }
              </ul>
            </nav>
          }
        </div>
        <div class="col-lg-auto align-self-lg-stretch text-lg-right">
          <div class="brk-header__title font__family-montserrat font__weight-bold">Info</div>

          @@include('../../buttons/templates/buttons.html',{
          "type": "btn-inside-out",
          "size": " ",
          "text": "Buy now <span class='font__family-times-new-roman text-lowercase font__style-italic'>for</span> 39$",
          "customClass": "brk-header__item brk-header__btn btn-sm-1 border-radius-25 font__family-open-sans font__weight-bold pl-30 pr-30"
          })

          @@include('../../header-1/templates/brk-search.html',{
          "interactive": "brk-search_interactive",
          "icon": "fas fa-search"
          })
        </div>
      </div>
    </div>
  </div>
  <!-- End MAIN BAR -->

</header>
@@include('../../header-1/templates/brk-info-menu.html',{})