<div class="brk-testimonials-dash-five" data-brk-library="component__testimonials,slider__swiper">
  <div class="dash-five-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-five__item text-center">
          <span class="brk-testimonials-dash-five__icon">
            <i class="far fa-quote-right font__size-32"></i>
          </span>
          <div class="brk-testimonials-dash-five__img">
            @@if(context.demo !== "true"){
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/people/pexels-photo-262391.jpeg" alt="alt">
            }
            @@if(context.demo === "true"){
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/120x120_1.jpg" alt="alt">
            }
          </div>
          <div class="brk-testimonials-dash-five__name font__family-open-sans">
            <span class="font__weight-bold">Ostin Paterson,</span>
            CEO of Airgsberg
          </div>

          <div class="brk-testimonials-dash-five__desc brk-styled-scroll-y font__family-open-sans">With ToDoist, you'll find fewer tasks falling through the cracks. And you'll be able to see exactly who is working
            on what project, and whether that person has the capacity to handle more.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-five__item text-center">
          <span class="brk-testimonials-dash-five__icon">
            <i class="far fa-quote-right font__size-32"></i>
          </span>
          <div class="brk-testimonials-dash-five__img">
            @@if(context.demo !== "true"){
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/people/pexels-photo-274595.jpeg" alt="alt">
            }
            @@if(context.demo === "true"){
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/120x120_2.jpg" alt="alt">
            }
          </div>
          <div class="brk-testimonials-dash-five__name font__family-open-sans">
            <span class="font__weight-bold">Anna Jonson,</span>
            CEO
          </div>

          <div class="brk-testimonials-dash-five__desc brk-styled-scroll-y font__family-open-sans">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In dui magna, posuere
            eget, vestibulum et, tempor auctor, justo.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-five__item text-center">
          <span class="brk-testimonials-dash-five__icon">
            <i class="far fa-quote-right font__size-32"></i>
          </span>
          <div class="brk-testimonials-dash-five__img">
            @@if(context.demo !== "true"){
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/people/pexels-photo-355164.jpeg" alt="alt">
            }
            @@if(context.demo === "true"){
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/120x120_3.jpg" alt="alt">
            }
          </div>
          <div class="brk-testimonials-dash-five__name font__family-open-sans">
            <span class="font__weight-bold">Lia Mit,</span>
            Art Director
          </div>

          <div class="brk-testimonials-dash-five__desc brk-styled-scroll-y font__family-open-sans">Managing projects manually is a burden on you and your managers, because you have to keep track of multiple tasks
            assigned to multiple employees, and follow up for updates.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-five__item text-center">
          <span class="brk-testimonials-dash-five__icon">
            <i class="far fa-quote-right font__size-32"></i>
          </span>
          <div class="brk-testimonials-dash-five__img">
            @@if(context.demo !== "true"){
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/people/pexels-photo-428341.jpeg" alt="alt">
            }
            @@if(context.demo === "true"){
              <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/120x120_1.jpg" alt="alt">
            }
          </div>
          <div class="brk-testimonials-dash-five__name font__family-open-sans">
            <span class="font__weight-bold">Mike Paterson,</span>
            Web Developer
          </div>

          <div class="brk-testimonials-dash-five__desc brk-styled-scroll-y font__family-open-sans">Project-tracking can sometimes be arbitrary, and getting updates from team members can be like pulling teeth and
            hard to organize. Wouldn't you rather have your team members take the initiative?</div>
        </div>
      </div>
    </div>
  </div>

  <div class="dots-dash-five-skin">
    <div class="swiper-arrow button-prev">
      <i class="fas fa-caret-left" aria-hidden="true"></i>
    </div>
    <ul class="pagination"></ul>
    <div class="swiper-arrow button-next">
      <i class="fas fa-caret-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
