<div class="parallax-bg overflow-hid position-relative @@if(context.customClass){@@customClass}"
     style="background-image: url(img/bg-1920_1.jpg)" data-brk-library="component__parallax-video">
  <div class="video-background @@if(context.grayscale === " true"){video-background_grayscale}">
  <div class="embed-responsive embed-responsive-16by9">
    <video controls="" autoplay loop muted>
      <source src="http://dev.nikadevs.com/berserk-data/Placeholder_Video.mp4" type="video/mp4">
      <source src="http://dev.nikadevs.com/berserk-data/Placeholder_Video.ogv" type="video/ogg">
      <source src="http://dev.nikadevs.com/berserk-data/Placeholder_Video.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<div class="container">
  <div class="row round__wrap scroll-show content__side-right">
        <span class="parallax__bg-shape-lg">

          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1787 480">
            <defs><style>.b {
              fill-rule: evenodd;
              fill: url(#a2);
            }</style>
              <linearGradient id="a2" y1="240" x2="1787" y2="240" gradientUnits="userSpaceOnUse">
                <stop offset="0%" stop-color="var(--white)"/>
                <stop offset="50%" stop-color="var(--white)"/>
              </linearGradient>
            </defs>
            <path class="b" d="M0,480c132.55,0,240-107.45,240-240S132.55,0,0,0H1787V480Z"/>
          </svg>

        </span>

    <div class="col-md-7"></div>

    <div class="col-md-5">
      <div class="pt-120 pb-120 text-center">
        <p class="font__family-open-sans font__weight-bold font__size-16 text-blue">We are Awesome</p>
        <hr class="divider mt-20 mb-10">
        <h2
                class="font__family-montserat font__weight-ultralight font__size-36 line__height-42 text-uppercase mt-20">
          Engaging, purposeful</h2>
        <h2 class="font__family-roboto font__weight-light font__size-36 line__height-42 text-uppercase">&
          creative</h2>
        @@include("../../buttons/templates/buttons.html",{
        "type":"btn-inside-out",
        "text":"All info",
        "icon":"<i class='fal fa-comments icon-inside' aria-hidden='true'></i>",
        "customClass":"btn-shadow border-radius-30 font__weight-bold mt-30 btn-min-width-200"
        })
      </div>
    </div>
  </div>
</div>
</div>

