<ul class="brk-social-links-wide @@if(context.customClass){@@customClass}" data-brk-library="component__social_links">
  <li class="brk-social-links-wide__item @@if(context.itemClass){@@itemClass} mb-15">
    <a href="#" class="brk-social-links-wide__link">
      <div class="brk-social-links-wide__icon-container font__size-14">
        <i class="fab fa-twitter" aria-hidden="true"></i>
      </div>
      <p class="font__size-14 font__weight-normal line__height-16">Follow Us on Twitter</p>
    </a>
  </li>
  <li class="brk-social-links-wide__item @@if(context.itemClass){@@itemClass} mb-15">
    <a href="#" class="brk-social-links-wide__link">
      <div class="brk-social-links-wide__icon-container font__size-14">
        <i class="fab fa-instagram" aria-hidden="true"></i>
      </div>
      <p class="font__size-14 font__weight-normal line__height-16">Subscribe on Instagram</p>
    </a>
  </li>
  <li class="brk-social-links-wide__item @@if(context.itemClass){@@itemClass} mb-15">
    <a href="#" class="brk-social-links-wide__link">
      <div class="brk-social-links-wide__icon-container font__size-14">
        <i class="fab fa-google-plus-g" aria-hidden="true"></i>
      </div>
      <p class="font__size-14 font__weight-normal line__height-16">Find us on Google Plus</p>
    </a>
  </li>
  <li class="brk-social-links-wide__item @@if(context.itemClass){@@itemClass} mb-15">
    <a href="#" class="brk-social-links-wide__link">
      <div class="brk-social-links-wide__icon-container font__size-14">
        <i class="fab fa-youtube" aria-hidden="true"></i>
      </div>
      <p class="font__size-14 font__weight-normal line__height-16">Watch about us on YouTube</p>
    </a>
  </li>
</ul>