
	<div class="container mt-50">
		<div class="row justify-content-center">
			<div class="col-sm-6 col-xl-3">
				<div class="counter__wrapper-icon gray-light" data-brk-library="component__counter">
					<i class="icon fa fa-bell"></i>
					<div class="cont">
						<div data-count-speed="3000" data-count-from="0" data-count-to="164" class="counter"></div>
						<p class="font__family-montserrat font__weight-bold font__size-16 mt-10">Some item title goes here</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="counter__wrapper-icon gray" data-brk-library="component__counter">
					<i class="icon fa fa-trophy"></i>
					<div class="cont">
						<div data-count-speed="3000" data-count-from="0" data-count-to="178" class="counter"></div>
						<p class="font__family-montserrat font__weight-bold font__size-16 mt-10">Some item title goes here</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="counter__wrapper-icon brown" data-brk-library="component__counter">
					<i class="icon fa fa-anchor"></i>
					<div class="cont">
						<div data-count-speed="3000" data-count-from="0" data-count-to="124" class="counter"></div>
						<p class="font__family-montserrat font__weight-bold font__size-16 mt-10">Some item title goes here</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 col-xl-3">
				<div class="counter__wrapper-icon black" data-brk-library="component__counter">
					<i class="icon fa fa-paper-plane"></i>
					<div class="cont">
						<div data-count-speed="3000" data-count-from="0" data-count-to="130" class="counter"></div>
						<p class="font__family-montserrat font__weight-bold font__size-16 mt-10">Some item title goes here</p>
					</div>
				</div>
			</div>
		</div>
	</div>
