
	<div class="container mt-50">
		<div class="row justify-content-center">
			<div class="col-sm-6 col-lg-4">
				<div class="counter__wrapper-invertible gray text-center" data-brk-library="component__counter">
					<div class="counter-wrap">
						<span class="before"></span>
						<div data-count-speed="3000" data-count-from="0" data-count-to="1720" class="counter"></div>
					</div>
					<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-30">Some item title <br>goes
						here</h4>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="counter__wrapper-invertible brown text-center" data-brk-library="component__counter">
					<div class="counter-wrap">
						<span class="before"></span>
						<div data-count-speed="2000" data-count-from="0" data-count-to="124" class="counter"></div>
					</div>
					<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-30">Some item title <br>goes
						here</h4>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="counter__wrapper-invertible black text-center" data-brk-library="component__counter">
					<div class="counter-wrap">
						<span class="before"></span>
						<div data-count-speed="1000" data-count-from="0" data-count-to="12" class="counter"></div>
					</div>
					<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-30">Some item title <br>goes
						here</h4>
				</div>
			</div>
		</div>
	</div>
