
	<div class="container mt-50">
		<div class="row justify-content-center">
			<div class="col-sm-6 col-lg-4">
				<div class="counter__wrapper-roller gray text-center" data-brk-library="component__counter">
					<div data-count-speed="30000" data-count-from="0" data-count-to="4674" class="counter odometer"></div>
					<h4 class="font__family-montserrat font__weight-semibold font__size-24 line__height-26 mt-70">Some item title
						<br>goes here</h4>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="counter__wrapper-roller brown text-center" data-brk-library="component__counter">
					<div data-count-speed="2000" data-count-from="0" data-count-to="674" class="counter odometer"></div>
					<h4 class="font__family-montserrat font__weight-semibold font__size-24 line__height-26 mt-70">Some item title
						<br>goes here</h4>
				</div>
			</div>
			<div class="col-sm-6 col-lg-4">
				<div class="counter__wrapper-roller black text-center" data-brk-library="component__counter">
					<div data-count-speed="1000" data-count-from="0" data-count-to="2678" class="counter odometer"></div>
					<h4 class="font__family-montserrat font__weight-semibold font__size-24 line__height-26 mt-70">Some item title
						<br>goes here</h4>
				</div>
			</div>
		</div>
	</div>
