<div class="services-architecture" data-brk-library="component__services">
  <div class="services-architecture__icon">
    <i class="@@icon"></i>
  </div>
  <div class="services-architecture__container">
    <h4 class="@@if(!context.titleStyle){font__size-21 line__height-24 text-uppercase font__weight-bold pb-10}@@if(context.titleStyle){@@titleStyle}">@@title</h4>
    <span class="@@if(!context.descriptionStyle){font__size-14 line__height-24 brk-dark-blur-font-color}@@if(context.descriptionStyle){@@descriptionStyle}">@@description</span>
  </div>
</div>