<div class="brk-services-icon @@if(context.customClass){@@customClass}" data-brk-library="component__services">
  <div class="brk-services-icon__wrapper">
    @@if(context.icon){@@icon}
    @@if(!context.icon){
      <svg class="svg-md svg-blue" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="83" viewBox="0 0 60 60">
        <circle fill="none" stroke="#34495E" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" cx="15" cy="13" r="6"></circle>
        <path fill="none" stroke="#e9b995" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M34.33,48.29c-2.92-3.86-6.16-3.47-9.37-5.55c-2.01-1.31-4.43-1.93-6.26-4.11c-1.13-1.35-2.22-3.39-3.77-4.99c-1.25-1.29-2.54-2.87-2.14-3.6c1.71-3.03,5.99,0.36,11.39,5.67c0.09,0.09,0.24-0.1,0.17-0.22c-1-1.73-11-19.05-11-19.05c-2.76-4.78,2.49-7.46,5.2-3l6.9,11.95c0.25,0.41,0.07,0.2,0.1,0.17c0.2-0.13-1.7-4.16,1.28-5.04c3.13-0.92,3.8,3.14,4.02,3.05c0.23-0.1-1.39-3.15,1.92-3.92c1.95-0.45,2.96,1.91,3.17,1.88c0.13-0.02-0.11-2.32,2.01-2.31c2.79,0.01,5.55,5.22,8.29,10.18c1.17,2.11,1.11,6.5,3.61,9.92L34.33,48.29z"></path>
        <rect x="40.89" y="34.66" transform="matrix(-0.5 -0.866 0.866 -0.5 24.789 105.6386)" fill="none" stroke="#2980B9" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" width="4" height="22"></rect>
        <rect x="40.89" y="34.59" transform="matrix(-0.4999 -0.8661 0.8661 -0.4999 24.8453 105.5295)" display="inline" fill="none" stroke="#34495E" stroke-width="1" stroke-linecap="square" stroke-miterlimit="10" width="4" height="22"></rect>
      </svg>
    }
  </div>
  <h3 class="brk-services-icon__title font__family-montserrat font__size-24 font__weight-bold line__height-24 @@if(context.titleCustomClass){@@titleCustomClass}">
    @@if(context.title){@@title}
    @@if(!context.title){The best equipment}
  </h3>
  <p class="brk-dark-font-color text-center font__size-16 line__height-28 @@if(context.pCustomClass){@@pCustomClass}">
    @@if(context.p){@@p}
    @@if(!context.p){
      Each one of our unique spa services nourishes and heals your body, in part by helping replace trace minerals.
    }
    </p>
</div>