<div class="services-info text-white mt-70" data-brk-library="component__services">
  <div class="row no-gutters">
    <div class="col-lg-4">
      <div class="services-info__content">
        <div class="services-info__icon">
            <i class="fas fa-battery-full"></i>
        </div>
        <div class="services-info__text">
          <div class="font__family-montserrat">
            <span class="font__weight-semibold font__size-38 line__height-50 d-inline-block">25-27</span>
            <span class="font__weight-ultralight font__size-28 line__height-40 d-inline-block" style="padding-top: 8px;">min</span>
          </div>

          <div class="font__family-montserrat font__size-12 line__height-20 opacity-60 text-uppercase">Flight time</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="services-info__content">
        <div class="services-info__icon">
          <i class="fal fa-fighter-jet"></i>
        </div>
        <div class="services-info__text">
          <div class="font__family-montserrat">
            <span class="font__weight-semibold font__size-38 line__height-50 d-inline-block">94</span>
            <span class="font__weight-ultralight font__size-28 line__height-40 d-inline-block" style="padding-top: 8px;">km/h</span>
          </div>

          <div class="font__family-montserrat font__size-12 line__height-20 opacity-60 text-uppercase">Speed</div>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="services-info__content">
        <div class="services-info__icon">
          <i class="fal fa-wifi"></i>
        </div>
        <div class="services-info__text">
          <div class="font__family-montserrat">
            <span class="font__weight-semibold font__size-38 line__height-50 d-inline-block">7</span>
            <span class="font__weight-ultralight font__size-28 line__height-40 d-inline-block" style="padding-top: 8px;">km</span>
          </div>

          <div class="font__family-montserrat font__size-12 line__height-20 opacity-60 text-uppercase">Control range</div>
        </div>
      </div>
    </div>
  </div>
</div>