<div class="services__wrapper-main services__wrapper-pedestal @@if(context.light === "true"){services__wrapper-pedestal_light} active__effect-main" data-brk-library="component__services">
<div class="row row-no-gutter align-items-center">
  <div class="col-lg-4">
    <div class="services__wrapper active__effect right text-lg-right">
      <div class="inline-wrap">
        <button class="icon__btn icon__btn-anim icon__btn-md_1">
          <span class="after"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="before"></span>
          <i class="fa fa-trophy" aria-hidden="true"></i>
        </button>
        <div>
          <p class="font__family-open-sans font__weight-bold font__size-16 brk-base-font-color">We are Awesome</p>
          <h4 class="font__family-montserrat font__weight-ultralight font__size-24 text-uppercase mt-10">
            @@if(context.title_1){@@title_1}@@if(!context.title_1){purposeful<br> & Creative}
          </h4>
        </div>
      </div>
      <p class="font__family-open-sans font__size-14 text-gray mt-20">Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
      @@include("../../buttons/templates/buttons.html",{
      "type":"btn-inside-out",
      "text":"all info",
      "icon":"<i class='far fa-comment-alt icon-inside' aria-hidden='true'></i>",
      "size":"md",
      "customClass":"border-radius-25 font__weight-bold"
      })
    </div>
  </div>
  <div class="col-lg-4">
    <div class="services__wrapper active__effect active current center text-center">
      <button class="icon__btn icon__btn-anim icon__btn-md_1">
        <span class="after"></span>
        <span class="spike"></span>
        <span class="spike"></span>
        <span class="spike"></span>
        <span class="spike"></span>
        <span class="spike"></span>
        <span class="spike"></span>
        <span class="spike"></span>
        <span class="spike"></span>
        <span class="spike"></span>
        <span class="before"></span>
        <i class="fa fa-trophy" aria-hidden="true"></i>
      </button>
      <p class="font__family-open-sans font__weight-bold font__size-16 brk-base-font-color">We are Awesome</p>
      <h4 class="font__family-montserrat font__weight-ultralight font__size-24 text-uppercase mt-10">
        @@if(context.title_2){@@title_2}@@if(!context.title_2){purposeful, cool<br> & Creative}
      </h4>
      <p class="font__family-open-sans font__size-14 text-gray mt-20">Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
      @@include("../../buttons/templates/buttons.html",{
      "type":"btn-inside-out",
      "text":"all info",
      "icon":"<i class='far fa-comment-alt icon-inside' aria-hidden='true'></i>",
      "size":"md",
      "customClass":"border-radius-25 font__weight-bold"
      })
    </div>
  </div>
  <div class="col-lg-4">
    <div class="services__wrapper active__effect left text-lg-left">
      <div class="inline-wrap">
        <button class="icon__btn icon__btn-anim icon__btn-md_1">
          <span class="after"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="spike"></span>
          <span class="before"></span>
          <i class="fa fa-trophy" aria-hidden="true"></i>
        </button>
        <div>
          <p class="font__family-open-sans font__weight-bold font__size-16 brk-base-font-color">We are Awesome</p>
          <h4 class="font__family-montserrat font__weight-ultralight font__size-24 text-uppercase mt-10">
            @@if(context.title_3){@@title_3}@@if(!context.title_3){purposeful<br> & Creative}
          </h4>
        </div>
      </div>
      <p class="font__family-open-sans font__size-14 text-gray mt-20">Lorem ipsum dolor sit amet, consectetuer
        adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
      @@include("../../buttons/templates/buttons.html",{
      "type":"btn-inside-out",
      "text":"all info",
      "icon":"<i class='far fa-comment-alt icon-inside' aria-hidden='true'></i>",
      "size":"md",
      "customClass":"border-radius-25 font__weight-bold"
      })
    </div>
  </div>
</div>
</div>
