<div class="text-center" data-brk-library="component__typing_rotator,assets__typing_rotator">
  <h2 class="font__family-montserrat font__size-64 font__weight-bold text-uppercase show-inline">@@notAnimatedWord</h2>
  <h2 class="brk-headline font__family-montserrat font__size-64 font__weight-bold text-uppercase letters text-center type pl-15 show-inline">
    <span class="brk-words-rotators brk-base-font-color waiting">
      <b class="is-visible">@@Word1</b>
      <b>@@Word2</b>
    </span>
  </h2>
</div>