
	<div class="mt-50 pt-150 pb-150 overlay__white bg__style" style="background-image: url(img/bg-1920_1.jpg);">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-6">
					<div class="counter__wrapper-airport aqua text-center text-xl-left" data-brk-library="component__counter">
						<div data-count-speed="3000" data-count-from="100" data-count-to="240" class="counter"></div>
						<p class="font__family-montserrat font__size-36 line__height-40 text-uppercase">Some item <br>title</p>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="counter__wrapper-airport blue text-center text-xl-left" data-brk-library="component__counter">
						<div data-count-speed="3000" data-count-from="100" data-count-to="480" class="counter"></div>
						<p class="font__family-montserrat font__size-36 line__height-40 text-uppercase">Some item <br>title</p>
					</div>
				</div>
			</div>
		</div>
	</div>
