
	<div class="mt-50 pt-50 pb-50 overlay__gradient bg__style text-center" style="background-image: url(img/bg-1920_1.jpg);">
		<span class="overlay_after" style="background: linear-gradient(50deg, #0F5AE0 30%, #7400BA 70%);"></span>
		<div class="container all-light">
			<div class="row justify-content-center">

				<div class="col-sm-6 col-lg-4">
					<div class="counter__wrapper-gradient blue" data-brk-library="component__counter">
						<div class="counter-wrap">
							<div data-count-speed="3000" data-count-from="0" data-count-to="96" class="counter"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="counter__wrapper-gradient pink" data-brk-library="component__counter">
						<div class="counter-wrap">
							<div data-count-speed="2000" data-count-from="0" data-count-to="168" class="counter"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="counter__wrapper-gradient aqua" data-brk-library="component__counter">
						<div class="counter-wrap">
							<div data-count-speed="1000" data-count-from="0" data-count-to="1184" class="counter"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>

			</div>
		</div>
	</div>
