
	<div class="mt-50 pt-50 pb-50 overlay__white bg__style text-center" style="background-image: url(img/bg-1920_3.jpg);">
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-sm-6 col-lg-4">
					<div class="counter__wrapper-invertible blue" data-brk-library="component__counter">
						<div class="counter-wrap">
							<span class="before"></span>
							<div data-count-speed="3000" data-count-from="0" data-count-to="1720" class="counter"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="counter__wrapper-invertible pink" data-brk-library="component__counter">
						<div class="counter-wrap">
							<span class="before"></span>
							<div data-count-speed="2000" data-count-from="0" data-count-to="124" class="counter"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>

				<div class="col-sm-6 col-lg-4">
					<div class="counter__wrapper-invertible aqua" data-brk-library="component__counter">
						<div class="counter-wrap">
							<span class="before"></span>
							<div data-count-speed="1000" data-count-from="0" data-count-to="12" class="counter"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-26 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>

			</div>
		</div>
	</div>
