<div class="countdown__wrapper countdown__banner-timer @@if(context.white === "true"){countdown__light_white}" style="background-image:url(@@if(context.bg){@@bg})" data-brk-library="component__countdown">
<div class="countdown" data-format="
                <div class='countdown__section text-white'>
                  <div class='font__family-montserrat font__size-36 font__weight-bold countdown__amount'>%D</div>
                  <span class='font__family-montserrat font__size-16 font__weight-light countdown__period'>Days</span>
                  <span class='symbol'></span>
                </div>
                <div class='countdown__section text-white'>
                  <div class='font__family-montserrat font__size-36 font__weight-bold countdown__amount'>%H</div>
                  <span class='font__family-montserrat font__size-16 font__weight-light countdown__period'>Hours</span>
                  <span class='symbol'></span>
                </div>
                <div class='countdown__section text-white'>
                  <div class='font__family-montserrat font__size-36 font__weight-bold countdown__amount'>%M</div>
                  <span class='font__family-montserrat font__size-16 font__weight-light countdown__period'>Mins</span>
                  <span class='symbol'></span>
                </div>
                <div class='countdown__section text-white'>
                  <div class='font__family-montserrat font__size-36 font__weight-bold countdown__amount'>%S</div>
                  <span class='font__family-montserrat font__size-16 font__weight-light countdown__period'>Secs</span>
                </div>
              " data-type="until" data-time="2018/12/31 12:00"></div>
<!-- 2018/12/31/12:00 data format -->

</div>