<div class="countdown__wrapper countdown__flip"
     data-format="
           <div class='countdown__section'>
             <div class='time <%= label %>'>
               <span class='count curr top'><%= curr %></span>
               <span class='count next top'><%= next %></span>
               <span class='count next bottom'><%= next %></span>
               <span class='count curr bottom'><%= curr %></span>
             </div>
             <span class='label'><%= label %></span>
           </div>
         "
     data-time="" data-brk-library="component__countdown"></div>
    <!-- 2018/12/31/12:00 data format -->
     