	<div class="countdown @@if(context.customClass){@@customClass}"
    data-format="
      <div class='countdown__section'>
        <div class='@@if(context.customTitleClass){@@customTitleClass}@@if(!context.customTitleClass){font__family-montserrat font__size-56 font__weight-bold} countdown__amount'>%D</div>
        <span class='@@if(context.customSubtitleClass){@@customSubtitleClass}@@if(!context.customSubtitleClass){font__family-montserrat font__size-21 font__weight-bold} countdown__period'>Days</span>
      </div>
      <div class='countdown__section'>
        <div class='@@if(context.customTitleClass){@@customTitleClass}@@if(!context.customTitleClass){font__family-montserrat font__size-56 font__weight-bold} countdown__amount'>%H</div>
        <span class='@@if(context.customSubtitleClass){@@customSubtitleClass}@@if(!context.customSubtitleClass){font__family-montserrat font__size-21 font__weight-bold} countdown__period'>Hours</span>
      </div>
      <div class='countdown__section'>
        <div class='@@if(context.customTitleClass){@@customTitleClass}@@if(!context.customTitleClass){font__family-montserrat font__size-56 font__weight-bold} countdown__amount'>%M</div>
        <span class='@@if(context.customSubtitleClass){@@customSubtitleClass}@@if(!context.customSubtitleClass){font__family-montserrat font__size-21 font__weight-bold} countdown__period'>Mins</span>
      </div>
      <div class='countdown__section'>
        <div class='@@if(context.customTitleClass){@@customTitleClass}@@if(!context.customTitleClass){font__family-montserrat font__size-56 font__weight-bold} countdown__amount'>%S</div>
        <span class='@@if(context.customSubtitleClass){@@customSubtitleClass}@@if(!context.customSubtitleClass){font__family-montserrat font__size-21 font__weight-bold} countdown__period'>Secs</span>
      </div>
    "
    data-type="until"
    data-time="" 
    data-brk-library="component__countdown">
            <!-- 2018/12/31/12:00 data format -->
    
</div>
