<div class="rotation-slider-min dots-base-skin dots-base-color slick-loading fa-req @@if(context.customClass){@@customClass}"
     data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "autoplay": true, "autoplaySpeed": 4000}'
     data-brk-library="slider__slick">
  <div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.demo !== "true"){img/300x380_1.jpg}@@if(context.demo === "true"){img/300x460_1.jpg}" alt="alt" class="lazyload">
  </div>
  <div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.demo !== "true"){img/300x380_2.jpg}@@if(context.demo === "true"){img/300x460_2.jpg}" alt="alt" class="lazyload">
  </div>
  <div>
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.demo !== "true"){img/300x380_3.jpg}@@if(context.demo === "true"){img/300x460_3.jpg}" alt="alt" class="lazyload">
  </div>
</div>
