  <div class="brk-pagination brk-pagination-large" data-brk-library="component__pagination">
    <!--<?php posts_nav_link('', '<span class="brk-prev-link"><i class="fa fa-angle-left"></i>Older</span>', '<span class="brk-next-link">Newer<i class="fa fa-angle-right"></i></span>'); ?>-->
    <a href="#" class="text-center"><span class="brk-prev-link"><i class="fa fa-angle-left"></i>Older</span></a>
    <a href="#" class="text-center"><span class="brk-next-link">Newer<i class="fa fa-angle-right"></i></span></a>
  </div>
