<div class="flip-box__split-actions @@customContainerClass" data-brk-library="component__elements">
  <a href="#" class="add-cart d-flex align-items-center justify-content-center">
    <i class="far fa-shopping-cart"></i>
  </a>
  <a href="#" class="add-search d-flex align-items-center justify-content-center">
    <i class="fal fa-search"></i>
  </a>
  <a href="#" class="add-wishlist d-flex align-items-center justify-content-center">
    <i class="fal fa-star"></i>
  </a>
  <a href="#" class="add-compare d-flex align-items-center justify-content-center">
    <i class="fas fa-exchange-alt"></i>
  </a>
</div>