<div class="brk-color-filter @@customContainerClass" data-brk-library="component__elements">
  <h3 class="brk-color-filter__title @@titleClass font__family-montserrat font__weight-bold font__size-14 line__height-14 text-uppercase text-center">
    <span class="brk-color-filter__title-text">@@title</span>
  </h3>
  <div class="brk-color-filter__container">
    @@if(item1bg != ''){
    <a href="#" class="brk-color-filter__item">
      <span class="brk-color-filter__item-bg @@item1bg"></span>
      <i class="fal fa-check brk-color-filter__item-icon"></i>
    </a>
    } @@if(item2bg != ''){
    <a href="#" class="brk-color-filter__item">
      <span class="brk-color-filter__item-bg @@item2bg"></span>
      <i class="fal fa-check brk-color-filter__item-icon"></i>
    </a>
    } @@if(item3bg != ''){
    <a href="#" class="brk-color-filter__item">
      <span class="brk-color-filter__item-bg @@item3bg"></span>
      <i class="fal fa-check brk-color-filter__item-icon"></i>
    </a>
    } @@if(item4bg != ''){
    <a href="#" class="brk-color-filter__item">
      <span class="brk-color-filter__item-bg @@item4bg"></span>
      <i class="fal fa-check brk-color-filter__item-icon"></i>
    </a>
    } @@if(item5bg != ''){
    <a href="#" class="brk-color-filter__item">
      <span class="brk-color-filter__item-bg @@item5bg"></span>
      <i class="fal fa-check brk-color-filter__item-icon"></i>
    </a>
    } @@if(item6bg != ''){
    <a href="#" class="brk-color-filter__item">
      <span class="brk-color-filter__item-bg @@item6bg"></span>
      <i class="fal fa-check brk-color-filter__item-icon"></i>
    </a>
    } @@if(item7bg != ''){
    <a href="#" class="brk-color-filter__item">
      <span class="brk-color-filter__item-bg @@item7bg"></span>
      <i class="fal fa-check brk-color-filter__item-icon"></i>
    </a>
    }
  </div>

</div>