<div class="brk-rating @@if(context.customClass){@@customClass}" data-brk-library="component__elements">
  <div class="brk-rating__layer @@if(context.layerColor){@@layerColor}@@if(!context.layerColor){brk-dark-font-color}">
    <i class="fal fa-star"></i>
    <i class="fal fa-star"></i>
    <i class="fal fa-star"></i>
    <i class="fal fa-star"></i>
    <i class="fal fa-star"></i>
  </div>
  <div class="brk-rating__imposition @@if(context.impositionColor){@@impositionColor}@@if(!context.impositionColor){brk-base-font-color}" style="width: @@value">
    <div class="visible">
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
    </div>
  </div>
</div>