<div class="brk-form brk-form-round" data-brk-library="component__form">
  <form enctype="multipart/form-data" method="POST">
    <div class="row">
      <div class="col-xl-4 col-md-6 mb-50">
        <label class="brk-form-label font__family-montserrat font__weight-bold" for="brk-email-form">Email</label>
        <input id="brk-email-form" name="email" type="email" placeholder="enter-your@mail.com">
      </div>
      <div class="col-xl-4 col-md-6 mb-50">
        <label class="brk-form-label font__family-montserrat font__weight-bold" for="brk-pass-form">Password</label>
        <input id="brk-pass-form" name="password" type="password" placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;">
      </div>
      <div class="col-xl-4 col-md-6 mb-50">
        <label class="brk-form-label font__family-montserrat font__weight-bold">Dropdown</label>
        <select name="select">
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
          <option value="Option 3">Option 3</option>
          <option value="Option 4">Option 4</option>
          <option value="Option 5">Option 5</option>
          <option value="Option 6">Option 6</option>
          <option value="Option 7">Option 7</option>
          <option value="Option 8">Option 8</option>
          <option value="Option 9">Option 9</option>
          <option value="Option 10">Option 10</option>
        </select>
      </div>
      <div class="col-xl-4 col-md-6 mb-70">
        <label class="brk-form-label font__family-montserrat font__weight-bold" for="brk-textarea-form">Text area</label>
        <textarea id="brk-textarea-form" name="textarea" placeholder="Type your text"></textarea>
      </div>
      <div class="col-xl-4 col-md-6 mb-70">
        <label class="brk-form-label font__family-montserrat font__weight-bold">Select field</label>
        <select name="multiselect" multiple="multiple">
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
          <option value="Option 3">Option 3</option>
          <option value="Option 4">Option 4</option>
          <option value="Option 5">Option 5</option>
          <option value="Option 6">Option 6</option>
          <option value="Option 7">Option 7</option>
          <option value="Option 8">Option 8</option>
          <option value="Option 9">Option 9</option>
          <option value="Option 10">Option 10</option>
        </select>
      </div>
      <div class="col-xl-4 col-md-6 mb-70">
        <label class="brk-form-label font__family-montserrat font__weight-bold">Choose file</label>
        <input class="brk-form-file" type="file" name="file">
      </div>
      <div class="col-xl-4 col-md-6 mb-100">
        <label class="brk-form-label font__family-montserrat font__weight-bold" for="brk-active-form">Active</label>
        <input id="brk-active-form" name="active" type="text" value="Active">
      </div>
      <div class="col-xl-4 col-md-6 mb-100">
        <label class="brk-form-label font__family-montserrat font__weight-bold">Disabled</label>
        <input name="disabled" type="text" placeholder="Disabled" disabled="disabled">
      </div>
      <div class="col-xl-4 col-md-6 mb-100">
        <label class="brk-form-label font__family-montserrat font__weight-bold">Readonly</label>
        <input name="readonly" type="text" value="Readonly" placeholder="Readonly" readonly="readonly">
      </div>
      <div class="col-xl-4 col-md-6">
        <label class="brk-form-label font__family-montserrat font__weight-bold">Datepicker</label>
        <input id="date-id-round" class="brk-form-date" name="date-round" type="date">
      </div>
      <div class="col-xl-4 col-md-6">
        <label class="brk-form-label font__family-montserrat font__weight-bold">Checkbox</label>

        <div class="row">
          <div class="col-6 text-left">
            <input id="checkbox-round-1" name="checkbox" type="checkbox" value="1" checked="checked">
            <label class="brk-form-checkbox-label" for="checkbox-round-1">Checked Option</label>
          </div>
          <div class="col-6 text-left">
            <input id="checkbox-round-2" name="checkbox" type="checkbox" value="1">
            <label class="brk-form-checkbox-label" for="checkbox-round-2">Regular Option</label>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <label class="brk-form-label font__family-montserrat font__weight-bold">Radio</label>

        <div class="row">
          <div class="col-6 text-left">
            <input id="radio-round-1" name="radio" type="radio" value="3" checked="checked">
            <label for="radio-round-1" class="brk-form-radio-label">Checked Option</label>
          </div>
          <div class="col-6 text-left">
            <input id="radio-round-2" name="radio" type="radio" value="3">
            <label for="radio-round-2" class="brk-form-radio-label">Regular Option</label>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
