<div class="brk-form brk-form-strict" data-brk-library="component__form">
  <form enctype="multipart/form-data" method="POST">
    <div class="row">
      <div class="col-xl-4 col-md-6 mb-50">
        <input name="company" type="text" placeholder="Company">
      </div>
      <div class="col-xl-4 col-md-6 mb-50">
        <input name="password" type="password" placeholder="Password">
      </div>
      <div class="col-xl-4 col-md-6 mb-50">
        <select name="select">
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
          <option value="Option 3">Option 3</option>
          <option value="Option 4">Option 4</option>
          <option value="Option 5">Option 5</option>
          <option value="Option 6">Option 6</option>
          <option value="Option 7">Option 7</option>
          <option value="Option 8">Option 8</option>
          <option value="Option 9">Option 9</option>
          <option value="Option 10">Option 10</option>
        </select>
      </div>
      <div class="col-xl-4 col-md-6 mb-20">
        <textarea name="textarea" placeholder="Type your text"></textarea>
      </div>
      <div class="col-xl-4 col-md-6 mb-20">
        <select name="multiselect" multiple="multiple">
          <option value="Option 1">Option 1</option>
          <option value="Option 2">Option 2</option>
          <option value="Option 3">Option 3</option>
          <option value="Option 4">Option 4</option>
          <option value="Option 5">Option 5</option>
          <option value="Option 6">Option 6</option>
          <option value="Option 7">Option 7</option>
          <option value="Option 8">Option 8</option>
          <option value="Option 9">Option 9</option>
          <option value="Option 10">Option 10</option>
        </select>
      </div>
      <div class="col-xl-4 col-md-6 mb-20">
        <input type="file" name="file">
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <input name="active" type="text" value="Active">
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <input name="disabled" type="text" placeholder="Disabled" disabled="disabled">
      </div>
      <div class="col-xl-4 col-md-6 mb-30">
        <input name="readonly" type="text" value="Readonly" placeholder="Readonly" readonly="readonly">
      </div>
      <div class="col-xl-4 col-md-6">
        <input id="date-id-strict" name="date-strict" type="date">
      </div>
      <div class="col-xl-2 col-md-3 pt-20 text-left">
        <input id="checkbox-strict-1" name="checkbox" type="checkbox" value="1" checked="checked">
        <label class="brk-form-checkbox-label" for="checkbox-strict-1">Checked Option</label>
      </div>
      <div class="col-xl-2 col-md-3 pt-20 text-left">
        <input id="checkbox-strict-2" name="checkbox" type="checkbox" value="1">
        <label class="brk-form-checkbox-label" for="checkbox-strict-2">Regular Option</label>
      </div>
      <div class="col-xl-2 col-md-3 pt-20 text-left">
        <input id="radio-strict-1" name="radio" type="radio" value="3" checked="checked">
        <label for="radio-strict-1" class="brk-form-radio-label">Checked Option</label>
      </div>
      <div class="col-xl-2 col-md-3 pt-20 text-left">
        <input id="radio-strict-2" name="radio" type="radio" value="3">
        <label for="radio-strict-2" class="brk-form-radio-label">Regular Option</label>
      </div>
    </div>
  </form>
</div>
