<!-- Other Titles -->
<section class="mt-100 mt-md-160">
  <div class="container">
    <div class="container">
      <h3 class="font__family-montserrat font__size-28 font__weight-bold text-left"><span
        class="heading__number">06</span> Other Headings</h3>
    </div>
  </div>
  <div class="container">
    <div class="mt-80">
      <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-24">01</h4>
      <div class="mt-70">
        @@include('./other-v1.html',{
          "text": {
            "main": "Heading here",
            "secondary": "Some subtitle here"
          }
        })
      </div>
    </div>

    <div class="mt-110">
      <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-24">02</h4>
      <div class="mt-100">
        @@include('./other-v2.html',{
          "text": {
            "main": "Heading here",
            "secondary": "Some subtitle here"
          }
        })
      </div>
    </div>

    <div class="mt-80">
      <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-24">03</h4>
      <div class="mt-80">
        @@include('./other-v3.html',{
          "text": {
            "main": "Heading here",
            "secondary": "Some subtitle here"
          }
        })
      </div>
    </div>

    <div class="mt-110">
      <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-24">04</h4>
      <div class="mt-70">
        @@include('./other-v4.html',{
          "text": {
            "main": "Some subtitle here",
            "secondary": "Heading here"
          }
        })
      </div>
    </div>

    <div class="mt-110">
      <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-24 mb-70">05</h4>
        @@include('./other-v5.html',{
          "text": {
            "main": "Heading here",
            "secondary": "Some subtitle here"
          }
        })
    </div>

    <div class="mt-110">
      <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-24">06</h4>
      <div class="mt-70">
        @@include('./other-v6.html',{
          "text": {
            "main": "Services",
            "secondary": "Simple prices <br> <span class='font__weight-extrabold'>for everyone</span>"
          }
        })
      </div>
    </div>

    <div class="mt-110">
      <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-24">07</h4>
      <div class="text-left maxw-450 mt-70">
        @@include('./other-v7.html',{
          "text": {
            "main": "LOOK LIKE AN EXPERT RIGHT FROM THE START.",
            "secondary": "EST. 2007"
          }
        })
      </div>
    </div>

    <div class="mt-110">
      <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-24">08</h4>
      <div class="mt-70">
        @@include('./other-v8.html',{
          "text": {
            "main": "OVER 10,000 CUSTOMERS WORLDWIDE",
            "secondary": "A FEW WORDS FROM OUR CUSTOMERS",
            "after": "We've worked hard to fulfill the concept of powerful and comprehensible theme."
          }
        })
      </div>
    </div>
  </div>
</section>

<section class="title-lines-box">
  <div class="container">
    <h5 class="font__size-21 font__family-montserrat font__weight-bold">Lines</h5>
    <div class="row title-lines-wrap">
      <div class="col-lg-6">
        <div class="mb-100">
          @@include('./other-lines-v1.html',{
            "text": {
              "main": "Some description goes here",
              "secondary": "Title with description"
            }
          })
        </div>
        <div class="mb-100">
          @@include('./other-lines-v2.html',{
            "text": {
              "main": "Some description goes here",
              "secondary": "Title with description"
            }
          })
        </div>
        <div class="mb-100">
          @@include('./other-lines-v3.html',{
            "text": {
              "main": "Some description goes here",
              "secondary": "Title with description"
            }
          })
        </div>
        <div class="mb-100">
           @@include('./other-lines-v7.html',{
            "text": {
              "main": "Some description goes here",
              "secondary": "Title with description"
            }
          })
        </div>
      </div>
      <div class="col-lg-6">
        <div class="mb-100">
          @@include('./other-lines-v4.html',{
            "text": {
              "main": "Some description goes here",
              "secondary": "Title with description"
            }
          })
        </div>
        <div class="mb-100">
          @@include('./other-lines-v5.html',{
            "text": {
              "main": "Some description goes here",
              "secondary": "Title with description"
            }
          })
        </div>
        <div class="mb-100">
          @@include('./other-lines-v6.html',{
            "text": {
              "main": "Some description goes here",
              "secondary": "Title with description"
            }
          })
        </div>
      </div>
    </div>
  </div>
</section>

<section class="title-simple-box">
  <div class="container">
    <h5 class="font__size-21 font__family-montserrat font__weight-bold">Simple</h5>
    <div class="title-simple-wrap">
      <div class="title-simple">
        @@include('./other-simple.html',{
          "size": "1",
          "text": {
            "main": "Some description goes here",
            "secondary": "H1 Title with description"
          }
        })
      </div>

      <div class="title-simple">
        @@include('./other-simple.html',{
          "size": "2",
          "text": {
            "main": "Some description goes here",
            "secondary": "H2 Title with description"
          }
        })
      </div>

      <div class="title-simple">
        @@include('./other-simple.html',{
          "size": "3",
          "text": {
            "main": "Some description goes here",
            "secondary": "H3 Title with description"
          }
        })
      </div>

      <div class="title-simple">
        @@include('./other-simple.html',{
          "size": "4",
          "text": {
            "main": "Some description goes here",
            "secondary": "H4 Title with description"
          }
        })
      </div>

      <div class="title-simple">
        @@include('./other-simple.html',{
          "size": "5",
          "text": "H5 Title without description"
        })
      </div>

      <div class="title-simple">
        @@include('./other-simple.html',{
          "size": "6",
          "text": "H6 Title without description"
        })
      </div>
    </div>
  </div>
</section>