<div class="brs-portfolio-carousel-item dots-rounded-skin" data-brk-library="slider__slick">
    <div>
        @@include("portfolio-categories-item.html",{ 
          "imgSrc" : "img/370x370_1.jpg",
          "title": "Put a plan into action" 
        })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ 
          "imgSrc" : "img/370x370_2.jpg",
          "title": "Schedule a meeting" 
        })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ 
          "imgSrc" : "img/370x370_3.jpg",
          "title": "Achieve the target" 
        })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ 
          "imgSrc" : "img/370x370_1.jpg",
          "title": "Stay on budget" 
        })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ 
          "imgSrc" : "img/370x370_2.jpg",
          "title": "Wrap up the project" 
        })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ 
          "imgSrc" : "img/370x370_3.jpg",
          "title": "Outsource a task" 
        })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ 
          "imgSrc" : "img/370x370_1.jpg",
          "title": "Review the plan" 
        })
    </div>
    <div>
        @@include("portfolio-categories-item.html",{ 
          "imgSrc" : "img/370x370_2.jpg",
          "title": "According to schedule" 
        })
    </div>
</div>