<div class="panel__wrapper-icon @@if(context.customClass){@@customClass}" data-brk-library="component__panel">
  <div class="panel__head all-light">
    <h4 class="font__family-montserrat font__weight-medium font__size-21">Panel heading</h4>
    <p class="font__family-open-sans font__size-14 text-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
      natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
  </div>
  <ul class="panel__list">
    <li>
      <span class="line"></span>
      <i class="icon far fa-gem"></i>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo
      dolor, tempus sollicitudin urrna
    </li>
    <li>
      <span class="line"></span>
      <i class="icon fab fa-gg"></i>Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin
      urna dolor
    </li>
    <li>
      <span class="line"></span>
      <i class="icon far fa-gem"></i>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo
      dolor, tempus sollicitudin urrna
    </li>
    <li>
      <span class="line"></span>
      <i class="icon fab fa-gg"></i>Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin
      urna dolor
    </li>
    <li>
      <span class="line"></span>
      <i class="icon far fa-gem"></i>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus leo
      dolor, tempus sollicitudin urrna
    </li>
    <li>
      <span class="line"></span>
      <i class="icon fab fa-gg"></i>Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin
      urna dolor
    </li>
  </ul>
</div>
