
		<div class="panel__wrapper-image" data-brk-library="component__panel">
			<div class="panel__head overlay__gradient bg__style all-light" style="background-image: url(img/bg-1920_1.jpg);">
				<h4 class="font__family-montserrat font__weight-light font__size-21 text-uppercase">Panel heading</h4>
				<p class="font__family-playfair font__size-16 text-gray line__height-22 font__style-italic">Aenean vulputate
					eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
					dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. </p>
				<span class="overlay_after brk-base-bg-gradient-14"></span>
			</div>
			<ul class="panel__list">
				<li><span class="count">01</span>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet
					orci. Nunc nec neque. Phasellus leo dolor, tempus
				</li>
				<li><span class="count">02</span>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet
					orci. Nunc nec neque. Phasellus leo dolor, tempus solus leo dolor
				</li>
				<li><span class="count">03</span>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet
					orci. Nunc nec neque. Phasellus leo dolor, tempus
				</li>
				<li><span class="count">04</span>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet
					orci. Nunc nec neque. Phasellus leo dolor, tempus solus leo dolor
				</li>
				<li><span class="count">05</span>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet
					orci. Nunc nec neque. Phasellus leo dolor, tempus
				</li>
				<li><span class="count">06</span>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet
					orci. Nunc nec neque. Phasellus leo dolor, tempus solus leo dolor
				</li>
			</ul>
			<div class="panel__item-footer bg__style overlay__gradient" style="background-image: url(img/bg-panel-1.jpg);">
				<span class="overlay_after brk-base-bg-gradient-14"></span></div>
			<span class="overlay_after"></span>
		</div>
