
		<div class="panel__wrapper-table" data-brk-library="component__panel">
			<div class="panel__head all-light">
				<h4 class="font__family-montserrat font__weight-medium font__size-21">Panel heading</h4>
				<p class="font__family-open-sans font__size-14 text-gray">Lorem ipsum dolor sit amet, consectetuer adipiscing
					elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
					montes, nascetur ridiculus mus. Donec quam felis, ultricies nec</p>
			</div>
			<ul class="panel__list">
				<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</li>
				<li>Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
					quam felis, ultricies nec,
				</li>
				<li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
					ultricies nec, pellentesque eu, pretium quis, sem.
				</li>
				<li>Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum
					sodales, augue velit cursus nunc,
				</li>
				<li>Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec neque. Phasellus
					leo dolor, tempus non, auctor et, hendrerit quis, nisi.
				</li>
				<li>Pellentesque posuere. Praesent turpis. Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc,
					eu sollicitudin urna dolor sagittis lacus.
				</li>
			</ul>
		</div>
