<div class="brk-card-out" data-brk-library="component__gallery_sliders_css">
  <img src="@@img-src" alt="alt" class="brk-card-out__img">
  <div class="brk-card-out__overlay"></div>
  <a href="@@img-src" class="brk-card-out__link fancybox">
    <span class="font__family-playfair font__size-56 font__weight-bold brk-white-font-color">+</span>
  </a>
  <div class="brk-card-out__info">
    <h3 class="font__family-playfair brk-white-font-color font__size-56 line__height-56 font__weight-bold mb-10">@@title</h3>
    <span class="brk-white-font-color font__family-montserrat font__size-14 font__weight-bold line__height-14 brk-bg-primary brk-card-out__category">@@category</span>
  </div>
</div>