<div class="brk-carousel-dark" data-brk-library="component__gallery_sliders">
  <div class="container">
    <div class="brk-carousel-dark__items slick-loading">
      <div>
        @@include('dark-card.html',{
          "img-src":"img/400x400_1.jpg",
          "title":"Some Title Here",
          "category":"Category"   
        })
      </div>
      <div>
        @@include('dark-card.html',{
          "img-src":"img/400x400_2.jpg",
          "title":"Some Title Here",
          "category":"Category"  
        })
      </div>
      <div>
        @@include('dark-card.html',{
          "img-src":"img/400x400_3.jpg",
          "title":"Some Title Here",
          "category":"Category"  
        })
      </div>
      <div>
        @@include('dark-card.html',{
          "img-src":"img/400x400_4.jpg",
          "title":"Some Title Here",
          "category":"Category"  
        })
      </div>
      <div>
        @@include('dark-card.html',{
          "img-src":"img/400x400_5.jpg",
          "title":"Some Title Here",
          "category":"Category"  
        })
      </div>
      <div>
        @@include('dark-card.html',{
          "img-src":"img/400x400_3.jpg",
          "title":"Some Title Here",
          "category":"Category"  
        })
      </div>
      
  </div>
  </div>
</div> 