<div class="brk-gradient-card @@container-custom-class" data-filter="@@filter" data-brk-library="component__gallery_sliders_css">
  <img class="brk-gradient-card__img lazyload" alt="alt" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@img-src">
  <div class="brk-gradient-card__overlay @@overlay-class"></div>
  <div class="brk-gradient-card__body">
    <a href="@@img-src" class="brk-gradient-card__img-frame fancybox">
      <i class="fal fa-plus font__size-23 brk-base-font-color"></i>
    </a>
    <a href="#" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color">
      <i class="fal fa-heart font__size-17"></i>
      <span class="font__size-15 font__weight-light">12</span>
    </a>
    <a href="#" class="brk-gradient-card__link text-uppercase font__family-montserrat brk-white-font-color">
      <i class="fal fa-long-arrow-right font__size-17"></i>
    </a>
  </div>
</div>