<div class="brk-gallery-solid @@if(context.customClass){@@customClass}" data-brk-library="component__gallery_sliders">
  @@if(context.demo !== "true"){
    @@include('sort-list.html',{ 
      "custom-container-class":"brk-gallery-solid__sort",
      "sort-value1":"all",
      "sort-value2":"branding", 
      "sort-value3":"photography"
    })
  }
  @@if(context.demo === "true"){
    @@include('sort-list.html',{ 
      "custom-container-class":"brk-gallery-solid__sort",
      "sort-value1":"all",
      "sort-value2":"branding", 
      "sort-value3":"photography",
      "overlayColor": "#e7eef6;"
    })
  }

  <div class="brk-gallery-solid__slider slick-loading">
    <div>
      @@if(context.demo !== "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/195x273_1.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
      @@if(context.demo === "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/224x314_1.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
    </div>
    <div>
      @@if(context.demo !== "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"photography",
          "img-src":"img/195x273_2.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
      @@if(context.demo === "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"photography",
          "img-src":"img/224x314_2.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
    </div>
    <div>
      @@if(context.demo !== "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/195x273_3.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
      @@if(context.demo === "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/224x314_3.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
    </div>
    <div>
      @@if(context.demo !== "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"photography",
          "img-src":"img/195x273_4.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
      @@if(context.demo === "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"photography",
          "img-src":"img/224x314_4.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
    </div>
    <div>
      @@if(context.demo !== "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/195x273_5.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
      @@if(context.demo === "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/224x314_5.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
    </div>
    <div>
      @@if(context.demo !== "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/195x273_1.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
      @@if(context.demo === "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/224x314_2.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
    </div>
    <div>
      @@if(context.demo !== "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/195x273_3.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
      @@if(context.demo === "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/224x314_2.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
    </div>
    <div>
      @@if(context.demo !== "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/195x273_4.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
      @@if(context.demo === "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"branding",
          "img-src":"img/224x314_3.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
    </div>
    <div>
      @@if(context.demo !== "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"photography",
          "img-src":"img/195x273_5.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
      @@if(context.demo === "true"){
        @@include('solid-card.html',{ 
          "container-custom-class":"", 
          "filter":"photography",
          "img-src":"img/224x314_4.jpg", 
          "overlay-class":"brk-base-bg-1"
        })
      }
    </div>
    
  </div>
  <div class="brk-gallery-solid__slider-control" @@if(context.demo === "true"){style="background-color: #e7eef6;"}>
    <!-- Append donts and arrows -->
  </div>
</div>