<ul class="brk-sort-list font__family-montserrat font__size-15 font__weight-bold text-uppercase letter-spacing-20 @@custom-container-class" @@if(context.overlayColor){style="background-color: @@overlayColor"} data-brk-library="component__gallery_sliders_css">
  <li class="brk-sort-list__item active" data-filter="@@sort-value1">
    <span>All</span> <span class="brk-sort-list__item-counter brk-base-font-color font__weight-light">8</span>
  </li>
  <li class="brk-sort-list__item" data-filter="@@sort-value2">
    <span>Branding</span> <span class="brk-sort-list__item-counter brk-base-font-color font__weight-light">6</span>
  </li>
  <li class="brk-sort-list__item" data-filter="@@sort-value3">
    <span>Photography</span> <span class="brk-sort-list__item-counter brk-base-font-color font__weight-light">2</span>
  </li>
</ul>