<div class="brk-strict-carousel pb-20" data-brk-library="component__gallery_sliders">
  <div class="container">
    <div class="brk-strict-carousel__items slick-loading">
      <div>
        @@include('strict-card.html',{
          "img-src":"img/390x390_1.jpg",
          "title":"some title here"
        })
      </div>
      <div>
        @@include('strict-card.html',{
          "img-src":"img/390x390_2.jpg",
          "title":"some title here"
        })
      </div>
      <div>
        @@include('strict-card.html',{
          "img-src":"img/390x390_3.jpg",
          "title":"some title here"
        })
      </div>
      <div>
        @@include('strict-card.html',{
          "img-src":"img/390x390_4.jpg",
          "title":"some title here"
        }) 
      </div>
      <div>
        @@include('strict-card.html',{
          "img-src":"img/390x390_5.jpg",
          "title":"some title here"
        })
      </div>
    </div>

    <div class="brk-strict-carousel__control">
    </div>
  </div>

</div> 