<div class="brk-card-fill" data-brk-library="component__gallery_sliders_css">
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@img-src" alt="alt" class="brk-card-fill__img lazyload">
  <h3 class="brk-card-fill__title font__family-montserrat font__size-50 line__height-52 font__weight-bold text-uppercase">
    <span class="brk-card-fill__title-text" style="background-image: url('@@img-src')">
      @@title
    </span>
  </h3>
  <div class="brk-card-fill__links text-right">
    <a href="@@img-src" class="brk-card-fill__link brk-base-font-color mr-10 fancybox">
      <i class="far fa-search font__size-16"></i>
    </a>
    <a href="#" class="brk-card-fill__link brk-base-font-color">
      <i class="fal fa-angle-right font__size-27"></i>
    </a>
  </div>
</div>