<div class="brs-post brs-post_quote" data-brk-library="component__blog_css">
  <img class="brs-post__img" alt="alt" src="img/blog/quote-post-1.png">
  <div class="brs-post__body">
    <div class="brs-post__information">
      <a href="#" class="brs-post__date font__family-montserrat font__weight-semibold font__size-13 line__height-14">
        <i class="far fa-clock brs-post__date-icon"></i>Aug 12, 17</a>
      <a href="#" class="brs-post__comments font__family-montserrat font__weight-semibold font__size-13 line__height-14">
        <i class="far fa-comments brs-post__comments-icon"></i> 12</a>
    </div>
    <p class="brs-post__paragraph text-left font__family-montserrat font__size-24 font__weight-normal line__height-32">
      Quote post. Phasellus viverra nulla laeers.
      <span class="line-through font__family-playfair font__style-italic line__height-28">
        Quisque enean impe imperdiet</span> Poettitor (
      <span class="font__family-open-sans font__weight-bold font__style-italic accent-1 letter-spacing--20">eu, nsequ vitae, eleifend ac </span>) enim. Aliquam lore ante,
      <span class="accent-2">dapibus in</span>, viverra quis, feugiat a.</p>
    <a href="#" class="brs-post__more font__family-montserrat font__size-14 font__weight-normal line__height-26 text-left">Read More
    </a>
  </div>
  <a class="brs-post__link brk-base-bg-gradient-0deg-a" href="#">
    <i class="fal fa-paperclip brs-post__link-icon"></i>
  </a>
</div>