<div class="brs-post brs-post_slider" data-brk-library="component__blog">
  <div class="brs-post__body">
    <div class="brs-post__slider-container">
      <div class="brs-post__slider-item">
        <img src="img/blog/slider-post.png" alt="girl-with-camera" class="brs-post__img">
        <div class="brs-post__overlay"></div>
      </div>
      <div class="brs-post__slider-item">
        <img src="img/blog/hosted-video.png" alt="girl-with-camera" class="brs-post__img">
        <div class="brs-post__overlay"></div>
      </div>

    </div>

    <div class="brs-post__info-wrapper">
      <div class="brs-post__information font__family-montserrat font__weight-semibold font__size-13 line__height-14">
        <a href="#" class="brs-post__date">
          <i class="far fa-clock brs-post__date-icon"></i>Aug 12, 17
        </a>
        <a href="#" class="brs-post__comments">
          <i class="far fa-comments brs-post__comments-icon"></i> 12
        </a>
      </div>
      <h2 class="brs-post__title font__family-montserrat font__size-24 font__weight-bold line__height-28 text-left">
        Some large title of Slider Post</h2>
    </div>
  </div>
  <div class="brs-post__description">
    <p class="brs-post__description__paragraph text-left font__family-open-sans font__size-16 font__weight-normal line__height-26">
      Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, nsequ vitae, eleifend ac, enim. Aliquam lorem ante, dapibus
      in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laeers. Quisque rutrum. Aenean imperdiet.
    </p>
  </div>


</div>