<div class="brk-promo-hexagon wow zoomIn" data-brk-library="component__promo">
  <svg class="brk-promo-hexagon__bg" viewBox="0 0 300 300">
    <polygon points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
  </svg>
  <svg class="brk-promo-hexagon__border-1" viewBox="0 0 300 300">
    <polygon points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
  </svg>
  <svg class="brk-promo-hexagon__border-2" viewBox="0 0 300 300">
    <polygon points="300,150 225,280 75,280 0,150 75,20 225,20"></polygon>
  </svg>
  <div class="brk-promo-hexagon__row-2">
    @@include("./02-1-hexagon-card.html")
    @@include("./02-1-hexagon-card.html")
  </div>
  <div class="brk-promo-hexagon__row-3">
    @@include("./02-1-hexagon-card.html")
    @@include("./02-1-hexagon-card.html")
    @@include("./02-1-hexagon-card.html")
  </div>
  <div class="brk-promo-hexagon__row-2">
    @@include("./02-1-hexagon-card.html")
    @@include("./02-1-hexagon-card.html")
  </div>
</div>