<div class="brk-promo-orbit" data-brk-library="component__promo,waypoints" style="max-width: 687px;">
  <div class="brk-promo-orbit__circles">
    <span class="brk-promo-orbit__circle"></span>
    <span class="brk-promo-orbit__circle"></span>
    <span class="brk-promo-orbit__circle"></span>
  </div>
  <div class="brk-promo-orbit__cards">
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/171x19_1.png",
      "type": "rectangle"
    })
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/118x118_1.png"
    })
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/118x118_2.png"
    })
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/130x130_1.png"
    })
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/210x40_1.png",
      "type": "rectangle"
    })
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/131x25_1.png",
      "type": "rectangle"
    })
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/78x78_1.png"
    })
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/86x86_1.png"
    })
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/118x118_3.png"
    })
    @@include("./03-1-orbit-card.html",{
      "img": "img/promo/114x114_1.png"
    })
  </div>
</div>