<div 
  class="brk-promo-orbit brk-promo-orbit_light" 
  data-brk-library="component__promo,waypoints" 
  style="max-width: 687px;">
    <div class="brk-promo-orbit__circles">
      <span class="brk-promo-orbit__circle"></span>
      <span class="brk-promo-orbit__circle"></span>
      <span class="brk-promo-orbit__circle"></span>
    </div>
    <div class="brk-promo-orbit__cards">
      @@include("./03-2-jelly-card.html",{
        "img": "img/promo/131x25_1.png",
        "type": "rectangle",
        "animation": "1"
      })
      
      @@include("./03-2-jelly-card.html",{
        "img": "img/promo/14x26_1.png"
      })
      
      @@include("./03-2-jelly-card.html",{
        "img": "img/promo/210x40_1.png",
        "type": "rectangle",
        "animation": "2"
      })

      @@include("./03-2-jelly-card.html",{
        "img": "img/promo/54x45_1.png"
      })

      @@include("./03-2-jelly-card.html",{
        "img": "img/promo/27x20_1.png"
      })

      @@include("./03-2-jelly-card.html",{
        "img": "img/promo/23x23_1.png"
      })

      @@include("./03-2-jelly-card.html",{
        "img": "img/promo/171x19_1.png",
        "type": "rectangle",
        "animation": "3"
      })
    </div>
  </div>