<div class="all-light pt-80 pb-80 bg__style overlay__gradient overlay__gradient-left"
     style="background-image: url(img/bg-1920_1.jpg);"
     data-brk-library="component__steps">
  <div class="container">
    <div class="tabs-wrapper maxw-970">
      <div class="steps__wrapper-main steps__wrapper-checkers">
        <div class="steps__progress"></div>
        <ul class="steps__wrapper tabs" data-tabgroup="tab-group-6">
          <li class="complete"><a href="#tab-6_1">
							<span class="font__family-montserrat font__weight-bold font__size-15 steps__dot"
                    style="background: #2775FF;"><span class="before"></span><span class="after"></span>1</span>
            <p class="font__family-montserrat font__size-15 steps__title">DESIGN</p>
          </a></li>
          <li class="complete"><a href="#tab-6_2">
							<span class="font__family-montserrat font__weight-bold font__size-15 steps__dot"
                    style="background: #3E31CE;"><span class="before"></span><span class="after"></span>2</span>
            <p class="font__family-montserrat font__size-15 steps__title">DEVELOP</p>
          </a></li>
          <li class="complete"><a href="#tab-6_3" class="active">
							<span class="font__family-montserrat font__weight-bold font__size-15 steps__dot"
                    style="background: #7103BB;"><span class="before"></span><span class="after"></span>3</span>
            <p class="font__family-montserrat font__size-15 steps__title">RESEARCH</p>
          </a></li>
          <li class=""><a href="#tab-6_4">
							<span class="font__family-montserrat font__weight-bold font__size-15 steps__dot"><span
                      class="before"></span><span class="after"></span>4</span>
            <p class="font__family-montserrat font__size-15 steps__title">PROMOTION</p>
          </a></li>
        </ul>
      </div>
      <div id="tab-group-6" class="tabgroup text-left">
        <div id="tab-6_1"></div>
        <div id="tab-6_2"></div>
        <div id="tab-6_3"></div>
        <div id="tab-6_4"></div>
      </div>
    </div>
  </div>
  <span class="overlay_after brk-bg-gradient-10deg-92"></span>
</div>