
  <div class="brk-testimonials-circle" data-brk-library="component__testimonials,slider__swiper">
    <div class="circle-slider swiper-container">
      <div class="brk-testimonials-circle__parallax-bg" style="background-image: url(img/parallax-bg.jpg)" data-swiper-parallax="-5%"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="brk-testimonials-circle__item" data-img="img/people/pexels-photo-262391.jpeg">
            <i class="fa fa-quote-right" data-swiper-parallax="-20%"></i>
            <div class="brk-testimonials-circle__comment font__family-open-sans font__weight-light font__style-italic" data-swiper-parallax="-60%">" For many small business owners and entrepreneurs, popular apps like Uber and Snapchat are sources of inspiration. It's easy to see the appeal of mobile apps: they can provide a direct connection between businesses and their customers, encouraging engagement by providing new services and perks. "</div>
            <div class="brk-testimonials-circle__name" data-swiper-parallax="-100%"><span class="font__family-montserrat font__weight-medium">Jon Jonson,</span> <em class="font__family-playfair font__style-italic">Design Director at</em> <span class="font__family-montserrat font__weight-medium">Envato</span></div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="brk-testimonials-circle__item" data-img="img/people/pexels-photo-598745.jpeg">
            <i class="fa fa-quote-right" data-swiper-parallax="-20%"></i>
            <div class="brk-testimonials-circle__comment font__family-open-sans font__weight-light font__style-italic" data-swiper-parallax="-60%">" From the war room to the battlefield, the world was continually blowing up around Diana Prince. Yet Diana, aka Wonder Woman, never lost focus on why she left the safety of Themyscira for war-torn Europe: to stop the evil Ares and end the war. No matter what got in her way, no matter how often her path was blocked, she didn't stop. "</div>
            <div class="brk-testimonials-circle__name" data-swiper-parallax="-100%"><span class="font__family-montserrat font__weight-medium">Sarah Kranz,</span> <em class="font__family-playfair font__style-italic">Design Director at</em> <span class="font__family-montserrat font__weight-medium">Envato</span></div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="brk-testimonials-circle__item" data-img="img/people/pexels-photo-428341.jpeg">
            <i class="fa fa-quote-right" data-swiper-parallax="-20%"></i>
            <div class="brk-testimonials-circle__comment font__family-open-sans font__weight-light font__style-italic" data-swiper-parallax="-60%">" Now that you understand why you need a business plan and you've spent some time doing your homework gathering the information you need to create one, it's time to roll up your sleeves and get everything down on paper. "</div>
            <div class="brk-testimonials-circle__name" data-swiper-parallax="-100%"><span class="font__family-montserrat font__weight-medium">Mike Paterson,</span> <em class="font__family-playfair font__style-italic">Design Director at</em> <span class="font__family-montserrat font__weight-medium">Envato</span></div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="brk-testimonials-circle__item" data-img="img/people/pexels-photo-355164.jpeg">
            <i class="fa fa-quote-right" data-swiper-parallax="-20%"></i>
            <div class="brk-testimonials-circle__comment font__family-open-sans font__weight-light font__style-italic" data-swiper-parallax="-60%">" Recently, I heard of a woman in Sterling, Virginia, sentenced to three-and-a-half years for putting Windex and Ajax in the company coffee pot. Really? When asked why she did it, she replied that she wanted to make her boss sick. That's one kind of stress. "</div>
            <div class="brk-testimonials-circle__name" data-swiper-parallax="-100%"><span class="font__family-montserrat font__weight-medium">Lia Mit,</span> <em class="font__family-playfair font__style-italic">Design Director at</em> <span class="font__family-montserrat font__weight-medium">Envato</span></div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="brk-testimonials-circle__item" data-img="img/people/pexels-photo-274595.jpeg">
            <i class="fa fa-quote-right" data-swiper-parallax="-20%"></i>
            <div class="brk-testimonials-circle__comment font__family-open-sans font__weight-light font__style-italic" data-swiper-parallax="-60%">" It wasn't long ago that office life was simply a part of every day life. A person with a "real job" made the daily commute to the office, like it or not. They chatted around the water cooler, and then wasted much of the day dodging the boss and avoiding nosy colleagues. "</div>
            <div class="brk-testimonials-circle__name" data-swiper-parallax="-100%"><span class="font__family-montserrat font__weight-medium">Anna Jonson,</span> <em class="font__family-playfair font__style-italic">Design Director at</em> <span class="font__family-montserrat font__weight-medium">Envato</span></div>
          </div>
        </div>
      </div>
    </div>

    <div class="circle-pagination"></div>
  </div>
