<div 
  class="dash-three-slider brk-testimonials-dash-three swiper-container
  @@if(context.dark){
    brk-testimonials-dash-three_dark
  } 
  @@if(context.singleSlide === 'true'){
    dash-three-slider_single
  }
  @@if(context.customClass){
    @@customClass
  }" 
  data-brk-library="component__testimonials,slider__swiper">
<div class="swiper-wrapper">
  <div class="swiper-slide">
    <div class="brk-testimonials-dash-three__item">
      <div class="brk-testimonials-dash-three__img">
        <img 
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
          data-src="@@if(context.demo !== 'true'){img/people/pexels-photo-598745.jpeg}@@if(context.demo === 'true'){img/48x48_1.jpg}" 
          alt="alt" 
          class="lazyload">
      </div>
      <div class="brk-testimonials-dash-three__caption">
        <div class="brk-testimonials-dash-three__name @@if(context.titleCustomClass){@@titleCustomClass}@@if(!context.titleCustomClass){font__family-montserrat font__weight-semibold letter-spacing-100 font__size-12 line__height-24 text-uppercase}">
          Sarah Kranz
        </div>
        <div class="brk-testimonials-dash-three__classes @@if(context.subtitleCustomClass){@@subtitleCustomClass}@@if(!context.subtitleCustomClass){font__family-playfair font__style-italic font__size-14 line__height-24 letter-spacing-40}">Client manager at
          Twitter
        </div>
      </div>
      <div class="brk-testimonials-dash-three__desc @@if(context.descriptionCustomClass){@@descriptionCustomClass}@@if(!context.descriptionCustomClass){font__family-open-sans line__height-28 font__size-14 font__weight-light}">This is the most AMAZING
        theme I have ever worked with. I love it! The design is beautiful and unique one. I haven't seen such a gorgeous
        design. The response to questions from the Dynamic Frameworks team is fast! They've been able to handle anything
        I've thrown at them. Awesome theme - very flexible and customizable!
      </div>
    </div>
  </div>

  <div class="swiper-slide">
    <div class="brk-testimonials-dash-three__item">
      <div class="brk-testimonials-dash-three__img">
        <img 
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
          data-src="@@if(context.demo !== 'true'){img/people/pexels-photo-672599.jpeg}@@if(context.demo === 'true'){img/48x48_2.jpg}" 
          alt="alt" 
          class="lazyload">
      </div>
      <div class="brk-testimonials-dash-three__caption">
        <div class="brk-testimonials-dash-three__name @@if(context.titleCustomClass){@@titleCustomClass}@@if(!context.titleCustomClass){font__family-montserrat font__weight-semibold letter-spacing-100 font__size-12 line__height-24 text-uppercase}">
          Mike Paterson
        </div>
        <div class="brk-testimonials-dash-three__classes @@if(context.subtitleCustomClass){@@subtitleCustomClass}@@if(!context.subtitleCustomClass){font__family-playfair font__style-italic font__size-14 line__height-24 letter-spacing-40}">Client manager at
          Google
        </div>
      </div>
      <div class="brk-testimonials-dash-three__desc @@if(context.descriptionCustomClass){@@descriptionCustomClass}@@if(!context.descriptionCustomClass){font__family-open-sans line__height-28 font__size-14 font__weight-light}">My proudest moment was two
        days before coming home. My commander called me out in front of our company formation and presented me with a
        coin for my work as a lead gunner during my deployment. It was the first time in my life that I was actually
        proud of something I had done.
      </div>
    </div>
  </div>

  <div class="swiper-slide">
    <div class="brk-testimonials-dash-three__item">
      <div class="brk-testimonials-dash-three__img">
        <img 
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
          data-src="@@if(context.demo !== 'true'){img/people/pexels-photo-355164.jpeg}@@if(context.demo === 'true'){img/48x48_3.jpg}" 
          alt="alt" 
          class="lazyload">
      </div>
      <div class="brk-testimonials-dash-three__caption">
        <div class="brk-testimonials-dash-three__name @@if(context.titleCustomClass){@@titleCustomClass}@@if(!context.titleCustomClass){font__family-montserrat font__weight-semibold letter-spacing-100 font__size-12 line__height-24 text-uppercase}">
          Anna Kranz
        </div>
        <div class="brk-testimonials-dash-three__classes @@if(context.subtitleCustomClass){@@subtitleCustomClass}@@if(!context.subtitleCustomClass){font__family-playfair font__style-italic font__size-14 line__height-24 letter-spacing-40}">ArtDirector Yahoo
        </div>
      </div>
      <div class="brk-testimonials-dash-three__desc @@if(context.descriptionCustomClass){@@descriptionCustomClass}@@if(!context.descriptionCustomClass){font__family-open-sans line__height-28 font__size-14 font__weight-light}">If you are looking for an
        emotional connection or hugs, a vet is probably not the right person for you. But, if you're looking for someone
        to get you results and get them quickly, then vets are the route you should take. The best way I can say it is
        this: Do you want a puppy to cuddle with and make you feel good, or do you want a wolf who will hunt for you and
        keep you fed?
      </div>
    </div>
  </div>

  <div class="swiper-slide">
    <div class="brk-testimonials-dash-three__item">
      <div class="brk-testimonials-dash-three__img">
        <img 
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
          data-src="@@if(context.demo !== 'true'){img/people/pexels-photo-262391.jpeg}@@if(context.demo === 'true'){img/48x48_2.jpg}" 
          alt="alt" 
          class="lazyload">
      </div>
      <div class="brk-testimonials-dash-three__caption">
        <div class="brk-testimonials-dash-three__name @@if(context.titleCustomClass){@@titleCustomClass}@@if(!context.titleCustomClass){font__family-montserrat font__weight-semibold letter-spacing-100 font__size-12 line__height-24 text-uppercase}">
          Ostin Paterson
        </div>
        <div class="brk-testimonials-dash-three__classes @@if(context.subtitleCustomClass){@@subtitleCustomClass}@@if(!context.subtitleCustomClass){font__family-playfair font__style-italic font__size-14 line__height-24 letter-spacing-40}">Client manager at
          Twitter
        </div>
      </div>
      <div class="brk-testimonials-dash-three__desc @@if(context.descriptionCustomClass){@@descriptionCustomClass}@@if(!context.descriptionCustomClass){font__family-open-sans line__height-28 font__size-14 font__weight-light}">I am Andrew O'Brien, Founder
        of Vetpreneur Tribe, a business that brings military veteran entrepreneurs together to help each other grow and
        scale businesses. I employ five people.
      </div>
    </div>
  </div>

  <div class="swiper-slide">
    <div class="brk-testimonials-dash-three__item">
      <div class="brk-testimonials-dash-three__img">
        <img 
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
          data-src="@@if(context.demo !== 'true'){img/people/pexels-photo-274595.jpeg}@@if(context.demo === 'true'){img/48x48_1.jpg}" 
          alt="alt" 
          class="lazyload">
      </div>
      <div class="brk-testimonials-dash-three__caption">
        <div class="brk-testimonials-dash-three__name @@if(context.titleCustomClass){@@titleCustomClass}@@if(!context.titleCustomClass){font__family-montserrat font__weight-semibold letter-spacing-100 font__size-12 line__height-24 text-uppercase}">
          Anna Jonson
        </div>
        <div class="brk-testimonials-dash-three__classes @@if(context.subtitleCustomClass){@@subtitleCustomClass}@@if(!context.subtitleCustomClass){font__family-playfair font__style-italic font__size-14 line__height-24 letter-spacing-40}">Client manager at
          Twitter
        </div>
      </div>
      <div class="brk-testimonials-dash-three__desc @@if(context.descriptionCustomClass){@@descriptionCustomClass}@@if(!context.descriptionCustomClass){font__family-open-sans line__height-28 font__size-14 font__weight-light}">This is the most AMAZING
        theme I have ever worked with. I love it! The design is beautiful and unique one. I haven't seen such a gorgeous
        design. The response to questions from the Dynamic Frameworks team is fast! They've been able to handle anything
        I've thrown at them. Awesome theme - very flexible and customizable!
      </div>
    </div>
  </div>

  <div class="swiper-slide">
    <div class="brk-testimonials-dash-three__item">
      <div class="brk-testimonials-dash-three__img">
        <img 
          src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
          data-src="@@if(context.demo !== 'true'){img/people/pexels-photo-355164.jpeg}@@if(context.demo === 'true'){img/48x48_2.jpg}" 
          alt="alt" 
          class="lazyload">
      </div>
      <div class="brk-testimonials-dash-three__caption">
        <div class="brk-testimonials-dash-three__name @@if(context.titleCustomClass){@@titleCustomClass}@@if(!context.titleCustomClass){font__family-montserrat font__weight-semibold letter-spacing-100 font__size-12 line__height-24 text-uppercase}">
          Lia Mit
        </div>
        <div class="brk-testimonials-dash-three__classes @@if(context.subtitleCustomClass){@@subtitleCustomClass}@@if(!context.subtitleCustomClass){font__family-playfair font__style-italic font__size-14 line__height-24 letter-spacing-40}">Client manager at
          Twitter
        </div>
      </div>
      <div class="brk-testimonials-dash-three__desc @@if(context.descriptionCustomClass){@@descriptionCustomClass}@@if(!context.descriptionCustomClass){font__family-open-sans line__height-28 font__size-14 font__weight-light}">This is the most AMAZING
        theme I have ever worked with. I love it! The design is beautiful and unique one. I haven't seen such a gorgeous
        design. The response to questions from the Dynamic Frameworks team is fast! They've been able to handle anything
        I've thrown at them. Awesome theme - very flexible and customizable!
      </div>
    </div>
  </div>
</div>

<div class="swiper-pagination-base @@if(context.stylePagination){@@stylePagination}"></div>
</div>
