<div class="brk-testimonials-dash-two" data-brk-library="component__testimonials,slider__swiper">
  <div class="dash-two-pagination"></div>

  <div class="swiper-container dash-two-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-two__text-reviews brk-base-box-shadow"
             data-img="img/people/pexels-photo-262391.jpeg">
          <span class="brk-testimonials-dash-two__name font__family-open-sans font__weight-bold">Piter Garik,</span>
          <span class="brk-testimonials-dash-two__service font__family-open-sans">Haircut service</span>
          <div class="brk-testimonials-dash-two__description font__family-open-sans">Last March, I got the chance to
            chat with Robert Herjavec about his involvement as a mentor with the first Frito-Lay Dreamvention
            competition and the advice he has for inspiring young entrepreneurs. Since then, thousands of kids under the
            age of 15 submitted ideas they wanted to see come to life. From the masses, five finalists were selected and
            are competing head-to-head for chance to win $250,000. Herjavec has continued his involvement with the
            project.
          </div>

          <a href="#" class="brk-testimonials-dash-two__link-video font__family-open-sans">
            <span><i class="fas fa-caret-right"></i></span>
            Watch video review
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-two__text-reviews brk-base-box-shadow"
             data-img="img/people/pexels-photo-355164.jpeg">
          <span class="brk-testimonials-dash-two__name font__family-open-sans font__weight-bold">Inna Woo,</span>
          <span class="brk-testimonials-dash-two__service font__family-open-sans">Haircut service</span>
          <div class="brk-testimonials-dash-two__description font__family-open-sans">Are you feeling overwhelmed by all
            the tasks you carry out as an entrepreneur? The reality is that you can automate more than you think. By
            taking advantage of the right tools, you can take tasks off your plate, automate the ones that remain and
            either delegate or eliminate tasks altogether -- to start working smarter -- not just harder.
          </div>

          <a href="#" class="brk-testimonials-dash-two__link-video font__family-open-sans">
            <span><i class="fas fa-caret-right"></i></span>
            Watch video review
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-two__text-reviews brk-base-box-shadow"
             data-img="img/people/pexels-photo-274595.jpeg">
          <span class="brk-testimonials-dash-two__name font__family-open-sans font__weight-bold">Margaret Hezer,</span>
          <span class="brk-testimonials-dash-two__service font__family-open-sans">Haircut service</span>
          <div class="brk-testimonials-dash-two__description font__family-open-sans">Are you feeling overwhelmed by all
            the tasks you carry out as an entrepreneur? The reality is that you can automate more than you think. By
            taking advantage of the right tools, you can take tasks off your plate, automate the ones that remain and
            either delegate or eliminate tasks altogether -- to start working smarter -- not just harder.
          </div>

          <a href="#" class="brk-testimonials-dash-two__link-video font__family-open-sans">
            <span><i class="fas fa-caret-right"></i></span>
            Watch video review
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-two__text-reviews brk-base-box-shadow"
             data-img="img/people/pexels-photo-672599.jpeg">
          <span class="brk-testimonials-dash-two__name font__family-open-sans font__weight-bold">Mike,</span>
          <span class="brk-testimonials-dash-two__service font__family-open-sans">Haircut service</span>
          <div class="brk-testimonials-dash-two__description font__family-open-sans">One of my main ventures is in penny
            stock trading. But, I've been running various businesses for years. When I wrote an article on the >greatest
            stock mistake people can make, I realized you can apply those same rules to the world of business.
          </div>

          <a href="#" class="brk-testimonials-dash-two__link-video font__family-open-sans">
            <span><i class="fas fa-caret-right"></i></span>
            Watch video review
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-two__text-reviews brk-base-box-shadow"
             data-img="img/people/pexels-photo-598745.jpeg">
          <span class="brk-testimonials-dash-two__name font__family-open-sans font__weight-bold">Margaret,</span>
          <span class="brk-testimonials-dash-two__service font__family-open-sans">Haircut service</span>
          <div class="brk-testimonials-dash-two__description font__family-open-sans">Last March, I got the chance to
            chat with Robert Herjavec about his involvement as a mentor with the first Frito-Lay Dreamvention
            competition and the advice he has for inspiring young entrepreneurs. Since then, thousands of kids under the
            age of 15 submitted ideas they wanted to see come to life. From the masses, five finalists were selected and
            are competing head-to-head for chance to win $250,000. Herjavec has continued his involvement with the
            project.
          </div>

          <a href="#" class="brk-testimonials-dash-two__link-video font__family-open-sans">
            <span><i class="fas fa-caret-right"></i></span>
            Watch video review
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-two__text-reviews brk-base-box-shadow"
             data-img="img/people/pexels-photo-428341.jpeg">
          <span class="brk-testimonials-dash-two__name font__family-open-sans font__weight-bold">Bob,</span>
          <span class="brk-testimonials-dash-two__service font__family-open-sans">Haircut service</span>
          <div class="brk-testimonials-dash-two__description font__family-open-sans">Are you feeling overwhelmed by all
            the tasks you carry out as an entrepreneur? The reality is that you can automate more than you think. By
            taking advantage of the right tools, you can take tasks off your plate, automate the ones that remain and
            either delegate or eliminate tasks altogether -- to start working smarter -- not just harder.
          </div>

          <a href="#" class="brk-testimonials-dash-two__link-video font__family-open-sans">
            <span><i class="fas fa-caret-right"></i></span>
            Watch video review
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-dash-two__text-reviews brk-base-box-shadow"
             data-img="img/people/pexels-photo-355164.jpeg">
          <span class="brk-testimonials-dash-two__name font__family-open-sans font__weight-bold">Anna Merian,</span>
          <span class="brk-testimonials-dash-two__service font__family-open-sans">Haircut service</span>
          <div class="brk-testimonials-dash-two__description font__family-open-sans">One of my main ventures is in penny
            stock trading. But, I've been running various businesses for years. When I wrote an article on the >greatest
            stock mistake people can make, I realized you can apply those same rules to the world of business.
          </div>

          <a href="#" class="brk-testimonials-dash-two__link-video font__family-open-sans">
            <span><i class="fas fa-caret-right"></i></span>
            Watch video review
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
