<div class="brk-testimonials-layered-horizontal__container" data-brk-library="component__testimonials,slider__swiper">
  <div class="overlay-horizontal"></div>

  <div class="layered-horizontal-slider swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="brk-testimonials-layered-horizontal__item text-center">
          <div class="brk-testimonials-layered-horizontal__photo lazyload" 
          data-bg="@@if(context.demo){img/126x126_1.jpg}@@if(!context.demo){img/people/pexels-photo-262391.jpeg}"></div>
          <div class="brk-testimonials-layered-horizontal__name font__family-montserrat font__weight-bold">Ostin Paterson</div>
          <div class="brk-testimonials-layered-horizontal__job font__family-open-sans letter-spacing-20">Client from Twitter</div>
          <div class="brk-testimonials-layered-horizontal__comment font__family-open-sans">With ToDoist, you'll find fewer tasks falling through the cracks. And you'll be able to see exactly who is working
            on what project, and whether that person has the capacity to handle more.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-layered-horizontal__item text-center">
          <div class="brk-testimonials-layered-horizontal__photo lazyload" 
          data-bg="@@if(context.demo){img/126x126_2.jpg}@@if(!context.demo){img/people/pexels-photo-274595.jpeg}"></div>
          <div class="brk-testimonials-layered-horizontal__name font__family-montserrat font__weight-bold">Anna Jonson</div>
          <div class="brk-testimonials-layered-horizontal__job font__family-open-sans letter-spacing-20">Client from Google</div>
          <div class="brk-testimonials-layered-horizontal__comment font__family-open-sans">Are you feeling overwhelmed by all the tasks you carry out as an entrepreneur? The reality is that you can automate
            more than you think. By taking advantage of the right tools, you can take tasks off your plate, automate the
            ones that remain and either delegate or eliminate tasks altogether -- to start working smarter -- not just harder.</div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="brk-testimonials-layered-horizontal__item text-center">
          <div class="brk-testimonials-layered-horizontal__photo lazyload" 
          data-bg="@@if(context.demo){img/126x126_3.jpg}@@if(!context.demo){img/people/pexels-photo-428341.jpeg}"></div>
          <div class="brk-testimonials-layered-horizontal__name font__family-montserrat font__weight-bold">Mike Paterson</div>
          <div class="brk-testimonials-layered-horizontal__job font__family-open-sans letter-spacing-20">Client from Yahoo</div>
          <div class="brk-testimonials-layered-horizontal__comment font__family-open-sans">Project-tracking can sometimes be arbitrary, and getting updates from team members can be like pulling teeth and
            hard to organize. Wouldn't you rather have your team members take the initiative?</div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-base-arrow-md button-prev">
    <i class="fas fa-long-arrow-alt-left"></i>
  </div>
  <div class="swiper-base-arrow-md button-next">
    <i class="fas fa-long-arrow-alt-right"></i>
  </div>
</div>