<div class="brk-sc-hexagon">
  <div class="brk-sc-hexagon__img-main">
    <img src="@@if(context.img){@@img}@@if(!context.img){img/400x400_1.jpg}" alt="" class="brk-sc-hexagon__main-img">
    <div class='@@if(context.light == "true"){brk-sc-hexagon__overlay-light}@@if(context.light != "true"){brk-sc-hexagon__overlay}'></div>
  </div>
  <div class="brk-sc-hexagon__angle-1">
    <img src="@@if(context.img){@@img}@@if(!context.img){img/400x400_1.jpg}" class="brk-sc-hexagon__add-img" alt="">
    <div class='@@if(context.light == "true"){brk-sc-hexagon__overlay-light}@@if(context.light != "true"){brk-sc-hexagon__overlay}'></div>
  </div>
  <div class="brk-sc-hexagon__angle-2">
    <img src="@@if(context.img){@@img}@@if(!context.img){img/400x400_1.jpg}" class="brk-sc-hexagon__add-img" alt="">
    <div class='@@if(context.light == "true"){brk-sc-hexagon__overlay-light}@@if(context.light != "true"){brk-sc-hexagon__overlay}'></div>
  </div>
  <div class="brk-sc-hexagon__angle-3">
    <img src="@@if(context.img){@@img}@@if(!context.img){img/400x400_1.jpg}" class="brk-sc-hexagon__add-img" alt="">
    <div class='@@if(context.light == "true"){brk-sc-hexagon__overlay-light}@@if(context.light != "true"){brk-sc-hexagon__overlay}'></div>
  </div>
  <div class="brk-sc-hexagon__angle-4">
    <img src="@@if(context.img){@@img}@@if(!context.img){img/400x400_1.jpg}" class="brk-sc-hexagon__add-img" alt="">
    <div class='@@if(context.light == "true"){brk-sc-hexagon__overlay-light}@@if(context.light != "true"){brk-sc-hexagon__overlay}'></div>
  </div>
</div>