<div class="brk-sc-honeycomb brk-sc-honeycomb_line" data-brk-library="component__shop_honeycomb">

  <div class="brk-sc-honeycomb-two">
    <div class="brk-sc-honeycomb-two__thumb"><img src="img/brk-honeycomb-1.png" alt="alt"></div>
    <div class="brk-sc-honeycomb-two__content d-flex flex-column justify-content-center text-center">
      <h4 class="brk-sc-honeycomb-two__title brk-white-font-color font__family-montserrat">Large Item Name Goes Here</h4>
      <div class="brk-sc-honeycomb-two__desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</div>
    </div>
    <div class="brk-sc-honeycomb-two__sticker brk-bg-primary font__family-montserrat">-40%</div>

    <a href="#" class="brk-sc-honeycomb-two__buy font__family-montserrat">
      <span class="price">$24.00</span>
      <span class="buy"><i class="fa fa-shopping-basket"></i> Buy</span>
    </a>

    <div class="brk-sc-honeycomb-two__layer brk-base-bg-1"></div>
    <div class="brk-sc-honeycomb-two__hex-1"></div>
    <div class="brk-sc-honeycomb-two__hex-2"></div>
  </div>

  <div class="brk-sc-honeycomb-two brk-sc-honeycomb-two_cell">
    <div class="brk-sc-honeycomb-two__thumb"><img src="img/brk-honeycomb-1.png" alt="alt"></div>
    <div class="brk-sc-honeycomb-two__content d-flex flex-column justify-content-center text-center">
      <h4 class="brk-sc-honeycomb-two__title brk-white-font-color font__family-montserrat">Large Item Name Goes Here</h4>
      <div class="brk-sc-honeycomb-two__desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</div>
    </div>
    <div class="brk-sc-honeycomb-two__sticker brk-bg-primary font__family-montserrat">SALE</div>

    <a href="#" class="brk-sc-honeycomb-two__buy font__family-montserrat">
      <span class="price">$24.00</span>
      <span class="buy"><i class="fa fa-shopping-basket"></i> Buy</span>
    </a>

    <div class="brk-sc-honeycomb-two__layer brk-base-bg-1"></div>
    <div class="brk-sc-honeycomb-two__hex-1"></div>
    <div class="brk-sc-honeycomb-two__hex-2"></div>
  </div>

  <div class="brk-sc-honeycomb-two">
    <div class="brk-sc-honeycomb-two__thumb"><img src="img/brk-honeycomb-1.png" alt="alt"></div>
    <div class="brk-sc-honeycomb-two__content d-flex flex-column justify-content-center text-center">
      <h4 class="brk-sc-honeycomb-two__title brk-white-font-color font__family-montserrat">Large Item Name Goes Here</h4>
      <div class="brk-sc-honeycomb-two__desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</div>
    </div>

    <a href="#" class="brk-sc-honeycomb-two__buy font__family-montserrat">
      <span class="price">$24.00</span>
      <span class="buy"><i class="fa fa-shopping-basket"></i> Buy</span>
    </a>

    <div class="brk-sc-honeycomb-two__layer brk-base-bg-1"></div>
    <div class="brk-sc-honeycomb-two__hex-1"></div>
    <div class="brk-sc-honeycomb-two__hex-2"></div>
  </div>

  <div class="brk-sc-honeycomb-two brk-sc-honeycomb-two_cell">
    <div class="brk-sc-honeycomb-two__thumb"><img src="img/brk-honeycomb-1.png" alt="alt"></div>
    <div class="brk-sc-honeycomb-two__content d-flex flex-column justify-content-center text-center">
      <h4 class="brk-sc-honeycomb-two__title brk-white-font-color font__family-montserrat">Large Item Name Goes Here</h4>
      <div class="brk-sc-honeycomb-two__desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</div>
    </div>

    <a href="#" class="brk-sc-honeycomb-two__buy font__family-montserrat">
      <span class="price">$24.00</span>
      <span class="buy"><i class="fa fa-shopping-basket"></i> Buy</span>
    </a>

    <div class="brk-sc-honeycomb-two__layer brk-base-bg-1"></div>
    <div class="brk-sc-honeycomb-two__hex-1"></div>
    <div class="brk-sc-honeycomb-two__hex-2"></div>
  </div>

  <div class="brk-sc-honeycomb-two">
    <div class="brk-sc-honeycomb-two__thumb"><img src="img/brk-honeycomb-1.png" alt="alt"></div>
    <div class="brk-sc-honeycomb-two__content d-flex flex-column justify-content-center text-center">
      <h4 class="brk-sc-honeycomb-two__title brk-white-font-color font__family-montserrat">Large Item Name Goes Here</h4>
      <div class="brk-sc-honeycomb-two__desc">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu.</div>
    </div>
    <div class="brk-sc-honeycomb-two__sticker brk-bg-primary font__family-montserrat">SALE</div>

    <a href="#" class="brk-sc-honeycomb-two__buy font__family-montserrat">
      <span class="price">$24.00</span>
      <span class="buy"><i class="fa fa-shopping-basket"></i> Buy</span>
    </a>

    <div class="brk-sc-honeycomb-two__layer brk-base-bg-1"></div>
    <div class="brk-sc-honeycomb-two__hex-1"></div>
    <div class="brk-sc-honeycomb-two__hex-2"></div>
  </div>

</div>