<a href="#" class="brk-tilter brk-tilter--8" data-brk-library="component__image_caption">
  <figure class="brk-tilter__figure">
    <img class="brk-tilter__image" src="img/370x500_1.jpg" alt="img15">
    <div class="brk-tilter__deco brk-tilter__deco--shine"></div>
    <div class="brk-tilter__deco brk-tilter__deco--overlay brk-base-bg-gradient-bottom-blue"></div>
    <figcaption class="brk-tilter__caption">
      <h3 class="brk-tilter__title font__family-playfair font__size-42 font__weight-bold line__height-42 text-center">Some Title Here</h3>
      <h4 class="brk-tilter__subtitle font__family-montserrat font__size-16 font__weight-light line__height-18 text-center letter-spacing-100">SUBTITLE</h4>
    </figcaption>
    <span class="brk-tilter__deco brk-tilter__deco--lines"></span>
  </figure>
</a>