<div class="brk-ic-left-slide" data-brk-library="component__image_caption_css">
  <img src="@@if(context.img){@@img}@@if(!context.img){img/570x400_4.jpg}" alt="alt" class="brk-ic-left-slide__img" />
  <div class="brk-ic-left-slide__overlay brk-base-bg-gradient-9"></div>
  <div class="brk-ic-left-slide__wrapper brk-ic-left-slide__wrapper_btn-left">
    <h3 class="brk-ic-left-slide__title brk-ic-left-slide__title_video line__height-21">
      <span class="font__family-montserrat font__weight-semibold font__size-21 letter-spacing--60  uppercase">Who we are</span>
      <br>
      <span class="brk-ic-left-slide__title__link  font__family-open-sans font__size-16 font__weight-normal line__height-21 brk-blue-font-color">view the video</span>
    </h3>
  </div>
  <button class="icon__btn icon__btn_ icon__btn-anim icon__btn-md brk-ic-left-slide__btn brk-ic-left-slide__btn_left brk-ic-left-slide__btn_reverse" data-brk-library="component__button">
    <span class="before"></span>
    <i class="fas fa-play"></i>
    <span class="after"></span>
  </button>
</div>