<div class="brk-ic-left-slide @@if(context.customClass){@@customClass}" data-brk-library="component__image_caption_css">
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img){@@img}@@if(!context.img){img/570x400_2.jpg}"
    alt="alt" class="brk-ic-left-slide__img lazyload" />
  <div class="brk-ic-left-slide__overlay brk-base-bg-gradient-7-transperent"></div>
  <div class="brk-ic-left-slide__wrapper brk-ic-left-slide__wrapper_vertical-line">
    <h3 class="brk-ic-left-slide__title font__size-21 line__height-24 @@if(!context.borderColor){brk-bl-color-2}@@if(context.borderColor){@@borderColor}">
      <span class="font__family-montserrat font__weight-normal uppercase">
        @@if(context.title){@@title}@@if(!context.title){Make business with us}
      </span>
      <br>
      <span class="font__family-montserrat font__weight-bold uppercase letter-spacing--20">
        @@if(context.subTitle){@@subTitle}@@if(!context.subTitle){& become beautiful}
      </span>
    </h3>
  </div>
  <button class="icon__btn icon__btn_reverse icon__btn-anim icon__btn-md brk-ic-left-slide__btn" data-brk-library="component__button">
    <span class="before"></span>
    <i class="far fa-angle-right" aria-hidden="true"></i>
    <span class="after"></span>
  </button>
</div>