
	<div class="bg__style overlay__gradient pt-100 pb-100 @@if(context.customClass){@@customClass}" style="background-image: url(img/bg-full_2.jpg);">
		<span class="overlay_after brk-base-bg-gradient-40-no-opacity"></span>
		<div class="container all-light">
			<div class="row row-no-gutter align-items-center">
				<div class="col-xl-6 order-xl-1">
					<div class="mobile-case-3" style="background-image: url(img/app-case-3.png)">
						<div class="mobile-bg"
						     style="background: url(img/app-inside-3.jpg) center center no-repeat; background-size: cover;"></div>
					</div>
				</div>

				<div class="col-md-6 col-xl-3">
					<div class="text-xl-left text-center z-index-high mt-50 wow fadeInLeft">
						<div class="inline-wrap inline-wrap-second align-items-start">
							<span class="circle-number mb-20 mr-xl-30 ml-auto mr-auto">01</span>
							<div>
								<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Find the App</h4>
								<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
									amet, consectetuer</p>
							</div>
						</div>
					</div>
					<div class="text-xl-left  text-center z-index-high mt-50 wow fadeInLeft">
						<div class="inline-wrap inline-wrap-second align-items-start">
							<span class="circle-number mb-20 mr-xl-30 ml-auto mr-auto">02</span>
							<div>
								<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Join to Us</h4>
								<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
									amet, consectetuer</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 col-xl-3 order-xl-2">
					<div class="text-xl-right text-center z-index-high mt-50 wow fadeInRight">
						<div class="inline-wrap inline-wrap-second align-items-start">
							<span class="circle-number order-lg-1 mb-20 ml-xl-30 ml-auto mr-auto">03</span>
							<div>
								<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Setup App</h4>
								<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
									amet, consectetuer</p>
							</div>
						</div>
					</div>
					<div class="text-xl-right text-center z-index-high mt-50 wow fadeInRight">
						<div class="inline-wrap inline-wrap-second align-items-start">
							<span class="circle-number order-lg-1 mb-20 ml-xl-30 ml-auto mr-auto">04</span>
							<div>
								<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Enjoy App</h4>
								<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-20">Lorem ipsum dolor sit
									amet, consectetuer</p>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
