	<div class="container mt-70 mt-md-150">
		<div class="row">
			<div class="col-xl-4 order-xl-1">
				<div class="mobile-case-2">
					<div class="mobile-bg" style="background: url(img/app-inside-2.jpg) center center;"></div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="text-xl-left text-center mt-50 mt-lg-140 wow fadeInLeft">
					<div class="app-dot-line left">
						<span class="dot"><span class="line"></span></span>
						<h2 class="font__family-montserrat font__size-124 font__weight-light text-blue">01</h2>
					</div>
					<div class="mt-10 ml-10">
						<h4 class="font__family-montserrat font__size-24 font__weight-light line__height-30 text-uppercase">We Build
							Amazing</h4>
						<h4 class="font__family-montserrat font__size-24 font__weight-bold line__height-30 text-uppercase">
							Projects</h4>
					</div>
				</div>
				<div class="text-xl-left text-center mt-50 mt-lg-140 wow fadeInLeft">
					<div class="app-dot-line left">
						<span class="dot"><span class="line"></span></span>
						<h2 class="font__family-montserrat font__size-124 font__weight-light text-blue">03</h2>
					</div>
					<div class="mt-10 ml-10">
						<h4 class="font__family-montserrat font__size-24 font__weight-light line__height-30 text-uppercase">We Build
							Amazing</h4>
						<h4 class="font__family-montserrat font__size-24 font__weight-bold line__height-30 text-uppercase">
							Projects</h4>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4 order-xl-2">
				<div class="text-xl-right text-center mt-50 mt-xl-0 wow fadeInRight">
					<div class="app-dot-line right">
						<span class="dot"><span class="line"></span></span>
						<h2 class="font__family-montserrat font__size-124 font__weight-light text-blue">02</h2>
					</div>
					<div class="mt-10 ml-10">
						<h4 class="font__family-montserrat font__size-24 font__weight-light line__height-30 text-uppercase">We Build
							Amazing</h4>
						<h4 class="font__family-montserrat font__size-24 font__weight-bold line__height-30 text-uppercase">
							Projects</h4>
					</div>
				</div>
				<div class="text-xl-right text-center mt-50 mt-lg-140 wow fadeInRight">
					<div class="app-dot-line right">
						<span class="dot"><span class="line"></span></span>
						<h2 class="font__family-montserrat font__size-124 font__weight-light text-blue">04</h2>
					</div>
					<div class="mt-10 ml-10">
						<h4 class="font__family-montserrat font__size-24 font__weight-light line__height-30 text-uppercase">We Build
							Amazing</h4>
						<h4 class="font__family-montserrat font__size-24 font__weight-bold line__height-30 text-uppercase">
							Projects</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
