<div class="brk-map @@if(context.customClass){@@customClass}" data-height="520" data-brk-library="component__map">

  <div class="brk-map__section">
    <div class="brk-map__canvas @@if(context.canvasCustomClass){@@canvasCustomClass}"
      data-address="412 Throop Ave, Brooklyn, NY 11221, USA"
      data-zoom="13"
      data-type="roadmap"
      data-marker="img/gm-1.png"
      data-offset-lat="0.0047"
      data-style="silver"
			data-lat="40.6898297"
			data-lng="-73.94250620000003">
    </div>
  </div>

  <div class="brk-map__infoicon brk-map__infoicon_layout-one text-center">
    <span class="marker">
      <img src="img/gm-1.png" alt="alt">
    </span>

    <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-22">Chicago, USA</h4>

    <div class="brk-map__infoicon--text">
      <ul class="font__size-15 line__height-21">
        <li class="brk-dark-font-color">
          <i class="fas fa-phone brk-text-black"></i>
          <a href="tel:8800123456789">8 800 123 456 789</a>
        </li>
        <li class="brk-dark-font-color">
          <i class="far fa-clock brk-text-black"></i>
          <span>Mon - Sat 8:00 - 18:00<br>Sunday CLOSED</span>
        </li>
      </ul>
    </div>

    <a href="#" class="btn border-radius-25 font__family-open-sans font__weight-bold btn-inside-out" data-brk-library="component__button">
      <span class="before">Get directions</span>
      <span class="text">Get directions</span>
      <span class="after">Get directions</span>
    </a>
  </div>
</div>