<div class="brk-map" data-height="506" data-brk-library="component__map">

  <div class="brk-map__section">
    <div class="brk-map__canvas" data-address="412 Throop Ave, Brooklyn, NY 11221, USA" data-zoom="13" data-type="roadmap" data-marker="img/gm-2.png"
      data-offset-lat="-0.0112" data-offset-lng="" data-style="dark">
    </div>
  </div>

  <div class="brk-map__infoicon brk-map__infoicon_layout-two text-center" style="background-image: url(img/gm-bg-1.jpg)">
    <span class="marker">
      <img src="img/gm-2.png" alt="alt">
    </span>

    <div class="brk-map__infoicon--text">
      <h4 class="font__family-montserrat font__weight-bold font__size-21 line__height-22">Chicago, USA</h4>
      <p class="font__family-playfair font__size-16 line__height-24">Working hours
        <br> Mon - Sat 8.00 - 18.00
        <br> Sunday CLOSED</p>
      <a class="font__family-playfair font__size-16 line__height-24" href="#">View on Google maps</a>
    </div>
  </div>
</div>