<div class="brk-map" data-height="534" data-brk-library="component__map">

  <div class="brk-map__section">
    <div class="brk-map__canvas" data-address="412 Throop Ave, Brooklyn, NY 11221, USA" data-zoom="13" data-type="roadmap"
      data-marker="" data-offset-lat="" data-offset-lng="" data-style="dark">
    </div>
  </div>

  <div class="brk-map__infoicon brk-map__infoicon_layout-four">
    <div class="brk-map__infoicon--text text-left">
      <h4 class="font__family-montserrat font__weight-light font__size-32 line__height-34 text-uppercase">We are
        <br>
        <span class="font__weight-bold">here</span>
      </h4>
      <ul class="font__size-16 line__height-21 text-uppercase mt-10">
        <li>
          <i class="fa fa-phone"></i>
          <a href="tel:8800123456789">8 800 123 456 789</a>
        </li>
        <li>
          <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
          <span>71 Pilgrim Avenue Chevy Chase, MD 20815</span>
        </li>
      </ul>
    </div>
  </div>
</div>