		<div class="rotate-slider" data-brk-library="slider__rotator">
			<div class="rotate-container">
				<div class="rotate-slid lazyload" data-bg="@@if(context.bg_1){@@bg_1}@@if(!context.bg_1){img/872x484_2.jpg}" data-brk-library="component__content_slider">
					<div class="rotate-slid__over brk-base-bg-gradient-50deg-b">
						<div class="rotate-slid__content">
							<h4 class="font__family-montserrat font__weight-bold font__size-28">Some Title</h4>
							<p class="font__family-open-sans font__size-16 line__height-26">Aenean vulputate eleifend tellus. Renean
								leo ligula, porttitor euequat vitae, eleifend ac, enim.</p>
						</div>
					</div>
				</div>

				<div class="rotate-slid lazyload" data-bg="@@if(context.bg_2){@@bg_2}@@if(!context.bg_2){img/872x484_3.jpg}" data-brk-library="component__content_slider">

				</div>

				<div class="rotate-slid lazyload" data-bg="@@if(context.bg_3){@@bg_3}@@if(!context.bg_3){img/872x484_4.jpg}" data-brk-library="component__content_slider">
					<div class="rotate-slid__over brk-base-bg-gradient-10deg">
						<div class="rotate-slid__content">
							<h4 class="font__family-montserrat font__weight-bold font__size-28">Some Title</h4>
							<p class="font__family-open-sans font__size-16 line__height-26">Aenean vulputate eleifend tellus. Renean
								leo ligula, porttitor euequat vitae, eleifend ac, enim.</p>
						</div>
					</div>
				</div>

				<div class="rotate-slid lazyload" data-bg="@@if(context.bg_4){@@bg_4}@@if(!context.bg_4){img/872x484_1.jpg}" data-brk-library="component__content_slider">

				</div>
			</div>
		</div>
		<div class="svg-hidden">
			<svg>
				<defs>
					<clipPath id="slideClip">
						<path d=" "/>
					</clipPath>
				</defs>
			</svg>
		</div>