		<div class="default-slider slick-loading default-slider_mode arrows-classic-dark-circle brk-base-box-shadow fa-req"
		     data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows": true, "responsive": [
{"breakpoint": 992, "settings": {"slidesToShow": 3}},
{"breakpoint": 768, "settings": {"slidesToShow": 2}},
{"breakpoint": 480, "settings": {"slidesToShow": 1}}
]}' data-brk-library="slider__slick">
			<div class="pl-15 pr-15">
				<div class="shop-setout text-center" data-brk-library="component__content_slider">
					<div class="shop-setout__img lazyload" data-bg="img/260x322_1.jpg">
						<a href="#" class="add-cart"><i class="fas fa-shopping-basket"></i></a>
						<a href="#" class="add-wishlist"><i class="fas fa-star"></i></a>
					</div>

					<a class="shop-setout__link" href="#"><h3 class="font__family-montserrat font__weight-semibold font__size-16">
						Premium Quality</h3></a>
					<div class="brk-base-font-color font__family-montserrat font__size-15 font__weight-semibold"><span
						class="old-price font__size-15 font__weight-normal">$10.57</span>$8.61
					</div>
				</div>
			</div>
			<div class="pl-15 pr-15">
				<div class="shop-setout text-center" data-brk-library="component__content_slider">
					<div class="shop-setout__img lazyload" data-bg="img/260x322_2.jpg">
						<a href="#" class="add-cart"><i class="fas fa-shopping-basket"></i></a>
						<a href="#" class="add-wishlist"><i class="fas fa-star"></i></a>
					</div>

					<a href="#" class="shop-setout__link"><h3 class="font__family-montserrat font__weight-semibold font__size-16">
						Amazing Design</h3></a>
					<div class="brk-base-font-color font__family-montserrat font__size-15 font__weight-semibold"><span
						class="old-price font__size-15 font__weight-normal">$10.57</span>$8.61
					</div>
				</div>
			</div>
			<div class="pl-15 pr-15">
				<div class="shop-setout text-center" data-brk-library="component__content_slider">
					<div class="shop-setout__img lazyload" data-bg="img/260x322_3.jpg">
						<a href="#" class="add-cart"><i class="fas fa-shopping-basket"></i></a>
						<a href="#" class="add-wishlist"><i class="fas fa-star"></i></a>
					</div>

					<a href="#" class="shop-setout__link"><h3 class="font__family-montserrat font__weight-semibold font__size-16">
						Mobile Friendly</h3></a>
					<div class="brk-base-font-color font__family-montserrat font__size-15 font__weight-semibold"><span
						class="old-price font__size-15 font__weight-normal">$10.57</span>$8.61
					</div>
				</div>
			</div>
			<div class="pl-15 pr-15">
				<div class="shop-setout text-center" data-brk-library="component__content_slider">
					<div class="shop-setout__img lazyload" data-bg="img/260x322_4.jpg">
						<a href="#" class="add-cart"><i class="fas fa-shopping-basket"></i></a>
						<a href="#" class="add-wishlist"><i class="fas fa-star"></i></a>
					</div>

					<a href="#" class="shop-setout__link"><h3 class="font__family-montserrat font__weight-semibold font__size-16">
						SEO Optimized</h3></a>
					<div class="brk-base-font-color font__family-montserrat font__size-15 font__weight-semibold"><span
						class="old-price font__size-15 font__weight-normal">$10.57</span>$8.61
					</div>
				</div>
			</div>
			<div class="pl-15 pr-15">
				<div class="shop-setout text-center" data-brk-library="component__content_slider">
					<div class="shop-setout__img lazyload" data-bg="img/260x322_3.jpg">
						<a href="#" class="add-cart"><i class="fas fa-shopping-basket"></i></a>
						<a href="#" class="add-wishlist"><i class="fas fa-star"></i></a>
					</div>

					<a href="#" class="shop-setout__link"><h3 class="font__family-montserrat font__weight-semibold font__size-16">
						Mobile Friendly</h3></a>
					<div class="brk-base-font-color font__family-montserrat font__size-15 font__weight-semibold"><span
						class="old-price font__size-15 font__weight-normal">$10.57</span>$8.61
					</div>
				</div>
			</div>
		</div>