		<div class="default-slider slick-loading arrows-classic-dark-square fa-req" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows": true, "responsive": [
{"breakpoint": 992, "settings": {"slidesToShow": 3}},
{"breakpoint": 768, "settings": {"slidesToShow": 2}},
{"breakpoint": 480, "settings": {"slidesToShow": 1}}
]}' data-brk-library="slider__slick">
			<div class="pl-15 pr-15">
				<div class="post-sqaure" style="background-image: url(img/263x409_1.jpg)" data-brk-library="component__content_slider">
					<h3 class="post-sqaure__title font__family-oxygen font__weight-light font__size-21 line__height-26">7 Signs
						Your Website is Boring</h3>

					<button	class="post-sqaure__btn btn btn-md-1 border-radius-0 font__family-montserrat font__weight-light btn-inside-out letter-spacing--100" data-brk-library="component__button">
						<span class="before">Read More</span>
						<span class="text">Read More</span>
						<span class="after">Read More</span>
					</button>
				</div>
			</div>
			<div class="pl-15 pr-15">
				<div class="post-sqaure" style="background-image: url(img/263x409_2.jpg)" data-brk-library="component__content_slider">
					<h3 class="post-sqaure__title font__family-oxygen font__weight-light font__size-21 line__height-26">Why
						Creators Are Turning</h3>

					<button	class="post-sqaure__btn btn btn-md-1 border-radius-0 font__family-montserrat font__weight-light btn-inside-out letter-spacing--100" data-brk-library="component__button">
						<span class="before">Read More</span>
						<span class="text">Read More</span>
						<span class="after">Read More</span>
					</button>
				</div>
			</div>
			<div class="pl-15 pr-15">
				<div class="post-sqaure" style="background-image: url(img/263x409_3.jpg)" data-brk-library="component__content_slider">
					<h3 class="post-sqaure__title font__family-oxygen font__weight-light font__size-21 line__height-26">Aquatic:
						Stock Photography</h3>

					<button	class="post-sqaure__btn btn btn-md-1 border-radius-0 font__family-montserrat font__weight-light btn-inside-out letter-spacing--100" data-brk-library="component__button">
						<span class="before">Read More</span>
						<span class="text">Read More</span>
						<span class="after">Read More</span>
					</button>
				</div>
			</div>
			<div class="pl-15 pr-15">
				<div class="post-sqaure" style="background-image: url(img/263x409_4.jpg)" data-brk-library="component__content_slider">
					<h3 class="post-sqaure__title font__family-oxygen font__weight-light font__size-21 line__height-26">Some news
						title goes here</h3>

					<button	class="post-sqaure__btn btn btn-md-1 border-radius-0 font__family-montserrat font__weight-light btn-inside-out letter-spacing--100" data-brk-library="component__button">
						<span class="before">Read More</span>
						<span class="text">Read More</span>
						<span class="after">Read More</span>
					</button>
				</div>
			</div>
			<div class="pl-15 pr-15">
				<div class="post-sqaure" style="background-image: url(img/263x409_2.jpg)" data-brk-library="component__content_slider">
					<h3 class="post-sqaure__title font__family-oxygen font__weight-light font__size-21 line__height-26">Some news
						title goes here</h3>

					<button	class="post-sqaure__btn btn btn-md-1 border-radius-0 font__family-montserrat font__weight-light btn-inside-out letter-spacing--100" data-brk-library="component__button">
						<span class="before">Read More</span>
						<span class="text">Read More</span>
						<span class="after">Read More</span>
					</button>
				</div>
			</div>
		</div>