<a href="#" class="brk-tilter brk-tilter--7 brk_hover3d_1 @@if(context.customClass){@@customClass}" @@if(context.height){style="min-height:@@height"} data-brk-library="component__image_caption">
  <figure class="brk-tilter__figure">
    <img class="brk-tilter__image lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="@@if(context.img){@@img}@@if(!context.img){img/370x500_1.jpg}" alt="img13">
    <div class="brk-tilter__deco brk-tilter__deco--shine">
    </div>
    <div class="brk-tilter__deco brk-base-bg-gradient-0deg-a"></div>
    <figcaption class="brk-tilter__caption brk-tilter__caption--2">
      <h3 class="brk-tilter__title font__family-playfair font__size-42 font__weight-bold line__height-42 text-left">Some Title Here</h3>
      <h4 class="brk-tilter__subtitle font__family-montserrat font__size-16 font__weight-normal line__height-18 text-left">Subtitle</h4>
    </figcaption>
    <span class="brk-tilter__deco brk-tilter__deco--lines"></span>
  </figure>
</a>