<a href="#" class="brk-tilter brk_hover3d_2 brk-tilter--2" data-brk-library="component__image_caption">
  <figure class="brk-tilter__figure">
    <img class="brk-tilter__image lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-src="@@if(context.img){@@img}@@if(!context.img){img/370x500_1.jpg}" alt="img03" />
    <div class="brk-tilter__deco brk-tilter__deco--shine"></div>
    <div class="brk-tilter__deco @@if(context.overlay){@@overlay}@@if(!context.overlay){brk-base-bg-gradient-0deg-a}"></div>
    <figcaption class="brk-tilter__caption brk-tilter__caption--1">
      <h3 class="brk-tilter__title font__family-montserrat font__size-42 font__weight-normal line__height-42 text-left mb-15 letter-spacing--20">
        Some Title
        <br> Here</h3>
      <h4 class="brk-tilter__subtitle font__family-montserrat font__size-14 font__weight-medium line__height-16 text-left ">Category</h4>
      <p class="brk-tilter__description font__family-open-sans font__size-16 font__weight-light line__height-26 letter-spacing-20">
        Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend
      </p>
    </figcaption>
    <span class="brk-tilter__deco brk-tilter__deco--lines"></span>
  </figure>
</a>