<a href="#" class="brk-ip-angle brk-tilter @@if(context.customClass){@@customClass}" data-brk-library="component__image_caption">
  <figure class="brk-tilter__figure">
    <div class="brk-ip-angle__overlay brk-base-bg-gradient-0deg-a"></div>
    <img class="brk-ip-angle__img lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img){@@img}@@if(!context.img){img/370x500_1.jpg}" alt="alt">
    <figcaption class="brk-tilter__caption">
      <p class="brk-ip-angle__paragraph font__family-open-sans font__size-16 font-weight-light line__height-26 text-right letter-spacing-20">Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend</p>
    </figcaption>
    <div class="brk-ip-angle__content">
      <h4 class="brk-ip-angle__subtitle font__family-montserrat font__size-16 font__weight-light line__height-16 text-left brk-base-bg-gradient-50deg-a">
        @@if(context.subTitle){@@subTitle}@@if(!context.subTitle){SUBTITLE}
      </h4>
      <h3 class="brk-ip-angle__title font__family-montserrat font__size-32 font__weight-light line__height-42 text-left">
        @@if(context.title){@@title}@@if(!context.title){SOME TITLE}
      </h3>
    </div>
  </figure>
  <span class="brk-ip-angle__heart">
    <i class="far fa-heart" style="font-weight: 400 !important" aria-hidden="true"></i>
  </span>
</a>