<div class="brk-ic-left-slide brk-ic-left-slide__pointer @@if(context.customClass){@@customClass}" data-brk-library="component__image_caption_css">
  <a href="#" class="brk-ic-left-slide__link"></a>
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(!context.img){img/570x400_3.jpg}@@if(context.img){@@img}"
    alt="alt" class="brk-ic-left-slide__img lazyload @@if(context.grayscale === "true"){grayscale-100}"/>
  <div class="brk-ic-left-slide__overlay brk-base-bg-gradient-6-black"></div>
  <div class="brk-ic-left-slide__wrapper brk-ic-left-slide__wrapper_gradient brk-base-bg-gradient-50deg-a">
    <h3 class="brk-ic-left-slide__title font__size-21 line__height-28">
      <span class="font__family-montserrat font__weight-light">
        @@if(context.title){@@title}@@if(!context.title){Engaging, purposeful}
      </span>
      <br>
      <span class="font__family-montserrat font__weight-bold letter-spacing--20">
        @@if(context.subTitle){@@subTitle}@@if(!context.subTitle){& Creative}
      </span>
    </h3>
  </div>
</div>