<a href="#" class="brk-tilter brk_hover3d_4 brk-tilter--6 @@if(context.customClass){@@customClass}" data-brk-library="component__image_caption">
  <figure class="brk-tilter__figure">
    <img class="brk-tilter__image lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img){@@img}@@if(!context.img){img/370x500_1.jpg}" alt="img11">
    <div class="brk-tilter__deco brk-tilter__deco--shine"></div>
    <div class="brk-tilter__deco @@if(context.overlay){@@overlay}@@if(!context.overlay){brk-base-bg-gradient-10}"></div>
    <figcaption class="brk-tilter__caption">
      <h4 class="brk-tilter__subtitle @@if(context.subtitleCustomClass){@@subtitleCustomClass}@@if(!context.subtitleCustomClass){font__family-montserrat font__size-14 font__weight-medium line__height-16 letter-spacing-100}">@@if(context.subtitle){@@subtitle}@@if(!context.subtitle){Subtitle}</h4>
      <h3 class="brk-tilter__title @@if(context.titleCustomClass){@@titleCustomClass}@@if(!context.titleCustomClass){font__family-montserrat-alt font__size-34 font__weight-medium line__height-40 text-left}">@@if(context.title){@@title}@@if(!context.title){SOME TITLE HERE}</h3>
    </figcaption>
    <span class="brk-tilter__deco brk-tilter__deco--lines"></span>
  </figure>
</a>