<div class="brs-post brs-post_video" data-brk-library="component__blog_css">
  <div class="brs-post__video-container">
    <iframe src="https://player.vimeo.com/video/49072365" class="brs-post__video" allowfullscreen>
    </iframe>
  </div>
  <div class="brs-post__about">
    <div class="brs-post__information font__family-montserrat font__weight-semibold font__size-13 line__height-14">
      <a href="#" class="brs-post__date">
        <i class="far fa-clock brs-post__date-icon"></i>Aug 12, 17</a>
      <a href="#" class="brs-post__comments">
        <i class="far fa-comments brs-post__comments-icon"></i> 12</a>
    </div>
    <h2 class="brs-post__title font__family-montserrat font__size-24 font__weight-bold line__height-28 text-left">
      Some large title of Slider Post</h2>
    <a href="#" class="brs-post__more font__family-montserrat font__size-14 font__weight-normal line__height-26 text-left">Read More
    </a>
  </div>
</div>