
	<div class='@@if(context.bgPattern !== "true"){bg__style} overlay__gradient delimiter__trapezoid pt-sm-130 pt-50 pb-60 pb-sm-160 mt-80'
    @@if(context.bgImg){style="background-image: url(@@bgImg);"}
    @@if(!context.bgImg){style="background-image: url(img/bg-1920_1.jpg);"} data-brk-library="component__delimiters">
    <span class="overlay__delimiter-before">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 441" preserveAspectRatio="none">
        <defs>
            <style>.a6 {
	            fill: #fff;
	            fill-rule: evenodd;
            }</style>
        </defs>
        <path class="a6" d="M1920,441V341L0,441ZM0,0,1920,100V0Z"/>
      </svg>
    </span>

		<span class="overlay__delimiter-after brk-base-bg-gradient-90deg"></span>

		<div class="container container-xl all-light text-left">
			<div class="row align-items-center">

				<div class="col-md-3">
					<div class="text-center text-xl-left z-index-high">
						<div class="inline-wrap inline-wrap-second mb-10">
							<button class="icon__btn-anim icon__btn-center icon__btn-md_1 flex-lg-last ml-0 mt-0 mb-0 mr-10 font__size-36" data-brk-library="component__button">
								<i class="fal fa-magic" aria-hidden="true"></i>
							</button>
							<div><h4
								class="font__family-montserrat font__weight-regular font__size-14 line__height-24 letter-spacing-40 text-uppercase">
								Customizable <br>& Flexible.</h4></div>
						</div>
						<p class="font__family-opensans font__size-14 line__height-24">Lorem ipsum dolor sit amet, consectetuer
							piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="text-center text-xl-left z-index-high">
						<div class="inline-wrap inline-wrap-second mb-10">
							<button class="icon__btn-anim icon__btn-center icon__btn-md_1 flex-lg-last ml-0 mt-0 mb-0 mr-10 font__size-36" data-brk-library="component__button">
								<i class="fal fa-magic" aria-hidden="true"></i>
							</button>
							<div><h4
								class="font__family-montserrat font__weight-regular font__size-14 line__height-24 letter-spacing-40 text-uppercase">
								Smartly Coded <br>& Maintained.</h4></div>
						</div>
						<p class="font__family-opensans font__size-14 line__height-24">Lorem ipsum dolor sit amet, consectetuer
							piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="text-center text-xl-left z-index-high">
						<div class="inline-wrap inline-wrap-second mb-10">
							<button class="icon__btn-anim icon__btn-center icon__btn-md_1 flex-lg-last ml-0 mt-0 mb-0 mr-10 font__size-36" data-brk-library="component__button">
								<i class="fal fa-magic" aria-hidden="true"></i>
							</button>
							<div><h4
								class="font__family-montserrat font__weight-regular font__size-14 line__height-24 letter-spacing-40 text-uppercase">
								Free support <br>& updates</h4></div>
						</div>
						<p class="font__family-opensans font__size-14 line__height-24">Lorem ipsum dolor sit amet, consectetuer
							piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
					</div>
				</div>

				<div class="col-md-3">
					<div class="text-center text-xl-left z-index-high">
						<div class="inline-wrap inline-wrap-second mb-10">
							<button class="icon__btn-anim icon__btn-center icon__btn-md_1 flex-lg-last ml-0 mt-0 mb-0 mr-10 font__size-36" data-brk-library="component__button">
								<i class="fal fa-magic" aria-hidden="true"></i>
							</button>
							<div><h4
								class="font__family-montserrat font__weight-regular font__size-14 line__height-24 letter-spacing-40 text-uppercase">
								Boxed & Wide <br>Layouts</h4></div>
						</div>
						<p class="font__family-opensans font__size-14 line__height-24">Lorem ipsum dolor sit amet, consectetuer
							piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
