
	<div class="mt-50 pt-110 pb-110 overlay__white bg__style text-center" style="background-image: url(img/bg-1920_3.jpg);">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-6 col-lg-3">
					<div class="counter__wrapper-filled blue" data-brk-library="component__counter">
						<div class="counter-wrap">
							<svg>
								<circle	cx="93" cy="93" r="93"></circle>
							</svg>
							<div class="counter-tri"><span class="before"></span></div>
							<div data-count-speed="3000" data-count-from="0" data-count-to="98" data-count-max="390"
							     class="counter font__weight-light"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-light font__size-19 line__height-22 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="counter__wrapper-filled purple" data-brk-library="component__counter">
						<div class="counter-wrap">
							<svg>
								<circle	cx="93" cy="93" r="93"></circle>
							</svg>
							<div class="counter-tri"><span class="before"></span></div>
							<div data-count-speed="3000" data-count-from="0" data-count-to="972" data-count-max="2400"
							     class="counter font__weight-light"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-light font__size-19 line__height-22 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="counter__wrapper-filled pink" data-brk-library="component__counter">
						<div class="counter-wrap">
							<svg>
								<circle	cx="93" cy="93" r="93"></circle>
							</svg>
							<div class="counter-tri"><span class="before"></span></div>
							<div data-count-speed="3000" data-count-from="0" data-count-to="972" data-count-max="1600"
							     class="counter font__weight-light"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-light font__size-19 line__height-22 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="counter__wrapper-filled aqua" data-brk-library="component__counter">
						<div class="counter-wrap">
							<svg>
								<circle	cx="93" cy="93" r="93"></circle>
							</svg>
							<div class="counter-tri"><span class="before"></span></div>
							<div data-count-speed="3000" data-count-from="0" data-count-to="1620" data-count-max="1800"
							     class="counter font__weight-light"></div>
						</div>
						<h4 class="font__family-montserrat font__weight-light font__size-19 line__height-22 mt-30">Some item title
							<br>goes here</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
