<article class="brk-team-mc lazyload @@if(context.colored){@@colored}@@if(!context.colored){brk-mc-light-blue}"
         data-bg="@@if(context.img){@@img}@@if(!context.img){img/270x414_1.jpg}"
         data-brk-library="component__team">
  <h4>
    <a href="#" class="font__family-montserrat font__weight-light font__size-24 line__height-26">
      @@if(context.title){@@title}
      @@if(!context.title){Mark Heffner}
    </a>
    <span class="font__family-montserrat font__weight-ultralight font__size-16 line__height-21">
      @@if(context.position){@@position}
      @@if(!context.position){Web Design}
    </span>
  </h4>

  <div class="brk-team-mc__content">
    <div class="mc-description font__family-open-sans font__size-16 line__height-26">Lorem ipsum dolor sit met,
      consecte dipiscing elit. Aenean commodo ligula eget dolor.
    </div>
    <ul class="mc-social">
      <li><span>Social:</span></li>
      <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
    </ul>
  </div>

  <div class="mc-btn-bg-action"><span></span></div>
  <button class="mc-btn-action"><i class="far fa-bars"></i></button>
</article>