<div class="brk-team-persone-table @@if(context.customClass){@@customClass}" data-brk-library="component__team">
  <div class="row no-gutters">
    <div class="col-lg-4 col-sm-6">
      <div class="brk-team-persone-table__item lazyload" data-bg="@@if(context.demo !== "true"){img/390x390_1.jpg}@@if(context.demo === "true"){img/390x390_1.jpg}">
      <span class="@@if(!context.overlay){brk-base-gradient-persone-table}@@if(context.overlay){@@overlay} brk-team-persone-table__overlay"></span>
      <div class="brk-team-persone-table__title @@if(context.primary !== "true"){brk-team-persone-table__title_dark}@@if(context.primary === "true"){brk-team-persone-table__title_primary}">
      <div class="brk-team-persone-table__name-position">
        <a href="#"><h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Leana
          K.A</h4></a>
        <span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Design</span>
      </div>
    </div>

    <ul class="brk-team-persone-table__contacts">
      <li>
        <i class="fa fa-phone" aria-hidden="true"></i>
        <a href="tel:88001234567">8 800 123 45 67</a>
      </li>
      <li>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <a href="mailto:admin@gmail.com">admin@gmail.com</a>
      </li>
      <li>
        <i class="fab fa-instagram" aria-hidden="true"></i>
        <a href="#">bernard.show</a>
      </li>
    </ul>

    <div class="brk-elev brk-elev-1"></div>
    <div class="brk-elev brk-elev-2"></div>
    <div class="brk-elev brk-elev-3"></div>
    <div class="brk-elev brk-elev-4"></div>
  </div>
</div>

<div class="col-lg-4 col-sm-6">
  <div class="brk-team-persone-table__item lazyload" data-bg="@@if(context.demo !== "true"){img/390x390_2.jpg}@@if(context.demo === "true"){img/390x390_2.jpg}">
  <span class="@@if(!context.overlay){brk-base-gradient-persone-table}@@if(context.overlay){@@overlay} brk-team-persone-table__overlay"></span>
  <div class="brk-team-persone-table__title brk-team-persone-table__title_white">
    <div class="brk-team-persone-table__name-position">
      <a href="#"><h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Samanta
        J.D</h4></a>
      <span
              class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Developer</span>
    </div>
  </div>

  <ul class="brk-team-persone-table__contacts">
    <li>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <a href="tel:88001234567">8 800 123 45 67</a>
    </li>
    <li>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <a href="mailto:admin@gmail.com">admin@gmail.com</a>
    </li>
    <li>
      <i class="fab fa-instagram" aria-hidden="true"></i>
      <a href="#">bernard.show</a>
    </li>
  </ul>

  <div class="brk-elev brk-elev-1"></div>
  <div class="brk-elev brk-elev-2"></div>
  <div class="brk-elev brk-elev-3"></div>
  <div class="brk-elev brk-elev-4"></div>
</div>
</div>

<div class="col-lg-4 col-sm-6">
  <div class="brk-team-persone-table__item lazyload" data-bg="@@if(context.demo !== "true"){img/390x390_3.jpg}@@if(context.demo === "true"){img/390x390_3.jpg}">
  <span class="@@if(!context.overlay){brk-base-gradient-persone-table}@@if(context.overlay){@@overlay} brk-team-persone-table__overlay"></span>
  <div class="brk-team-persone-table__title @@if(context.primary !== "true"){brk-team-persone-table__title_dark}@@if(context.primary === "true"){brk-team-persone-table__title_primary}">
  <div class="brk-team-persone-table__name-position">
    <a href="#"><h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Marry
      W.S</h4></a>
    <span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Director</span>
  </div>
</div>

<ul class="brk-team-persone-table__contacts">
  <li>
    <i class="fa fa-phone" aria-hidden="true"></i>
    <a href="tel:88001234567">8 800 123 45 67</a>
  </li>
  <li>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <a href="mailto:admin@gmail.com">admin@gmail.com</a>
  </li>
  <li>
    <i class="fab fa-instagram" aria-hidden="true"></i>
    <a href="#">bernard.show</a>
  </li>
</ul>

<div class="brk-elev brk-elev-1"></div>
<div class="brk-elev brk-elev-2"></div>
<div class="brk-elev brk-elev-3"></div>
<div class="brk-elev brk-elev-4"></div>
</div>
</div>

<div class="col-lg-4 col-sm-6">
  <div class="brk-team-persone-table__item lazyload" data-bg="@@if(context.demo !== "true"){img/390x390_4.jpg}@@if(context.demo === "true"){img/390x390_4.jpg}">
  <span class="@@if(!context.overlay){brk-base-gradient-persone-table}@@if(context.overlay){@@overlay} brk-team-persone-table__overlay"></span>
  <div class="brk-team-persone-table__title brk-team-persone-table__title_white">
    <div class="brk-team-persone-table__name-position">
      <a href="#"><h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Gerar
        Q.W</h4></a>
      <span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Design</span>
    </div>
  </div>

  <ul class="brk-team-persone-table__contacts">
    <li>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <a href="tel:88001234567">8 800 123 45 67</a>
    </li>
    <li>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <a href="mailto:admin@gmail.com">admin@gmail.com</a>
    </li>
    <li>
      <i class="fab fa-instagram" aria-hidden="true"></i>
      <a href="#">bernard.show</a>
    </li>
  </ul>

  <div class="brk-elev brk-elev-1"></div>
  <div class="brk-elev brk-elev-2"></div>
  <div class="brk-elev brk-elev-3"></div>
  <div class="brk-elev brk-elev-4"></div>
</div>
</div>

<div class="col-lg-4 col-sm-6">
  <div class="brk-team-persone-table__item lazyload" data-bg="@@if(context.demo !== "true"){img/390x390_5.jpg}@@if(context.demo === "true"){img/390x390_5.jpg}">
  <span class="@@if(!context.overlay){brk-base-gradient-persone-table}@@if(context.overlay){@@overlay} brk-team-persone-table__overlay"></span>
  <div class="brk-team-persone-table__title @@if(context.primary !== "true"){brk-team-persone-table__title_dark}@@if(context.primary === "true"){brk-team-persone-table__title_primary}">
  <div class="brk-team-persone-table__name-position">
    <a href="#"><h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Mark
      Heffner</h4></a>
    <span
            class="font__family-montserrat font__weight-light font__size-15 line__height-21">Mark Heffner</span>
  </div>
</div>

<ul class="brk-team-persone-table__contacts">
  <li>
    <i class="fa fa-phone" aria-hidden="true"></i>
    <a href="tel:88001234567">8 800 123 45 67</a>
  </li>
  <li>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <a href="mailto:admin@gmail.com">admin@gmail.com</a>
  </li>
  <li>
    <i class="fab fa-instagram" aria-hidden="true"></i>
    <a href="#">bernard.show</a>
  </li>
</ul>

<div class="brk-elev brk-elev-1"></div>
<div class="brk-elev brk-elev-2"></div>
<div class="brk-elev brk-elev-3"></div>
<div class="brk-elev brk-elev-4"></div>
</div>
</div>

<div class="col-lg-4 col-sm-6">
  <div class="brk-team-persone-table__item lazyload" data-bg="@@if(context.demo !== "true"){img/390x390_6.jpg}@@if(context.demo === "true"){img/390x390_6.jpg}">
  <span class="@@if(!context.overlay){brk-base-gradient-persone-table}@@if(context.overlay){@@overlay} brk-team-persone-table__overlay"></span>
  <div class="brk-team-persone-table__title brk-team-persone-table__title_white">
    <div class="brk-team-persone-table__name-position">
      <a href="#"><h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Bernard
        Show</h4></a>
      <span
              class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Developer</span>
    </div>
  </div>

  <ul class="brk-team-persone-table__contacts">
    <li>
      <i class="fa fa-phone" aria-hidden="true"></i>
      <a href="tel:88001234567">8 800 123 45 67</a>
    </li>
    <li>
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <a href="mailto:admin@gmail.com">admin@gmail.com</a>
    </li>
    <li>
      <i class="fab fa-instagram" aria-hidden="true"></i>
      <a href="#">bernard.show</a>
    </li>
  </ul>

  <div class="brk-elev brk-elev-1"></div>
  <div class="brk-elev brk-elev-2"></div>
  <div class="brk-elev brk-elev-3"></div>
  <div class="brk-elev brk-elev-4"></div>
</div>
</div>
</div>

<div class="ptable-top">
  <svg viewBox="0 0 1920 1">
    <line x1="0" y1="1" x2="1920" y2="1" stroke-dasharray="8" />
  </svg>    
</div>
<div class="ptable-bottom">
  <svg viewBox="0 0 1920 1">
    <line x1="0" y1="1" x2="1920" y2="1" stroke-dasharray="8" />
  </svg>    
</div>
<div class="ptable-right">
  <svg viewBox="0 0 1 1920">
    <line x1="1" y1="0" x2="1" y2="1920" stroke-dasharray="8" />
  </svg>    
</div>
<div class="ptable-left">
  <svg viewBox="0 0 1 1920">
    <line x1="1" y1="0" x2="1" y2="1920" stroke-dasharray="8" />
  </svg>
</div>
</div>
