<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
  <div class="brk-team-persone-circle__name-position">
    <a href="#">
      <h4 class="font__family-montserrat font__weight-bold font__size-18">@@if(context.title){@@title}</h4>
    </a>
    <span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">@@if(context.secondary){@@secondary}</span>
  </div>
  <div class="brk-team-persone-circle__bg lazyload" data-bg="@@if(context.img){@@img}">
    <span class="brk-team-persone-circle__bg-overlay">
      <span class="before @@if(!context.overlay){brk-base-bg-gradient-90deg}@@if(context.overlay){@@overlay}"></span>
      <svg viewBox="0 0 270 37">
        <path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" />
      </svg>
    </span>
    <ul class="brk-team-persone-circle__contacts">
      <li>
        <i class="fas fa-phone" aria-hidden="true"></i>
        <a href="tel:88001234567">8 800 123 45 67</a>
      </li>
      <li>
        <i class="far fa-envelope" aria-hidden="true"></i>
        <a href="mailto:admin@gmail.com">admin@gmail.com</a>
      </li>
      <li>
        <i class="fab fa-instagram" aria-hidden="true"></i>
        <a href="#">bernard.show</a>
      </li>
      <li>
        <i class="fab fa-skype" aria-hidden="true"></i>
        <a href="#">skype.show</a>
      </li>
    </ul>
  </div>
  <div class="brk-team-persone-circle__social-links">
    <ul>
      <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</article><!-- .brk-team-persone-circle -->