<div class="brk-team-strict @@if(context.colored === "true"){brk-team-strict_colored} lazyload" data-bg="@@if(!context.img){img/270x414_1.jpg}@@if(context.img){@@img}" data-brk-library="component__team">
  <a href="#"><h3 class="brk-team-strict__name font__family-montserrat font__weight-semibold font__size-21">
    @@if(context.title){@@title}@@if(!context.title){Leana K.A}
  </h3></a>
  <div class="brk-team-strict__social">
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-google-plus-g"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
    <a href="#"><i class="fab fa-vimeo-v"></i></a>
  </div>
</div>