<div class="container">

	<div class="default-slider slick-loading arrows-classic-dark fa-req" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "arrows": true,
"responsive": [
{"breakpoint": 992, "settings": {"slidesToShow": 3}},
{"breakpoint": 768, "settings": {"slidesToShow": 2}},
{"breakpoint": 480, "settings": {"slidesToShow": 1}}
], "autoplay": true, "autoplaySpeed": 3000}'
       data-brk-library="slider__slick">
		<div class="pl-15 pr-15">
			<div class="brk-team-strict" data-brk-library="component__team" style="background-image: url(img/270x414_1.jpg)">
				<a href="#"><h3 class="brk-team-strict__name font__family-montserrat font__weight-semibold font__size-21">Leana
					K.A</h3></a>
				<div class="brk-team-strict__social">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-vimeo-v"></i></a>
					<a href="#"><i class="fab fa-vk"></i></a>
				</div>
			</div>
		</div>
		<div class="pl-15 pr-15">
			<div class="brk-team-strict" data-brk-library="component__team" style="background-image: url(img/270x414_2.jpg)">
				<a href="#"><h3 class="brk-team-strict__name font__family-montserrat font__weight-semibold font__size-21">
					Samanta J.D</h3></a>
				<div class="brk-team-strict__social">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-vimeo-v"></i></a>
					<a href="#"><i class="fab fa-vk"></i></a>
				</div>
			</div>
		</div>
		<div class="pl-15 pr-15">
			<div class="brk-team-strict" data-brk-library="component__team" style="background-image: url(img/270x414_3.jpg)">
				<a href="#"><h3 class="brk-team-strict__name font__family-montserrat font__weight-semibold font__size-21">Marry
					W.S</h3></a>
				<div class="brk-team-strict__social">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-vimeo-v"></i></a>
					<a href="#"><i class="fab fa-vk"></i></a>
				</div>
			</div>
		</div>
		<div class="pl-15 pr-15">
			<div class="brk-team-strict" data-brk-library="component__team" style="background-image: url(img/270x414_4.jpg)">
				<a href="#"><h3 class="brk-team-strict__name font__family-montserrat font__weight-semibold font__size-21">Gerar
					Q.W</h3></a>
				<div class="brk-team-strict__social">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-vimeo-v"></i></a>
					<a href="#"><i class="fab fa-vk"></i></a>
				</div>
			</div>
		</div>
		<div class="pl-15 pr-15">
			<div class="brk-team-strict" data-brk-library="component__team" style="background-image: url(img/270x414_5.jpg)">
				<a href="#"><h3 class="brk-team-strict__name font__family-montserrat font__weight-semibold font__size-21">Leana
					K.A</h3></a>
				<div class="brk-team-strict__social">
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
					<a href="#"><i class="fab fa-vimeo-v"></i></a>
					<a href="#"><i class="fab fa-vk"></i></a>
				</div>
			</div>
		</div>
	</div>

</div>