<div class="brk-animated-circle brk-animated-circle-1" style="left:@@if(context.left){@@left}@@if(!context.left){-70px};top:@@if(context.top){@@top}@@if(!context.top){200px}; right:@@if(context.right){@@right}@@if(!context.right){auto}; bottom:@@if(context.bottom){@@bottom}@@if(!context.bottom){auto}" data-brk-library="component__backgrounds_css">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="417" height="416" viewBox="0 0 417 416">
      <defs>
        <path id="@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-1}" d="M134.56 5718.66c114.7 0 207.67 92.98 207.67 207.67 0 114.7-92.98 207.67-207.67 207.67-114.7 0-207.67-92.98-207.67-207.67 0-114.7 92.98-207.67 207.67-207.67z"
        />
        <clipPath id="@@if(context.id2){@@id2}@@if(!context.id2){backgrounds-id-2}">
          <use fill="#fff" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-1}" />
        </clipPath>
      </defs>
      <g>
        <g opacity=".3" transform="translate(74 -5718)">
          <use fill="#fff" fill-opacity="0" stroke="#000" stroke-dasharray="0 16" stroke-linecap="round" stroke-miterlimit="50"
            stroke-width="4" clip-path="url(&quot;#@@if(context.id2){@@id2}@@if(!context.id2){backgrounds-id-2}&quot;)" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-1}" />
        </g>
      </g>
    </svg>

    <div class="brk-animated-circle__container">
      <span class="brk-animated-circle__dot-1"></span>
    </div>
  </div>