<div class="brk-backgrounds" data-brk-library="component__backgrounds_css,component__backgrounds_js">
  <canvas class="brk-backgrounds__canvas brk-playing-hexagons"
          data-hexagon-radius="50"
          data-hexagon-max-speed="0.05"
          data-hexagon-between="2"
          data-hexagon-line-width="1"
          data-hexagon-color="cyan"></canvas>

  <div class="brk-backgrounds__content">
    <div class="mt-70 mb-100">

      @@include('../../testimonials/templates/double.html')

    </div>
  </div>

</div>