<div class="brk-animated-circle brk-animated-circle-8" style="left:@@if(context.left){@@left}@@if(!context.left){auto};top:@@if(context.top){@@top}@@if(!context.top){auto};right:@@if(context.right){@@right}@@if(!context.right){auto}; bottom:@@if(context.bottom){@@bottom}@@if(!context.bottom){auto}" data-brk-library="component__backgrounds_css">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="569" height="452" viewBox="0 0 569 452">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-21-1}" d="M-400 5576c5.93-190.96 231.5-282.42 358.39-269.39C85.1 5319.62 209.89 5395.82 153 5620c-56.9 224.18-558.93 146.96-553-44z"
      />
      <linearGradient id="@@if(context.id2){@@id2}@@if(!context.id2){backgrounds-id-21-2}" x1="-400.05" x2="166.95" y1="5530.93" y2="5531.39" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="var(--brand-primary)" stop-opacity=".9" />
        <stop offset="1" stop-color="var(--secondary)" stop-opacity=".9" />
      </linearGradient>
    </defs>
    <g>
      <g transform="translate(401 -5305)">
        <use xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-21-1}" />
        <use fill="url(#@@if(context.id2){@@id2}@@if(!context.id2){backgrounds-id-21-2})" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-21-1}" />
      </g>
    </g>
  </svg>
</div>