<div class="brk-animated-circle brk-animated-circle-7" style="left:@@if(context.left){@@left}@@if(!context.left){auto};top:@@if(context.top){@@top}@@if(!context.top){auto};right:@@if(context.right){@@right}@@if(!context.right){auto}; bottom:@@if(context.bottom){@@bottom}@@if(!context.bottom){auto}" data-brk-library="component__backgrounds_css">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="436" height="408" viewBox="0 0 436 408">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-20-1}" d="M1990.07 5023.04c91.51 123.02 63.33 268.04-76.93 323.71-120.72 47.92-281.2-4.33-302.4-153.9-35.78-252.38 287.82-292.83 379.33-169.81z"
      />
      <linearGradient id="@@if(context.id2){@@id2}@@if(!context.id2){backgrounds-id-20-2}" x1="1825.98" x2="1824.99" y1="5363.99" y2="4955.99" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="var(--brand-primary)" stop-opacity=".9" />
        <stop offset="1" stop-color="var(--brk-base-5)" stop-opacity=".9" />
      </linearGradient>
    </defs>
    <g>
      <g transform="translate(-1607 -4956)">
        <use xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-20-1}" />
        <use fill="url(#@@if(context.id2){@@id2}@@if(!context.id2){backgrounds-id-20-2})" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-20-1}" />
      </g>
    </g>
  </svg>
</div>