<div class="brk-backgrounds" style="background-image: url(img/bg-img-parallax.jpg)" data-skrollr data-brk-library="assets_skrollr,component__backgrounds_css,component__backgrounds_js">
	<div class="brk-backgrounds__before brk-base-bg-light-dark"></div>
	<div class="brk-backgrounds__parallax">
		<div class="brk-backgrounds__parallax--bg-1" data-0="background-position:center 0px;" data-end="background-position:center -3000px;"></div>
		<div class="brk-backgrounds__parallax--bg-2" data-0="background-position:center 0px;" data-end="background-position:center -2000px;"></div>
	</div>

 	<div class="brk-backgrounds__content">

 		<div class="container mt-70 mb-70">

			@@include('../../testimonials/templates/layered-horizontal.html')

 		</div>

 	</div>
</div>