<div class="brk-backgrounds" style="background-image: url(img/gallary/1.jpg)" data-brk-library="component__button,component__backgrounds_css">
	<div class="brk-backgrounds__before brk-base-bg-gradient-16"></div>
	<div class="brk-backgrounds__impuls">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</div>

 	<div class="brk-backgrounds__content pt-40 pb-40">

		<div class="container mt-200 mb-200">
			<div class="row no-gutters align-items-center">
				<div class="col-lg-6 text-right">

					@@include('../../buttons/templates/buttons-backgrounds.html', {
					"class": "btn-backgrounds_white font__family-montserrat font__weight-bold text-uppercase font__size-13",
					"style": "margin-right: -27px;",
					"text": "",
					"tag": "button",
					"href": ""
					})

				</div>
				<div class="col-lg-6 text-left pl-50">
					<h4 class="font__family-roboto font__size-42 line__height-26 brk-white-font-color font__weight-semibold pt-15">Heading here</h4>
					<h3 class="font__family-roboto font__size-16 line__height-30 brk-white-font-color font__weight-light text-uppercase opacity-40">Some subtitle here</h3>
				</div>
			</div>
		</div>

 	</div>
</div>