<div class="brk-sc-simple-card" data-brk-library="component__shop_cards">
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@imgSrc" alt="alt" class="brk-sc-simple-card__img lazyload">
  <div class="brk-sc-simple-card__label brk-bg-primary">
    <span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase">new</span>
    <span class="brk-sc-simple-card__label-left-top-angle brk-bg-primary"></span>
    <span class="brk-sc-simple-card__label-left-bottom-angle brk-bg-primary"></span>
    <span class="brk-sc-simple-card__label-bottom-angle"></span>
  </div>
  <div class="brk-sc-simple-card__price brk-bg-primary font__family-open-sans font__size-14 line__height-14 text-uppercase">
    <span class="brk-sc-simple-card__price-old font__weight-light">$26.00</span>
    <span class="brk-sc-simple-card__price-currne font__weight-bold brk-white-font-color">$16.00</span>
    <a href="#" class="brk-sc-simple-card__link">
      <i class="far fa-plus"></i>
    </a>
  </div>
</div>