<section>
				<div class="bg__style overlay__gradient pt-100 pb-100" style="background-image: url(img/bg-full_1.jpg);" data-brk-library="component__button"><span class="brk-abs-bg-overlay brk-base-bg-gradient-2"></span>
					<div class="container all-light">
						<div class="row align-items-center">
							<div class="col-lg-4 order-lg-1">
								<div class="mobile-case-1" style="background: url(img/app-case-1.png)">
									<div class="mobile-bg" style="background: url(img/app-inside-1.jpg) center center;"></div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="text-lg-right text-center z-index-high mt-30 mt-lg-0 wow fadeInUp"><img src="img/arrow-pointer.png" class="arrow__pointer-top-left" alt="alt">
									<div class="inline-wrap inline-wrap-second"><button class="icon__btn icon__btn-anim icon__btn-center icon__btn-md_1 mr-lg-0 ml-lg-20 order-lg-1"><span class="after"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="before"></span> <i class="fal fa-magic" aria-hidden="true"></i></button>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Find the App</h4>
										</div>
									</div>
									<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-10">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
								</div>
								<div class="text-lg-right text-center z-index-high mt-30 wow fadeInUp"><img src="img/arrow-pointer.png" class="arrow__pointer-bottom-left" alt="alt">
									<div class="inline-wrap inline-wrap-second"><button class="icon__btn icon__btn-anim icon__btn-center icon__btn-md_1 mr-lg-0 ml-lg-20 order-lg-1"><span class="after"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="before"></span> <i class="fal fa-crosshairs" aria-hidden="true"></i></button>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Join to Us</h4>
										</div>
									</div>
									<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-10">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
								</div>
							</div>
							<div class="col-md-6 col-lg-4 order-lg-2">
								<div class="text-center text-lg-left z-index-high mt-30 mt-lg-0 wow fadeInUp" data-wow-delay="0.2s"><img src="img/arrow-pointer.png" class="arrow__pointer-top-right" alt="alt">
									<div class="inline-wrap inline-wrap-second"><button class="icon__btn icon__btn-anim icon__btn-center icon__btn-md_1 ml-lg-0 mr-lg-20"><span class="after"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="before"></span> <i class="fal fa-trophy" aria-hidden="true"></i></button>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Setup the App</h4>
										</div>
									</div>
									<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-10">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
								</div>
								<div class="text-center text-lg-left z-index-high mt-30 wow fadeInUp" data-wow-delay="0.2s"><img src="img/arrow-pointer.png" class="arrow__pointer-bottom-right" alt="alt">
									<div class="inline-wrap inline-wrap-second"><button class="icon__btn icon__btn-anim icon__btn-center icon__btn-md_1 ml-lg-0 mr-lg-20"><span class="after"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="before"></span> <i class="fal fa-coffee" aria-hidden="true"></i></button>
										<div>
											<h4 class="font__family-montserrat font__weight-light font__size-24 text-uppercase">Enjoy the App</h4>
										</div>
									</div>
									<p class="font__family-open-sans font__size-16 line__height-26 btk-white-font-color opacity-60 mt-10">Lorem ipsum dolor sit amet, consectetuer piscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penati.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>