<section>
<div class="pt-lg-100 pt-30 pb-lg-90 pb-30 bg__style overlay__gradient all-light text-center lazyload" data-bg="img/demo_freelance_blog/1920x900_1.jpg" data-brk-library="component__call_to_action">
	<div class="container"><i class="main-icon fa fa-trophy"></i>
	<h3 class="font__family-montserrat font__weight-light brk-white-font-color opacity-60">Put a plan into action</h3>
	<h2 class="font__family-montserrat font__weight-bold">Outsource a task Review the plan</h2><a href="javascript:void(0)" class="btn btn-lg border-radius-0 pl-60 pr-60 font__family-open-sans font__weight-bold btn-inside-out btn-inside-out-invert mt-50"><span class="before">Read More</span> <span class="text">Read More</span> <span class="after">Read More</span></a></div><span class="brk-abs-overlay bg-black opacity-80"></span>
</div>
</section>