<section class="pt-lg-100 pt-60 pb-lg-100 pb-70" id="portfolio">
				<div class="container">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-12 col-md-6">
							<div class="text-center mb-40 mb-lg-100">
								<h2 class="font__family-montserrat font__size-56 font__weight-ultralight line__height-60 mb-25">Our Portfolio</h2>
								<h3 class="brk-dark-font-color font__size-15 font__weight-normal line__height-24 title-lines-solid title-lines-main" data-brk-library="component__title"><span class="line" style="background:rgba(var(--brand-primary-rgb), 0.2)"></span> <span class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing<br>elit. Aenean commodo ligula eget dolor.</span> <span class="line" style="background:rgba(var(--brand-primary-rgb), 0.2)"></span></h3>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_1.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_1.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_2.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_2.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_3.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_3.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_4.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_4.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_5.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_5.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_6.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_6.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_7.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_7.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_8.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_8.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_9.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_9.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_10.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_10.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_11.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_11.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
						<div class="col-sm-3 col-12">
							<div class="brk-gallery-card brk-gallery-card_shadow" data-brk-library="component__gallery"><img src="img/demo_agency_modern/370x370_12.jpg" alt="alt" class="brk-gallery-card__img lazyload"> <a href="img/demo_agency_modern/370x370_12.jpg" data-fancybox="gallery" class="fancybox brk-gallery-card__overlay-full brk-bg-gradient-40deg-85-28 d-flex align-items-center justify-content-center"><i class="fas fa-plus font__size-36 brk-white-font-color"></i></a></div>
						</div>
					</div>
				</div>
			</section>