<section>
  	<div class="brk-header-mobile">
		<div class="brk-header-mobile__open brk-header-mobile__open_white"><span></span></div>
		<div class="brk-header-mobile__logo"><a href="javascript:void(0)"><img class="brk-header-mobile__logo-1" src="img/logo-2.png" alt="alt"> <img class="brk-header-mobile__logo-2" src="img/logo-dark-2.png" alt="alt"></a></div>
	</div>
	<header class="brk-header brk-header_style-1 brk-header_color-white brk-header_skin-1 position-fixed d-flex flex-column" data-logo-src="img/logo-dark-2.png" data-bg-mobile="img/brk-bg-mobile-menu.jpg" data-brk-library="component__header">
		<div class="brk-header__main-bar brk-header_border-bottom" style="height: 74px;
              background-color: rgba(0,0,0,.2)">
			<div class="container-fluid">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg align-self-lg-stretch pl-4">
						<div class="brk-header-popup-menu">
							<div class="brk-header-popup-menu__open-close font__family-montserrat font__weight-light font__size-14 letter-spacing-40">
								<div class="brk-open"><i class="fal fa-bars"></i> Menu</div>
								<div class="brk-close"><i class="fal fa-times"></i> Close</div>
							</div>
							<div class="brk-header-popup-menu__menu text-lg-center font__family-roboto font__weight-thin">
								<ul>
									<li><a href="javascript:void(0)">Portfolio</a></li>
									<li><a href="javascript:void(0)">About</a>
										<ul>
											<li><a href="javascript:void(0)">About 1</a></li>
											<li><a href="javascript:void(0)">About 2</a></li>
											<li><a href="javascript:void(0)">About 3</a></li>
										</ul>
									</li>
									<li><a href="javascript:void(0)">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg align-self-lg-center d-none d-lg-block">
						<div class="text-center"><a href="/" class="brk-header__logo brk-header__item"><img class="brk-header__logo-1 lazyload" src="img/logo-1.png" alt="alt"> <img class="brk-header__logo-2 lazyload" src="img/logo-dark-1.png" alt="alt"></a></div>
					</div>
					<div class="col-lg align-self-lg-stretch text-lg-right">
						<div class="brk-header__element brk-header__element_skin-1 brk-header__item"><a href="tel:88002003040" class="brk-header__element--wrap"><i class="fal fa-phone"></i></a></div>
						<div class="brk-social-links brk-header__item">
							<div class="brk-social-links__open"><i class="fal fa-share-alt"></i>
								<div class="brk-social-links__title">Share our website</div>
							</div>
							<div class="brk-social-links__block">
								<div class="brk-social-links__header"><span class="font__family-montserrat font__weight-bold font__size-18">Share our website</span></div>
								<div class="brk-social-links__content"><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-instagram" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-google-plus" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-youtube" aria-hidden="true"></i></a> <a href="javascript:void(0)"><i class="fab fa-vimeo-square" aria-hidden="true"></i></a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</section>