<section class="pt-70 pt-lg-35 pb-120" id="prices">
			<div class="text-center mb-lg-70 mb-40">
				<h4 class="font__family-montserrat font__weight-light font__size-28 line__height-30 mb-10 brk-base-font-color">Check our opportunities</h4>
				<h3 class="font__family-montserrat font__size-42 font__weight-bold line__height-46 mb-30">Start Pre-ICO & Get a Reward</h3>
				<p class="brk-dark-font-color font__family-montserrat font__size-15 font__weight-normal line__height-24">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo<br>ligula eget dolor. Aenean massa. Cum sociis natoque penatibus</p>
			</div>
			<div class="container">
				<div class="colored-slider swiper-container" data-brk-library="component__pricing_table,slider__swiper,component__button">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="brk-pricing-colored">
								<div class="brk-pricing-colored__layer lazyload" style="background-image: url(img/bg-patterns-12.png)">
									<div class="brk-pricing-colored__overlay brk-base-bg-gradient-50deg-a"></div>
									<div class="brk-pricing-colored__content text-center">
										<div class="brk-pricing-colored__title font__family-open-sans font__weight-bold">Gold Package</div>
										<div class="brk-pricing-colored__price"><span class="font__family-montserrat font__weight-ultralight">$134</span>
											<div class="period font__family-open-sans font__weight-bold">Per Month</div>
										</div>
										<div class="brk-pricing-colored__description font__family-open-sans">
											<ul>
												<li>Express Service</li>
												<li>Customs Clearance</li>
												<li>Time-Critical Services</li>
												<li>Assembly</li>
												<li>Re-distribution</li>
											</ul>
										</div><button class="brk-pricing-colored__btn btn font__family-open-sans font__weight-bold"><i class="fas fa-shopping-basket"></i> Buy now</button>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="brk-pricing-colored">
								<div class="brk-pricing-colored__layer lazyload" style="background-image: url(img/bg-patterns-12.png)">
									<div class="brk-pricing-colored__overlay brk-base-bg-gradient-50deg-a"></div>
									<div class="brk-pricing-colored__content text-center">
										<div class="brk-pricing-colored__title font__family-open-sans font__weight-bold">Gold Package</div>
										<div class="brk-pricing-colored__price"><span class="font__family-montserrat font__weight-ultralight">$134</span>
											<div class="period font__family-open-sans font__weight-bold">Per Month</div>
										</div>
										<div class="brk-pricing-colored__description font__family-open-sans">
											<ul>
												<li>Consolidation Services</li>
												<li>Express Service</li>
												<li>Warehousing & Distribution</li>
												<li>Time-Critical Services</li>
												<li>Temperature Control</li>
											</ul>
										</div><button class="brk-pricing-colored__btn btn font__family-open-sans font__weight-bold"><i class="fas fa-shopping-basket"></i> Buy now</button>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="brk-pricing-colored">
								<div class="brk-pricing-colored__layer lazyload" style="background-image: url(img/bg-patterns-12.png)">
									<div class="brk-pricing-colored__overlay brk-base-bg-gradient-50deg-a"></div>
									<div class="brk-pricing-colored__content text-center">
										<div class="brk-pricing-colored__title font__family-open-sans font__weight-bold">Gold Package</div>
										<div class="brk-pricing-colored__price"><span class="font__family-montserrat font__weight-ultralight">$134</span>
											<div class="period font__family-open-sans font__weight-bold">Per Month</div>
										</div>
										<div class="brk-pricing-colored__description font__family-open-sans">
											<ul>
												<li>Temperature Control</li>
												<li>E-commerce Solutions</li>
												<li>Express Service</li>
												<li>Direct service</li>
												<li>Rack Storage</li>
											</ul>
										</div><button class="brk-pricing-colored__btn btn font__family-open-sans font__weight-bold"><i class="fas fa-shopping-basket"></i> Buy now</button>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="brk-pricing-colored">
								<div class="brk-pricing-colored__layer lazyload" style="background-image: url(img/bg-patterns-12.png)">
									<div class="brk-pricing-colored__overlay brk-base-bg-gradient-50deg-a"></div>
									<div class="brk-pricing-colored__content text-center">
										<div class="brk-pricing-colored__title font__family-open-sans font__weight-bold">Gold Package</div>
										<div class="brk-pricing-colored__price"><span class="font__family-montserrat font__weight-ultralight">$134</span>
											<div class="period font__family-open-sans font__weight-bold">Per Month</div>
										</div>
										<div class="brk-pricing-colored__description font__family-open-sans">
											<ul>
												<li>Time-Critical Services</li>
												<li>Consolidation Services</li>
												<li>Customs Clearance</li>
												<li>Assembly, Re-distribution</li>
												<li>Express Service</li>
											</ul>
										</div><button class="brk-pricing-colored__btn btn font__family-open-sans font__weight-bold"><i class="fas fa-shopping-basket"></i> Buy now</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-base-arrow button-prev"><i class="fas fa-long-arrow-alt-left"></i></div>
					<div class="swiper-base-arrow button-next"><i class="fas fa-long-arrow-alt-right"></i></div>
				</div>
			</div>
		</section>