<section class="bg-cover bg-norepeat bg-position_center bg-white bg-shaded lazyload bg-shaded_dark parallax-bg" style="background-image: url(img/demo_freelance_blog/1920x600_1.jpg)" data-brk-library="component__progress_circle">
	<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6">
							<div class="chart__wrapper chart__wrapper_short chart-vertical align-items-center flex-row">
								<div class="chart mx-auto">
									<div class="chart__circle chart__circle_dark mb-25" data-valuenow="46" data-color="var(--brand-primary)" data-color-end="var(--secondary)"><span class="chart__circle-counter chart__circle-counter-over"><span class="percents">0</span>%</span>
										<div class="gradient">
											<div class="gradient-bg"></div><span class="font__family-montserrat font__size-42 font__weight-thin chart__circle-counter"><span class="percents">0</span>%</span>
										</div>
									</div>
									<h5 class="font__family-montserrat font__size-16 font__weight-light chart__title text-center brk-white-font-color">Hard Work</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="chart__wrapper chart__wrapper_short chart-vertical align-items-center flex-row">
								<div class="chart mx-auto">
									<div class="chart__circle chart__circle_dark mb-25" data-valuenow="90" data-color="var(--brand-primary)" data-color-end="var(--secondary)"><span class="chart__circle-counter chart__circle-counter-over"><span class="percents">0</span>%</span>
										<div class="gradient">
											<div class="gradient-bg"></div><span class="font__family-montserrat font__size-42 font__weight-thin chart__circle-counter"><span class="percents">0</span>%</span>
										</div>
									</div>
									<h5 class="font__family-montserrat font__size-16 font__weight-light chart__title text-center brk-white-font-color">Donates</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="chart__wrapper chart__wrapper_short chart-vertical align-items-center flex-row">
								<div class="chart mx-auto">
									<div class="chart__circle chart__circle_dark mb-25" data-valuenow="75" data-color="var(--brand-primary)" data-color-end="var(--secondary)"><span class="chart__circle-counter chart__circle-counter-over"><span class="percents">0</span>%</span>
										<div class="gradient">
											<div class="gradient-bg"></div><span class="font__family-montserrat font__size-42 font__weight-thin chart__circle-counter"><span class="percents">0</span>%</span>
										</div>
									</div>
									<h5 class="font__family-montserrat font__size-16 font__weight-light chart__title text-center brk-white-font-color">Hard Work</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6">
							<div class="chart__wrapper chart__wrapper_short chart-vertical align-items-center flex-row">
								<div class="chart mx-auto">
									<div class="chart__circle chart__circle_dark mb-25" data-valuenow="90" data-color="var(--brand-primary)" data-color-end="var(--secondary)"><span class="chart__circle-counter chart__circle-counter-over"><span class="percents">0</span>%</span>
										<div class="gradient">
											<div class="gradient-bg"></div><span class="font__family-montserrat font__size-42 font__weight-thin chart__circle-counter"><span class="percents">0</span>%</span>
										</div>
									</div>
									<h5 class="font__family-montserrat font__size-16 font__weight-light chart__title text-center brk-white-font-color">Donates</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
</section>