<section>
				<div class="bg-cover bg-norepeat bg-position_center bg-white bg-shaded" style="background-image: url(img/bg-1920_2.jpg)" data-brk-library="component__progress_circle">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-md-6">
								<div class="chart__wrapper chart-2circles align-items-center flex-row pt-md-180 pt-70 pb-md-120 pb-70">
									<div class="chart mx-auto">
										<div class="chart__circle mb-35" data-valuenow="75" data-color="var(--brand-primary)" data-color-end=""><span class="font__family-montserrat font__size-14 font__weight-bold chart__circle-counter"><span class="percents">0</span>%</span> <span class="icon icon__centered"><i class="fa fa-map-marker" aria-hidden="true"></i></span></div>
										<h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title text-center">Hard Work</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="chart__wrapper chart-2circles align-items-center flex-row pt-md-180 pt-70 pb-md-120 pb-70">
									<div class="chart mx-auto">
										<div class="chart__circle mb-35" data-valuenow="85" data-color="var(--brand-primary)" data-color-end=""><span class="font__family-montserrat font__size-14 font__weight-bold chart__circle-counter"><span class="percents">0</span>%</span> <span class="icon icon__centered"><i class="fa fa-trophy" aria-hidden="true"></i></span></div>
										<h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title text-center">Donates</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="chart__wrapper chart-2circles align-items-center flex-row pt-md-180 pt-70 pb-md-120 pb-70">
									<div class="chart mx-auto">
										<div class="chart__circle mb-35" data-valuenow="75" data-color="var(--brand-primary)" data-color-end=""><span class="font__family-montserrat font__size-14 font__weight-bold chart__circle-counter"><span class="percents">0</span>%</span> <span class="icon icon__centered"><i class="fa fa-anchor" aria-hidden="true"></i></span></div>
										<h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title text-center">Hard Work</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6">
								<div class="chart__wrapper chart-2circles align-items-center flex-row pt-md-180 pt-70 pb-md-120 pb-70">
									<div class="chart mx-auto">
										<div class="chart__circle mb-35" data-valuenow="85" data-color="var(--brand-primary)" data-color-end=""><span class="font__family-montserrat font__size-14 font__weight-bold chart__circle-counter"><span class="percents">0</span>%</span> <span class="icon icon__centered"><i class="fa fa-paper-plane" aria-hidden="true"></i></span></div>
										<h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title text-center">Donates</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>