<section class="pt-lg-130 pb-lg-100 pt-70 pb-70">
				<div class="text-center mb-40">
					<p class="font__family-montserrat font__weight-semibold font__size-12 text-blue letter-spacing-200 text-uppercase" data-brk-library="component__title">Working for you</p>
					<h3 class="font__family-montserrat font__weight-semibold font__size-30 letter-spacing-100 text-uppercase mt-10" data-brk-library="component__title">Our team</h3>
					<p class="font__size-16 font__family-open-sans line__height-26 text-dark mt-20" data-brk-library="component__title">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean<br>massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-sm-6">
							<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
								<div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
										<h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
									</a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
								<div class="brk-team-persone-circle__bg lazyload" style="background-image: url(img/270x414_1.jpg)"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
											<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" /></svg></span>
									<ul class="brk-team-persone-circle__contacts">
										<li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
										<li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
									</ul>
								</div>
								<div class="brk-team-persone-circle__social-links">
									<ul>
										<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</article>
						</div>
						<div class="col-lg-3 col-sm-6">
							<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
								<div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
										<h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
									</a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
								<div class="brk-team-persone-circle__bg lazyload" style="background-image: url(img/270x414_2.jpg)"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
											<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" /></svg></span>
									<ul class="brk-team-persone-circle__contacts">
										<li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
										<li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
									</ul>
								</div>
								<div class="brk-team-persone-circle__social-links">
									<ul>
										<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</article>
						</div>
						<div class="col-lg-3 col-sm-6">
							<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
								<div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
										<h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
									</a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
								<div class="brk-team-persone-circle__bg lazyload" style="background-image: url(img/270x414_3.jpg)"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
											<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" /></svg></span>
									<ul class="brk-team-persone-circle__contacts">
										<li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
										<li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
									</ul>
								</div>
								<div class="brk-team-persone-circle__social-links">
									<ul>
										<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</article>
						</div>
						<div class="col-lg-3 col-sm-6">
							<article class="brk-team-persone-circle brk-base-box-shadow text-center" data-brk-library="component__team">
								<div class="brk-team-persone-circle__name-position"><a href="javascript:void(0)">
										<h4 class="font__family-montserrat font__weight-bold font__size-18">Bernard Show</h4>
									</a><span class="font__family-montserrat font__weight-normal font__size-16 line__height-24">Web Developer</span></div>
								<div class="brk-team-persone-circle__bg lazyload" style="background-image: url(img/270x414_4.jpg)"><span class="brk-team-persone-circle__bg-overlay"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270 37">
											<path d="M270,37H0V0A267.6,267.6,0,0,0,135.53,36.5,267.52,267.52,0,0,0,270,0Z" fill="rgb(255, 255, 255)" /></svg></span>
									<ul class="brk-team-persone-circle__contacts">
										<li><i class="fas fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="far fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
										<li><i class="fab fa-skype" aria-hidden="true"></i> <a href="javascript:void(0)">skype.show</a></li>
									</ul>
								</div>
								<div class="brk-team-persone-circle__social-links">
									<ul>
										<li><a href="javascript:void(0)"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a></li>
										<li><a href="javascript:void(0)"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</article>
						</div>
					</div>
				</div>
			</section>