<section class="pt-lg-130 pt-50 pb-lg-130 pb-80">
				<div class="container">
					<div class="text-left mb-100">
						<div class="heading-style-left" data-brk-library="component__title">
							<h2 class="font__family-roboto font__weight-thin font__size-86 line__height-64 heading-style-left-h">A Few Words</h2><span class="title__heading-05 title__heading-sub wow fadeInLeft heading-style-left-span font__family-roboto font__size-18 font__weight-bold">kind words about my experience</span>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-7">
							<div class="brk-ic-left-slide brk-ic-left-slide__pointer" data-brk-library="component__image_caption_css"><a href="javascript:void(0)" class="brk-ic-left-slide__link"></a> <img src="img/demo_freelance_blog/570x400_1.jpg" alt="alt" class="brk-ic-left-slide__img lazyload grayscale-100">
								<div class="brk-ic-left-slide__overlay brk-base-bg-gradient-6-black"></div>
								<div class="brk-ic-left-slide__wrapper brk-ic-left-slide__wrapper_gradient brk-base-bg-gradient-50deg-a">
									<h3 class="brk-ic-left-slide__title font__size-21 line__height-28"><span class="font__family-montserrat font__weight-light">Engaging, purposeful</span><br><span class="font__family-montserrat font__weight-bold letter-spacing--20">& Creative</span></h3>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-5">
							<div class="tabs-wrapper maxw-970 pl-md-30">
								<div id="tab-group-1" class="tabgroup text-lg-left text-center mt-30 mb-100">
									<div id="tab-1_1">
										<h3 class="font__family-montserrat font__size-21 font__weight-bold mb-15">How to find me?</h3>
										<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-30">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</p>
										<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
									</div>
									<div id="tab-1_2">
										<h3 class="font__family-montserrat font__size-21 font__weight-bold mb-15">How to hire me?</h3>
										<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
										<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-30">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel</p>
									</div>
									<div id="tab-1_3">
										<h3 class="font__family-montserrat font__size-21 font__weight-bold mb-15">How to contact me?</h3>
										<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
										<p class="brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
									</div>
								</div>
								<div class="steps__wrapper-main steps__wrapper-gradient" data-brk-library="component__steps">
									<div class="steps__progress"></div>
									<ul class="steps__wrapper tabs" data-tabgroup="tab-group-1">
										<li class="complete"><a href="#tab-1_1">
												<p class="font__family-montserrat font__size-15 letter-spacing-20 steps__title">STEP 1</p><span class="steps__dot"></span>
											</a></li>
										<li class="complete"><a href="#tab-1_2" class="active">
												<p class="font__family-montserrat font__size-15 letter-spacing-20 steps__title">STEP 2</p><span class="steps__dot"></span>
											</a></li>
										<li class=""><a href="#tab-1_3">
												<p class="font__family-montserrat font__size-15 letter-spacing-20 steps__title">STEP 3</p><span class="steps__dot"></span>
											</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>