<section id="prices" class="pt-sm-190 pt-60 pb-lg-100 pb-40 brk-bg-light-gray position-relative"><span class="brk-svg-pattern-container brk-svg-pattern-container-18 brk-svg-pattern-container_top" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 180">
				<g id="path-id-18-1">
					<g>
						<polygon fill="#FFFFFF" points="0 0,1930 0,0 180,0 0" />
					</g>
				</g>
			</svg></span>
		<div class="container position-relative brk-z-index-10">
			<h2 class="text-center font__family-montserrat font__size-56 font__weight-bold line__height-60 mb-20">Pricing Table</h2>
			<p class="text-center brk-dark-font-color font__size-16 line__height-26 pb-lg-120 pb-50">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat<br>vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in</p>
		</div>
		<div class="brk-pricing-light">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-12 col-lg-4">
						<div class="brk-pricing-light__item mb-40" data-brk-library="component__pricing_table,component__button">
							<div class="brk-pricing-light__header">
								<h2 class="brk-pricing-light__price font__family-montserrat font__size-48 font__weight-bold line__height-50">Free</h2>
								<h3 class="brk-pricing-light__period font__family-playfair font__size-16 line__height-16 font__weight-bold opacity-40">Only first time</h3><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 brk-white-font-color font__family-open-sans font__weight-bold pl-70 pr-70" data-brk-library="component__button"><span class="before">select</span><span class="text">Click Me</span><span class="after">select</span></a>
							</div>
							<div class="brk-pricing-light__body pl-40 pr-20 pt-70 pb-50">
								<ul class="brk-pricing-light__list w-100 font__size-16 line__height-18">
									<li class="brk-pricing-light__list-item active mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Aenean vulputate</p>
									</li>
									<li class="brk-pricing-light__list-item active mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Eleifend tellus renean leo</p>
									</li>
									<li class="brk-pricing-light__list-item active mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Ligula porttitor euequat</p>
									</li>
									<li class="brk-pricing-light__list-item mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Vitae, eleifend ac, enim</p>
									</li>
									<li class="brk-pricing-light__list-item mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Leo eget bibendum sodales</p>
									</li>
									<li class="brk-pricing-light__list-item mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Augue velit cursus nunc</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="brk-pricing-light__item mb-40" data-brk-library="component__pricing_table,component__button">
							<div class="brk-pricing-light__header">
								<h2 class="mb-1 brk-pricing-light__old-price font__family-montserrat font__size-16 font__weight-bold line__height-16"><s>1560$</s></h2>
								<h2 class="brk-pricing-light__price font__family-montserrat font__size-48 font__weight-bold line__height-50">1460$</h2>
								<h3 class="brk-pricing-light__period font__family-playfair font__size-16 line__height-16 font__weight-bold opacity-40">Per/Month</h3><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 brk-white-font-color font__family-open-sans font__weight-bold pl-70 pr-70" data-brk-library="component__button"><span class="before">select</span><span class="text">Click Me</span><span class="after">select</span></a>
							</div>
							<div class="brk-pricing-light__body pl-40 pr-20 pt-70 pb-50">
								<ul class="brk-pricing-light__list w-100 font__size-16 line__height-18">
									<li class="brk-pricing-light__list-item active mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Aenean vulputate</p>
									</li>
									<li class="brk-pricing-light__list-item active mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Eleifend tellus renean leo</p>
									</li>
									<li class="brk-pricing-light__list-item active mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Ligula porttitor euequat</p>
									</li>
									<li class="brk-pricing-light__list-item mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Vitae, eleifend ac, enim</p>
									</li>
									<li class="brk-pricing-light__list-item mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Leo eget bibendum sodales</p>
									</li>
									<li class="brk-pricing-light__list-item mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Augue velit cursus nunc</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="brk-pricing-light__item mb-40" data-brk-library="component__pricing_table,component__button">
							<div class="brk-pricing-light__header">
								<h2 class="mb-1 brk-pricing-light__old-price font__family-montserrat font__size-16 font__weight-bold line__height-16"><s>2560$</s></h2>
								<h2 class="brk-pricing-light__price font__family-montserrat font__size-48 font__weight-bold line__height-50">2400$</h2>
								<h3 class="brk-pricing-light__period font__family-playfair font__size-16 line__height-16 font__weight-bold opacity-40">Per/Month</h3><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 brk-white-font-color font__family-open-sans font__weight-bold pl-70 pr-70" data-brk-library="component__button"><span class="before">select</span><span class="text">Click Me</span><span class="after">select</span></a>
							</div>
							<div class="brk-pricing-light__body pl-40 pr-20 pt-70 pb-50">
								<ul class="brk-pricing-light__list w-100 font__size-16 line__height-18">
									<li class="brk-pricing-light__list-item active mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Aenean vulputate</p>
									</li>
									<li class="brk-pricing-light__list-item active mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Eleifend tellus renean leo</p>
									</li>
									<li class="brk-pricing-light__list-item active mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Ligula porttitor euequat</p>
									</li>
									<li class="brk-pricing-light__list-item mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Vitae, eleifend ac, enim</p>
									</li>
									<li class="brk-pricing-light__list-item mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Leo eget bibendum sodales</p>
									</li>
									<li class="brk-pricing-light__list-item mb-10">
										<div class="brk-pricing-light__list-indicator"><i class="fas fa-check-circle"></i> <i class="fas fa-minus-circle"></i></div>
										<p>Augue velit cursus nunc</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>