<section class="pb-110">
				<div class="container">
					<div class="cfa__wrapper cfa__image pt-100 pb-100 pl-70 pr-40 bg__style overlay__gradient text-left" data-brk-library="component__call_to_action">
						<h2 class="font__family-montserrat font__size-48 font__weight-bold"><span class="font__weight-light">CALL</span> <span class="font__family-playfair font__weight-light font__style-italic text-blue">for</span> ACTION</h2><a href="javascript:void(0)" class="btn btn-gradient btn-lg border-radius-25 btn-min-width-200" data-brk-library="component__button"><span>read more</span> </a><span class="bg-after bg__style" style="background-image: url(img/bg-1920_1.jpg);"></span> <span class="overlay_after brk-base-bg-gradient-14 opacity-90"></span>
					</div>
				</div>
</section>