<section class="pt-90 pb-150">
				<div class="container">
					<div class="text-center mb-90">
						<p class="font__family-montserrat font__weight-semibold font__size-12 text-blue letter-spacing-200 text-uppercase" data-brk-library="component__title">A FEW WORDS FROM OUR CUSTOMERS</p>
						<h3 class="font__family-montserrat font__weight-semibold font__size-30 letter-spacing-100 text-uppercase mt-10" data-brk-library="component__title">OVER 10,000 CUSTOMERS WORLDWIDE</h3>
						<p class="font__size-16 font__family-open-sans line__height-26 text-dark mt-20" data-brk-library="component__title">We've worked hard to fulfill the concept of powerful and comprehensible theme.</p>
					</div>
					<div class="row">
						<div class="col-xl-3 col-lg-6 pb-30">
							<div class="brk-pricing-shop brk-base-box-shadow" data-brk-library="component__pricing_table,component__button">
								<div class="brk-pricing-shop__view">
									<div class="brk-pricing-shop__title font__family-open-sans font__weight-bold font__size-24 line__height-24">1 Package</div>
									<div class="brk-pricing-shop__price">
										<div class="price-item font__family-montserrat"><span class="price font__weight-ultralight">$299</span> <span class="period font__weight-light">/ mo</span></div>
										<div class="price-icon"><span class="before"></span> <i class="fal fa-trophy"></i>
											<p style="text-align: left"></p><span class="after"></span></div>
									</div>
								</div>
								<div class="brk-pricing-shop__description font__family-open-sans">
									<ul>
										<li>Express Service</li>
										<li>Customs Clearance</li>
										<li>Time-Critical Services</li>
									</ul>
								</div>
								<div class="brk-pricing-shop__block-info">
									<div class="brk-rating" data-brk-library="component__elements">
										<div class="brk-rating__layer"><i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i></div>
										<div class="brk-rating__imposition" style="width: 80%">
											<div class="visible"><i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i></div>
										</div>
									</div><a href="javascript:void(0)" class="info-link font__family-montserrat font__weight-bold">Info<i class="fal fa-arrow-right"></i></a>
								</div><button class="brk-pricing-shop__btn btn font__family-open-sans font__weight-bold"><i class="fa fa-shopping-basket"></i>Add to cart</button>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 pb-30">
							<div class="brk-pricing-shop brk-base-box-shadow" data-brk-library="component__pricing_table,component__button">
								<div class="brk-pricing-shop__view">
									<div class="brk-pricing-shop__title font__family-open-sans font__weight-bold font__size-24 line__height-24">2 Package</div>
									<div class="brk-pricing-shop__price">
										<div class="price-item font__family-montserrat"><span class="price font__weight-ultralight">$389</span> <span class="period font__weight-light">/ mo</span></div>
										<div class="price-icon"><span class="before"></span> <i class="fal fa-trophy"></i>
											<p style="text-align: left"></p><span class="after"></span></div>
									</div>
								</div>
								<div class="brk-pricing-shop__description font__family-open-sans">
									<ul>
										<li>Express Service</li>
										<li>Customs Clearance</li>
										<li>Time-Critical Services</li>
									</ul>
								</div>
								<div class="brk-pricing-shop__block-info">
									<div class="brk-rating" data-brk-library="component__elements">
										<div class="brk-rating__layer"><i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i></div>
										<div class="brk-rating__imposition" style="width: 80%">
											<div class="visible"><i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i></div>
										</div>
									</div><a href="javascript:void(0)" class="info-link font__family-montserrat font__weight-bold">Info<i class="fal fa-arrow-right"></i></a>
								</div><button class="brk-pricing-shop__btn btn font__family-open-sans font__weight-bold"><i class="fa fa-shopping-basket"></i>Add to cart</button>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 pb-30">
							<div class="brk-pricing-shop brk-base-box-shadow" data-brk-library="component__pricing_table,component__button">
								<div class="brk-pricing-shop__view">
									<div class="brk-pricing-shop__title font__family-open-sans font__weight-bold font__size-24 line__height-24">3 Package</div>
									<div class="brk-pricing-shop__price">
										<div class="price-item font__family-montserrat"><span class="price font__weight-ultralight">$415</span> <span class="period font__weight-light">/ mo</span></div>
										<div class="price-icon"><span class="before"></span> <i class="fal fa-trophy"></i>
											<p style="text-align: left"></p><span class="after"></span></div>
									</div>
								</div>
								<div class="brk-pricing-shop__description font__family-open-sans">
									<ul>
										<li>Express Service</li>
										<li>Customs Clearance</li>
										<li>Time-Critical Services</li>
									</ul>
								</div>
								<div class="brk-pricing-shop__block-info">
									<div class="brk-rating" data-brk-library="component__elements">
										<div class="brk-rating__layer"><i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i></div>
										<div class="brk-rating__imposition" style="width: 80%">
											<div class="visible"><i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i></div>
										</div>
									</div><a href="javascript:void(0)" class="info-link font__family-montserrat font__weight-bold">Info<i class="fal fa-arrow-right"></i></a>
								</div><button class="brk-pricing-shop__btn btn font__family-open-sans font__weight-bold"><i class="fa fa-shopping-basket"></i>Add to cart</button>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6 pb-30">
							<div class="brk-pricing-shop brk-base-box-shadow" data-brk-library="component__pricing_table,component__button">
								<div class="brk-pricing-shop__view">
									<div class="brk-pricing-shop__title font__family-open-sans font__weight-bold font__size-24 line__height-24">4 Package</div>
									<div class="brk-pricing-shop__price">
										<div class="price-item font__family-montserrat"><span class="price font__weight-ultralight">$450</span> <span class="period font__weight-light">/ mo</span></div>
										<div class="price-icon"><span class="before"></span> <i class="fal fa-trophy"></i>
											<p style="text-align: left"></p><span class="after"></span></div>
									</div>
								</div>
								<div class="brk-pricing-shop__description font__family-open-sans">
									<ul>
										<li>Express Service</li>
										<li>Customs Clearance</li>
										<li>Time-Critical Services</li>
									</ul>
								</div>
								<div class="brk-pricing-shop__block-info">
									<div class="brk-rating" data-brk-library="component__elements">
										<div class="brk-rating__layer"><i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i></div>
										<div class="brk-rating__imposition" style="width: 80%">
											<div class="visible"><i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i></div>
										</div>
									</div><a href="javascript:void(0)" class="info-link font__family-montserrat font__weight-bold">Info<i class="fal fa-arrow-right"></i></a>
								</div><button class="brk-pricing-shop__btn btn font__family-open-sans font__weight-bold"><i class="fa fa-shopping-basket"></i>Add to cart</button>
							</div>
						</div>
					</div>
				</div>
			</section>