<section class="pt-50" id="prices">
			<div class="container">
				<div class="mb-80" data-brk-library="component__title">
					<div class="text-left d-md-flex justify-content-between align-items-center">
						<h2><span class="font__family-montserrat font__size-64 line__height-68"><span class="font__weight-light">OUR </span><span class="font__weight-bold">PRICES</span></span></h2>
						<h4 class="font__family-montserrat highlight-underline line__height-26 font__size-21 font__weight-light mt-0 mb-0 mr-50"><span class="before wow fadeInUp"></span> <span class="before wow fadeInUp"></span>Put a plan into action<br><span class="font__weight-bold">Achieve the target</span></h4>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="brk-pricing-plan" data-brk-library="component__pricing_table,component__button">
							<div class="brk-pricing-plan__bg lazyload" data-bg="img/demo_agency_urban/386x603_1.jpg">
								<div class="brk-layer brk-bg-primary position-absolute opacity-90"></div>
							</div>
							<div class="brk-pricing-plan__content text-center">
								<div class="brk-pricing-plan__title font__family-montserrat font__weight-semibold letter-spacing-200">Basic</div>
								<div class="brk-pricing-plan__price font__family-montserrat font__weight-semibold"><span class="sign">$</span> <span class="price">39</span> <span class="period">/ mo</span></div>
								<div class="brk-pricing-plan__description font__family-playfair font__style-italic letter-spacing-20">Perfect for businesses<br>of all sizes.</div>
									<div class="brk-pricing-plan__included">
										<ul>
											<li><i class="fal fa-check"></i>Proin gravida nibhconseq</li>
											<li><i class="fal fa-check"></i>Enean sollicitud</li>
											<li><i class="fal fa-check"></i>Lorem quis bibendum</li>
										</ul>
									</div><button class="brk-pricing-plan__btn btn font__family-montserrat letter-spacing-100"><span>Buy this plan</span></button>
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="brk-pricing-plan" data-brk-library="component__pricing_table,component__button">
								<div class="brk-pricing-plan__bg lazyload" data-bg="img/demo_agency_urban/386x603_2.jpg">
									<div class="brk-layer brk-bg-primary position-absolute opacity-90"></div>
								</div>
								<div class="brk-pricing-plan__content text-center">
									<div class="brk-pricing-plan__title font__family-montserrat font__weight-semibold letter-spacing-200">Popular</div>
									<div class="brk-pricing-plan__price font__family-montserrat font__weight-semibold"><span class="sign">$</span> <span class="price">59</span> <span class="period">/ mo</span></div>
									<div class="brk-pricing-plan__description font__family-playfair font__style-italic letter-spacing-20">Perfect for businesses<br>of all sizes.</div>
										<div class="brk-pricing-plan__included">
											<ul>
												<li><i class="fal fa-check"></i>Proin gravida nibhconseq</li>
												<li><i class="fal fa-check"></i>Enean sollicitud</li>
												<li><i class="fal fa-check"></i>Lorem quis bibendum</li>
												<li><i class="fal fa-check"></i>Aliquam laoreet sodales</li>
												<li><i class="fal fa-check"></i>Enean sollicitud</li>
											</ul>
										</div><button class="brk-pricing-plan__btn btn font__family-montserrat letter-spacing-100"><span>Buy this plan</span></button>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="brk-pricing-plan" data-brk-library="component__pricing_table,component__button">
									<div class="brk-pricing-plan__bg lazyload" data-bg="img/demo_agency_urban/386x603_3.jpg">
										<div class="brk-layer brk-bg-primary position-absolute opacity-90"></div>
									</div>
									<div class="brk-pricing-plan__content text-center">
										<div class="brk-pricing-plan__title font__family-montserrat font__weight-semibold letter-spacing-200">Classic</div>
										<div class="brk-pricing-plan__price font__family-montserrat font__weight-semibold"><span class="sign">$</span> <span class="price">79</span> <span class="period">/ mo</span></div>
										<div class="brk-pricing-plan__description font__family-playfair font__style-italic letter-spacing-20">Perfect for businesses<br>of all sizes.</div>
											<div class="brk-pricing-plan__included">
												<ul>
													<li><i class="fal fa-check"></i>Proin gravida nibhconseq</li>
													<li><i class="fal fa-check"></i>Enean sollicitud</li>
													<li><i class="fal fa-check"></i>Lorem quis bibendum</li>
													<li><i class="fal fa-check"></i>Aliquam laoreet sodales</li>
													<li><i class="fal fa-check"></i>Enean sollicitud</li>
													<li><i class="fal fa-check"></i>Proin gravida nibhconseq</li>
												</ul>
											</div><button class="brk-pricing-plan__btn btn font__family-montserrat letter-spacing-100"><span>Buy this plan</span></button>
										</div>
									</div>
								</div>
							</div>
						</div>
		</section>