<section class="brk-bg-center-cover pb-120" style="background-image: url('img/bg-19.jpg')">
				<div class="container">
					<div class="countdown__wrapper countdown__light countdown__light_white pt-90 pb-50" data-brk-library="component__countdown">
						<div class="countdown" data-format="
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%D</div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Days</span>
                  <span class='symbol'>:</span>
                </div>
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%H</div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Hours</span>
                  <span class='symbol'>:</span>
                </div>
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%M</div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Minutes</span>
                  <span class='symbol'>:</span>
                </div>
                <div class='countdown__section'>
                  <div class='font__family-montserrat font__size-96 font__weight-ultralight countdown__amount'>%S</div>
                  <span class='font__family-montserrat font__size-18 font__weight-bold countdown__period'>Seconds</span>
                  <span class='symbol'>:</span>
                </div>
              " data-type="until" data-time=""></div>
					</div>
					<div class="text-center"><a href="javascript:void(0)" class="btn btn-gradient btn-lg font__size-14 font__weight-light pl-50 pr-50 letter-spacing-60 border-radius-25" data-brk-library="component__button"><span><span class="font__size-14">View Bonus Category</span></span></a></div>
				</div>
			</section>