<section class="pt-90 pb-100 position-relative z-index-1 bg__style lazyload" style="background-image: url(img/demo_art/1920x1320_1.jpg)" id="staff">
				<div class="brk-abs-overlay bg-black opacity-60"></div>
				<div class="container">
					<h2 class="brk-white-font-color font__family-montserrat-alt font__size-96 font__weight-bold line__height-96 text-uppercase mb-70 text-center">Our Staff</h2>
					<div class="brk-team-persone-table mb-40" data-brk-library="component__team">
						<div class="row no-gutters">
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" style="background-image: url(img/390x390_1.jpg)"><span class="bg-black opacity-60 brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_primary">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Leana K.A</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Design</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" style="background-image: url(img/390x390_2.jpg)"><span class="bg-black opacity-60 brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_white">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Samanta J.D</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Developer</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_3.jpg"><span class="bg-black opacity-60 brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_primary">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Marry W.S</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Director</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_4.jpg"><span class="bg-black opacity-60 brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_white">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Gerar Q.W</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Design</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_5.jpg"><span class="bg-black opacity-60 brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_primary">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Mark Heffner</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Mark Heffner</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="brk-team-persone-table__item lazyload" data-bg="img/390x390_6.jpg"><span class="bg-black opacity-60 brk-team-persone-table__overlay"></span>
									<div class="brk-team-persone-table__title brk-team-persone-table__title_white">
										<div class="brk-team-persone-table__name-position"><a href="javascript:void(0)">
												<h4 class="font__family-montserrat font__weight-bold font__size-24 line__height-40">Bernard Show</h4>
											</a><span class="font__family-montserrat font__weight-light font__size-15 line__height-21">Web Developer</span></div>
									</div>
									<ul class="brk-team-persone-table__contacts">
										<li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:88001234567">8 800 123 45 67</a></li>
										<li><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:admin@gmail.com">admin@gmail.com</a></li>
										<li><i class="fab fa-instagram" aria-hidden="true"></i> <a href="javascript:void(0)">bernard.show</a></li>
									</ul>
									<div class="brk-elev brk-elev-1"></div>
									<div class="brk-elev brk-elev-2"></div>
									<div class="brk-elev brk-elev-3"></div>
									<div class="brk-elev brk-elev-4"></div>
								</div>
							</div>
						</div>
						<div class="ptable-top"></div>
						<div class="ptable-bottom"></div>
						<div class="ptable-right"></div>
						<div class="ptable-left"></div>
					</div>
					<div class="position-relative z-index-1 pt-40 pb-40 pl-50 pr-50 d-flex flex-column flex-lg-row justify-content-between align-items-center">
						<div class="brk-abs-overlay bg-primary opacity-90"></div>
						<h3 class="brk-white-font-color font__family-montserrat-alt font__size-56 font__weight-bold line__height-56 text-uppercase text-center text-lg-left">Become a volunteer</h3><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-0 font__family-oxygen font__size-16 font__weight-light btn-inside-out-invert-light pl-70 pr-70 ml-0 mr-0" data-brk-library="component__button"><span class="before">Send your info</span><span class="text">Click Me</span><span class="after">Send your info</span></a>
					</div>
				</div>
			</section>