<section class="brk-sc-item-page-body">
				<div class="brk-sc-item-page-section-1 mb-100">
					<div class="container">
						<div class="row">
							<div class="col-xl-1"></div>
							<div class="col-xl-5">
								<div class="brk-sc-item-page-section-1__img-container"><img src="img/demo_product_landing/599x1471_1.png" alt="alt" class="brk-sc-item-page-section-1__img lazyload"></div>
							</div>
							<div class="col-12 col-xl-6">
								<div class="brk-sc-item-page-section-1__info text-center text-xl-left">
									<h4 class="font__family-montserrat font__size-28 font__weight-light line__height-32 text-uppercase">Make business with us</h4>
									<h4 class="font__family-montserrat font__size-28 font__weight-bold line__height-32 text-uppercase mb-30">& become beautiful</h4>
									<p class="brk-dark-font-color font__family-open-sans font__size-15 font__weight-normal line__height-24 mb-20">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
									<p class="brk-dark-font-color font__family-open-sans font__size-15 font__weight-normal line__height-24 mb-40">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,</p>
									<div class="cfa__wrapper cfa__minimal bg__style overlay__white text-center text-lg-left lazyload brk-sc-item-page-section-1__cfa border-radius-25 dark-shadow" style="background-image: url(img/demo_product_landing/570x108_1.jpg)" data-brk-library="component__call_to_action">
										<h4 class="font__family-montserrat font__size-21 font__weight-bold no-wrap">CFA Heading</h4>
										<p class="font__family-open-sans font__size-14 text-dark text-center text-lg-left">Lorem ipsum dolor sit amet, consectetuer cing elit. Aenean commodo ligula</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="brk-sc-item-page-section-2">
					<div class="container">
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="brk-sc-item-page-section-2__info">
									<div class="brk-sc-item-page-body__title d-flex mb-35">
										<h3 class="font__family-montserrat font__size-36 line__height-42 text-uppercase"><span class="font__weight-normal">the best</span> <span class="font__weight-bold">t-shirts</span><br><span class="font__weight-bold brk-base-font-color">for you!</span></h3><span class="brk-sc-long-label brk-white-font-color font__family-open-sans font__size-14 font__weight-bold text-uppercase d-flex align-items-center"><i class="fas fa-leaf" aria-hidden="true"></i>есо</span>
									</div>
									<p class="brk-dark-font-color font__family-open-sans font__size-16 line__height-26 font__weight-normal mb-50">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero</p>
									<div class="progress__wrapper progress__gradient" data-brk-library="component__progress_bar">
										<div class="progress">
											<div data-valuemax="100" data-valuemin="0" data-valuenow="100" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">100</span>
										</div>
										<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Hard Work</h5>
									</div>
									<div class="progress__wrapper progress__gradient" data-brk-library="component__progress_bar">
										<div class="progress">
											<div data-valuemax="100" data-valuemin="0" data-valuenow="80" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">80</span>
										</div>
										<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Projects Delivery</h5>
									</div>
									<div class="progress__wrapper progress__gradient" data-brk-library="component__progress_bar">
										<div class="progress">
											<div data-valuemax="100" data-valuemin="0" data-valuenow="40" class="progress__bar"><span class="before"></span></div><span class="font__family-montserrat font__size-16 font__weight-bold progress__bar-counter hide">40</span>
										</div>
										<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Customers Love</h5>
									</div>
								</div>
							</div>
							<div class="col-lg-1"></div>
							<div class="col-lg-5">
								<div class="brk-sc-item-page-section-2__img-container"><img src="img/demo_product_landing/507_1428_1.png" alt="alt" class="brk-sc-item-page-section-2__img lazyload"></div>
							</div>
							<div class="col-sm-1"></div>
						</div>
					</div>
					<div class="brk-sc-item-page-section-2__balls"><span class="brk-radial-ball"></span> <span class="brk-radial-ball"></span> <span class="brk-radial-ball"></span></div><span class="brk-sc-item-page-section-2__svg-bg"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1922" height="1623" viewBox="0 0 1922 1623">
							<defs>
								<path id="xy8ha" d="M0 2592s411.73-10.8 844-103c640.73-149.29 1076-357 1076-357v1620H0z" />
								<linearGradient id="xy8hb" x1="960" x2="960" y1="3752" y2="2132" gradientUnits="userSpaceOnUse">
									<stop offset="0" stop-color="#f2fcff" />
									<stop offset="1" stop-color="#ebf7ff" />
								</linearGradient>
							</defs>
							<g>
								<g transform="translate(1 -2130)">
									<use fill="red" xlink:href="#xy8ha" />
									<use fill="url(#xy8hb)" xlink:href="#xy8ha" />
								</g>
							</g>
						</svg> </span><span class="brk-sc-item-page-section-2__svg-container"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1920px" height="277px" viewBox="0 0 1920 277" enable-background="new 0 0 1920 277" xml:space="preserve">
							<g id="Shape_10_1_" enable-background="new    ">
								<g id="Shape_10">
									<g>
										<linearGradient id="SVGID_1_11" gradientUnits="userSpaceOnUse" x1="960.0005" y1="276.999" x2="960.0005" y2="0.7793">
											<stop offset="0" style="stop-color: var(--brk-base-2)" />
											<stop offset="1" style="stop-color: var(--brk-base-5)" />
										</linearGradient>
										<path fill="url(#SVGID_1_11)" d="M1420,170.999c-264.209,81.183-385.061,38.809-895-110C319.539,1.042,140.531-6.536,0,5.783
                    v271.216h1920V60.511C1763.375,73.852,1598.687,116.096,1420,170.999z" />
									</g>
								</g>
							</g>
							<g id="Shape_9_1_" enable-background="new    ">
								<g id="Shape_9">
									<g>
										<path fill="#FFFFFF" d="M1294,149C730.998-17.98,210.142,80.934,0,135.381v141.618h1920v-36.195
                    C1810.955,257.711,1621.742,246.204,1294,149z" />
									</g>
								</g>
							</g>
						</svg></span>
				</div>
				<div class="container position-relative" style="top: -30px">
					<div class="mb-190 mb-lg-250">
						<div class="row no-gutters">
							<div class="col-12 col-md-5 col-lg-3">
								<div class="pl-md-5 text-center text-md-left ml-20"><img src="img/demo_product_landing/263x382_1.png" alt="alt" class="lazyload" style="box-shadow: 0 0 15px #d5d4d4;"></div>
							</div>
							<div class="col-12 col-md-7 col-lg-9">
								<div class="pl-xs-0 pl-50 pt-20 text-center text-md-left">
									<p class="brk-dark-font-color font__family-open-sans font__size-15 font__weight-normal line__height-24 mb-25">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus.</p>
									<p class="brk-dark-font-color font__family-open-sans font__size-15 font__weight-normal line__height-24 mb-40 pb-120 pb-lg-0 pb-xl-0">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
								</div>
							</div>
						</div>
						<div class="bg__style overlay__gradient all-light shadow mt--140 lazyload" style="background-image: url(img/demo_product_landing/1170x106_1.jpg)"><span class="overlay_after brk-base-bg-gradient-90deg"></span>
							<div class="cfa__wrapper cfa__hot pt-15 pb-15 pl-20 pr-20">
								<div><span class="font__family-open-sans font__size-13 font__weight-bold hot-panel">HOT!</span></div>
								<h4 class="font__family-montserrat font__size-25 font__weight-bold text-uppercase">CALL FOR ACTION <span class="font__weight-ultralight">BLOCK HEADING TITLE GOES HERE</span></h4><a href="javascript:void(0)" class="btn btn-prime btn-lg border-radius-25 font__family-open-sans font__weight-normal cfa-card__btn" data-brk-library="component__button"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span class="before"></span><span class="after"></span><span class="border-btn"></span>Add to cart</a>
							</div>
						</div>
					</div>
				</div>
				<div class="brk-sc-item-page-body__bg" id="faq"><img src="img/demo_product_landing/1920x909.png" alt="alt" class="brk-sc-item-page-body__bg-img lazyload">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-6 col-lg-4">
								<div class="brk-sc-bonus text-center pl-50 pr-50 pb-40 pt-50 d-flex flex-column mb-30" data-brk-library="component__shop_cards">
									<h6 class="brk-sc-bonus__subtitle font__family-montserrat brk-white-font-color font__size-14 font__weight-bold line__height-14 brk-bg-primary">We are Awesome</h6>
									<h5 class="brk-sc-bonus__title font__family-montserrat font__size-21 font__weight-normal line__height-28 mb-15">$100<span class="font__family-playfair font__style-italic"> for</span><br><span class="text-uppercase font__weight-medium">the first purchase!</span></h5>
									<p class="font__family-open-sans font__size-16 font__weight-normal line__height-26 brk-dark-font-color">Get <span class="font__weight-bold brk-black-font-color">100</span> bonus dollars for your first purchase right now!</p><a href="javascript:void(0)" class="brk-base-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 brk-sc-bonus__link">Sign Up</a>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								<div class="brk-sc-bonus text-center pl-50 pr-50 pb-40 pt-50 d-flex flex-column mb-30" data-brk-library="component__shop_cards">
									<h6 class="brk-sc-bonus__subtitle font__family-montserrat brk-white-font-color font__size-14 font__weight-bold line__height-14 brk-bg-primary">We are Awesome</h6>
									<h5 class="brk-sc-bonus__title font__family-montserrat font__size-21 font__weight-normal line__height-28 mb-15"><span class="text-uppercase font__weight-medium">do you want even</span><br><span class="font__family-playfair font__style-italic">cheaper?</span></h5>
									<p class="font__family-open-sans font__size-16 font__weight-normal line__height-26 brk-dark-font-color">Do <span class="font__weight-bold brk-black-font-color">selfie</span> with our products & get<br>$100<br>for the next purchase.</p>
								</div>
							</div>
							<div class="col-12 col-md-6 col-lg-4">
								<div class="brk-sc-bonus text-center pl-50 pr-50 pb-40 pt-50 d-flex flex-column mb-30" data-brk-library="component__shop_cards">
									<h6 class="brk-sc-bonus__subtitle font__family-montserrat brk-white-font-color font__size-14 font__weight-bold line__height-14 brk-bg-primary">We are Awesome</h6>
									<h5 class="brk-sc-bonus__title font__family-montserrat font__size-21 font__weight-normal line__height-28 mb-15"><span class="text-uppercase font__weight-medium">Do you want a gift</span><br><span class="font__family-playfair font__style-italic">or a souvenir?</span></h5>
									<p class="font__family-open-sans font__size-16 font__weight-normal line__height-26 brk-dark-font-color">Buy our product with <span class="font__weight-bold brk-black-font-color">free shipping</span><br>and recieve a gift from us or<br>a souvenir</p>
								</div>
							</div>
						</div>
						<div class="brk-sc-item-page-tabs pb-90">
							<h5 class="brk-sc-item-page-tabs__title brk-black-font-color font__family-montserrat font__size-36 line__height-42 font__weight-normal d-inline-flex flex-wrap"><span class="pr-2">Need help?</span> <span class="font__weight-bold">Read F.A.Q</span></h5>
							<div class="brk-tabs brk-tabs-simple-smooth" data-brk-library="component__tabs">
								<ul class="brk-tabs-nav font__family-montserrat font__size-16 font__weight-400 line__height-16 pt-10">
									<li class="brk-tab"><span>How to get a discount?</span></li>
									<li class="brk-tab"><span>Free Shipping</span></li>
									<li class="brk-tab"><span>How to buy & pay</span></li>
								</ul>
								<div class="brk-tabs-content">
									<div class="brk-tab-item">
										<h3 class="font__family-montserrat font__size-21 font__weight-bold line__height-22 mb-50">How to get a discount?</h3>
										<p class="font__family-open-sans brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">Maecenas nec odio et ante tincidunt tempus. Donecbero vitae sapien ut libero nenatis faucibus. Nullam quis ante. Etiam sit amet orci eget met orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nigna magna mi.</p>
										<p class="font__family-open-sans brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">Donec sodales sagittis mbibenagna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
										<p class="font__family-open-sans brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
									</div>
									<div class="brk-tab-item">
										<h3 class="font__family-montserrat font__size-21 font__weight-bold line__height-22 mb-50">Free Shipping</h3>
										<p class="font__family-open-sans brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">Maecenas nec odio et ante tincidunt tempus. Donecbero vitae sapien ut libero nenatis faucibus. Nullam quis ante. Etiam sit amet orci eget met orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nigna magna mi.</p>
										<p class="font__family-open-sans brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">Donec sodales sagittis mbibenagna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
										<p class="font__family-open-sans brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
									</div>
									<div class="brk-tab-item">
										<h3 class="font__family-montserrat font__size-21 font__weight-bold line__height-22 mb-50">How to buy & pay</h3>
										<p class="font__family-open-sans brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">Maecenas nec odio et ante tincidunt tempus. Donecbero vitae sapien ut libero nenatis faucibus. Nullam quis ante. Etiam sit amet orci eget met orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nigna magna mi.</p>
										<p class="font__family-open-sans brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">Donec sodales sagittis mbibenagna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
										<p class="font__family-open-sans brk-dark-font-color font__size-16 font__weight-normal line__height-26 mb-25">condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>