<section class="container mt-50">
		<div class="row">
			<div class="col-lg-4">
				<div class="services-architecture" data-brk-library="component__services">
					<div class="services-architecture__icon"><i class="fas fa-car"></i></div>
					<div class="services-architecture__container">
						<h4 class="font__size-21 line__height-24 text-uppercase font__weight-bold pb-10">NEW BUILDS</h4><span class="font__size-14 line__height-24 brk-dark-blur-font-color">From the ground up, NikaDevs Building Company can provide the complete</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="services-architecture" data-brk-library="component__services">
					<div class="services-architecture__icon"><i class="fas fa-briefcase"></i></div>
					<div class="services-architecture__container">
						<h4 class="font__size-21 line__height-24 text-uppercase font__weight-bold pb-10">EXTENSIONS</h4><span class="font__size-14 line__height-24 brk-dark-blur-font-color">Double, single, side, back. Whatever the extension required to your property</span>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="services-architecture" data-brk-library="component__services">
					<div class="services-architecture__icon"><i class="far fa-map"></i></div>
					<div class="services-architecture__container">
						<h4 class="font__size-21 line__height-24 text-uppercase font__weight-bold pb-10">INTERIOR FINISHES</h4><span class="font__size-14 line__height-24 brk-dark-blur-font-color">Our projects look just as good on the inside. High quality interior finishing for</span>
					</div>
				</div>
			</div>
		</div>
		<div class="border-bottom mt-40"></div>
	</section>