<section class="position-relative brk-z-index-10">
				<div class="brk-tabs w-100 brk-tabs_rounded d-flex flex-column" data-brk-library="component__tabs">
					<ul class="brk-tabs-nav brk-white-font-color font__family-montserrat font__size-15 font__weight-normal line__height-16 d-inline-flex flex-wrap align-items-center ml-auto mr-auto">
						<li class="brk-tab d-flex align-items-center text-uppercase pl-40 pr-40"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <span>Related posts</span></li>
						<li class="brk-tab d-flex align-items-center text-uppercase pl-40 pr-40"><i class="fa fa-star" aria-hidden="true"></i> <span>Reviews</span></li>
						<li class="brk-tab d-flex align-items-center text-uppercase pl-40 pr-40"><i class="fa fa-comments" aria-hidden="true"></i> <span>comments</span></li>
					</ul>
					<div class="brk-tabs-content"><img src="img/demo_product_landing/1920x850_1.jpg" alt="alt" class="brk-tabs-content__img lazyload" data-brk-library="fancybox"> <span class="brk-tabs-content__overlay brk-base-bg-gradient-90deg"></span>
						<div class="brk-tab-item">
							<div class="container">
								<div class="brk-slider">
									<div class="brk-slider__items slick-loading" data-slick='{"slidesToShow": 4, "slidesToScroll": 2, "arrows": false, "dots": true}' data-brk-library="slider__slick">
										<div>
											<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
												<div class="flip flip_horizontal">
													<div class="flip__front brk-sc-flip-two__front">
														<div class="brk-sc-flip-two__thumb"><img src="img/124x215_1.png" alt="alt" class="lazyload"></div>
														<div class="brk-sc-flip-two__description">
															<div class="brk-sc-flip-two__stick font__family-montserrat font__weight-light brk-white-font-color brk-bg-primary">-40%</div>
															<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
															<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Sleeveless shirt</div>
														</div>
													</div>
													<div class="flip__back brk-sc-flip-two__back">
														<div class="brk-sc-flip-two__back-layer">
															<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Sleeveless shirt</div>
															<div class="brk-sc-flip-two__list scrollbar-inner">
																<ul class="pl-15 pr-15">
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
																</ul>
															</div>
															<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
												<div class="flip flip_horizontal">
													<div class="flip__front brk-sc-flip-two__front">
														<div class="brk-sc-flip-two__thumb"><img src="img/124x215_2.png" alt="alt" class="lazyload"></div>
														<div class="brk-sc-flip-two__description">
															<div class="brk-sc-flip-two__stick font__family-montserrat font__weight-light brk-white-font-color brk-bg-primary">-40%</div>
															<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
															<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Burberry</div>
														</div>
													</div>
													<div class="flip__back brk-sc-flip-two__back">
														<div class="brk-sc-flip-two__back-layer">
															<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Burberry</div>
															<div class="brk-sc-flip-two__list scrollbar-inner">
																<ul class="pl-15 pr-15">
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
																</ul>
															</div>
															<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
												<div class="flip flip_horizontal">
													<div class="flip__front brk-sc-flip-two__front">
														<div class="brk-sc-flip-two__thumb"><img src="img/124x215_1.png" alt="alt" class="lazyload"></div>
														<div class="brk-sc-flip-two__description">
															<div class="brk-sc-flip-two__stick font__family-montserrat font__weight-light brk-white-font-color brk-bg-primary">-40%</div>
															<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
															<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Long-sleeve top</div>
														</div>
													</div>
													<div class="flip__back brk-sc-flip-two__back">
														<div class="brk-sc-flip-two__back-layer">
															<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Long-sleeve top</div>
															<div class="brk-sc-flip-two__list scrollbar-inner">
																<ul class="pl-15 pr-15">
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
																</ul>
															</div>
															<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
												<div class="flip flip_horizontal">
													<div class="flip__front brk-sc-flip-two__front">
														<div class="brk-sc-flip-two__thumb"><img src="img/124x215_2.png" alt="alt" class="lazyload"></div>
														<div class="brk-sc-flip-two__description">
															<div class="brk-sc-flip-two__stick font__family-montserrat font__weight-light brk-white-font-color brk-bg-primary">-40%</div>
															<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
															<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Tommy Hilfiger</div>
														</div>
													</div>
													<div class="flip__back brk-sc-flip-two__back">
														<div class="brk-sc-flip-two__back-layer">
															<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Tommy Hilfiger</div>
															<div class="brk-sc-flip-two__list scrollbar-inner">
																<ul class="pl-15 pr-15">
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
																</ul>
															</div>
															<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
												<div class="flip flip_horizontal">
													<div class="flip__front brk-sc-flip-two__front">
														<div class="brk-sc-flip-two__thumb"><img src="img/124x215_1.png" alt="alt" class="lazyload"></div>
														<div class="brk-sc-flip-two__description">
															<div class="brk-sc-flip-two__stick font__family-montserrat font__weight-light brk-white-font-color brk-bg-primary">-40%</div>
															<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
															<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Hugo Boss</div>
														</div>
													</div>
													<div class="flip__back brk-sc-flip-two__back">
														<div class="brk-sc-flip-two__back-layer">
															<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Hugo Boss</div>
															<div class="brk-sc-flip-two__list scrollbar-inner">
																<ul class="pl-15 pr-15">
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
																</ul>
															</div>
															<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
												<div class="flip flip_horizontal">
													<div class="flip__front brk-sc-flip-two__front">
														<div class="brk-sc-flip-two__thumb"><img src="img/124x215_2.png" alt="alt" class="lazyload"></div>
														<div class="brk-sc-flip-two__description">
															<div class="brk-sc-flip-two__stick font__family-montserrat font__weight-light brk-white-font-color brk-bg-primary">-40%</div>
															<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
															<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Polo shirt</div>
														</div>
													</div>
													<div class="flip__back brk-sc-flip-two__back">
														<div class="brk-sc-flip-two__back-layer">
															<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Polo shirt</div>
															<div class="brk-sc-flip-two__list scrollbar-inner">
																<ul class="pl-15 pr-15">
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
																	<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
																</ul>
															</div>
															<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="brk-slider__control d-flex align-items-center"><span class="brk-slider__prev brk-base-font-color font__size-24"><i class="fa fa-angle-left" aria-hidden="true"></i> </span><span class="brk-slider__next brk-base-font-color font__size-24"><i class="fa fa-angle-right" aria-hidden="true"></i></span></div>
								</div>
							</div>
						</div>
						<div class="brk-tab-item">
							<div class="container">
								<div class="border-radius-25 bg-white pl-30 pr-30 pt-30 pb-30 mt-30 mb-40">
									<div class="brk-reply-item" data-brk-library="component__blog_page_css">
										<div class="brk-forum-post__header font__family-open-sans font__size-14" data-brk-library="component__forum_post"><a href="javascript:void(0)" class="brk-forum-post__header-user"><img src="img/55x55_1.jpg" alt="alt" class="brk-forum-post__header-img lazyload"> <span class="brk-forum-post__header-user-overlay brk-base-bg-gradient-10deg"></span> <i class="fal fa-plus brk-forum-post__header-user-icon text-white font__size-24"></i></a>
											<div class="brk-forum-post__header-info"><a href="javascript:void(0)" class="brk-forum-post__header-name line__height-14">Rebeca Oliva</a> <span class="brk-forum-post__header-date brk-dark-font-color">January 7, 2016</span> <a href="javascript:void(0)" class="brk-forum-post__header-like brk-dark-font-color"><i class="fal fa-heart"></i> <span>0</span> </a><a href="javascript:void(0)" class="brk-forum-post__header-reply"><i class="fas fa-reply"></i> <span class="font__weight-bold">Reply</span></a></div>
										</div>
										<p class="brk-dark-font-color font__family-open-sans font__size-16 line__height-26">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
									</div>
									<div class="brk-reply-item" data-brk-library="component__blog_page_css">
										<div class="brk-forum-post__header font__family-open-sans font__size-14" data-brk-library="component__forum_post"><a href="javascript:void(0)" class="brk-forum-post__header-user"><img src="img/55x55_1.jpg" alt="alt" class="brk-forum-post__header-img lazyload"> <span class="brk-forum-post__header-user-overlay brk-base-bg-gradient-10deg"></span> <i class="fal fa-plus brk-forum-post__header-user-icon text-white font__size-24"></i></a>
											<div class="brk-forum-post__header-info"><a href="javascript:void(0)" class="brk-forum-post__header-name line__height-14">Rebeca Oliva</a> <span class="brk-forum-post__header-date brk-dark-font-color">January 7, 2016</span> <a href="javascript:void(0)" class="brk-forum-post__header-like brk-dark-font-color"><i class="fal fa-heart"></i> <span>0</span> </a><a href="javascript:void(0)" class="brk-forum-post__header-reply"><i class="fas fa-reply"></i> <span class="font__weight-bold">Reply</span></a></div>
										</div>
										<p class="brk-dark-font-color font__family-open-sans font__size-16 line__height-26">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
									</div>
									<div class="brk-reply-item" data-brk-library="component__blog_page_css">
										<div class="brk-forum-post__header font__family-open-sans font__size-14" data-brk-library="component__forum_post"><a href="javascript:void(0)" class="brk-forum-post__header-user"><img src="img/55x55_1.jpg" alt="alt" class="brk-forum-post__header-img lazyload"> <span class="brk-forum-post__header-user-overlay brk-base-bg-gradient-10deg"></span> <i class="fal fa-plus brk-forum-post__header-user-icon text-white font__size-24"></i></a>
											<div class="brk-forum-post__header-info"><a href="javascript:void(0)" class="brk-forum-post__header-name line__height-14">Rebeca Oliva</a> <span class="brk-forum-post__header-date brk-dark-font-color">January 7, 2016</span> <a href="javascript:void(0)" class="brk-forum-post__header-like brk-dark-font-color"><i class="fal fa-heart"></i> <span>0</span> </a><a href="javascript:void(0)" class="brk-forum-post__header-reply"><i class="fas fa-reply"></i> <span class="font__weight-bold">Reply</span></a></div>
										</div>
										<p class="brk-dark-font-color font__family-open-sans font__size-16 line__height-26">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
									</div>
								</div>
								<div class="border-radius-25 bg-white pl-30 pr-30 pt-30 pb-30">
									<div class="brk-reply mt-30" data-brk-library="component__forum_post">
										<h3 class="brk-reply__header font__family-montserrat font__size-21 font__weight-bold line__height-60 text-center">Your Review</h3>
										<form action="#" class="brk-reply__form brk-form-strict" data-brk-library="component__form">
											<div class="row">
												<div class="col-12 col-lg-4"><input name="name" type="text" placeholder="Your Name"></div>
												<div class="col-12 col-lg-4"><input name="email" type="email" placeholder="Email"></div>
												<div class="col-12 col-lg-4">
													<div class="d-flex align-items-center justify-content-center w-100 h-100 pt-30">
														<div class="brk-rating" data-brk-library="component__elements">
															<div class="brk-rating__layer"><i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i></div>
															<div class="brk-rating__imposition" style="width: 80%">
																<div class="visible"><i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i></div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12"><textarea name="textarea" placeholder="Some text"></textarea></div>
											</div><button type="submit" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-bold" data-brk-library="component__button"><span class="before">Review</span> <span class="text">Review</span> <span class="after">Review</span></button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="brk-tab-item">
							<div class="container">
								<div class="border-radius-25 bg-white pl-30 pr-30 pt-30 pb-30 mb-40 mt-30">
									<div class="brk-reply-item" data-brk-library="component__blog_page_css">
										<div class="brk-forum-post__header font__family-open-sans font__size-14" data-brk-library="component__forum_post"><a href="javascript:void(0)" class="brk-forum-post__header-user"><img src="img/55x55_1.jpg" alt="alt" class="brk-forum-post__header-img lazyload"> <span class="brk-forum-post__header-user-overlay brk-base-bg-gradient-10deg"></span> <i class="fal fa-plus brk-forum-post__header-user-icon text-white font__size-24"></i></a>
											<div class="brk-forum-post__header-info"><a href="javascript:void(0)" class="brk-forum-post__header-name line__height-14">Rebeca Oliva</a> <span class="brk-forum-post__header-date brk-dark-font-color">January 7, 2016</span> <a href="javascript:void(0)" class="brk-forum-post__header-like brk-dark-font-color"><i class="fal fa-heart"></i> <span>0</span> </a><a href="javascript:void(0)" class="brk-forum-post__header-reply"><i class="fas fa-reply"></i> <span class="font__weight-bold">Reply</span></a></div>
										</div>
										<p class="brk-dark-font-color font__family-open-sans font__size-16 line__height-26">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
									</div>
									<div class="brk-reply-item" data-brk-library="component__blog_page_css">
										<div class="brk-forum-post__header font__family-open-sans font__size-14" data-brk-library="component__forum_post"><a href="javascript:void(0)" class="brk-forum-post__header-user"><img src="img/55x55_1.jpg" alt="alt" class="brk-forum-post__header-img lazyload"> <span class="brk-forum-post__header-user-overlay brk-base-bg-gradient-10deg"></span> <i class="fal fa-plus brk-forum-post__header-user-icon text-white font__size-24"></i></a>
											<div class="brk-forum-post__header-info"><a href="javascript:void(0)" class="brk-forum-post__header-name line__height-14">Rebeca Oliva</a> <span class="brk-forum-post__header-date brk-dark-font-color">January 7, 2016</span> <a href="javascript:void(0)" class="brk-forum-post__header-like brk-dark-font-color"><i class="fal fa-heart"></i> <span>0</span> </a><a href="javascript:void(0)" class="brk-forum-post__header-reply"><i class="fas fa-reply"></i> <span class="font__weight-bold">Reply</span></a></div>
										</div>
										<p class="brk-dark-font-color font__family-open-sans font__size-16 line__height-26">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
									</div>
									<div class="brk-reply-item" data-brk-library="component__blog_page_css">
										<div class="brk-forum-post__header font__family-open-sans font__size-14" data-brk-library="component__forum_post"><a href="javascript:void(0)" class="brk-forum-post__header-user"><img src="img/55x55_1.jpg" alt="alt" class="brk-forum-post__header-img lazyload"> <span class="brk-forum-post__header-user-overlay brk-base-bg-gradient-10deg"></span> <i class="fal fa-plus brk-forum-post__header-user-icon text-white font__size-24"></i></a>
											<div class="brk-forum-post__header-info"><a href="javascript:void(0)" class="brk-forum-post__header-name line__height-14">Rebeca Oliva</a> <span class="brk-forum-post__header-date brk-dark-font-color">January 7, 2016</span> <a href="javascript:void(0)" class="brk-forum-post__header-like brk-dark-font-color"><i class="fal fa-heart"></i> <span>0</span> </a><a href="javascript:void(0)" class="brk-forum-post__header-reply"><i class="fas fa-reply"></i> <span class="font__weight-bold">Reply</span></a></div>
										</div>
										<p class="brk-dark-font-color font__family-open-sans font__size-16 line__height-26">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
									</div>
								</div>
								<div class="border-radius-25 bg-white pl-30 pr-30 pt-30 pb-30">
									<div class="brk-reply mt-30" data-brk-library="component__forum_post">
										<h3 class="brk-reply__header font__family-montserrat font__size-21 font__weight-bold line__height-60 text-center">Your Reply</h3>
										<form action="#" class="brk-reply__form brk-form-strict" data-brk-library="component__form">
											<div class="row">
												<div class="col-lg-6 col-12"><input name="name" type="text" placeholder="Your Name"></div>
												<div class="col-lg-6 col-12"><input name="email" type="email" placeholder="Email"></div>
												<div class="col-12"><textarea name="textarea" placeholder="Some text"></textarea></div>
											</div><button type="submit" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-bold" data-brk-library="component__button"><span class="before">Reply</span> <span class="text">Reply</span> <span class="after">Reply</span></button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>