<section class="brk-bg-right-center position-relative bg-contain bg-norepeat bg-position_right-center lazyload pt-lg-50" style="background-image: url(img/demo_creative_agency/1121x822_1.png)">
		<div class="container brk-z-index-20">
			<div class="row">
				<div class="col-12 col-xl-7 pt-xl-110 pt-50 pb-xl-190 pb-50">
					<div class="default-slider dots-base-skin base-skin-top-left dots-base-color slick-loading fa-req" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "autoplay": true, "autoplaySpeed": 4000}' data-brk-library="slider__slick">
						<div class="pl-10 pr-10 pb-30 pt-lg-150 pt-80 mt-lg-20">
							<div class="text-center text-lg-left">
								<h2 class="font__family-montserrat font__weight-bold font__size-56 line__height-60 mt-10" data-brk-library="component__title">Engaging, purposeful<br><span class="highlight-massive font__family-playfair font__weight-bold">and creative <span class="after wow zoomIn"></span></span></h2>
							</div>
							<p class="brk-dark-font-color font__size-16 line__height-26 mt-45 mb-25 text-center text-lg-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
							<div class="text-center text-lg-left"><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 btn-shadow ml-0 pl-50 pr-50" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a></div>
						</div>
						<div class="pl-10 pr-10 pb-30 pt-lg-150 pt-80 mt-lg-20">
							<div class="text-center text-lg-left">
								<h2 class="font__family-montserrat font__weight-bold font__size-56 line__height-60 mt-10" data-brk-library="component__title">Mobile Friendly<br><span class="highlight-massive font__family-playfair font__weight-bold">and fast <span class="after wow zoomIn"></span></span></h2>
							</div>
							<p class="brk-dark-font-color font__size-16 line__height-26 mt-45 mb-25 text-center text-lg-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
							<div class="text-center text-lg-left"><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 btn-shadow ml-0 pl-50 pr-50" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a></div>
						</div>
						<div class="pl-10 pr-10 pb-30 pt-lg-150 pt-80 mt-lg-20">
							<div class="text-center text-lg-left">
								<h2 class="font__family-montserrat font__weight-bold font__size-56 line__height-60 mt-10" data-brk-library="component__title">Smartly Coded<br><span class="highlight-massive font__family-playfair font__weight-bold">& Maintained <span class="after wow zoomIn"></span></span></h2>
							</div>
							<p class="brk-dark-font-color font__size-16 line__height-26 mt-45 mb-25 text-center text-lg-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
							<div class="text-center text-lg-left"><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 btn-shadow ml-0 pl-50 pr-50" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a></div>
						</div>
					</div>
				</div>
				<div class="col-xl-5 d-none d-xl-block position-relative"><img src="img/demo_creative_agency/1122x1237_1.png" alt="about" class="lazyload position-absolute" style="top: 0;right: 15px;width: 770px;max-width: none;"></div>
			</div>
		</div>
	</section>