<section class="pt-50 pb-70" id="shop">
				<div class="container">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-12 col-md-6">
							<div class="text-center mb-50">
								<h2 class="font__family-montserrat font__size-56 font__weight-ultralight line__height-60 mb-25">Our Shop</h2>
								<h3 class="brk-dark-font-color font__size-15 font__weight-normal line__height-24 title-lines-solid title-lines-main" data-brk-library="component__title"><span class="line" style="background:rgba(var(--brand-primary-rgb), 0.2)"></span> <span class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing<br>elit. Aenean commodo ligula eget dolor.</span> <span class="line" style="background:rgba(var(--brand-primary-rgb), 0.2)"></span></h3>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-6">
							<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
								<div class="flip flip_horizontal">
									<div class="flip__front brk-sc-flip-two__front">
										<div class="brk-sc-flip-two__thumb"><img src="img/demo_agency_modern/124x215_1.png" alt="alt" class="lazyload"></div>
										<div class="brk-sc-flip-two__description">
											<div class="brk-sc-flip-two__stick font__family-montserrat font__weight-light brk-white-font-color brk-bg-primary">-40%</div>
											<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
											<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Polo shirt</div>
										</div>
									</div>
									<div class="flip__back brk-sc-flip-two__back">
										<div class="brk-sc-flip-two__back-layer">
											<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Polo shirt</div>
											<div class="brk-sc-flip-two__list scrollbar-inner">
												<ul class="pl-15 pr-15">
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
												</ul>
											</div>
											<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6">
							<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
								<div class="flip flip_vertical">
									<div class="flip__front brk-sc-flip-two__front">
										<div class="brk-sc-flip-two__thumb"><img src="img/demo_agency_modern/126x219_1.png" alt="alt" class="lazyload"></div>
										<div class="brk-sc-flip-two__description">
											<div class="brk-sc-flip-two__stick font__family-montserrat font__weight-light brk-white-font-color brk-bg-primary">-40%</div>
											<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
											<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Hugo Boss</div>
										</div>
									</div>
									<div class="flip__back brk-sc-flip-two__back">
										<div class="brk-sc-flip-two__back-layer">
											<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Hugo Boss</div>
											<div class="brk-sc-flip-two__list scrollbar-inner">
												<ul class="pl-15 pr-15">
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
												</ul>
											</div>
											<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6">
							<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
								<div class="flip flip_vertical">
									<div class="flip__front brk-sc-flip-two__front">
										<div class="brk-sc-flip-two__thumb"><img src="img/demo_agency_modern/124x215_1.png" alt="alt" class="lazyload"></div>
										<div class="brk-sc-flip-two__description">
											<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
											<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Tommy Hilfiger</div>
										</div>
									</div>
									<div class="flip__back brk-sc-flip-two__back">
										<div class="brk-sc-flip-two__back-layer">
											<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Tommy Hilfiger</div>
											<div class="brk-sc-flip-two__list scrollbar-inner">
												<ul class="pl-15 pr-15">
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
												</ul>
											</div>
											<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6">
							<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
								<div class="flip flip_horizontal">
									<div class="flip__front brk-sc-flip-two__front">
										<div class="brk-sc-flip-two__thumb"><img src="img/demo_agency_modern/168x215_1.png" alt="alt" class="lazyload"></div>
										<div class="brk-sc-flip-two__description">
											<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
											<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Long-sleeve top</div>
										</div>
									</div>
									<div class="flip__back brk-sc-flip-two__back">
										<div class="brk-sc-flip-two__back-layer">
											<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Long-sleeve top</div>
											<div class="brk-sc-flip-two__list scrollbar-inner">
												<ul class="pl-15 pr-15">
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
												</ul>
											</div>
											<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6">
							<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
								<div class="flip flip_horizontal">
									<div class="flip__front brk-sc-flip-two__front">
										<div class="brk-sc-flip-two__thumb"><img src="img/demo_agency_modern/124x215_1.png" alt="alt" class="lazyload"></div>
										<div class="brk-sc-flip-two__description">
											<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
											<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Sleeveless shirt</div>
										</div>
									</div>
									<div class="flip__back brk-sc-flip-two__back">
										<div class="brk-sc-flip-two__back-layer">
											<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Sleeveless shirt</div>
											<div class="brk-sc-flip-two__list scrollbar-inner">
												<ul class="pl-15 pr-15">
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
												</ul>
											</div>
											<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6">
							<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
								<div class="flip flip_horizontal">
									<div class="flip__front brk-sc-flip-two__front">
										<div class="brk-sc-flip-two__thumb"><img src="img/demo_agency_modern/126x219_1.png" alt="alt" class="lazyload"></div>
										<div class="brk-sc-flip-two__description">
											<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
											<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Sport shoes</div>
										</div>
									</div>
									<div class="flip__back brk-sc-flip-two__back">
										<div class="brk-sc-flip-two__back-layer">
											<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Sport shoes</div>
											<div class="brk-sc-flip-two__list scrollbar-inner">
												<ul class="pl-15 pr-15">
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
												</ul>
											</div>
											<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6">
							<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
								<div class="flip flip_horizontal">
									<div class="flip__front brk-sc-flip-two__front">
										<div class="brk-sc-flip-two__thumb"><img src="img/demo_agency_modern/168x215_1.png" alt="alt" class="lazyload"></div>
										<div class="brk-sc-flip-two__description">
											<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
											<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">The North Face</div>
										</div>
									</div>
									<div class="flip__back brk-sc-flip-two__back">
										<div class="brk-sc-flip-two__back-layer">
											<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">The North Face</div>
											<div class="brk-sc-flip-two__list scrollbar-inner">
												<ul class="pl-15 pr-15">
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
												</ul>
											</div>
											<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-lg-6">
							<div class="flip-box brk-sc-flip-two text-center" data-brk-library="component__shop_flip,component__flip_box_css">
								<div class="flip flip_horizontal">
									<div class="flip__front brk-sc-flip-two__front">
										<div class="brk-sc-flip-two__thumb"><img src="img/demo_agency_modern/124x215_1.png" alt="alt" class="lazyload"></div>
										<div class="brk-sc-flip-two__description">
											<div class="brk-sc-flip-two__price font__family-montserrat font__weight-medium brk-base-font-color">$24.00</div>
											<div class="brk-sc-flip-two__front-title font__family-montserrat font__weight-light brk-dark-font-color">Business shoes</div>
										</div>
									</div>
									<div class="flip__back brk-sc-flip-two__back">
										<div class="brk-sc-flip-two__back-layer">
											<div class="brk-sc-flip-two__back-title font__family-montserrat font__weight-medium">Business shoes</div>
											<div class="brk-sc-flip-two__list scrollbar-inner">
												<ul class="pl-15 pr-15">
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortor</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrmper</li>
													<li><i class="far fa-check brk-base-font-color"></i> Etiam ultricies</li>
													<li><i class="far fa-check brk-base-font-color"></i> Duis arcu tortorsci</li>
													<li><i class="far fa-check brk-base-font-color"></i> Quisque rutrum</li>
												</ul>
											</div>
											<div class="brk-sc-flip-two__button"><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__family-open-sans font__weight-semibold" data-brk-library="component__button"><i class="far fa-shopping-basket icon-inside"></i> <span class="before">$24.00</span><span class="text">buy it</span><span class="after">$24.00</span></a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="cfa__wrapper cfa__minimal bg__style overlay__white text-center text-lg-left lazyload border-radius-25 mt-lg-60 mt-10" style="background-image: url(img/1170x108_2.jpg)" data-brk-library="component__call_to_action">
						<h4 class="font__family-montserrat font__size-21 font__weight-bold no-wrap">CFA Heading</h4>
						<p class="font__family-open-sans font__size-14 text-dark text-center text-lg-left">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor nean massa. Cum sociis natoque penatibus et magnis dis parturient mnsectetes.</p><a href="javascript:void(0)" class="btn btn-lg border-radius-25 font__family-open-sans font__weight-bold btn-inside-out btn-min-width-200 btn-inside-out-invert"><span class="before">read more</span> <span class="text">read more</span> <span class="after">read more</span></a>
					</div>
				</div>
			</section>