<section class="pt-50" id="portfolio">
			<div class="container">
				<div class="mb-70" data-brk-library="component__title">
					<div class="text-left d-md-flex justify-content-between align-items-center">
						<h2><span class="font__family-montserrat font__size-64 line__height-68">PORTFOLIO</span><br><span class="font__family-montserrat font__weight-bold font__size-64 line__height-68">& OUR WORKS</span></h2>
						<h4 class="font__family-montserrat highlight-underline line__height-26 font__size-21 font__weight-light mr-50"><span class="before wow fadeInUp"></span> <span class="before wow fadeInUp"></span>Stay on budget<br><span class="font__weight-bold">Review the plan</span></h4>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="brk-grid" data-grid-cols="3" data-grid-cols-tablet="3">
					<div class="brk-grid__sizer"></div>
					<div class="brk-grid__item">
						<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
							<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_agency_urban/370x370_1.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-primary-92-overlay"></span>
								<div class="brk-btn-swipe-card__caption">
									<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Put a plan</h2>
									<h2 class="brk-base-2-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">into action</h2>
								</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn-2 brk-white-font-color font__size-14 font__weight-bold text-uppercase">View more</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item brk-grid__item_height-2">
						<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
							<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_agency_urban/370x770_1.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-primary-92-overlay"></span>
								<div class="brk-btn-swipe-card__caption">
									<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Achieve the target</h2>
									<h2 class="brk-base-2-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">Stay on budget</h2>
								</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn-2 brk-white-font-color font__size-14 font__weight-bold text-uppercase">View more</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item">
						<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
							<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_agency_urban/370x370_2.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-primary-92-overlay"></span>
								<div class="brk-btn-swipe-card__caption">
									<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Wrap up</h2>
									<h2 class="brk-base-2-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">the project</h2>
								</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn-2 brk-white-font-color font__size-14 font__weight-bold text-uppercase">View more</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item">
						<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
							<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_agency_urban/370x370_3.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-primary-92-overlay"></span>
								<div class="brk-btn-swipe-card__caption">
									<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Outsource</h2>
									<h2 class="brk-base-2-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">task</h2>
								</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn-2 brk-white-font-color font__size-14 font__weight-bold text-uppercase">View more</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item brk-grid__item_height-2">
						<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
							<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_agency_urban/370x770_2.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-primary-92-overlay"></span>
								<div class="brk-btn-swipe-card__caption">
									<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Review the plan</h2>
									<h2 class="brk-base-2-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">According</h2>
								</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn-2 brk-white-font-color font__size-14 font__weight-bold text-uppercase">View more</a>
							</div>
						</div>
					</div>
					<div class="brk-grid__item brk-grid__item_width-2">
						<div class="brk-btn-swipe-card overflow-hid brk-btn-swipe-card_masonry" data-brk-library="component__portfolio_isotope">
							<div class="brk-btn-swipe-card__body position-relative pt-50 pl-60 pr-50 pb-50 z-index-2"><img src="img/demo_agency_urban/770x370_1.jpg" class="brk-abs-img lazyload" alt="alt"> <span class="brk-abs-overlay brk-primary-92-overlay"></span>
								<div class="brk-btn-swipe-card__caption">
									<h2 class="brk-white-font-color font__family-montserrat font__size-24 font__weight-bold line__height-28 text-uppercase mb-1">Schedule a meeting</h2>
									<h2 class="brk-base-2-font-color font__family-montserrat font__size-14 font__weight-bold text-uppercase line__height-18">Start from scratch</h2>
								</div><a href="javascript:void(0)" class="brk-btn-swipe-card__btn-2 brk-white-font-color font__size-14 font__weight-bold text-uppercase">View more</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>