<section class="pt-lg-10">
			<div class="container">
				<div class="text-center mb-70">
					<h5 class="font__family-montserrat font__weight-light text-uppercase font__size-18 text-blue" data-brk-library="component__title">We are awesome</h5>
					<h2 class="font__family-roboto font__weight-thin line__height-60 font__size-56 text-uppercase letter-spacing-60 mt-20" data-brk-library="component__title">Our Services</h2>
				</div>
				<div class="row">
					<div class="col-md-6 col-xl-3">
						<figure class="shape-box__wrapper-half" data-brk-library="component__shape_box"><img src="img/300x460_1.jpg " alt="alt" class="lazyload">
							<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
							<figcaption>
								<div class="show-cont">
									<h3 class="font__family-montserrat font__size-36 brk-base-font-color">01</h3>
									<h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title">Design</h4>
								</div>
								<p class="font__family-open-sans font__size-14 text-gray">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 font__weight-bold" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
							</figcaption><span class="after"></span>
						</figure>
					</div>
					<div class="col-md-6 col-xl-3">
						<figure class="shape-box__wrapper-half" data-brk-library="component__shape_box"><img src="img/300x460_2.jpg " alt="alt" class="lazyload">
							<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
							<figcaption>
								<div class="show-cont">
									<h3 class="font__family-montserrat font__size-36 brk-base-font-color">02</h3>
									<h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title">Develop</h4>
								</div>
								<p class="font__family-open-sans font__size-14 text-gray">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 font__weight-bold" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
							</figcaption><span class="after"></span>
						</figure>
					</div>
					<div class="col-md-6 col-xl-3">
						<figure class="shape-box__wrapper-half" data-brk-library="component__shape_box"><img src="img/300x460_3.jpg " alt="alt" class="lazyload">
							<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
							<figcaption>
								<div class="show-cont">
									<h3 class="font__family-montserrat font__size-36 brk-base-font-color">03</h3>
									<h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title">Research</h4>
								</div>
								<p class="font__family-open-sans font__size-14 text-gray">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 font__weight-bold" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
							</figcaption><span class="after"></span>
						</figure>
					</div>
					<div class="col-md-6 col-xl-3">
						<figure class="shape-box__wrapper-half" data-brk-library="component__shape_box"><img src="img/300x460_1.jpg " alt="alt" class="lazyload">
							<div class="brk-abs-overlay z-index-0 bg-black opacity-60"></div>
							<figcaption>
								<div class="show-cont">
									<h3 class="font__family-montserrat font__size-36 brk-base-font-color">04</h3>
									<h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title">Promotion</h4>
								</div>
								<p class="font__family-open-sans font__size-14 text-gray">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 font__weight-bold" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
							</figcaption><span class="after"></span>
						</figure>
					</div>
				</div>
				<h2 class="font__family-roboto font__weight-thin font__size-42 line__height-50 text-uppercase letter-spacing-100 mt-70 mb-60">Our Skills</h2>
				<div class="mb-lg-80 mb-60">
					<div class="row">
						<div class="col-12 col-md-8">
							<div class="progress__wrapper progress__thin mt-20" data-brk-library="component__progress_bar">
								<div class="progress">
									<div data-valuemax="100" data-valuemin="0" data-valuenow="90" class="progress__bar"><span class="font__family-open-sans font__size-16 font__weight-semibold progress__bar-counter hide">90</span> <span class="circle"></span></div>
								</div>
								<h5 class="font__family-montserrat font__size-18 font__weight-medium letter-space-40 progress__title">Hard Work</h5>
							</div>
							<div class="progress__wrapper progress__thin" data-brk-library="component__progress_bar">
								<div class="progress">
									<div data-valuemax="100" data-valuemin="0" data-valuenow="80" class="progress__bar"><span class="font__family-open-sans font__size-16 font__weight-semibold progress__bar-counter hide">80</span> <span class="circle"></span></div>
								</div>
								<h5 class="font__family-montserrat font__size-18 font__weight-medium letter-space-40 progress__title">Projects Delivery</h5>
							</div>
							<div class="progress__wrapper progress__thin mb-40" data-brk-library="component__progress_bar">
								<div class="progress">
									<div data-valuemax="100" data-valuemin="0" data-valuenow="95" class="progress__bar"><span class="font__family-open-sans font__size-16 font__weight-semibold progress__bar-counter hide">95</span> <span class="circle"></span></div>
								</div>
								<h5 class="font__family-montserrat font__size-18 font__weight-medium letter-space-40 progress__title">Customers Love</h5>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<h3 class="font__family-montserrat font__size-21 font__weight-bold line__height-28 mb-15">How to hire me?</h3>
							<p class="brk-dark-font-color font__size-16 line__height-26 mb-30">Maecenas nec odio et ante tincidunt tempus. Donecbero vitae sapien ut libero nenatis.</p>
							<p class="brk-dark-font-color font__size-16 line__height-26 mb-30">Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna</p>
						</div>
					</div>
				</div>
			</div>
		</section>