<section>
				<div class="text-center mb-lg-90 mb-40 mt-lg-140 mt-80">
					<h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52 mt-30" data-brk-library="component__title">ABOUT US</h2>
					<div class="divider-cross wow zoomIn" data-brk-library="component__title"><span></span> <span></span></div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8">
							<div class="text-center text-md-left mb-30 mb-md-0">
								<h3 class="font__family-montserrat font__size-36 line__height-42 mb-20"><span class="font__weight-300">Engaging, purposeful</span><br><span class="font__weight-bold">& Creative</span></h3>
								<p class="brk-dark-font-color font__size-15 font__weight-normal line__height-24">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 btn-shadow font__weight-bold btn-min-width-200 ml-0 mr-0 mt-25" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<ul class="list-inline-5 mt-10" data-brk-library="component__list">
								<li class="font__family-montserrat font__size-16 font__weight-bold list-counter"><span class="before"></span> <a href="javascript:void(0)">Put a plan into action</a> <img src="img/shape-1.png" alt="alt" class="list-shape"> <span class="after"></span></li>
								<li class="font__family-montserrat font__size-16 font__weight-bold list-counter"><span class="before"></span>Achieve the target <img src="img/shape-1.png" alt="alt" class="list-shape"> <span class="after"></span></li>
								<li class="font__family-montserrat font__size-16 font__weight-bold list-counter"><span class="before"></span>Wrap up the project <img src="img/shape-1.png" alt="alt" class="list-shape"> <span class="after"></span></li>
								<li class="font__family-montserrat font__size-16 font__weight-bold list-counter"><span class="before"></span>According to schedule <img src="img/shape-1.png" alt="alt" class="list-shape"> <span class="after"></span></li>
							</ul>
						</div>
					</div>
				</div>
			</section>