<section class="position-relative pt-190 pb-220 brk-bg-center-cover pt-xs-80 pb-xs-70" style="background-image: url(img/demo_agency_modern/1920x916_1.jpg)" id="testimonials"><span class="brk-svg-pattern-container brk-svg-pattern-container-7-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 144">
						<defs>
							<path id="svg-pattern-id-3-1" d="M0 657.88s316.8-72.16 689-15.96c256.8 38.77 524.63 105.83 756 116.7 218.56 10.27 420.43-40.37 475-63.95V616H0z" />
						</defs>
						<g>
							<g transform="translate(0 -616)">
								<use fill="#fff" xlink:href="#svg-pattern-id-3-1" />
							</g>
						</g>
					</svg> </span><span class="brk-svg-pattern-container brk-svg-pattern-container-7-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 144">
						<defs>
							<path id="svg-pattern-id-3-2" d="M1920 1489.12s-316.8 72.16-689 15.96c-256.8-38.77-524.63-105.83-756-116.7-218.56-10.27-420.43 40.37-475 63.95V1531h1920z" />
						</defs>
						<g>
							<g transform="translate(0 -1387)">
								<use fill="#fff" xlink:href="#svg-pattern-id-3-2" />
							</g>
						</g>
					</svg> </span><span class="brk-abs-bg-overlay brk-bg-gradient-40deg-72"></span>
				<div class="container">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-12 col-md-6">
							<div class="text-center mb-60 mb-xs-25">
								<h5 class="font__size-21 font__family-montserrat font__weight-light text-gray" data-brk-library="component__title">Stay on budget</h5>
								<h3 class="font__family-montserrat font__weight-ultralight brk-white-font-color title-lines-solid title-lines-main" data-brk-library="component__title"><span class="line" style="background:rgba(var(--white-rgb), 0.2)"></span> <span class="text">Wrap up the project</span> <span class="line" style="background:rgba(var(--white-rgb), 0.2)"></span></h3>
							</div>
						</div>
					</div>
					<div class="brk-testimonials-layered-vertical" data-brk-library="component__testimonials,slider__swiper">
						<div class="brk-testimonials-layered-vertical__container">
							<div class="overlay-vertical"></div>
							<div class="layered-vertical-slider swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="brk-testimonials-layered-vertical__item layered-vertical-item">
											<div class="brk-testimonials-layered-vertical__person">
												<div class="brk-testimonials-layered-vertical__person-info">
													<div class="brk-testimonials-layered-vertical__photo" style="background-image: url(img/demo_agency_modern/94x94_1.jpg)"></div>
													<div class="brk-testimonials-layered-vertical__name font__family-montserrat font__weight-bold">Ostin Paterson</div>
													<div class="brk-testimonials-layered-vertical__job font__family-open-sans letter-spacing-20">Client from Twitter</div>
												</div>
												<div class="brk-rating" data-brk-library="component__elements">
													<div class="brk-rating__layer"><i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i></div>
													<div class="brk-rating__imposition" style="width: 80%">
														<div class="visible"><i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i></div>
													</div>
												</div>
											</div>
											<div class="brk-testimonials-layered-vertical__comment font__family-open-sans">From the war room to the battlefield, the world was continually blowing up around Diana Prince. Yet Diana, aka Wonder Woman, never lost focus on why she left the safety of Themyscira for war-torn Europe: to stop the evil Ares and end the war. No matter what got in her way, no matter how often her path was blocked, she didn't stop.</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="brk-testimonials-layered-vertical__item layered-vertical-item">
											<div class="brk-testimonials-layered-vertical__person">
												<div class="brk-testimonials-layered-vertical__person-info">
													<div class="brk-testimonials-layered-vertical__photo" style="background-image: url(img/demo_agency_modern/94x94_2.jpg)"></div>
													<div class="brk-testimonials-layered-vertical__name font__family-montserrat font__weight-bold">Anna Jonson</div>
													<div class="brk-testimonials-layered-vertical__job font__family-open-sans letter-spacing-20">Client from Google</div>
												</div>
												<div class="brk-rating" data-brk-library="component__elements">
													<div class="brk-rating__layer"><i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i></div>
													<div class="brk-rating__imposition" style="width: 80%">
														<div class="visible"><i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i></div>
													</div>
												</div>
											</div>
											<div class="brk-testimonials-layered-vertical__comment font__family-open-sans">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Curabitur ullamcorper ultricies nisi.</div>
										</div>
									</div>
									<div class="swiper-slide">
										<div class="brk-testimonials-layered-vertical__item layered-vertical-item">
											<div class="brk-testimonials-layered-vertical__person">
												<div class="brk-testimonials-layered-vertical__person-info">
													<div class="brk-testimonials-layered-vertical__photo" style="background-image: url(img/demo_agency_modern/94x94_1.jpg)"></div>
													<div class="brk-testimonials-layered-vertical__name font__family-montserrat font__weight-bold">Mike Paterson</div>
													<div class="brk-testimonials-layered-vertical__job font__family-open-sans letter-spacing-20">Client from Yahoo</div>
												</div>
												<div class="brk-rating" data-brk-library="component__elements">
													<div class="brk-rating__layer"><i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i> <i class="fal fa-star brk-dark-font-color"></i></div>
													<div class="brk-rating__imposition" style="width: 80%">
														<div class="visible"><i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i> <i class="fas fa-star brk-base-font-color"></i></div>
													</div>
												</div>
											</div>
											<div class="brk-testimonials-layered-vertical__comment font__family-open-sans">For many small business owners and entrepreneurs, popular apps like Uber and Snapchat are sources of inspiration. It's easy to see the appeal of mobile apps: they can provide a direct connection between businesses and their customers, encouraging engagement by providing new services and perks.</div>
										</div>
									</div>
								</div>
							</div>
							<div class="swiper-base-arrow-vertical button-prev"><i class="fas fa-arrow-down brk-white-font-color"></i></div>
							<div class="swiper-base-arrow-vertical button-next"><i class="fas fa-arrow-up brk-white-font-color"></i></div>
						</div>
					</div>
				</div>
			</section>