<section class="pb-90">
				<div class="text-center mb-80 mt-80">
					<h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52 mt-30" data-brk-library="component__title">ENGAGING, PURPOSEFUL</h2>
					<h2 class="font__family-playfair font__style-italic font__weight-normal font__size-48 line__height-52" data-brk-library="component__title"><span class="text-blue">&</span> Creative</h2>
					<div class="divider-cross wow zoomIn" data-brk-library="component__title"><span></span> <span></span></div>
				</div>
				<div class="container">
					<div class="brk-shop-grid-filter" data-brk-library="component__shop_grid_filter">
						<ul class="brk-shop-grid-filter__button brk-shop-grid-filter__button_style-3 text-uppercase brk-white-font-color d-flex justify-content-center align-items-center flex-wrap font__family-open-sans font__weight-ultralight">
							<li data-filter=".dress" style="background-image: url(img/120x80_4.jpg)"><span class="text">Dress</span> <span class="before brk-base-bg-gradient-13"></span></li>
							<li class="checked" data-filter=".t-shirt" style="background-image: url(img/120x80_5.jpg)"><span class="text">T-shirt</span> <span class="before brk-base-bg-gradient-13"></span></li>
							<li data-filter=".shoes" style="background-image: url(img/120x80_6.jpg)"><span class="text">Shoes</span> <span class="before brk-base-bg-gradient-13"></span></li>
							<li data-filter=".skirts" style="background-image: url(img/120x80_7.jpg)"><span class="text">Skirts</span> <span class="before brk-base-bg-gradient-13"></span></li>
						</ul>
						<div class="brk-shop-grid-filter__items row no-gutters">
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item dress t-shirt shoes">
								<div class="brk-shop-grid-filter-special bg-white"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-2.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">Polo shirt</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item dress t-shirt shoes">
								<div class="brk-shop-grid-filter-special bg-white"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-2.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__stick brk-white-font-color font__family-montserrat font__weight-light text-uppercase">
										<div class="stick"><span>-30%</span></div>
									</div>
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">Hugo Boss</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item dress shoes">
								<div class="brk-shop-grid-filter-special brk-bg-light-dark"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-1.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">Tommy Hilfiger</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item skirts">
								<div class="brk-shop-grid-filter-special bg-white"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-2.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__stick brk-white-font-color font__family-montserrat font__weight-light text-uppercase">
										<div class="stick"><span>-30%</span></div>
									</div>
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">Long-sleeve top</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item t-shirt dress shoes">
								<div class="brk-shop-grid-filter-special brk-bg-light-dark"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-3.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__stick brk-white-font-color font__family-montserrat font__weight-light text-uppercase">
										<div class="stick"><span>-30%</span></div>
										<div class="stick"><span>Hot item</span></div>
									</div>
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">Burberry</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item t-shirt skirts">
								<div class="brk-shop-grid-filter-special bg-white"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-2.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">Sleeveless shirt</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item t-shirt dress">
								<div class="brk-shop-grid-filter-special brk-bg-light-dark"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-1.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">Sport shoes</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item t-shirt skirts shoes">
								<div class="brk-shop-grid-filter-special bg-white"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-2.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">The North Face</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item t-shirt shoes">
								<div class="brk-shop-grid-filter-special brk-bg-light-dark"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-3.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__stick brk-white-font-color font__family-montserrat font__weight-light text-uppercase">
										<div class="stick"><span>Sale</span></div>
									</div>
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">Business shoes</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-3 col-lg-4 col-sm-6 brk-shop-grid-filter__item dress t-shirt shoes">
								<div class="brk-shop-grid-filter-special bg-white"><img class="brk-shop-grid-filter-special__thumb" src="img/shop-special-2.jpg" alt="alt">
									<div class="brk-shop-grid-filter-special__container">
										<div class="brk-shop-grid-filter-special__content text-center">
											<div class="brk-shop-grid-filter-special__title mb-30">
												<h4 class="font__family-montserrat font__weight-light font__size-20 line__height-24 brk-white-font-color text-uppercase">Trench coat</h4>
											</div>
											<div class="brk-white-font-color font__family-montserrat mb-40"><span class="old-price brk-dark-font-color font__size-13">$24.00</span> <span class="font__size-18">$16.00</span></div><a href="javascript:void(0)" class="brk-shop-grid-filter-special__buy brk-base-bg-gradient-13 brk-base-box-shadow-primary"><span class="text brk-white-font-color text-uppercase font__family-montserrat font__weight-light font__size-14 line__height-44">Buy it now</span> <span class="icon brk-base-font-color brk-base-box-shadow-primary"><i class="far fa-shopping-cart"></i></span></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="text-center mt-90"><a href="javascript:void(0)" class="icon__btn icon__btn-anim icon__btn-md icon__btn-invert"><span class="before"></span> <i class="fal fa-sync" aria-hidden="true"></i> <span class="after"></span> <span class="bg"></span></a></div>
				</div>
			</section>