<section>
				<div class="pt-80 position-relative overflow-hid brk-bottom-triangle" style="background-color: #f7f9fd;"><img src="img/wave-bg-1.png" alt="alt" style="position: absolute; left: 0; top: -73px;"> <img src="img/wave-bg-2.png" alt="alt" style="position: absolute; right: -50px; top: 120px"> <img src="img/wave-bg-3.png" alt="alt" style="position: absolute; left: 0; bottom: 0;">
					<div class="text-center mb-80 position-relative">
						<h5 class="font__family-montserrat font__weight-light text-uppercase font__size-18 text-blue" data-brk-library="component__title">We are Awesome</h5>
						<h2 class="font__family-roboto font__weight-thin line__height-52 font__size-46 text-uppercase letter-spacing-60 mt-20" data-brk-library="component__title">Our Best Features</h2>
						<h2 class="font__family-roboto font__weight-normal line__height-52 font__size-46 text-uppercase letter-spacing-60" data-brk-library="component__title">& Skills</h2>
						<hr class="divider wow zoomIn" data-brk-library="component__title">
					</div>
					<div class="position-relative z-index-3 mb-90">
						<div class="container">
							<div class="brk-tabs brk-tabs_tabbed-icon bg-white" data-brk-library="component__tabbed_contents">
								<div class="brk-tabs_tabbed-icon--header brk-base-bg-gradient-5 font__family-montserrat brk-bgi-1">
									<div class="brk-tabs_tabbed-icon--title">Put a plan into action</div>
									<ul class="brk-tabs-nav">
										<li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i> <span>Delicious</span></li>
										<li class="brk-tab"><i class="far fa-gem" aria-hidden="true"></i> <span>Diamond</span></li>
										<li class="brk-tab"><i class="fab fa-gg" aria-hidden="true"></i> <span>G & G</span></li>
										<li class="brk-tab"><i class="fab fa-codepen" aria-hidden="true"></i> <span>Codepen</span></li>
										<li class="brk-tab"><i class="fa fa-cube" aria-hidden="true"></i> <span>Cube</span></li>
									</ul>
								</div>
								<div class="brk-tabs-content">
									<div class="brk-tab-item">
										<div class="row no-gutters">
											<div class="col-xl-5 col-lg-6">
												<div class="rotation-slider slick-loading dots-base-skin dots-base-color mb-30" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "dots": true, "draggable": false, "autoplay": true, "autoplaySpeed": 3000, "centerPadding": "110px"}' data-brk-library="slider__slick,fancybox">
													<div>
														<div class="brk-slid"><a href="img/285x380_1.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_1.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_2.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_2.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_3.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_3.jpg" alt="alt"></a></div>
													</div>
												</div>
											</div>
											<div class="col-xl-7 col-lg-6">
												<h4 class="font__family-montserrat font__weight-bold mt-20 mb-20 text-center text-xl-left pl-lg-30">Achieve the target</h4>
												<p class="mb-30 text-center text-xl-left pl-lg-30 brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
												<p class="text-center text-xl-left pl-lg-30 brk-dark-font-color">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in</p>
											</div>
										</div>
									</div>
									<div class="brk-tab-item">
										<div class="row no-gutters">
											<div class="col-xl-5">
												<div class="rotation-slider slick-loading dots-base-skin dots-base-color mb-30" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "dots": true, "draggable": false, "autoplay": true, "autoplaySpeed": 3000, "centerPadding": "110px"}'>
													<div>
														<div class="brk-slid"><a href="img/285x380_1.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_1.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_2.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_2.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_3.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_3.jpg" alt="alt"></a></div>
													</div>
												</div>
											</div>
											<div class="col-xl-7">
												<h4 class="font__family-montserrat font__weight-bold mt-20 mb-20 text-center text-xl-left pl-xl-30">Stay on budget</h4>
												<p class="mb-30 text-center text-xl-left pl-xl-30 brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
												<p class="text-center text-xl-left pl-xl-30 brk-dark-font-color">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in</p>
											</div>
										</div>
									</div>
									<div class="brk-tab-item">
										<div class="row no-gutters">
											<div class="col-xl-5">
												<div class="rotation-slider slick-loading dots-base-skin dots-base-color mb-30" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "dots": true, "draggable": false, "autoplay": true, "autoplaySpeed": 3000, "centerPadding": "110px"}'>
													<div>
														<div class="brk-slid"><a href="img/285x380_1.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_1.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_2.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_2.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_3.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_3.jpg" alt="alt"></a></div>
													</div>
												</div>
											</div>
											<div class="col-xl-7">
												<h4 class="font__family-montserrat font__weight-bold mt-20 mb-20 text-center text-xl-left pl-xl-30">Wrap up the project</h4>
												<p class="mb-30 text-center text-xl-left pl-xl-30 brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
												<p class="text-center text-xl-left pl-xl-30 brk-dark-font-color">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in</p>
											</div>
										</div>
									</div>
									<div class="brk-tab-item">
										<div class="row no-gutters">
											<div class="col-xl-5">
												<div class="rotation-slider slick-loading dots-base-skin dots-base-color mb-30" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "dots": true, "draggable": false, "autoplay": true, "autoplaySpeed": 3000, "centerPadding": "110px"}'>
													<div>
														<div class="brk-slid"><a href="img/285x380_1.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_1.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_2.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_2.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_3.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_3.jpg" alt="alt"></a></div>
													</div>
												</div>
											</div>
											<div class="col-xl-7">
												<h4 class="font__family-montserrat font__weight-bold mt-20 mb-20 text-center text-xl-left pl-xl-30">Outsource a task</h4>
												<p class="mb-30 text-center text-xl-left pl-xl-30 brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
												<p class="text-center text-xl-left pl-xl-30 brk-dark-font-color">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in</p>
											</div>
										</div>
									</div>
									<div class="brk-tab-item">
										<div class="row no-gutters">
											<div class="col-xl-5">
												<div class="rotation-slider slick-loading dots-base-skin dots-base-color mb-30" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": false, "dots": true, "draggable": false, "autoplay": true, "autoplaySpeed": 3000, "centerPadding": "110px"}'>
													<div>
														<div class="brk-slid"><a href="img/285x380_1.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_1.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_2.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_2.jpg" alt="alt"></a></div>
													</div>
													<div>
														<div class="brk-slid"><a href="img/285x380_3.jpg" class="frame-image image-popup img-square shadow fancybox"><img src="img/285x380_3.jpg" alt="alt"></a></div>
													</div>
												</div>
											</div>
											<div class="col-xl-7">
												<h4 class="font__family-montserrat font__weight-bold mt-20 mb-20 text-center text-xl-left pl-xl-30">Review the plan</h4>
												<p class="mb-30 text-center text-xl-left pl-xl-30 brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>
												<p class="text-center text-xl-left pl-xl-30 brk-dark-font-color">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>