<section class="position-relative pt-160 pb-220 pt-xs-50 pb-xs-70 brk-bgi-1 brk-bgi-1 brk-bg-pattern brk-mt-minus-280" id="about"><span class="brk-abs-bg-overlay" style="background-color: rgba(249, 251, 255, 0.96);"></span> <span class="brk-svg-pattern-container brk-svg-pattern-container-7-top brk-svg-pattern-container_top" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 144">
						<defs>
							<path id="svg-pattern-id-1-1" d="M0 657.88s316.8-72.16 689-15.96c256.8 38.77 524.63 105.83 756 116.7 218.56 10.27 420.43-40.37 475-63.95V616H0z" />
						</defs>
						<g>
							<g transform="translate(0 -616)">
								<use fill="#fff" xlink:href="#svg-pattern-id-1-1" />
							</g>
						</g>
					</svg> </span><span class="brk-svg-pattern-container brk-svg-pattern-container-7-bottom brk-svg-pattern-container_bottom" data-brk-library="component__svg_pattern"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 144">
						<defs>
							<path id="svg-pattern-id-1-2" d="M1920 1489.12s-316.8 72.16-689 15.96c-256.8-38.77-524.63-105.83-756-116.7-218.56-10.27-420.43 40.37-475 63.95V1531h1920z" />
						</defs>
						<g>
							<g transform="translate(0 -1387)">
								<use fill="#fff" xlink:href="#svg-pattern-id-1-2" />
							</g>
						</g>
					</svg></span>
				<div class="container">
					<div class="row">
						<div class="col-md-3"></div>
						<div class="col-12 col-md-6">
							<div class="text-center mb-lg-100 mt-20 mt-lg-0 mb-40">
								<h2 class="font__family-montserrat font__size-56 font__weight-ultralight line__height-60 mb-25">About Us</h2>
								<h3 class="brk-dark-font-color font__size-15 font__weight-normal line__height-24 title-lines-solid title-lines-main" data-brk-library="component__title"><span class="line" style="background:rgba(var(--brand-primary-rgb), 0.2)"></span> <span class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing<br>elit. Aenean commodo ligula eget dolor.</span> <span class="line" style="background:rgba(var(--brand-primary-rgb), 0.2)"></span></h3>
							</div>
						</div>
					</div>
					<div class="services__wrapper-main services__wrapper-pedestal active__effect-main" data-brk-library="component__services">
						<div class="row row-no-gutter align-items-center">
							<div class="col-lg-4">
								<div class="services__wrapper active__effect right text-lg-right">
									<div class="inline-wrap"><button class="icon__btn icon__btn-anim icon__btn-md_1"><span class="after"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="before"></span> <i class="fa fa-trophy" aria-hidden="true"></i></button>
										<div>
											<p class="font__family-open-sans font__weight-bold font__size-16 brk-base-font-color">We are Awesome</p>
											<h4 class="font__family-montserrat font__weight-ultralight font__size-24 text-uppercase mt-10">The North<br>Face</h4>
										</div>
									</div>
									<p class="font__family-open-sans font__size-14 text-gray mt-20">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__weight-bold" data-brk-library="component__button"><i class="far fa-comment-alt icon-inside" aria-hidden="true"></i> <span class="before">all info</span><span class="text">Click Me</span><span class="after">all info</span></a>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="services__wrapper active__effect active current center text-center"><button class="icon__btn icon__btn-anim icon__btn-md_1"><span class="after"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="before"></span> <i class="fa fa-trophy" aria-hidden="true"></i></button>
									<p class="font__family-open-sans font__weight-bold font__size-16 brk-base-font-color">We are Awesome</p>
									<h4 class="font__family-montserrat font__weight-ultralight font__size-24 text-uppercase mt-10">Business<br>shoes</h4>
										<p class="font__family-open-sans font__size-14 text-gray mt-20">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__weight-bold" data-brk-library="component__button"><i class="far fa-comment-alt icon-inside" aria-hidden="true"></i> <span class="before">all info</span><span class="text">Click Me</span><span class="after">all info</span></a>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="services__wrapper active__effect left text-lg-left">
									<div class="inline-wrap"><button class="icon__btn icon__btn-anim icon__btn-md_1"><span class="after"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="spike"></span> <span class="before"></span> <i class="fa fa-trophy" aria-hidden="true"></i></button>
										<div>
											<p class="font__family-open-sans font__weight-bold font__size-16 brk-base-font-color">We are Awesome</p>
											<h4 class="font__family-montserrat font__weight-ultralight font__size-24 text-uppercase mt-10">Ralph<br>Lauren</h4>
										</div>
									</div>
									<p class="font__family-open-sans font__size-14 text-gray mt-20">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p><a href="javascript:void(0)" class="btn btn-inside-out btn-md btn-icon border-radius-25 font__weight-bold" data-brk-library="component__button"><i class="far fa-comment-alt icon-inside" aria-hidden="true"></i> <span class="before">all info</span><span class="text">Click Me</span><span class="after">all info</span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>