<section class="overflow-hid pb-40">
		<div class="pt-sm-70 pt-40 position-relative brk-bg-center-cover lazyload" data-bg="img/demo_creative_agency/1920x1080_1.jpg">
			<div class="brk-abs-bg-overlay brk-bg-gradient-40deg-92"></div>
			<div class="container">
				<div class="row">
					<div class="col-12 col-sm-4">
						<h2 class="brk-white-font-color font__family-montserrat font__size-56 line__height-64 font__weight-bold text-center text-sm-left pb-sm-40 pb-15">Our Services</h2>
					</div>
					<div class="col-sm-1"></div>
					<div class="col-12 col-sm-7">
						<p class="brk-white-font-color opacity-50 font__size-16 line__height-26 mt-15 pb-80 pb-xs-40 text-center text-sm-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra.</p>
					</div>
				</div>
				<div class="brk-services-slider pb-110 fa-req">
					<div class="brk-services-slider__items dots-base-skin dots-base-color">
						<div>
							<div class="info-box-icon-simple d-flex flex-column align-items-center pt-60 pb-50 pl-50 pr-50 position-relative" data-brk-library="component__info_box"><span class="brk-abs-overlay brk-base-bg-gradient-13"></span>
								<div class="info-box-icon-simple__icon-wrapper d-flex align-items-center justify-content-center mb-45"><i class="far fa-file-alt" aria-hidden="true"></i></div>
								<p class="font__family-montserrat info-box-icon-simple__title font__size-28 font__weight-bold line__height-30 mb-20 text-center">Scalable on Devices</p>
								<p class="brk-dark-font-color font__size-16 info-box-icon-simple__about line__height-26 font__weight-normal mb-35 text-center">Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 btn-shadow ml-0 mr-0 mt-0 mb-0 pl-70 pr-70" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
							</div>
						</div>
						<div>
							<div class="info-box-icon-simple d-flex flex-column align-items-center pt-60 pb-50 pl-50 pr-50 position-relative" data-brk-library="component__info_box"><span class="brk-abs-overlay brk-base-bg-gradient-13"></span>
								<div class="info-box-icon-simple__icon-wrapper d-flex align-items-center justify-content-center mb-45"><i class="far fa-keyboard" aria-hidden="true"></i></div>
								<p class="font__family-montserrat info-box-icon-simple__title font__size-28 font__weight-bold line__height-30 mb-20 text-center">Truly Multi-Purpose</p>
								<p class="brk-dark-font-color font__size-16 info-box-icon-simple__about line__height-26 font__weight-normal mb-35 text-center">Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 btn-shadow ml-0 mr-0 mt-0 mb-0 pl-70 pr-70" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
							</div>
						</div>
						<div>
							<div class="info-box-icon-simple d-flex flex-column align-items-center pt-60 pb-50 pl-50 pr-50 position-relative" data-brk-library="component__info_box"><span class="brk-abs-overlay brk-base-bg-gradient-13"></span>
								<div class="info-box-icon-simple__icon-wrapper d-flex align-items-center justify-content-center mb-45"><i class="far fa-gem" aria-hidden="true"></i></div>
								<p class="font__family-montserrat info-box-icon-simple__title font__size-28 font__weight-bold line__height-30 mb-20 text-center">Flexible & Customizable</p>
								<p class="brk-dark-font-color font__size-16 info-box-icon-simple__about line__height-26 font__weight-normal mb-35 text-center">Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 btn-shadow ml-0 mr-0 mt-0 mb-0 pl-70 pr-70" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
							</div>
						</div>
						<div>
							<div class="info-box-icon-simple d-flex flex-column align-items-center pt-60 pb-50 pl-50 pr-50 position-relative" data-brk-library="component__info_box"><span class="brk-abs-overlay brk-base-bg-gradient-13"></span>
								<div class="info-box-icon-simple__icon-wrapper d-flex align-items-center justify-content-center mb-45"><i class="fas fa-cog" aria-hidden="true"></i></div>
								<p class="font__family-montserrat info-box-icon-simple__title font__size-28 font__weight-bold line__height-30 mb-20 text-center">Free support & updates</p>
								<p class="brk-dark-font-color font__size-16 info-box-icon-simple__about line__height-26 font__weight-normal mb-35 text-center">Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p><a href="javascript:void(0)" class="btn btn-inside-out btn-lg border-radius-25 btn-shadow ml-0 mr-0 mt-0 mb-0 pl-70 pr-70" data-brk-library="component__button"><span class="before">read more</span><span class="text">Click Me</span><span class="after">read more</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>