<section>
  <div class="container mt-lg-130 mt-70 mb-90">
				<div class="row">
					<div class="col-12 col-lg-5">
						<h3 class="font__family-montserrat font__size-56 line__height-60 mb-25 text-center text-lg-left"><span class="font__weight-ultralight">Endless</span><br><span class="font__weight-bold">Possibilities</span></h3>
						<p class="brk-dark-font-color pr-10 font__size-16 font__weight-normal line__height-26 text-center text-lg-left">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
					</div>
					<div class="col-12 col-lg-7">
						<div class="progress__wrapper progress__transparent mt-70 mt-lg-15" data-brk-library="component__progress_bar">
							<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Hard Work</h5>
							<div class="progress">
								<div data-valuemax="100" data-valuemin="0" data-valuenow="56" class="progress__bar">
									<div class="progress__bar-counter_wrap"><span class="before"></span><span class="font__family-open-sans font__size-16 font__weight-bold progress__bar-counter hide">56</span></div><span class="circle"></span>
								</div>
							</div>
						</div>
						<div class="progress__wrapper progress__transparent" data-brk-library="component__progress_bar">
							<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Projects Delivery</h5>
							<div class="progress">
								<div data-valuemax="100" data-valuemin="0" data-valuenow="82" class="progress__bar">
									<div class="progress__bar-counter_wrap"><span class="before"></span><span class="font__family-open-sans font__size-16 font__weight-bold progress__bar-counter hide">82</span></div><span class="circle"></span>
								</div>
							</div>
						</div>
						<div class="progress__wrapper progress__transparent" data-brk-library="component__progress_bar">
							<h5 class="font__family-montserrat font__size-16 font__weight-bold progress__title">Customers Love</h5>
							<div class="progress">
								<div data-valuemax="100" data-valuemin="0" data-valuenow="36" class="progress__bar">
									<div class="progress__bar-counter_wrap"><span class="before"></span><span class="font__family-open-sans font__size-16 font__weight-bold progress__bar-counter hide">36</span></div><span class="circle"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</section>