<section>
				<div class="container">
					<div class="row no-gutters">
						<div class="col-12 col-lg-6 position-relative mb-30 mb-lg-0 mt-70 mt-lg-0">
							<div class="position-lg-relative" style="top: -130px"><img class="lazyload w-100" src="img/demo_art/585x786_1.jpg" alt="">
								<div class="brk-abs-bg-overlay bg-black opacity-60"></div>
								<div class="brk-abs-bg-overlay d-flex align-items-end justify-content-end pt-60 pb-60 pr-50 pl-50">
									<h2 class="font__family-oxygen brk-white-font-color font__size-72 line__height-78 font__weight-light text-uppercase text-right">Real<br>People</h2>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="position-relative"><img class="lazyload w-100" src="img/demo_art/585x786_2.jpg" alt="">
								<div class="brk-abs-bg-overlay bg-primary opacity-90"></div>
								<div class="brk-abs-bg-overlay d-flex align-items-end justify-content-start pt-60 pb-60 pr-50 pl-50">
									<h2 class="font__family-oxygen brk-white-font-color font__size-72 line__height-78 font__weight-light text-uppercase">Real<br>Stories</h2>
								</div>
								<div class="brk-abs-bg-overlay d-flex align-items-center justify-content-center"><a href="javascript:void(0)" class="icon__btn icon__btn-md icon__btn-circled icon__btn-white" data-brk-library="component__button"><i class="fas fa-play"></i> <span class="before"></span><span class="after"></span></a></div>
							</div>
						</div>
					</div>
				</div>
			</section>