<section>
				<div class="pt-100 pb-100 brk-bg-center-cover text-center lazyload" style="background-image: url(img/bg-18.jpg)" data-brk-library="component__social_block"><span class="brk-abs-bg-overlay brk-bg-color-dark-6"></span>
					<div class="container all-light">
						<div class="line-heading" data-brk-library="component__title">
							<div class="text-left text-lg-right">
								<h2 class="font__family-montserrat font__weight-bold font__size-42">Just Follow Us</h2>
								<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">Stay with us</h4>
							</div>
							<p class="font__family-open-sans font__size-16 text-left text-gray vert-line">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br class="hide show-md-block">Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
						</div>
						<div class="row mt-30" data-brk-library="component__social_block">
							<div class="col-6 col-md-4 col-lg-2">
								<div class="social__icon-circle"><a href="javascript:void(0)"><i class="icon fab fa-facebook-f"><span class="before"></span><span class="after"></span></i></a>
									<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">Facebook</h4>
									<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
								</div>
							</div>
							<div class="col-6 col-md-4 col-lg-2">
								<div class="social__icon-circle"><a href="javascript:void(0)"><i class="icon fab fa-twitter"><span class="before"></span><span class="after"></span></i></a>
									<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">Twitter</h4>
									<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
								</div>
							</div>
							<div class="col-6 col-md-4 col-lg-2">
								<div class="social__icon-circle"><a href="javascript:void(0)"><i class="icon fab fa-instagram"><span class="before"></span><span class="after"></span></i></a>
									<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">Instagram</h4>
									<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
								</div>
							</div>
							<div class="col-6 col-md-4 col-lg-2">
								<div class="social__icon-circle"><a href="javascript:void(0)"><i class="icon fab fa-youtube"><span class="before"></span><span class="after"></span></i></a>
									<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">YouTube</h4>
									<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
								</div>
							</div>
							<div class="col-6 col-md-4 col-lg-2">
								<div class="social__icon-circle"><a href="javascript:void(0)"><i class="icon fab fa-google"><span class="before"></span><span class="after"></span></i></a>
									<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">Google +</h4>
									<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
								</div>
							</div>
							<div class="col-6 col-md-4 col-lg-2">
								<div class="social__icon-circle"><a href="javascript:void(0)"><i class="icon fab fa-vimeo-v"><span class="before"></span><span class="after"></span></i></a>
									<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-blue">Vimeo</h4>
									<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>