<section class="position-relative z-index-1 pt-50 pb-50 brk-subscribe-solid lazyload" data-bg="img/demo_art/1920x152_1.jpg">
				<div class="brk-abs-overlay bg-primary opacity-90"></div>
				<div class="container">
					<div class="d-flex flex-column flex-lg-row justify-content-between">
						<h2 class="brk-white-font-color font__family-montserrat-alt font__size-56 font__weight-bold line__height-56 text-uppercase text-center text-lg-left mb-20 mb-lg-0">Subscribe</h2>
						<form action="#" class="brk-subscribe-mail brk-form-strict d-flex flex-column flex-lg-row flex-grow-1" data-brk-library="component__form"><input type="text" placeholder="Your Email" class="mb-20 mb-lg-0" name="FNAME"> <button class="btn btn-inside-out btn-lg border-radius-0 btn-inside-out-invert mt-0 mr-0 mb-0" data-brk-library="component__button"><span class="before">Subscribe</span><span class="text">Click Me</span><span class="after">Subscribe</span></button></form>
					</div>
				</div>
			</section>