<section class="pt-lg-130 pt-40 pb-lg-170 pb-40" id="about">
				<div class="container">
					<div class="brk-tabs brk-tabs-side-left" data-hash="true" data-brk-library="component__tabs">
						<ul class="brk-tabs-nav font__family-montserrat">
							<li class="brk-tab"><i class="far fa-gem" aria-hidden="true"></i><span>Diamond</span><span class="after"></span></li>
							<li class="brk-tab"><i class="fab fa-delicious" aria-hidden="true"></i><span>Delicious</span><span class="after"></span></li>
							<li class="brk-tab"><i class="fab fa-gg" aria-hidden="true"></i><span>G & G</span><span class="after"></span></li>
						</ul>
						<div class="brk-tabs-content">
							<div class="brk-tab-item">
								<div class="mb-40">
									<div class="heading-style-left">
										<h2 class="font__family-roboto font__weight-thin font__size-56 line__height-64 heading-style-left-h">About Us</h2><span class="title__heading-05 pl-1 title__heading-sub heading-style-left-span font__family-roboto font__size-18 font__weight-bold">Company Info</span>
									</div>
								</div>
								<div class="row no-gutters">
									<div class="col-lg-7">
										<p class="brk-dark-font-color text-left mb-20 mt-30">Jeff Bezos started Amazon 23 years ago as an online bookstore. Today it has grown into the largest internet retailer in the world; it’s home to an Oscar- and Emmy-winning production studio; its subscription service.</p>
										<p class="brk-dark-font-color text-left mb-60">Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet.</p>
									</div>
									<div class="col-lg-5"><img src="img/270x430_1.jpg" alt="alt" class="ml-30 ml-xs-0 lazyload" data-brk-library="fancybox"></div>
								</div>
								<div style="margin-top: -155px">
									<div class="bg__style overlay__gradient all-light lazyload" style="background-image: url(img/demo_freelance_blog/870x106_1.jpg)" data-brk-library="component__call_to_action">
										<div class="container">
											<div class="cfa__wrapper cfa__hot pt-30 pb-30 pl-20 pr-20">
												<div><span class="font__family-open-sans font__size-13 font__weight-bold hot-panel">HOT!</span></div>
												<h4 class="font__family-montserrat font__size-25 font__weight-bold text-uppercase">CALL FOR ACTION <span class="font__weight-ultralight">BLOCK HEADING TITLE GOES HERE</span></h4>
											</div>
										</div><span class="overlay_after brk-base-bg-gradient-14 opacity-90"></span>
									</div>
								</div>
							</div>
							<div class="brk-tab-item">
								<div class="mb-40">
									<div class="heading-style-left">
										<h2 class="font__family-roboto font__weight-thin font__size-56 line__height-64 heading-style-left-h">About Me</h2><span class="title__heading-05 pl-1 title__heading-sub heading-style-left-span font__family-roboto font__size-18 font__weight-bold">Company Info</span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8">
										<p class="brk-dark-font-color text-left mb-20">It’s 1 pm on a Thursday, and Bobby Flay is sitting in his favorite spot to conduct daily business: the corner banquette in the front window at Gato, the Lower Manhattan outpost of his fine-dining empire. He is dressed casually in a dark-blue henley and jeans, wrapping up a call as his team gets situated around him for the first agenda item of the day: testing 10 new cocktails.</p>
										<p class="brk-dark-font-color text-left mb-20">Marlene is the new bar manager, and this is her first time pitching the boss her own concoctions. She’s a bit nervous, but she’s done her homework. And Flay is impressed, on the whole, with her creations. But he zeroes in on one drink in particular. “You know what the surprising flavor in here is,” he tells her with genuine admiration, “and not everyone’s going to pick up on this -- it’s the pink peppercorn.” But after a further moment’s reflection, the garnish in Marlene’s drink gives him pause.</p>
										<p class="brk-dark-font-color text-left mb-20">After 30-plus years running a kitchen, opening dozens of successful upscale and fast-casual restaurants employing, at present, more than 1,000 people and managing a widening universe of side projects, TV shows and product lines, the 52-year-old Flay is cocksure and precise in his knowledge of what will and will not go over with the customer, and he shares that knowledge freely with his staffers.</p>
									</div>
									<div class="col-lg-4"><img src="img/270x430_2.jpg" alt="alt" class="lazyload" data-brk-library="fancybox"></div>
								</div>
							</div>
							<div class="brk-tab-item">
								<div class="mb-40">
									<div class="heading-style-left">
										<h2 class="font__family-roboto font__weight-thin font__size-56 line__height-64 heading-style-left-h">About Company</h2><span class="title__heading-05 pl-1 title__heading-sub heading-style-left-span font__family-roboto font__size-18 font__weight-bold">Company Info</span>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-8">
										<p class="brk-dark-font-color text-left mb-20">On a Thursday afternoon in late spring, 32-year-old Glossier founder and CEO Emily Weiss rides the elevator to the penthouse level of her company's downtown Manhattan headquarters. She's a thoroughly millennial girlboss in jeans, sneakers and a royal blue sweatshirt with weiss embroidered in small white script. Her hair is pulled back in a ponytail, and for the founder of a beauty products company, she wears notably little makeup - just some mascara and possibly a swipe of Glossier Lip Gloss, a recent product release touted online as having a "fuzzy doe-foot applicator."</p>
										<p class="brk-dark-font-color text-left mb-60">A former teen model, Weiss is beautiful but not intimidating, either by nature or by design (probably a little of both). After all, her company’s popularity is directly related to her ability to cultivate a feeling of friendship with and among her customers. Just enough relatability is key.</p>
										<div class="cfa__wrapper cfa__container bg__style overlay__gradient all-light text-center text-lg-left mb-20 lazyload" style="background-image: url(img/1170x108_2.jpg)" data-brk-library="component__call_to_action">
											<h4 class="font__family-montserrat font__size-21 font__weight-bold no-wrap">CFA Heading</h4>
											<p class="font__family-open-sans font__size-14 brk-white-font-color opacity-70 text-center text-lg-left brk-dark-font-color">Call for action Block heading title goes</p><span class="overlay_after"></span>
										</div>
									</div>
									<div class="col-lg-4"><img class="lazyload" src="img/270x430_3.jpg" alt="alt" data-brk-library="fancybox"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>