<section class="pt-70 pt-md-100 pb-100 pb-lg-130 position-relative z-index-3 overflow-hid">
			<div class="container">
				<div class="text-center mb-lg-100 mb-40">
					<h4 class="font__family-montserrat font__weight-light font__size-28 line__height-30 mb-10 brk-base-font-color">Check our progress</h4>
					<h3 class="font__family-montserrat font__size-42 font__weight-bold line__height-46 mb-20 mb-md-35">Our Timeline</h3>
					<p class="brk-dark-font-color font__family-montserrat font__size-15 font__weight-normal line__height-24">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo<br>ligula eget dolor. Aenean massa. Cum sociis natoque penatibus</p>
				</div>
			</div>
			<div class="container">
				<div class="timeline timeline--masonry-grid timeline--vertical-circles" data-brk-library="component__timelines_css,component__timelines_js">
					<div class="timeline__wrapper">
						<div class="timeline__item">
							<div class="timeline__box"><img class="lazyload" src="img/demo_agency_fluid/370x280_1.jpg" alt="alt">
								<div class="timeline__content text-left brk-dark-font-color">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-montserrat font__weight-semibold font__size-18 brk-base-font-color line__height-16">2014</div>
										<div class="timeline__date-month font__family-montserrat font__weight-medium font__size-15 line__height-16">Aug 06</div>
									</div>
									<p class="mt-15 text-center font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim.</p>
								</div>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__box">
								<div class="timeline__content text-center brk-dark-font-color">
									<div class="timeline__date text-center">
										<div class="timeline__date-year font__family-montserrat font__weight-bold font__size-18 brk-black-font-color line__height-16">2016</div>
										<div class="timeline__date-month font__family-montserrat font__weight-medium font__size-15 line__height-16">Aug 06</div>
									</div>
									<p class="mt-30 font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim.</p>
									<ul class="mt-30 text-left font__family-oxygen font__weight-medium font__size-14 letter-spacing--1 brk-black-font-color line__height-24">
										<li>Duis arcu tortoro venenatis</li>
										<li>Quisque Nullam quir rutrmper</li>
										<li>Etiam dui quis mi ultricies</li>
									</ul><button class="mt-25 btn btn-lg border-radius-25 font__family-open-sans font__weight-bold btn-inside-out" data-brk-library="component__button"><span class="before">Read More</span> <span class="text">Read More</span> <span class="after">Read More</span></button>
								</div>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__box"><img class="lazyload" src="img/demo_agency_fluid/370x280_2.jpg" alt="alt">
								<div class="timeline__content text-left brk-dark-font-color">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-montserrat font__weight-semibold font__size-18 brk-base-font-color line__height-16">2017</div>
										<div class="timeline__date-month font__family-montserrat font__weight-medium font__size-15 brk-black-font-color line__height-16">Aug 06</div>
									</div>
									<p class="mt-15 text-center font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim.</p>
								</div>
							</div>
						</div>
						<div class="timeline__item">
							<div class="timeline__box"><img class="lazyload" src="img/demo_agency_fluid/370x400_1.jpg" alt="alt">
								<div class="timeline__content text-left brk-dark-font-color">
									<div class="timeline__date">
										<div class="timeline__date-year font__family-montserrat font__weight-semibold font__size-18 brk-base-font-color line__height-16">2018</div>
										<div class="timeline__date-month font__family-montserrat font__weight-medium font__size-15 brk-black-font-color line__height-16">Aug 06</div>
									</div>
									<p class="mt-15 text-center font__family-oxygen font__weight-medium font__size-16 letter-spacing--1 line__height-26">Aenean vulputate eleifend tellusnean leo ligula, porttitor eu, sequat vitae, eleifend ac, enim.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="timeline__progress-bar"><a class="btn btn-simple btn-circle border-radius-50" data-brk-library="component__button"><i class="fal fa-sync"></i></a></div>
				</div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-1" style="left:-70px;top:200px; right:auto; bottom:auto" data-brk-library="component__backgrounds_css"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="417" height="416" viewBox="0 0 417 416">
					<defs>
						<path id="backgrounds-id-1" d="M134.56 5718.66c114.7 0 207.67 92.98 207.67 207.67 0 114.7-92.98 207.67-207.67 207.67-114.7 0-207.67-92.98-207.67-207.67 0-114.7 92.98-207.67 207.67-207.67z" />
						<clipPath id="backgrounds-id-2">
							<use fill="#fff" xlink:href="#backgrounds-id-1" />
						</clipPath>
					</defs>
					<g>
						<g opacity=".3" transform="translate(74 -5718)">
							<use fill="#fff" fill-opacity="0" stroke="#000" stroke-dasharray="0 16" stroke-linecap="round" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#backgrounds-id-2&quot;)" xlink:href="#backgrounds-id-1" />
						</g>
					</g>
				</svg>
				<div class="brk-animated-circle__container"><span class="brk-animated-circle__dot-1"></span></div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-2" style="left:auto;top:30px;right:-10px; bottom:auto" data-brk-library="component__backgrounds_css"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="417" height="416" viewBox="0 0 417 416">
					<defs>
						<path id="backgrounds-id-13-2" d="M134.56 5718.66c114.7 0 207.67 92.98 207.67 207.67 0 114.7-92.98 207.67-207.67 207.67-114.7 0-207.67-92.98-207.67-207.67 0-114.7 92.98-207.67 207.67-207.67z" />
						<clipPath id="backgrounds-id-13-1">
							<use fill="#fff" xlink:href="#backgrounds-id-13-2" />
						</clipPath>
					</defs>
					<g>
						<g opacity=".3" transform="translate(74 -5718)">
							<use fill="#fff" fill-opacity="0" stroke="#000" stroke-dasharray="0 16" stroke-linecap="round" stroke-miterlimit="50" stroke-width="4" clip-path="url(&quot;#backgrounds-id-13-1&quot;)" xlink:href="#backgrounds-id-13-2" />
						</g>
					</g>
				</svg>
				<div class="brk-animated-circle__container"><span class="brk-animated-circle__dot-1"></span></div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-3" style="left:70px;top:auto;right:auto; bottom:450px" data-brk-library="component__backgrounds_css"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="230" height="230" viewBox="0 0 230 230">
					<defs>
						<path id="backgrounds-id-14-2" d="M188.02 6501c63.52 0 115.01 51.49 115.01 115s-51.49 115-115.01 115S73 6679.51 73 6616s51.5-115 115.02-115z" />
						<clipPath id="backgrounds-id-14-1">
							<use fill="#fff" xlink:href="#backgrounds-id-14-2" />
						</clipPath>
					</defs>
					<g>
						<g opacity=".02" transform="translate(-73 -6501)">
							<use fill="#fff" fill-opacity="0" stroke="#000" stroke-miterlimit="50" stroke-width="24" clip-path="url(&quot;#backgrounds-id-14-1&quot;)" xlink:href="#backgrounds-id-14-2" />
						</g>
					</g>
				</svg>
				<div class="brk-animated-circle__container"><span class="brk-animated-circle__dot-1"><span class="brk-animated-circle__dot-2"></span></span></div>
			</div>
			<div class="brk-animated-circle brk-animated-circle-4" style="left:auto;top:auto;right:0; bottom:50px" data-brk-library="component__backgrounds_css"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="230" height="230" viewBox="0 0 230 230">
					<defs>
						<path id="backgrounds-id-15-1" d="M188.02 6501c63.52 0 115.01 51.49 115.01 115s-51.49 115-115.01 115S73 6679.51 73 6616s51.5-115 115.02-115z" />
						<clipPath id="backgrounds-id-15-2">
							<use fill="#fff" xlink:href="#backgrounds-id-15-1" />
						</clipPath>
					</defs>
					<g>
						<g opacity=".02" transform="translate(-73 -6501)">
							<use fill="#fff" fill-opacity="0" stroke="#000" stroke-miterlimit="50" stroke-width="24" clip-path="url(&quot;#backgrounds-id-15-2&quot;)" xlink:href="#backgrounds-id-15-1" />
						</g>
					</g>
				</svg>
				<div class="brk-animated-circle__container"><span class="brk-animated-circle__dot-1"><span class="brk-animated-circle__dot-2"></span> <span class="brk-animated-circle__dot-3"></span></span></div>
			</div>
		</section>