<section class="filmstrip-slider slider--scroll timeline timeline--mosaic lazyload" style="background-image: url(img/demo_creative_agency/1920x842_1.jpg)" data-brk-library="component__timelines_css"><span class="full__size-absolute brk-base-bg-gradient-50deg-92"></span>
			<div class="filmstrip-slider-container swiper-container" data-brk-library="slider__swiper,component__content_slider">
				<div class="swiper-wrapper">
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_1.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">1993</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_2.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2003</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">First participation at the exhibition</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_3.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2007</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Promoting products and services</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_4.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2018</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Mobile Application Launched</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_2.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2011</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_1.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_3.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_2.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_4.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
					<div class="post-filmstrip swiper-slide">
						<div class="timeline__item"><a href="javascript:void(0)" class="timeline__link bg-cover"><img class="lazyload" src="img/demo_creative_agency/390x390_3.jpg" alt="alt"></a>
							<div class="timeline__content text-left">
								<div class="timeline__date">
									<div class="timeline__date-year font__family-open-sans font__weight-semibold font__size-18 line__height-24">2021</div>
								</div>
								<h2 class="timeline__title font__family-montserrat font__weight-bold font__size-28 line__height-32 letter-spacing--1">Foundation of the company</h2>
								<p class="font__family-open-sans font__weight-light font__size-16 letter-spacing-20 line__height-26">Aenean vulputate eleifend tellus. Aenean leo ligula, porttconitor eu, consequat vitae, eleifend ac, enim. Aliquam loreliquam ante, dapibus in, viverra quis, feugiat.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="brk-scrollbar">
				<div class="brk-scrollbar-track"></div>
			</div>
</section>