
  <div class="mt-70 mt-md-130 pt-80 pb-80 overlay__dot bg__style text-center"
      @@if(context.img){style="background-image:url('@@img')"}
      @@if(!context.img){style="background-image:url('img/bg-1920_1.jpg')"}
       data-brk-library="component__social_block">
		<div class="container all-light">
      @@if(context.onlyLinks !== "true"){
        <h4 class="font__family-montserrat font__weight-light font__size-28 text-light-soft">Stay with us</h4>
        <h3 class="font__family-montserrat font__weight-semibold font__size-36 letter-spacing-100 mt-10">Just Follow
          Us</h3>
        <p class="font__size-16 font__family-open-sans line__height-26 text-gray-light mt-30">Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean <br class="hide show-md-block">massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, </p>
      }
			<div class="row mt-20">
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-facebook-f"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-soft">Facebook</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-twitter"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-soft">Twitter</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-instagram"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-soft">Instagram</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-youtube"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-soft">YouTube</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-google"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-soft">Google +</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-vimeo-v"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 text-light-soft">Vimeo</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
			</div>
		</div>
	</div>
