
	<div class="pt-80 pb-80 position-relative z-index-2 @@if(context.pattern !== "true"){bg__style} @@if(context.customClass){@@customClass} text-center lazyload"
       @@if(context.img){data-bg="@@img"}
       @@if(!context.img){data-bg="img/bg-1920_1.jpg"} data-brk-library="component__social_block">
		<span class="@@if(context.overlay){@@overlay} @@if(!context.overlay){brk-bg-gradient-40deg-80} brk-abs-overlay"></span>
		<div class="container all-light">
       @@if(context.onlyLinks !== "true"){
        <p class="font__family-montserrat font__weight-semibold font__size-14 text-light-blue letter-spacing-200 text-uppercase">
          Stay with us</p>
        <h3 class="font__family-montserrat font__weight-semibold font__size-36 letter-spacing-100 text-uppercase mt-10">
          Just follow us</h3>
        <p class="font__size-16 font__family-open-sans line__height-26 text-gray mt-20">Lorem ipsum dolor sit amet,
          consectetuer adipiscing elit. Aenean commodo <br class="hide show-md-block">ligula eget dolor. Aenean massa</p>
      }
			<div class="row mt-30">
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-facebook-f"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 @@if(context.titleSocial){@@titleSocial}@@if(!context.titleSocial){text-light-blue}">Facebook</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-twitter"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 @@if(context.titleSocial){@@titleSocial}@@if(!context.titleSocial){text-light-blue}">Twitter</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-instagram"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 @@if(context.titleSocial){@@titleSocial}@@if(!context.titleSocial){text-light-blue}">Instagram</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-youtube"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 @@if(context.titleSocial){@@titleSocial}@@if(!context.titleSocial){text-light-blue}">YouTube</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-google"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 @@if(context.titleSocial){@@titleSocial}@@if(!context.titleSocial){text-light-blue}">Google +</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
				<div class="col-6 col-md-4 col-lg-2">
					<div class="social__icon-round ">
						<a href="#" class="icon-wrap"><i class="brk-icon fab fa-vimeo-v"></i></a>
						<h4 class="font__family-montserrat font__weight-light font__size-28 @@if(context.titleSocial){@@titleSocial}@@if(!context.titleSocial){text-light-blue}">Vimeo</h4>
						<p class="font__family-montserrat font__weight-medium font__size-16">Follow Now</p>
					</div>
				</div>
			</div>
		</div>
	</div>
