	<div class="container mb-140">
		<div class="row">

			<div class="col-lg-4 mb-20">
				<div class="flip-box" data-brk-library="component__flip_box">
					<div class="flip-box__circle flip-box__bg" style="background-image: url(img/370x370_1.jpg)">
						<span class="overlay-position-full brk-base-bg-gradient-bottom"></span>

						<div class="flip-box__circle-item text-center">
							<div class="flip flip_horizontal">
								<div class="flip__front flip-box__circle-front">
									<div class="flip-box__circle-pretitle font__family-montserrat font__weight-ultralight">01</div>
								</div>
								<div class="flip__back flip-box__circle-back">
									<div class="flip-box__circle-content">
										<h4>
											<strong class="font__family-montserrat font__weight-bold font__size-19 text-uppercase">7 Signs
												Your Website</strong>
											<span class="font__family-playfair font__style-italic font__size-19">is Boring</span>
										</h4>
										<div class="divider-cross">
											<span></span>
											<span></span>
										</div>
										<p
											class="flip-box__circle-excerpt font__family-playfair font__weight-normal font__size-15 line__height-22">
											But, how exactly would one define...</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-4 mb-20">
				<div class="flip-box" data-brk-library="component__flip_box">
					<div class="flip-box__circle flip-box__bg" style="background-image: url(img/370x370_2.jpg)">
						<span class="overlay-position-full brk-base-bg-gradient-bottom"></span>

						<div class="flip-box__circle-item text-center">
							<div class="flip flip_vertical">
								<div class="flip__front flip-box__circle-front">
									<div class="flip-box__circle-pretitle font__family-montserrat font__weight-ultralight">02</div>
								</div>
								<div class="flip__back flip-box__circle-back">
									<div class="flip-box__circle-content">
										<h4>
											<strong class="font__family-montserrat font__weight-bold font__size-19 text-uppercase">The Lyric
												Video</strong>
											<span class="font__family-playfair font__style-italic font__size-19">Is Trending</span>
										</h4>
										<div class="divider-cross">
											<span></span>
											<span></span>
										</div>
										<p
											class="flip-box__circle-excerpt font__family-playfair font__weight-normal font__size-15 line__height-22">
											You've just heard the newest hit song.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-lg-4 mb-20">
				<div class="flip-box" data-brk-library="component__flip_box">
					<div class="flip-box__circle flip-box__bg" style="background-image: url(img/370x370_3.jpg)">
						<span class="overlay-position-full brk-base-bg-gradient-bottom"></span>

						<div class="flip-box__circle-item text-center">
							<div class="flip flip_vertical">
								<div class="flip__front flip-box__circle-front">
									<div class="flip-box__circle-pretitle font__family-montserrat font__weight-ultralight">03</div>
								</div>
								<div class="flip__back flip-box__circle-back">
									<div class="flip-box__circle-content">
										<h4>
											<strong class="font__family-montserrat font__weight-bold font__size-19 text-uppercase">Aquatic:
												Stock</strong>
											<span class="font__family-playfair font__style-italic font__size-19">Photography</span>
										</h4>
										<div class="divider-cross">
											<span></span>
											<span></span>
										</div>
										<p
											class="flip-box__circle-excerpt font__family-playfair font__weight-normal font__size-15 line__height-22">
											Deep below the ocean's surface there is a vibrant.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
