	<div class="container mb-140">
		<div class="row">

			<div class="col-lg-4 mb-20">
				<div class="flip-box">
					<div class="flip flip_horizontal flip-box__gradient">
						<div class="flip__front text-center flip-box__bg flip-box__gradient-pb100"
						     style="background-image: url(img/370x370_1.jpg)">
							<span class="overlay-position-full brk-base-bg-1"></span>
							<div
								class="flip-box__gradient-title font__family-montserrat font__weight-light font__size-28 text-capitalize">
								<span class="font__weight-bold">Why</span> Creators Are Turning...
							</div>
						</div>
						<div class="flip__back text-center">
							<div class="flip-box__position flip-box__position_75">
								<h4
									class="flip-box__gradient-h4 font__family-montserrat font__weight-light font__size-28 text-capitalize">
									<span class="font__weight-bold">Why</span> Creators Are Turning...</h4>
								<p class="font__family-open-sans font__size-14 line__height-21 text-gray mt-25 pl-30 pr-30">Because a glance
									is all people tend to offer nowadays, videos, pictures, and graphics are now the most relied upon
									ways...</p>

								@@include('../buttons/templates/buttons.html',{
								"type": "btn-gradient",
								"tag": "button",
								"text": "Read More",
								"customClass": "border-radius-25 font__family-open-sans font__size-16 font__weight-bold brk-white-font-color mt-35",
								"icon": "",
								"size": "md"
								})
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-20">
				<div class="flip-box">
					<div class="flip flip_vertical flip-box__gradient">
						<div class="flip__front text-center flip-box__bg flip-box__gradient-pb100"
						     style="background-image: url(img/370x370_2.jpg)">
							<span class="overlay-position-full brk-base-bg-gradient-right-bottom"></span>
							<div
								class="flip-box__gradient-title font__family-montserrat font__weight-light font__size-28 text-capitalize">
								<span class="font__weight-bold">Blossom:</span> The Best in Floral
							</div>
						</div>
						<div class="flip__back text-center">
							<div class="flip-box__position flip-box__position_75">
								<h4
									class="flip-box__gradient-h4 font__family-montserrat font__weight-light font__size-28 text-capitalize">
									<span class="font__weight-bold">Blossom:</span> The Best in Floral</h4>
								<p class="font__family-open-sans font__size-14 line__height-21 text-gray mt-25 pl-30 pr-30">Flowers are one of
									Mother Nature's most beautiful gifts. Not only are they a source of natural beauty...</p>

								@@include('../buttons/templates/buttons.html',{
								"type": "btn-gradient",
								"tag": "button",
								"text": "Read More",
								"customClass": "border-radius-25 font__family-open-sans font__size-16 font__weight-bold brk-white-font-color mt-35",
								"icon": "",
								"size": "md"
								})
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-20">
				<div class="flip-box">
					<div class="flip flip_vertical flip-box__gradient">
						<div class="flip__front text-center flip-box__bg flip-box__gradient-pb100"
						     style="background-image: url(img/370x370_3.jpg)">
							<span class="overlay-position-full brk-base-bg-2"></span>
							<div
								class="flip-box__gradient-title font__family-montserrat font__weight-light font__size-28 text-capitalize">
								<span class="font__weight-bold">The</span> Lyric Video Is Trending
							</div>
						</div>
						<div class="flip__back text-center">
							<div class="flip-box__position flip-box__position_75">
								<h4
									class="flip-box__gradient-h4 font__family-montserrat font__weight-light font__size-28 text-capitalize">
									<span class="font__weight-bold">The</span> Lyric Video Is Trending</h4>
								<p class="font__family-open-sans font__size-14 line__height-21 text-gray mt-25 pl-30 pr-30">You've just heard
									the newest hit song. Next step: learn the words so you don't embarrass yourself again by
									mumbling...</p>

								@@include('../buttons/templates/buttons.html',{
								"type": "btn-gradient",
								"tag": "button",
								"text": "Read More",
								"customClass": "border-radius-25 font__family-open-sans font__size-16 font__weight-bold brk-white-font-color mt-35",
								"icon": "",
								"size": "md"
								})
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
