<div class="flip-box text-center @@if(context.customClass){@@customClass}" data-brk-library="component__flip_box,component__elements,fancybox">
    <div class='flip @@if(context.flipType){flip_@@flipType} @@if(!context.flipType){flip_vertical} flip-box__split'>
      <div class="flip__front">
        <div class="flip-box__split-img lazyload @@if(context.white === "true"){flip-box__split-img_white}" data-bg="@@if(context.imgSrc){@@imgSrc}@@if(!context.imgSrc){img/shop-1.jpg}"></div>
        <div class="pt-30 pb-30 flip-box__split-info">
          <div class='font__family-montserrat font__weight-bold pl-20 pr-20 @@if(context.titleFontSize){font__size-@@titleFontSize} @@if(!context.titleFontSize){font__size-15}'>
            @@if(context.cardTitle){@@cardTitle}
            @@if(!context.cardTitle){@@cardTitle}
          </div>
          <div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium">
            <span class="old-price font__size-16">
              @@if(context.oldPrice){@@oldPrice}
              @@if(!context.oldPrice){$41.00}
            </span>
            <span class='font__weight-semibold @@if(context.newPriceFontSize){font__size-@@newPriceFontSize}'>
              @@if(context.newPrice){@@newPrice}
              @@if(!context.newPrice){$21.30}
            </span>
          </div>
        </div>

          @@if(context.label1 || context.label2){
            <div class='brk-sc-card-labels 
                        @@if(!context.labelsType){brk-sc-card-labels_top-labels}
                        @@if(context.labelsType === "top"){brk-sc-card-labels_top-labels}
                        @@if(context.labelsType === "side"){brk-sc-card-labels_side-labels}
                        @@if(context.labelsType === "sideCornered"){brk-sc-card-labels_side-labels-cornered}'> 
              <!--  brk-sc-card-labels_top-labels brk-sc-card-labels_side-labels brk-sc-card-labels_side-labels-cornered-->
              @@if(context.label1){
              <div class="brk-sc-card-label">
                <span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">@@label1</span>
                <span class="brk-sc-card-label__additional-1"></span>
                <span class="brk-sc-card-label__additional-2"></span>
                <span class="brk-sc-card-label__additional-3"></span>
              </div>
              }
              @@if(context.label2){
              <div class="brk-sc-card-label">
                <span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">@@label2</span>
                <span class="brk-sc-card-label__additional-1"></span>
                <span class="brk-sc-card-label__additional-2"></span>
                <span class="brk-sc-card-label__additional-3"></span>
              </div>
              }
            </div>
          }

      </div>
      <div class="flip__back @@if(context.imgSrcBack === 'true'){lazyload}" @@if(context.imgSrcBack === 'true'){data-bg="@@imgSrc"}>
        <div class="flip-box__split-overlay brk-base-bg-gradient-10deg"></div>

        <div class="flip-box__split-content">
          @@if(context.label1 || context.label2){
          <div class='brk-sc-card-labels
                        @@if(!context.labelsType){brk-sc-card-labels_top-labels}
                        @@if(context.labelsType === "top"){brk-sc-card-labels_top-labels}
                        @@if(context.labelsType === "side"){brk-sc-card-labels_side-labels}
                        @@if(context.labelsType === "sideCornered"){brk-sc-card-labels_side-labels-cornered}'>
            <!--  brk-sc-card-labels_top-labels brk-sc-card-labels_side-labels brk-sc-card-labels_side-labels-cornered-->
            @@if(context.label1){
            <div class="brk-sc-card-label">
              <span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">@@label1</span>
              <span class="brk-sc-card-label__additional-1"></span>
              <span class="brk-sc-card-label__additional-2"></span>
              <span class="brk-sc-card-label__additional-3"></span>
            </div>
            }
            @@if(context.label2){
            <div class="brk-sc-card-label">
              <span class="brk-white-font-color font__family-montserrat font__size-13 font__weight-bold line__height-14 text-uppercase brk-sc-card-label__text">@@label2</span>
              <span class="brk-sc-card-label__additional-1"></span>
              <span class="brk-sc-card-label__additional-2"></span>
              <span class="brk-sc-card-label__additional-3"></span>
            </div>
            }
          </div>
          }

          <div class="pt-lg-30 pb-lg-30 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20 position-relative z-index-5">
            <a href="#">
              <h4 class="font__family-montserrat font__weight-bold font__size-18 line__height-24">
                @@if(context.cardTitle){@@cardTitle}
                @@if(!context.cardTitle){@@cardTitle}
              </h4>
            </a>
            <div class="flip-box__split-price font__family-montserrat font__size-15">
            <span>
              @@if(context.oldPrice){@@oldPrice}
              @@if(!context.oldPrice){$41.00}
            </span>
              <span class="font__weight-bold"></span>
              @@if(context.newPrice){@@newPrice}
              @@if(!context.newPrice){$21.30}
            </div>
          </div>
          <div class="flip-box__split-list">
            @@if(context.list){
            <ul class="font__family-open-sans font__size-15 line__height-20 font__weight-light text-left letter-spacing-40 pt-15 pb-15">
              @@for (var i = 0; i < list.length; i++) {
              <li><i class="far fa-check @@if(context.listIconClass){@@listIconClass}"></i>`+list[i]+`</li>
              }
            </ul>
            }
            @@if(context.description){
            <p class="brk-white-font-color font__family-open-sans font__size-14 font__weight-light line__height-22 pt-15 pb-15">
              @@description
            </p>
            }
          </div>
          <div class="flip-box__split-actions">
            <a href="#" class="add-cart d-flex align-items-center justify-content-center">
              <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="@@imgSrc" class="add-search d-flex align-items-center justify-content-center fancybox">
              <i class="fas fa-search"></i>
            </a>
            <a href="#" class="add-wishlist d-flex align-items-center justify-content-center">
              <i class="fas fa-star"></i>
            </a>
            <a href="#" class="add-compare d-flex align-items-center justify-content-center">
              <i class="fas fa-exchange-alt"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>