<section>
	<div class="container mb-80">
		<div class="text-left">
			<h3 class="font__family-montserrat font__size-28 font__weight-bold">
				<span class="heading__number">01</span> Simple
			</h3>
		</div>
	</div>

	<div class="container mb-140">
		<div class="row">
 
			<div class="col-sm-12">
				@@include("./simple-v1.html")
			</div>

			<div class="col-sm-12">
				@@include("simple-v2.html")
			</div>

			<div class="col-sm-12">
				@@include("simple-v3.html")
			</div>

			<div class="col-sm-12">
				@@include("simple-v4.html")
			</div>

			<div class="col-sm-12">
				@@include("simple-v5.html")
			</div>

			<div class="col-sm-12">
				@@include("simple-v6.html")
			</div>

			<div class="col-sm-12">
				@@include("simple-v7.html")
			</div>

			<div class="col-sm-12">
				@@include("simple-v8.html")
			</div>

		</div>
	</div>
</section>