<div class="brk-logo-transparent @@if(context.customClass){@@customCLass} @@if(context.triple === "true"){brk-logo-transparent_triple}" data-brk-library="component__widgets_css">
  <a class="brk-logo-transparent__item">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-transparent.png" alt="alt" class="lazyload">
  </a>
  <a class="brk-logo-transparent__item">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-transparent.png" alt="alt" class="lazyload">
  </a>
  <a class="brk-logo-transparent__item">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-transparent.png" alt="alt" class="lazyload">
  </a>
  <a class="brk-logo-transparent__item">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-transparent.png" alt="alt" class="lazyload">
  </a>
  <a class="brk-logo-transparent__item">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-transparent.png" alt="alt" class="lazyload">
  </a>
  <a class="brk-logo-transparent__item">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-transparent.png" alt="alt" class="lazyload">
  </a>
  @@if(context.triple !== "true"){
    <a class="brk-logo-transparent__item">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-transparent.png" alt="alt" class="lazyload">
    </a>
    <a class="brk-logo-transparent__item">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/logo-transparent.png" alt="alt" class="lazyload">
    </a>
  }
</div>