<figure 
  class="shape-box__wrapper-half @@if(context.customClass){@@customClass}" 
  data-brk-library="component__shape_box">
  <img 
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" 
    data-src="@@if(context.img){@@img} @@if(!context.img){img/s300x460_1.jpg}" 
    alt="alt" 
    class="lazyload">
  <div class="brk-abs-overlay z-index-0 @@if(context.overlay){@@overlay}@@if(!context.overlay){bg-black opacity-60}"></div>
  <figcaption>
    <div class="show-cont">
      <h3 class="font__family-montserrat font__size-36 brk-base-font-color">@@if(context.subtitle){@@subtitle} @@if(!context.subtitle){01}</h3>
      <h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title">@@if(context.title){@@title} @@if(!context.title){Design}</h4>
    </div>
    <p class="font__family-open-sans font__size-14 @@if(context.darkBaseColor !== 'true'){text-gray}@@if(context.darkBaseColor === 'true'){brk-color-base-dark}">@@if(context.paragraph){@@paragraph} @@if(!context.paragraph){Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor
    consequat}</p>
    @@if(context.btnType === "prime"){
      @@include("../../buttons/templates/buttons.html",{
        "type": "btn-prime",
        "text": "more",
        "customClass": "text-lowercase btn-prime-primary-text-transparent border-radius-30 btn-no-shadow mx-0 my-0 btn-min-width-200 btn-prime_thin mt-25",
        "size": "md"
      })
    }
    @@if(!context.btnType){
      @@include("../../buttons/templates/buttons.html",{
        "type":"btn-inside-out",
        "text":"read more",
        "customClass":"border-radius-30 font__weight-bold"
      })
    }
  </figcaption>
  <span class="after"></span>
</figure>