
<div class="col-md-6 col-xl-3">
  @@include("./half-card.html",{
    "img":"img/300x460_1.jpg",
    "subtitle":"01",
    "title":"Design",
    "paragraph":"Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat"
  })
</div>
<div class="col-md-6 col-xl-3">
  @@include("./half-card.html",{
    "img":"img/300x460_2.jpg",
    "subtitle":"02",
    "title":"Develop",
    "paragraph":"Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat"
  })
</div>
<div class="col-md-6 col-xl-3">
  @@include("./half-card.html",{
    "img":"img/300x460_3.jpg",
    "subtitle":"03",
    "title":"Research",
    "paragraph":"Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat"
  })
</div>
<div class="col-md-6 col-xl-3">
  @@include("./half-card.html",{
    "img":"img/300x460_1.jpg",
    "subtitle":"04",
    "title":"Promotion",
    "paragraph":"Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat"
  })
</div>
