<figure class="shape-box__wrapper-stripe @@if(context.customCLass){@@customCLass}" data-brk-library="component__shape_box">
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img){@@img}@@if(!context.img){img/300x460_1.jpg}" class="@@if(context.grayscale){grayscale-100} lazyload" alt="alt">

  <div class="brk-abs-overlay z-index-0 @@if(context.overlay){@@overlay}@@if(!context.overlay){bg-black opacity-60}"></div>

  <div class="icon">
    @@if(!context.customicon) {
    @@if(context.icon === "svg") {
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 60">
      <path fill="none" stroke="#9CAAB9" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M42,31h1.43l0.35,2.94l2.65,1.1L49,33l2,2l-2.04,2.56l1.1,2.65L53,40.57v2.87l-2.94,0.35l-1.1,2.65L51,49l-2,2l-2.56-2.04l-2.65,1.1L43.43,53h-2.87l-0.35-2.94l-2.65-1.1L35,51l-2-2l2.04-2.56l-1.1-2.65L31,43.43v-2.87l2.94-0.35l1.1-2.65L33,35l2-2l2.56,2.04l2.65-1.1L40.57,31H42zM42,39c-1.66,0-3,1.34-3,3c0,1.66,1.34,3,3,3c1.66,0,3-1.34,3-3C45,40.34,43.66,39,42,39z"
      />
      <path fill="none" stroke="#95A5A6" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M23,7h1.04l1.01,4.31l2.02,0.54l3.03-3.23l1.81,1.04l-1.28,4.23l1.48,1.48l4.23-1.28l1.05,1.81l-3.22,3.03l0.54,2.02L39,21.96l0,2.08l-4.31,1.01l-0.54,2.02l3.22,3.03l-1.04,1.81l-4.23-1.28l-1.48,1.48l1.28,4.23l-1.81,1.05l-3.03-3.23l-2.02,0.54L24.04,39l-2.09,0l-1.01-4.31l-2.02-0.54l-3.02,3.23l-1.81-1.04l1.28-4.23l-1.48-1.48L9.66,31.9L8.62,30.1l3.23-3.03l-0.54-2.02L7,24.04l0-2.09l4.31-1.01l0.54-2.02L8.62,15.9l1.04-1.81l4.24,1.28l1.48-1.48L14.1,9.66l1.81-1.04l3.03,3.23l2.02-0.54L21.96,7H23zM23,17c-3.31,0-6,2.68-6,6c0,3.31,2.68,6,6,6c3.31,0,6-2.69,6-6C29,19.68,26.31,17,23,17z"
      />
    </svg>
    }

    @@if(context.icon !== "svg") {
    <i class="fas fa-cogs"></i>
    }
    }
    @@if(context.customicon) {@@customicon}
  </div>

  <figcaption>
    <div class="show-cont">
      <h4 class="font__family-montserrat font__weight-bold font__size-24 text-uppercase main-title text-center">@@if(context.title){@@title} @@if(!context.title){Design}</h4>
    </div>
    <p class="font__family-open-sans font__size-14 text-gray text-center">@@if(context.paragraph){@@paragraph} @@if(!context.paragraph){Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor consequat}</p>
    @@include("../../buttons/templates/buttons.html",{
      "type":"btn-inside-out",
      "text":"read more",
      "customClass":"border-radius-30 font__weight-bold"
    })
  </figcaption>
  <span class="after"></span>
</figure>