<div class="brk-simple-card" data-brk-library="component__portfolio_isotope">
	<div class="brk-simple-card__animation-wrapper">
		<img class="brk-simple-card__img lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@img-src" alt="alt">
		<div class="brk-simple-card__overlay brk-base-bg-gradient-10deg"></div>
		<div class="brk-simple-card__info">
			<a href="#" class="font__family-montserrat font__weight-bold font__size-24 text-uppercase text-center text-white brk-simple-card__title">@@title</a>
			<a href="#" class="font__familt-montserrat font__weight-bold font__size-14 text-uppercase text-center text-light-soft brk-simple-card__category">@@category</a>
		</div>
		<a href="#" class="brk-simple-card__link font__family-montserrat font__weight-bold font__size-18 text-white brk-bg-primary">+</a>
	</div>
</div>