<div class="brk-logos @@if(context.customClass){@@customClass}" data-brk-library="component__portfolio_page-styles">
  <div class="row">
    <a href="#" class="brk-logos__item @@if(context.size){@@size}@@if(!context.size){col-6} justify-content-center align-items-center d-flex p-4">
      <span class="brk-logos__item-l-t-angle"></span>
      <span class="brk-logos__item-r-t-angle"></span>
      <span class="brk-logos__item-r-b-angle"></span>
      <span class="brk-logos__item-l-b-angle"></span>
      <img src="@@if(context.demo === "true"){img/logo-set-1.png}@@if(context.demo !== "true"){img/portfolio-page/porgress-1.png}" class="brk-logos__img" alt="alt">
    </a>
    <a href="#" class="brk-logos__item @@if(context.size){@@size}@@if(!context.size){col-6} justify-content-center align-items-center d-flex p-4">
      <span class="brk-logos__item-l-t-angle"></span>
      <span class="brk-logos__item-r-t-angle"></span>
      <span class="brk-logos__item-r-b-angle"></span>
      <span class="brk-logos__item-l-b-angle"></span>
      <img src="@@if(context.demo === "true"){img/logo-set-2.png}@@if(context.demo !== "true"){img/portfolio-page/porgress-2.png}" class="brk-logos__img" alt="alt">
    </a>
    <a href="#" class="brk-logos__item @@if(context.size){@@size}@@if(!context.size){col-6} justify-content-center align-items-center d-flex p-4">
      <span class="brk-logos__item-l-t-angle"></span>
      <span class="brk-logos__item-r-t-angle"></span>
      <span class="brk-logos__item-r-b-angle"></span>
      <span class="brk-logos__item-l-b-angle"></span>
      <img src="@@if(context.demo === "true"){img/logo-set-3.png}@@if(context.demo !== "true"){img/portfolio-page/porgress-2.png}" class="brk-logos__img" alt="alt">
    </a>
    <a href="#" class="brk-logos__item @@if(context.size){@@size}@@if(!context.size){col-6} justify-content-center align-items-center d-flex p-4">
      <span class="brk-logos__item-l-t-angle"></span>
      <span class="brk-logos__item-r-t-angle"></span>
      <span class="brk-logos__item-r-b-angle"></span>
      <span class="brk-logos__item-l-b-angle"></span>
      <img src="@@if(context.demo === "true"){img/logo-set-4.png}@@if(context.demo !== "true"){img/portfolio-page/porgress-2.png}" class="brk-logos__img" alt="alt">
    </a>
  </div>
</div>