<div class="brk-forum-author-card d-flex flex-column mt-70" data-brk-library="component__forum_author">
  <div class="brk-forum-author-card__header d-flex flex-column align-items-center pt-70 pb-40">
    <a href="#" class="brk-forum-author-card__img-container">
      <img class="brk-forum-author-card__img" src="img/rounded-3.jpg" alt='Альтернативный "текст"'>
    </a>
    <h3 class="font__family-montserrat font__size-24 line__height-28 font__weight-bold">Demo</h3>
    <h4 class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal">Keymaster</h4>
  </div>
  <div class="brk-forum-author-card__about pt-30 pr-40 pb-30 pl-40">
    <p class="font__family-open-sans font__size-14 font__weight-semibold line__height-21 letter-spacing-20">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
      penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
    </p>
  </div>
  <div class="brk-forum-author-card__info pt-35 pr-35 pb-35 pl-40">
    <div class="brk-forum-author-card__info-item mb-10 font__family-montserrat font__size-14 line__height-16">
      <div class="row">
        <div class="col-6">
          <span class="font__weight-bold">Forum Role:</span>
        </div>
        <div class="col-6">
          <span class="font__weight-normal">Keymaster</span>
        </div>
      </div>
    </div>
    <div class="brk-forum-author-card__info-item mb-10 font__family-montserrat font__size-14 line__height-16">
      <div class="row">
        <div class="col-6">
          <span class="font__weight-bold">Topics Started:</span>
        </div>
        <div class="col-6">
          <span class="font__weight-normal">2</span>
        </div>
      </div>
    </div>
    <div class="brk-forum-author-card__info-item mb-10 font__family-montserrat font__size-14 line__height-16">
      <div class="row">
        <div class="col-6">
          <span class="font__weight-bold">Replies Created:</span>
        </div>
        <div class="col-6">
          <span class="font__weight-normal">0</span>
        </div>
      </div>
    </div>
  </div>

</div>