<div class="icon__wrapper-main icon__wrapper-strict active__effect-main" data-brk-library="component__sequence">
  <div class="row row-no-gutter">
    <div class="col-lg-4">
      <!-- Icon Wrapper -->
      <div class="icon__wrapper active__effect pt-50 pb-50 pl-50 pr-50">
        <span class="bg-before bg__style lazyload"
              data-bg="@@if(context.img_1){@@img_1}@@if(!context.img_1){img/370x370_1.jpg}"></span>
        <span class="grad-overlay"></span>
        <h2 class="font__family-montserrat font__size-124 font__weight-light number">01</h2>
        <h4 class="font__family-montserrat font__size-24 font__weight-light line__height-30 text-uppercase">We Build
          Amazing <br><span class="font__weight-bold">Projects</span></h4>
        <a href="#" class="font__family-open-sans font__size-16 font__weight-bold text-uppercase link">Read More <i
                class="icon fa fa-long-arrow-right"></i></a>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Icon Wrapper -->
      <div class="icon__wrapper z-index-2 active__effect active current pt-50 pb-50 pl-50 pr-50">
        <span class="bg-before bg__style lazyload"
              data-bg="@@if(context.img_2){@@img_2}@@if(!context.img_2){img/370x370_2.jpg}"></span>
        <span class="grad-overlay"></span>
        <h2 class="font__family-montserrat font__size-124 font__weight-light number">02</h2>
        <h4 class="font__family-montserrat font__size-24 font__weight-light line__height-30 text-uppercase">We Build
          Amazing <br><span class="font__weight-bold">Projects</span></h4>
        <a href="#" class="font__family-open-sans font__size-16 font__weight-bold text-uppercase link">Read More <i
                class="icon fa fa-long-arrow-right"></i></a>
        <span class="triangle triangle-after fa fa-angle-right @@if(context.triangleStyle){@@triangleStyle}@@if(!context.triangleStyle){brk-bg-primary}"></span>
        <span class="triangle triangle-before fa fa-angle-right @@if(context.triangleStyle){@@triangleStyle}@@if(!context.triangleStyle){brk-bg-primary}"></span>
      </div>
    </div>
    <div class="col-lg-4">
      <!-- Icon Wrapper -->
      <div class="icon__wrapper active__effect pt-50 pb-50 pl-50 pr-50">
        <span class="bg-before bg__style lazyload"
              data-bg="@@if(context.img_3){@@img_3}@@if(!context.img_3){img/370x370_3.jpg}"></span>
        <span class="grad-overlay"></span>
        <h2 class="font__family-montserrat font__size-124 font__weight-light number">03</h2>
        <h4 class="font__family-montserrat font__size-24 font__weight-light line__height-30 text-uppercase">We Build
          Amazing <br><span class="font__weight-bold">Projects</span></h4>
        <a href="#" class="font__family-open-sans font__size-16 font__weight-bold text-uppercase link">Read More <i
                class="icon fa fa-long-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
