<div class="brs-portfolio-list mb-30" data-brk-library="component__portfolio_list,component__button">
  <div class="brs-portfolio-list__about">
    <h4 class="brs-portfolio-list__subtitle font__family-montserrat font__size-14 font__weight-semibold line__height-26 text-left">Cinema</h4>
    <h3 class="brs-portfolio-list__title font__family-montserrat font__size-28 font__weight-medium line__height-32px text-left letter-spacing--1">Some Title Goes Here</h3>
    <p class="brs-portfolio-list__description font__family-open-sans font__size-16 font__weight-normal line__height-26 text-left">
      Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, nsequ vitae, eleifend ac, enim. Aliquam lorem ante, dapibus
      in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laeers. Quisque rutrum. Aenean imperdiet.
    </p>
    <a class="brs-portfolio-list__more brk-bg-grad font__family-montserrat font__size-14 line-height-26 font__weight-semibold"
      href="#">Read more
      <i class="fal fa-angle-right brs-portfolio-list__more__icon"></i>
    </a>
  </div>
  <div class="brs-portfolio-list__img-container fancybox" href="img/570x400_2.jpg">
    <div class="brk-ic-left-slide">
      <img src="img/570x400_2.jpg" class="brk-ic-left-slide__img" alt="alt" />
      <div class="brk-ic-left-slide__overlay brk-base-bg-gradient-brighter"></div>
      <div class="brk-ic-left-slide__wrapper brk-ic-left-slide__wrapper_btn-left">
        <h3 class="brk-ic-left-slide__title brk-ic-left-slide__title_video line__height-21">
          <span class="font__family-montserrat font__weight-semibold font__size-21 letter-spacing--60  uppercase">Who we are</span>
          <br>
          <span class="font__family-open-sans font__size-16 font__weight-normal brk-ic-left-slide__title__link line__height-21">view the video</span>
        </h3>
      </div>
      <button class="icon__btn icon__btn_ icon__btn-anim icon__btn-md brk-ic-left-slide__btn brk-ic-left-slide__btn_left brk-ic-left-slide__btn_reverse">
        <span class="before"></span>
        <i class="fa fa-play" aria-hidden="true"></i>
        <span class="after"></span>
      </button>
    </div>
  </div>
</div>