<div class="tabs-wrapper @@if(!context.fullWidth){maxw-970} @@if(context.customClass){@@customClass}" data-brk-library="component__steps">
  <div class="steps__wrapper-main steps__wrapper-checkers">
    <div class="steps__progress"></div>
    <ul class="steps__wrapper tabs" data-tabgroup="tab-group-5">
      <li class="@@if(context.complete1){complete}">
        <a @@if(context.link1){href="@@link1"} class="@@if(context.active1){active}">
          <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
            <span class="before"></span>
            <span class="after"></span>
            1
          </span>
          <p class="font__family-montserrat font__size-15 steps__title">@@if(context.title1){@@title1}@@if(!context.title1){Some Title}</p>
        </a>
      </li>
      <li class="@@if(context.complete2){complete}">
        <a @@if(context.link2){href="@@link2"} class="@@if(context.active2){active}">
          <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
            <span class="before"></span>
            <span class="after"></span>
            2
          </span>
          <p class="font__family-montserrat font__size-15 steps__title">@@if(context.title2){@@title2}@@if(!context.title2){Some Title}</p>
        </a>
      </li>
      <li class="@@if(context.complete3){complete}">
        <a @@if(context.link3){href="@@link3"} class="@@if(context.active3){active}">
          <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
            <span class="before"></span>
            <span class="after"></span>
            3
          </span>
          <p class="font__family-montserrat font__size-15 steps__title">@@if(context.title3){@@title3}@@if(!context.title3){Some Title}</p>
        </a>
      </li>
      <li class="@@if(context.complete4){complete}">
        <a @@if(context.link4){href="@@link4"} class="@@if(context.active4){active}">
          <span class="font__family-montserrat font__weight-bold font__size-15 steps__dot">
            <span class="before"></span>
            <span class="after"></span>
            4
          </span>
          <p class="font__family-montserrat font__size-15 steps__title">@@if(context.title4){@@title4}@@if(!context.title4){Some Title}</p>
        </a>
      </li>
    </ul>
  </div>
</div>