	<div class="all-light mt-70 pt-80 pb-80 bg__style overlay__gradient overlay__gradient-left"
	     style="background-image: url(img/bg-1920_3.jpg);"
       data-brk-library="component__steps">
		<div class="container mt-70">
			<div class="tabs-wrapper maxw-970">
				<div class="steps__wrapper-main steps__wrapper-light">
					<div class="steps__progress"></div>
					<ul class="steps__wrapper tabs" data-tabgroup="tab-group-10">
						<li class="complete"><a href="#tab-10_1">
							<p class="font__family-montserrat font__size-15 steps__title"><span class="icon fa fa-bell"></span> Step 1
								<span class="after"></span></p>
						</a></li>
						<li class="complete"><a href="#tab-10_2" class="active">
							<p class="font__family-montserrat font__size-15 steps__title"><span class="icon fa fa-trophy"></span> Step
								2 <span class="after"></span></p>
						</a></li>
						<li class=""><a href="#tab-10_3">
							<p class="font__family-montserrat font__size-15 steps__title"><span class="icon fa fa-anchor"></span> Step
								3 <span class="after"></span></p>
						</a></li>
						<li class=""><a href="#tab-10_4">
							<p class="font__family-montserrat font__size-15 steps__title"><span class="icon fa fa-paper-plane"></span>
								Step 4 <span class="after"></span></p>
						</a></li>
					</ul>
				</div>
				<div id="tab-group-10" class="tabgroup text-lg-left text-center mt-50">
					<div id="tab-10_1">
						<h4 class="font__family-montserrat font__weight-bold font__size-21">1. FIND THE APP</h4>
						<p class="font__family-open-sans font__size-15 mt-20">Considered an invitation do introduced sufficient understood instrument it. Of decisively friendship in as collecting at. No affixed be husband ye females brother garrets proceed. Least child who seven happy yet balls young. Discovery sweetness principle discourse shameless bed one excellent. Sentiments of surrounded friendship dispatched connection is he. .</p>
					</div>
					<div id="tab-10_2">
						<h4 class="font__family-montserrat font__weight-bold font__size-21">2. JOIN TO US</h4>
						<p class="font__family-open-sans font__size-15 mt-20">Led ask possible mistress relation elegance eat likewise debating. By message or am nothing amongst chiefly address. The its enable direct men depend highly. Ham windows sixteen who inquiry fortune demands. Is be upon sang fond must shew. Really boy law county she unable her sister. Feet you off its like like six. Among sex are leave law built now. In built table in an rapid blush.</p>
					</div>
					<div id="tab-10_3">
						<h4 class="font__family-montserrat font__weight-bold font__size-21">3. SETUP THE APP</h4>
						<p class="font__family-open-sans font__size-15 mt-20">Cottage out enabled was entered greatly prevent message. No procured unlocked an likewise. Dear but what she been over gay felt body. Six principles advantages and use entreaties decisively. Eat met has dwelling unpacked see whatever followed. Court in of leave again as am. Greater sixteen to forming colonel no on be. So an advice hardly barton. He be turned sudden engage manner spirit. </p>
					</div>
					<div id="tab-10_4">
						<h4 class="font__family-montserrat font__weight-bold font__size-21">4. ENJOY THE APP</h4>
						<p class="font__family-open-sans font__size-15 mt-20">Tiled say decay spoil now walls meant house. My mr interest thoughts screened of outweigh removing. Evening society musical besides inhabit ye my. Lose hill well up will he over on. Increasing sufficient everything men him admiration unpleasing sex. Around really his use uneasy longer him man. His our pulled nature elinor talked now for excuse result. Admitted add peculiar get joy doubtful. </p>
					</div>
				</div>
			</div>
		</div>
		<span class="overlay_after brk-bg-gradient-10deg-92"></span>
	</div>