<div class="col-lg-3 col-sm-6">
  @@include('../templates/material-card-item.html', {
  "img": "img/270x414_1.jpg",
  "title": "Mark Heffner",
  "position": "Web Design",
  "colored": "brk-mc-light-blue"
  })
</div>
<div class="col-lg-3 col-sm-6">
  @@include('../templates/material-card-item.html', {
  "img": "img/270x414_2.jpg",
  "title": "Mark Heffner",
  "position": "Web Design",
  "colored": "brk-mc-purple"
  })
</div>
<div class="col-lg-3 col-sm-6">
  @@include('../templates/material-card-item.html', {
  "img": "img/270x414_3.jpg",
  "title": "Mark Heffner",
  "position": "Web Design",
  "colored": "brk-mc-red"
  })
</div>
<div class="col-lg-3 col-sm-6">
  @@include('../templates/material-card-item.html', {
  "img": "img/270x414_4.jpg",
  "title": "Mark Heffner",
  "position": "Web Design",
  "colored": "brk-mc-base"
  })
</div>