<div class="brk-team-staff brk-base-box-shadow" data-brk-library="component__team">
  <div class="brk-team-staff__img lazyload"
       data-bg="@@if(context.img){@@img}@@if(!context.img){img/girl-1.jpg}"></div>
  <a href="#" class="brk-team-staff__link"><i class="far fa-plus"></i><i class="far fa-angle-right"></i></a>
  <div class="brk-team-staff__description">
    <div class="before @@if(context.overlay){@@overlay}@@if(!context.overlay){brk-base-bg-gradient-90deg-96}"></div>
    <h4>
      <a href="#" class="font__family-montserrat font__weight-normal font__size-18 line__height-26">
        @@if(context.title){@@title}
        @@if(!context.title){Leana K.A}
      </a>
      <span class="font__family-montserrat font__weight-ultralight font__size-15 line__height-21">
        @@if(context.position){@@position}
        @@if(!context.position){Web Design}
      </span>
    </h4>
    <div class="brk-team-staff__social-links sl-2x">
      <a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-google-plus-g" aria-hidden="true"></i></a>
    </div>
  </div>
</div>