
	<div class="pt-70 pb-70 overflow-hid overlay__purple bg__style lazyload"
	     data-bg="@@if(context.img){@@img}@@if(!context.img){img/bg-1920_3.jpg}"
       data-brk-library="component__social_block">
    @@if(!context.overlay){<span class="after"></span>}
    @@if(context.overlay){<div class="brk-abs-bg-overlay @@overlay"></div>}
		<div class="container all-light">
			<div class="row row-no-gutter">
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-gradient">
						<span class="before"></span><span class="after"></span>
						<a href="#" class="hexagon">
              <div class="hexagon__side hexagon__side-1"></div>
              <div class="hexagon__side hexagon__side-2"></div>
							<i class="brk-icon fab fa-facebook-f"></i>
							<span class="after"></span>
						</a>
						<h4 class="font__family-montserrat font__weight-medium font__size-16 icon-title text-center">Facebook</h4>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-gradient">
						<span class="before"></span><span class="after"></span>
						<a href="#" class="hexagon">
              <div class="hexagon__side hexagon__side-1"></div>
              <div class="hexagon__side hexagon__side-2"></div>
							<i class="brk-icon fab fa-twitter"></i>
							<span class="after"></span>
						</a>
						<h4 class="font__family-montserrat font__weight-medium font__size-16 icon-title text-center">Twitter</h4>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-gradient">
						<span class="before"></span><span class="after"></span>
						<a href="#" class="hexagon">
              <div class="hexagon__side hexagon__side-1"></div>
              <div class="hexagon__side hexagon__side-2"></div>
							<i class="brk-icon fab fa-instagram"></i>
							<span class="after"></span>
						</a>
						<h4 class="font__family-montserrat font__weight-medium font__size-16 icon-title text-center">Instagram</h4>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-gradient">
						<span class="before"></span><span class="after"></span>
						<a href="#" class="hexagon">
              <div class="hexagon__side hexagon__side-1"></div>
              <div class="hexagon__side hexagon__side-2"></div>
							<i class="brk-icon fab fa-youtube"></i>
							<span class="after"></span>
						</a>
						<h4 class="font__family-montserrat font__weight-medium font__size-16 icon-title text-center">Youtube</h4>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-gradient">
						<span class="before"></span><span class="after"></span>
						<a href="#" class="hexagon">
              <div class="hexagon__side hexagon__side-1"></div>
              <div class="hexagon__side hexagon__side-2"></div>
							<i class="brk-icon fab fa-google"></i>
							<span class="after"></span>
						</a>
						<h4 class="font__family-montserrat font__weight-medium font__size-16 icon-title text-center">Google</h4>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-gradient">
						<span class="before"></span><span class="after"></span>
						<a href="#" class="hexagon">
              <div class="hexagon__side hexagon__side-1"></div>
              <div class="hexagon__side hexagon__side-2"></div>
							<i class="brk-icon fab fa-vimeo-v"></i>
							<span class="after"></span>
						</a>
						<h4 class="font__family-montserrat font__weight-medium font__size-16 icon-title text-center">Vimeo</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
