
	<div class="mt-70 pt-100 pb-100 overlay__gradient bg__style" style="background-image: url(img/bg-full_2.jpg);" data-brk-library="component__social_block">
		<div class="container all-light">
			<div class="row row-no-gutter align-items-center text-md-left">
				<div class="col-md-5"><h2 class="font__family-montserrat font__weight-bold font__size-56">Just Follow Us</h2>
				</div>
				<div class="col-md-7 mt-20"><p class="font__family-open-sans font__size-16 opacity-50">Aenean vulputate
					eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, <br class="hide show-md-block">eleifend ac,
					enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. </p></div>
			</div>
			<hr class="horiz-line">
			<div class="row row-no-gutter">
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-honeycomb">
						<a href="#" class="hexagon">
              <span class="hexagon__side hexagon__side-1"></span>
              <span class="hexagon__side hexagon__side-2"></span>
							<i class="brk-icon fab fa-facebook-f"></i>
							<span class="after"></span>
						</a>
						<div class="icon-title">
							<h4 class="font__family-montserrat font__weight-ultralight font__size-24">Facebook</h4>
							<p class="font__family-montserrat font__weight-light font__size-16">Follow Now</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-honeycomb">
						<a href="#" class="hexagon">
              <span class="hexagon__side hexagon__side-1"></span>
              <span class="hexagon__side hexagon__side-2"></span>
							<i class="brk-icon fab fa-twitter"></i>
							<span class="after"></span>
						</a>
						<div class="icon-title">
							<h4 class="font__family-montserrat font__weight-ultralight font__size-24">Twitter</h4>
							<p class="font__family-montserrat font__weight-light font__size-16">Follow Now</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-honeycomb">
						<a href="#" class="hexagon">
              <span class="hexagon__side hexagon__side-1"></span>
              <span class="hexagon__side hexagon__side-2"></span>
							<i class="brk-icon fab fa-instagram"></i>
							<span class="after"></span>
						</a>
						<div class="icon-title">
							<h4 class="font__family-montserrat font__weight-ultralight font__size-24">Instagram</h4>
							<p class="font__family-montserrat font__weight-light font__size-16">Follow Now</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-honeycomb">
						<a href="#" class="hexagon">
              <span class="hexagon__side hexagon__side-1"></span>
              <span class="hexagon__side hexagon__side-2"></span>
							<i class="brk-icon fab fa-youtube"></i>
							<span class="after"></span>
						</a>
						<div class="icon-title">
							<h4 class="font__family-montserrat font__weight-ultralight font__size-24">Youtube</h4>
							<p class="font__family-montserrat font__weight-light font__size-16">Follow Now</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-honeycomb">
						<a href="#" class="hexagon">
              <span class="hexagon__side hexagon__side-1"></span>
              <span class="hexagon__side hexagon__side-2"></span>
							<i class="brk-icon fab fa-google"></i>
							<span class="after"></span>
						</a>
						<div class="icon-title">
							<h4 class="font__family-montserrat font__weight-ultralight font__size-24">Google</h4>
							<p class="font__family-montserrat font__weight-light font__size-16">Follow Now</p>
						</div>
					</div>
				</div>
				<div class="col-6 col-md-4 col-xl-2">
					<div class="social__icon-honeycomb">
						<a href="#" class="hexagon">
              <span class="hexagon__side hexagon__side-1"></span>
              <span class="hexagon__side hexagon__side-2"></span>
							<i class="brk-icon fab fa-vimeo-v"></i>
							<span class="after"></span>
						</a>
						<div class="icon-title">
							<h4 class="font__family-montserrat font__weight-ultralight font__size-24">Vimeo</h4>
							<p class="font__family-montserrat font__weight-light font__size-16">Follow Now</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<span class="brk-abs-overlay brk-base-bg-gradient-4"></span>
	</div>
