<div class="brk-tabs brk-tabs_canted" data-brk-library="component__tabs">

  <ul class="brk-tabs-nav font__family-montserrat font__size-14 font__weight-semibold line__height-14 text-uppercase">
    <li class="brk-tab">
      <span>Description</span>
    </li>
    <li class="brk-tab">
      <span>Skills</span>
    </li>
    <li class="brk-tab">
      <span>Hiring history</span>
    </li>
  </ul>


  <div class="brk-tabs-content">
    <div class="brk-tab-item pt-40">
      <div class="row">
        <div class="col-12 col-lg-6">
          <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-30">
            Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus
            quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non,
            nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis.
          </p>
          <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-30">
            Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit
            libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis
            condimentum, sem libero volutpat nibh, nec pellentesque velit pede qean ut eros uis nunc.
          </p>
        </div>
        <div class="col-12 col-lg-6">

          <div class="rotation-slider slick-loading arrows-classic fa-req"
               data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "arrows": true, "dots":true, "draggable": false, "autoplay": true, "autoplaySpeed": 3000}'
               data-brk-library="slider__slick">
            <div>
              <div class="brk-slid">
                <a href="img/390x390_1.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                  <img src="img/390x390_1.jpg" alt="alt">
                </a>
              </div>
            </div>
            <div>
              <div class="brk-slid">
                <a href="img/390x390_2.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                  <img src="img/390x390_2.jpg" alt="alt">
                </a>
              </div>
            </div>
            <div>
              <div class="brk-slid">
                <a href="img/390x390_3.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                  <img src="img/390x390_3.jpg" alt="alt">
                </a>
              </div>
            </div>
            <div>
              <div class="brk-slid">
                <a href="img/390x390_4.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                  <img src="img/390x390_4.jpg" alt="alt">
                </a>
              </div>
            </div>
            <div>
              <div class="brk-slid">
                <a href="img/390x390_5.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                  <img src="img/390x390_5.jpg" alt="alt">
                </a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="brk-tab-item pt-40">
      <div class="row">
        <div class="col-12 col-lg-6">
          @@include('../../sliders/templates/rotation-slider.html')
        </div>
        <div class="col-12 col-lg-6">
          <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-30">
            Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus
            quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non,
            nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis.
          </p>
          <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-30">
            Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit
            libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis
            condimentum, sem libero volutpat nibh, nec pellentesque velit pede qean ut eros uis nunc.
          </p>
        </div>
      </div>
    </div>
    <div class="brk-tab-item pt-40">
      <div class="row">
        <div class="col-12">
          <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-30">
            Donec posuere vulputate arcu. Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
            posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus
            quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non,
            nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis.
          </p>
          <p class="brk-dark-font-color font__family-open-sans font__size-16 font__weight-normal line__height-26 mb-30">
            Aenean posuere, tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus. Donec elit
            libero, sodales nec, volutpat a, suscipit non, turpis. Nullam sagittis. Suspendisse pulvinar, augue ac venenatis
            condimentum, sem libero volutpat nibh, nec pellentesque velit pede qean ut eros uis nunc.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>