<div class="brk-tab-item">
  <h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52">How the Daring Jeff Bezos,</h2>
  <h2 class="font__family-playfair font__style-italic font__weight-normal font__size-48 line__height-52 mb-40">Helped
    4 Entrepreneurs Find Success</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="text-center text-lg-left">
        <p class="brk-dark-font-color text-left mb-20">Jeff Bezos started Amazon 23 years ago as an online
          bookstore. Today it has grown into the largest internet retailer in the world; it’s home to an Oscar- and
          Emmy-winning production studio; its subscription service, Amazon Prime, reached 80 million members this
          year (up from 58 million in 2016); and it’s made Bezos one of the richest men on the planet.</p>
        <p class="brk-dark-font-color text-left  mb-60">This success alone -- to see opportunities where others
          haven’t, and move into them faster than others can -- would make him a daring entrepreneur. But alongside
          that, Bezos has proven himself adept at taking on totally unexpected challenges.</p>

        @@include("../../cfa/templates/container.html",{
        "btn":"false",
        "paragraph":"Call for action Block heading title goes",
        "customClass":"violet-shadow mb-30"
        })
      </div>
    </div>
    <div class="col-lg-4">
      <div class="text-center text-lg-left">
        <img src="img/300x460_1.jpg" alt="alt">
      </div>
    </div>
  </div>
</div>