<div class="brk-tab-item" style="background: url(img/bg-tabs.jpg) 100% center;background-repeat: no-repeat;">
  <div class="row">
    <div class="col-lg-8">
      <div class="text-center text-lg-left">
        @@include('../../titles/templates/massive.html',{
        "text": {
        "before": "",
        "main": "Engaging, purposeful, and <span class='highlight-massive font__family-playfair'>creative<span class='after wow zoomIn'></span></span>"
        }
        })
        <p class="brk-dark-font-color text-left mt-30 mb-30">On a Thursday afternoon in late spring, 32-year-old
          Glossier founder and CEO Emily Weiss rides the elevator to the penthouse level of her company's downtown
          Manhattan headquarters. She's a thoroughly millennial girlboss in jeans, sneakers and a royal blue
          sweatshirt with weiss embroidered in small white script.</p>

        @@include('../../buttons/templates/buttons.html',{
        "type":"btn-inside-out",
        "text":"read more",
        "customClass":"border-radius-25 font__weight-bold ml-0 btn-shadow btn-min-width-200"
        })
      </div>
    </div>
  </div>
  <img class="layer-fix" src="img/bg-tabs-1.png" alt="alt">
</div>