<div class="brk-tab-item">
  <h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52">As Bobby Flay Cooks Up an
    IPO,</h2>
  <h2 class="font__family-playfair font__style-italic font__weight-normal font__size-48 line__height-52 mb-40">Can
    He Still Remain the Hands-On Guy?</h2>
  <div class="row">
    <div class="col-lg-8">
      <div class="text-center text-lg-left">
        <p class="brk-dark-font-color text-left mb-20">It’s 1 pm on a Thursday, and Bobby Flay is sitting in his
          favorite spot to conduct daily business: the corner banquette in the front window at Gato, the Lower
          Manhattan outpost of his fine-dining empire. He is dressed casually in a dark-blue henley and jeans,
          wrapping up a call as his team gets situated around him for the first agenda item of the day: testing 10
          new cocktails.</p>
        <p class="brk-dark-font-color text-left  mb-20">Marlene is the new bar manager, and this is her first time
          pitching the boss her own concoctions. She’s a bit nervous, but she’s done her homework. And Flay is
          impressed, on the whole, with her creations. But he zeroes in on one drink in particular. “You know what
          the surprising flavor in here is,” he tells her with genuine admiration, “and not everyone’s going to
          pick up on this -- it’s the pink peppercorn.” But after a further moment’s reflection, the garnish in
          Marlene’s drink gives him pause.</p>
        <p class="brk-dark-font-color text-left mb-20">After 30-plus years running a kitchen, opening dozens of
          successful upscale and fast-casual restaurants employing, at present, more than 1,000 people and managing
          a widening universe of side projects, TV shows and product lines, the 52-year-old Flay is cocksure and
          precise in his knowledge of what will and will not go over with the customer, and he shares that
          knowledge freely with his staffers.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="text-center text-lg-left">
        <img src="img/300x460_3.jpg" alt="alt">
      </div>
    </div>
  </div>
</div>