	<div class="filmstrip-slider slider--scroll @@if(!context.castomeStyle){brk-base-bg-gradient-50deg-a}@@if(context.castomeStyle){@@castomeStyle}"
       data-spacebetween="" data-brk-library="slider__swiper">
		<div class="filmstrip-slider-container swiper-container">
			<div class="swiper-wrapper">

          @@include("./filmstrip-card.html",{
          "title":"7 Signs Your Website is Boring",
          "paragrap":"The web is both an interactive and virtually unlimited medium, meaning that your own little corner of it has great potential.",
          "img":"img/370x370_1.jpg",
          "customClass":"swiper-slide brk-base-box-shadow"
          })

        @@include("./filmstrip-card.html",{
          "title":"The Lyric Video Is Trending",
          "paragrap":"You've just heard the newest hit song. Next step: learn the words so you don't embarrass yourself again by mumbling nervously while...",
          "img":"img/370x370_2.jpg",
          "customClass":"swiper-slide brk-base-box-shadow"
        })

        @@include("./filmstrip-card.html",{
          "title":"Blossom: The Best in Floral Photography",
          "paragrap":"TFlowers are one of Mother Nature's most beautiful gifts.",
          "img":"img/370x370_3.jpg",
          "customClass":"swiper-slide brk-base-box-shadow"
        })

        @@include("./filmstrip-card.html",{
          "title":"Why Creators Are Turning to Video to Market Audio",
          "paragrap":"Because a glance is all people tend to offer nowadays, videos, pictures, and graphics are now the most relied upon ways to grab attention.",
          "img":"img/370x370_1.jpg",
          "customClass":"swiper-slide brk-base-box-shadow"
        })

        @@include("./filmstrip-card.html",{
          "title":"Interesting Ways To Use Images To Upgrade Your Social Media Strategy",
          "paragrap":"Aenean vulputate eleifend tellus.",
          "img":"img/370x370_2.jpg",
          "customClass":"swiper-slide brk-base-box-shadow"
        })

        @@include("./filmstrip-card.html",{
          "title":"Aquatic: Stock Photography from Under The Sea",
          "paragrap":"Deep below the ocean's surface there is a vibrant, vast ecosystem full of life: a rich diversity of marine life.",
          "img":"img/370x370_3.jpg",
          "customClass":"swiper-slide brk-base-box-shadow"
        })

        @@include("./filmstrip-card.html",{
          "title":"Some Post Title Goes Here",
          "paragrap":"Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.",
          "img":"img/370x370_1.jpg",
          "customClass":"swiper-slide brk-base-box-shadow"
        })

        @@include("./filmstrip-card.html",{
          "title":"Some Post Title Goes Here",
          "paragrap":"Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.",
          "img":"img/370x370_2.jpg",
          "customClass":"swiper-slide brk-base-box-shadow"
        })

        @@include("./filmstrip-card.html",{
          "title":"Some Post Title Goes Here",
          "paragrap":"Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.",
          "img":"img/370x370_3.jpg",
          "customClass":"swiper-slide brk-base-box-shadow"
        })
			</div>
		</div>
    
    <div class="brk-scrollbar">
      <div class="brk-scrollbar-track"></div>
    </div>
	</div>