		<div class="landscape-slider slick-loading fa-req text-center" data-brk-library="slider__slick,component__content_slider">
			<div class="landscape-slider-for" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "fade": true}'>
				<div class="brk-slid lazyload"
             data-bg="@@if(context.img_1){@@img_1}@@if(!context.img_1){img/1170x562_1.jpg}" style="height: 562px"></div>
				<div class="brk-slid lazyload"
             data-bg="@@if(context.img_2){@@img_2}@@if(!context.img_2){img/1170x562_2.jpg}" style="height: 562px"></div>
				<div class="brk-slid lazyload"
             data-bg="@@if(context.img_3){@@img_3}@@if(!context.img_3){img/1170x562_3.jpg}" style="height: 562px"></div>
			</div>

			<div class="landscape-slider-nav dots-landscape-skin dots-base-color"
			     data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "autoplay": true, "autoplaySpeed": 3000}'>

				<div class="landscape-slider-nav__content">
					<h3
						class="landscape-slider-nav__title font__family-montserrat font__size-21 line__height-28 font__weight-bold">
						7 Signs Your Website is Boring - and How to Fix it</h3>
					<div class="landscape-slider-nav__text font__family-open-sans font__size-16 line__height-26">The web is both
						an interactive and virtually unlimited medium, meaning that your own little corner of it has great
						potential.
					</div>
					<button class="landscape-slider-nav__btn btn btn-lg font__family-open-sans font__weight-bold" data-brk-library="component__button">Read More
					</button>
				</div>

				<div class="landscape-slider-nav__content">
					<h3
						class="landscape-slider-nav__title font__family-montserrat font__size-21 line__height-28 font__weight-bold">
						Blossom: The Best in Floral Photography</h3>
					<div class="landscape-slider-nav__text font__family-open-sans font__size-16 line__height-26">Flowers are one
						of Mother Nature's most beautiful gifts. Not only are they a source of natural beauty, but they also have
						actual healing properties, giving new meaning to the term 'flower power.'
					</div>
					<button class="landscape-slider-nav__btn btn btn-lg font__family-open-sans font__weight-bold" data-brk-library="component__button">Read More
					</button>
				</div>

				<div class="landscape-slider-nav__content">
					<h3
						class="landscape-slider-nav__title font__family-montserrat font__size-21 line__height-28 font__weight-bold">
						Why Creators Are Turning to Video to Market Audio</h3>
					<div class="landscape-slider-nav__text font__family-open-sans font__size-16 line__height-26">Because a glance
						is all people tend to offer nowadays, videos, pictures, and graphics are now the most relied upon ways to
						grab attention.
					</div>
					<button class="landscape-slider-nav__btn btn btn-lg font__family-open-sans font__weight-bold" data-brk-library="component__button">Read More
					</button>
				</div>

			</div>
		</div>