<div class="services__wrapper-main services__wrapper-hexagon active__effect-main text-center @@if(context.customClass){@@customClass}" data-brk-library="component__services,component__title">
  <div class="services__wrapper active__effect active current">
        <span class="services__wrapper-shadow">
          <span></span>
          <span></span>
        </span>
    <div class="hexagon">
      <div class="cover">
        <h4 class="font__family-montserrat font__weight-bold font__size-24">Engaging, cool <span
                class="font__weight-light">&</span> <br><span
                class="highlight-massive font__family-playfair">creative<span class="after"></span></span></h4>
        <p class="font__family-open-sans font__size-16 mt-20 brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu. Aenean vulputate</p>
        @@include('../../buttons/templates/buttons.html',{
        "type":"btn-prime",
        "size":"md",
        "customClass":"border-radius-25 font__weight-bold mt-20"
        })
      </div>
      <span class="after"></span>
    </div>
  </div>
  <div class="hexagon__wrap">
    <div class="services__wrapper active__effect">
          <span class="services__wrapper-shadow">
            <span></span>
            <span></span>
          </span>
      <div class="hexagon">
        <div class="cover">
          <h4 class="font__family-montserrat font__weight-bold font__size-24">Tommy <br>
            <span class="highlight-massive font__family-playfair">Hilfiger<span class="after"></span></span></h4>
          <p class="font__family-open-sans font__size-16 mt-20 brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula,
            porttitor eu. Aenean vulputate</p>
          <a href="#" class="btn btn-md border-radius-25 font__family-open-sans font__weight-bold btn-prime mt-20">
            <span class="before"></span>
            <span class="border-btn"></span>Buttons
            <span class="after"></span>
          </a>
        </div>
        <span class="after"></span>
      </div>
    </div>
    <div class="services__wrapper active__effect">
          <span class="services__wrapper-shadow">
            <span></span>
            <span></span>
          </span>
      <div class="hexagon">
        <div class="cover">
          <h4 class="font__family-montserrat font__weight-bold font__size-24">Long-sleeve <br>
            <span class="highlight-massive font__family-playfair">top<span class="after"></span></span></h4>
          <p class="font__family-open-sans font__size-16 mt-20 brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula,
            porttitor eu. Aenean vulputate</p>
          @@include('../../buttons/templates/buttons.html',{
          "type":"btn-prime",
          "size":"md",
          "customClass":"border-radius-25 font__weight-bold mt-20"
          })
        </div>
        <span class="after"></span>
      </div>
    </div>
  </div>
  <div class="services__wrapper active__effect">
        <span class="services__wrapper-shadow">
          <span></span>
          <span></span>
        </span>
    <div class="hexagon">
      <div class="cover">
        <h4 class="font__family-montserrat font__weight-bold font__size-24">Business <br><span
                class="highlight-massive font__family-playfair">shoes<span class="after"></span></span></h4>
        <p class="font__family-open-sans font__size-16 mt-20 brk-dark-font-color">Aenean vulputate eleifend tellus. Aenean leo ligula,
          porttitor eu. Aenean vulputate</p>
        @@include('../../buttons/templates/buttons.html',{
        "type":"btn-prime",
        "size":"md",
        "customClass":"border-radius-25 font__weight-bold mt-20"
        })
      </div>
      <span class="after"></span>
    </div>
  </div>
</div>
