
  <div class="row no-gutters">
      <div class="col-lg-6">
        <article class="brk-tiles-clean" data-brk-library="component__tiles">
          <div class="brk-tiles-clean__thumb" style="background-image: url(img/370x370_1.jpg)"></div>
          <div class="brk-tiles-clean__content">
            <h4 class="font__family-montserrat font__weight-bold">Our Staff</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
            <a class="brk-tiles-clean__link" href="#"><i class="far fa-angle-right"></i><span>Read more</span></a>
          </div>
        </article>
      </div>

      <div class="col-lg-6">
        <article class="brk-tiles-clean" data-brk-library="component__tiles">
          <div class="brk-tiles-clean__thumb" style="background-image: url(img/370x370_2.jpg)"></div>
          <div class="brk-tiles-clean__content">
            <h4 class="font__family-montserrat font__weight-bold">Keep Calm</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
            <a class="brk-tiles-clean__link" href="#"><i class="far fa-angle-right"></i><span>Read more</span></a>
          </div>
        </article>
      </div>

      <div class="col-lg-6">
        <article class="brk-tiles-clean brk-tiles-clean_left" data-brk-library="component__tiles">
          <div class="brk-tiles-clean__thumb" style="background-image: url(img/370x370_3.jpg)"></div>
          <div class="brk-tiles-clean__content">
            <h4 class="font__family-montserrat font__weight-bold">Reach & Healthy</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
            <a class="brk-tiles-clean__link" href="#"><i class="far fa-angle-right"></i><span>Read more</span></a>
          </div>
        </article>
      </div>

      <div class="col-lg-6">
        <article class="brk-tiles-clean brk-tiles-clean_left" data-brk-library="component__tiles">
          <div class="brk-tiles-clean__thumb" style="background-image: url(img/370x370_4.jpg)"></div>
          <div class="brk-tiles-clean__content">
            <h4 class="font__family-montserrat font__weight-bold">Join to Us</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
            <a class="brk-tiles-clean__link" href="#"><i class="far fa-angle-right"></i><span>Read more</span></a>
          </div>
        </article>
      </div>
  </div>
