
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-6">
        <article class="brk-tiles-simple lazyload"
                 data-bg="@@if(context.bg_1){@@bg_1}@@if(!context.bg_1){img/tiles-simple-1.jpg}" data-brk-library="component__tiles">
          <div class="before"></div>
          <div class="brk-tiles-simple__content">
            <h4 class="font__family-montserrat font__weight-semibold font__size-21">Define the phases</h4>
            <p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p>
            <a class="brk-tiles-simple__link" href="#" data-brk-library="component__button">
              <span class="before"></span>
              <i class="far fa-angle-right"></i>
              <span class="after"></span>
            </a>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="brk-tiles-simple lazyload"
                 data-bg="@@if(context.bg_2){@@bg_2}@@if(!context.bg_2){img/tiles-simple-2.jpg}" data-brk-library="component__tiles">
          <div class="before"></div>
          <div class="brk-tiles-simple__content">
            <h4 class="font__family-montserrat font__weight-semibold font__size-21">Start from scratch</h4>
            <p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p>
            <a class="brk-tiles-simple__link" href="#" data-brk-library="component__button">
              <span class="before"></span>
              <i class="far fa-angle-right"></i>
              <span class="after"></span>
            </a>
          </div>
        </article>
      </div>

      <div class="col-md-6">
        <article class="brk-tiles-simple brk-tiles-simple_left lazyload"
                 data-bg="@@if(context.bg_3){@@bg_3}@@if(!context.bg_3){img/tiles-simple-3.jpg}" data-brk-library="component__tiles">
          <div class="before"></div>
          <div class="brk-tiles-simple__content">
            <h4 class="font__family-montserrat font__weight-semibold font__size-21">Give the green light</h4>
            <p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p>
            <a class="brk-tiles-simple__link" href="#" data-brk-library="component__button">
              <span class="before"></span>
              <i class="far fa-angle-right"></i>
              <span class="after"></span>
            </a>
          </div>
        </article>
      </div>
      <div class="col-md-6">
        <article class="brk-tiles-simple brk-tiles-simple_left lazyload"
                 data-bg="@@if(context.bg_4){@@bg_4}@@if(!context.bg_4){img/tiles-simple-4.jpg}" data-brk-library="component__tiles">
          <div class="before"></div>
          <div class="brk-tiles-simple__content">
            <h4 class="font__family-montserrat font__weight-semibold font__size-21">Schedule a meeting</h4>
            <p>Aenean vulputate eleifend tellus. Renean leo ligula, porttitor euequat vitae, eleifend ac, enim.</p>
            <a class="brk-tiles-simple__link" href="#" data-brk-library="component__button">
              <span class="before"></span>
              <i class="far fa-angle-right"></i>
              <span class="after"></span>
            </a>
          </div>
        </article>
      </div>
    </div>
  </div>

