<div class="flip-box text-center" data-brk-library="component__shop_cards">
  <div class="flip flip_horizontal flip-box__split">
    <div class="flip__front">
      <div class="flip-box__split-img" style="background-image: url(img/shop-1.jpg)"></div>
      <div class="pt-30 pb-30">
        <div class="font__family-montserrat font__weight-bold font__size-18 pl-20 pr-20">Enjeolon brand 2018</div>
        <div class="brk-base-font-color font__family-montserrat font__size-17 font__weight-medium"><span
          class="old-price font__size-15">$41.00</span>$21.30
        </div>
      </div>
    </div>
    <div class="flip__back brk-base-bg-gradient-10deg">
      <div class="pt-lg-40 pb-lg-40 pt-sm-20 pb-sm-20 pt-xs-40 pb-xs-40 pt-20 pb-20">
        <h4 class="font__family-montserrat font__weight-bold font__size-24">Enjeolon brand 2018</h4>
        <div class="flip-box__split-price font__family-montserrat font__size-15"><span>$41.00</span>$21.30</div>
      </div>
      <div class="flip-box__split-list">
        <ul
          class="font__family-open-sans font__size-15 line__height-30 font__weight-light text-left letter-spacing-40 pt-lg-35 pb-lg-35 pt-sm-20 pb-sm-20 pt-xs-35 pb-xs-35 pt-20 pb-20">
          <li><i class="far fa-check"></i>Brand Name: Enjeolon</li>
          <li><i class="far fa-check"></i>Tops Type: Polos</li>
          <li><i class="far fa-check"></i>Gender: Men</li>
          <li><i class="far fa-check"></i>Sale by Pack: No</li>
          <li><i class="far fa-check"></i>Pattern Type: Solid</li>
        </ul>
      </div>
      <div class="flip-box__split-actions clearfix pt-xs-30 pt-20">
        <a href="#" class="add-cart"><i class="fal fa-shopping-cart"></i></a>
        <a href="#" class="add-wishlist"><i class="fal fa-star"></i></a>
        <a href="#" class="add-compare"><i class="fal fa-exchange"></i></a>
      </div>
    </div>
  </div>
</div>