<div class="brk-sc-card-photo-overlay" data-brk-library="component__shop_cards">
  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img){@@img} @@if(!context.img){img/370x370_1.jpg}" alt="alt" class="brk-abs-img lazyload">
  <span class="brk-abs-overlay @@if(context.overlay){@@overlay}@@if(!context.overlay){brk-base-bg-gradient-right}"></span>
  <div class="brk-sc-card-photo-overlay__actions d-flex justify-content-between brk-white-font-color font__size-16">
    <a href="#"><i class="fa fa-search" aria-hidden="true"></i> View</a>
    <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> <span>24,2k</span></a>
    <a href="#"><i class="fa fa-comment" aria-hidden="true"></i> <span>277</span></a>
  </div>
</div>