<div class="parallax-bg overflow-hid mt-70 mt-md-140" style="background-image: url(img/bg-1920_1.jpg)" data-brk-library="component__parallax">
  <div class="container">
    <div class="row scroll-show circle__wrap content__side-left">
      <span class="parallax__bg-shape-lg brk-parallax__bg-color"></span>
      <div class="col-md-5">
        <div class="pt-110 pb-110 text-center">
          <h5 class="font__family-montserrat highlight-trend">We are Awesome</h5>
          <h2
                  class="font__family-montserrat font__weight-bold font__size-36 line__height-42 mt-20 letter__spacing--100">
            ENGAGING, PURPOSEFUL,</h2>
          <h2 class="font__family-playfair font__style-italic font__weight-normal font__size-36 line__height-42">&
            Creative</h2>
          <div class="divider-cross wow zoomIn">
            <span></span>
            <span></span>
          </div>
          <h5 class="font__family-playfair font__size-15 text-gray-light line__height-22 letter-spacing-20">Vestibulum
            fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. Aenean posuere, tortor
            sed cursus feugiat, nunc augue blandit nunc.</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax-bg overflow-hid mt-30" style="background-image: url(img/bg-1920_3.jpg)" data-brk-library="component__parallax">
  <div class="container">
    <div class="row scroll-show circle__wrap content__side-right">
      <span class="parallax__bg-shape-lg brk-parallax__bg-gradient"></span>

      <div class="col-md-7"></div>

      <div class="col-md-5">
        <div class="all-light text-md-left text-center pt-90 pb-90">
          <p class="font__family-open-sans font__weight-light font__size-16 brk-white-font-color opacity-60 letter-spacing-60">
            WE ARE
            AWESOME</p>
          <h2 class="font__family-montserrat-alt font__weight-medium font__size-56 line__height-50">
            <span class="show-inline-block text-middle">We are</span>
            <span class="font__family-playfair font__weight-light font__style-italic">creative</span>
          </h2>
          <p class="font__family-open-sans font__size-16 brk-white-font-color opacity-60 mt-30 line__height-26">Lorem
            ipsum dolor sit
            amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes</p>

          @@include('../../buttons/templates/buttons.html',{
          "type":"btn-prime",
          "text":"Read More",
          "customClass":"border-radius-25 font__weight-bold btn-prime-white ml-0 mr-0 mt-50 btn-min-width-200"
          })
        </div>
      </div>
    </div>
  </div>
</div>

