<section>
	<div class="container mb-80">
		<div class="text-left">
			<h3 class="font__family-montserrat font__size-28 font__weight-bold">
				<span class="heading__number">04</span> Berserk
			</h3>
		</div>
	</div>

	<div class="container mb-140">
		<div class="row">

			<h4 class="font__family-montserrat font__size-18 font__weight-light mb-20 ml-3">Simple</h4>
			<div class="col-sm-12">
				@@include("berserk-v1.html")
			</div>

			<h4 class="font__family-montserrat font__size-18 font__weight-light mb-20 ml-3">Clean</h4>
			<div class="col-sm-12">
				@@include("berserk-v2.html")
			</div>

			<h4 class="font__family-montserrat font__size-18 font__weight-light mb-20 ml-3">Rounded</h4>
			<div class="col-sm-12">
				@@include("berserk-v3.html")
			</div>

		</div>
	</div>
</section>