<section>
	<div class="container mb-80">
		<div class="text-left">
			<h3 class="font__family-montserrat font__size-28 font__weight-bold">
				<span class="heading__number">03</span> Rounded
			</h3>
		</div>
	</div>

	<div class="container mb-140">
		<div class="row">

			<div class="col-sm-12">
				@@include("rounded-v1.html")
			</div>

			<div class="col-sm-12">
				@@include("rounded-v2.html")
			</div>

			<div class="col-sm-12">
				@@include("rounded-v3.html")
			</div>

			<div class="col-sm-12">
				@@include("rounded-v4.html")
			</div>

			<div class="col-sm-12">
				@@include("rounded-v5.html")
			</div>

			<div class="col-sm-12">
				@@include("rounded-v6.html")
			</div>

			<div class="col-sm-12">
				@@include("rounded-v7.html")
			</div>

			<div class="col-sm-12">
				@@include("rounded-v8.html")
			</div>

		</div>
	</div>
</section>