<div class="brk-sc-tiles-banner shadow" data-brk-library="component__widgets">
  <img src="@@bgImage" alt="alt" class="brk-sc-tiles-banner__bg">
  <div class="brk-sc-tiles-banner__overlay @@overlayClass"></div>
  <div class="row">
    <div class="col-12 col-sm-8 col-lg-5">
      <div class="brk-sc-tiles-banner__info">
        <h3 class="brk-sc-tiles-banner__title brk-white-font-color font__family-montserrat font__size-36 font__weight-bold line__height-42 mb-25 letter-spacing--20">@@title</h3>
        
        @@include('./shop-tags.html',{
          "containerCLass":"mb-20",
          "tag1":"T-Shirts",
          "tag2":"Branding",
          "tag3":"WooCommerce"
        })

        @@include('../../buttons/templates/buttons.html',{
          "type": "btn-inside-out btn-inside-out-invert",
          "customClass": "border-radius-30 font__family-open-sans font__weight-bold brk-sc-tiles-banner__btn pl-70 pr-70",
          "size": "lg",
          "text": "READ MORE"
        })

      </div>
    </div>
    <div class="col-12 col-sm-4 col-lg-4">
      <div class="brk-sc-tiles-banner__img">
        <img src="@@mainImg" alt="alt">
      </div>
    </div>
    <div class="col-12 col-lg-3">
      <div class="brk-sc-tiles-banner__links">
        <a href="#" class="brk-sc-tiles-banner__link">
          <span class="font__family-montserrat brk-white-font-color font__size-42 font__weight-light line__height-42 mr-35">01</span>
          <span class="brk-white-font-color font__size-16 font__weight-normal line__height-21">Bershka, Mango, Diadora</span>
          <div class="brk-sc-tiles-banner__discount">
              <svg vxmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 461 483">
                <g>
                  <path class="brk-fill-primary" d="M198.7,16.9c17-19.2,44.8-19.2,61.8,0c17,19.2,51.4,30.4,76.4,24.8c25-5.5,47.5,10.8,50,36.3
                  c2.5,25.5,23.7,54.8,47.2,65c23.5,10.2,32.1,36.7,19.1,58.8c-13,22.1-13,58.2,0,80.3c13,22.1,4.4,48.5-19.1,58.8
                  c-23.5,10.2-44.8,39.5-47.2,65c-2.5,25.5-25,41.9-50,36.3c-25-5.5-59.4,5.6-76.4,24.8c-17,19.2-44.8,19.2-61.8,0
                  s-51.4-30.4-76.4-24.8c-25,5.5-47.5-10.8-50-36.3c-2.5-25.5-23.7-54.8-47.2-65s-32.1-36.7-19.1-58.8c13-22.1,13-58.2,0-80.3
                  c-13-22.1-4.4-48.5,19.1-58.8s44.8-39.5,47.2-65c2.5-25.5,25-41.9,50-36.3C147.3,47.3,181.7,36.1,198.7,16.9z" />
                </g>
              </svg>
              <span class="brk-white-font-color font__family-montserrat font__size-14 font__weight-bold brk-sc-tiles-banner__discount-value">-10%</span>
          </div>
        </a>
        <a href="#" class="brk-sc-tiles-banner__link">
          <span class="font__family-montserrat brk-white-font-color font__size-42 font__weight-light line__height-42 mr-35">02</span>
          <span class="brk-white-font-color font__size-16 font__weight-normal line__height-21">Bershka, Mango, Diadora</span>
          <div class="brk-sc-tiles-banner__discount">
              <svg vxmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 461 483">
                <g>
                  <path class="brk-fill-secondary" d="M198.7,16.9c17-19.2,44.8-19.2,61.8,0c17,19.2,51.4,30.4,76.4,24.8c25-5.5,47.5,10.8,50,36.3
                  c2.5,25.5,23.7,54.8,47.2,65c23.5,10.2,32.1,36.7,19.1,58.8c-13,22.1-13,58.2,0,80.3c13,22.1,4.4,48.5-19.1,58.8
                  c-23.5,10.2-44.8,39.5-47.2,65c-2.5,25.5-25,41.9-50,36.3c-25-5.5-59.4,5.6-76.4,24.8c-17,19.2-44.8,19.2-61.8,0
                  s-51.4-30.4-76.4-24.8c-25,5.5-47.5-10.8-50-36.3c-2.5-25.5-23.7-54.8-47.2-65s-32.1-36.7-19.1-58.8c13-22.1,13-58.2,0-80.3
                  c-13-22.1-4.4-48.5,19.1-58.8s44.8-39.5,47.2-65c2.5-25.5,25-41.9,50-36.3C147.3,47.3,181.7,36.1,198.7,16.9z" />
                </g>
              </svg>
              <span class="brk-white-font-color font__family-montserrat font__size-14 font__weight-bold brk-sc-tiles-banner__discount-value">-10%</span>
          </div>
        </a>
        <a href="#" class="brk-sc-tiles-banner__link">
          <span class="font__family-montserrat brk-white-font-color font__size-42 font__weight-light line__height-42 mr-35">03</span>
          <span class="brk-white-font-color font__size-16 font__weight-normal line__height-21">Bershka, Mango, Diadora</span>
        </a>
      </div>
    </div>
  </div> 
</div>