<div class="brs-post brs-post_mini-vertical" data-brk-library="component__widgets">
  <a href="#" class="brs-post__img-container">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@imgSrc" alt="alt" class="brs-post__img lazyload">
  </a>
  <div class="brs-post__about">
    <a href="#" class="brs-post__date">
      <i class="far fa-clock brs-post__date-icon"></i>
      <span class="font__family-montserrat font__weight-semibold text-uppercase font__size-13 line__height-14">Aug 12, 17</span>
    </a>
    <h2 class="brs-post__title font__family-montserrat font__size-16 font_weight-light line__height-18">
      @@if(context.title){@@title}
      @@if(!context.title){Some large title}
    </h2>
    <a href="#" class="brs-post__link">
      <i class="fal fa-angle-right brs-post__link-icon"></i>
    </a>
  </div>
</div>