<div class="brs-post brs-post_mini-horizontal" data-brk-library="component__widgets">
  <div class="brs-post__img-container">
    <a href="#">
      <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@src" alt="alt" class="brs-post__img lazyload">
    </a>
  </div>
  <div class="brs-post__about">
    <a href="#" class="brs-post__date">
      <i class="far fa-clock brs-post__date-icon"></i>
      <span class="font__family-montserrat font__size-13 line__height-14 font__weight-normal">Aug 12, 17</span>
    </a>
    <h3 class="brs-post__title font__family-montserrat font__size-15 font__weight-normal line__height-18">
      Some large title</h3>
  </div>
</div>