<li class="brk-nav__children brk-nav__drop-down-effect">
  <a href="#">
    <span>Portfolio</span>
  </a>
  <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
    <li class="dd-effect">
      <a href="portfolio-categories.html">Portfolio categories</a>
    </li>
    <li class="dd-effect">
      <a href="portfolio-galleries.html">Portfolio galleries</a>
    </li>
    <li class="dd-effect">
      <a href="portfolio-grid.html">Portfolio grid</a>
    </li>
    <li class="dd-effect">
      <a href="portfolio-isotope.html">Portfolio isotope</a>
    </li>
    <li class="dd-effect">
      <a href="portfolio-list.html">Portfolio list</a>
    </li>
    <li class="dd-effect">
      <a href="portfolio-masonry.html">Portfolio masonry</a>
    </li>
    <li class="dd-effect">
      <a href="portfolio-page.html">Portfolio page</a>
    </li>
    <li class="dd-effect">
      <a href="portfolio-rows.html">Portfolio rows</a>
    </li>
  </ul>
</li>