<div class="brk-search @@if(context.interactive){@@interactive} brk-header__item">
  <div class="brk-search__open @@if(context.searchOpenClass){@@searchOpenClass}">
    <i class="@@icon" aria-hidden="true"></i>
    <div class="brk-search__title">Search website</div>
  </div>

  <div class="brk-search__block">
    <div class="brk-search__header">
      <span class="font__family-montserrat font__weight-bold font__size-18">Search</span>
    </div>

    <form class="brk-search__form" role="search" method="get" action="#">
      <input name="s" maxlength="50" type="search" value="" placeholder="Enter search text"/>
      <button type="submit"><i class="fas fa-search"></i></button>
    </form>

    <span class="brk-search__close font__family-montserrat font__weight-medium">Close <i class="fas fa-times"></i></span>
  </div>
</div>