<li class="brk-nav__children brk-nav__drop-down-effect">
  <a href="#">
    <span>Pages</span>
  </a>
  <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
    <li class="dd-effect brk-nav__children brk-nav__drop-down-effect">
      <a href="#">Headers <i class="fas fa-angle-right"></i></a>
      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
        <li class="dd-effect"><a href="header-1.html">Header 1</a></li>
        <li class="dd-effect"><a href="header-2.html">Header 2</a></li>
        <li class="dd-effect"><a href="header-3.html">Header 3</a></li>
        <li class="dd-effect"><a href="header-4.html">Header 4</a></li>
        <li class="dd-effect"><a href="header-5.html">Header 5</a></li>
        <li class="dd-effect"><a href="header-6.html">Header 6</a></li>
        <li class="dd-effect"><a href="header-7.html">Header 7</a></li>
        <li class="dd-effect"><a href="header-7-popup.html">Header 7 Popup</a></li>
      </ul>
    </li>
    <li class="dd-effect brk-nav__children brk-nav__drop-down-effect">
      <a href="#">Headers Extra <i class="fas fa-angle-right"></i></a>
      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
        <li class="dd-effect"><a href="header-8.html">Header 8</a></li>
        <li class="dd-effect"><a href="header-9.html">Header 9</a></li>
        <li class="dd-effect"><a href="header-10.html">Header 10</a></li>
        <li class="dd-effect"><a href="header-11.html">Header 11</a></li>
        <li class="dd-effect"><a href="header-12.html">Header 12</a></li>
        <li class="dd-effect"><a href="header-13.html">Header 13</a></li>
        <li class="dd-effect"><a href="header-14.html">Header 14</a></li>
        <li class="dd-effect"><a href="header-vertical-1.html">Header Vertical 1</a></li>
        <li class="dd-effect"><a href="header-vertical-2.html">Header Vertical 2</a></li>
      </ul>
    </li>
    <li class="dd-effect">
      <a href="breadcrumbs.html">Breadcrubms</a>
    </li>
    <li class="dd-effect">
      <a href="footer.html">Footers</a>
    </li>
    <li class="dd-effect brk-nav__children brk-nav__drop-down-effect">
      <a href="#">Forum <i class="fas fa-angle-right"></i></a>
      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
        <li class="dd-effect">
          <a href="forum-main.html">Forum main page</a>
        </li>
        <li class="dd-effect">
          <a href="forum-post.html">Forum post</a>
        </li>
        <li class="dd-effect">
          <a href="forum-author.html">Forum author</a>
        </li>
      </ul>
    </li>
    <li class="dd-effect brk-nav__children brk-nav__drop-down-effect">
      <a href="#">Galleries <i class="fas fa-angle-right"></i></a>
      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
        <li class="dd-effect">
          <a href="gallery-2-cols.html">Gallery 2 Cols</a>
        </li>
        <li class="dd-effect">
          <a href="gallery-3-cols-masonry.html">Gallery 3 Cols Masonry</a>
        </li>
        <li class="dd-effect">
          <a href="gallery-4-cols.html">Gallery 4 Cols</a>
        </li>
        <li class="dd-effect">
          <a href="gallery-4-cols-wide.html">Gallery 4 Cols Wide</a>
        </li>
        <li class="dd-effect">
          <a href="gallery-6-cols.html">Gallery 6 Cols</a>
        </li>
        <li class="dd-effect">
          <a href="gallery-cols.html">Gallery Cols</a>
        </li>
        <li class="dd-effect">
          <a href="gallery-sliders.html">Gallery Sliders</a>
        </li>
      </ul>
    </li>
    <li class="dd-effect">
      <a href="company-services.html">Company Services</a>
    </li>
    <li class="dd-effect brk-nav__children brk-nav__drop-down-effect">
      <a href="#">Contact us <i class="fas fa-angle-right"></i></a>
      <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
        <li class="dd-effect">
          <a href="contact-us.html">Contact us</a>
        </li>
        <li class="dd-effect">
          <a href="contact-us-bussines.html">Contact us bussines</a>
        </li>
      </ul>
    </li>
    <li class="dd-effect">
      <a href="404.html">Page not found - 404</a>
    </li>
    <li class="dd-effect">
      <a href="403.html">Access denied - 403</a>
    </li>
    <li class="dd-effect">
      <a href="login.html">Login</a>
    </li>
    <li class="dd-effect">
      <a href="register.html">Register</a>
    </li>
    <li class="dd-effect">
      <a href="coming-soon.html">Coming Soon</a>
    </li>
  </ul>
</li>