<li class="brk-nav__children brk-nav__drop-down-effect">
  <a href="#">
    <span>Shop</span>
  </a>
  <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
    <li class="dd-effect">
      <a href="shop-components-flip.html">Shop flip</a>
    </li>
    <li class="dd-effect">
      <a href="shop-components-grid.html">Shop grid</a>
    </li>
    <li class="dd-effect">
      <a href="shop-components-grid-filter.html">Shop grid-filter</a>
    </li>
    <li class="dd-effect">
      <a href="shop-components-honeycomb.html">Shop honeycomb</a>
    </li>
    <li class="dd-effect">
      <a href="shop-components-item-sidebar.html">Shop item with sidebar</a>
    </li>
    <li class="dd-effect">
      <a href="shop-components-list.html">Shop list</a>
    </li>
    <li class="dd-effect">
      <a href="shop-components-masonry.html">Shop masonry</a>
    </li>
    <li class="dd-effect">
      <a href="demo_product_landing.html">Shop single product item</a>
    </li>
    <li class="dd-effect">
      <a href="shop-components-row.html">Shop row</a>
    </li>
    <li class="dd-effect">
      <a href="shop-components-tiles.html">Shop tiles</a>
    </li>
    <li class="dd-effect">
      <a href="cart.html">Shop cart</a>
    </li>
    <li class="dd-effect">
      <a href="checkout.html">Shop checkout</a>
    </li>
    <li class="dd-effect">
      <a href="shop-components-compare.html">Shop Compare</a>
    </li>
  </ul>
</li>