<li class="brk-nav__children brk-nav__full-width brk-nav__drop-down-effect">
  <a href="#">
    <span>Elements</span>
  </a>
  <div class="brk-nav__mega-menu brk-nav-drop-down">
    <div class="bg-white">
      <div class="row no-gutters">
        <div class="col-xl-2">
          <div class="brk-nav__header font__family-montserrat">ELEMENTS</div>
          <div class="brk-header_border-right pb-60 pt-20">
            <ul class="brk-header-list font__family-montserrat">
              <li class="dd-effect">
                <a href="accordions.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                  </span>
                  Accordions
                </a>
              </li>
              <li class="dd-effect">
                <a href="alerts.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-university" aria-hidden="true"></i>
                  </span>
                  Alerts
                </a>
              </li>
              <li class="dd-effect">
                <a href="app.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                  </span>
                  App
                </a>
              </li>
              <li class="dd-effect">
                <a href="backgrounds.html">
                  <span class="brk-header-list__icon">
                    <i class="far fa-gem" aria-hidden="true"></i>
                  </span>
                  Backgrounds
                </a>
              </li>
              <li class="dd-effect">
                <a href="breadcrumbs.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                  </span>
                  Breadcrumbs
                </a>
              </li>
              <li class="dd-effect">
                <a href="buttons.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-male" aria-hidden="true"></i>
                  </span>
                  Buttons
                </a>
              </li>
              <li class="dd-effect">
                <a href="CFA.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-sign-language" aria-hidden="true"></i>
                  </span>
                  CFA
                </a>
              </li>
              <li class="dd-effect">
                <a href="content-sliders.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                  </span>
                  Content sliders
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2">
          <div class="brk-nav__header font__family-montserrat">ELEMENTS</div>
          <div class="brk-header_border-right pb-60 pt-20">
            <ul class="brk-header-list font__family-montserrat">
              <li class="dd-effect">
                <a href="countdown.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-university" aria-hidden="true"></i>
                  </span>
                  Countdown
                </a>
              </li>
              <li class="dd-effect">
                <a href="counter.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                  </span>
                  Counter
                </a>
              </li>
              <li class="dd-effect">
                <a href="counter-dark.html">
                  <span class="brk-header-list__icon">
                    <i class="far fa-gem" aria-hidden="true"></i>
                  </span>
                  Counter dark
                </a>
              </li>
              <li class="dd-effect">
                <a href="delimiters.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                  </span>
                  Delimiters
                </a>
              </li>
              <li class="dd-effect">
                <a href="dividers.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                  </span>
                  Dividers
                </a>
              </li>
              <li class="dd-effect">
                <a href="flip-boxes.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-male" aria-hidden="true"></i>
                  </span>
                  Flip boxes
                </a>
              </li>
              <li class="dd-effect">
                <a href="form-controls.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                  </span>
                  Form controls
                </a>
              </li>
              <li class="dd-effect">
                <a href="google-maps.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-map" aria-hidden="true"></i>
                  </span>
                  Google maps
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-xl-2">
          <div class="brk-nav__header font__family-montserrat">ELEMENTS</div>
          <div class="brk-header_border-right pb-60 pt-20">
            <ul class="brk-header-list font__family-montserrat">
              <li class="dd-effect">
                <a href="image-caption-parallax.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-sign-language" aria-hidden="true"></i>
                  </span>
                  Image caption
                </a>
              </li>
              <li class="dd-effect">
                <a href="image-frames.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                  </span>
                  Image frames
                </a>
              </li>
              <li class="dd-effect">
                <a href="image-map.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-university" aria-hidden="true"></i>
                  </span>
                  Image map
                </a>
              </li>
              <li class="dd-effect">
                <a href="icons.html">
                  <span class="brk-header-list__icon">
                    <i class="fab fa-font-awesome-alt"></i>
                  </span>
                  Icons
                  <span class="brk-header-list__info bg-success font__family-montserrat">New</span>
                </a>
              </li>
              <li class="dd-effect">
                <a href="info-box.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                  </span>
                  Info box
                </a>
              </li>
              <li class="dd-effect">
                <a href="lists.html">
                  <span class="brk-header-list__icon">
                    <i class="far fa-gem" aria-hidden="true"></i>
                  </span>
                  Lists
                </a>
              </li>
              <li class="dd-effect">
                <a href="logo.html">
                  <span class="brk-header-list__icon">
                    <i class="far fa-gem" aria-hidden="true"></i>
                  </span>
                  Logo
                </a>
              </li>
              <li class="dd-effect">
                <a href="media-embeds.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                  </span>
                  Media embeds
                </a>
              </li>
              <li class="dd-effect">
                <a href="pagination.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                  </span>
                  Pagination
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2">
          <div class="brk-nav__header font__family-montserrat">ELEMENTS</div>
          <div class="brk-header_border-right pb-60 pt-20">
            <ul class="brk-header-list font__family-montserrat">
              <li class="dd-effect">
                <a href="parallax.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                  </span>
                  Parallax
                </a>
              </li>
              <li class="dd-effect">
                <a href="parallax-video.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-sign-language" aria-hidden="true"></i>
                  </span>
                  Parallax video
                </a>
              </li>
              <li class="dd-effect">
                <a href="pricing-tables.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                  </span>
                  Pricing tables
                </a>
              </li>
              <li class="dd-effect">
                <a href="progress-circles.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-university" aria-hidden="true"></i>
                  </span>
                  Progress circles
                </a>
              </li>
              <li class="dd-effect">
                <a href="section-titles.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                  </span>
                  Section titles
                </a>
              </li>
              <li class="dd-effect">
                <a href="sequence.html">
                  <span class="brk-header-list__icon">
                    <i class="far fa-gem" aria-hidden="true"></i>
                  </span>
                  Sequence
                </a>
              </li>
              <li class="dd-effect">
                <a href="services.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                  </span>
                  Services
                </a>
              </li>
              <li class="dd-effect">
                <a href="shape-box.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-male" aria-hidden="true"></i>
                  </span>
                  Shape box
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-xl-2">
          <div class="brk-nav__header font__family-montserrat">ELEMENTS</div>
          <div class="brk-header_border-right pb-60 pt-20">
            <ul class="brk-header-list font__family-montserrat">
              <li class="dd-effect">
                <a href="sliders.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-male" aria-hidden="true"></i>
                  </span>
                  Sliders
                </a>
              </li>
              <li class="dd-effect">
                <a href="social.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                  </span>
                  Social
                </a>
              </li>
              <li class="dd-effect">
                <a href="steps.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                  </span>
                  Steps
                </a>
              </li>
              <li class="dd-effect">
                <a href="tabbed-contents.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-sign-language" aria-hidden="true"></i>
                  </span>
                  Tabbed contents
                </a>
              </li>
              <li class="dd-effect">
                <a href="tables.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-qrcode" aria-hidden="true"></i>
                  </span>
                  Tables
                </a>
              </li>
              <li class="dd-effect">
                <a href="tabs.html">
                  <span class="brk-header-list__icon">
                    <i class="far fa-gem" aria-hidden="true"></i>
                  </span>
                  Tabs
                </a>
              </li>
              <li class="dd-effect">
                <a href="tags.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                  </span>
                  Tags
                </a>
              </li>
              <li class="dd-effect">
                <a href="team.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-university" aria-hidden="true"></i>
                  </span>
                  Team
                </a>
              </li>

            </ul>
          </div>
        </div>
        <div class="col-xl-2">
          <div class="brk-nav__header font__family-montserrat">ELEMENTS</div>
          <div class="brk-header_border-right pb-60 pt-20">
            <ul class="brk-header-list font__family-montserrat">
              <li class="dd-effect">
                <a href="team-member.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                  </span>
                  Team-member
                </a>
              </li>
              <li class="dd-effect">
                <a href="testimonials.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-university" aria-hidden="true"></i>
                  </span>
                  Testimonials
                </a>
              </li>
              <li class="dd-effect">
                <a href="tiles.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-male" aria-hidden="true"></i>
                  </span>
                  Tiles
                </a>
              </li>
              <li class="dd-effect">
                <a href="timelines.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                  </span>
                  Timelines
                </a>
              </li>
              <li class="dd-effect">
                <a href="titles.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-id-card" aria-hidden="true"></i>
                  </span>
                  Titles
                </a>
              </li>
              <li class="dd-effect">
                <a href="typing-rotator.html">
                  <span class="brk-header-list__icon">
                    <i class="fab fa-adversal" aria-hidden="true"></i>
                  </span>
                  Typing rotator
                </a>
              </li>
              <li class="dd-effect">
                <a href="svg-pattern.html">
                  <span class="brk-header-list__icon">
                    <i class="fab fa-adversal" aria-hidden="true"></i>
                  </span>
                  Blocks transition
                </a>
              </li>
              <li class="dd-effect">
                <a href="panels.html">
                  <span class="brk-header-list__icon">
                    <i class="fa fa-male" aria-hidden="true"></i>
                  </span>
                  Panels
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>