<div class="brk-header-mobile">
  <div class="brk-header-mobile__open @@if(context.white){brk-header-mobile__open_white}">
    <span></span>
  </div>

  <div class="brk-header-mobile__logo">
    <a href="#">
      <img class="brk-header-mobile__logo-1 lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.logo_1){@@logo_1}@@if(!context.logo_1){img/logo-2.png}" alt="alt">
      <img class="brk-header-mobile__logo-2 lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.logo_2){@@logo_2}@@if(!context.logo_2){img/logo-dark-2.png}" alt="alt">
    </a>
  </div>
</div><!-- /.brk-header-mobile -->