<li class="brk-nav__children brk-nav__full-width">
  <a href="@@if(context.link){@@link}@@if(!context.link){/}" data-brk-library="component__tabs">
    <span>Home</span>
  </a>
  <div class="brk-nav__mega-menu brk-nav-drop-down">
    <div class="bg-white">
      <!-- brk-hover-nav -->
      <div class="brk-tabs brk-tabs-hovers" data-index="0">
        <ul class="brk-tabs-nav font__family-open-sans">
          <li class="brk-tab font__weight-bold">
            <i class="fa fa-tasks"></i>
            Demos
          </li>
          <li class="brk-tab font__weight-bold">
            <i class="fa fa-trophy"></i>
            HomePages
          </li>
          <li class="brk-tab font__weight-bold">
            <i class="fa fa-life-ring"></i>
            Support & Info
          </li>
        </ul>
        <div class="brk-tabs-content">
          <div class="brk-tab-item">
            <div class="row no-gutters">
              <div class="col-lg">
                <div class="brk-nav__header font__family-montserrat">Check</div>
                <div class="brk-header_border-right pb-60 pt-20 h-100">
                  <ul class="brk-header-list font__family-montserrat">
                    <li>
                      <a href="/demo_agency_animation.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-paper-plane"></i>
                        </span>
                        Agency Animation
                      </a>
                    </li>
                    <li>
                      <a href="/demo_agency_fluid.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-tint"></i>
                        </span>
                        Agency Fluid
                      </a>
                    </li>
                    <li>
                      <a href="/demo_agency_modern.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-gift"></i>
                        </span>
                        Agency Modern
                      </a>
                    </li>
                    <li>
                      <a href="/demo_agency_urban.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-university"></i>
                        </span>
                        Agency Urban
                      </a>
                    </li>
                    <li>
                      <a href="/demo_art.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-newspaper"></i>
                        </span>
                        Art
                      </a>
                    </li>
                    <li>
                      <a href="/demo_saas.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-camera-retro"></i>
                        </span>
                        SAAS
                        <span class="brk-header-list__info bg-success font__family-montserrat">Ver. 1.5</span>
                      </a>
                    </li>
                    <li>
                      <a href="/demo_winter_trip_agency.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-snowflake"></i>
                        </span>
                        Winter Trip Agency
                        <span class="brk-header-list__info bg-success font__family-montserrat">Ver. 1.6</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg">
                <div class="brk-nav__header font__family-montserrat">Out</div>
                <div class="brk-header_border-right pb-60 pt-20 h-100">
                  <ul class="brk-header-list font__family-montserrat">
                    <li>
                      <a href="/demo_construction.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-home"></i>
                        </span>
                        Construction
                      </a>
                    </li>
                    <li>
                      <a href="/demo_creative_agency.html">
                        <span class="brk-header-list__icon">
                          <i class="fab fa-angrycreative"></i>
                        </span>
                        Creative Agency
                      </a>
                    </li>
                    <li>
                      <a href="/demo_freelance_blog.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-user-friends"></i>
                        </span>
                        Freelance Blog
                      </a>
                    </li>
                    <li>
                      <a href="/demo_freelance_portfolio.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-portrait"></i>
                        </span>
                        Freelance Portfolio
                      </a>
                    </li>
                    <li>
                      <a href="/demo_logistic.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-truck"></i>
                        </span>
                        Logistic
                      </a>
                    </li>
                    <li>
                      <a href="/demo_website_agency.html">
                        <span class="brk-header-list__icon">
                          <i class="far fa-images"></i>
                        </span>
                        Website Agency
                      </a>
                    </li>
                    <li>
                      <a href="/demo_winter_trip_agency_cta.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-snowflake"></i>
                        </span>
                        Winter Event Anounce
                        <span class="brk-header-list__info bg-success font__family-montserrat">Ver. 1.7</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg">
                <div class="brk-nav__header font__family-montserrat">Our</div>
                <div class="brk-header_border-right pb-60 pt-20 h-100">
                  <ul class="brk-header-list font__family-montserrat">
                    <li>
                      <a href="/demo_shop_clothes.html">
												<span class="brk-header-list__icon">
													<i class="fas fa-tshirt"></i>
												</span>
                        Shop Clothes
                        <span class="brk-header-list__info bg-warning font__family-montserrat">Shop</span>
                      </a>
                    </li>
                    <li>
                      <a href="/demo_shop_drone.html">
												<span class="brk-header-list__icon">
													<i class="fab fa-phoenix-squadron"></i>
												</span>
                        Shop Drone
                        <span class="brk-header-list__info bg-warning font__family-montserrat">Shop</span>
                      </a>
                    </li>
                    <li>
                      <a href="/demo_shop_electronics.html">
												<span class="brk-header-list__icon">
													<i class="fas fa-bolt"></i>
												</span>
                        Shop Electronics
                        <span class="brk-header-list__info bg-warning font__family-montserrat">Shop</span>
                      </a>
                    </li>
                    <li>
                      <a href="/demo_shop_modern.html">
												<span class="brk-header-list__icon">
													<i class="fas fa-people-carry"></i>
												</span>
                        Shop Modern
                        <span class="brk-header-list__info bg-warning font__family-montserrat">Shop</span>
                      </a>
                    </li>
                    <li>
                      <a href="/demo_shop_trendy.html">
												<span class="brk-header-list__icon">
													<i class="fas fa-dollar-sign"></i>
												</span>
                        Shop Trendy
                        <span class="brk-header-list__info bg-warning font__family-montserrat">Shop</span>
                      </a>
                    </li>
                    <li>
                      <a href="/demo_shop_video.html">
												<span class="brk-header-list__icon">
													<i class="fas fa-video"></i>
												</span>
                        Shop Video
                        <span class="brk-header-list__info bg-warning font__family-montserrat">Shop</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg">
                <div class="brk-nav__header font__family-montserrat">Demos</div>
                <div class="brk-header_border-right pb-60 pt-20 h-100">
                  <ul class="brk-header-list font__family-montserrat">
                    <li>
                      <a href="/demo_magazine.html">
                        <span class="brk-header-list__icon">
                          <i class="far fa-window-restore"></i>
                        </span>
                        Magazine
                      </a>
                    </li>
                    <li>
                      <a href="/demo_photography.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-camera-retro"></i>
                        </span>
                        Photography
                      </a>
                    </li>
                    <li>
                      <a href="/demo_product_landing.html">
												<span class="brk-header-list__icon">
													<i class="fab fa-product-hunt"></i>
												</span>
                        Product Landing
                        <span class="brk-header-list__info bg-success font__family-montserrat">New</span>
                      </a>
                    </li>
                    <li>
                      <a href="/demo_product_sport.html">
												<span class="brk-header-list__icon">
													<i class="fas fa-futbol"></i>
												</span>
                        Sports Products
                        <span class="brk-header-list__info bg-success font__family-montserrat">New</span>
                      </a>
                    </li>
                    <li>
                      <a href="/demo_spa.html">
												<span class="brk-header-list__icon">
													<i class="fas fa-dove"></i>
												</span>
                        Spa & Beauty
                        <span class="brk-header-list__info bg-success font__family-montserrat">New</span>
                      </a>
                    </li>
                    <li>
                      <a href="/demo_minimalistic_portfolio.html">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-camera-retro"></i>
                        </span>
                        Portfolio Minimalistic
                        <span class="brk-header-list__info bg-success font__family-montserrat">Ver. 1.3</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="brk-tab-item">
            <div class="row no-gutters">
              <div class="col-lg d-none d-lg-block">
                <div class="brk-nav__header font__family-montserrat">Preview</div>

                <div class="brk-element-base brk-header_border-right text-center lazyload"
                     data-bg="img/662x295.jpg"
                     style="height: calc(100% - 76px)">
                  <div class="brk-element-base__before"></div>
                  <div class="brk-element-base__after lazyload" data-bg="img/shape-01.png"></div>
                  <div class="brk-element-base__content center-absolute">
                    <div class="mb-20">
                      <img src="img/logo.png" alt="alt">
                    </div>
                    <div class="pb-10">
                      @@include('../../buttons/templates/buttons.html',{
                      "type": "btn-inside-out",
                      "customClass": "border-radius-25 font__family-open-sans font__weight-bold btn-inside-out-invert",
                      "text": "Purchase",
                      "size": "md"
                      })
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg">
                <div class="brk-nav__header font__family-montserrat">Our</div>
                <div class="brk-header_border-right pb-60 pt-20" style="height: calc(100% - 76px)">
                  <ul class="brk-header-list font__family-montserrat">
                    <li>
                      <a href="home-page-1.html">
                        <span class="brk-header-list__icon">
                          <i class="fa fa-male" aria-hidden="true"></i>
                        </span>
                        Home page 1
                      </a>
                    </li>
                    <li>
                      <a href="home-page-2.html">
                        <span class="brk-header-list__icon">
                          <i class="fa fa-cube" aria-hidden="true"></i>
                        </span>
                        Home page 2
                        <!-- <span class="brk-header-list__info bg-success font__family-montserrat">New</span> -->
                      </a>
                    </li>
                    <li>
                      <a href="home-page-3.html">
                        <span class="brk-header-list__icon">
                          <i class="fa fa-qrcode" aria-hidden="true"></i>
                        </span>
                        Home page 3
                      </a>
                    </li>
                    <li>
                      <a href="home-page-4.html">
                        <span class="brk-header-list__icon">
                          <i class="fa fa-sign-language" aria-hidden="true"></i>
                        </span>
                        Home page 4
                      </a>
                    </li>
                    <li>
                      <a href="home-page-5.html">
                        <span class="brk-header-list__icon">
                          <i class="fa fa-university" aria-hidden="true"></i>
                        </span>
                        Home page 5
                        <!-- <span class="brk-header-list__info bg-success font__family-montserrat">New</span> -->
                      </a>
                    </li>
                    <li>
                      <a href="home-page-6.html">
                        <span class="brk-header-list__icon">
                          <i class="fa fa-cube" aria-hidden="true"></i>
                        </span>
                        Home page 6
                        <!-- <span class="brk-header-list__info bg-success font__family-montserrat">New</span> -->
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg">
                <div class="brk-nav__header font__family-montserrat">Home</div>
                <div class="brk-header_border-right pb-60 pt-20" style="height: calc(100% - 76px)">
                  <ul class="brk-header-list font__family-montserrat">
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 7
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 8
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 9
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 10
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 11
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 12
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg">
                <div class="brk-nav__header font__family-montserrat">Pages</div>
                <div class="brk-header_border-right pb-60 pt-20" style="height: calc(100% - 76px)">
                  <ul class="brk-header-list font__family-montserrat">
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 13
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 14
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 15
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 16
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 17
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                    <li>
                      <a href="/">
                        <span class="brk-header-list__icon">
                          <i class="fas fa-archive"></i>
                        </span>
                        Home page 18
                        <span class="brk-header-list__info bg-info font__family-montserrat">SOON</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="brk-tab-item">
            <div class="row">
              <div class="col-lg-5">
                <div class="mt-30 mb-30 pr-15 pr-lg-0 pl-15 pl-lg-15">
                  <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                       data-src="img/tiles-simple-1.jpg" alt="alt">
                </div>
              </div>
              <div class="col-lg-7">
                <div class="pr-15 pr-lg-0 pl-15 pl-lg-15">
                  <h2 class="font__family-montserrat text-uppercase font__size-24 mb-40 mt-30">How Glossier Hacked Social
                    Media</h2>
                  <p class="brk-dark-font-color text-left mb-20">On a Thursday afternoon in late spring, 32-year-old
                    Glossier founder and CEO Emily Weiss rides the elevator
                    to the penthouse level of her company's downtown Manhattan headquarters. She's a thoroughly millennial
                    girlboss in jeans, sneakers and a royal blue sweatshirt with weiss embroidered in small white script.
                    Her
                    hair is pulled back in a ponytail, and for the founder of a beauty products company, she wears notably
                    little makeup - just some mascara and possibly a swipe of Glossier Lip Gloss, a recent product release
                    touted online as having a "fuzzy doe-foot applicator."</p>
                  <p class="brk-dark-font-color text-left mb-20">A former teen model, Weiss is beautiful but not
                    intimidating, either by nature or by design (probably a little
                    of both). After all, her company’s popularity is directly related to her ability to cultivate a
                    feeling
                    of friendship with and among her customers. Just enough relatability is key.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- brk-hover-nav -->
    </div>
  </div>
</li>