<div class="brk-info-menu">
  <div class="brk-info-menu__bar">
    <div class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">
      More info
      <button class="brk-info-menu__close"><i class="fa fa-times" aria-hidden="true"></i></button>
    </div>

    <ul class="list-inline-7 mt-10 mb-10">
      <li class="font__family-open-sans font__size-14"><a href="#">Our Features <span
              class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a>
        <ul class="mt-10 mb-10">
          <li class="font__family-open-sans font__size-14"><a href="#">Our Features <span
                  class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
          <li class="font__family-open-sans font__size-14"><a href="#">Our Clients <span
                  class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
        </ul>
      </li>
      <li class="font__family-open-sans font__size-14"><a href="#">Our Clients <span
              class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
      <li class="font__family-open-sans font__size-14"><a href="#">Our News <span
              class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
      <li class="font__family-open-sans font__size-14"><a href="#">Our Partners <span
              class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
      <li class="font__family-open-sans font__size-14"><a href="#">Our History <span
              class="list-inline-7__before"><i class="fa fa-angle-right"></i></span></a></li>
    </ul>

    <div class="brk-info-menu__header font__family-montserrat font__weight-bold font__size-21">Our
      instagram
    </div>

    <!-- Brk header carousel -->
    @@include('../../header-1/templates/instagram-carousel.html')
  </div>
</div>