<div class="brk-social-links @@if(context.customClass){@@customClass} brk-header__item">
  <div class="brk-social-links__open">
    <i class="@@if(context.icon){@@icon}@@if(!context.icon){fa fa-share-alt}"></i>
    <div class="brk-social-links__title">Share our website</div>
  </div>

  <div class="brk-social-links__block">
    <div class="brk-social-links__header">
      <span class="font__family-montserrat font__weight-bold font__size-18">Share our website</span>
    </div>
    <div class="brk-social-links__content">
      <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-youtube" aria-hidden="true"></i></a>
      <a href="#"><i class="fab fa-vimeo-square" aria-hidden="true"></i></a>
      <!--<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>-->
    </div>
  </div>
</div>