<li class="brk-nav__children brk-nav__drop-down-effect">
  <a href="#">
    <span>Blog</span>
  </a>
  <ul class="brk-nav__sub-menu brk-nav-drop-down font__family-montserrat">
    <li class="dd-effect">
      <a href="blog.html">Blog</a>
    </li>
    <!-- <li class="brk-nav__children">
      <a href="#">Some item goes here
        <i class="fa fa-angle-right"></i>
      </a>
      <ul class="brk-nav__sub-menu brk-nav-drop-down">
        <li>
          <a href="#">Some item goes here</a>
        </li>
        <li>
          <a href="#">Some item goes here</a>
        </li>
        <li>
          <a href="#">Some item goes here</a>
        </li>
        <li>
          <a href="#">Some item goes here</a>
        </li>
        <li>
          <a href="#">Some item goes here</a>
        </li>
        <li>
          <a href="#">Some item goes here</a>
        </li>
      </ul>
    </li> -->
    <li class="dd-effect">
      <a href="blog-page.html">Blog post</a>
    </li>
    <!-- <li>
      <a href="#">Some item goes here</a>
    </li>
    <li>
      <a href="#">Some item goes here</a>
    </li>
    <li>
      <a href="#">Some item goes here</a>
    </li> -->
  </ul>
</li>