<div class="default-slider dots-base-skin dots-base-color slick-loading mt-15"
     data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "autoplay": false, "autoplaySpeed": 4000}'
     data-brk-library="slider__slick">
  <div>
    <div class="brk-header-slider">
      <div class="brk-header-slider__img brk-base-box-shadow">
        <img src="img/309x206_1.jpg" alt="alt">
      </div>
      <div class="brk-header-slider__content">
        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/head-icon.png" alt="alt">
        <div class="brk-header-slider__content--title">
          <h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4>
          <span class="font__size-14">17 Hours ago</span>
        </div>
      </div>
      <p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
        ante, dapibus in, viverra</p>
    </div>
  </div>
  <div>
    <div class="brk-header-slider">
      <div class="brk-header-slider__img brk-base-box-shadow">
        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/309x206_2.jpg" alt="alt">
      </div>
      <div class="brk-header-slider__content">
        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/head-icon.png" alt="alt">
        <div class="brk-header-slider__content--title">
          <h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4>
          <span class="font__size-14">17 Hours ago</span>
        </div>
      </div>
      <p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
        ante, dapibus in, viverra</p>
    </div>
  </div>
  <div>
    <div class="brk-header-slider">
      <div class="brk-header-slider__img brk-base-box-shadow">
        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/309x206_3.jpg" alt="alt">
      </div>
      <div class="brk-header-slider__content">
        <img class="lazyload" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/head-icon.png" alt="alt">
        <div class="brk-header-slider__content--title">
          <h4 class="font__family-montserrat font__weight-bold font__size-16">@berserk</h4>
          <span class="font__size-14">17 Hours ago</span>
        </div>
      </div>
      <p class="brk-header-slider__text font__size-14 line__height-21">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
        ante, dapibus in, viverra</p>
    </div>
  </div>
</div>