<div class="text-center" data-brk-library="component__typing_rotator,assets__typing_rotator">
  <h2 class="font__family-montserrat font__size-64 font__weight-bold text-uppercase show-inline">@@notAnimatedWord</h2>
  <h2 class="brk-headline line__height-64 rotate-1 @@mask-class pl-15 show-inline font__family-montserrat font__weight-bold font__size-64">
    <span class="brk-words-rotators brk-base-font-color">
      <b class="is-visible">@@Word1</b>
      <b class="">@@Word2</b>
    </span>

  </h2>


</div>