

	<div class="container mb-140">
		<div class="row">

			<div class="col-lg-4 mb-20">
				<div class="flip-box">
					<div class="flip flip_horizontal flip-box__multiply">
						<div class="flip__front">
							<div
								class="flip-box__multiply-title font__family-montserrat font__weight-bold font__size-78 text-uppercase mt-35 pl-lg-50 pr-lg-50 pl-20 pr-20"
								style="background-image: url(img/bg-1920_1.jpg)">Lyric Video
							</div>
							<div class="flip-box__multiply-decoration border-radius-28 ml-lg-50 ml-20 mt-90"
							     style="background-image: url(img/bg-1920_1.jpg)"><i
								class="fal fa-angle-right font__size-28 font__weight-thin" aria-hidden="true"></i></div>
						</div>
						<div class="flip__back flip-box__bg flip-box__bg_overlay"
						     style="background-image: url(img/bg-1920_1.jpg)">
							<div class="flip-box__position flip-box__position_35 text-center">
								<h4 class="flip-box__multiply-h4 font__family-montserrat font__weight-bold font__size-78">01</h4>
								<p class="font__family-open-sans font__size-14 line__height-21 text-white mt-40 pl-30 pr-30">You've just heard
									the newest hit song. Next step: learn the words so you don't embarrass yourself again by mumbling</p>
								<button
									class="btn btn-md border-radius-25 font__family-open-sans font__size-16 font__weight-bold btn-inside-out btn-shadow flip-box__multiply-btn mt-40">
									<span class="before">Read More</span>
									<span class="text">Read More</span>
									<span class="after">Read More</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-20">
				<div class="flip-box">
					<div class="flip flip_vertical flip-box__multiply">
						<div class="flip__front">
							<div
								class="flip-box__multiply-title font__family-montserrat font__weight-bold font__size-78 text-uppercase mt-35 pl-lg-50 pr-lg-50 pl-20 pr-20"
								style="background-image: url(img/bg-1920_2.jpg)">Best Photo
							</div>
							<div class="flip-box__multiply-decoration border-radius-28 ml-lg-50 ml-20 mt-90"
							     style="background-image: url(img/bg-1920_2.jpg)"><i
								class="fal fa-angle-right font__size-28 font__weight-thin" aria-hidden="true"></i></div>
						</div>
						<div class="flip__back flip-box__bg flip-box__bg_overlay"
						     style="background-image: url(img/bg-1920_2.jpg)">
							<div class="flip-box__position flip-box__position_35 text-center">
								<h4 class="flip-box__multiply-h4 font__family-montserrat font__weight-bold font__size-78">02</h4>
								<p class="font__family-open-sans font__size-14 line__height-21 text-white mt-40 pl-30 pr-30">Flowers are one
									of Mother Nature's most beautiful gifts. Not only are they a source of natural beauty, but they also
									have actual healing properties</p>
								<button
									class="btn btn-md border-radius-25 font__family-open-sans font__size-16 font__weight-bold btn-inside-out btn-shadow flip-box__multiply-btn mt-40">
									<span class="before">Read More</span>
									<span class="text">Read More</span>
									<span class="after">Read More</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 mb-20">
				<div class="flip-box">
					<div class="flip flip_vertical flip-box__multiply">
						<div class="flip__front">
							<div
								class="flip-box__multiply-title font__family-montserrat font__weight-bold font__size-78 text-uppercase mt-35 pl-lg-50 pr-lg-50 pl-20 pr-20"
								style="background-image: url(img/bg-1920_3.jpg)">Stock Photo
							</div>
							<div class="flip-box__multiply-decoration border-radius-28 ml-lg-50 ml-20 mt-90"
							     style="background-image: url(img/bg-1920_3.jpg)"><i
								class="fal fa-angle-right font__size-28 font__weight-thin" aria-hidden="true"></i></div>
						</div>
						<div class="flip__back flip-box__bg flip-box__bg_overlay"
						     style="background-image: url(img/bg-1920_3.jpg)">
							<div class="flip-box__position flip-box__position_35 text-center">
								<h4 class="flip-box__multiply-h4 font__family-montserrat font__weight-bold font__size-78">03</h4>
								<p class="font__family-open-sans font__size-14 line__height-21 text-white mt-40 pl-30 pr-30">Deep below the
									ocean's surface there is a vibrant, vast ecosystem full of life: a rich diversity of marine life, with
									colorful sea creatures and stunning coral reef.</p>
								<button
									class="btn btn-md border-radius-25 font__family-open-sans font__size-16 font__weight-bold btn-inside-out btn-shadow flip-box__multiply-btn mt-40">
									<span class="before">Read More</span>
									<span class="text">Read More</span>
									<span class="after">Read More</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
