<div class="container mb-140">
		<div class="row">

			<div class="col-lg-4 mb-20">
				@@include('split-horizontal-card.html',{
          "flipType":"vertical",
          "imgSrc":"img/shop-1.jpg",
          "cardTitle":"Enjeolon brand 2018",
          "titleFontSize":"18",
          "oldPrice":"$41.00",
          "newPrice":"$21.30",
          "newPriceFontSize":"18",
          "labelsType":"top",
          "label1":"new",
          "label2":"-10%",
          "list":["Maecenas vestibulum mollis","Pellentesque ut neque","Fellentesque habitant morbi","Maecenas vestibulum mollis","Pellentesque ut neque"],
          "description":"",
          "imgSrcBack": "true"
        })
      </div>
      <div class="col-lg-4 mb-20">
        @@include('split-horizontal-card.html',{
          "flipType":"horizontal",
          "imgSrc":"img/shop-2.jpg",
          "cardTitle":"Enjeolon brand 2018",
          "titleFontSize":"18",
          "oldPrice":"$41.00",
          "newPrice":"$21.30",
          "newPriceFontSize":"18",
          "labelsType":"side",
          "label1":"new",
          "label2":"-10%",
          "list":["Maecenas vestibulum mollis","Pellentesque ut neque","Fellentesque habitant morbi","Maecenas vestibulum mollis","Pellentesque ut neque"],
          "description":"",
          "imgSrcBack": "true"
        })
      </div>
      <div class="col-lg-4 mb-20">
        @@include('split-horizontal-card.html',{
          "flipType":"vertical",
          "imgSrc":"img/shop-3.jpg",
          "cardTitle":"Enjeolon brand 2018",
          "titleFontSize":"18",
          "oldPrice":"$41.00",
          "newPrice":"$21.30",
          "newPriceFontSize":"18",
          "labelsType":"sideCornered",
          "label1":"new",
          "label2":"-10%",
          "list":["Maecenas vestibulum mollis","Pellentesque ut neque","Fellentesque habitant morbi","Maecenas vestibulum mollis","Pellentesque ut neque"],
          "description":"",
          "imgSrcBack": "true"
        })
      </div>
		</div>
	</div> 
 