	<div class="container @@if(context.customClass){@@customClass}">
		<div class="row">

			<div class="col-lg-4 mb-20">
				@@include("./strict-card.html",{
          "number": "01",
          "title": "This is my boss <span class='font__weight-bold'>Jonathan</span>"
        })
			</div>
			<div class="col-lg-4 mb-20">
				@@include("./strict-card.html",{
          "number": "02",
          "title": "Muskehounds are <span class='font__weight-bold'>always</span>"
        })
			</div>
			<div class="col-lg-4 mb-20">
				@@include("./strict-card.html",{
          "number": "03",
          "title": "Just the good <span class='font__weight-bold'>mans</span>"
        })
			</div>	

		</div>
	</div>
