<div class="brk-forum-post__header font__family-open-sans font__size-14" data-brk-library="component__forum_post">
    <a href="#" class="brk-forum-post__header-user">
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/55x55_1.jpg" alt="alt" class="brk-forum-post__header-img lazyload">
        <span class="brk-forum-post__header-user-overlay brk-base-bg-gradient-10deg"></span>
        <i class="fal fa-plus brk-forum-post__header-user-icon text-white font__size-24"></i>
    </a>
    <div class="brk-forum-post__header-info">
        <a href="#" class="brk-forum-post__header-name line__height-14">Rebeca Oliva</a>
        <span class="brk-forum-post__header-date brk-dark-font-color">January 7, 2016</span>
        <a href="#" class="brk-forum-post__header-like brk-dark-font-color">
            <i class="fal fa-heart"></i>
            <span>0</span>
        </a>
        <a href="#" class="brk-forum-post__header-reply">
            <i class="fas fa-reply"></i>
            <span class="font__weight-bold">Reply</span>
        </a>
    </div>
</div>  