<div class="frame-image img-double-bigger" data-brk-library="component__image_frames">
  <div class="img">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img1){@@img1}@@if(!context.img1){img/370x540_1.jpg}" alt="alt" class="lazyload">
  </div>
  <div class="img">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="@@if(context.img2){@@img2}@@if(!context.img2){img/540x370_1.jpg}" alt="alt" class="lazyload">
  </div>
</div>