<div class="row align-items-center justify-content-center" data-brk-library="component__image_frames,fancybox">
  <div class="col-lg-4 flex-lg-last">
    <div class="text-center text-lg-left">
      <a href="img/370x370_2.jpg" class="frame-image image-popup img-square shadow fancybox">
        <img src="img/370x370_2.jpg" alt="alt">
        <span class="square"></span>
      </a>
    </div>
  </div>
  <div class="col-lg-8 text-center text-lg-left mt-30 mt-lg-0">
    <h2 class="font__family-montserrat font__weight-bold font__size-36 line__height-42 show-inline-block" data-brk-library="component__title">Engaging, purposeful
      <span class="font__weight-normal">&</span>
    </h2>
    <div class="show-inline-block">
      <h2 class="font__family-playfair font__weight-bold font__size-36 line__height-42 highlight-massive highlight-massive-gray">
        creative
        <span class="after"></span>
      </h2>
    </div>
    <p class="font__family-open-sans font__size-16 line__height-24 text-gray-light mt-30">
      Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
      dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus
      <br>
      <br> Varius laoreet. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum
      rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
      hendrerit id, lorem.
    </p>

    @@include("../../buttons/templates/buttons.html",{ 
      "type":"btn-pos", 
      "text":"go shopping", 
      "icon":" <i class='fa fa-shopping-basket icon-inside' aria-hidden='true'></i>", 
      "customClass":"border-radius-10 font__weight-bold ml-0 mr-0 mt-30" 
    })
  </div>
</div>