<div class="brk-slider-cube" data-brk-library="component__widgets,slider__swiper">
  <div class="brk-slider-cube__overlay"></div>

  <div class="brk-slider-cube__items swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
       @@include('../../shop-components-cards/templates/simple.html',{
        "imgSrc":"img/shop/shop-win-5.png" 
       })
      </div>
      <div class="swiper-slide">
        @@include('../../shop-components-cards/templates/simple.html',{
          "imgSrc":"img/shop/shop-win-1.jpg" 
         })
      </div>
      <div class="swiper-slide">
        @@include('../../shop-components-cards/templates/simple.html',{
          "imgSrc":"img/shop/shop-win-2.jpg" 
         })
      </div>
      <div class="swiper-slide">
        @@include('../../shop-components-cards/templates/simple.html',{
          "imgSrc":"img/shop/shop-win-4.jpg" 
         })
      </div>
    </div>
  </div>
  <div class="brk-slider-cube__pagintaion">

  </div>
</div>