<div class="brk-tabs brk-tabs_tabbed-intro @@if(context.svg === "true"){brk-tabs_tabbed-intro-shaped}" data-index="1" data-brk-library="component__tabbed_contents">
  <ul class="brk-tabs-nav">
    <li class="brk-tab"><i class="fab fa-delicious"></i><span>Delicious</span></li>
    <li class="brk-tab"><i class="far fa-gem"></i><span>Diamond</span></li>
    <li class="brk-tab"><i class="fab fa-gg"></i><span>G & G</span></li>
    <li class="brk-tab"><i class="fab fa-codepen"></i><span>Codepen</span></li>
    <li class="brk-tab"><i class="fas fa-cube"></i><span>Cube</span></li>
  </ul>
  <div class="brk-tabs-content position-relative">

    <div class="brk-abs-overlay @@if(context.bgImg && context.bgImg !== "false"){lazyload}" 
    @@if(context.bgImg && context.bgImg !== "false"){data-bg="@@bgImg"} 
    @@if(!context.bgImg && context.bgImg !== "false"){data-bg="img/bg-patterns/3.png"}>
      <span class="brk-abs-overlay @@if(context.overlay){@@overlay} @@if(!context.overlay){brk-base-bg-gradient-90deg}"></span>
    </div>
    @@if(context.svg === "true"){
      @@include("../../svg-pattern/templates/pattern-11.html")
    }
    <div class="brk-tab-item">
			<div class="container">
				<div class="row">
					<div class="col-xl-4">
						<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center brk-white-font-color mb-20 mt-10">Foundation of the company</h4>
						<p class="font__size-16 line__height-26 text-xl-left text-center">Viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
					</div>
					<div class="col-xl-4">
						<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-xl-left text-center brk-white-font-color mb-20 mt-10">Promoting products and services</h4>
						<p class="font__size-16 line__height-26 text-xl-left text-center mb-30">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
					</div>
					<div class="col-xl-4">
            <div class="text-center text-xl-left mb-30">
              <a href="img/320x320_1.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/320x320_1.jpg" alt="alt" class="lazyload">
                <span class="square"></span>
              </a>
            </div>
					</div>
				</div>
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				<h3 class="font__family-montserrat font__size-28 font__weight-light text-center brk-white-font-color opacity-60">Parallax Support Tons Color Schemes</h3>
				<h2 class="font__family-montserrat font__weight-bold line__height-60 brk-white-font-color mb-30 text-center">Smartly Coded & Maintained.</h2>

				<div class="row justify-content-center">
					<div class="col-xl-8 col-lg-10 col-md-12">
						<p class="line__height-26 font__size-16 mb-30 text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
					</div>
				</div>

				<div class="text-center">
					<button class="btn btn-lg border-radius-30 font__family-open-sans font__weight-bold btn-inside-out btn-inside-out-invert btn-min-width-200">
						<span class="before">Read More</span>
						<span class="text">Read More</span>
						<span class="after">Read More</span>
					</button>
				</div>
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				<div class="row">
					<div class="col-xl-4">
						<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-lg-left text-center brk-white-font-color mb-20 mt-10">Foundation of the company</h4>
						<p class="font__size-16 line__height-26 text-lg-left text-center">Viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
					</div>
					<div class="col-xl-4">
						<h4 class="font__family-montserrat font__weight-semibold font__size-28 text-lg-left text-center brk-white-font-color mb-20 mt-10">Promoting products and services</h4>
						<p class="font__size-16 line__height-26 text-lg-left text-center mb-30">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.</p>
					</div>
					<div class="col-xl-4">
            <div class="text-center text-lg-left mb-30">
              <a href="img/320x320_2.jpg" class="frame-image image-popup img-square shadow fancybox" data-brk-library="fancybox">
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="img/320x320_2.jpg" alt="alt" class="lazyload">
                <span class="square"></span>
              </a>
            </div>
					</div>
				</div>
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-lg-4 text-center">
						@@include("../../image-frames/templates/borders-v4-1.html")
					</div>
					<div class="col-sm-6 col-lg-4 text-center">
						@@include("../../image-frames/templates/borders-v4-2.html")
					</div>
					<div class="col-sm-6 col-lg-4 text-center">
						@@include("../../image-frames/templates/borders-v4-3.html")
					</div>
				</div>
			</div>
    </div>
    <div class="brk-tab-item">
			<div class="container">
				@@include("../../image-frames/templates/circle.html", {
        "titleColor": "brk-white-font-color",
        "textColor": "brk-white-font-color"
        })
			</div>
    </div>
  </div>
</div>