<div class="brk-shop-grid-filter" data-brk-library="component__shop_grid_filter">

  <ul class="brk-shop-grid-filter__button brk-shop-grid-filter__button_style-2 font__family-montserrat brk-base-font-color font__weight-medium">
    <li data-filter=".dress">
      Dress
      <span class="before brk-base-bg-gradient-14"></span>
    </li>
    <li data-filter=".t-shirt">
      T-shirt
      <span class="before brk-base-bg-gradient-14"></span>
    </li>
    <li data-filter=".shoes">
      Shoes
      <span class="before brk-base-bg-gradient-14"></span>
    </li>
    <li data-filter=".skirts">
      Skirts
      <span class="before brk-base-bg-gradient-14"></span>
    </li>
    <li data-filter=".accessories">
      Accessories
      <span class="before brk-base-bg-gradient-14"></span>
    </li>
    <li class="all checked" data-filter="*">
      All
      <i class="fas fa-th"></i>
      <span class="before brk-base-bg-gradient-14"></span>
    </li>
  </ul>

  <div class="brk-shop-grid-filter__items row">
    <div class="col-xl-4 col-md-6 brk-shop-grid-filter__item dress t-shirt skirts">
      @@include('strict-element.html', {
      "thumb": "img/sh-flip-3.png",
      "title": "Some shop item",
      "stick": "New",
      "oldPrice": "$26.00",
      "price": "$16.30",
      "list": ["Maecenas vestibulum mollis Pellentesque ut neque", "Fellentesque habitant morbi", "Maecenas vestibulum mollis", "Pellentesque ut neque", "Maecenas vestibulum mollis Pellentesque ut neque", "Fellentesque habitant morbi", "Maecenas vestibulum mollis", "Pellentesque ut neque"],
      "cartBtn":"true",
      "wishBtn":"true",
      "compareBtn":"true",
      "searchBtn":"false"
      })
    </div>

    <div class="col-xl-4 col-md-6 brk-shop-grid-filter__item shoes accessories skirts">
      @@include('strict-element.html', {
      "thumb": "img/sh-flip-2.png",
      "title": "Some shop item",
      "oldPrice": "$26.00",
      "price": "$16.30",
      "list": ["Maecenas vestibulum mollis Pellentesque ut neque", "Fellentesque habitant morbi", "Maecenas vestibulum mollis", "Pellentesque ut neque"],
      "cartBtn":"true",
      "wishBtn":"true",
      "compareBtn":"true",
      "searchBtn":"false"
      })
    </div>

    <div class="col-xl-4 col-md-6 brk-shop-grid-filter__item shoes accessories t-shirt">
      @@include('strict-element.html', {
      "thumb": "img/shop-masonry-6.jpg",
      "title": "Some shop item",
      "oldPrice": "$26.00",
      "price": "$16.30",
      "list": ["Maecenas vestibulum mollis Pellentesque ut neque", "Fellentesque habitant morbi", "Maecenas vestibulum mollis", "Pellentesque ut neque"],
      "cartBtn":"true",
      "wishBtn":"true",
      "compareBtn":"true",
      "searchBtn":"false"
      })
    </div>

    <div class="col-xl-4 col-md-6 brk-shop-grid-filter__item dress t-shirt skirts">
      @@include('strict-element.html', {
      "thumb": "img/sh-flip-1.png",
      "title": "Some shop item",
      "oldPrice": "$26.00",
      "price": "$16.30",
      "list": ["Maecenas vestibulum mollis Pellentesque ut neque", "Fellentesque habitant morbi", "Maecenas vestibulum mollis", "Pellentesque ut neque"],
      "cartBtn":"true",
      "wishBtn":"true",
      "compareBtn":"true",
      "searchBtn":"false"
      })
    </div>

    <div class="col-xl-4 col-md-6 brk-shop-grid-filter__item shoes accessories t-shirt">
      @@include('strict-element.html', {
      "thumb": "img/shop-2.jpg",
      "title": "Some shop item",
      "oldPrice": "$26.00",
      "price": "$16.30",
      "list": ["Maecenas vestibulum mollis Pellentesque ut neque", "Fellentesque habitant morbi", "Maecenas vestibulum mollis", "Pellentesque ut neque"],
      "cartBtn":"true",
      "wishBtn":"true",
      "compareBtn":"true",
      "searchBtn":"false"
      })
    </div>

    <div class="col-xl-4 col-md-6 brk-shop-grid-filter__item shoes accessories skirts">
      @@include('strict-element.html', {
      "thumb": "img/sh-flip-2.png",
      "title": "Some shop item",
      "oldPrice": "$26.00",
      "price": "$16.30",
      "list": ["Maecenas vestibulum mollis Pellentesque ut neque", "Fellentesque habitant morbi", "Maecenas vestibulum mollis", "Pellentesque ut neque"],
      "cartBtn":"true",
      "wishBtn":"true",
      "compareBtn":"true",
      "searchBtn":"false"
      })
    </div>
  </div>
</div>

