<div class="brk-backgrounds" data-brk-library="component__backgrounds_css,component__backgrounds_js">
  <div id="hexagon-glow">
    <canvas class="brk-backgrounds__canvas"></canvas>
    <canvas class="brk-backgrounds__canvas"></canvas>
  </div>

  <div class="brk-backgrounds__content">
    <div class="container mt-150 mb-150">

      <div class="text-center" data-brk-library="component__title">
        <h2 class="font__family-montserrat font__size-36 brk-white-font-color">We are
          Awesome</h2>
        <h2 class="font__family-montserrat font__weight-bold font__size-56 line__height-60 mt-10 brk-white-font-color">
          Engaging, purposeful, and</h2>
        <h2 class="highlight-massive font__family-playfair font__weight-bold font__size-56 line__height-60 brk-white-font-color mb-30">
          creative<span class="after wow zoomIn"></span></h2><br>

        @@include('../../buttons/templates/buttons-backgrounds.html', {
        "class": "btn-backgrounds btn-backgrounds_dark font__family-montserrat font__weight-semibold text-uppercase font__size-13 brk-base-gradient-btn-backgrounds",
        "style": "",
        "text": "",
        "tag": "button",
        "href": ""
        })
      </div>

    </div>
  </div>

</div>