<div class="brk-animated-circle brk-animated-circle-4" style="left:@@if(context.left){@@left}@@if(!context.left){auto};top:@@if(context.top){@@top}@@if(!context.top){auto};right:@@if(context.right){@@right}@@if(!context.right){0}; bottom:@@if(context.bottom){@@bottom}@@if(!context.bottom){50px}" data-brk-library="component__backgrounds_css">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="230" height="230" viewBox="0 0 230 230">
    <defs>
      <path id="@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-15-1}" d="M188.02 6501c63.52 0 115.01 51.49 115.01 115s-51.49 115-115.01 115S73 6679.51 73 6616s51.5-115 115.02-115z"
      />
      <clipPath id="@@if(context.id2){@@id2}@@if(!context.id2){backgrounds-id-15-2}">
        <use fill="#fff" xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-15-1}" />
      </clipPath>
    </defs>
    <g>
      <g opacity=".02" transform="translate(-73 -6501)">
        <use fill="#fff" fill-opacity="0" stroke="#000" stroke-miterlimit="50" stroke-width="24" clip-path="url(&quot;#@@if(context.id2){@@id2}@@if(!context.id2){backgrounds-id-15-2}&quot;)"
          xlink:href="#@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-15-1}" />
      </g>
    </g>
  </svg>

  <div class="brk-animated-circle__container">

    <span class="brk-animated-circle__dot-1">
      <span class="brk-animated-circle__dot-2"></span>
      <span class="brk-animated-circle__dot-3"></span>
    </span>
  </div>
</div>