<div class="brk-backgrounds @@if(context.overlay){@@overlay}@@if(!context.overlay){brk-base-bg-gradient-15} @@if(context.customClass){@@customClass}" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
  <div class="brk-backgrounds__canvas brk-particles-standart"></div>
  @@if(context.innerContent !== "false"){
  <div class="brk-backgrounds__content">
    <div class="container mt-140 mb-150">
      <div class="text-center" data-brk-library="component__title">
        <h5 class="font__family-montserrat highlight-trend font__size-14 brk-white-font-color">
          We are Awesome</h5>
        <h2 class="font__family-montserrat font__weight-bold font__size-48 line__height-52 mt-30 brk-white-font-color">
          ENGAGING, PURPOSEFUL</h2>
        <h2 class="font__family-playfair font__style-italic font__weight-normal font__size-48 line__height-52 brk-white-font-color">
          & Creative</h2>
        <div class="divider-cross wow zoomIn">
          <span></span>
          <span></span>
        </div>
        <h5 class="font__family-playfair line__height-26 font__size-18 letter-spacing-20 brk-white-font-color opacity-60">
          Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis. <br> Aenean
          posuere, tortor sed cursus feugiat, nunc augue blandit nunc.</h5>
      </div>
    </div>
  </div>
  }

</div>