<div class="brk-animated-circle brk-animated-circle-6" style="left:@@if(context.left){@@left}@@if(!context.left){auto};top:@@if(context.top){@@top}@@if(!context.top){auto};right:@@if(context.right){@@right}@@if(!context.right){auto}; bottom:@@if(context.bottom){@@bottom}@@if(!context.bottom){auto}" data-brk-library="component__backgrounds_css">
  <div class="brk-animated-circle__figure">
    <div class="brk-abs-overlay brk-bg-pattern brk-bgi-14"></div>
    <div class="brk-abs-overlay brk-base-bg-gradient-90deg"></div>
  </div>
  <div class="brk-animated-circle__container">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="79px" height="70px">
      <linearGradient id="@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-18-1}" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" style="stop-color:var(--brk-base-2); stop-opacity:.92" />
        <stop offset="100%" style="stop-color:var(--brk-base-5); stop-opacity:.92" />
      </linearGradient>
      <path fill-rule="evenodd" fill-opacity="0" fill="transparent" stroke="url(#@@if(context.id1){@@id1}@@if(!context.id1){backgrounds-id-18-1})" stroke-width="4" d="M73.002,64.707 L5.693,45.499 L53.616,5.103 L73.002,64.707 Z"/>
    </svg>
  </div>
</div>