<div class="brk-backgrounds @@if(context.overlay){@@overlay}@@if(!context.overlay){brk-base-bg-gradient-19} @@if(context.customClass){@@customClass}" data-brk-library="component__backgrounds_css,assets_fss">
	<div id="fss" class="brk-backgrounds__canvas"></div>
  @@if(context.innerContent !== "false"){
 	<div class="brk-backgrounds__content">

 		<div class="container mt-170 mb-170">

    <div class="text-center" data-brk-library="component__title">
      <h2 class="font__family-montserrat font__size-36 brk-white-font-color">We are Awesome
      </h2>
      <h2 class="font__family-montserrat font__weight-bold font__size-56 line__height-60 mt-10 brk-white-font-color">
        Engaging, purposeful, and</h2>
      <h2 class="highlight-massive font__family-playfair font__weight-bold font__size-56 line__height-60 brk-white-font-color">
        creative
        <span class="after wow zoomIn"></span>
      </h2>
      <p class="font__family-montserrat font__size-18 mt-30 brk-white-font-color">Make business with us and become beautiful
      </p>
    </div>

		</div>

  </div>
  }
</div>