<div class="brk-backgrounds" style="background-image: url(img/tycho-atsma-157134.jpg)" data-brk-library="component__backgrounds_css,component__backgrounds_js,paper">
	<div class="brk-backgrounds__before brk-base-bg-yellow"></div>

	<canvas id="brk-backgrounds__canvas-1" class="brk-backgrounds__canvas"></canvas>
	<canvas id="brk-backgrounds__canvas-2" class="brk-backgrounds__canvas"></canvas>

 	<div class="brk-backgrounds__content">

 		<div class="container mt-70 mb-70">

			@@include("../../testimonials/templates/layered-vertical.html")

 		</div>

 	</div>
</div>