<div class="brk-backgrounds" style="background-image: url(img/alisa-anton-174684.jpg)" data-brk-library="component__backgrounds_css,component__backgrounds_js,assets_particleground">
  <div class="brk-backgrounds__before brk-base-bg-green"></div>
  <div class="brk-backgrounds__canvas brk-particles-fluid"></div>

  <div class="brk-backgrounds__content">

    <div class="container mt-100 mb-120">

      <div class="text-center" data-brk-library="component__title">
        <h2 class="title__heading-06 title__heading-sub wow zoomIn brk-white-font-color font__weight-bold" style="opacity: .08">New Year</h2>
        <h2 class="title__heading-06 title__heading-main brk-white-font-color font__weight-ultralight font__size-40 letter-spacing-60 pb-30">
          Wait for a new year with us &
          <br>
          <span class="font__weight-bold letter-spacing-40">our company</span>
        </h2>
      </div>

      @@include("../../countdown/templates/flip-2.html")

    </div>

  </div>
</div>