<div class="bg-cover bg-norepeat bg-position_center bg-white position-relative"
     style="background-image: url(img/bg-1920_3.jpg)" data-brk-library="component__progress_circle">
  <div class="brk-abs-bg-overlay brk-base-bg-gradient-90deg"></div>
  <div class="container mb-100">
    <div class="row">

      <div class="col-lg-3 col-md-6">
        <div class="chart__wrapper chart-light align-items-center flex-row">
          <div class="chart mx-auto">
            <div class="chart__circle mb-35" data-valuenow="90" data-color="var(--brand-primary)"
                 data-color-end="var(--brk-secondary-5)">
								<span class="font__family-montserrat font__size-26 chart__circle-counter"><span
                        class="percents">0</span>%</span>
            </div>
            <h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title text-center">Hard Work</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="chart__wrapper chart-light align-items-center flex-row">
          <div class="chart mx-auto">
            <div class="chart__circle mb-35" data-valuenow="75" data-color="var(--brand-primary)"
                 data-color-end="var(--brk-secondary-5)">
								<span class="font__family-montserrat font__size-26 chart__circle-counter"><span
                        class="percents">0</span>%</span>
            </div>
            <h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title text-center">Hard Work</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="chart__wrapper chart-light align-items-center flex-row">
          <div class="chart mx-auto">
            <div class="chart__circle mb-35" data-valuenow="90" data-color="var(--brand-primary)"
                 data-color-end="var(--brk-secondary-5)">
								<span class="font__family-montserrat font__size-26 chart__circle-counter"><span
                        class="percents">0</span>%</span>
            </div>
            <h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title text-center">Hard Work</h5>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="chart__wrapper chart-light align-items-center flex-row">
          <div class="chart mx-auto">
            <div class="chart__circle mb-35" data-valuenow="75" data-color="var(--brand-primary)"
                 data-color-end="var(--brk-secondary-5)">
								<span class="font__family-montserrat font__size-26 chart__circle-counter"><span
                        class="percents">0</span>%</span>
            </div>
            <h5 class="font__family-montserrat font__size-16 font__weight-bold chart__title text-center">Hard Work</h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
