
	<div class="bg-cover bg-norepeat bg-position_center bg-shaded lazyload @@if(context.dark_theme === "true"){bg-shaded_dark} @@if(context.customClass){@@customClass}" data-bg="@@if(context.img){@@img}@@if(!context.img){img/bg-1920_1.jpg}" data-brk-library="component__progress_circle">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6">
					<div class="chart__wrapper @@if(context.shrot === "true"){chart__wrapper_short} chart-vertical align-items-center flex-row">
						<div class="chart mx-auto">
							<div class="chart__circle @@if(context.dark_theme === "true"){chart__circle_dark} mb-25" data-valuenow="46" data-color="var(--brand-primary)" data-color-end="var(--secondary)">
								<span class="chart__circle-counter chart__circle-counter-over"><span class="percents">0</span>%</span>
								<div class="gradient">
									<div class="gradient-bg"></div>
									<span class="font__family-montserrat font__size-42 font__weight-thin chart__circle-counter"><span
										class="percents">0</span>%</span>
								</div>
							</div>
							<h5 class="font__family-montserrat font__size-16 font__weight-light chart__title text-center @@if(context.dark_theme === "true"){brk-white-font-color}">Hard Work</h5>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="chart__wrapper @@if(context.shrot === "true"){chart__wrapper_short} chart-vertical align-items-center flex-row">
						<div class="chart mx-auto">
							<div class="chart__circle @@if(context.dark_theme === "true"){chart__circle_dark} mb-25" data-valuenow="90" data-color="var(--brand-primary)" data-color-end="var(--secondary)">
								<span class="chart__circle-counter chart__circle-counter-over"><span class="percents">0</span>%</span>
								<div class="gradient">
									<div class="gradient-bg"></div>
									<span class="font__family-montserrat font__size-42 font__weight-thin chart__circle-counter"><span
										class="percents">0</span>%</span>
								</div>
							</div>
							<h5 class="font__family-montserrat font__size-16 font__weight-light chart__title text-center @@if(context.dark_theme === "true"){brk-white-font-color}">Donates</h5>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="chart__wrapper @@if(context.shrot === "true"){chart__wrapper_short} chart-vertical align-items-center flex-row">
						<div class="chart mx-auto">
							<div class="chart__circle @@if(context.dark_theme === "true"){chart__circle_dark} mb-25" data-valuenow="75" data-color="var(--brand-primary)" data-color-end="var(--secondary)">
								<span class="chart__circle-counter chart__circle-counter-over"><span class="percents">0</span>%</span>
								<div class="gradient">
									<div class="gradient-bg"></div>
									<span class="font__family-montserrat font__size-42 font__weight-thin chart__circle-counter"><span
										class="percents">0</span>%</span>
								</div>
							</div>
							<h5 class="font__family-montserrat font__size-16 font__weight-light chart__title text-center @@if(context.dark_theme === "true"){brk-white-font-color}">Hard Work</h5>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="chart__wrapper @@if(context.shrot === "true"){chart__wrapper_short} chart-vertical align-items-center flex-row">
						<div class="chart mx-auto">
							<div class="chart__circle @@if(context.dark_theme === "true"){chart__circle_dark} mb-25" data-valuenow="90" data-color="var(--brand-primary)" data-color-end="var(--secondary)">
								<span class="chart__circle-counter chart__circle-counter-over"><span class="percents">0</span>%</span>
								<div class="gradient">
									<div class="gradient-bg"></div>
									<span class="font__family-montserrat font__size-42 font__weight-thin chart__circle-counter"><span
										class="percents">0</span>%</span>
								</div>
							</div>
							<h5 class="font__family-montserrat font__size-16 font__weight-light chart__title text-center @@if(context.dark_theme === "true"){brk-white-font-color}">Donates</h5>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
