	<div class="breadcrumbs__section breadcrumbs__section-dotted mt-90 pt-60 pb-60 bg__style"
	     style="background-image: url(img/1920x200_1.jpg) " data-brk-library="component__breadcrumbs_css">
		<div class="breadcrumb-bg brk-base-bg-4 full__size-absolute"></div>
		<div class="container">
			<div class="breadcrumbs__wrapper">
				<div class="pull-left text-left">
					<h2 class="font__size-36 line__height-50 font__family-montserrat font__weight-light">Some Page Title</h2>
					<h5 class="font__size-15 font__family-open-sans font__weight-regular">Page sub title goes here</h5>
				</div>

				<ol class="breadcrumb pull-right font__size-15 font__weight-regular font__family-open-sans">
					<li>
						<a href="#">Bread</a>
					</li>
					<li class="active">Crumbs</li>
				</ol>
			</div>
		</div>
	</div>
