<!-- Breadcrumbs Range -->
<div class="breadcrumbs__section breadcrumbs__section-range pt-60 pb-60 bg__style"
     style="background-image: url(img/1920x298_1.jpg) " data-brk-library="component__breadcrumbs">
    <div class="brk-base-bg-6 breadcrumb-bg full__size-absolute"></div>
    <div class="container">
        <h2 class="font__size-64 line__height-64 font__family-montserrat font__weight-ultralight text-left">
            Some Page Title <br>
            <span class="font__weight-bold">Goes Here</span>
        </h2>

        <div class="breadcrumbs__wrapper">
            <ol class="breadcrumb font__family-montserrat  font__weight-medium font__size-12 letter-spacing-100">
                <li>
                    <a href="#">Bread <i class="fas fa-long-arrow-alt-right breadcrumb__icon"></i></a>
                </li>
                <li class="active">Crumbs</li>
            </ol>
        </div>
    </div>

    <div class="categories-wrapper font__family-montserrat font__weight-regular font__size-12 letter-spacing-100">
        <div class="container">
            <div class="categories-list dropdown horizontal">
                <button class="btn btn-default dropdown-toggle letter-spacing-100 font__weight-semibold font__size-12"
                        type="button" id="categories-list-trigger" data-toggle="dropdown" data-brk-library="component__button">
                    categories  <i class="fal fa-angle-right categories__button__icon"></i>
                </button>
                <ul class="dropdown-menu font__family-montserrat letter-spacing-100 font__weight-medium font__size-12"
                    role="menu" aria-labelledby="categories-list-trigger">
                    <li><a href="#" class="letter-spacing-100">Some Category</a></li>
                    <li><a href="#" class="letter-spacing-100 is-active line-through">Some Category</a></li>
                    <li><a href="#" class="letter-spacing-100">Some Category</a></li>
                </ul>
            </div>
            <div class="filter__container">
                <button class="font__family-montserrat font__size-12 font__weight-semibold line__height-26 letter-spacing-100 filter__btn closed"
                        type="button" id="filter-trigger">Filter <i class="far fa-angle-right filter__btn__icon "
                                                                    aria-hidden="true"></i></button>
                <div class="filter closed">
                    <span class="font__family-open-sans font__size-14 font__weight-bold line__height-24 letter-spacing-20 filter__label">Year:</span>
                    <input type="text"
                           class="sliderValue filter__input font__family-open-sans font__size-14 line__height-24 font__weight-normal"
                           data-index="0" value="1996"/>
                    <span class="font__family-open-sans font__size-14 line__height-24 font__weight-normal">-</span>
                    <input type="text"
                           class="sliderValue filter__input font__family-open-sans font__size-14 line__height-24 font__weight-normal"
                           data-index="1" value="2011"/>
                    <div id="slider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
